[2015-12-08 11:14] userException commented on #2611
but what should be the prefix for this URL ? if I want to download this image and show this in my app

[2015-12-08 11:36] Vinai commented on #2611
Within Magento, you can use `\Magento\Catalog\Model\Product\Media\Config::getBaseMediaUrl()` to access the media base URL. However, since you are in an app, you will probably have to hardcode the prefix.
If the Webserver document root is configured to the `pub/` directory within Magento, the media base URL for you would be `http://mymagentohost.com/media/catalog/product`.
If the Webserver document

[2015-12-08 11:38] Vinai commented on #2611
That said, please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. This issue tracker is only for bugs proposed changes.
If you think you have encountered a bug, please let us know, otherwise, if the question is answered for you, please close this issue.

[2015-12-08 11:53] zanilee commented on #2635
Hi, @Kanasagra-Jaydip!

To make styles development faster, in Magento2 there are Grunt commands for styles compilation. You can find the instructions how to use them [here](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/css-topics/css_debug.html)

[2015-12-08 12:30] Vinai commented on #2622
Thanks for the update @mazhalai. Is MAGETWO-45555 already in the public develop branch?

[2015-12-08 12:50] vpatidar009 opened #2637 "Unable to create widget"
Hello,

I am unable to create widget in admin as getting some jquery errors when select CMS page, Category etc under ' Widget Options ' tab.

![](http://s3.amazonaws.com/awesome_screenshot/9182699?AWSAccessKeyId=0R7FMW7AXRVCYMAPTPR2&Expires=1449632327&Signature=3qL6n06eov0GABn%2BVsSZupPI81s%3D)

[2015-12-08 12:53] josephmcdermott opened #2638 "Magento\Framework\DataObject::__call() - print_r() is dangerous"
This method throws an exception on failure:

[code]

If the $args array contains an object / objects, this will consume a huge amount of memory (to the point it kills my instance locally). For example I discovered this whilst attempting to call a method which did not exist and passed a Product instance as an argument.

[2015-12-08 13:00] markshust commented on #2060
Is there a reason this hasn't been merged yet?

[2015-12-08 14:13] mhauri opened #2639 "Failing Tests with PHP Strict standards messages and Fatal errors"
After Installing Magento 2 the Integrator way (works perfect btw.) I tried to run the tests, but it failed with Strict notices and Fatal errors.

[code]

[2015-12-08 14:17] ivanweiler opened #2640 "Default themes in Magento2 CE contain EE styling"
Hello all,

Blank and Luma theme in Magento 2.0.0. CE include some styling from EE modules, for example:
https://github.com/magento/magento2/blob/develop/app/design/frontend/Magento/luma/Magento_Rma/web/css/source/_module.less

From commit it seems it's some kind of fix for EE https://github.com/magento/magento2/commit/2d189deb01d58025204dd926520705fa273a3a2c
but now generated css files in CE cont

[2015-12-08 15:05] mazhalai commented on #2622
@Vinai Not yet in public develop branch. I will post an update here when it is merged.

[2015-12-08 15:39] mazhalai commented on #2639
@mhauri Thank you for reporting, we have created MAGETWO-46658 to fix it.

[2015-12-08 16:23] daim2k5 commented on #2639
@mhauri maybe you can test if phpunit 5.1 runs better?

[2015-12-08 17:34] adragus-inviqa commented on #1721
In our case, it was the "cataloginventory_stock_item" table having duplicate product IDs because "Manage stock" was set per-website.

When the product list is fetched [here](https://github.com/magento/magento2/blob/f78935dcfb659eaae8a162cc8f863bba2767ad76/app/code/Magento/Catalog/Ui/DataProvider/Product/ProductDataProvider.php#L68), the collection load throws `exception 'Exception' with message 'I

[2015-12-08 18:46] Vinai commented on #2639
With PHPUnit 5 things have become more strict. Also, 5.1 has some [breaking changes](https://twitter.com/s_bergmann/status/673881844614582272), and phpunit mock object < 4.0.3 has some problems with stubbing `__toString()`, so all in all I think the best way forward would be to actually fix the tests on a one by one basis.
Then, once all are green, an upgrade might be considered.

[2015-12-08 18:56] Styopchik commented on #2557
Approve. Same error on adding/viewing/editting attributes

[2015-12-08 19:30] alankent commented on #2640
This one deserves a blog post - there is a reason why, but I also would love feedback/ideas on how to make it better. I will try to get a blog post up and post the link here "shortly".

[2015-12-08 19:59] astorm opened #2641 "Feature Request: Plugin-able Logger Interface"
Based on some examination of the Magento 2 codebase, it looks like Magento 2 uses the virtual type

[code]

Whenever it needs to grab a logger.  This is good.  However, [it sounds like](http://magento.stackexchange.com/a/93048/4) you can't use plugins on non-Magento classes.

If possible, it would be nice if the there was a universally used logger interface that was plugin-able.  This would enable

[2015-12-08 20:06] andyvr opened #2642 "Unable to create RMA's for Orders with Bundle products"
Below is the issue I'm having when I create a return for an order with a Bundle product.
Steps I'm taking:
1. I have an order with just one bundle product that has 2 child (simple) products. The bundle product is set to "Ship Bundle Items: Together" (Products -> Catalog -> Edit (a product) -> Product Details -> Ship Bundle Items).
   ![screen1](https://cloud.githubusercontent.com/assets/1934794/11

[2015-12-08 20:11] buskamuza commented on #2476
Internal ticket MAGETWO-46666

[2015-12-08 20:13] najeebputhiyallam opened #2643 "Magento 2.0 CE not working on LocalHost"
- WIndows 10 Pro - XAMPP 3.2.2

I downloaded CE V2.0 with Sample Data .tar.gz
Extracted to /localhost/magento
Added DB mangentoDB
Run  /localhost/magento - Setup Finishes Successfully
But when i try to open in Chrome both front end n backend is keeps loading and in firefox the front end and backend loading but i cant able to navigate also css n js not loading some fonts and js are missing that is

[2015-12-08 20:19] alankent commented on #2641
Possibly related, there is an internal proposal for a new logger interface with switches (MAGETWO-41208). Not committed to. But then code can ask for a logger based on flag names. In the Java world, the current class name is typically used, so you would in the constructor say something like:

[code]

Then to use the logger, you check for NULL before using it.

[code]

The interface might be someth

[2015-12-08 20:22] alankent commented on #2641
I forgot to add, do you want plugins (allowing cascading and nesting) rather than using the di.xml file to replace monolog with something different?

[2015-12-08 20:25] mazhalai commented on #2643
It is suggested not to use localhost as domain name since Chrome has trouble with cookies set by localhost. Regarding broken js and css files, please run  'bin/magento setup:static-content:deploy`

[2015-12-08 20:26] astorm commented on #2641
@alankent I wouldn't presume to dictate an implementation or architecture detail for a team I'm not a member of, and whose consequences could be far reaching for that team.

At a higher level the main thrust of this request is, as a third party end-user-programmer, I'd like the ability to take programatic action whenever a specific piece of information is sent to the logs, and have have the rules

[2015-12-08 21:02] jibrandlr opened #2644 "No changes are visible on frontend after adding _theme.less file to custom theme"
After doing [this example](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/css-topics/css-practice.html) from the Frontend Dev Guide, no changes are visible when my custom theme is applied.

I've already created a new theme and set Blank as parent.

WAMP installation on developer mode.

[2015-12-08 21:50] najeebputhiyallam commented on #2643
Thanks alot.

http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-static-view.html

[2015-12-08 22:12] scholtz commented on #2630
Hi, i did not look it up yet properly, but it seems that also some of the translated texts are not put to the production..

For example "PDF Invoices" translated as "PDF Faktúry" (module,Magento_Sales) is shown in the administration as "PDF Invoices".

But many texts does not even collect.. for example from \vendor\magento\module-ui\view\base\web\templates\grid\actions.html it does not collect tex

[2015-12-08 22:43] #2643 closed, assigned to nobody

[2015-12-08 23:40] najeebputhiyallam opened #2645 "One or more indexers are invalid. Make sure your Magento cron job is running."
WIndows 10 Pro
XAMP 3.2.2
Magento CE V2.0
Loaded Configuration File = C:\xampp\php\php.ini
Magento Path: C:/Users/Projects/M

Basically I am a Designer / Frontend Developer and i am familiar with Cron Job in Cpanel

I read this http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html#config-cli-cron-bkg

i tried everything possible. please someone. this gonna help m

[2015-12-08 23:49] dmitrii-fediuk opened #2646 "Propose to rename the «core_config_data» table to «config» or «config_data» because the prefix «core_» has lost its sense (there is no more such a module)"

[2015-12-09 00:12] buskamuza commented on #2645
Hi @najeebputhiyallam ,

[Cron](https://en.wikipedia.org/wiki/Cron) is a *nix tool. It does not exist on Windows as is. You can look at this thread http://stackoverflow.com/questions/132971/what-is-the-windows-version-of-cron to find a Windows alternative.
The goal is to configure your cron alternative to run this command every 1 minute `php -c <ini-file-path> <your Magento install dir>/bin/magent

[2015-12-09 01:33] davidalger commented on #2603
Closing as duplicate of #2412

[2015-12-09 01:33] #2603 closed, assigned to nobody

[2015-12-09 01:34] davidalger commented on #2449
Closing as duplicate of #2412

[2015-12-09 01:34] #2449 closed, assigned to nobody

[2015-12-09 01:36] #2571 closed, assigned to nobody

[2015-12-09 01:37] davidalger commented on #2543
@duongquyet for that last issue, you may reference #2412 as there is a good chance that is the issue you're experiencing.

[2015-12-09 01:37] #2543 closed, assigned to nobody

[2015-12-09 01:39] davidalger commented on #2516
Closing as duplicate of #2412.

[2015-12-09 01:39] #2516 closed, assigned to nobody

[2015-12-09 01:40] davidalger commented on #2535
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-12-09 01:40] #2535 closed, assigned to nobody

[2015-12-09 02:14] wonderfan commented on #2645
you can use cygwin

[2015-12-09 02:15] wonderfan commented on #2645
another solution is to create scheduler task in the window. In your task body, use php to run the codes

[2015-12-09 02:17] wonderfan commented on #2646
To some extents, it is more easy to migrate from magento 1 to 2.

[2015-12-09 02:18] wonderfan commented on #2644
Do you clear the caches?

[2015-12-09 02:24] wonderfan commented on #2631
It is better to use 127.0.0.1 like magento one

[2015-12-09 02:31] jibrandlr commented on #2644
After deleting all files in the following directories: - pub/static/frontend/<Vendor/Theme and var/view_preprocessed/css now I can see the changes.

[2015-12-09 02:47] wonderfan commented on #2644
congratulation

[2015-12-09 02:59] oshanrube commented on #2535
this is actually about the class \Magento\Webapi\Model\WebapiRoleLocator:50 class requiring user ID for loading roles but theres no frontend option to set the user role to a user role type and also this scenario will not cover the Guest user role as it will not have a user id mapping

[2015-12-09 03:17] #2644 closed, assigned to nobody

[2015-12-09 03:32] davidalger commented on #2640
@alankent I'd be curious to hear the why behind this one as well. It seems rather odd and feels that surely there's got to be _some_ way, right? But I think I may know the reason behind it without even asking. Maybe EE should ship with a coupe themes which use the CE themes as parent so it can have working theme examples in addition to the core module css? :)

[2015-12-09 03:35] davidalger commented on #2637
@vpatidar009 The screenshot you gave only shows the form validation issue, not the jquery errors you reference. Could you post details on what jQuery errors you are getting along with a note on how to reproduce them?

[2015-12-09 03:36] davidalger commented on #2635
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-12-09 03:36] #2635 closed, assigned to MomotenkoNatalia

[2015-12-09 05:08] bgkavinga opened #2647 "Missing function doc comment"
I am getting following code sniffer error, even though I have functional doc comments properly:

[2015-12-09 05:25] bgkavinga commented on #2010
@diglin My first solution was disable cache for that block in layout file. But it slows down the page load. When it comes to Varnish it always do esi update for that block. So I had to get customer session data directly from the $_SESSION until they come up with solution. May be this has been fixed in GA release.

[2015-12-09 05:38] lenkaren opened #2648 "Install stop at 87%or90%,use the master branch"
When install the magento2(select all),it stop at 90 % and the last Console Log is:

the max_execution_time in php.ini is 18000, I think it's ok. The system service was lnmp.

I uninstall magento2 and tried again
but this time it stop at 87%

I check the var/logs/debug.log,get a long list,like behind:

`[2015-12-09 05:13:49] main.DEBUG: cache_invalidate:  {"method":"POST","url":"http://xxx(ip_addre

[2015-12-09 07:04] fooman opened #2649 "Magento/Store/Model/Store uses missing interface"
The class Magento\Store\Model\Store includes the following method

[code]

which references `\Magento\Store\Api\Data\StoreExtensionInterface` which seems to be absent.

[2015-12-09 07:37] phanikumar111 opened #2650 "Magento2 Customer Group Change in a custom registration form"
I am developing a custom form for wholesale group customers, i am able to successfully registered as wholesaler in my custom form. after enabling address fields customer not assigned to wholesale group.

I know we can change the customer group in admin panel, but still i want add additional features. i am trying to build a module it will be helpful for B2B customers. please help

I am trying to ch

[2015-12-09 07:41] phanikumar111 commented on #2650
The issue is i am able to register as wholesale group customer with my form. After enabling address fields in my custom form its registering as a General Group Customer.

Hope you will understand the question

[2015-12-09 07:48] phanikumar111 commented on #2650
This call causing to set the customer group to General after enabling address fields

[code]

Enabled address fields in the wholesale registration form

[code]

[2015-12-09 07:48] phanikumar111 commented on #2650
Issue#
 I am able to register as wholesale group customer with my form. After enabling address fields in my custom form its registering as a General Group Customer.

I just want and trying to change the customer group while registering by not using magento2 default customer group change settings.

I am trying to develop a customer activation module.

Hope you will understand the question

#### Tha

[2015-12-09 08:26] alankent commented on #2640
I have written up some things and ideas in this area on my blog at http://alankent.me/2015/12/09/even-better-themes-for-magento-2-seeking-feedback/ - in summary, putting some of the EE styles into Luma was the less evil solution, until we get a little more functionality into themes. Feedback welcome!

[2015-12-09 08:29] eversunsoft opened #2651 "setup payment module on store level"
suppose there's a franchise business, with different physical locations, each location have multiple languages. So I create a website to represent the franchise business; then create one store(group) for each physical location, under each store there will be store views to present different languages. Currently, the payment module setup is only available on the store view level,  how can one physi

[2015-12-09 09:17] phanikumar111 commented on #2650
i am setting the customer group id by calling

[code]

[2015-12-09 09:30] phanikumar111 commented on #2650
and also trying to add few additional fields in the customer form

                                                                                                                                                                     $customer->setAccountsPaybleEmailAddress($this->getRequest()->getParam('accounts_payble_email_address'));
            $customer->setWebsiteURL($this->getRequest()->getP

[2015-12-09 09:31] phanikumar111 commented on #2650
and also trying to add few additional fields in the customer form. can we set fields using magic method like below. its throwing an error. How to add custom fields and save them in database.

[code]

I created customer attributes using UpgradeData.php script

[code]

Throwing error

[code]

[2015-12-09 09:50] thomasnordkvist commented on #2628
I'm also intressted in how to get the shipping address and i don't see any solution in the api documentation.
But reading this #2382 i understand that it has been removed and some other solution will be there in the future? But when in the future?

[2015-12-09 10:03] #2609 closed, assigned to nobody

[2015-12-09 10:18] rajeshmukkala commented on #2648
same thing happened to me twice yesterday in wizard mode. I used CLI method to import which also failed but resumed from failed point on running 2nd time.

http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-install.html

[2015-12-09 10:33] Vinai commented on #2650
The github issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-12-09 10:34] #2650 closed, assigned to nobody

[2015-12-09 10:40] Vinai commented on #2647
I ran into a potential reason for this yesterday: the PHP opcache extension can be configured to [not save phpdoc blocks](http://php.net/manual/en/opcache.configuration.php#ini.opcache.save-comments), or to [not load](php.net/manual/en/opcache.configuration.php#ini.opcache.load-comments) them from the cache even if they are present there.

The value of `opcache.save_comments` has to be `1` for Mag

[2015-12-09 10:57] bgkavinga commented on #2647
@Vinai I do not have opcache enabled in my setup. It gives the same error even if I run it as unit test. (dev/tests/static)

[2015-12-09 11:02] ramsampathi commented on #1549
How to Installing the sendmail? Because i got same issue

[2015-12-09 11:04] SidneyBilliet opened #2652 "Unable to translate inline for checkout"
See screenshots, all area's marked in yellow, we are unable to translate inline:

![2015-12-09_11h52_22](https://cloud.githubusercontent.com/assets/13572447/11683719/efd5ba24-9e6c-11e5-8cd8-f19cb96432c4.png)

![2015-12-09_11h56_29](https://cloud.githubusercontent.com/assets/13572447/11683724/f80b2b70-9e6c-11e5-99ec-3aff44146bf3.png)

![2015-12-09_11h57_17](https://cloud.githubusercontent.com/asset

[2015-12-09 11:23] tkacheva commented on #1611
you can do it now via WYSIWYG on specific CMS Page. Plugin is integrated with magento widgets, image library and variables. We are planning to update  WYSIWYG  soon so it will be even easier

[2015-12-09 11:23] #1611 closed

[2015-12-09 11:39] CalamityJames commented on #2412
We've been having this issue with our dedi server running shared hosting too, I understand the reasons for changing to `0770` and `0660` but in a WHM/cPanel environment where everything is pretty much locked down by suPHP etc, it will refuse to load because it can't access any of the `.htaccess` files

Here's an excerpt from the error log:

[code]

Having to run

[code]

on `pub/static` every time

[2015-12-09 12:06] karthik-bgdins opened #2653 "magento admin backend and frontend not loading css and js"
I have install local magento2.0 in windows system.some error is occur admin backend and frontend  not
loading js and css.please help me this problem fixing windows.

[2015-12-09 12:16] karthik-bgdins opened #2654 "Install magento 2.0 successfully but backend and frontend getting error"
Hi,
I have setup magento 2.0 successfully but when i login on backend and frontend. i can't click on anything. there are many bugs on console relate to js and css.
![dashboard](https://cloud.githubusercontent.com/assets/16151115/11685087/75fe80ca-9e9c-11e5-8f2c-5abed2458bb1.png)

![homepage](https://cloud.githubusercontent.com/assets/16151115/11685125/c5d0b10e-9e9c-11e5-8b96-8f5a19084a88.png)

[2015-12-09 12:18] sylvainraye commented on #2010
@bgkavinga thanks for your feedback. The solution from stack exchange worked for me. Do not forget to clean your cache.

[2015-12-09 12:21] CalamityJames commented on #2412
The permissions are set as constants in `lib/internal/Magento/Framework/Filesystem/DriverInterface.php`.

[Just sayin'](https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Filesystem/DriverInterface.php), if anyone wanted to maybe manually edit them on their install just to not have to reset the permissions until such time as there's a neat way around this. It does seem

[2015-12-09 12:43] schurter-wallee opened #2655 "Invoice cannot be captured manually"
A manual capture of an invoice is not stored in the database.

In `/vendor/magento/module-sales/Controller/Adminhtml/Order/Invoice/Capture.php` in the `execute()` method the capturing of the invoice is delegated to the `InvoiceManagement` class. The invoice to capture is given to the manager via entity id.

[code]

After that call, the invoice is saved.

The problem is, that the invoice being save

[2015-12-09 13:10] boldhedgehog opened #2657 "_wrapEsi() should always return http:// URLs"
I'm trying to configure the frontend to be SSL only. So all my links start with https://

**Magento\PageCache\Observer\ProcessLayoutRenderElement::_wrapEsi()** generates URLs starting with https://

[code]

As I understand, Varnish has no SSL functionality, so this include is not processed.

Can the method **_wrapEsi()** be changed that way, so it always returns http:// links?

[2015-12-09 13:12] asemenenko commented on #2652
Created an issue MAGETWO-46696

[2015-12-09 13:33] simkea opened #2658 "broken git repo?"
![image](https://cloud.githubusercontent.com/assets/612913/11686390/92d140d2-9e80-11e5-9521-676de4780964.png)
1. i clone the repo and change in folder magento2/
2. i check the status "git status" -> 1 file is changed! Why?!

What is going on?
br

[2015-12-09 13:36] jhildreth commented on #2628
Thanks a lot @thomasnordkvist  for referencing that issue, I hadn't come across it in my searches. Is there anyone that can shed some light about an existing or soon-to-be-released method for retrieving the shipping address via the API, or is customization the only way? That question was raised in #2382 , but it doesn't look like it was addressed.
I understand the decision to have shipping informa

[2015-12-09 13:52] Vinai commented on #2658
In the screenshot you posted you are not running `git status` in the freshly cloned repository but in the parent directory. The `cd magento2` command is missing. So probably you are cloning the repo into another repo clone.
I tried to reproduce the issue nevertheless without success. I suspect this to be something specific to your setup. Please ask in to the [Community Forums](https://community.ma

[2015-12-09 13:56] thomasnordkvist commented on #2628
@jhildreth
The answer is here:
http://magento.stackexchange.com/questions/93143/magento2-how-to-get-shipping-address-for-order-in-rest-api

I think the magento people want this issue to be closed as soon as possible, because it might be more of a http://magento.stackexchange.com/questions/tagged/magento2 thing than a github issue.

/Thomas

[2015-12-09 14:02] jhildreth commented on #2628
Fair enough, thanks a lot for the help @thomasnordkvist!

[2015-12-09 14:04] simkea commented on #2658
![image](https://cloud.githubusercontent.com/assets/612913/11687267/0551255a-9e86-11e5-81c2-9a0cad771f89.png)

the complete console log... same problem

[2015-12-09 14:04] simkea commented on #2658
i will check it on another machine...

[2015-12-09 14:14] SerhiyShkolyarenko commented on #2497
@arunkasyakar could you please check that all methods you use are enabled?
I managed to reproduce error message "The requested Payment Method is not available." in case when the payment method was not enabled on backend Stores->Configuration->Sales->Payment Methods
If payment method is enabled, request is successful for me.

[2015-12-09 14:19] #2497 closed, assigned to ishakhsuvarov

[2015-12-09 14:30] simkea commented on #2658
other machine, same Problem.

![image](https://cloud.githubusercontent.com/assets/612913/11687902/b5dd64ee-9e89-11e5-9df8-ceb82c452825.png)

[2015-12-09 14:37] Vinai commented on #2658
Actually, I tried in a new environment and also was able to reproduce the issue. Thanks for reporting this. Not sure if this is a bug, but it is strange for sure.

[2015-12-09 14:40] Vinai commented on #2658
Try searching for the full file name and in https://github.com/magento/magento2/find/develop
There are 2 matches!
Running `git diff app/code/Magento/Ui/Component/Form/Element/MultiSelect.php` shows a diff of the two files.
One of the files is named `MultiSelect.php` and one is called `Multiselect.php`.
On a case sensitive file system that would be two files. On a case insensitive file system (Wind

[2015-12-09 14:49] simkea commented on #2658
I know the problem with upper and lower case. it may nevertheless not be wrong. Never change a letter to Lower or Upper and commit it. :)   ... if you have windows *fg

[2015-12-09 14:59] ishakhsuvarov commented on #2658
@simkea Thank you for reporting this issue. We have created an internal ticket `MAGETWO-46718` to track the progress on this.

[2015-12-09 15:12] choukalos commented on #2628
This is a bug; it should have been exposed and linked per @paliarush comment on stack exchange.  Creating Bug MAGETWO-46720

[2015-12-09 15:18] thomasnordkvist commented on #2628
Ok so it is a bug!

Good to know that this functionality will not change much from how i use it now, other than the function path.

/Thomas

[2015-12-09 15:19] jhildreth commented on #2628
Glad to hear it's a bug. Thanks for the update!

[2015-12-09 16:43] markshust opened #2659 "Edit Order doesn't bring over existing ordered products"
Current action:
- Click Edit Order
- This creates new order from existing order
- Products aren't brought over into new order

Desired action:
- Products are carried over to new order from existing order

v 2.0.0

[2015-12-09 16:47] markshust opened #2660 "Create Order should force shipping selection before submission"
Current action:
- I can click Submit Order without selecting a shipping method.

![screen shot 2015-12-09 at 11 44 37 am](https://cloud.githubusercontent.com/assets/437029/11691722/489061bc-9e6a-11e5-8fd5-c009327f599d.png)

Desired action:
- I should not be able to click Submit Order until a shipping method is selected.

Additional Notes:
- If a shipping method is selected, I do receive an error a

[2015-12-09 16:53] markshust opened #2661 "Sending shipping tracking info to customer should log to Shipping History"
After sending tracking number information for a shipment to a customer, it should log that the tracking information was emailed to the customer below the Submit Comment button just like a standard shipping history record.

![screen shot 2015-12-09 at 11 52 47 am](https://cloud.githubusercontent.com/assets/437029/11691972/6476be7a-9e6b-11e5-8b66-1ad174429156.png)

[2015-12-09 16:56] markshust opened #2662 "Shipment date missing from Shipping details page"
No place to find out when the shipment took place from the shipping detail page:

![screen shot 2015-12-09 at 11 55 30 am](https://cloud.githubusercontent.com/assets/437029/11692069/d3e369c0-9e6b-11e5-9e92-4a7e33397c6e.png)

It should show the same date on other tabs/list views as so:

![screen shot 2015-12-09 at 11 56 23 am](https://cloud.githubusercontent.com/assets/437029/11692089/eb0952e0-9e6b

[2015-12-09 18:05] benmarks commented on #2300
:+1: for better error output / handling.

[2015-12-09 18:52] degaray opened #2663 "There should be a faster way to generate code on dev mode"
When calling setup:di:compile it runs several processes to create all the code needed in all the application. This usually takes several minutes. There should be a a way to not run it in dev mode and let the code generate other code on the run.

[2015-12-09 19:42] davidalger commented on #2663
@degaray Were you running into a problem before running that command while in dev mode? The code generation in developer mode is all done on the fly, and so you shouldn't have to run this except when running in production mode.

[2015-12-09 20:12] FossPrime commented on #2523
I can Confirm @moleman 's solution works perfectly. Also, you don't need to copy it, a symbolic link will do the job just as well if not better.
 `ln -s ~/.composer/auth.json var/composer_home/`

[2015-12-09 21:08] alankent commented on #2651
(For internal folks - this is a product feature suggestion for the PMs to take into consideration.)

[2015-12-09 21:49] Vinai commented on #2622
I just played with the command a little, and the current behavior is as follows:
- If the module is not yet listed in app/etc/config.php, then it will be added in an enabled state
- If the module is already listed in app/etc/config.php, then the activation state is not changed

This behavior actually makes sense. Curious to see what MAGETWO-45555 changes. Presumably the command will then add unkno

[2015-12-09 21:55] ghost commented on #2622
From MAGETWO-4555:

Steps to reproduce:
1.  Enable all modules for uninstalled application
2.  Disable Magento_AdminNotification module, when the application is not installed yet
3.  Install Magento application
4.  Enable Magento_AdminNotification module through CLI

Expected result :
Message: The following modules have been enabled: Magento_AdminNotification

Actual result:
Message: No modules we

[2015-12-09 22:02] redochka commented on #2338
For me it the browser cache  but how is possible the browser cache can cause such error?!

[2015-12-09 23:43] degaray commented on #2663
I have tested it and it is working as you said. I had an error in my code and that is why it was not generating correctly.

[2015-12-09 23:43] #2663 closed, assigned to nobody

[2015-12-09 23:49] degaray opened #2664 "ExtensionAttributesProcessor is stripping two characters arbitrarily"
I am having an issue with `Magento\Framework\Reflection\ExtensionAttributesProcessor::buildOutputDataArray` it is stripping two characters arbitrarily in line 122 `$arrayElementType = substr($returnType, 0, -2);`. Consequently my code is braking. I guess those two characters are intended to strip `[]` from class name, however if they are not added, it strips the last two letters of the class givin

[2015-12-09 23:59] degaray commented on #2664
It is fixed if brackets `[]` are added in extension_attributes.xml `<attribute type='some/class'` so it looks like this `<attribute type='some/class[]'` however I still think it should throw an exception after checking if the last two characters are brackets.

[2015-12-10 00:09] dmitrii-fediuk opened #2665 "\Magento\Framework\App\Config\Value::afterLoad() method breaks specification of the overriden parent method \Magento\Framework\Model\AbstractModel::afterLoad() by not calling it, ignoring its logic, and having a different result type"
https://mage2.pro/t/285

[2015-12-10 07:17] sydekumf commented on #2033
I have the same issue on master branch. As M2 is already released when do you want to fix this?

[2015-12-10 07:43] IceReaper opened #2666 "CSV Product Import - Images reporting failure."
Short:

Step1: Created a product by hand and exported it as csv file.
Step2: Deleted the product, so the Database is empty again.
Step3: Uploaded the images
Step4: Imported the csv file

[base|small|thumbnail|swatch]_image are working.
additional_images is empty and throwing this error:

[code]

---

Long:

I've created a product by hand and exported it as CSV. I used that CSV file as pattern and

[2015-12-10 07:45] #2625 closed, assigned to nobody

[2015-12-10 10:25] adesigner2 opened #2667 "Uncaught TypeError: resolver is not a function"
After installation Magento 2 via git, if I'm going to Product Grid or Order Grid - I get 'Uncaught TypeError: resolver is not a function' in browser console and load spinner does not disappear.

/pub/static/adminhtml/Magento/backend/en_US/Magento_Ui/js/grid/provider.js:125 Uncaught TypeError: resolver is not a function

How to make standard products, orders grid work?

![screen shot 2015-12-10 at

[2015-12-10 11:35] #2458 closed, assigned to nobody

[2015-12-10 11:47] Vinai commented on #2641
I guess with the current implementation you could create a `\Monolog\Handler\HandlerInterface` that does what you want and register it via di.xml.

[code]

In that implementation `isHandling()` would be called for each message, and if that returns `true`, I guess `handle()` is called. You might also be able to do something with the `$processors` array of callable types constructor argument, too, b

[2015-12-10 12:01] Vinai commented on #2458
:(

[2015-12-10 13:20] miguelbalparda commented on #2412
@piotrekkaminski @mazhalai any news on this issue?

[2015-12-10 14:02] thijsvanwinden opened #2669 "Slow initial page load speed"
Hi,

I'm at the moment busy with reviewing magento2 CE edition(for now) to be used in one of our future projects. This project involves a large amount of products. Now we tried doing a test with 40.000 products.

The biggest problem here is, that the initial page load of a page is +2 minutes. In my test setup I extended the time limit, but this does not seem to help. Mostly it results in a timeout

[2015-12-10 14:22] SantyagoSeaman commented on #2669
Hello!
Can you provide results of execution

[code]

Did you turn on Mysql slow query log?

[2015-12-10 14:48] okobchenko commented on #2669
Please try next flow for running M2 in production mode:
- Cloning / Installation
- Activating client side performance features (optional for your case and is not root of 2m response)
  - JS bundling
  - JS minification
  - CSS minification
  - HTML minification
- Activating caches
  System (Admin) -> Cache management -> Enable on all
- Running of static content deploy command (this could be the re

[2015-12-10 14:57] danielc1234 opened #2670 "Autoload error: 'Magento_Newsletter' component already exists"
Had Magento 2.0 running perfectly. Then we installed Varnish 4.0 and was working fine, but all of a sudden the site will not allow us to do anything.

When we try to deploy an update or anything in admin/frontend we get this error:
Autoload error: 'Magento_Newsletter' component already exists

Is there a way to fix this issue? I know in magento 1.0 you could just rename the local.xml and it would

[2015-12-10 15:10] mazhalai commented on #2648
@lenkaren @rajeshmukkala Please check your `max_execution_times` it should be set to 18000. Sometimes, this is set, but maybe server is not loading the php.ini correctly. Please verify using a `phpinfo()` check

[2015-12-10 15:28] ghost opened #2671 "Undefined Index: arguments in lib/internal/Magento/Framework/ObjectManager/Config/Compiled.php line 132"
After nearly a dozen clean, magento 2 installs on centos 7, I keep getting this error when I navigate to System -> Web Setup Wizard.

Fatal error: Uncaught exception 'Exception' with message 'Notice: Undefined index: arguments in /home/andrew/public_html/labs/lib/internal/Magento/Framework/ObjectManager/Config/Compiled.php on line 132' in /home/andrew/public_html/labs/lib/internal/Magento/Framewor

[2015-12-10 15:37] davidalger commented on #2670
@danielc1234 Sounds like you may have multiple copies of the module. Perhaps there is one in ./vendor/ and another in ./app/code/? I'd suggest checking your registration.php files for duplicate references to that module name.

[2015-12-10 15:37] markshust opened #2672 "cronjob tasks defined within 'default' group are not properly running"
I'm trying to define a cronjob for a custom module but noticing some issues:
- It seems that third-party cronjobs are only scheduled once, when the cache is flushed. When the scheduled `./bin/magento cron:run` runs every minute, the first time the cache is flushed it picks up all of the third-party module cronjobs, and runs them on the next execution.
- After the first run, it doesn't seem as thou

[2015-12-10 15:37] davidalger commented on #2669
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-12-10 15:37] #2669 closed, assigned to nobody

[2015-12-10 15:41] mazhalai commented on #2670
@danielc1234 how did you install Magento 2 initially? via git? composer? or downloaded a zip via magento.com?

[2015-12-10 16:11] AYElsharif commented on #2614
@mazhalai I checked mod_rewrite in Apache, I found it disable .. I enabled it .. restart the server, Now the website work fine but I'm still can not access to the backend page .. when I tring to access to it, the browser given me this error "This webpage has a redirect loop"

I also checked the env.php file, the backend name is correct " 'frontName' => 'admin',"

when I point to :
"http://localhos

[2015-12-10 16:12] mazhalai commented on #2454
@markoshust we are unable to reproduce this. Do you have correct permissions set for your var folder?

[2015-12-10 16:24] quienti opened #2673 "Question : import product gallery (fotorama) to my custom module"
Hi!

I need to add the same gallery on my custom module
But, I don't know how import all js/css and html and I don't find any idea to resolve my problem :/

Anybody to help me please ?

Thank you

[2015-12-10 16:27] mazhalai commented on #2614
@Elsharif you probably already tried this, but did you clean cache? `bin/magento cache:clean` and ``bin/magento cache:flush`. Also clean your browser cache.

[2015-12-10 16:41] AYElsharif commented on #2614
@mazhalai I appreciate your quick reply,
I empty the var/cache & var/page_cache and I clear the browser cache, But I'm still getting the same error.

Abdusalam.

[2015-12-10 16:59] markshust commented on #2454
@mazhalai I was thinking this could be the case, however all of the other functionality throughout Magento 2 works fine with the `var` folder, and new sessions are being written (files created) in `var/session` just fine.

[2015-12-10 17:04] paliarush commented on #2614
@Elsharif Try to reinstall Magento using virtual host or at least `127.0.0.1`. Cookies do not work when base URL is set to `localhost`.

[2015-12-10 17:14] ghost commented on #2672
/update/cron.php is for the [Component Manager and System Upgrade](http://devdocs.magento.com/guides/v2.0/comp-mgr/bk-compman-upgrade-guide.html). It's what kicks off the update/upgrade processes. I imagine it also runs enable/disable and uninstall as well. /update/cron.php does not run indexers or other scheduled jobs like e-mail, site map, etc.

[2015-12-10 17:17] danielc1234 commented on #2670
@mazhalai
I installed this version via zip download.

Like I mentioned it was working fine, but all of a sudden stopped. I thought maybe had something to do with Varnish install but now I don't think so.

[2015-12-10 17:26] mazhalai commented on #2670
@danielc1234 in your first post you mentioned `When we try to deploy an update` did you run composer update anytime while doing that? What exactly did you try to update?

As @davidalger mentioned, you have somehow ended up with multiple modules in `app/code` as well as `vendor/magento` folder. I would suggest to clean your magento root folder and db (create backups if you really need data using `b

[2015-12-10 17:47] mibe commented on #815
Same thing during my installation: I had to increase the `max_execution_time` to 300 to succeed.

[2015-12-10 17:54] danielc1234 commented on #2670
what would you recommend the best install method to be?

[2015-12-10 18:17] mazhalai commented on #2670
@danielc1234 really it depends on your level of expertise and what you want to do. More details to help you decide: http://devdocs.magento.com/guides/v2.0/install-gde/continue.html

[2015-12-10 18:29] astorm opened #2674 "Plugins/Interceptors Don't Work with Early Stage Single Instance Objects in Developer Mode"
If I enable developer mode by adding the following to my .htacess file

[code]

and then add a plugin configuration

[code]

Magento doesn't seem to see the plugin until I do a full compile

[code]

**Expected Behavior**: When Magento developer mode is enabled, all plugins are active immediately.  From an end-client-programmer-user perspective the plugin system should behave the same in all Magent

[2015-12-10 18:42] Vinai commented on #2412
There is some documentation on this issue in the [devdocs](http://devdocs.magento.com/guides/v2.0/install-gde/trouble/tshoot_var-gen-perms.html).
I've found the section on setting the setgid bit has been useful for some people encountering permission issues.

[2015-12-10 18:43] alankent commented on #2670
We are also interested to see if we have something wrong. You definitely should be able to install from the ZIP download (not from GitHub - the one on the magento site) and do a composer update. If that has a problem, we need to identify and fix it. That is partly why we are curious in the sequence you did.

[2015-12-10 18:55] danielc1234 commented on #2670
@alankent Yes, that is exactly what I did. I first installed from the zip and wanted to make sure I had the lastest copy, so I tried to run the composer to do an update.

I do not recall the exact steps though that I did.

[2015-12-10 19:30] astorm commented on #2641
Thanks @Vinai -- w/r/t the specific problem, I was also confused by what ended up being this bug/issue https://github.com/magento/magento2/issues/2674 -- mentioned here mainly for the search engines.  My brief look at the Monolog handler system left me with the impression it was a "winner takes all" situation, but I may be incorrect.

Re:

I agree that this seems a bit wrong, and isn't something I

[2015-12-10 19:32] astorm commented on #2641
Re:

Closing this issue because this **does** exist. The `Psr\Log\LoggerInterface` is plugin-able -- [just not in developer mode without a compile](https://github.com/magento/magento2/issues/2674).

[2015-12-10 19:32] #2641 closed, assigned to nobody

[2015-12-10 21:04] erikhansen opened #2675 "Admin order creation fails when "Include Tax In Order Total" set to yes"
## Steps to reproduce issue:
1. Install Magento CE 2.0.0 with sample data.
2. Ensure that developer mode is turned on.
3. Go to **Stores > Configuration > SALES > Tax > Shopping Cart Display Settings** and change the "Include Tax In Order Total" value to "Yes".
4. Go to **Sales > Orders > Create New Order**
5. You will see this error: `Notice: Undefined index: tax in vendor/magento/module-sales/Bl

[2015-12-10 21:25] ramseyjiang commented on #1585
Hi Mazhalai, do you know when Magento 2 can be compatible with Mysql 5.6?
I have the same problem when I install Magento.
The notice is "Sorry, but we support MySQL version 5.6.0 or later."

[2015-12-10 21:27] ramseyjiang opened #2677 "When Magento 2 can compatible with Mysql 5.6.0?"
I try to install Magento 2, but on the second step, it show me "Sorry, but we support MySQL version 5.6.0 or later."

Who knows when Magento 2 can support that?

[2015-12-10 21:32] mazhalai commented on #1585
@ramseyjiang please avoid commenting on closed issues. What is your version of Mysql? It will NOT be compatible with MySQL 5.5 you need 5.6 or higher.

[2015-12-10 21:33] mazhalai commented on #2677
@ramseyjiang What is your version of Mysql? Magento 2 requires MySql 5.6 as a minimum requirement

[2015-12-10 22:35] ramseyjiang commented on #2677
Sorry, MySQL version is 5.5, I will upgrade my MySQL, Thank you for your reply.

[2015-12-10 22:35] #2677 closed, assigned to nobody

[2015-12-10 22:59] dmitrii-fediuk opened #2678 "Incosistency: the event «controller_front_send_response_after» is removed from Magento 2, but the event «controller_front_send_response_before» is left"
https://mage2.pro/t/288

[2015-12-10 23:04] steverobbins commented on #2658
I'm seeing this too.  Mac's come default with the main partition case insensitive.  I think the solution is to just remove one of files, since it's probably not getting loaded anyway.

[2015-12-11 03:25] ghost opened #2680 "W3C error: A meta element with an http-equiv attribute whose value is X-UA-Compatible must have a content attribute with the value IE=edge."
W3C error on fresh Magento 2 installation :

A meta element with an http-equiv attribute whose value is X-UA-Compatible must have a content attribute with the value IE=edge.

FOLLOW"/>↩<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>↩<meta

W3C not compliant.

[2015-12-11 03:27] ghost opened #2681 "W3C error: Element input is missing required attribute aria-expanded."
W3C error on fresh Magento 2 installation :

<input id="search"↩                           data-mage-init='{"quickSearch":{↩                                "formSelector":"#search_mini_form",↩                                "url":"http://yourwebsite.com/search/ajax/suggest/",↩                                "destinationSelector":"#search_autocomplete"}↩                           }'↩

[2015-12-11 03:31] ghost opened #2682 "W3C warning: Element nav does not need a role attribute."
W3C warning on fresh Magento 2 installation :

content">↩<nav class="navigation" role="navigation">↩    <

W3C not compliant.

[2015-12-11 03:33] ghost opened #2683 "W3C warning: The name attribute is obsolete. Consider putting an id attribute on the nearest container instead."
W3C warning on fresh Magento 2 installation :

The name attribute is obsolete. Consider putting an id attribute on the nearest container instead.

age-main"><a id="contentarea" name="contentarea" tabindex="-1"></a>↩<

W3C not compliant.

[2015-12-11 04:55] mswaidan opened #2684 "URL re-writes only work when is_autogenerated is set to 1"
Was having trouble getting URL rewrites to work for my products, then noticed that one was working. That one was  auto-generated. Looked at the url_rewrite table, and only rewrites that had is_autogenerated = 1 worked. Changing the value from 0 to 1 for manually generated rewrites makes them function correctly. Is this a bug or some idiosyncratic error on just my install?

[2015-12-11 07:54] marvincaspar commented on #2561
@moleman: this is a good argument

[2015-12-11 09:12] ninepointsvn commented on #2654
You may need to run

[code]

in magento directory after installation.

[2015-12-11 09:29] IceReaper commented on #1471
Need to join in. Importing 4000 products and verified everyone has an unique url key. i can see in the database the importer does 100 product steps, 500 are getting imported, then the whole import procedure stops telling me "URL key for specified store already exists". Which is defenitely wrong. i tried the same with only 700 products, 1 of 30 imports succeeded. However, when removing the products

[2015-12-11 09:40] smitendra opened #2685 "No button shown to reindex."
No button shown to reindex.

[2015-12-11 10:28] ishakhsuvarov commented on #2685
@smitendra Please refer to [Manage the indexers](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-index.html) section of the Developer Documentation.

[2015-12-11 10:37] protodevsystems opened #2686 "500 Internal Server Error upon clicking SAVE button of product record adding/editing"
Admin Panel loads and allows me to login right after installation. But when I try to add a Simple Product and click on save, a 500 Internal Server Error page comes up. What should I do? Is this a permission issue? Same with editing a product: click on a product, then SAVE, 500 error.

I tried to follow this:
http://devdocs.magento.com/guides/v2.0/install-gde/install/file-system-perms.html for Cent

[2015-12-11 12:12] barbazul commented on #636
After a complete year away from the M2 project I am finally forced to get back to it due to its recent release and @benmarks fundamentals course that I am currently taking.

I'll play around with M2 a little bit longer, getting the hang of it and then I'll send my PR (if this ihas not been done already by someone else)

[2015-12-11 12:14] nkarthickannan commented on #2525
@xcomSteveJohnson

Thank you for adding this info in the documentation. Please let me know why this is included as a Trouble shooting option but not as a mandatory one.

I think this should be added in this page (http://devdocs.magento.com/guides/v2.0/install-gde/prereq/integrator_install.html#instgde-prereq-compose-access) along with other directory & file permissions.

If you have any valid reas

[2015-12-11 13:17] vpatidar009 commented on #2637
Hello David,

Please watch the video, I hope It will clear everything.
[out.ogv.zip](https://github.com/magento/magento2/files/59411/out.ogv.zip)

Thanks

[2015-12-11 14:51] nkarthickannan commented on #2523
@moleman Great discovery!!

@Vinai As per @moleman comment, the un-used MagentoComposerApplication class is setting the COMPOSER_HOME variable. If the class is not at all useful then why should Magento use this class to create a new problem? If there is any reason for using this class please let us know. Otherwise usage of this class should be avoided to prevent this issue from popping-out.

Thank

[2015-12-11 15:36] ishakhsuvarov commented on #2453
@adzminz
Fix for this issue had been delivered to the `develop` branch. Please see commit [e92ce8b](https://github.com/magento/magento2/commit/e92ce8b71fe30445a4bd35f0e91a10d3312dd88f).

[2015-12-11 15:36] #2453 closed, assigned to ishakhsuvarov

[2015-12-11 18:14] devriles opened #2688 "CMS/Static Blocks not migrating"
Upon completion of migration the CMS and Static Block pages, the migration did not grab these from the Magento 1.9.x DB.

[2015-12-11 19:22] maghamed commented on #2606
You can utilize ProductRepositoryInterface and its getList method.
It's accessible through Web API

[code]

All that you need to do - get the list of product SKUs for which you want to get detailed data and apply them as a filter.

[2015-12-11 21:45] daim2k5 commented on #2685
@smitendra also there is no reindex button anymore in the backend.

[2015-12-11 21:47] daim2k5 commented on #2673
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-12-11 21:47] #2673 closed, assigned to nobody

[2015-12-11 21:49] daim2k5 commented on #2584
@lgarridoj i hope its ok the close the issue because you found your solution. If not please reopen

[2015-12-11 21:49] #2584 closed, assigned to nobody

[2015-12-11 21:51] jibrandlr opened #2691 "Changes to _extend.less file do not take effect unless Static Files Cache is flushed in admin"
As suggested in [this page](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/css-topics/css_debug.html) from the Fronted Dev Guide, I set up Grunt to streamline the process of applying and debugging styles.

According to the last parapragh from that page:

"If you have LiveReload installed, run the grunt watch command, and the flow is even simpler:

After you customize the content of any

[2015-12-11 21:53] daim2k5 commented on #2534
@LouNik1984 i closed the issue because i think you got your solution. If I'm wrong please reopen the issue.

[2015-12-11 21:53] #2534 closed, assigned to nobody

[2015-12-11 21:56] daim2k5 commented on #2435
@yeedavid sorry for the late response do you can provide more information, maybe include also a screenshot or a step by step guide how we can reproduce this?

[2015-12-12 00:50] leroy0211 opened #2692 "When database is on another server, the setup page is not being displayed."
My use case is when no database is installed on the webserver, the setup page is not being displayed. It's just blank.
With the CLI I should be able to install magento, but haven't tested that yet.

[2015-12-12 02:10] dmitrii-fediuk opened #2693 "\Magento\Persistent\Observer\SynchronizePersistentInfoObserver is subscribed on the absent event «controller_front_send_response_after», and so it is never called"
https://mage2.pro/t/287

See also https://github.com/magento/magento2/issues/2678

[2015-12-12 05:27] bgkavinga commented on #2657
@boldhedgehog we resolved this issue by starting varnish with **-p feature=+esi_ignore_https** option

[2015-12-12 08:05] boldhedgehog commented on #2657
Thanks, I'm going to try this

[2015-12-12 09:04] magenx commented on #2692
ok page is blank, but what error you see exactly in the log?

[2015-12-12 10:54] rapidmod commented on #101
I can create and view the sets when creating a new product. I cant add an attribute set to any products.

[2015-12-12 16:35] davidalger commented on #2670
@danielc1234 Can you resetup from scratch the same way you did before and see if you can reproduce the problem and send us steps to reproduce if you can?

[2015-12-12 16:40] davidalger commented on #101
@RapidMod Please open a new issue, and be sure to include complete details on what you're attempting and where it's going awry. Thanks!

[2015-12-12 18:01] danielc1234 commented on #2670
@davidalger I re-installed from scratch and all seemed to be working fine, then the following day when refreshing the site, got blank white screen.

I think the 2.0 release was released a little premature. Seems there is still quite a few issues with it. Although it is an awesome version. Very quick and super easy to work with.

Not sure if this helps at all, but getting this on console and except

[2015-12-13 00:49] dmitrii-fediuk opened #2694 "\Magento\Shipping\Model\Shipping\LabelGenerator::createPdfPageFromImageString() does not free GD image resource with imagedestroy so the memory can not be reused by Magento until the request processing ends"
https://mage2.pro/t/291

[2015-12-13 01:59] daapower commented on #2419
having the same issue as KvantX and realdigid.  i have updated composer..

[2015-12-13 11:18] riswit opened #2695 "System Upgrade Status: update application is running from 10 hours"
I run system upgrade, from "System - Web Setup Wizard".
Now it's running 12 hours and the maintenance mode is enabled. (no log in folder magento, no log in apache2)

how can I do to stop the process or how can I do to restore without having to reinstall everything?

---

System Upgrade Status:

Update application is running

Console Log:

[2015-12-12 23:25:05 CET] Job "maintenance_mode {"enable":t

[2015-12-13 11:45] jameshalsall commented on #1326
Any news on this?

[2015-12-13 18:46] hostep commented on #1146
I just tested this with Magento 2.0.0 GA, and the issues still remain.

**robots.txt**

Steps to reproduce:
1. Make sure the Magento docroot is set to the `pub` directory
2. In the backend, go to Stores => Configuration => General => Design => Search Engine Robots
3. Enter something in the `Edit custom instruction of robots.txt File` field
4. Save

Problem: the robots.txt file is created in the Ma

[2015-12-13 19:01] hostep commented on #1331
Just noticed some other problems with the .htaccess file in the `pub` subdirectory which apply If you serve Magento from the `pub` directory (which is recommended in the [docs](http://devdocs.magento.com/guides/v2.0/howdoi/deploy/deploy-to-prod.html#checklist-prod) btw)

The .htaccess file in the `pub` subdirectory is missing these two lines:

[code]

And this line may be removed as I believe it i

[2015-12-13 19:18] hostep commented on #2377
Hmm, the 404's are fixed indeed, but the javascript files are still included, while they have absolutely no purpose if you aren't logged in.

I don't think it's a big deal, just want to make sure you are aware of this.

[2015-12-13 19:53] hostep commented on #2374
I just tested this again with 2.0.0 GA, using the above composer.json file with these changes:

[code]

I no longer get the warning and the system.log file is empty, so it looks like this is fixed.

Closing the issue.

[2015-12-13 19:53] #2374 closed

[2015-12-13 21:39] riswit commented on #2695
I solved!

I deleted var/cache directory content

[2015-12-13 21:39] #2695 closed, assigned to nobody

[2015-12-13 22:52] steverobbins commented on #1331
@hostep The recommendation for M1 is 512MB.  If M2 needs "more umf" that might be understandable.

I think the the non-pub `.htaccess` and `index.php` should be removed entirely.  Publish a separate document on how to host the site in the Magento document root (for shared hosts, etc), where you copy these files over.

That way only one of each file needs to be maintained in this repo, people won't

[2015-12-14 01:00] dmitrii-fediuk opened #2696 "\Magento\Framework\Image\Adapter\Gd2::_createEmptyImage() does not free the previous GD image resource _imageHandler with imagedestroy before creating a new one"
https://mage2.pro/t/292

Similar to  https://github.com/magento/magento2/issues/2694

[2015-12-14 03:59] protodevsystems commented on #2686
Seems immediately after installing, I've ignored the required indexing and cron job setup and tried to add a product right after setup. After setting up cron and manually reindexing from ssh, then it doesn't give the error anymore upon saving. So I guess this one's solved. But any explanations would be better if there's any, guys? thanks!

[2015-12-14 03:59] #2686 closed, assigned to nobody

[2015-12-14 06:36] phanikumar111 commented on #1393
I added this attribute in customer registration form. please let me know how to save this attribute form frontend.

I created attribute like this
      webiste_url
I am trying to save this in
    $customer->setWebsiteUrl(webiste_url);

[2015-12-14 08:09] hostep commented on #1331
In practice we run almost all our M1 shops on 128M, some exceptions need more, but most of them work perfectly fine with 128M :)
So that's why I think the 768M is very high, the only thing I can think of why it would need such a high amount of memory is because of the LESS compilation through php (which should only be needed on develop environments).

Anyways, back on topic: I totally agree with r

[2015-12-14 09:14] SidneyBilliet commented on #2363
This seems fixed in Magento ver. 2.0.0

[2015-12-14 09:14] #2363 closed

[2015-12-14 09:15] SidneyBilliet commented on #2324
Haven't had this problem since Magento ver. 2.0.0

[2015-12-14 09:15] #2324 closed

[2015-12-14 11:01] #2657 closed, assigned to nobody

[2015-12-14 11:21] webkul opened #2697 "cloudflare / CDN issue - product grid does not load"
cloudflare / CDN issue - product grid does not load - We are getting a very random issue whenever we supply the cloudlare on our server magento2 catalog grid does not load also  throw an error related to backbone.js in admin product add at browser console.

[2015-12-14 11:36] webkul opened #2698 "admin downloadable type product js error "TypeError: scopeTitle.up(...).down(...) is undefined""
When we are trying to add links and samples in a particular store view then getting js error- "TypeError: scopeTitle.up(...).down(...) is undefined" at browser console .

[2015-12-14 11:58] karthik-bgdins opened #2699 "install magento2.0 sucessfully local how to add new page in menu bar"
Hi:

I have installed magento2.0 local sucessfully. i cannot added new page in menu bar. how to fix the problem please help me.

[2015-12-14 12:27] ahmadhattab commented on #2699
try bin/magento setup:upgrade

[2015-12-14 12:47] AYElsharif commented on #2614
@mazhalai @paliarush According to this solution : http://magento.stackexchange.com/questions/63117/magento-2-problem-in-admin-login

After I followed the steps in the solutions and try to open admin page, when I opened the it from Safari browser, I can successfully access to the admin control, But when I try to open it from Chrome browser they show me the same error "This webpage has a redirect lo

[2015-12-14 13:13] phanikumar111 commented on #1916
How to add the custom field in registration form and save from frontend

[2015-12-14 13:34] smaadjahangir opened #2700 "Magento CLI setup:config:set not accepting hyphens or dash "-""
Below is an example:

@>  magento setup:config:set --http-cache-hosts="123-abc.com"
Invalid http cache hosts '123-abc.com'
[InvalidArgumentException]
Parameter validation failed

Regards,
Maad

[2015-12-14 14:52] #2685 closed, assigned to nobody

[2015-12-14 14:57] choukalos commented on #2611
Use the storeConfig API to get the base media url - http://devdocs.magento.com/swagger/index.html#!/storeStoreConfigManagerV1/storeStoreConfigManagerV1GetStoreConfigsGet

[2015-12-14 14:57] #2611 closed, assigned to nobody

[2015-12-14 15:01] Pinimichu opened #2702 "Custom module not loadable"
Hi all,
I have installed Magento2 on my local VM, after a few problems successfully.
I tried to implement a custom module with help of some tutorials but the module was never available under Store->Configuration->Advanced->Advanced.
I did add my module to app/etc/config.xml manually (I know, not recommended) and with the php bin/magento setup:upgrade command as well but nothing happened. The modul

[2015-12-14 15:02] choukalos commented on #2606
Answered by @maghamed

[2015-12-14 15:02] #2606 closed, assigned to nobody

[2015-12-14 15:30] mazhalai commented on #2702
@Pinimichu did you create a `registration.php` file for your module? Like this https://github.com/magento/magento2/blob/develop/app/code/Magento/AdminNotification/registration.php

[2015-12-14 15:30] mazhalai commented on #2614
@Elsharif problem is with using `localhost` on chrome, since cookies are not set correctly. Please read this article: http://alankent.me/2015/04/25/use-of-localhost-when-installing-magento-2-quick-note/

[2015-12-14 15:42] Pinimichu commented on #2702
@mazhalai Yes, I did. And in the example module which has the same problem on my system the registration.php file is also included.

[2015-12-14 16:06] tadhgbowe opened #2703 "Configurable product - if variant products removed in Configurations the product loses its Type and becomes a Simple."
Version 2.0.0. (follow on from issue #2564)

Step 1: I import a new configurable product with 2 variant simple products. All three products are imported fine and the Configurations section in the Admin Panel for the configurable product is displaying two variant products.

Step 2: I then realise that I've assigned the incorrect simple products to the configurable parent. It's an easy mistake to ma

[2015-12-14 16:43] andypieters opened #2704 "Reordering customizable items"
Reordering an order with the same product but with different size/color, results in the product being added once, with a quantity of 2.

For instance:
I ordered:
1. Beaumont Summit Kit Color: Red, Size: M, Quantity: 1
2. Beaumont Summit Kit Color: Yellow, Size: M, Quantity: 1

Reordering results in:
1. Beaumont Summit Kit Color: Red, Size: M, Quantity: 2

[2015-12-14 16:58] smaadjahangir opened #2705 "No Varnish Purge Request from Nginx"
Hi,

I've following webstack:

Nginx > Varnish > Apache.

The problem i am seeing is that Nginx is not forwarding Purge request to Varnish. I am getting (status 400 ) invalid request when ever purge request is made. I have a hunch that Nginx is adding trailing slash to either URL or "X-Magento-Tags-Pattern" header is getting modified on the way. Nginx Error:

client sent invalid request while read

[2015-12-14 19:21] erikhansen opened #2708 "quote_address.shipping_discount_amount does not get converted to current currency"
## Explanation of issue

When a store is configured to use a different currency than the **Base Currency** and a discount is applied to the shipping, the `quote_address.shipping_discount_amount` field will _not_ be multiplied by the currency conversion rate, even though it should be.
## Steps to reproduce issue
1. Install Magento CE 2.0.0 with sample data.
2. Configure the store to use a non-USD c

[2015-12-14 19:22] mazhalai commented on #2700
@smaadjahangir Thank you for reporting, we have created ticket MAGETWO-46858 to fix it.

[2015-12-14 19:23] mttjohnson opened #2709 "Customizations and usability of logging in custom modules"
I've been digging into how logging works in Magento in order to accommodate adding logging into a module I'm working on.

It looks like there is a little bit of discussion on #2641 regarding how to improve the usability of logging in Magento.

I logged an issue #2529 that identifies a problem with Magento's use of Monolog with multiple handlers specified in di.xml. I provided a workaround to utili

[2015-12-14 19:49] puffpackage commented on #2557
Also having the same problem, I feel it's connected to my other similar error when flushing magento cache

[2015-12-14 20:58] mazhalai commented on #2702
I tried the code, not all of it, but for basic module recognition. You can try with only `etc/module.xml` and `registration.php` within `app/code/<vendorName>/<moduleName>` and then running `bin/magento setup:upgrade`. The module should then show up in `config.php` not `config.xml` as mentioned in the tutorial.

Additionally, there is no `composer.json`, in `module.xml` and `routes.xml` the noName

[2015-12-14 20:58] #2702 closed, assigned to nobody

[2015-12-14 21:45] matiasnombarasco commented on #2434
Having the same issue in here. Far I can see there is not detail going on the post to the ajax controller. This affects to the EE edition as well.

[2015-12-14 21:52] alankent commented on #2709
I wrote this a while back also if interesting reading: http://alankent.me/2015/08/01/request-for-feedback-on-improving-debug-logging-in-magento-2/

We were playing with a "LogSwitchManagerInterface" internally at one stage, but it did not make the cut list relative to other work yet. The idea was in the constructor you would do something like

[code]

It returns NULL if the switch is off, or a PSR

[2015-12-14 21:57] assaflei commented on #2531
I had a similar error message when creating a simple hello world module
My problem was in the module.xml file, in which the header line "<?xml version="1.0"?>" was not the first line in the file

FYI

[2015-12-14 23:42] miketull opened #2711 "RequireJS using incorrect baseUrl in pre-generated assets when pub is web-root"
1. Log into the admin.
2. The buttons in the left side menu do nothing when clicked.
3. Reload the page into the browser.
4. Click on a left side button like Products.
5. Now the page will load.
6. Now click on Customers.
7. The loading indicator will spin indefinitely.
8. Reload the page into the browser.
9. Now the page will load.

This issue might be similar to #2653 and #2559.

Occurred in Chr

[2015-12-15 02:23] dmitrii-fediuk opened #2712 "\Magento\Framework\Image\Adapter\Gd2::open() does not free the previous GD image resource _imageHandler with imagedestroy before creating a new one"
https://mage2.pro/t/293

Similar to https://github.com/magento/magento2/issues/2694, https://github.com/magento/magento2/issues/2696

[2015-12-15 02:34] pborges opened #2713 "PUT /V1/carts/{cartId}/items/{itemId} No such entity with cartId = null"
Actual url

[code]

Post body

[code]

Response

[code]

[2015-12-15 02:35] matiasnombarasco commented on #2434
I found the problem in the template.
magento2/app/code/Magento/Catalog/view/frontend/templates/product/list.phtml

The form tag is misplaced.

Pull request in here: https://github.com/magento/magento2/pull/2714

Cheers

[2015-12-15 09:01] ishakhsuvarov commented on #2713
@pborges Thank you for reporting this.
Please try adding a `quoteId` param to the request body, e. g:

[code]

We have an internal ticket with id `MAGETWO-46732` to fix id duplication in such cases.

[2015-12-15 09:25] smaadjahangir commented on #2705
Can someone tell me the exact request which Nagento2 forward to Webserver. I'll try to dig the actual problem by issuing the request manually to Nginx.

[2015-12-15 09:28] smaadjahangir commented on #2700
@mazhalai How can i follow your mentioned ticket? Can you provide me the link to access it.

[2015-12-15 10:29] userException opened #2716 "List of GET request parameters in magento 2.0"
I have the list of 1.x version: https://github.com/magento/devdocs/blob/develop/guides/m1x/api/rest/get_filters.html

Link to 2.0 GET filters??

[2015-12-15 10:34] Vinai commented on #2716
You can find a list of API GET parameters in the [Swagger API Reference](http://devdocs.magento.com/swagger/index.html).
However, the Github issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions fo

[2015-12-15 10:34] #2716 closed, assigned to nobody

[2015-12-15 10:38] katmoon commented on #2597
Hi salelsol,

Have you found a workaround for the described issue?

[2015-12-15 10:58] katmoon commented on #2567
Hi,

Thanks for reporting the problem and for the workaround.
Internal ticket is MAGETWO-46877

[2015-12-15 11:07] arcadiatec commented on #2671
I have the same error..

someone has solved?

[2015-12-15 11:11] dusanmisic commented on #2614
I have same problem as @Elsharif but I didn't change anything (like keys or something else). Just admin url to simple /admin without underscore...
@mazhalai - for me not working on Firefox, too.
@Elsharif - Did you solve it?

[2015-12-15 11:48] mazhalai commented on #2700
@smaadjahangir It is for internal purposes only.

[2015-12-15 11:50] mazhalai commented on #2614
@dusanmisic you mean you have a redirect loop on Firefox? Or some other error?

[2015-12-15 11:55] dusanmisic commented on #2614
![magento2-problem](https://cloud.githubusercontent.com/assets/7780766/11809931/a897abfa-a32a-11e5-9359-a71713e39d62.png)

@mazhalai No redirect loops, just 404 Not Found

My configuration:
Ubuntu 15.04;
PHP Version 5.6.4-4ubuntu6.4;
MySQL 5.6.25-0ubuntu0.15.04.1;

Thanks for advice

[2015-12-15 12:30] mazhalai commented on #2699
@karthik-bgdins can you please be more specific about what you are trying to do?

[2015-12-15 12:51] Totarenx opened #2717 "Wishlist -> Add All to Cart 500 Internal Server Error"
Cant move two same bundle products with options to cart

/wishlist/index/allcart/?qty[10]=1&qty[11]=1

[2015-12-15 14:16] ghost opened #2719 "[Question] Preference not working in di.xml"
Hi,

I have a custom module where I'd like to extend the Base Handler

<preference for="Magento\Framework\Logger\Handler\Base" type="Custom\Foo\Handler\DefaultHandler" />

Strangewise this does not work in this specifc case, while other preferences are working fine like

<preference for="Psr\Log\LoggerInterface" type="Custom\BarFoo\Handler\BaseLog" />

Thanks for clarification

Best

[2015-12-15 14:17] ghost opened #2720 "[Question] Preference not working in di.xml"
Hi,

I have a custom module where I'd like to extend the Base Handler

[code]

Strangewise this does not work in this specifc case, while other preferences are working fine like

[code]

Thanks for clarification

Best

[2015-12-15 14:19] #2719 closed, assigned to nobody

[2015-12-15 14:31] tkn98 commented on #992
Any traktion on this one? +1 to have support for [`password_hash()`](http://php.net/password_hash). Also +1 for an option to auto-upgrade on first login to have backwards compat build in for a user-migration phase.

[2015-12-15 14:39] jvanderbiest opened #2721 "REST POST products unable to set stock qty"
When creating a new product using REST POST /V1/products

Sending the following JSON:

[code]

The stock qty is not updated, however, the "is_in_stock" field has been taken into account:
![image](https://cloud.githubusercontent.com/assets/3985995/11813413/a92818f4-a341-11e5-8a62-f192f0f18b3f.png)

What can be wrong here?

[2015-12-15 14:45] zanilee commented on #2691
Hi, @lgarridoj!

There could be a problem with permissions while running `grunt watch`
Try to run `sudo grunt watch`

[2015-12-15 14:56] Vinai commented on #2720
See https://github.com/magento/magento2/issues/2674 for an explanation of why it isn't working.

Also, the GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.mage

[2015-12-15 14:56] #2720 closed, assigned to nobody

[2015-12-15 15:03] techgh0st opened #2722 "Installation with Sample Data Removes Products from Category Pages on Initial Reindex"
After installation of Magento 2 Enterprise Edition for a client with sample data, reindexed via the CLI tool as shown:

[code]

Then cleared the cache by doing the following:

[code]

No issues were reported however all products stopped showing in their respective categories. The only fix I found for the issue was to re-save products in the backend to have them show correctly:
1. Products -> Catal

[2015-12-15 15:52] pborges commented on #2713
That did not work for me, this is the error I get now

[code]

It looks like its trying to display that item rather than attach?
I am using a PUT request

[2015-12-15 15:59] miguelbalparda commented on #2412
Some more info about this issue via @ryebell. It seems symlinks are being used for some files inside pub folder (JS in our case) and a chmod/chown -R is not enough to change its permissions.

[code]

Wasn't the use of symlink highly discouraged in Magento 1?

[2015-12-15 16:07] smaadjahangir commented on #2705
I think for some reason Nginx is not forwarding "X-Magento-Tags" and "X-Magento-Tags-patterns" header. OR the URL is getting null when Nginx is parsing request.

This person is facing similar issue:

https://community.magento.com/t5/Technical-Issues/Issue-with-purging-Varnish-cache/m-p/23784/thread-id/190

[2015-12-15 17:19] davidalger commented on #1388
This issue was caused by a bug in the sample data (see magento/magento2-sample-data#2). As this should be fixed, I'm going to go ahead and close this. Feel free to re-open the issue if you encounter the issue on a fresh install using the most current release.

[2015-12-15 17:19] #1388 closed

[2015-12-15 18:10] dgoyachev commented on #2435
Have same problem with fresh M2 install with test data (and w/o test data too).

JS error exactly as above,
SyntaxError: JSON.parse: unterminated string at line 1 column 354 of the JSON data

i belive that the error is concerned with this part of code from category page:

{&quot;categoryTree&quot;:{&quot;data&quot;:{&quot;id&quot;:1,&quot;parent_id&quot;:0,&quot;children_count&quot;:39,&quot;is_ac

[2015-12-15 18:36] ghost commented on #2722
I have never seen this. Why did you reindex after installing sample data? Was crontab set up? Did you see any other errors?

[2015-12-15 18:46] ghost commented on #2619
Yes having the same issue "getProductUrl() isn't returning a URL with the category in the path in the catalog pages"

[2015-12-15 19:12] ghost opened #2723 "_typography.less gives error"
Attempting to build a theme using the UI library. Per the instructions on http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/css-topics/using-fonts.html I have created a _typography.less file for custom fonts. This fails with the following.

[code]

 _typography.less includes

[code]

[2015-12-15 19:30] CNanninga commented on #2711
More clarification on this issue:  The crux of this problem is that Magento generates incorrect URLs for the JavaScript files being fetched in certain circumstances.

To reproduce, the environment setup must be such that /pub is being used as the web root directory, and the Magento base URL must be a sub-directory rather than the domain root (e.g., mysite.org/magento).

With this setup, when loadi

[2015-12-15 19:32] CNanninga commented on #2711
Clarification on the setup:  Using pub as the web root, yet making the base URL a sub-directory, requires soft-linking this sub-directory to pub.

[2015-12-15 19:49] okorshenko commented on #2721
Hi @jvanderbiest. As I see in your payload you have

[code]

where   `"product_id": 0`
Could you please try to create a product first and then add stock information?

[2015-12-15 20:21] alexhlynskyy commented on #1529
fuck you

[2015-12-15 20:54] okorshenko commented on #2678
@dfediuk , this event was left intentionally. Please, let us know if you have some issues with this event.

[2015-12-15 20:54] #2678 closed, assigned to okorshenko

[2015-12-15 21:11] ghost commented on #2720
Hi Vinai,

thans for the response. I was not sure if this was a bug, thats why I flagged it with question, but the reference you send is exactly what I was looking for

Thanks a lot

[2015-12-15 21:16] okorshenko commented on #2665
@dfediuk , that you for reporting the issue. Internal ticket: MAGETWO-46678

[2015-12-15 21:18] okorshenko commented on #2664
@degaray , thank you for reporting the issue. Internal ticket MAGETWO-46678

[2015-12-15 21:27] okorshenko commented on #2653
Please, see comments here https://github.com/magento/magento2/issues/2654

[2015-12-15 21:28] okorshenko commented on #2646
@dfediuk , that you for reporting. We will analyze your proposal in the next releases.

[2015-12-15 21:28] #2646 closed, assigned to nobody

[2015-12-15 21:34] okorshenko commented on #2649
@fooman , `\Magento\Store\Api\Data\StoreExtensionInterface` (`*ExtensionInterface` ) is autogenerated interface. Please, see https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Api/Code/Generator/ExtensionAttributesInterfaceGenerator.php

[2015-12-15 21:34] #2649 closed, assigned to okorshenko

[2015-12-15 21:36] mazhalai commented on #2696
@dfediuk thank you! We have created ticket MAGETWO-46918 to fix this.

[2015-12-15 21:39] Vinai commented on #2720
In future it probably would be best to first ask in the forums or on stackexchange, and then, should it look like it actually is a bug, to open an issue here on github.
I'm aware that currently this process has not yet been established, but we have been asked to help to get there as best as we can.
All the best!

[2015-12-15 21:39] mazhalai commented on #2692
@leroy0211 Please check permissions on your webserver. It does not matter if database is ready or not, setup should show up. Please check your browser's developer console for error message if any. Additionally, you can turn on developer mode for more information `bin/magento deploy:mode:set developer`

[2015-12-15 21:41] mazhalai commented on #2670
@danielc1234 please clean your `var` folder and try again. Also please pay close attention to file and folder permissions, and user groups. If not set up correctly, you may have issues. Since your original issue of Autoload_error is resolved, we are closing this issue. Please feel free to open a new one in case you come across more issues.

[2015-12-15 21:43] #2670 closed, assigned to mazhalai

[2015-12-15 21:56] fooman commented on #2649
Thanks for the hint. The problem that I encountered was that I used this in my unit test

[code]

which then fails with

Will check what I need to amend in my tests.

[2015-12-15 21:56] okorshenko commented on #2540
@bbraspenning , thank you for reporting the issue. Internal ticket MAGETWO-46678

[2015-12-15 22:05] okorshenko commented on #2599
@zenovix , please go to Magento root directory (where index.php file is located) and run `php ./bin/magento setup:static-content:deploy`
Please, let me know if this works for you

[2015-12-15 22:10] okorshenko commented on #2068
Closing. Considering on performance.

[2015-12-15 22:10] #2068 closed

[2015-12-15 22:17] okorshenko commented on #2125
@MageArray, Could you please, check latest version?

[2015-12-15 22:20] okorshenko commented on #2078
@amenk , please, let us know if you have other questions.

[2015-12-15 22:20] #2078 closed

[2015-12-15 22:36] kassner opened #2724 "Checkout UI does not display discount based on payment method"
Hi,

If you have a shopping cart rule that gives discount based on the payment method, when you're in the checkout frontend, changing the payment method won't update the right sidebar (the review block), so the user won't see the real grand total. The placed order has the right amount though. I couldn't find a javascript action to reload the review block.

Looks like this is a known issue since RC

[2015-12-15 22:40] DavidEu000 commented on #2435
Yes, can this be solved?

Thank you,

Best Regards,
David Eu

Sent from my iPad

[2015-12-15 23:25] CNanninga opened #2725 "setup/*.xml Config Files Not Read During Setup"
Some areas of the core code have config files defined for the "setup" area.  E.g., Magento_CmsUrlRewrite/etc/setup/events.xml.  However, these config files are not read during the command-line setup:upgrade operation.

Reproduction steps:
1. Create a module data upgrade script that saves a new CMS page.
2. Run "magento setup:upgrade".
3. Observe that, in the database, a new record exists in cms_pa

[2015-12-15 23:26] mazhalai commented on #2130
@tvlooy any update on this issue?

[2015-12-15 23:43] ReyMayson opened #2726 "Grid header in Safari"
Some grid headers doesn't render correctly in Safari 9 (Mac OSX El Capitan)
<img width="1158" alt="screenshot 2015-12-16 01 41 57" src="https://cloud.githubusercontent.com/assets/8927970/11827609/3b6b47b4-a396-11e5-93a5-11673db71dd4.png">

[2015-12-16 02:02] dmitrii-fediuk opened #2728 "\Magento\Framework\Image\Adapter\Gd2::save() does not free the previous GD image resource _imageHandler with imagedestroy before creating a new one"
https://mage2.pro/t/294

Similar to https://github.com/magento/magento2/issues/2694, https://github.com/magento/magento2/issues/2696, https://github.com/magento/magento2/issues/2712

[2015-12-16 02:18] #2520 closed, assigned to nobody

[2015-12-16 02:19] davidalger commented on #2507
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-12-16 02:19] #2507 closed, assigned to nobody

[2015-12-16 02:21] davidalger commented on #2501
@tmudarikwa Is this still an issue for you or was it resolved by cleaning things up?

[2015-12-16 02:24] davidalger commented on #2505
@kobid The message in the report file indicates that the apache user (or php-fpm if used) does not have write permission to the var/generation directory. Please ensure that directory is writable. You may check out #2412 for some ideas on the permissions trouble, as that is a duplicate of what you are running into. You may try heading over to the [Community Forums](https://community.magento.com) or

[2015-12-16 02:24] #2505 closed, assigned to nobody

[2015-12-16 07:12] paul-sidd commented on #829
I tried the same thing,
1. created new integration in magento 2 through admin console.
2. Activated the new integration created in first step.
3. copied the consumer key and consumer secret.
4. using scribe framework, tried to access the request token key , but getting error

Exception in thread "main" org.scribe.exceptions.OAuthException: Response body is incorrect. Can't extract token and secret

[2015-12-16 07:17] paul-sidd opened #2729 "Not able to access Request Token to use REST API in Magento 2"
Followed these steps:
1. created new integration in magento 2 through admin console.
2. Activated the new integration created in first step.
3. copied the consumer key and consumer secret.
4. using scribe framework, tried to access the request token key , but getting error

Exception in thread "main" org.scribe.exceptions.OAuthException: Response body is incorrect. Can't extract token and secret f

[2015-12-16 08:59] tvlooy commented on #2130
I'll re-test next week.

[2015-12-16 09:17] vkholoshenko commented on #2462
Hi, @influxive! I can't reproduce this on Magento 2 stable (2.0.0).
Could you please verify whether the issue still present?

[2015-12-16 09:19] vkholoshenko commented on #2016
Internal ticket: MAGETWO-43771

[2015-12-16 09:20] ishakhsuvarov commented on #2693
@dfediuk Thank you for reporting this issue.
We have created an internal ticket `MAGETWO-46922` to fix it.

[2015-12-16 09:22] vkholoshenko commented on #2017
Hi @dfediuk,  we haven't heard back from you and, thus, will proceed with closing this issue. In case you have any additional questions, please don't hesitate to reopen the issue (or create a new one).

[2015-12-16 09:22] #2017 closed

[2015-12-16 09:26] ishakhsuvarov commented on #2713
@pborges `PUT /V1/carts/:cartId/items/:itemId` is used to update the item.
If you wish to add another item to the cart please refer to `POST /V1/carts/:cartId/items`.

[2015-12-16 09:27] influxive commented on #2462
yes it is still
i tried to import products from 1.9.2 and all products were imported
but after that neither i can add products or edit products coz its always blank

[2015-12-16 09:28] jvanderbiest commented on #2721
Thanks @okorshenko, I thought everything could be done with 1 request but it seems that I need a POST and then a PUT for setting stock values. Confirmed working.

[2015-12-16 09:28] ishakhsuvarov commented on #2724
@kassner Thank you for reporting this issue.
We have internal ticket `MAGETWO-45339` to fix it.

[2015-12-16 09:33] #2420 closed, assigned to ishakhsuvarov

[2015-12-16 09:33] #2484 closed, assigned to ishakhsuvarov

[2015-12-16 09:35] ishakhsuvarov commented on #2515
@fooman Closing this, since fix for this issue is already available in the develop branch.
Feel free to reopen if you have any questions.

[2015-12-16 09:35] #2515 closed, assigned to ishakhsuvarov

[2015-12-16 09:36] ci2014 opened #2731 "Poor loading times on "first called pages""
Hello everyone,

I am experiencing poor loading times, usually 1-3 seconds, but also up to 25 seconds, with my magento 2 instance, when a page was not called before.

When i watch 'top', I can see, that the process is going up to 99 percent of CPU usage and shrinks down, when the page itself is loaded.

This seems to be a problem with the cache, because pages, which were called before, load immedi

[2015-12-16 09:39] ishakhsuvarov commented on #2551
@nyov Fix for this issue is already available in the `develop` branch, closing this ticket.
Feel free to reopen if you have any questions.

[2015-12-16 09:39] #2551 closed, assigned to ishakhsuvarov

[2015-12-16 09:46] ishakhsuvarov commented on #2708
@erikhansen Thank you for reporting this.
We have created an internal ticket `MAGETWO-46924` to investigate and fix the problem.

[2015-12-16 09:47] ci2014 opened #2732 "Combining JS, Merge JS, Minify JS"
Hello everyone,

using the features to combine, merge and minify JS files in the Magento Backend, causes javascript errors, which leads to the problem, that the admin menu won't slide out.

http://magento/pub/static/version1450257641/adminhtml/Magento/backend/de_DE/requirejs/require.min.js Failed to load resource: the server responded with a status of 404 (Not Found)
http://magento/pub/static/vers

[2015-12-16 09:49] ghost commented on #2674
@astorm I'm facing similar issues but I dont have a problem with plugins but with `<preference ..>` for Magento\Framework\Logger\Handler\Base, but I strongly belive this is related

[2015-12-16 09:52] ahmadhattab commented on #2731
Could you please enable the magento log and share it with us ...

[2015-12-16 09:55] okobchenko commented on #2731
Hi, Chris.

Thank you for your question. In general issue or mis-configuration can be easily identified by response time:
- Catalog with Page Cache will respond in 50-150ms
- Catalog page without Page Cache (or in case it is not warmed up for certain page) lead to 400-1500ms depending on the page and environment
- Catalog page without any cache activated or warned will respond in 2-4 seconds
- In

[2015-12-16 10:21] vkholoshenko commented on #2462
@influxive, it looks like there is an exception during form rendering. Could you please attach your var/log/system.log and var/report/\* files ?

[2015-12-16 10:25] vkholoshenko commented on #2597
Possibly related to #2462

[2015-12-16 10:48] vkholoshenko commented on #2637
@vpatidar009, could you please confirm that the issue still reproduces on stable 2.0.0 ?

[2015-12-16 10:53] cscd98 commented on #2117
@asemenenko Sounds good to me, do you think you will implement the feature?

[2015-12-16 10:53] #2051 closed

[2015-12-16 10:54] cscd98 commented on #2732
@ci2014 I reported this problem a long time ago but they weren't able to reproduce it
https://github.com/magento/magento2/issues/1203

[2015-12-16 10:55] #2488 closed, assigned to nobody

[2015-12-16 11:17] vkholoshenko commented on #2619
Hi, @tigerx7. Thanks for reporting the issue! We've created an internal ticket MAGETWO-46927 to process it.

[2015-12-16 11:57] SasiKiranK commented on #1958
Hi Team

Any Updates on this issue

Regards
Sasikiran K

[2015-12-16 11:57] thomasnordkvist opened #2733 "GET /V1/products/attributes/{attributeCode}/options only returns label value for Default View"
When i request
/V1/products/attributes/{attributeCode}/options
It only returns label and value for Default View

[code]

In the documentation at http://devdocs.magento.com/swagger/
it should return something like this:

[code]

/Thomas

[2015-12-16 12:16] hellsanos commented on #1652
Hi all
I am currently stuck on the same problem. Did the same tasks as described by @cshaw-inviqa with same result. Wrong logo is displayed in the emails.
Also no pub/static/frontend/VENDOR/THEME/lang_LANG/Magento_Email directory with the logo_email.png in it is created...

Any success yet on that "bug"?

[2015-12-16 12:16] christopherdarling commented on #2648
I initially had this issue but added a custom php.ini as the .htaccess php_value wasn't working, the installer got to 90% but failed with this in the system.log

[code]

[2015-12-16 12:24] tigerx7 commented on #2619
Good to hear. I've been studying the code trying to get my head around it by following the creation of the URL path in the catalog models. I got as far as getUrl() in \Magento\Catalog\Model\Product\Url. I'm able to confirm the following values in my test setup right before an instance of \Magento\Framework\UrlFactory gets created on the last line:

$storeId = 1, $routePath = "catalog/product/view"

[2015-12-16 12:43] praful-rajput commented on #1619
I am facing this issue. Anyone can help me please to fixed it ?

![grunt-exec-all-issue](https://cloud.githubusercontent.com/assets/648859/11841066/933785cc-a420-11e5-9229-868b5ea59adb.png)

[2015-12-16 13:02] mazhalai commented on #2648
@christopherdarling Did you have a previous installation with sample data? I would suggest cleaning your database and trying again.

[2015-12-16 13:13] mayhem-ahmad opened #2734 "change logo size in cms page Layout Update XML textarea ."
I'm trying to change the logo height and width from the cms page Layout Update XML textarea in the admin panel , by adding the following code But it's not working .

![screenshot from 2015-12-16 15 15 44](https://cloud.githubusercontent.com/assets/7792892/11841739/0e861978-a408-11e5-8686-51a1c13ad7c4.png)

your help is much appreciated .

Thanks!

[2015-12-16 13:54] MomotenkoNatalia commented on #2682
@WebCenterShop-com  you are completely right! We will fix this. Internal ticket: MAGETWO-46933
Thanks!

[2015-12-16 14:34] erikhansen commented on #2708
@ishakhsuvarov Thanks.

[2015-12-16 14:37] tkn98 opened #2736 "Database port missing in Magento Setup Model"
The database connection in the Magento Setup Model does not take the database port setting into account.

[2015-12-16 14:44] zanilee commented on #2734
Hi, @mayhem-ahmad!

Thank you for reporting this issue! Internal ticket MAGETWO-46936

[2015-12-16 14:46] tkn98 commented on #2736
You can reporduce that by checking out an existing shop that needs setup updates and has the database on a non-standard port. In development mode, Magento gives in the browser a message like (shortened):

[code]

You will see failure when running the suggested command like `php -f bin/magento -- setup:upgrade`, e.g. an exception message like:

[code]

Which is Magento trying to connect to the data

[2015-12-16 15:12] christopherdarling commented on #2648
Yeah, we did... dropped the db and re-created it though...

[2015-12-16 15:16] bossbom opened #2737 "Can't change design of store view in "configuration""
All new store view have same design of "Default store view" on frontend.

I install a fresh Magneto CE2 with sample data downloaded on magento.com
I create a new store view named "French". Now I have two store view : "Default store view", "French"
I disable all cache.
I go to "Stores" -> "Configuration" -> "Design", change design of "French" to "Mangento/Blank", change design of "Default store vie

[2015-12-16 15:23] mazhalai commented on #2648
@christopherdarling We havent seen this issue before, so can you help us reproduce it? What steps did you follow? How are you deploying magento2? Via zip from magento.com, using git clone, or composer create project? How did you deploy sample data?

[2015-12-16 15:25] pborges commented on #2713
Ok, I will try that. However the swagger documentation says

[code]

[2015-12-16 15:28] christopherdarling commented on #2648
I had deployed Magento onto a Vagrant box (apache2, php5.6, MariaDB 10), an
extract of the zip (with sample data).  Let me know if you want me to try
anything...

[2015-12-16 15:55] tmudarikwa commented on #2501
@davidalger  no it is not an issue anymore. The database clean up cleared up things.

[2015-12-16 15:55] #2501 closed, assigned to nobody

[2015-12-16 16:02] ishakhsuvarov commented on #2713
@pborges Thanks, we will check and fix documentation on this topic.

[2015-12-16 16:16] zanilee commented on #2723
Hi, @jupiter01!

The documentation article is outdated a little bit. We've renamed all Magento UI library mixins and added "lib-" prefix to them.

So try to use `.lib-font-face` instead of just `.font-face`

And we'll update the documentation, thank you. Internal ticket: MAGETWO-46947

[2015-12-16 16:18] exidoncom commented on #2548
having the same problem on osx capitan, trying to install mag2 using composer

[2015-12-16 16:41] longbeachjamie opened #2738 "CacheFactory does not exist?"
Not sure if I missed something on the install but when I click on products I'm getting the following error:

Class Magento\Catalog\Model\Product\Image\CacheFactory does not exist

(with an additional 60 lines of code)

Environment: AWS EC2 - Ubuntu 14.04, Nginx 1.4.6, php5-fpm, PHP 5.5.9, Zend OPcache v7.0.3, MariaDB 15.1 Distrib 10.0.22,

[2015-12-16 16:43] ghost commented on #2723
Thank you.

[2015-12-16 16:44] #2723 closed, assigned to nobody

[2015-12-16 16:51] ci2014 commented on #1203
Hello craig, thank you for referencing. I see the errors as mentioned in my issue:

http://magento/pub/static/version1450257641/adminhtml/Magento/backend/de_DE/requirejs/require.min.js Failed to load resource: the server responded with a status of 404 (Not Found)
http://magento/pub/static/version1450257641/adminhtml/Magento/backend/de_DE/mage/requirejs/mixins.min.js Failed to load resource: the se

[2015-12-16 17:07] dexterityzx opened #2739 "Configurable product - can not use custom options"
it shows 'We can't save custom-defined options with price type "percent" for configurable product.' even when the price type is 'fixed'. Please check this.

[2015-12-16 17:28] ci2014 commented on #2732
@craigcarnell Thank you for referencing. I hope we will figure something out.

I disabled it via phpmyadmin in the table core_config_data, setting nearly all "paths" containing "merge" and "minify" in their names to 0, but left dev/template/minify_html 1, because this is not causing any problems. We should not ignore this bug though.

[2015-12-16 17:42] davidalger commented on #2637
@vpatidar009 I cannot reproduce the issue in an M2 stable 2.0.0 install with sample data. The UI functions and allows me to select the category just fine. Can you confirm the version you're running on is stable 2.0.0 and also open the inspector and post the actual JS errors here so we can see what's going awry?

[2015-12-16 17:54] ci2014 commented on #2731
Thank you both for your replies.

@ahmadhattab Which log may I share with you. I know there are different log files in the var/log folder.
@okobchenko The pages, which are taking too long to load are mostly product pages. The catalog pages load faster than most product pages.

In my .htaccess file SetEnv MAGE_MODE xyz is commented out.

php bin/magento deploy:mode:show returns Current application

[2015-12-16 18:08] MomotenkoNatalia commented on #2680
@WebCenterShop-com Thanks for reporting this issue! Internal ticket - MAGETWO-46965

[2015-12-16 18:43] mazhalai commented on #2725
@CNanninga Thank you, we have created MAGETWO-46966 to fix it.

[2015-12-16 18:44] longbeachjamie commented on #2738
Nevermind, this seemed to fix itself after adding in sample data.

[2015-12-16 18:44] #2738 closed, assigned to nobody

[2015-12-16 18:55] astorm commented on #2674
@xhallix Yes, it's the same problem.  Basically, the developer mode object manager needs to instantiate some classes before the di.xml files are fully loaded.  That includes class preferences.  Compile your di stuff with `setup:di:compile` and you should be set.  (also, if possible, considering **not** using a preference.  If there's a public method available a Plugin is going to be more supportab

[2015-12-16 23:08] tarwin commented on #1484
I had the same problem on Windows 10. SKovbel's solution fixed it, but I'm not sure what the consequences will be.

[2015-12-16 23:19] tiagosampaio opened #2742 "Only variables can be passed by reference in [file path]"
Hi,

After authenticating in backend, the following exception appears:
<i>
<b>Fatal error</b>: Only variables can be passed by reference in <b>/var/www/magentos/community/2.0.0/html/app/code/Magento/Backend/view/adminhtml/templates/system/search.phtml</b> on line <b>31</b>
</i>

Thanks,

Tiago

[2015-12-16 23:21] tiagosampaio commented on #2742
The same thing occurs with the following file:

<i>
<b>Fatal error</b>: Only variables can be passed by reference in <b>/var/www/magentos/community/2.0.0/html/app/code/Magento/Catalog/view/adminhtml/templates/product/edit/attribute/search.phtml</b> on line <b>27</b>
</i>

Thanks,

Tiago

[2015-12-17 00:20] ghost commented on #2525
@karthickannan Main reason is that I have never seen this issue. I have installed Magento 2 many times on Ubuntu and CentOS. Other than this GitHub issue, I am not aware it's been reported.

That's why I put it in troubleshooting.

[2015-12-17 00:56] nyov commented on #2551
Hmm, I was certain I used an up-to-date `develop` when testing.
Thanks for fixing of course, as always.

[2015-12-17 02:12] sarjangautam commented on #2051
Hi ,

I am trying to test Data Migration functionality for EE 1.14.2.2 to M2. Please let me know if it is available now.

Regards,
Sarjan

[2015-12-17 03:00] drbn commented on #1484
I am out of the office until 21/12/2015.

Gelieve voor dringende zaken naar support@axi.be te mailen

Note: This is an automated response to your message  "Re: [magento2]
Missing backend + no css (#1484)" sent on 17/12/2015 0:24:01.

This is the only notification you will receive while this person is away.

[2015-12-17 04:17] dmitrii-fediuk opened #2743 "\Magento\Framework\Image\Adapter\Gd2::resize() does not free the previous GD image resource _imageHandler with imagedestroy before creating a new one"
https://mage2.pro/t/295

Similar to https://github.com/magento/magento2/issues/2694, https://github.com/magento/magento2/issues/2696, https://github.com/magento/magento2/issues/2712, https://github.com/magento/magento2/issues/2728

[2015-12-17 07:02] ghost opened #2744 "Not able to fetch my custom fields data from customer view in admin."
I have created a tab in Admin customer view with custom fields by phtml. But when saving customer, i am not able to get data in observer.

[2015-12-17 09:32] henrijouve commented on #2671
Same error for me.

[2015-12-17 09:32] vpatidar009 commented on #2637
Hello Guys,

Sorry for delay.

I have download magento from here http://awesomescreenshot.com/05b5hogbd7 .

Console's screenshot attached
![console-screenshot](https://cloud.githubusercontent.com/assets/16207791/11866165/3403c62e-a4cf-11e5-9126-b61314bfc88d.png)

Thanks,
Vishal

[2015-12-17 09:38] ilol commented on #2051
Hi @sarjangautam, this is available for EE license owners. The EE Migration Tool code is stored in the hidden repository. Request the access to your Magento representative.

[2015-12-17 10:07] tzyganu opened #2746 "Autoselecting configurable product options does not work with the swatches module enabled"
**Preconditions**:
- magento v2.0.0 installed
- catalog module version:
  - 2.0.3 in module.xml
  - 100.0.2 in composer.json
- configurable products module version:
  - 2.0.0 in module.xml
  - 100.0.2 in composer.json
- swatches module version:
  - 2.0.0 in module.xml
  - 100.0.2 in composer.json
- full sample data installed (this is not mandatory)

**Steps to reproduce**
- visit a configurable pr

[2015-12-17 10:12] odubovyk commented on #2683
Thank you for your question.
Talking about "name" attribute I imply that it is about Forms.
The "name" attribute is used when sending data from form controls to a server in a form submission.
Also it is used to group form controls like radio buttons.

Please specify more clearly the issue, if you implied something different, and my response was not sufficient.

[2015-12-17 11:02] odubovyk commented on #2683
Sorry, I didn't get your point promptly.
Yes, there is such issue, and we will consider it carefully.
After that we will notify you about our further steps on this issue.

[2015-12-17 11:24] okobchenko commented on #2731
I believe there is a mix of developer workflow tools and attempts to switch everything to production mode.

In order to switch M2 into most performant mode (also called "production", but not limited just by setting environment variable in htaccess or nginx.conf file) next steps should be done:
- Activating of client side performance features (is not the reason of slow server response, but recommen

[2015-12-17 11:29] userException commented on #2713
@pborges did you manage to solve this via post ? It give same response with post, as if it is trying to update the product

[2015-12-17 11:49] rohitpenmetsha commented on #2599
@diglin  @okorshenko : I am also trying to install mangento 2 on hostgator account and i ran the command _php bin/magento setup:static-content:deploy_ but no luck loading the css/js files even though the command executed successfully .

[2015-12-17 12:48] wkaminsk opened #2747 "Reset orders gives fatal error"
Have a order model, did clone and then tried to reset cloned object. It gives fatal error :
Fatal error: Call to a member function setOrder() on null in /vendor/magento/module-sales/Model/Order.php on line 1445

Regards,
Wojtek.

[2015-12-17 12:56] BlackIkeEagle commented on #1619
@vasuscoin

from what I see you have grunt installed globally.

Following steps must be completed before grunt {exec,watch,...} will work:

[code]

If you are working on a custom theme you probably will have to update `dev/tools/grunt/configs/theme.js`

before you run `grunt watch` or `grunt exec` make sure your static files are cleared and you run `bin/magento dev:source-theme:deploy` with the ap

[2015-12-17 13:00] wkaminsk opened #2748 "Order data issue in observers"
Hi,
I tried to push orders data to 3rdParty webservice. I created observer for event sales_order_place_after - order Id is missing here. I believe it's not a bug - order is not saved in database.
So then I've tried to use sales_order_save_after gives empty array of items, no payment method information. Tried to load it again with `ordermodel->load(id_of_order)` but it gives empty data again.
I'm p

[2015-12-17 13:28] powerhousefitness opened #2749 "The meta description for products allows up to 255"
Hi

The meta description for products allows up to 255 characters and google only allows a max of 115.

The meta title should also be limited to 55 characters.

Thanks
John

[2015-12-17 13:30] powerhousefitness commented on #2749
Just a note that Bing has a different limit so may be worthwhile looking at all search engines to see the max we should allow.

Regards
John

[2015-12-17 13:38] sumanparihar opened #2750 "Magento2 reindex is not working with php7"
Hello,

Thanks in Advance. I got issue when i try to re-index in magento2 using command line.

I got segment fault error. i have already assigned unlimited memory to all. i am using Ubuntu os.

Thanks
Suman

[2015-12-17 13:40] ishakhsuvarov commented on #2658
Closing this issue, as the fix has been delivered to the `develop` branch.

[2015-12-17 13:40] #2658 closed, assigned to nobody

[2015-12-17 13:42] praful-rajput commented on #1619
@BlackIkeEagle
I have done all above process once again. Still , same issue is here.
I have donwloaded this m2 Full Release with Sample Data (ZIP with sample data) from https://www.magentocommerce.com/download

Is any solution please ?

[2015-12-17 13:48] BlackIkeEagle commented on #1619
@vasuscoin Could you test it in a vagrant (linux) machine. Maybe its just an issue with windows. If so I cannot really assist you since I have no access to a windows machine.

You can use https://github.com/alankent/vagrant-magento2-apache-base for quick testing.

[2015-12-17 13:59] ishakhsuvarov commented on #2713
@pborges @userException
To add an item to the existing cart you may use the following:
`POST /V1/carts/:cartId/items`

[code]

[2015-12-17 14:04] ishakhsuvarov commented on #2674
Thank you for reporting.
We have created an internal ticket `MAGETWO-47009` to investigate and fix the issue.

[2015-12-17 14:15] antonkril commented on #2721
There should be ability to POST this data in one request.

[2015-12-17 14:45] davidalger commented on #2637
@vpatidar009 Thanks for that screenshot! The info there shows the static asset URLs are including `pub` when the site not have that in the URL. I believe this is the same issue as #2711. I'm going to try creating a reproducible test case causing `pub` to be wrongly included in the URLs built in the admin.

[2015-12-17 14:47] davidalger commented on #2637
Oh…one thing you might try for now…install the site directly on the IP / hostname vs in a sub-directory. I.e. so it doesn't have `ashishmagento2` in the URL. It may help.

[2015-12-17 15:26] okorshenko commented on #2721
@jvanderbiest , could you please review this test https://github.com/magento/magento2/blob/develop/dev/tests/api-functional/testsuite/Magento/CatalogInventory/Api/ProductRepositoryInterfaceTest.php#L33

Seems like this test covers your case. Please, try to fix your payload.
As I see, you need to remove `item_id` and `product_id` form payload for inventory.
See test:

[code]

Please, let me know if

[2015-12-17 15:36] tanya-soroka commented on #2739
Hello @dexteritycc , thanks for reporting this issue. Could you please tell us which version do you use?

[2015-12-17 15:49] tanya-soroka commented on #2746
Hello @tzyganu , thanks for reporting this issue. Internal ticket has been created: MAGETWO-47023.

[2015-12-17 15:52] dexterityzx commented on #2739
Magento 2 (Community Edition) 2.0.0

[2015-12-17 15:59] dexterityzx commented on #2739
![untitled1](https://cloud.githubusercontent.com/assets/13892193/11874364/377b5028-a4ad-11e5-9595-51dd2b0f1600.png)

[2015-12-17 16:19] antboiko commented on #2749
Hi @powerhousefitness , thank you for reporting this issue. We have created an internal ticket MAGETWO-47025 to apply suggested limit.

[2015-12-17 16:47] davidalger commented on #2658
@ishakhsuvarov Looks to me like the wrong file was removed. This is now the _only_ case of a file named Multiselect.php with the S capitalized. This should follow the same convention as everywhere else in the system. Will you guys consider correcting that?

[code]

[2015-12-17 16:48] #2080 closed

[2015-12-17 16:52] davidalger commented on #2525
@karthickannan IMO this wouldn't belong in the standard "do this" procedures because setting the `setgid` flag can also cause issues. Ex: the CLI user may no longer be able to remove the files created by the web user, even if it belongs to the group. So while this does accomplish "forcing" the group to be set correctly, it does have other side-effects. This wouldn't be an issue if, for example, ph

[2015-12-17 17:11] davidalger commented on #2749
Throwing my two cents here, but Magento should not limit the meta title based solely on what search engines include in their index. Might affect what merchants want to store in there? Sure…but a merchant might include this meta title to a bunch of different feeds with variable max lengths, including internal search feeds.

[2015-12-17 17:27] antboiko commented on #2749
@davidalger thank you for your input regarding meta title, makes sense.

[2015-12-17 17:44] mazhalai commented on #2750
@sumanparihar I think it depends on how PHP7 was installed. Can you please give us more information on how did you install PHP7?

[2015-12-17 17:45] nkarthickannan commented on #2525
@xcomSteveJohnson That makes sense !! Thank you

@davidalger chown -R magento:www-data \* In this command, magento is the owner of the files and www-data is the group. CLI commands will be run as magento user. By setting the setgid flag, we are forcing the owner:group relationship to be the same. Hence the CLI commands will create the files with magento as owner and www-data as group.

Why owner w

[2015-12-17 18:51] powerhousefitness commented on #2749
Yes sorry title should not be included as it used for page title. ty chaps

[2015-12-17 20:02] techgh0st commented on #2722
1. Sample data was included with the package itself. This was not a magento installation that later installed sample data on it, but rather it is the Magento 2.0 package with the sample data installation that the client provided as it is the enterprise edition and not the community edition.
2. Reindexing was done as the client claimed that all products stopped showing after they attempted to add a

[2015-12-17 20:31] rohan-mishra-sf commented on #1549
Installed sendmail, but no change. If i add a product myself in a new category i created, then that product displays. However sample products which were imported do not display.

[2015-12-17 22:28] CNanninga commented on #2711
Confirmed that this issue actually does occur on sites that are NOT set up with a sub-directory as the Magento root.  Production mode seems to be the common factor.

[2015-12-17 22:30] davidalger commented on #2525
@karthickannan The only issue is in possible differences in file ownership and how the sticky bit applies, and I realize I was a bit unclear…the issue is not with the setgid flag, but with the sticky bit. And I realize now (after re-reading, that is), that the sticky bit wasn't included in the recommended change, only referenced by accident. :)

With the permission setup you outlined above and php

[2015-12-17 23:18] erikhansen opened #2751 ""base_tax_amount" is inaccurate for Credit Memo items"
## Explanation of issue

When a store is configured to use a different currency than the **Base Currency** and multiple credit memos are created for an order, credit memo items will have an inaccurate "base_tax_amount" value. I've solved this issue in this one-line PR: #2753
## Steps to reproduce issue
1. Install Magento CE 2.0.0 with sample data.
2. Configure the store to use a non-USD currency.

[2015-12-17 23:19] CNanninga opened #2752 "Reviews summary not showing in Products List widget"
While the CatalogWidget::product/widget/content/grid.phtml template should be displaying a reviews summary, this is not part of the output.  From preliminary investigation, getRatingSummary on the product objects returns nothing in this context.

[2015-12-18 01:16] alankent commented on #2671
Hi. Not a solution, but I wanted to make sure you were not following the steps above for building a production site. Production sites should not use 'master' from the git repo. For example, master now includes some Magento 2.1 functionality (under development). It is half way between 2.0 and 2.1. It is always recommended to build production sites using officially released composer packages. Otherw

[2015-12-18 01:50] pborges commented on #2713
@userException post worked perfectly providing the item is "In Stock"

[2015-12-18 03:29] davidalger commented on #2748
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-12-18 03:29] #2748 closed, assigned to nobody

[2015-12-18 07:03] sumanparihar commented on #1498
bin/magento indexer:reindex catalogsearch_fulltext is not working. It's display "segment fault" error. After status change from "reindex-require" to "Processing". it's not completed. How to reindex again and where index related file Store

Thanks
Suman

[2015-12-18 07:26] dmitrii-fediuk opened #2754 "\Magento\Framework\Image\Adapter\Gd2::rotate() does not free the previous GD image resource _imageHandler with imagedestroy before creating a new one"
https://mage2.pro/t/296

Similar to https://github.com/magento/magento2/issues/2694, https://github.com/magento/magento2/issues/2696, https://github.com/magento/magento2/issues/2712, https://github.com/magento/magento2/issues/2728, https://github.com/magento/magento2/issues/2743

[2015-12-18 08:28] sumanparihar commented on #2750
I follow same as php7 installation guide show.
Other thing is working fine even project speed is much better. but only re-index issue with one (catalogsearch_fulltext).

Please update me if any other way to  re-index (catalogsearch_fulltext) after ststus "Processing".

Thanks
Suman

[2015-12-18 08:33] sumanparihar commented on #1075
i try to do re-index in magento stable version using command bin/magento indexer:reindex catalogsearch_fulltext.

But it's display segment fault error with index status change from "require reindex" to "Processing".
Please tell me after change status howe i can reindex this .

Where it's lock file create in magento2

Thanks
Suman

[2015-12-18 09:00] izmailov-labs opened #2755 "Problem in price-options.js. Extra price adds for all product on the page."
When you fill options input prices changes for all products on the page.
See screanshot:

![erika running short 2015-12-18 10-40-52](https://cloud.githubusercontent.com/assets/972489/11892792/f9d2428c-a573-11e5-8061-329272eda821.png)

After fill option field

![erika running short 2015-12-18 10-41-37](https://cloud.githubusercontent.com/assets/972489/11892802/09ae94da-a574-11e5-8ef1-aa5f3f457832.p

[2015-12-18 09:36] antboiko commented on #2737
Hello @bossbom , I've tried to reproduce this issue but no success. What is the result with enabled cache? Could you please provide me with screenshots of "Design Theme" section for both store views you have?

Thanks.

[2015-12-18 10:40] salelsol opened #2756 "Shopping Cart not show up summary if is a registered customer"
When add a product a not logged customer works fine, but when is a registered customer then shopping cart not show up summary.
![shopping_cart_summary](https://cloud.githubusercontent.com/assets/16081377/11895074/eb7da1ce-a57b-11e5-967b-0afacd216d6a.jpg)
![shopping_cart_guest](https://cloud.githubusercontent.com/assets/16081377/11895112/20c21eaa-a57c-11e5-9d84-4c5d516d88d3.jpg)

[2015-12-18 10:45] jvanderbiest commented on #2721
Hi, I confirm it's working with 1 call when leaving out: item_id, product_id, stock_id while inserting the product. Thanks for the test link.

[2015-12-18 10:45] #2721 closed, assigned to nobody

[2015-12-18 10:49] vpatidar009 commented on #2637
Ok, let me install the site directly on the IP / hostname.

Thanks,
Vishal

[2015-12-18 11:34] userException commented on #2713
@pborges @ishakhsuvarov  This worked for me..

Also, I was trying to update the product in the cart. How can I decrease the quantity? I tried sending -1 in "qty" parameter via a PUT request but it increased the quantity.

And deleting the product removes the whole product and does not decrease the quantity, which is correct. But what can be used for updating a product in the cart.

[2015-12-18 11:46] ishakhsuvarov commented on #2713
@userException To update the item in cart please try the following:
`PUT /V1/carts/:cartId/items/:itemId`

[code]

You may obtain the list of items and their `itemId` for the specific cart using `GET /V1/carts/:cartId/items`.

[2015-12-18 12:10] praful-rajput opened #2757 "Currency rates import service is loading all rate for activated currencies."
Its loading rate only of EUR & USD. Is there any bug ?
![curerncy-import](https://cloud.githubusercontent.com/assets/648859/11896627/361079aa-a5ae-11e5-9f41-492d0571e01f.png)

[2015-12-18 12:17] MathijsDelva opened #2758 "<background> and crop in view.xml not working"
I am trying to get my grid images cropped without any framing. I seem to have two issues with this:
1. I am not able to crop my images to a certain width/height without creating a (white) frame. Ideal situation would be that my uploaded images get pushed inside the image container, filling both width and height while maintaining the aspect ratio. Much like the cover function in css.
2. Not being a

[2015-12-18 13:52] nkarthickannan commented on #2525
@davidalger

First of all, thank you for your time in drafting such a big response :)

1) I completely understand that sticky bit was not intended. It was a minor mistake. Instead of setgid he mistakenly told sticky bit. So, we need not to worry about this point.

2) In this issue we are talking about the files under {MAGENTO_INSTALLATION_DIRECTORY}var/generation/Magento. I hope that only the CLI

[2015-12-18 14:01] jasperzeinstra opened #2759 "Enhanced E-commerce | Wrong block_name defined so no impressions are pushed to DataLayer"
In `vendor/magento/module-google-tag-manager/view/frontend/layout/catalog_category_view.xml` the `block_name` is defined as `category.products.list`. But in `vendor/magento/module-google-tag-manager/view/frontend/templates/js.phtml` there's a for each that uses `product_list`. The value `category.products.list` should also be used in `js.phtml`. This is the correct name of the block.

[2015-12-18 14:35] notmii commented on #2548
This thing also happen to me. It seems the installation of **php5-mcrypt** does not automatically enable it on **CLI**.

confirmed this by running **php -m**

To solve it just enable it on CLI by running the ff. command
**/etc/php5/cli/conf.d**$ sudo ln -s ../../mods-available/mcrypt.ini

[2015-12-18 15:13] alexey-svistunov opened #2760 "Wishlist add to cart quantity"
Can't set product qty adding product to cart. If you set number in qty field and click "add to cart" button only one product is added to cart.

![Whishlist issue preview 1](http://i.imgur.com/SnYzmmW.png)

As you can see qty field is set to add 5 products but only 1 product is added.

![Whishlist issue preview 2](http://i.imgur.com/K7TcJQd.png)

It's not quite intuitive to have to click "Update wi

[2015-12-18 15:52] mazhalai commented on #2671
+1, but @alankent I think you meant `develop`, there is no longer a `master` branch only `develop`, `2.0` and `merchant_beta`

[2015-12-18 16:37] buskamuza commented on #2671
Hi @j88per ,

Some notes about the steps:
1. git clone magento 2
2. git checkout master - as @mazhalai mentioned, `master` branch does not exist anymore. If you want to use the latest version, please, use `develop` branch.
3. composer install
4. Use setup wizard to install magento 2
5. bin/magento deploy:mode:set developer
6. edit .htaccess and enable developer mode - it's not needed, as you switc

[2015-12-18 17:08] choma828 opened #2761 "The Rating Stars are now showing on Upsell and Related Products"
I'm making a magento 2 theme.

I added below code for showing rating stars on upsell and related products, but it doesn't show the rating stars in /app/design/frontend/Vendor/ThemeName/Magento_Catalog/templates/product/list/items.phtml file.

[code]

Is this bug or what am I missing?

Anyone know how to show the rating stars for upsell and related products?

Regards

[2015-12-18 17:20] ci2014 commented on #2731
@okobchenko

Thank you for your advice. That steps are important for setting M2 into production mode.

I already ran those commands successfully.

It did not help. I still see following in my source code, which I believe is a part of the problem:

[code]

So, when I see those less entries, there still has to be a problem with the production mode.

[2015-12-18 17:27] CNanninga commented on #2711
The root cause seems to be a moving target, as this is now exhibiting in a site in Default mode as well.  I'll update this issue if it is ever evident in Developer mode.

[2015-12-18 18:06] CNanninga commented on #2711
Another piece of info of note about the environment in which this is occurring:  The setup is PHP-FPM, with Apache running under an "apache" user and the PHP process running under a different user.

[2015-12-18 18:20] zamboni084 commented on #2592
Having the same issue!

[2015-12-18 19:09] mttjohnson commented on #2709
I found an opportunity to read through some information about log4j last night and the concept of a logger for each class seems interesting. I'm not sure I grasp why it would be useful having a logger for each class though, it seems somewhat excessive. I expect for most things you wouldn't need the configurability to the level of having separately instantiated loggers for each class. If you were a

[2015-12-18 19:11] mttjohnson commented on #2709
In reading through you concept, you could avoid the `if ($this->logger != NULL)` by utilizing a `Psr\Log\NullLogger` that way `$logSwitchManager->getLogger()` could always return a valid logger, rather than checking for NULL.

Then you could have simple `$this->logger-debug($message)` calls without having to always check to see if the `$this->logger` was null or not.

[code]

[2015-12-18 19:12] mttjohnson commented on #2709
Anyone have any ideas on this question?

[2015-12-18 20:37] davidalger commented on #2717
@Totarenx Would you be able to provide complete information on what is happening when you attempt to do this? I.e. what error and/or unexpected behavior is occurring. Also, if you would post details on what environment you're running Magento 2 in as well as the installation method, that would be great. This will help the team diagnose the underlying cause.

[2015-12-18 20:39] davidalger commented on #2758
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-12-18 20:39] #2758 closed, assigned to nobody

[2015-12-18 20:42] davidalger commented on #2759
@jasperzeinstra The google tag manager is an EE only module. Please report this to the enterprise support team and work with them to get a solution. Thanks!

[2015-12-18 20:42] #2759 closed, assigned to nobody

[2015-12-18 20:44] davidalger commented on #2761
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-12-18 20:44] #2761 closed, assigned to nobody

[2015-12-18 22:01] mttjohnson commented on #2672
I was noticing some similarly unexpected behavior with adding a new task to the default cron group. I tried to create a job that would run every minute, but on the default group it only executed around every 15 minutes, and I wasn't seeing pending jobs in the cron_schedule table like I was expecting.

I ended up creating my own cron group with:

[code]

and a job with `<schedule>*/5 * * * *</sched

[2015-12-19 00:23] alankent commented on #2709
A logger per class can be excessive, but in the Java world my experience was (1) not every class did logging, so its really "one logger per class that wants to do logging" and (2) it was an easy way to guarantee namespacing of loggers, when you had no idea what libraries were going to be included. It is mainly used by developers, so using the namespace made it easy for developers to remember the n

[2015-12-19 04:43] markshust commented on #2520
@jameswithers @davidalger is the last post (`composer update`) the appropriate fix for this? It seems like a hack. Why isn't the repository correctly loading auth credentials on the first run?

[2015-12-19 06:50] ghost opened #2762 "Issue with creating Ui component form in customer edit section"
Hi,

layout file is:customer_index_edit.xml

[code]

base/ui_component/seller_form.xml

in this file below lines giving error that " Element with ID 'tabs_nav' already exists."

[code]

Please help

[2015-12-19 07:02] dmitrii-fediuk opened #2763 "\Magento\Framework\Image\Adapter\Gd2::crop() does not free the previous GD image resource _imageHandler with imagedestroy before creating a new one"
https://mage2.pro/t/297

Similar to https://github.com/magento/magento2/issues/2694, https://github.com/magento/magento2/issues/2696, https://github.com/magento/magento2/issues/2712, https://github.com/magento/magento2/issues/2728, https://github.com/magento/magento2/issues/2743, https://github.com/magento/magento2/issues/2754

[2015-12-19 08:18] markshust commented on #2412
Same issue as https://github.com/magento/magento2/issues/2449 -- pub directory is getting perm denied errors. I'm running Debian Jessie.

I'm trying a fresh install on a variation of my docker image which is a really clean operating system snapshot. I did manage to get this working by:

[code]

Note that I didn't run the suggested `find . -type d -exec chmod 770 {} \; && find . -type f -exec chmod

[2015-12-19 10:28] adragus-inviqa commented on #2709
Yeah, having to do `if (!($this->logger instanceof Psr\Log\NullLogger)) {` defeats the purpose of having a NullObject. But it's as bad as checking for a `null`.

Instead, if `NullLogger` would return `false` on `$this->logSwitchManager->isLogging($this->logger)`, you don't have to do any of the above.

[code]

This way, no information about having a null logger or null value is leaked.

[2015-12-19 13:41] aalve1964 opened #2764 "Magento2 dashboard does not respond."
Hi guys I am newbie here, and I am having dificulties with admin login. Sorry if this issue is already old.
Magento2 installed successful but can't login at all with Chrome (I know there are some cookie problems give me eror too many redirects) but with Mozilla I am experience this issue:I can login with admin link but dashboard is not responsive  for any choices : sales, products, customers, cont

[2015-12-19 13:42] vpatidar009 commented on #2637
Ok, let me install the site directly on the IP / hostname.

Thanks,
Vishal

[2015-12-19 15:04] yulijia opened #2765 "can not access admin page, broken links"
Dear all,
I have searched a lot of solutions about this problem(issue #2272 #2614 ), but all of the solutions didn't help me solve the problem. So I open an issue at here.
If you can try click the website link, you can get an 404 error on the page.

[http://123.56.234.155/magento/index.php/admin_mvmx20/](http://123.56.234.155/magento/index.php/admin_mvmx20/)

[code]

The debug.log shows:

[code]

[2015-12-19 19:48] sIiiS opened #2766 "Issue in PDF files for Unicode (non-latn) languages"
In Magento 2 same as Magento 1.x we have issue with PDF files...
for example in invoices when we generate a PDF and open it, we see some non-understanding characters!!
Please solve it, this is very bad issue for us
An example attached for better understanding!
[packingslip2015-12-19_19-38-08.pdf](https://github.com/magento/magento2/files/67588/packingslip2015-12-19_19-38-08.pdf)

[2015-12-19 21:23] AYElsharif commented on #2614
@dusanmisic I'm still stuck in the same problem :(

[2015-12-19 21:26] AYElsharif opened #2767 "What's the best Magento version for PHP Version 5.2.17"
My current hosting have PHP version 5.2.17 and MySQL version 5.6.26, It's shared hosting and I can not upgrade to the PHP 5.6, So .. What is the best "stable" version of Magento CE can I work on?

Thanks in advance

Abdulsalam.

[2015-12-19 21:45] KAB8609 commented on #2767
PHP 5.2.17 was released in 2011. Magento 2.0 will not work for you, and anything above Magento 1.3 will not work for you. I would suggest finding a new host instead of using Magento 1.3 as there is just no support and so much has changed since 1.3. Even theme and extension companies don't support anything this old.

[2015-12-19 21:52] tvlooy commented on #2130
[code]

I did this (so it's a recent clone):

[code]

And got this:

[code]

Still the same php version. I don't think webservers of mysql versions are relevant at this point.

[code]

[2015-12-19 21:55] tvlooy commented on #2130
composer was self-updated and composer install generated autoload files and exited with status code 0

[2015-12-19 22:02] tvlooy commented on #2130
This could be helpful:

[code]

[2015-12-19 22:17] alanseiden commented on #2130
@tvlooy What did you think of @mazhalai's suggestion about di.xml not being found (if I understood that idea correctly)?

[2015-12-20 01:56] davidalger commented on #2767
@Elsharif GitHub issues are intended strictly for technical issues, not questions. Please take your questions to either the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/). That said, I agree with @KAB8609; if your host can't put on a box running a modern version of PHP you need to switch hosting providers.

[2015-12-20 01:56] #2767 closed, assigned to nobody

[2015-12-20 02:46] davidalger commented on #2520
@markoshust The original issue had nothing to do with the functionality of sampledata:deploy, and was fixed in a documentation update. As for the `composer update` being a valid fix? No, it's a workaround for a known bug in sampledata:deploy, which is fixed in develop last I checked. It was running `composer update` internally, which doesn't work exactly the same for authenticated repositories on

[2015-12-20 03:06] yulijia commented on #2765
I  try those command several times and it works!

[code]

However, there is another bug. I install magento 2 with Chinese language, the frontend show the correct links, like

But, the admin page shows the wrong links.

[2015-12-20 06:13] dmitrii-fediuk opened #2768 "Magento 2 backend is not responsive, so it is uncomfortable to use on smartphones"
Some screenshots on iPhone 6 (667x375 resolution): https://mage2.pro/t/306

[2015-12-20 14:04] michelsteege commented on #2667
Same here, one moment it was working and then out of nowhere this error came up and it stopped...

[2015-12-20 18:29] orlangur commented on #2766
Did you try to use non-default font? From http://stackoverflow.com/questions/14379626/japanese-characters-on-magento-pdf it looks like a silver bullet suitable for all languages could not exist.

Does LinLibertin font https://github.com/magento/magento2/blob/077584c99ebb8007cad176c3b9a0144a05c259cd/app/code/Magento/Sales/Model/Order/Pdf/AbstractPdf.php#L854 contain characters used in your invoice

[2015-12-20 20:34] tvlooy commented on #2130
@mazhalai @alanseiden I digged into the di.xml, and indeed found the error (I should have taken this hint more serious in the first place).

Magento2 makes use of GLOB_BRACE with glob() to find the di.xml location but GLOB_BRACE is not available on IBM i, AIX, Solaris. It is available on other systems like Linux, Mac, FreeBSD, OpenBSD, NetBSD.

I just hacked around the issue and now see the magent

[2015-12-20 21:12] alankent commented on #2768
Correct - the Admin was not designed to be responsive at this stage. It is tablet friendly, but not phone friendly.

[2015-12-20 22:45] orlangur commented on #2068
This PR did a step in right direction as to me (moving hardcoded view logic from PHP class to PHTML) but I would suggest to move further with this refactoring. The next step would be unnecessary template complexity elimination by splitting one big phtml into multiple smaller.

Cannot agree with that. Just like for any other renderer there is no need to create many objects and to include templates

[2015-12-20 23:16] ant-workaholic opened #2770 "Console isn't working"
When I try to run something in console I get this error.

[code]

I have installed magento from develop and from 2.0 branch, but I always get the same error.

[2015-12-21 01:41] pantaoran commented on #2412
hmm @markoshust that file for me is located at lib/internal/Magento/Framework/Filesystem/DriverInterface.php
but I'm using 2.0.0 and may not have the latest changes.

[2015-12-21 05:40] Pakkapao commented on #2766
This is similar to #1145

I'm currently using non-default font for my site. It would be great if Magento 2 could support all languages out of box.

[2015-12-21 05:46] alanseiden commented on #2130
@tvlooy Good to hear. What's "modern" is sometimes in the eye of the beholder, meaning "it has the feature I want" :) but I will ask IBM about GLOB_BRACE to perhaps spare this problem in the future.

[2015-12-21 06:04] tvlooy commented on #2130
Haha, that is certainly true Alan. And thank you :)
ps: reworded it to "other"

[2015-12-21 06:44] dmitrii-fediuk opened #2772 "Propose to make the «config» param optional for the \Magento\Framework\Data\Form\AbstractForm::addField() method"
https://github.com/magento/magento2/blob/2.0.0/lib/internal/Magento/Framework/Data/Form/AbstractForm.php#L144-L159

[2015-12-21 06:59] Vinai commented on #2649
I don't have any issues mocking the store, even if the interface does not exist.
I also removed the generated interface manually before running the test, just to be sure.
The following runs fine for me, which is pretty much the same you have:

[code]

Are you using the Magento bootstrap? Are you using the PHPUnit version that comes with Magento?

[2015-12-21 07:25] deepthi743 commented on #2764
I am facing the same issues ..i tried clearing var/cache and also cleared the cookies of chrome but nothing works..the page remains unresponsive and icons doesn't appear properly..
If anyone knows to correct them please reply..

[2015-12-21 07:35] userException opened #2773 "Using the V1/search API to get the list of SKU's"
I need a text based search to get the names and SKU's of the magento products. While using V1/products API, the response is too much. I just need the name and the SKU, just like google suggestions come up when you type something.

I tried wit the V1/search api but received but no luck:
http://192.168.1.180/magento/index.php/rest/V1/search?searchCriteria[requestName]=sku&searchCriteria[filter_group

[2015-12-21 07:36] userException commented on #2713
@ishakhsuvarov  @pborges  Thanks this solved my issue ! Can you help me with this one: https://github.com/magento/magento2/issues/2773

[2015-12-21 07:57] tigerx7 commented on #2619
I did a bit more digging. It seems that $product->hasUrlDataObject() is returning false and so is $product->getRequestPath() in function getUrl so UrlRewrite and setRequestPath never kick in.

When ignoring the false check if statement on $product->getRequestPath(), the following $filterData gets formed in my test:

[code]

However, when that gets passed to $this->urlFinder->findOneByData($filterD

[2015-12-21 08:04] fooman commented on #2649
Thanks @Vinai - the difference is probably that I currently have Magento modules sitting under vendor. This works for another [extension](https://github.com/fooman/sameorderinvoicenumber-m2/blob/master/composer.json#L18) but fails on this autogenerated interface for a different extension.

Will post back here once I have it figured out.

[2015-12-21 08:31] smaadjahangir commented on #2705
Has anyone faced this issue. I am unable to sort it and purging Varnish is critical functionality that i'll need.

[2015-12-21 09:04] alexey-svistunov opened #2774 "Display issue for product configuration (Admin)"
At the product edit page in Magento admin there is a z-index issue with product configurations. If you disable simple configuration product and click on the actions menu is is displayed wrong.

![image](https://cloud.githubusercontent.com/assets/4942588/11927093/8a94b6dc-a7d2-11e5-9134-d0042ec4650d.png)

[2015-12-21 09:28] ishakhsuvarov commented on #2756
@salelsol We have tried, but could not reproduce the issue described using stock Magento installation on the latest commit of the develop branch.
Please, provide more information, e. g. any settings different from default, branch and commit you are using, etc.

[2015-12-21 10:57] userException commented on #2773
@ishakhsuvarov can you help with this one?

[2015-12-21 11:15] sIiiS commented on #2766
@orlangur I did test with non-default font, attached, please see... characters are visible but they are separate of together and this is another problem!
Tested with several fonts and in all of them the same

In my language, the letters of the word is not separate of them same as english, but in the sample you can see they are separate!

[packingslip2015-12-21_11-08-20.pdf](https://github.com/mage

[2015-12-21 11:58] daim2k5 commented on #2773
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-12-21 11:58] #2713 closed, assigned to ishakhsuvarov

[2015-12-21 12:11] eug123 commented on #2731
Hi,
Seems "browser compilation mode" still active.
Please try the following:
- make sure "Front-end development workflow" is set to "server side less compilation"
- Remove all /var/ folder contents
- Remove all /pub/static/ folder contents
- run `php bin/magento setup:static-content:deploy`

[2015-12-21 12:17] TommyKolkman commented on #2523
I applied @moleman's solution and ran magento sampledata:deploy. It now just silently fails.

Anyone else with this problem?

[2015-12-21 13:57] magenx commented on #2768
you dont have to check it on iPhone 6, probably it is easier to check css instead.

[2015-12-21 15:13] Totarenx commented on #2717
No problem. You need to create a bundle product, add two of them to cart with some options(unequal), move to withlist. When you've got something like that
![1](https://cloud.githubusercontent.com/assets/14783879/11933198/7a3095f2-a80b-11e5-9fcf-1ca346ef6f5d.jpg)
click Add All to Cart.
As result: 500 Internal Server Error, cart is empty, wishlist has only one bundle item( the second one).
All logs

[2015-12-21 15:28] #2768 closed, assigned to nobody

[2015-12-21 15:36] davidalger commented on #2764
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-12-21 15:36] #2764 closed, assigned to nobody

[2015-12-21 15:38] davidalger commented on #2772
@dfediuk Please provide some context and an argument for why you would like them to make this change. This will help the core team evaluate the value of such a change, and understand how it may benefit others.

[2015-12-21 15:42] davidalger commented on #2765
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-12-21 15:42] #2765 closed, assigned to nobody

[2015-12-21 15:42] davidalger commented on #2744
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-12-21 15:42] #2744 closed, assigned to nobody

[2015-12-21 15:46] #2125 closed

[2015-12-21 16:05] mazhalai commented on #2750
@sumanparihar maybe I should have been more specific, which php7 guide? Since you can install it via a repo on ubuntu, (AFAIK it is only available from `ppa:ondrej/php-7.0`) OR did you compile php src? Also, php 7.0.1 is available, did you try upgrading to see if your issue is fixed?

We have encountered this problem, but in CentOS. We have not been able to reproduce it on Ubuntu. We will post an

[2015-12-21 16:08] mazhalai commented on #2770
@ant-workaholic can you please try the `--vvv` option, it will give you more stack trace that will help identify the problem.

[2015-12-21 16:18] mazhalai commented on #2614
@Elsharif  can you please confirm if you are using a virtual host and not `localhost`

@dusanmisic can you try the following, in app/etc/env.php, change `backend_frontname` to something other than `admin` for example, `my_admin`. Clean browser cache as well as magento cache, and then go to `magento4.dev/my_admin` on browser.

@dusanmisic @Elsharif  please check apache logs: are there any error mes

[2015-12-21 17:23] mazhalai commented on #2622
@bh-ref A fix has been posted in the develop branch. Please open a new issue if it still persists.

[2015-12-21 17:23] #2622 closed, assigned to nobody

[2015-12-21 17:24] mazhalai commented on #2480
@fooman this issue has been fixed. Please check it in the develop branch. Also, if you still encounter any issues, please open a new issue.

[2015-12-21 17:24] #2480 closed, assigned to mazhalai

[2015-12-21 18:29] michelsteege commented on #2667
And to make it more confusing, i have this on one pc but not on a different one...

[2015-12-21 19:19] eitkocat opened #2777 "Shopping cart page is totally empty"
The mini cart works properly, even when adding items to the cart, the mini cart shows them.

But when going to the shopping cart page, you get an empty page. Even the HTML returned is empty, without <head>, etc.

[2015-12-21 21:06] sydekumf opened #2778 "Massaction in backend grid with select all does not work correctly"
Choose any backend grid and select all items available. Do a mass action. The affected number of results is not the same as number of entities available in the grid. I know there are actions which do not affect every entity, but I tested with neutral mass actions which certainly do affect all entities. I also tested it in my own module, it does not work either. Some javascript is not sending the c

[2015-12-22 00:09] oaramis opened #2780 "Invalid block type when i try to enter in checkout"
Invalid block type: Magento\Checkout\Block\Cart\Shipping
#0 /Applications/MAMP/htdocs/magento/vendor/magento/framework/View/Layout/Generator/Block.php(237): Magento\Framework\View\Layout\Generator\Block->getBlockInstance('Magento\Checkou...', Array)
#1 /Applications/MAMP/htdocs/magento/vendor/magento/framework/View/Layout/Generator/Block.php(216): Magento\Framework\View\Layout\Generator\Block->cre

[2015-12-22 00:41] barbanet opened #2781 "I'm being able to create blank Roles"
I was trying ACL rules and I've tried to create a new role.
My problem was that the role form shows this:

![area de trabajo 1_007](https://cloud.githubusercontent.com/assets/392385/11945150/619e2cbe-a82b-11e5-8954-5bce0c14e7b9.png)

And after save I got empty roles.

![area de trabajo 1_008](https://cloud.githubusercontent.com/assets/392385/11945153/6ca32e3e-a82b-11e5-8f23-0bb518d82629.png)

I di

[2015-12-22 00:44] barbanet commented on #2781
Forget it. I've tried again on second environment and everything works fine.

[2015-12-22 00:44] #2781 closed, assigned to nobody

[2015-12-22 01:51] pborges opened #2782 "POST /rest/V1/carts/1/items"
Posting

[code]

to

[code]

results in

[code]

and sending

[code]

results in

[code]

log excerpt

[code]

Sending the following works as expected

[code]

[2015-12-22 04:07] cfcnn opened #2783 "There has been an error processing your request"
![error1](https://cloud.githubusercontent.com/assets/15027055/11947603/67192e54-a8a4-11e5-8605-8698576daa6e.jpg)

There has been an error processing your request

Exception printing is disabled by default for security reasons.

Error log record number: 696363362729

cat /home/wwwroot/www.shop.com/var/report/696363362729

[code]

[2015-12-22 04:20] jamescowie commented on #2783
Hi @cfcnn it looks like you do not have the permissions configured as per the [install guide](http://devdocs.magento.com/guides/v2.0/install-gde/install/file-system-perms.html)

If you still face issues after configuring the permissions please ask in the [Magento 2 forums](https://community.magento.com/t5/Core-Technology-Magento-2/ct-p/Magento-2) as this feels more like a isolated configuration is

[2015-12-22 07:05] vinhbt90vn commented on #1685
Hi,
I have a same problem so I have to set the new template for the massaction block to fix it.

Use this code in the _prepareMassaction() function of your grid class file:
$this->getMassactionBlock()->setTemplate('Vendor_Module::widget/grid/massaction_extended.phtml');

Then copy the content of Magento_Backend::widget/grid/massaction_extended.phtml to your module and remove the "required-entry" c

[2015-12-22 07:20] ishakhsuvarov commented on #2777
@eitkocat Thank you for reporting this.
Could you please provide detailed preconditions and steps to reproduce the issue?

[2015-12-22 08:04] zoneradx commented on #824
I want to know how cron works? How can I run it to reindex data?

[2015-12-22 08:04] xanka opened #2784 "how do Reuse template 'Images and Videos' tab in catalog_product_edit?"
I'm trying create Custom module upload image. In custom module i want use template like this.
![capture](https://cloud.githubusercontent.com/assets/13864969/11950679/26b4bcca-a8bd-11e5-965d-bc4418f2c6de.JPG)
thanks :)

[2015-12-22 08:24] dmitrii-fediuk opened #2785 "A comment for the \Magento\Framework\View\Element\Template::setTemplateContext() method is wrong"
https://mage2.pro/t/309

[2015-12-22 09:23] vkholoshenko commented on #2400
@sivajik34, can you confirm that @vernard's solution  works for you?

[2015-12-22 09:25] vkholoshenko commented on #2637
Hi, @vpatidar009! Do you have any updates?

[2015-12-22 09:33] ishakhsuvarov commented on #2782
@pborges Thank you for reporting this.
We have 2 internal tickets aimed at fixing described issue `MAGETWO-46732` and `MAGETWO-46852`.
I'll post an update to this ticket when it is fixed.

[2015-12-22 09:58] boldhedgehog commented on #2705
I have faced this, and the forum topic above had been created by me.

At this moment, I run a request with cURL to purge the cache.

[code]

[2015-12-22 10:30] ishakhsuvarov commented on #2780
@oaramis Thank you for reporting this.
We have tried, but could not reproduce the issue with the stock Magento installation.
Please, provide preconditions (Magento version, settings you applied, etc.) and steps to reproduce.

[2015-12-22 11:47] NadiyaS commented on #2778
Hi @sydekumf ,
thanks for reporting this. Internal issue was created MAGETWO-47207

[2015-12-22 11:49] NadiyaS commented on #2747
Hi @wkaminsk ,
thanks for reporting this bug. Internal issue was created MAGETWO-47209

[2015-12-22 11:59] anton-huz commented on #2667
Hi  michelsteege,
Looks like on on PC you have cached version of JS assets.
Try to open same page in in same browser, but in _Incognito mode_. If error absent, please flush cache in browser.

[2015-12-22 12:00] moe-kayali opened #2786 "Store View Switching"
Hello,

Looks like there is an issue with store views switching on Magento 2 on the frontend, when "Add Store Code to Urls" option is enabled.
When the option is enabled, store views switcher will get stuck and I won't be able to switch to another store view.

I attached a gif image to show you how to reproduce it. Thanks.
(In the gif, cache is disabled on the website. I also tested with cache ena

[2015-12-22 12:24] anton-huz commented on #2697
Saying "randon issue" is not enough information to help you.
Currently in Magento admin there is no `backbone.js`. Could it be you customization?
Also it will be handy:
- Do you setup CORS for CDN server?
- What we are talking about?
- What browser console says?
- If you use some custom JS on this page? What is? Could you point to sources?

[2015-12-22 12:32] webkul commented on #2697
sure i am putting my apology for not clearing it in details .

1 - what we did we setup a magento2 instance in our aws server in this manner http://m2.example.com/m2

2 - and this url works under the cloudflare as DNS propagation takes place from the CDN server

3 - we did not change anything its a fresh magetno2 setup

4 - when we tried to open the catalog product grid it shows blank and when i h

[2015-12-22 12:35] kassner commented on #2697
@webkul do you have Railgun or Javascript optimisation enabled on Cloudflare? It does have some options that mess around in JS/CSS files served.

[2015-12-22 12:39] webkul commented on #2697
not actually  , strange is when we used it as static ip ex (xx.xx.xx.xx)  it really work but not in subdomain

[2015-12-22 12:57] michelsteege commented on #2667
Thanks guz-anton it was cache, when i opened it in incoginto mode i got the same error but after manually clearing the (browser) cache it was gone!

[2015-12-22 13:52] MomotenkoNatalia commented on #2683
Internal ticket: MAGETWO-47214

[2015-12-22 14:13] MomotenkoNatalia commented on #2601
@dfediuk Thanks for reporting this issue. Internal ticket: MAGETWO-47228

[2015-12-22 14:35] SerhiyShkolyarenko commented on #2708
@erikhansen I guess you configure "Apply to Shipping Amount" = "Yes" on step 4.

[2015-12-22 15:00] atishgoswami opened #2787 "Empty folders in magento2-base should contain empty file"
Hi,
I was trying to setup a [Satis](https://github.com/composer/satis) server for Magento2 packages, the package `magento/magento2-base` is causing problem for setup.

Thing is that the package `magento/magento2-base` contains empty folders:
`app/code/Magento`
`app/design/adminhtml/Magento`
`app/design/frontend/Magento`

these folder should ideally contain an `empty` file or `.gitkeep` as now when

[2015-12-22 15:06] bka opened #2788 "How to set values into core_config_data with module setup (Area code is not set)"
Hi all,

I'm looking for a way to set some configuration values with an `InstallData.php` script inside a custom module. My current approach to utilize `\Magento\Config\Model\Config` doesn't seem to work:

[code]

When executing `bin/magento setup:upgrade` it fails with `Area code is not set`. The underlying issue seems to be that `\Magento\Config\Model\Config` has a dependency to `\Magento\Config

[2015-12-22 15:21] NadiyaS commented on #2555
@thomvanderboon. Thanks for reporting the cause of the problem. This issue is closed.

[2015-12-22 15:21] #2555 closed, assigned to nobody

[2015-12-22 15:23] erikhansen commented on #2708
@SerhiyShkolyarenko Yes, that is what I meant. I updated the issue description accordingly. Thanks.

[2015-12-22 15:33] tkn98 commented on #2736
There is consensus in #2735 discussion to block the  "port" entry instead (which will solve this issue) , therefore I close it now. The internal Magento ticket is MAGETWO-47110.

Port is to be set via the "host" entry: `<host>:<port>` (this already works as of today).

No implementation date has been given yet.

[2015-12-22 15:33] #2736 closed, assigned to nobody

[2015-12-22 16:13] davidalger commented on #2787
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-12-22 16:13] #2787 closed, assigned to nobody

[2015-12-22 16:13] markshust commented on #2412
@pantaoran I'm installing with composer create new project. This may be why.

This may be related issue that could possible by merged in https://github.com/magento/magento2/issues/2525

Please see my setup script here https://github.com/mageinferno/docker-magento2-setup/blob/master/m2setup.sh#L42

These lines were required to get things working on Ubuntu Jessie.

Update: I did need to setgid on `v

[2015-12-22 16:17] davidalger commented on #2784
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-12-22 16:17] #2784 closed, assigned to nobody

[2015-12-22 16:22] davidalger commented on #2783
This error message is because you've configured the web-root to point to `pub` restricting access to the setup directory which is needed for the UI installer. As the message states, you'll need to run the install process using the CLI tool (i.e. bin/magento). There are instructions for that in the install guide. Alternatively, you could make the webroot point to the root of the install vs pub so y

[2015-12-22 16:22] #2783 closed, assigned to jamescowie

[2015-12-22 16:54] jameswithers opened #2789 "Category filter not showing"
On a default install (without the sample data), products are showing in categories, but category filters are not appearing in the left column as they do with sample data.

[2015-12-22 17:17] mudithae opened #2790 "Missing class in develop branch (Media.php)"
Got  Class Magento\Catalog\Model\ResourceModel\Product\Attribute\Backend\Media does not exist. Found out that in develop branch it is missing. please do the needful.

[2015-12-22 17:47] GeromeF commented on #2619
I did it working this way
delete FROM `url_rewrite` WHERE entity_type = 'product'
take a product and change categories for it
bin/magento indexer:reindex
urls are ok for the updated product, others are still wrong
Don't seems to be a bug, maybe someting went wrong during the install of the sample datas.

[2015-12-22 18:44] atishgoswami commented on #2787
Hi,

I totally agree that it is not a technical issue, but still wanted to mention as most of us might be setting up local composer package servers, [Satis](https://github.com/composer/satis) being more likely, to serve there magento2 setups.

Anyways thanks for the links, and appreciate the feedback.

Thanks

[2015-12-22 20:59] arondesign commented on #2750
I've been getting this as well for days, php7, installed via homebrew, osx

[2015-12-22 21:29] eitkocat commented on #2777
I don't have any. Only thing I did is to install a design template (http://www.venustheme.com/theme/ves-vigoss/). Also, my site is set to Hebrew. Nothing else that I can think of.

[2015-12-22 21:40] mttjohnson commented on #2711
Do you have a `Base URL for Static View Files` set in the database?

Admin -> Store -> Configuration -> General -> Web -> Base URLs -> Base URL for Static View Files

If you don't have one set, you may be able to set the URL path to the static view files to override whatever is causing the /pub/ to be included in URLs. That might be a workaround for the problem.

[2015-12-22 22:09] davidalger commented on #2711
Turns out (as I just discovered and passed along to @mttjohnson ;) ) the issue is that when the CLI tool runs to generate static content files, it does not "know" whether or not they will be loaded from `/` or `/pub/` — something which is configured in the index.php file which loads the site. All files at `pub/static/_requirejs/*/*/*/*/requirejs-config.js` end up generated with `/pub/` included in

[2015-12-22 22:10] antonkril commented on #2671
@j88per, @arcadiatec do you have  Magento profiler enabled?

[2015-12-22 22:13] davidalger commented on #2711
One other note: this issue will not surface in developer mode because the requirejs-config.js files are _always_ regenerated when running in developer mode, resulting in the correct base URL always being there since the version the browser gets is one generated when bootstrapped from the pub/index.php file.

[2015-12-23 03:31] APGD2016 commented on #2419
I hit the same problem as @realdigid, @KvantX  @daapower

[2015-12-23 04:58] quockhanh91 opened #2792 "Error editor content page, block"
Hello,
Button Show / Hide Editor no action, button Insert Widget..., Insert Image..., Insert Variable... in content editor page, block no show, display = none.
<img width="1280" alt="screen shot 2015-12-23 at 11 52 53 am" src="https://cloud.githubusercontent.com/assets/14105484/11971231/6126aed6-a96c-11e5-8b43-7c3b310c9cff.png">
<img width="1280" alt="screen shot 2015-12-23 at 11 49 58 am" src="ht

[2015-12-23 05:47] BlackIkeEagle commented on #2419
@KvantX , @daapower , @APGD2016 you should check http://devdocs.magento.com/guides/v2.0/install-gde/prereq/dev_install.html

You must have entered your credentials before trying to add the sample data. So the working solution should be something like:

[code]

[2015-12-23 06:26] amansrivastava commented on #2540
Any update on this ?
I'm also facing same error.

[2015-12-23 07:28] ishakhsuvarov commented on #2777
@eitkocat Please check it again using a fresh Magento install, without any customizations.

[2015-12-23 07:35] bbraspenning commented on #2540
I haven't found a solution on my own.  Last update was 7 days ago by okorshenko. ==>Internal ticket MAGETWO-46678.  I hope that will solve the issue eventually.

[2015-12-23 08:04] lucalbert opened #2793 "Translation of UI components doesn't works"
Hello,

I work on the French language pack.

I recovered all the strings to be translated with the command "`i18n:collect-phrases`".

It already seems that a lot of chains are missing, mainly those UI components templates.

But even by adding strings in my translation file, they are not taken into account.

Example on the [minicart](https://github.com/magento/magento2/blob/3b6c4971dc08fee147e91f19

[2015-12-23 08:24] KvantX commented on #2419
@BlackIkeEagle Thanks for advice, it can be so.
I installed magento according to  http://devdocs.magento.com/guides/v2.0/install-gde/prereq/integrator_install.html

[code]

and it's possible that i have entered credentials before sampledata:deploy

[2015-12-23 08:45] dmitrii-fediuk opened #2794 "The constructor of the class \Magento\Framework\View\TemplateEngine\Xhtml\ResultFactory can be shortened by using PHP 5.5 class name resolution via ::class"
https://mage2.pro/t/310

[2015-12-23 08:55] slavvka commented on #2762
Hi @rajawat02, could you please give us more details on what you're doing. What are the full paths for files specified? What are you trying to do with those files?

[2015-12-23 09:34] smaadjahangir commented on #2705
Hi. The thing is that i want it to work with Magento Flush cache which one perform from Admin. Doing it manually via ssh is an extra process. I'll check if this somehow can be incorporated with PHP call that Magento make.

[2015-12-23 09:58] BlackIkeEagle commented on #2419
@KvantX I confirm the issue when using `composer create-project`, even with valid credentials the bin/magento sampledata:deploy command fails

[code]

but after that issue running `composer update` seems to work

[code]

[2015-12-23 10:09] vkholoshenko commented on #2639
Hi, @mhauri! The fix has been merged with 33b13b65bfbd6d32bc4a70d15e9f1bf4aab1f695. Thank you for helping us make Magento better!

[2015-12-23 10:09] #2639 closed, assigned to nobody

[2015-12-23 10:46] ilol commented on #2414
@miguelbalparda, the current behavior is expected. The admin can create the user without role assignment.

[2015-12-23 11:01] nkarthickannan opened #2796 "Moving Magento to new server"
Hi,

I have a Magento 2 website in our server. I want to setup a local copy of the website in my system. In Magento 1, we usually take a complete backup of the files and DB and place them in the target system. Then we would remove the app/etc/local.xml file which will proceed the installation again.

What is the equivalent for Magento 2 for the same process?

Thanks

[2015-12-23 11:20] moleman opened #2797 "Added theme is not registered during production mode"
It seems that added / installed themes are not registered if they are added to a site which is already installed and is set to production mode. By registered I mean that they are not added to the theme table.

After looking at the code it seems that themes are registered differently depending on mode.

**In developer mode:**
- Registered at https://github.com/magento/magento2/blob/develop/app/code

[2015-12-23 11:59] MomotenkoNatalia commented on #1261
Internal ticket MAGETWO-37276 is closed and delivered to mainline. Please, let us know if you still have an issue.

[2015-12-23 11:59] #1261 closed

[2015-12-23 12:09] scholtz commented on #2793
i think this issue is copy of #2630

[2015-12-23 12:34] lucalbert commented on #2793
Sorry, I think too.

I close this issue, the #2630 is being processed.

[2015-12-23 12:34] #2793 closed, assigned to nobody

[2015-12-23 12:51] MomotenkoNatalia commented on #1778
Internal ticket MAGETWO-44615 is closed and delivered to mainline. Please, let us know if you still have an issue.

[2015-12-23 12:52] #1778 closed

[2015-12-23 12:58] MomotenkoNatalia commented on #1871
Internal ticket MAGETWO-43263 is closed and delivered to mainline. Please, let us know if you still have an issue.

[2015-12-23 12:58] #1871 closed

[2015-12-23 13:03] slavvka commented on #2797
Hi @moleman. Thank you for your inquiry but it is not a bug. Such actions like updating code, adding themes etc aren't supposed to be performed on production since they may lead to unpredictable and unstable site work. Usually such changes should be done not in production mode on some staging server and lately published on production.

[2015-12-23 13:14] slavvka commented on #2547
@DavidLambauer, the issue with wrong parent theme might occur on editing a theme which is already installed in the table. But it is already fixed and delivered to public (internal ticket MAGETWO-43188, see 7dc9e60, 0aeac1b). Please check whether the issue is still occurring.

[2015-12-23 13:42] MomotenkoNatalia commented on #1951
Internal ticket  MAGETWO-44053 is closed and delivered to mainline. Please, let us know if you still have an issue.

[2015-12-23 13:42] #1951 closed

[2015-12-23 13:42] moleman commented on #2797
@slavvka Yes, and that is what we do. We have a build server that builds the sites cleanly with Composer and this is where the new code is introduced. These build artifacts are then deployed to staging and production servers and we then run setup:upgrade to upgrade the database in production after the deployment of the code is done.

So, whats the correct workflow then when you want to add a new t

[2015-12-23 13:43] MomotenkoNatalia commented on #1993
Internal ticket MAGETWO-43610 is closed and delivered to mainline. Please, let us know if you still have an issue.

[2015-12-23 13:43] #1993 closed

[2015-12-23 13:59] ant-workaholic commented on #2770
Ok, I tried with -vvv and got three exception stacks, first is:
Exception trace:

[code]

[2015-12-23 14:30] APGD2016 commented on #2419
@BlackIkeEagle   Thanks very much for your help! My problem is fixed.

[2015-12-23 15:15] davidalger commented on #2796
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2015-12-23 15:15] #2796 closed, assigned to nobody

[2015-12-23 15:33] davidalger commented on #2797
@slavvka This may not sound like a bug at first read, but the OP isn't talking about developing on a production site, but rather a deployment procedure. There are CLI commands to enable/disable modules, and to "uninstall" a theme, but none to install/activate/register a theme. Builds must be pushed to production in some fashion, and then setup:upgrade run to execute install scripts, and new compon

[2015-12-23 15:36] daim2k5 commented on #2414
@miguelbalparda i close the issue for now. If you have futher question to this issue please feel free to reopen

[2015-12-23 15:36] #2414 closed, assigned to nobody

[2015-12-23 15:38] davidalger commented on #2790
@mudithae Can you provide a full stack-trace for this error and also details on your environment and what steps you went through to install the software?

[2015-12-23 15:38] daim2k5 commented on #2631
@wrackful i close the issue because you didn't responded after 2 weeks :-(

[2015-12-23 15:38] #2631 closed, assigned to nobody

[2015-12-23 15:39] daim2k5 commented on #2627
@karthik-bgdins  i close the issue because you didn't responded after 2 weeks.

[2015-12-23 15:39] #2627 closed, assigned to nobody

[2015-12-23 15:40] davidalger commented on #2789
@jameswithers This is typically because category filters are something which you must enable on a per-category basis for them to show up. Haven't checked M2 to make sure the label is the same, but in Magento 1 it was the "Is Anchor" setting on categories. I believe this operates the same way here.

However, the GitHub issue tracker is intended for technical issues only. Please refer to the [Commun

[2015-12-23 15:40] #2789 closed, assigned to nobody

[2015-12-23 15:42] #2186 closed

[2015-12-23 15:43] #2486 closed, assigned to nobody

[2015-12-23 15:43] daim2k5 commented on #2544
@harshilpatwa sorry for the late response. Colud you please provide more details like a error messages?

[2015-12-23 15:44] davidalger commented on #2205
Closing due to lack of response.

[2015-12-23 15:44] #2205 closed

[2015-12-23 15:45] davidalger commented on #2408
Closing due to lack of response.

[2015-12-23 15:45] #2408 closed, assigned to nobody

[2015-12-23 15:46] #2654 closed, assigned to nobody

[2015-12-23 15:46] #2262 closed

[2015-12-23 15:47] #2537 closed, assigned to nobody

[2015-12-23 15:48] davidalger commented on #2605
Closing due to lack of response.

[2015-12-23 15:48] #2605 closed, assigned to nobody

[2015-12-23 15:48] davidalger commented on #2559
Closing due to lack of response and possible duplicate of #2711

[2015-12-23 15:48] #2559 closed, assigned to nobody

[2015-12-23 15:49] daim2k5 commented on #2441
@arunkasyakar i close the issue because you didn't responded after 28 days. Please feel free to reopen the issue if you have still the problem.

[2015-12-23 15:49] #2441 closed, assigned to choukalos

[2015-12-23 16:09] MomotenkoNatalia commented on #1921
Thanks for reporting this issue! Internal ticket - MAGETWO-47289

[2015-12-23 16:22] MomotenkoNatalia commented on #1905
Internal ticket MAGETWO-44049 is closed and delivered to mainline. Please, let us know if you still have an issue.

[2015-12-23 16:22] #1905 closed

[2015-12-23 16:22] andidhouse commented on #2046
Hi there,
when i put the registration file in the /Vendor folder then backend is not accessible any more. Anyone the same problem? Double checked data twice.

I also find it a little bit confusing that with a registration file you can take your hole backend of :-1:

[2015-12-23 16:26] MomotenkoNatalia commented on #1847
Internal ticket MAGETWO-42900 is closed and delivered to mainline. Please let us know if you still have an issue.

[2015-12-23 16:26] #1847 closed

[2015-12-23 16:30] mazhalai commented on #2046
@andidhouse why do you need a registration.php file in Vendor? Also please do no post on already closed issues, create a new one.

[2015-12-23 16:56] MomotenkoNatalia commented on #2410
Internal ticket MAGETWO-45729 is closed and delivered to mainline. Please, let us know if you still have an issue.

[2015-12-23 16:56] #2410 closed, assigned to tang-yu

[2015-12-23 17:00] cscd98 opened #2798 "Data migration tool issues"
My issues in the data migration tool repo seem to get ignored and it's actually preventing me from doing much...

https://github.com/magento/data-migration-tool-ce/issues/31

https://github.com/magento/data-migration-tool-ce/issues/21

https://github.com/magento/data-migration-tool-ce/issues/32

https://github.com/magento/data-migration-tool-ce/issues/33

https://github.com/magento/data-migration-

[2015-12-23 17:05] sevos1984 commented on #2717
Hi @Totarenx, this was fixed in MAGETWO-45429 (internal id MAGETWO-47379) and soon will be delivered. Thanks for reporting

[2015-12-23 17:10] MomotenkoNatalia commented on #2307
Hi @neverovsky ! Thanks for reporting this issue! Internal ticket MAGETWO-45546 is closed and delivered to mainline. Please, let us know if you still have an issue.

[2015-12-23 17:10] #2307 closed

[2015-12-23 17:39] eug123 commented on #2316
@angellromero,
Yes `grunt exec` task should be run on the environment with installed magento, as it relies on `'php bin/magento dev:source-theme:deploy` PHP CLI command, collecting .less sources based on magento application config. So you need to run it from the vagrant machine.

[2015-12-23 18:10] anton-huz commented on #2667
Thanks Michel for your attention to this issue.

Dear adesigner2,
fill free to comment if you still has such issue.

[2015-12-23 18:10] #2667 closed, assigned to nobody

[2015-12-23 18:35] michsk opened #2799 "bin/magento setup:upgrade empty pub/static?"
I have hit the following issue:
http://magento.stackexchange.com/a/94903/12735

Maybe setup:upgrade could truncate the pub/static folder, or give back an better error description?

[2015-12-23 21:58] okorshenko commented on #2540
Internal ticket: MAGETWO-47296

[2015-12-23 22:47] mantonuk opened #2800 "Some bug in $product->load($id) method for some products"
yoyo
The users can get error if store have attribute of product like 'stock_status'
"mysql> select \* from eav_attribute where attribute_id = 364;
+--------------+----------------+----------------+-----------------+---------------+--------------+---------------+----------------+----------------+----------------+----------------+-----------------------------------+-------------+-----------------+--

[2015-12-23 22:53] mazhalai commented on #2799
Thank you for reporting, we have created ticket MAGETWO-47297 to contribute a fix

[2015-12-23 23:02] mantonuk commented on #2800
var_dump($stockStatus); == option_id of dropdown

main.CRITICAL: exception 'Exception' with message 'Notice: Undefined variable: status in ---vendor/magento/module-catalog-inventory/Helper/Stock.php on line 86' in ---vendor/magento/framework/App/ErrorHandler.php:61
Stack trace:
#0 ---vendor/magento/module-catalog-inventory/Helper/Stock.php(86): Magento\Framework\App\ErrorHandler->handler(8, 'Undef

[2015-12-23 23:19] jvanderbiest commented on #2630
any update on this issue?

[2015-12-24 00:32] jaimestuardo opened #2801 "Magento2 installation get stuck at 80%"
Hello,

I have downloaded last version of magento 2 which is supposed to be stable.

The fact is that I have spent all day long trying to install it but it was impossible. It is incredible that a simple installation get very difficult unnecessary.

Currently, installation got stuck with this log in console:

Module 'Magento_Sales':
Installing data.. Upgrading data..

Other times I tried, it got st

[2015-12-24 04:49] harshilpatwa commented on #2544
There is no error message showing , it just about blank or keeping same rate as previous when importing the rates.

[2015-12-24 08:45] amansrivastava commented on #2540
I got something regarding this.
Magento sends at time of activation
- Magento store URL. For example, http://my-magento-store.com/.
- oauth_verifier
- OAuth consumer key
- OAuth consumer key secret
  to defined url while creating integration using POST method. You need to read these values and then try the steps again using recieved values.
  Check this again ... http://devdocs.magento.com/guides/

[2015-12-24 08:59] jasperzeinstra opened #2802 "Sitemap generation in wrong folder when vhost is connected to pub folder"
In my case my domain (vhost) is connected to the pub folder instead of the root folder, for security reasons. Now when I try to generate a sitemap.xml in te root of the url. www.mydomain.com/sitemap.xml I need to fill in `/` as path. But the sitemap is created in the root folder now, instead of the pub folder. And when I set `/pub/` as my path I get the URL www.mydomain.com/pub/sitemap.xml returne

[2015-12-24 09:13] ishakhsuvarov commented on #2139
Closing this for now. Currently it is a know issue that if configuration settings that affect customer's private data is updated in Magento then customer's quotes need to be deleted to avoid unexpected behaviour.
Please feel free to reopen if you have any additional questions.

[2015-12-24 09:14] ishakhsuvarov commented on #1816
@vishal6714 Closing this ticket for now. Feel free to reopen if the issue persists.

[2015-12-24 09:14] #1816 closed

[2015-12-24 10:37] dmitrii-fediuk opened #2803 "sampledata:deploy fails with the message «No such file or directory» when a third-party composer package contains multiple Magento 2 modules (and my fix)"
https://mage2.pro/t/327

[2015-12-24 11:16] SteveBench opened #2804 "Can not create a new attribute"
I installed magento 2 using composer taking the code from the magento2 github page. I then used the migration tool to bring my attributes across from my magento 1 store.

I can not now create attributes. When I try and save a new attribute I get the following error:

Class Magento\Indexer\Model\IndexerRegistry does not exis

I'm running this locally using wamp.

Any help would be appreciated.

Tha

[2015-12-24 11:30] MomotenkoNatalia commented on #2487
Hi @ek0892 . Sorry for late response. Could you please provide more information about the issue?

[2015-12-24 11:56] cscd98 commented on #2191
@mazhalai Where exactly in this file am I supposed to put var_dump?

Also I get the same issue with the bin/magento command line tool if I set the env to be hhvm instead of php

[2015-12-24 12:28] cscd98 opened #2805 "MySQL server has gone away"
running setup from CLI or Web.

OSX, PHP 7.0.1, (Percona) mysqld --version
mysqld  Ver 5.6.25-73.1 for osx10.11 on x86_64 (Homebrew)

[code]

[2015-12-24 12:42] CyberCookie commented on #2104
+1 for this improvement.
Just give us chance to do simplest changes in 1-2 sec. It's not a modern approach to wait for less build more than 6 sec as example, when you do changes every 5 sec in css and must watch all changes instantly. Developing must give pleasure but no pain.

[2015-12-24 12:55] cscd98 commented on #2805
closed by max_allowed_packet=100M

[2015-12-24 13:00] cscd98 opened #2806 "No such file or directory"
Trying to convert my db to m2. Not a really helpful error message!:

[code]

[2015-12-24 13:07] danielc1234 commented on #2806
What method are you using?

[2015-12-24 14:36] ghost opened #2807 "Circular Dependency when using ScopeConfigInterface in Constructor for certain objects"
I was trying to read some backend config using the ScopeConfigInterface.

[code]

[code]

When I use the same code, but using another `preference` in `di.xml` I can read the config as expected.

Example
(just for testing)
`< preference for="Magento\Cms\Controller\Index\Index" type="Foo\Log\Helper\Data" / >`

Is this an issue with dependency compiliation because it is only possible to use ScopeConf

[2015-12-24 15:28] asemenenko commented on #2447
This is a legacy\marketing thing, while it may sound confusing customers that are looking for a "Standard" solution after looking at https://www.paypal.com/us/webapps/mpp/compare-business-products will find it in the configuration settings. Both "Standard" and "Pro" include PayPal payments that in our case implemented via PayPal Express Checkout API

[2015-12-24 15:28] #2447 closed, assigned to nobody

[2015-12-24 16:16] #2807 closed, assigned to nobody

[2015-12-24 16:41] pavlindrom commented on #2777
I don't have any customizations and here's what I get (I have display_errors enabled):

![image](https://cloud.githubusercontent.com/assets/2158645/11996547/17df1872-aa33-11e5-894d-cdcf9d65f798.png)

The class in question doesn't have setShippingRate called in the source code (except for tests), and neither is the shipping_rate ever set in layouts.

[2015-12-24 17:05] ci2014 commented on #2425
The workaround "composer update" is not working for me. It is not asking for auth data, as mentioned in the devdocs.

Link to the devdocs for deploying sample data: http://devdocs.magento.com/guides/v2.0/install-gde/install/sample-data-after-magento.html

[2015-12-24 17:44] MomotenkoNatalia commented on #2442
@vimalbaisla I close the issue for now. If you have further question to this issue please feel free to reopen

[2015-12-24 17:44] #2442 closed, assigned to nobody

[2015-12-24 17:47] MomotenkoNatalia commented on #2444
@ramsampathi Do you have any updates?

[2015-12-24 17:50] MomotenkoNatalia commented on #2444
@ramsampathi  Please feel free to reopen the issue if you have still the problem.

[2015-12-24 17:50] #2444 closed, assigned to nobody

[2015-12-24 17:56] MomotenkoNatalia commented on #2459
Hi @ClaudiuCreanga! Thanks for reporting this bug. We have already fix this issue. Internal ticket MAGETWO-45546. Feel free to reopen if you have any questions.

[2015-12-24 17:56] #2459 closed, assigned to nobody

[2015-12-24 18:49] #2801 closed, assigned to nobody

[2015-12-24 18:53] jaimestuardo opened #2808 "Bad file permissions when uploading a file"
I think there is a bug when uploading an image (for example, the logo or product images).

Inside media folder, logo folder is created with 770 permissions. Below it, another folder is created again with 770 permissions. Finally, the image file is created with the same permissions.

I tried a lot to override that behaviour, at operating system level, however, whatever I do, the file is saved with

[2015-12-24 20:30] jaimestuardo commented on #2808
I have found the solution for this.

I have opened the file /vendor/magento/framework/Filesystem/DriverInterface.php and modified constants WRITEABLE_DIRECTORY_MODE and WRITEABLE_FILE_MODE to be 0775 and 664 respectively.

Since the main problem was solved, the Magento bug is other now. When I uploaded, for example, the logo of the site, the image file used the permissions WRITEABLE_DIRECTORY_MODE

[2015-12-24 21:31] chrissm79 opened #2809 "Unable to view Admin Catalog - SQL 1103 Incorrect table name ''"
Created a brand new Magento 2 install and migrated data (not settings as I originally thought that was the issue) from Magento 1.7.0.2 store. When I attempt to navigate to the Admin > Products > Catalog I get the following error message:

[code]

Stack Trace:

[code]

[2015-12-24 22:38] daim2k5 commented on #2808
Please see #2525 and/or #2412

[2015-12-24 23:17] jaimestuardo commented on #2808
Thanks but even those references are related, they are not the solution, and I will explain you why:

First of all, after installing Magento 2, I did all those posts tell. No problem with that.

The problem is after Magento was installed and tried to upload a file to media folder.

In my case, web sites are run by the apache user as normal, so, it is very easy to "chown" all files and folder to be

[2015-12-25 00:35] davidalger commented on #2808
If the only issue you have is due to the group being other va webusers, setting the setgid flag on the pub and var/generation directories will solve that. The permissions being set are being set by Magento and there is a duplicate issue open to deal with that, #2412. Closing as duplicate.

[2015-12-25 00:35] #2808 closed, assigned to nobody

[2015-12-25 01:50] martijnhovinga opened #2810 "When duplicate product, new products inherits 'unwanted' attribute with default value"
Magento 2.0
I have two attribute sets: 'mat' and 'education'
Mat contains product attributes 'size' and 'thickness' but does not contain the attribute 'discipline' which is part of the education attribute set.
However when I duplicate a product with attribute set mat, the resulting product receives a field discipline containing the default value.
The work around is to add products only and not to

[2015-12-25 06:22] ayushman2013 opened #2811 "Conditions to the Catalog Products List Widget not saving"
Hi,

I am using Magento2 in my local Ubuntu envirnment. I have configured the server as per Magento 2 requirement and everything working find. But, when tried using Widget got issue. I tried to install a widget "Catalog Product List" and tried to setup the condition but it is not saying. I set and click save and didn't find the effect in the website. Then, while investigating found out condition a

[2015-12-25 07:41] martijnhovinga opened #2812 "bank transfer not showing"
Using Magento 2.0
When checking out for a product with a low price, only PayPal appears. When add another product and total order amount much higher, will have to go through the normal sequence to populate shipping details and also bank payment will appear.
Have set order amount to allow for bank payment in range $1 - 200,000
Suspected bank payment did not show up, since order amount was below thr

[2015-12-25 08:45] ishakhsuvarov commented on #2812
@martijnhovinga Thank you for reporting.
We have tried to reproduce the described issue but could not. Please provide detailed steps to reproduce (with the values you are using) and your store configuration.
Also check that `Payment from Applicable Countries` in Bank Transfer Settings has a correct value for your case.

[2015-12-25 09:46] martijnhovinga commented on #2812
Thanks for your quick reply. I checked again and you are right. The bank
transfer was there but I didn't see it since I had to scroll down to
make it visible.
Why is it that for the small order, the payment options appear right
away on my screen ('review & payments' in one shot) and for the bigger
amount only AFTER I fill out my 'shipping' details (see attached).

On another note, when I click 'go

[2015-12-25 10:09] dmitrii-fediuk opened #2813 "Propose to enable CSS source map generation while using the Oyejorge Less compiler in the Developer mode"
https://github.com/oyejorge/less.php#source-maps

[2015-12-25 10:42] sevos1984 commented on #2450
Internal issue created with id MAGETWO-47376. Thanks for reporting.

[2015-12-25 10:51] ishakhsuvarov commented on #2812
@martijnhovinga Checkout starts with `Review & Payments` step in case when you have only virtual products in your cart. Otherwise shipping information is required.

[2015-12-25 11:11] mitulispace opened #2814 "Configuration menu not work"
![configuration_error](https://cloud.githubusercontent.com/assets/16436069/12002534/36762f2a-ab26-11e5-9f20-7771a7509a7d.png)

Configuration menu not work i can change All store then not work this menu. pliz replay.....

[2015-12-25 11:28] Nas1k commented on #2792
Hello @quockhanh91 can you show in Console tab when page loaded. I think it's can be some js error.
What are magento version do you install|?
You can try remove cache and static content. Please run:

[code]

[2015-12-25 12:16] martijnhovinga commented on #2812
Got it! Thanks very much for clarifying.

On 2015-12-25 13:51, Ievgen Shakhsuvarov wrote:

[2015-12-25 13:05] mitulispace opened #2815 "Save Config Button Not work"
Any Solution i think .js Error  but how to solve.....
![download](https://cloud.githubusercontent.com/assets/16436069/12003027/4b7cb6ea-ab36-11e5-90b1-e9fab18dfd0e.png)

![error_config](https://cloud.githubusercontent.com/assets/16436069/12003042/c5adc1d4-ab36-11e5-934c-2e7943b4410e.png)

[2015-12-25 13:51] #2812 closed, assigned to ishakhsuvarov

[2015-12-25 14:44] ci2014 opened #2816 "{{MEDIA_URL}} in source code"
Hello everyone,

after a fresh installation of Magento 2, i see this one in my source code:
<link  rel="stylesheet" type="text/css"  media="all" href="{{MEDIA_URL}}styles.css" />

How may I fix this?

Thank you very much.

[2015-12-25 18:25] al-Obaidi commented on #2750
Centos 7.1, PHP 7.0.1 unable to reindex via shell. segmentation fault will result destroying the database. Problem exist with Magento 2 with sample data installed. No matter whatever you make  memory limit  in php.ini.

[2015-12-25 18:52] danslo commented on #2750
I have encountered this issue as well, but you should report this at php.net instead. Userland code should not be able to crash the PHP process. Magento is not at fault here.

Maybe if I have some time in the new year, and if it isn't fixed yet by then, I'll try to fix this issue.

[2015-12-25 23:58] srenon commented on #2815
You seem to have  404 issue on your static files.

Try ssh into your server and check the owner/permission on

{magentoRoot}/pub
{magentoRoot}/pub/static

Then try

`magento setup:static-content:deploy <lang> ... <lang> [--dry-run]`

ie
`{magentoRoot}/bin/magento setup:static-content:deploy en_US`

See http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-static-view.html

[2015-12-26 05:13] mitulispace commented on #2815
SRENON Thank you  reply...   Correct Solution

[2015-12-26 05:15] mitulispace commented on #2815
Otherwise Re-installation  Your Magento 2

[2015-12-26 05:23] mitulispace commented on #2815
http://itsolutionphp.blogspot.in/2015/12/save-config-button-not-work-in-magento-2.html

[2015-12-26 05:23] #2815 closed, assigned to nobody

[2015-12-26 10:47] dmitrii-fediuk opened #2817 "Magento 2 backend incorrectly renders the nested fieldsets: adds nested TR tags with the same id"
https://mage2.pro/t/330

[2015-12-26 12:42] shivkumarsingh7 commented on #2463
Is this solve in magneto2 stable version?

[2015-12-26 18:14] srenon commented on #2816
@ci2014 ... on which page?

[2015-12-26 18:16] srenon commented on #2814
Are you still having this issue?

This should be a side effect of your previous issue  https://github.com/magento/magento2/issues/2815

[2015-12-26 22:48] tigerx7 commented on #2619
@GeromeF , I'm experiencing the same issue without sample data loaded. The urlrewrites are correct and I'm able to to load products when typing the rewritten url directly (ie. {domain}/{category}/{subcategory}/{product_url_key}. It brings up the product successfully. However, the url's that are being generated for the products when they're being listed at the category level and use catalog path in

[2015-12-26 23:04] tigerx7 opened #2818 "Problem on mobile when catalog gallery allowfullscreen is false"
When passing false to allowfullscreen via the theme's view.xml successfully deactivates the full screen feature of the product's gallery, on mobile devices (or touch capable), top level .page-wrapper is still hidden rendering a blank page upon tapping the image.

Steps to reproduce:
1) In theme's view.xml, set gallery's allowfullscreen variable to false.
2) Flush cache and static files.
3) Go to a

[2015-12-27 08:17] tigerx7 commented on #2619
While tracking down another issue, I think I found the problem with the Product URL paths. getProductUrl isn't taking into account categories set as anchors.

So say if a product is only assigned to the last child category: {default category}-->{level 1}->{level 2}->{level 3}. If a visitor navigates all the way to {level 3}, then the path for the product is generated correctly: {domain}/{level 1}/

[2015-12-27 10:40] dmitrii-fediuk opened #2819 "Propose to specify the $element parameter class name in the signature of the \Magento\Config\Block\System\Config\Form\Field::_decorateRowHtml() method"
https://mage2.pro/t/331

[2015-12-27 15:50] rokity opened #2820 "Why I haven't Magento Connect ?"
I want to install a extension from Magento Connect Marketplace in my Magento Community Edition.
Why I can't install an extension?? How can I install it ? I havent Magento Connect on my community edition.

[2015-12-27 16:33] ghost commented on #2820
We now have the Component Manager available from the Admin: see [the documentation](http://devdocs.magento.com/guides/v2.0/comp-mgr/compman-start.html).

However, Magento Marketplace (the new name for Magento Connect) is not generally available yet. In the meantime, you can probably install your Magento 2 extension by extracting it to app/code like you would a Magento 1 extension. Run `php bin/mag

[2015-12-27 17:23] rokity commented on #2820
Component Manager doesnt work . I dont know why it doesnt work .
I already added some extension from https://www.magentocommerce.com/magento-connect/ and after this I synced Component Manager on my local server but it doesnt work.

[2015-12-27 19:07] #2820 closed, assigned to nobody

[2015-12-27 20:34] astorm opened #2821 "Feature Request: Static Asset Application: 404 Text for Production Mode"
If Magento 2 is in production mode, and a user requests a static asset file that does not exist

[code]

Magento 2 will correctly return a 404 header.  **However**, Magento 2 also returns a **blank** HTML page.

Magento 2, in addition to returning the correct `404 header`, should also return some sort of standard "Error 404" text.  It's very common for end-users to debug missing Javascript/CSS fil

[2015-12-28 02:38] gonorovsky opened #2822 "production mode (both with/without compilation) doesnt load css and js"
After installing Magento 2 with "One click image" on Digital Ocean (Ubuntu 14.04, Apache 2.4) cant bring it to PR mode: without compilation - doesnt load  CSS and JS (console: Failed to load resource: the server responded with a status of 404 (Not Found)); with compilation - 500 server error (sys log: magento2 Broken reference: the 'store.settings.currency' tries to reorder itself towards 'store_l

[2015-12-28 05:14] mitulispace commented on #2814
yes  side effect of  my previous issue #2815

[2015-12-28 05:15] mitulispace commented on #2814
But solve

[2015-12-28 05:16] bossbom commented on #2737
Hi antboiko,

I setup a demo on this link:
http://45.63.123.198/magento2/
http://45.63.123.198/magento2/admin
user: admin
pass: demo123
This is a fresh install with sample data.

[2015-12-28 07:09] ishakhsuvarov commented on #2822
@gonorovsky Please try to deploy static view files using `bin/magento setup:static-content:deploy` CLI command.

You may find more information on this in the [Deploy static view files](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-static-view.html) section of the developer documentation.

[2015-12-28 07:12] dmitrii-fediuk opened #2823 "The $productId variable in the final_price.phtml is declared but never used"
https://mage2.pro/t/353

[2015-12-28 07:40] gonorovsky commented on #2822
I did it hundred times, with differentorders.

[2015-12-28 07:58] ci2014 commented on #2816
@srenon on every page

[code]

[2015-12-28 08:30] bka commented on #2788
This one can be closed. I found a way: instead of using '''\Magento\Config\Model\Config''', values can be written directly like in Magento_Catalog module. This requires no dependencies to AuthorizationInterface or the SessionManager and seems to work fine.

[code]

[2015-12-28 08:30] #2788 closed, assigned to nobody

[2015-12-28 11:24] MomotenkoNatalia commented on #2522
@gbaeza1 Do you have any updates?

[2015-12-28 11:25] ilol commented on #2760
That is by design. Agree, that is controversial behavior, but not a bug.

[2015-12-28 11:25] #2760 closed, assigned to slavvka

[2015-12-28 11:25] MomotenkoNatalia commented on #2522
I close the issue for now. If you have further question to this issue please feel free to reopen

[2015-12-28 11:25] #2522 closed, assigned to nobody

[2015-12-28 12:33] michsk commented on #2750
Im not having the issue trough cli, only trough the web ui. I've updated to 7.0.2RC but still happens.

[2015-12-28 13:34] tapansoda opened #2824 "Magento2 Runs Slow - Developer Mode."
I have installed Magento2 and have discovered running slow in developer mode. It takes around 8-10 seconds to load pages completely, with all cache types enabled. Below are more specific details in regards to the software stack that I have.

Operating System :- Ubuntu 14.04.3 LTS - 64 Bit
Processor:- Intel CORE I5 3rd Generation
RAM :- 8 GB (1X8) DDR3 1333MHZ
PHP Version:- 5.5.9
Apache Version:- 2

[2015-12-28 13:41] pcobas opened #2825 "Problem setting payment method using REST Api"
We’re not being able to set a payment method for a cart using the REST API.

After creating the quote and adding items, and setting shipping information, we call the method to get the available payment methods for the quote ( /rest/V1/carts/26/payment-methods )

Then we call the method to select the payment method (/rest/V1/carts/26/selected-payment-method ) , but is responding that the payment me

[2015-12-28 13:43] dmitrii-fediuk commented on #2772
This is because the `$config` is used to pass additional parameters to a form element's construtor.
None ot these parameters are required for a generic form element.

[2015-12-28 14:35] ishakhsuvarov commented on #2825
@pcobas Payment method `Free` may only be used for carts with zero total. Please try same scenario with another payment method like `Check / Money order` or apply discounts to the quote, which will bring total to 0.

[2015-12-28 14:53] le0n4eg commented on #2800
Thanks for reporting this issue! Internal ticket MAGETWO-47431

[2015-12-28 15:10] mazhalai commented on #2806
@craigcarnell can you please give us more details on how to reproduce this?

[2015-12-28 16:19] paolobasso99 opened #2826 "Fail on load jquery, fonts and images of pub/static"
Hi, I have installed Magento successfully but I have see that pub/static folder miss some files..
There are other issues like this (https://github.com/magento/magento2/issues/1299) but I can't fix my Magento with this passage then I'm asking help to restore this folder. I'm on XAMPP but I've already checked mod_rewrite and AllowOverride.
![Console](http://s16.postimg.org/rzkdlfsbp/console.png)
![B

[2015-12-28 16:39] mazhalai commented on #2191
@craigcarnell you can store the return value in a variable, var_dump that value and then return it.

[2015-12-28 16:42] mazhalai commented on #2425
@ci2014 please do not comment on closed issues. If you have the latest code, auth data is not required anymore.

[2015-12-28 17:12] scholtz commented on #2630
i suggest someone should set this issue the highest priority because if M2 is not translated correctly to any language it is completly useless in every language beside English.. I dont understand how this could be released as official! :(

[2015-12-28 17:25] anaxmedia opened #2827 "Session Handling Errors in PHP 7 using DB driver"
Recently upgraded my M2 sample site to PHP 7 to do some performance benchmarking and I'm running into the following issue when trying to do anything session related (admin login, checkout, account functions, etc).

I use Redis backend for cache and Memcache for php session cache.

Getting the following error in Magento 2 on PHP 7.0.1:

 `session_regenerate_id(): Failed to create(read) session ID:

[2015-12-28 17:28] mazhalai commented on #2630
We are working on a fix. Ticket: MAGETWO-47439

[2015-12-28 17:34] liam-wiltshire commented on #2823
PRs https://github.com/magento/magento2/pull/2829 and https://github.com/magento/magento2/pull/2828

[2015-12-28 17:48] tang-yu commented on #2471
We opened internal ticket MAGETWO-47440 to track this issue. Thanks.

[2015-12-28 18:37] chrissm79 commented on #2750
I am hitting a segmentation fault when attempting to save a product in a module I created as well as reindexing. The store has had data migrated over from v1.9.2.2 (along with products). For some reason the products are listed in the correct categories on the backend but don't show up on the frontend. The only way around it (that I've seen so far) is to resave the products. So I created a module t

[2015-12-28 19:11] moderncodes commented on #2816
I having same issue. I have two Magento 2 installations, one installed with sample data for testing, and other one without it.
One installation that contains sample data, I have no issues with it.
But, another installation without sample data throws that 404 message
http://example.com/%7B%7BMEDIA_URL%7D%7Dstyles.css.

I think it have something to do with STORE > Configuration > [GENERAL] Design >