[2016-12-24 22:13] carylewis commented on #2824
You have to use php7, otherwise magento 2. for all intents and purposes, is
unusable.

On Sat, Dec 24, 2016 at 12:48 PM, Christos Constantinou <
notifications@github.com> wrote:

[2016-12-24 23:57] snez commented on #7891
I confirm that as @petterkj mentioned, adjusting the **sortOrder** field will fix this. For users of the [Stripe Payments & Subscriptions](http://store.cryozonic.com/magento-2/stripe-payments-subscriptions.html) module, the solution is now documented [here](http://store.cryozonic.com/documentation/magento-2-stripe-payments-subscriptions#magento-2.1.3).

[2016-12-25 01:02] firstred commented on #6729
I managed to show the correct prices by editing the file `/vendor/magento/module-configurable-product/Pricing/Price/ConfigurableRegularPrice.php`.
Replace (line ~89):
[code]
with
[code]
At this moment I have no idea why it works for me and whether it will help in your case, but...
<img src="http://i.imgur.com/DGzSZ8h.png" height="200">

[2016-12-25 09:31] cowmix88 commented on #7949
I'm having the same problem.

All my store views are using the default configuration settings and ignoring the website/store view configuration.

[2016-12-25 09:34] Tonop commented on #7949
The same issue.

[2016-12-25 09:59] tinxit commented on #5722
same error in Magento ver. 2.1.3 when a configurable product is saved in the backend.
![image](https://cloud.githubusercontent.com/assets/15381778/21470615/3450f5e6-ca91-11e6-89b8-76970d558f56.png)

[2016-12-25 12:05] rramiii commented on #2951
any updates regarding this?? still same for me on 2.1.1

[2016-12-25 15:52] alen9788 opened #7954 "Multi Store view for Customizable Options of products do not work"
### Preconditions

1. M2.1.3
2.

### Steps to reproduce

We have the store view of EN,DE,FR but the Customizable Options of products do not work.
e.g
For EN store view.
Option Title: color
Title: Gray.

And we switched the store view to DE
translated them to German
Option Title: Farbe
Title: grau

Then we switched back to the EN store view

### Expected result

The EN store view should keep the or

[2016-12-25 21:56] serzhik commented on #5517
Same issue in 2.1

[2016-12-25 22:28] Ctucker9233 commented on #7949
Same here.

[2016-12-26 04:13] jeo4long commented on #5709
We are having this issue as well.  Magento 2.1.1.   Here's the link to the screenshot:  [https://s20.postimg.org/lboixbvh9/8_BDBB3_DD409260_F33457_B990_DC24_D8_AA9017_E3_D35_C9_A63_B.png](url)

[2016-12-26 05:16] commcad opened #7955 "2.1.3 - Paypal - We can't place the order, w/ Product Configurations & Customizable Options"
### Preconditions

1.  Mage 2.1.3
2.  NGINX, PHP 7.0.8-0ubuntu0.16.04.3

### Steps to reproduce

1. Create a new Simple Product
2. Add Customizable Options (e.g. size)
3. Add Configurations (e.g. color)

### Expected result

1.  Able to make a purchase with "product + size + color" choice

### Actual result

1. All goes well until/after Paypal payment.
2. Receiving an error "We can't place the ord

[2016-12-26 05:21] commcad opened #7956 "2.1.3 - Paypal - Minicart is not clearing out after PayPal checkout"
### Preconditions

1. Mage 2.1.3
2. NGINX, PHP 7.0.8-0ubuntu0.16.04.3

### Steps to reproduce

1. Add Product to cart
2. Checkout with PayPal express
3. Successful order processed, payment capture (all okay)
4. However, the minicart is still showing the product in it (do not clearing out)

### Expected result

1. Minicart clearing out after successful checkout

### Actual result

1. [Screenshot, l

[2016-12-26 05:24] commcad opened #7957 "2.1.3 - Transactional email logo is taking the LUMA theme logo"
Won't fill this bug report entirely because I believe the Mage Team is fully aware of this bug since Magento 2.0.x

Any idea why this is still a BUG although having been reported multiple times already?

Please advice; little things like this impact dramatically on the reliability and "credibility" of your application.

[2016-12-26 05:27] commcad commented on #7949
Same here.

[2016-12-26 06:00] commcad commented on #7955
Quick fix, if anyone else is having the same issue:

https://github.com/magento/magento2/commit/b9d96707a7f0d9d7f599812440f20344f1d45b91

**Magento & Co:** Please implement in the next release 2.1.4. Not exactly sure why you keep pushing new versions and missing the core feature fixes.

Thank you

[2016-12-26 06:05] commcad commented on #7957
**QUICK FIX**

 Overwrite logo_email.png with your own company logo in:

/var/www/magento2/vendor/magento/module-email/view/frontend/web
/var/www/magento2/pub/static/frontend/mycustomtheme/plasma/en_US/Magento_Email
/var/www/magento2/pub/static/frontend/Magento/luma/en_US/Magento_Email
/var/www/magento2/vendor/magento/theme-frontend-luma/Magento_Email/web

^ Not exactly sure which one did the tric

[2016-12-26 06:07] commcad commented on #7956
----------------------------------
**FIX MINICART**
----------------------------------
REF: https://github.com/magento/magento2/pull/5807/commits/9093ce9c2f5a4ba8c60ef0dd0769e620b4ce6f18

^ Look at the date on this one guys :/ hmmm

[2016-12-26 06:27] zchking commented on #4506
any one still care this issue ?

[2016-12-26 07:09] commcad opened #7958 "2.1.3 - Web Setup Wizzard - Component Manager - spinning wheel (still doesn't work)"
### Preconditions

1. Mage 2.1.3
2. NGINX, PHP 7.0.8-0ubuntu0.16.04.3

### Steps to reproduce

1. Login to backend
2. Go into > System > Web Setup Manager
3. Click on Component Manager

### Expected result

1.  Forgot what this feature is meant for, seen it last working back in March 2016 I think.
2.  I think its for installing module purchased from the Marketplace. Thankfully I haven't purchase a

[2016-12-26 07:33] pantaoran commented on #3294
@jstrez77 I'm not sure what exactly you're trying to solve. What I described in my last comment is exactly what happened to me until I realized how much worse I made it. I'm now trying to fix it, and it seems that the solution is to load user-specific data through javascript instead of php, this way the server page can still be cached and the client will still see relevant info for their account.

[2016-12-26 08:23] YevSent commented on #7955
Hi, @commcad, this is known issue and already fixed on develop branch (internal ticket MAGETWO-56699).

The fix will be available in Magento 2.1.4.

Closed as duplicate to https://github.com/magento/magento2/issues/5938.

[2016-12-26 08:23] #7955 closed, assigned to nobody

[2016-12-26 08:43] deepaksharma208 commented on #6540
Can anyone tell me how to resolve this error?
![image](https://cloud.githubusercontent.com/assets/23657801/21478835/6877f34e-cb75-11e6-86b1-3454628308ae.png)

[2016-12-26 08:46] katesuykovskaya opened #7959 "JS error on product page Cannot read property 'oldPrice' of undefined"
### Preconditions

1. M 2.1.3

### Steps to reproduce

1. Create conf. product on 2 swatch attributes (for ex. color and size) with assigned simple products
2. upload gallery to first simple product (will be needed to test gallery reload)
3. go to product page, click on 1st swatch

### Expected result

1. gallery of first simple product should be loaded

### Actual result

1. JS error
Trace:
swatc

[2016-12-26 08:49] hafeez3000 commented on #6540
Looking at your screenshot you have set the memory more than what M2 requires.  However, can you set memory_limit to -1 and try again.

[2016-12-26 08:53] deepaksharma208 commented on #6540
I changed to -1, but it throws an error saying "please choose a value
between 10 and 9999" and sets limit to 128M by default.

On Mon, Dec 26, 2016 at 2:20 PM, Abdul Hafeez <notifications@github.com>
wrote:

--
Regards

[2016-12-26 09:07] shiftedreality commented on #7933
Hi @ludwig-gramberg

Thanks for the update.
We've created internal ticket MAGETWO-62655 to investigate and fix this issue.

[2016-12-26 09:07] hafeez3000 commented on #6540
Can you share the path of the file you have changed to -1 else you can try installing from cmd

[2016-12-26 09:11] deepaksharma208 commented on #6540
I installed magento on localhost and changing the php.ini fie. Here is the
path "c:/wamp/bin/php/php7.0.10/php.ini"

On Mon, Dec 26, 2016 at 2:38 PM, Abdul Hafeez <notifications@github.com>
wrote:

--
Regards

[2016-12-26 09:15] deepaksharma208 commented on #6540
By changing to -1, all got error.
[image: Inline image 1]

On Mon, Dec 26, 2016 at 2:41 PM, Deepak Sharma <deepak.sharma@kartrocket.com

--
Regards

[2016-12-26 09:24] shiftedreality commented on #7862
Hi @hostep

Thanks for reporting.
We've created internal ticket MAGETWO-62660 to investigate and fix this issue.

[2016-12-26 09:43] YevSent commented on #7633
We are closing this issue because it hasn’t been updated in more than two weeks.
If you can reproduce this issue, please, be free to reopen it.

[2016-12-26 09:43] #7633 closed, assigned to alena-marchenko, dyushkin

[2016-12-26 09:50] YevSent commented on #7670
We are closing this issue because it hasn’t been updated in more than two weeks.

If you still can reproduce the issue, please, be free to reopen it.

[2016-12-26 09:50] #7670 closed, assigned to YevSent, alena-marchenko

[2016-12-26 10:03] shiftedreality commented on #7659
Hi @fooman

On `develop` branch current flow does not break Magento deployment.
It only displays incorrect dependencies.
Could you please try to reproduce it on the latest version?

[2016-12-26 10:27] victor-v-rad commented on #7916
Hi @cykirsch
Thank you for reporting this issue. I have manage to reproduce it but with a little trick. When you open Categories page Magento will choose "Default Category" by default (its ID is 2). You must set ID to 1 in URL (e.g. http://magento2site.dev/admin/catalog/category/edit/id/1/) manually to get the error you mentioned. So the question is. Do you have other steps to reproduce for this b

[2016-12-26 10:36] YevSent commented on #7309
Hi @pierzakp, thanks for reporting.
The internal ticket is created (MAGETWO-62662).

[2016-12-26 11:18] Choufourax commented on #5931
The bug still here in version 2.1.3.
So disappointing...........

[2016-12-26 11:32] dimple-vasoya commented on #6404
I am also facing the same issue. It shows different store in the cookie. Please suggest the solution.

[2016-12-26 11:47] vkublytskyi commented on #7891
@danteay, thank you for reporting this issue. We confirmed it in 2.1.3 release and develop branch. Internal ticket MAGETWO-62667 is created to address this issue. We understand that such bug is critical and we will take measures to avoid such issues in future.

As reported by @petterkj and @snez, for now, third party payment method configuration would be displayed in admin panel only if group sort

[2016-12-26 12:28] adifucan commented on #7869
@jmonschke I have just installed Magento EE 2.1.2 on Vagrant with composer and nginx as a web server. I set permissions and ownership like here: http://devdocs.magento.com/guides/v2.1/install-gde/prereq/file-system-perms.html
I'm in developer mode.
Then I updated Magento to 2.1.3 with composer update like here: http://devdocs.magento.com/guides/v2.0/comp-mgr/cli/cli-upgrade.html
And Magento (backe

[2016-12-26 12:53] cizgidekiadam opened #7960 "Js error in backend"
### Preconditions

1. Magento 2.1.3 (updated from 2.1.2 via Setup Wizard)
2. PHP 7.0.11
3. Cache cleaned, indexes completed, var/di, var/generation etc.. cleaned

### Steps to reproduce

1. Login to admin
2. Enter a product edit page

### Expected result

1. Opens product edit page.

### Actual result

1. Page not loaded correctly
<pre>Uncaught ReferenceError: Unable to process binding "if: functi

[2016-12-26 12:55] jurgisl commented on #7904
Without the quotes SKU field on the left is being converted to numeric so it drops trailing characters. Then the numeric comparison sees the 13020663105 and 13020663105SL as the same numbers.

This happens because earlier SKUs are being used as array keys, and array keys are converted to int by PHP if it is possible http://php.net/manual/en/language.types.array.php:

So if the import function is u

[2016-12-26 13:03] shiftedreality commented on #7604
Hi @giacmir

We've created internal ticket MAGETWO-62676 to investigate and fix this issue.
As a temporary solution you can create an `ArrayInput` object via `new` keyword:
[code]

[2016-12-26 13:35] veloraven commented on #7920
@zamocom thank you for your report.
Do I understand correctly that you upgraded to 2.1.3 from some previous version? Could you please provide exact Mgento version which you upgraded from?
Also if there are any logs in the var/log folder they can be helpful.

[2016-12-26 14:01] olysenko commented on #7884
Hi, thank you for your report. I cannot reproduce this issue on fresh Magento 2.1.3 installation
Below I describe my steps to reproduce
1. Install Magento 2.1.3
2. In back-end go to menu Stores->Settings->All Stores
3. Change code for existing Default Store View  to "en" from "default" and save
4. Create new store view
- Store: main Website Store
-  Name: Fr
- Code: fr
- Status: Enabled
5. Go to m

[2016-12-26 14:02] arunu commented on #7724
Thanks for the fix

[2016-12-26 14:39] veloraven commented on #7907
@magexo thank you for your report.
I was not able to reproduce this issue by your steps.
Please provide more information about your locales: for andmin, for storefront, etc, and more detailed steps - what exactly you do including exact date you choose, product type, etc.
Please also provide information about your environment: OS, versions of web-server, PHP, MySQL.

[2016-12-26 15:17] veloraven commented on #5923
MAGETWO-56863 fixes this issue in develop branch
Internal ticket for branch 2.1 - MAGETWO-58383

[2016-12-26 15:19] veloraven commented on #7918
@joenivl  I'm closing this issue as a duplicate of #5923.
We have internal ticket MAGETWO-58383 to fix this issue in 2.1 branch.
@Cacasapo thank you for help and pointing at corresponding issue.

[2016-12-26 15:19] #7918 closed, assigned to nobody

[2016-12-26 15:30] veloraven commented on #7941
@w130pmpo thank you for your report.
I have created internal ticket MAGETWO-62682 for this issue

[2016-12-26 16:19] YevSent commented on #7613
Hi @devonto,  we cannot reproduce this issue.

Tested on Magento 2.1.3, Firefox 50.1.0.

Please, specify more details: debug.log, error log from browser console, etc.

[2016-12-26 16:21] veloraven commented on #7949
@bfsmith07 thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-12-26 16:26] YevSent commented on #7898
Hi, @vikeni, described issue looks like a problem with Taxamo, please, contact with Taxamo support.
If it Magento issue, please, provide details about errors on Magento side, like browser console errors.

[2016-12-26 16:32] YevSent commented on #6941
Fix for this issue already backported and will be available in Magento 2.1.4 version. If issue will be still reproducible, please, be free to reopen it.

[2016-12-26 16:32] #6941 closed, assigned to YevSent, alena-marchenko

[2016-12-26 18:22] beenamalla opened #7962 "The 2.1.3 & 2.0 latest version keeps loading but nothing happens"
Hi

I tried to install both versions when i click on  Find Partners & Extensions in Admin panel .. it keeps loading all time and nothing happens . Also All the icons of the admin panel menu dont load properly

### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2016-12-26 18:39] danteay commented on #7891
Tank you @vkublytskyi I try this to fix this error, and I hope that this issue is resolved soon.

[2016-12-26 18:48] adityag186 opened #7963 "cron job Re-indexing takes 1 hour and gets stuck mostly"
### Preconditions
1.  2CPU Cores, CentOS, 5GB RAM, 60GB SSD on siteground cloud server
2. Magento CE 2.1.3
3. 350000 products,5GB database size

### Steps to reproduce

1. Cron job runs re-indexer at night when there is no traffic 99% of the times

### Expected result

1. Indexing should happens in 10 minutes at the most I guess

### Actual result

1. Indexers get stuck at processing. Catalog sear

[2016-12-27 00:05] ghost commented on #7287
Was there a proper solution for this?

[2016-12-27 01:33] erfanimani commented on #4263
Still happening on 2.1.3.. I can't seem to find a way to search which commits MAGETWO-59052 consists of and whether it's already on the 2.1 branch.

[2016-12-27 01:40] shahankitb997 commented on #7928
Hi Guys,

Any update @magento-admin  @magento-team @alena-marchenko ?

Thanks

[2016-12-27 03:25] bondimedical3 commented on #5530
None of the above fixes work!

[2016-12-27 05:17] shruti-ranium commented on #6302
app/code/Vendor/Module/view/frontend/layout/sales_email_order_renderers.xml

<?xml version="1.0"?>
<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd" label="Email Creditmemo Items List" design_abstraction="custom">
    <body>
        <referenceBlock name="sales.email.order.renderers">

[2016-12-27 05:45] vishveskrish commented on #7943
Is there any fix for this issue ?

[2016-12-27 05:59] vishveskrish commented on #7949
Is there any patch or fix available ?

[2016-12-27 07:23] renu2jcommerce opened #7964 "Out of Stock Products Visible after applying filter on Listing Page."
Hi ,
 Facing issue with Configurable products:
 Required :
 We are assigning the size attributes to configurable products if we filter through size attribute on listing page then the configurable products that has size attribute and the assigned simple products is in stock in that case only it will be visible on frontend.

 Current Result :
  For Example
we filter the product by size attribute val

[2016-12-27 07:49] zamocom commented on #7920
Hi, First version if Magento I install is 2.0.7, then I install all the installation available only by System Update of Magento, I don't have install another module, I install Porto theme. I have the problem from 2.1.2 version, My old order work correctly. I attached the log file. Thanks
[update.log.txt](https://github.com/magento/magento2/files/673736/update.log.txt)
[exception.log.txt](https://g

[2016-12-27 08:03] zamocom commented on #7920
I have have also system log but is too big for send. Thanks

[2016-12-27 08:12] giacmir commented on #7604
Thanks @shiftedreality

In fact using `new` is exactly what I've done just after opening this issue. :wink:

[2016-12-27 08:39] giacmir commented on #7869
I have this issue too in developer mode and Magento 2.1.3. For me is related to static files versioning that is defaulted to "on" in Magento 2.1.3. If I change it back to off (from database since admin interface is not working anymore) then it goes well.

[2016-12-27 08:42] zucler commented on #7869
@adifucan to answer you questions:

Do you encounter this issue after update from previous version (what version?) to 2.1.3?
No, this is my first time with Magento, I have just installed a clean version.

Do you use Nginx?
Yes, I do

Do you use docker?
Yes, I followed this guide: http://andykdocs.de/development/Docker/Dockerize-Magento-2-on-Mac-OS

What edition of Magento do you use: CE or EE?
Com

[2016-12-27 09:34] kkdg opened #7965 "static content deploy is successful however css/js is not applied both for admin and frontend"
### Preconditions

1. Magento version CE 2.1.3, downloaded from the official Magento site. PHP 5.6.23, MySQL 5.6.33

### Steps to reproduce

1. I downloaded the package and decompressed into the folder and ran an install successfully
2. I finished the install using the web install, however I noticed css is not loaded when I first visited both frontend and admin.
3. I ran _**php bin/magento setup:s

[2016-12-27 09:51] Jilco commented on #3897
I removed the TTL attribute from /vendor/magento/module-theme/view/frontend/layout/default.xml and the menu bar was there again! But can that do any harm, if I'm correct the default TTL is enheritated. Or am I wrong?

[2016-12-27 09:51] Jilco commented on #3421
I removed the TTL attribute from /vendor/magento/module-theme/view/frontend/layout/default.xml and the menu bar was there again! But can that do any harm, if I'm correct the default TTL is enheritated. Or am I wrong?

[2016-12-27 10:16] jarnail104 commented on #6079
is this bug fixed?

[2016-12-27 10:16] indilo53 commented on #7949
Same issue here, even for default meta tags

[2016-12-27 10:31] maxxis2112 commented on #7878
Still having no luck resolving this issue. Unfortunately no options to roll back either to 2.1.2.

If anybody has any interim solutions i would really appreciate it.

[2016-12-27 10:32] indilo53 commented on #7949
To fix the logo, I edited Vendor/Theme/Magento_Theme/layout/default.xml :

[code]

created :  Vendor/Theme/web/img/logo.png
created :  Vendor/Theme/Magento_Email/web/logo_email.png

For the copyright, I created  Vendor/Theme/Magento_Theme/templates/html/copyright.phtml with this content :

[code]

For the welcome message, I created  Vendor/Theme/Magento_Theme/templates/html/header.phtml with this

[2016-12-27 10:58] adityag186 opened #7966 "Magento 2.1.3 Products cannot be edited after upgrade from 2.1.2"
### Preconditions

1. Magento 2.1.3
2.

### Steps to reproduce

1. Go to admin->product->catalog-> Click on a product to edit it/
2.
3.

### Expected result

1. All attributes should appear for modification

### Actual result

1. Magento window is still open however, no attributes or text comes on the screen related to products.

[2016-12-27 11:02] YevSent commented on #7671
Hi, @harshadgoswami, cannot reproduce your issue.

Do you use HTTPS for checkout pages? By default `Enable SSL Verification` option for WPPHS is `Yes`.

Also, please, check if you have any errors in browser console log.

[2016-12-27 11:05] dmrachkovskyi commented on #7862
Hi @hostep

We've added the bug and your workaround to _Known Issues_ for both [CE](http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.3CE.html#known-issues) and [EE](http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.3EE.html#known-issues) Release Notes (Magento 2.1.3).

Thanks for your support!

[2016-12-27 11:24] ioliinyk commented on #7835
English language input is expected behavior of the system

[2016-12-27 11:28] YevSent commented on #7835
Closed as not a bug.

[2016-12-27 11:28] #7835 closed, assigned to alena-marchenko

[2016-12-27 11:31] susmithaN opened #7967 "Problems with breadcrumbs"
### Preconditions
I have some problems with breadcrumbs .
Im using
1. Magento ver. 2.1.1
2. PHP Version 7.1.0

### Steps to reproduce
1. Open Product from list page
  List page - http://prnt.sc/doeoxy

### Expected result
1. details page should contain breadcrumbs in this  format **Home -> Category name ->Product Name**

   **Home >  Proteasome Inhibitors  > MG-132**

### Actual result
1. **Home >

[2016-12-27 11:34] vzabaznov commented on #7747
Issue has been fixed in fresh magento version, thanks for reporting.

[2016-12-27 11:34] #7747 closed, assigned to vzabaznov

[2016-12-27 11:35] vzabaznov commented on #6715
issue was fixed in fresh magento, thanks for reporting

[2016-12-27 11:35] #6715 closed, assigned to veloraven

[2016-12-27 11:57] olysenko commented on #7944
Hi, thank you for report. Please provide more detailed steps about  "shipping tables are setup with handling fee" in order to reproduce this issue. For instance if I use Flat/Table Rate shipping methods with Handling fee it goes to the Shipping & Handling result value in order but not to the Handling value alone.

[2016-12-27 12:11] adityag186 opened #7968 "Magento 2.1.3 all products not displaying after upgrade from 2.1.2"
### Preconditions

1. MAgento 2.1.3
2. Since website has been upgraded, products are not showing correctly.

### Steps to reproduce

1. Go to www.atlanticbooks.com.
2. Select Subjects.
3. Select Business Management.

### Expected result

1. 4706 products should be displayed

### Actual result

1. Only 500 products are being displayed

[2016-12-27 12:24] grischunya commented on #7968
I have the same error after reindex console.
If I add 1 new product it is added and displayed but after manual re-indexing - 500 products again

[2016-12-27 12:27] grischunya commented on #7966
Clearing the cache and cookies on my browser helped me. Try it and you

[2016-12-27 12:45] aholovan commented on #7322
Hi guys,
I've used  in standalone module the next code:

1) requirejs-config.js
[code]
2) price-box.js

[code]

[2016-12-27 12:46] jarnail104 commented on #5876
If anyone imported configurable product with color and size or more attributes , please send file here. i am having this issue. thank you

[2016-12-27 12:59] grischunya opened #7969 "ORDER BY `sort_order` ASC before WHERE"
1. After upgrade 2.1.2 to  2.1.3
a:4:{i:0;s:334:"SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'WHERE (`store`.`store_id`='1')' at line 2, query was: SELECT `store`.* FROM `store` ORDER BY `sort_order` ASC
 WHERE (`store`.`store_id`='1')";i:1;s:5280:"#0

[2016-12-27 13:01] olysenko commented on #7937
Hi, thank you for your report. Adjustment Fee and Adjustment Refund are not calculated fields  by design. It is just the possibilities to adjust your refund totals in plus and minus on some definite value. Closed as not a bug

[2016-12-27 13:01] #7937 closed, assigned to nobody

[2016-12-27 13:04] dyushkin commented on #7854
Hi @twistedindustries! Please provide specific settings of your auth.net sandbox account fraud filters, so that we can test this issue properly.

[2016-12-27 13:05] olysenko commented on #7867
Hi, thank for your report. Internal issue MAGETWO-62711 was created

[2016-12-27 13:10] hostep commented on #7867
@olysenko: this is a duplicate of https://github.com/magento/magento2/issues/4547, you are already tracking this in MAGETWO-55432 ;)

[2016-12-27 13:15] sumanta-cn commented on #4621
This issue is fixed now. Unfortunately I had truncated `catalog_product_link_attribute` table, while removing all products and categories from database as mentioned on stackoverflow (http://magento.stackexchange.com/a/102995/14787). I have inserted following records on that table and it fixed the issue.

INSERT INTO `catalog_product_link_attribute` VALUES (1,1,'position','int'),(2,4,'position','in

[2016-12-27 13:20] rohit-prjpt opened #7970 "Issues with base url when set use website on store view and website view has different url than default config"
### Preconditions

1.  Magento ver. 2.1.3

### Steps to reproduce

1. default config has url set http://www.example.com
2. website scope has url set http://web1.example.com
3. store view scope - use setting use website

### Expected result

1. it should use website url as we have configuration set use website

### Actual result

1. frontend will use base url http://www.example.com but actually it

[2016-12-27 13:34] vishveskrish commented on #7942
@artemhp : Showing message is not proper way ! Is there any other fix/patch we can apply to resolve this ?

[2016-12-27 13:35] YevSent commented on #7143
Hi, @bvboas, we cannot reproduce a specified issue. Please, provide more details.

Now, PayPal Express returns `SHIPTOSTATE`, `SHIPTOCITY`, `SHIPTOCOUNTRYCODE`, `SHIPTOZIP` and these fields are enough to get shipping rates for configured carriers. So, additional shipping form is excessive, because a customer already chose address on PayPal side.

[2016-12-27 13:38] guillaume-netapsys commented on #7813
I'm getting the same kind of error using Redis as my cache system.
If I disable Redis and use classic cache system, everything seems to be back to normal.
So for the moment, I can't deploy with Redis, so it could be great to have more info or a patch to fix this issue.
Thank you.

[2016-12-27 13:50] YevSent commented on #7483
Hi, @jurpro, we cannot reproduce specified issue. Please, provide more details.

On Magento 2.1.3 all works as expected. Checkout with a downloadble product:
![screenshot from 2016-12-27 15-45-40](https://cloud.githubusercontent.com/assets/2736528/21500885/081f9222-cc4c-11e6-864c-411cd90691e9.png)

And filled billing address for a guest customer:
![screenshot from 2016-12-27 15-46-35](https://clou

[2016-12-27 13:52] andidhouse commented on #7813
jep @guillaume-netapsys think it is a redis problem.

@magento-team Can you pls check this now!

One more bug introduced in 2.1.3 - testing is very bad guys! You introduce more bugs in the versions then fixing them :-/.

[2016-12-27 13:55] andidhouse commented on #7813
@vkorotun can you pls test your 2.1.3 system using redis cache. Seems to be the problem.
I am really tired of finding bugs in new versions from stuff that worked before...

[2016-12-27 14:03] olysenko commented on #7929
Hi, thank you for your report. Magento doesn't have service quoteShippingAddressManagementV1 for shipping address now. Only for billing one still exists  - quoteBillingAddressManagementV1. It is a bug of not updated documentation. Internal issue DDOC-12 was created

[2016-12-27 14:09] kandy commented on #7938
We have internal issue for this MAGETWO-58876  (already fixed for 2.1.x) and will be delivered in one of next release

[2016-12-27 14:09] mauromm commented on #7362
In Magento 2.1.3, the method getProducts() was moved to **Magento\ConfigurableProduct\Pricing\Price\LowestPriceOptionsProvider**

To patch it, you need to implement di.xml:

[code]

And replace:

[code]

[2016-12-27 14:44] pravalitera commented on #7687
It happens also on custom attributes with custom sources. I have put _Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend_ as _backend_model_ .

When i save in backoffice without options, i have a string in the before save with the previous options selected.
When i save in backoffice with one/more options, i have an array.

[2016-12-27 15:09] cykirsch commented on #7916
@victor-v-rad Sure, I think the piece you're missing is that when I save category 3 (or any other that has products in both _this_ category and category 1), it's actually failing via an observer while saving category 1.

One way to do it from your current setup would be to take whatever product you have in category 1, go to another one of the categories that product is in, and save that category.

[2016-12-27 15:26] victor-v-rad commented on #7916
Got it! Thank you for the clarifications. Internal ticket MAGETWO-62729 to fix this through Data Migration Tool

[2016-12-27 15:31] zamocom commented on #7920
I have the Italian translation installed before the update at 2.1.2 Magento version.

[2016-12-27 15:38] alen9788 commented on #7884
We have the same steps, but the But the url was redirected to the domain.com/en/contact/index

We tried it by 2 different domains with different host, but same error.

Could you try it by the real domain rather than the local?

[2016-12-27 15:38] Tristan-N commented on #7401
@kanduvisla could you please update this ticket with the location this fix should be implemented, like @spyrule requested? Thank you!

[2016-12-27 15:38] iivashchenko commented on #5835
Hi @exreplay, thank you for reporting. I've created internal ticket MAGETWO-62713 and linked this GitHub issue.

[2016-12-27 16:00] SilvanLaroo commented on #4589
We still have this error on Magento 2.0.10. We've disabled it from the config, enabled guest checkout, but the popup still appears.

[2016-12-27 16:07] nagrgk commented on #5504
any solution for this in 1.9? we cannot turn off flat .

[2016-12-27 16:15] YevSent commented on #7928
Hi, @shahankitb997, this is known issue and already fixed on develop branch (internal ticket MAGETWO-55117).

Closed as duplicate to https://github.com/magento/magento2/issues/3789.

[2016-12-27 16:15] #7928 closed, assigned to alena-marchenko

[2016-12-27 16:18] YevSent commented on #3789
@pratikmage, this fix available only for develop branch and is not available for Magento 2.0.x and 2.1.x.

Backport will be published in Magento 2.1.5 version.

[2016-12-27 16:20] perry3181 commented on #7968
Same problem in 2.0.11 #7948

[2016-12-27 16:40] olysenko commented on #7867
Hi,  @hostep our internal issue  MAGETWO-55432 is closed but you can see the result (actually absence of the result)

[2016-12-27 17:47] camaech opened #7971 "Paging Magento 2 not correct when using groupByAttribute on custom Collection"
Perhaps related to #2884 and https://github.com/magento/magento2/commit/e012a481737ba124281581442f57231bee259aa4

Pager total number of pages is incorrect.

### Preconditions

1. Magento version 2.1.3

### Steps to reproduce

1. When creating a custom collection and using groupByAttribute, the pager doesn't display the correct number of pages.

[code]
and then:

[code]

### Expected result

1. Pag

[2016-12-27 17:55] bvboas commented on #7143
We have seen this issue happen when the buyer is from Brazil.

Because Region is a required field for that country, Magento does not seem to match the state returned by Paypal with the ones available from Magento.

[2016-12-27 18:01] Nicelabsrl opened #7972 "C# - magento 2.1.3 - error deserialsing SOAP call catalogProductRepositoryV1Get on Bundle product"
### Preconditions

1. Release: 2.1.3 CE
2. Using Visual studio 2015 to write service reference SOAP API Call

### Steps to reproduce

1. Call web method catalogProductRepositoryV1Get for bundle product
2. Fiddler returns the data correctly but the data aren't  deserializable in Visual Studio
3. The issue  is only in the bundle type products

### Actual result

1. The Fiddler XML response is:
[code

[2016-12-27 18:26] sbw92 opened #7973 "Exception when trying to add new integration from backend"
### Preconditions

1.  Using shared cpanel hosting with namecheap
2.  Magento 2.1.3, PHP7 and mariadb 10.1

### Steps to reproduce

1.  Login to backend
2.  Go to system->integrations
3.  Click "add new integration".

### Expected result

1. There should be a form to add new integration.

### Actual result

1. It throws an exception, details below:

Exception #0 (Exception): Notice: Undefined inde

[2016-12-27 19:14] duffner commented on #7508
@veloraven, I understand that you feel this issue should be closed, but the issue is not solved.  This is still an issue in the latest release. 2.1.3

[2016-12-27 19:15] duffner commented on #5242
@veloraven  Has this issue been resolved?

[2016-12-27 19:16] duffner commented on #5242
Updating max_input_vars, while this does fix the problem.  This is an improper solution and is purely a bandaid fix.

[2016-12-27 19:19] duffner commented on #7859
@magento-admin, who is assigned to this ticket?    This is a major issue and makes Magento 2 extremely custom themes almost impossible due to extensive build time.

[2016-12-27 19:39] flnative commented on #5377
When did this problem first occur? I tested thoroughly from my initial installation in 2.0 but now discovered in 2.1.2 that I cannot login properly. Says Welcome (name) but still shows login links. I login and and try to checkout, I get logged out. I try to review past orders after logging in and I get redirected to being logged out. What the heck is going on with Magento?

[2016-12-27 19:39] imgali commented on #7821
Same here on 2.1.3

[2016-12-27 19:45] flnative commented on #7554
Same issue with 2.1.2. I cannot checkout. The system thinks I'm logged out even though I login a bunch of times. I get the Welcome (name) on top, but still shows "sign in" link. I cannot make a purchase no matter what I do. Damn, I wish I never installed this version for a production site. It has been a year and I cannot even make an order on the front end.

[2016-12-27 19:59] pboisvert commented on #7952
@madaank we will need more info to reproduce such as your system configuration and what version of Magento where you are seeing this error

[2016-12-27 20:26] key-dev commented on #7833
Yep this worked.
I disabled 3rd-party extensions and setup:upgrade ran successfully.
Thank you veloraven

[2016-12-27 20:29] key-dev commented on #7950
Any help?

[2016-12-27 21:20] twistedindustries commented on #7854
@dyushkin My settings shouldn't matter since I am using Zip code: 46282 it will decline all transactions per the instructions [here](https://developer.authorize.net/hello_world/testing_guide/)

Here are some screenshots anyway:
![image](https://cloud.githubusercontent.com/assets/5498323/21508598/23695e42-cc37-11e6-9010-5d86154ea3d5.png)
![image](https://cloud.githubusercontent.com/assets/5498323/2

[2016-12-27 21:54] mtstedman opened #7974 "Can't change customer group when placing an admin order, even after MAGETWO-57077 applied"
1. Magento 2.1.3,
2. PHP 5.6.27
3. mySQL 5.6.33
4. Ubuntu 14.04.5 LTS

### Steps to reproduce
1. From the admin section go to Sales > Orders > Create New Order > Select Customer
2. The customer group field is set to the default customer group (not the one the customer is actually in) and when I attempt to change the group to something else, the waiting icon spins and then it resets it back to the

[2016-12-27 22:24] #7974 closed, assigned to nobody

[2016-12-28 00:48] key-dev commented on #7950
It was a third party extension after uninstalling it, it went fine.

[2016-12-28 00:48] #7950 closed, assigned to nobody

[2016-12-28 01:33] shahankitb997 commented on #7928
HI @joni-jones Can you please provide the solution. What needs to be fixed to solve this issue?

http://magento.stackexchange.com/questions/151288/magento-2-dhl-api-hong-kong-address-issue-due-to-quote-session

[2016-12-28 01:36] shahankitb997 commented on #3789
HI @joni-jones Can you please provide the solution for now? What needs to be change? So for now we can put the fix. As our website is Live & facing this issue. We can't wait for version release.

Hope u understand.

http://magento.stackexchange.com/questions/151288/magento-2-dhl-api-hong-kong-address-issue-due-to-quote-session

[2016-12-28 03:09] key-dev opened #7975 "Customer area links doesn't work after upgrading from 2.1.2 to 2.1.3"
Hi there guys,
After upgrading magento 2.1.2 to 2.1.3 customer area links aren't working anymore.
customer/account/create/
customer/account/login/

None of these links are working.
Any help?

[2016-12-28 03:15] key-dev opened #7976 "Magento 2.1.2 to 2.1.3 color swatches no longer change the image in product page."
Hi there guys,
After updating magento from 2.1.2 to 2.1.3 color swatches no more changes the image related to color.
Any help?

[2016-12-28 03:19] #7833 closed, assigned to nobody

[2016-12-28 04:34] VirginiaMoon commented on #7588
Have you had any more insight into this issue? Currently experiencing it on servers running Apache and PHP5.6.

[2016-12-28 05:39] aman-bhaskar commented on #815
Help me when  install magento 2.0.2 i got an issue.
![error](https://cloud.githubusercontent.com/assets/24803864/21514702/1a3801fe-ccee-11e6-83b7-fc655d6307ed.png)

Starting Magento installation:
File permissions check...

Required extensions check...

Enabling Maintenance Mode...

Installing deployment configuration...

Installing database schema:
Schema creation/updates:
Module 'Magento_Store':

[2016-12-28 05:56] pratikmage commented on #3789
HI @joni-jones pls check this module i fix it using this module.
https://github.com/shopgo-magento2/checkout-city

[2016-12-28 06:10] HongMarketingInc opened #7977 "Paypal Pro currency issue"
### Preconditions

1. Magento CE 2.1.2
2. Setup two websites, each one has its own Paypal Pro account.
3. Setup base currency as CAD for each website
4. Product currency is CAD

### Steps to reproduce

1. Go to the 1st website (main website), place an order (CAD $10.00) by using Paypal Pro payment, both Magento and Paypal show the amount in CAD
2. Go to the 2nd website, place an order (CAD $10.00)

[2016-12-28 07:20] ndsina commented on #7968
Same problem 2.1.3EE.
After investigation found, that the 'selectsByRange' method(\Magento\Framework\DB\Adapter\Pdo\Mysql.php) works incorrectly.

[2016-12-28 07:21] jarnail104 commented on #5876
@Yonn-Trimoreau  ...I need to import configurable products with color and size attributes and thats not working. Can you please help me or you can send me demo file which work on 2.1.2. I can also upgrade my version to 2.1.3 i am not sure if this issue is fixed because i didnt find anything related to importing configurable product. Thanks

[2016-12-28 08:05] vzabaznov commented on #7692
@kumarancontus close as no update more than 2 weeks, please feel free to write here or to open new issue if needed

[2016-12-28 08:05] #7692 closed, assigned to nobody

[2016-12-28 08:14] YevSent commented on #3789
@shahankitb997, you can compare `\Magento\Quote\Model\ShippingMethodManagement` and `\Magento\Quote\Model\GuestCart\GuestShippingMethodManagement` on develop with your 2.1.x version and try to apply changes. These both services now use `estimateByExtendedAddress` instead `estimateByAddress`.

[2016-12-28 08:15] YevSent commented on #3789
@pratikmage, this module similar to our fix, but uses deprecated `\Magento\Quote\Model\ShippingMethodManagement::getEstimatedRates` method.

[2016-12-28 08:37] joenivl commented on #7918
@veloraven thanks! Sorry for duplicating!!

[2016-12-28 08:53] olysenko commented on #7508
@duffner, I will check this issue in release 2.1.3 again

[2016-12-28 09:00] sbw92 commented on #7973
Anybody?

[2016-12-28 10:05] bh-ref commented on #5651
the issue is still present in CE 2.1.3

[2016-12-28 10:11] YevSent commented on #7143
@bvboas, tried with Brazil buyer, shipping details returned with Brazil address:
[code]

Shipping rates are displayed and order has been placed successfully.

[2016-12-28 10:22] bh-ref commented on #6511
this issue seems still present in CE 2.1.3

[2016-12-28 10:44] adityag186 commented on #7968
Do you know the fix for the issue?

[2016-12-28 10:51] ndsina commented on #7968
I've just rewritten the 'isRangingNeeded' method(vendor/magento/module-catalog/Model/Indexer/Category/Product/AbstractAction.php) to return false, but it is temporary solution, I am looking for correct one.

[2016-12-28 10:56] adityag186 commented on #7968
Please update me if a permanent solution is released. Thanks.

[2016-12-28 10:57] ndsina commented on #7968
Ok

[2016-12-28 10:58] mrfroasty commented on #4883
Im in the middle of a project with 2.1.2 and I have too many bugs related to translation:

1)Order confirmation not working when sent via backend - reported already
2)validation.js, jquery.validate.js not translated - reported already
3)Saving configurable product with translation via backend results to simple being reset to 0.000 price vaues - reported already
......

.... "I am thinking what the

[2016-12-28 11:34] alexstpp commented on #7943
Fixed here https://github.com/magento/magento2/blob/develop/app/code/Magento/Store/Model/Config/Processor/Fallback.php#L109

[2016-12-28 11:51] cizgidekiadam commented on #5008
same issue in version 2.1.3 with single store mode.

adding a row manually for not founded cms page (cms_page table) to cms_page_store table resolve this. But i think it is not the right way. Still it is a bug

[2016-12-28 12:08] aelakkad commented on #4431
any update on this issue ? i face same issue , orders not appearing in Sales/orders but appears only on dashboard latest order !? i am using Magento ver. 2.1.3 ?

[2016-12-28 12:37] erfanimani commented on #7941
Any ETA on this one? It actually prevents stores from using configurable products in combination with multi currency..

[2016-12-28 12:52] bh-ref commented on #5509
seems not yet fixed in CE 2.1.3

[2016-12-28 13:09] grischunya commented on #7841
Perhaps you are using a custom theme to the type of virtual? Try to change the physical and update the cache. It helped me

[2016-12-28 13:11] glwstor commented on #3759
The problem still exists with version 2.1.3
Additionaly there is another bug, if you convert a simple product with tier price to a configurable product, the old tier prices will not be deleted and is visible on frontend

[2016-12-28 13:34] alexpoletaev commented on #6403
I can confirm, that we have the same issue on CE 2.1.2 (and still not fixed in 2.1.3). Please fix this issue asap. Thanks.

[2016-12-28 13:53] perry3181 commented on #7968
Hello @adityag186, I just go to your store, seems you already fixed the issue.
Could you let me know how to fix it? Thanks!

[2016-12-28 13:54] hostep commented on #6984
@dthampy or @veloraven: can you confirm this is fixed in 2.1.3?
I see these two commits which seem to have something to do with this issue: https://github.com/magento/magento2/commit/1ab5048f9aaa6e7584c696d84d69bf50f0234bbb & https://github.com/magento/magento2/commit/c6c16165b4bbd84d5800f1419cbe61321bc33dd4, but maybe I'm wrong?

If this is fixed in 2.1.3, you can close this ticket :)

[2016-12-28 14:01] veloraven commented on #7949
We have created internal ticket MAGETWO-62737

[2016-12-28 14:31] dyushkin commented on #7854
@twistedindustries, thank you for reporting. Internal ticket MAGETWO-62739 was created to investigate and fix this problem.

[2016-12-28 14:46] DavidLambauer commented on #7821
Same here

[2016-12-28 14:54] olysenko commented on #5509
@bb-ref, you are right. Fix to 2.1 is scheduled for future release

[2016-12-28 15:12] AlieksieievOU opened #7978 "Fotorama fullscreen image moving issue in firefox"
### Preconditions

1. Magento 2.1.0

### Steps to reproduce

1.  [open demo page](http://magento2-demo.nexcess.net/breathe-easy-tank.html) in firefox
2. click on image fo enter fullscreen mode
3. zoom image and move it up/down

### Expected result

1. Should be able to see whole image [chrome](http://share-srv.pulsarfour.com/p4/2016-12-28_16-58-19.gif)

### Actual result

1. image jumps to initial

[2016-12-28 16:18] veloraven commented on #7840
Internal ticket MAGETWO-62758 was created

[2016-12-28 16:27] zexperto opened #7979 "Magento2 Default Shipping and Billing Address Not saved when Save the customer"
### Preconditions

1.  Version CE 2.1.3
2. When saving the customer from backend, the default address unchecked (not saved) when we save the customer twice

### Steps to reproduce

1. Create New Customer from backend
2. Create Address and set it as default Billing and Shipping address.
3. Save Customer -> it is ok.
4. Click on save Customer again -> the issue appear and the check boxes of Default

[2016-12-28 16:52] LOBsTerr commented on #7457
@vzabaznov Can we reopen this ticket? I'm currently is able to reproduce this bug. I have the latest version 2.1.2 version. I run cron directly from the browser.

`Fatal error: Uncaught Error: Class 'Magento\Framework\Console\CLI' not found in ../site/vendor/magento/module-cron/Observer/ProcessCronQueueObserver.php on line 173`

[2016-12-28 16:58] alexpoletaev commented on #7841
Guys, you will find a temporary workaround here https://github.com/magento/magento2/issues/7840#issuecomment-268313989 . It will fix the configuration retrieval from the website scope.

[2016-12-28 17:18] erikhansen commented on #7943
I can confirm that changing the `vendor/magento/module-store/Model/Config/Processor/Fallback.php:171` file from

[code]

to this:

[code]
fixes the issue for me.

[2016-12-28 17:22] LOBsTerr commented on #7457
@vzabaznov in vendor/magento/module-cron/Observer/ProcessCronQueueObserver.php

`use Magento\Framework\Console\CLI;`

The use statement uses uppercase for class CLI, the original class name and file name is **Cli**
The use statement should be updated.

[2016-12-28 18:22] Flamestyle opened #7981 "Import custom less file not work."
Import costome.less does not work in directory of theme.
### Preconditions

1. Magento ver. 2.1.3, ubuntu 16.04, Nginx 1.10, PHP 7, MySQL 5.7.
2. Costome theme same luma, path: `app/design/frontend/Vendor/theme`
### Steps to reproduce

1. Create _custome.less to `app/design/frontend/Vendor/theme/web/css/source`
[code]
2. Add line to _extends.less `@import '_custome.less';`, path: `app/design/front

[2016-12-28 18:24] slimzc commented on #7869
Hi, I have a similar problem but I see the file are in _pub/static/_requirejs/adminhtml/Magento/backend/**es_CL/**_ because i change the default language using  `setup:install --language=es_CL` Any idea?

[2016-12-28 20:37] erikkubica commented on #2228
As @PingusPepan wrote replacing & with &amp;amp;amp; works. It looks crazy but it works. Thank you you solved me hours of whatever.

[2016-12-28 20:58] dferramosi commented on #4146
I am sorry to add to a closed issue, but I am getting this in 2.0.10 - any recommendations? (I do have single store mode on)

[2016-12-28 21:55] zdjm opened #7983 "Braintree not working"
Brain tree not working, When I try a payment on sandbox or production it says it cannot complete this.

### Preconditions
Magento 2.1.3

PHP 7.0.14 (cli) (built: Dec  7 2016 10:15:15) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies

[PHP Modules]
bz2
calendar
Core
ctype
curl
date
dom
exif
fileinfo
filter
ftp
gd
gettext
hash
iconv
intl
jso

[2016-12-28 21:58] andreaskoch opened #7984 "Wrong address template used for order e-mails"
Magento CE 2.1.3 and Magento EE 2.1.2 uses the wrong address template for shipping, invoice and credit memo e-mails.

## Preconditions

- Magento 2.1.3 Community Edition with sample data or
- Magento 2.1.2 Enterprise Edition
- A Magento shop with multiple websites, stores and store views

## Steps to reproduce

1. Create customized address templates on store-view level
    - Create a second store

[2016-12-28 22:01] AirmanAJK commented on #5836
Spent a lot of time today tracing this issue. When I add/remove a category to a product, I only see the update when i manually reindex on the CLI. This all appears to be due to the indexer not being set to the invalid state when I save the product.

The following file: \vendor\magento\module-indexer\Model\Processor.php at Line 57 shows why this is an issue:
[code]
The function only continues to re

[2016-12-28 22:24] ericthehacker commented on #7943
A corollary of this issue is that, when a config field is overridden at a website level, any children store views which are set to "Use Website" for that field will return the default scope value, instead of the overridden website value.

[2016-12-28 22:27] GuidoHub commented on #5478
Problem is still there in release 2.1.3

[2016-12-28 23:38] magentochile opened #7985 "Logo email"
El logotipo no se puede crear, para la llegada de los correos. Uno sube la imagen, en Contenido/Configuración Configuración de Diseño, se elige el template y en la pestaña "Correos electrónicos transaccionales" uno sube el logotipo, lo guarda, todo ok y al volver a "Correos electrónicos transaccionales" la imagen sale con icono de no encontrado, uno hace clic sobre la imagen y envía una url inexis

[2016-12-29 01:25] mehh commented on #5642
ProTip.  For me, turns out the issue was with CloudFlare.  Needed to add a whitelist for the Authorize.net callback URL, in my case it was:  https://domain.com/shop/authorizenet/directpost_payment/response

(Magento is installed in a subdirectory).

Just make sure that URL is reachable by Authorize.net (Not blocked by ModSecurity rules, CloudFlare, or other WAF.

[2016-12-29 01:26] sbw92 commented on #4737
Magento 2 is a bloody disaster! I can't go 2 hours making a site with magento without getting crazy errors and exceptions. Everything about it is a stress! Nearly every feature needs to be tweaked in order to work!

[2016-12-29 01:38] degaray commented on #5664
I am having the same problem on 2.1.3

[2016-12-29 01:45] sbw92 commented on #4737
Do not follow DevManav advice. So much work to fix what his advice did!

[2016-12-29 02:44] sbw92 commented on #4737
I have a quick and dirty fix, go to Marketing -> Email Templates -> Add new template -> Name the template whatever -> Load the default header template -> remove {{inlinecss file="css/email-inline.css"}} and then go to your themes email-inline.css file and copy it, then paste it into "template styles" and click save template. Then go to content -> Design -> Configuration -> edit theme -> transactio

[2016-12-29 05:58] spyrule commented on #7943
Whats odd for me, is that my Callback.php is completely different than the one posted in the fix. Is the posted fix, mostly changed for dev reasons, because as far as I can tell in the sample fix, the 'code' doesn't actually exist in the stock file.

[2016-12-29 05:59] spyrule commented on #7869
@slimzc - Its all the same problem, regardless of what language you have chosen (from what I understand).

[2016-12-29 06:26] pboisvert commented on #7985
closing as duplicate of #6275

this is already fixed and targeted against the 2.1.5 release for early next year

[2016-12-29 06:32] vigneshkk07 opened #7986 "Magento 2.1.0 Error while working"
### Preconditions

Magento 2.1.0 Error while working

1. Magento ver. 2.1.0
2. Site Hosted in Amazon Web Server

![ss-error](https://cloud.githubusercontent.com/assets/19967832/21538032/8c0e2ed6-cdbe-11e6-80e6-a9a84c2726a8.JPG)

Sometime giving permission sudo chmod -R 777 /var/www/magento/public_html/subdirectory to the folder then its working fine.

My store hosted in Amazon web server how to re

[2016-12-29 06:46] digimaticsolutions opened #7987 "Cannot open any pages"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2016-12-29 07:04] #7985 closed, assigned to nobody

[2016-12-29 07:04] alexstpp commented on #7943
Fix relevant for Magento 2.1.3

[2016-12-29 07:05] pboisvert commented on #7987
Please use the template which appears above and provide actual steps to reproduce and system configuration information.

[2016-12-29 07:24] ekuusela opened #7988 "Typo in variable name: billingAddressFromData vs. billingAddressFormData"
I don't know if this results in any errors but it certainly has the potential to cause some.

`billingAddressFromData` seems to be the one that is used:
https://github.com/magento/magento2/search?utf8=%E2%9C%93&q=billingAddressFromData&type=Code

`billingAddressFormData` is referred to only once:
https://github.com/magento/magento2/search?utf8=%E2%9C%93&q=billingAddressFormData&type=Code

It seems

[2016-12-29 07:41] key-dev opened #7989 "Paypal through braintree not working"
Hello Guys,
I am stuck to make Braintree work on my site. Its in Magento 2.1.2.

I get below error on image.
![untitled-1](https://cloud.githubusercontent.com/assets/17259817/21538940/c18bff16-cdc3-11e6-8df8-d8b925148eeb.jpg)

Here is the response code from paypal.

/**/callback_jsonf681b2cfef1149fcba7de2aaece2fd72({"paymentResource":{"errorName":"VALIDATION_ERROR","errorMessage":"Invalid request

[2016-12-29 07:45] MagePsycho commented on #7840
Fix provided by @alexpoletaev is not working for General > Allowed Country settings. So Magento Team should provide the solution ASAP as this is very sensitive issue for any store.
Thanks

[2016-12-29 09:34] Nicelabsrl commented on #7929
Is there another way to assign a shipping address to a quote by webapi now?

[2016-12-29 09:49] edelepine opened #7990 "Unexpexted display of the tax row in the cart summary block"
### Preconditions
1. Magento CE 2.1.2

### Steps to reproduce
1. Add product in order to access checkout/cart page.
2. View and edit cart.
3. Ensure that tax segment is equal to zero.
4. Ensure that `window.checkoutConfig.isZeroTaxDisplayed` is equal to `false`.

### Expected result
1. In summary block, tax row should'nt be displayed

### Actual result
1. Despite of expected configuration, tax row

[2016-12-29 10:18] vijaybokka opened #7991 "sorting of custom grid in product catalog edit not working"
sorting of custom product grid not working .I have created one new tab at product->catalog-> edit in admin side.it displays grid of my custom product details.sorting is not working if we create grid as a custom tab in product edit admin

### Preconditions

1. magento 2.1,3 Community Edition,
2.xampp

### Steps to reproduce

1. create any custom grid in admin panel
2. add this grid as new tab in pr

[2016-12-29 10:41] FicoSvt commented on #7821
It was the same here as well. We found out that this is related to php generation failure.

Try to manually delete everything from var/cache and var/generation directories. After you do it, you should be able to run php bin/magento setup:upgrade without further issues.
Hope this helps.
Cheers

[2016-12-29 11:28] karthigesh opened #7992 "checkout page is empty in magento 2"
https://whosmellsgood.com/checkout/

after adding the product to cart, and went to checkout the checkout page is blank without any data. It even does not shows any error in developer mode with the display errors

I am using the default theme

[2016-12-29 11:28] karthigesh commented on #7992
i am using the default theme

[2016-12-29 12:03] veloraven commented on #7932
@claudiumitreaa thank you for your report.
I was not able to reproduce this issue.
Could you please provide more information?
- Exact steps you did during upgrade.
- What exactly do you edit?
- Do you have any 3rd party extensions?
- Please also provide information about your environment: OS, versions of PHP, MySQL and web-server.

[2016-12-29 12:27] romeof1980 commented on #3601
hi there,
the issue is present in Magento 2.1.2 too, across all major browsers.
Clearing Magento cache, CDN cache and redeploying static content don't solve the issue.
No errors appearing in the console by the way...

[2016-12-29 12:33] nikoelgatito commented on #7826
I agree on this one, I was about to import a large file and I was surprised that the `additional_images` column was not using the same delimiter. Although easy to figure out, to prevent confusion the same `Multiple value separator` should be used throughout the CSV file.

[2016-12-29 12:43] nikoelgatito commented on #7886
I found this bug report while looking for an other one. Actually this is very important for all product types including simple products. In several cases some pictures are way more attractive than others and should show up first while other images, are sometimes more technical or they are simple pictures showing the back of a box. Showing secondary images first can lead to loss of sales.

[2016-12-29 13:08] dyushkin commented on #7983
Hi @zdjm! Seems like checkout flow problem. Please answer few questions:

1. Describe unsuccessful checkout flow (any messages appears after place order?)
2.  Is any logs from Braintree gateway presented in log files? You need to try place order with Debug Mode = Yes option set.
3. Have you tried to place order with other CC payment methods?
4. Is cart or mini shopping cart is empty after unsucces

[2016-12-29 13:46] Gorkyman commented on #5709
Same here. Migrated from M1 to M2 2.1.1, on some products, when having "Enable Content Experiments" set to "Yes", we get the "Integrity constraint violation: 1062 Duplicate entry 'x-xxx-product' for key 'GOOGLEOPTIMIZER_CODE_STORE_ID_ENTITY_ID_ENTITY_TYPE" on Save. If we disable the Experiements, product saving works as expected.

[2016-12-29 13:51] veloraven commented on #7830
@abi2 thank you for your report.
I'm closing this issue as a duplicate of #7840

[2016-12-29 13:51] #7830 closed, assigned to veloraven

[2016-12-29 13:54] dyushkin commented on #7989
Hi @key-dev! Please check your combination of ZIP + State + City, maybe there is a problem. Based on your screenshot, is there any city Orlando in Georgia?

[2016-12-29 13:55] veloraven commented on #7942
@mitch6 thank you for your report.
Please specify version of Safari you are using.

[2016-12-29 14:14] claudiumitreaa commented on #7932
Hey,thanks for your support!

1. Steps to upgrade
composer require magento/product-community-edition 2.1.3 --no-update
composer update
rm -rf var/di var/generation
php bin/magento cache:clean
php bin/magento cache:flush
php bin/magento setup:upgrade (When I ran this command I got
[Zend_Db_Statement_Exception]
  SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '4-Images' for ke

[2016-12-29 14:21] vzabaznov commented on #7942
Hi @mitch6 i cannot reproduce this now on Safari Version 10.0.1 (11602.2.14.0.7) on OS X, can you please specify your safari version

[2016-12-29 15:14] Niels-Be commented on #7869
I encounterd this problem after installing a custum language [packege](https://github.com/splendidinternet/Magento2_German_LocalePack_de_DE).
I had a fresh 2.1.3 production installation from tar ball  using Apache and everything was working fine. After running `bin/magento setup:di:compile` require js was not able to find the files any more.
My guess is that the fresh installed version containes s

[2016-12-29 16:29] Nicelabsrl commented on #3605
I solved issue exposed by @epson121 editing the file History.php in /vendor/magento/module-sales/Model/Order/Status

I have modified the following function:

[code]
[code]

[2016-12-29 17:02] snez commented on #6929
@veloraven people on this thread are having different and unrelated problems with different payment methods. The main issue here is that whatever is going on under the hood is not correctly reported on the front-end. Magento's Checkout\Model\PaymentInformationManagement->savePaymentInformationAndPlaceOrder **should be able to capture exceptions** thrown by the underlying payment methods and displa

[2016-12-29 17:15] aftab222000 commented on #1324
Doesn't help for me.

[2016-12-29 17:17] emafernandez commented on #7388
commit 1db9cef7462af6d39ddc5de0dd53f4c9f70cbb23 is fixing the issue for me on versions 2.1.2 and 2.1.3 as well.

[2016-12-29 17:44] sshymko commented on #6403
Suffering from the issue on 2.1.3. Deployment with `/pub` as a document root is the recommended configuration. Can the issue be prioritized higher?

[2016-12-29 18:11] hostep commented on #6929
@snez: The first issue you are mentioning is being tracked (and already fixed on the develop branch) over here I think: https://github.com/magento/magento2/issues/6246

[2016-12-29 18:24] webspeaks commented on #6183
Any update on this? How to fix?

[2016-12-29 19:44] key-dev commented on #7989
Hi there, i uploaded that image because i had it first time saved as screenshot. But i have tried all actual addresses but no success. Braintree response below.

"I've checked the attempt you've listed below with Debug ID edb3b3ec17ca2. In our server logs I can see the error as CITY_FIELD_REQUIRED_FOR_COUNTRY.
The parameters I can see sent to us are countryCode=US​ and ​postalCode=32819​. Since th

[2016-12-29 20:57] springimport opened #7993 "Don't working template for field in checkout"
### Preconditions
1. Set my templates for fields in checkout step 1.

### Steps to reproduce
1. Create `/app/design/frontend/Vendor/MyTheme/Magento_Checkout/layout/checkout_index_index.xml`.
2. Add `referenceBlock` from [documentation](http://devdocs.magento.com/guides/v2.1/howdoi/checkout/checkout_edit_form.html).
3. Change elementTmpl => template.

[code]

Templates (2 for testing...):
- `/app/c

[2016-12-29 21:38] GlobalOutsourcing opened #7994 "php bin/magento setup:static-content:deploy displays errors in console"
### Preconditions
1. PHP 5.6.29 (cli) (built: Dec  9 2016 07:40:09)
Copyright (c) 1997-2016 The PHP Group
Zend Engine v2.6.0, Copyright (c) 1998-2016 Zend Technologies
with the ionCube PHP Loader (enabled) + Intrusion Protection from ioncube24.com (unconfigured) v6.0.7, Copyright (c) 2002-2016, by ionCube Ltd.
with Zend OPcache v7.0.6-dev, Copyright (c) 1999-2016, by Zend Technologies
2. mysql  Ve

[2016-12-29 22:04] philwinkle commented on #7917
I'm having this issue too. Any word?

[2016-12-29 23:05] TwassistantKeith commented on #7960
I also am having this same error:

[code]

Magento 2.1.3, cleared cache, cleared all browser data, same issue.

[2016-12-29 23:08] sfedosimov commented on #5322
I have the same issue on Magento 2.1.3

[2016-12-30 00:43] ghost opened #7995 "If you leave as default, shipping lines disappear"
### Preconditions
Upgraded from M2.1.2 to M2.1.3. Php 5.6

### Steps to reproduce
1.Go into Customer Screen to change the number of address lines required at checkout. Leave it blank for default of 2.
2. Save
3. Clear Cache

### Expected result

1. there should be the default of 2 lines

### Actual result

1. At checkout there are no lines for street address.
<img width="1196" alt="leaveblanklines

[2016-12-30 00:53] roseofgold commented on #7992
I had this issue on 2.1.2 only to find out that 2 tables were missing from my install. checkout_agreement and checkout_agreement_stores. Check your log files on your server. They may tell you other information.

[2016-12-30 01:01] fooman commented on #7965
Are you using nginx ?
Is your webroot folder the root folder of Magento2 or the pub folder?

[2016-12-30 01:02] ghost opened #7996 "Shipping Address Overwrites Billing Address in Checkout"
This isn't so much a bug as a huge usability issue

### Preconditions
upgraded from M2.1.2 to M2.1.3, PHP 5.6

### Steps to reproduce

1. Go to checkout
2. Enter a shipping address
3. Select shipping method
<img width="652" alt="shipping" src="https://cloud.githubusercontent.com/assets/21045500/21557971/3f50154e-cde8-11e6-8d8d-2d7e162205ec.png">
4. Uncheck box that says shipping and billing addres

[2016-12-30 05:43] spyrule commented on #7265
So, we were experiencing this problem over the past 2 weeks, and have hunted for the problem the entire time.  For us, it turns out, that once I asked our Host provider to see if they could see any responses back from authorize.net's network at the time of the timestamp, Auth.net was hitting our maintenance mode flag.

We have been running the site in Maintenance mode with a set of whitelisted IPs

[2016-12-30 06:02] sourabh-costrategix commented on #7979
You need to overwrite Controller/Adminhtml/Index/Save.php file

[2016-12-30 07:02] vishveskrish commented on #7942
@vzabaznov @veloraven  : I am facing the same issue ! its because local-storage not allowing in safari private mode. My version : Version 10.0.1 (11602.2.14.0.7) in MAC.

[2016-12-30 07:51] rishabhrkrai opened #7997 "Configurable product tax class from simple product"
### Preconditions

1. I use Magento 2.1.2
2. PHP 5.6.X, MySQL 5.4 and APACHE.

### Steps to reproduce

1. I have a configurable product, which have two simple products.
2. One product have tax_class "VAT20" and second simple product have tax_class "None".
3. VAT20 tax_class have vat 20% on product price.

### Expected result

1. Tax should be applied to the product.

### Actual result

1. Tax of 2

[2016-12-30 08:22] veloraven commented on #7992
@karthigesh thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-12-30 08:30] veloraven commented on #7991
@vijaybokka thank you for your feedback.
Please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): list steps instead of general description.
Please note that  Magento does not support the operating system you've listed. Please confirm that you can reproduce this issue on a supported platform. For an overview of sup

[2016-12-30 08:33] veloraven commented on #7988
@ekuusela thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-12-30 08:39] veloraven commented on #7986
@vigneshkk07 thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
If you have issue with permissions please address them to your hosting provider.
Please also check [Magento ownership and permissions in development and pro

[2016-12-30 08:46] veloraven commented on #7976
@key-dev thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-12-30 08:47] veloraven commented on #7975
@key-dev thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-12-30 08:52] veloraven commented on #7970
@rohit-prjpt thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result, and without external links.

[2016-12-30 08:57] rohit-prjpt commented on #7970
it is already formatted with steps to reproduce, actual result and expected result, also the external urls are just example.com

[2016-12-30 08:59] andidhouse commented on #7934
...not "seo" - analytics is not seo!

[2016-12-30 09:01] andidhouse commented on #7994
i reported this also here:

https://github.com/magento/magento2/issues/7813

this is a blocker for going live once again. Magento2 Team can you pls describe how a shop should go online with this bug?

[2016-12-30 09:02] andidhouse commented on #7994
Also this is a new bug introduced in 2.1.3 - i really loose trust in the new m2 releases at all as more and more bugs are introduced with each release...

[2016-12-30 09:09] ochnygosch opened #7998 "Saving a product in a store scope in the backend overwrites enable products "Use default value""
Just saving a product in the backend, when you have selected a store view, overrides the "Use default value" setting of the enable product attribute in the store view.

### Preconditions

1. Magento version 2.1.3
2. A product with "Use default value" for status set in store 1

### Steps to reproduce
1. In the magento backend select Products -> Catalog
2. Select the product
3. Select "Default Store

[2016-12-30 09:25] zhulak commented on #7801
I have the same issue also. Making sure that Mage_Tax module is loaded after Mage_Checkout resolves issue for cart, but Onestep checkout (Magento standard, not a third-party module) still displays shipping and items in summary excluding tax.

[2016-12-30 09:43] veloraven commented on #7969
@grischunya thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-12-30 09:49] veloraven commented on #7967
@susmithaN thank you for your submission.
Please add exact steps how to reproduce the issue to the Steps section, without links to external resources.

[2016-12-30 09:51] veloraven commented on #7966
@adityag186 thank you for your feedback.
Was it clean install or upgrade from some previous version?
Did you try to clean browser cache including offline website data?

[2016-12-30 09:53] iwdjoe commented on #3904
Hi.
Do you have any update on this?
Our client has this issue on Magento EE as well.
Version 2.1.0

Please advise.
Thank you!

[2016-12-30 09:54] veloraven commented on #7964
@renu2jcommerce thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-12-30 09:57] veloraven commented on #7962
@beenamalla thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please specify your environment: OS, versions of PHP, MySQL, web-server.

[2016-12-30 11:28] paalsoberg commented on #7998
I've seen this in previous versions of 2.X as well

[2016-12-30 11:46] dmitry-fedyuk commented on #7663
My fix: https://mage2.pro/t/2433
**None of the Magento 2 functionality is broken.**

[2016-12-30 12:24] zhulak commented on #7801
Is it possible to change the loading sequence of the core modules without touching the core files?

Edit: I created my own custom module with only module.xml + registration.php files in module.
In the module.xml file I added:
`<sequence>
            <module name="Magento_Checkout"/>
            <module name="Magento_Tax"/>
        </sequence>`

Then the modules got the correct order in config.php

[2016-12-30 12:31] veloraven commented on #7957
@commcad if you are looking for an advice and discussion please address your question to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
if you want this issue to be treated as an issue please format it according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-r

[2016-12-30 12:48] veloraven commented on #7953
@rab14191 thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-12-30 12:52] #7946 closed, assigned to nobody

[2016-12-30 12:59] susmithaN commented on #7967
Hi ,

Steps to reproduce

1 . GO to category page (product list page )  from home page .
2 . From category page to product detail page .
3 . On product detail page , breadcrumbs looks like **Home > Product name**
     But the expected result is  **Home > category name > product name**

[2016-12-30 12:59] veloraven commented on #7911
@gurjit-singh thank you for your feedback.
If you need an advice or discussion how to fix the issue in the specific version please  refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you want it to be treated  as an issue with fix in some future version please add actual result to your d

[2016-12-30 13:04] iamgurjitsingh commented on #7911
@veloraven Thank you very much for your response.

Can you please give me some more details or help to find this problem? I am not able to see the same in your provided sites.

Looking forward to your reply soon.

Thanks
GS

[2016-12-30 13:20] rfapinkesh commented on #3272
nn

[2016-12-30 13:27] dyushkin commented on #7989
Hi @key-dev! It seems this issue valid for 2.1.2 version, and [was fixed and merged](https://github.com/magento/magento2/issues/3789) in develop branch. Fix will be published in Magento 2.1.5 version, under internal issue MAGETWO-58914 commits. For now, you can use [this solution](https://github.com/magento/magento2/issues/3789#issuecomment-269442392) to solve your problem.

Thank you for reportin

[2016-12-30 13:27] #7989 closed, assigned to dyushkin

[2016-12-30 13:39] veloraven commented on #5473
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-12-30 13:39] #5473 closed, assigned to nobody

[2016-12-30 13:40] veloraven commented on #7675
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-12-30 13:40] #7675 closed, assigned to nobody

[2016-12-30 13:40] veloraven commented on #7752
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-12-30 13:40] #7752 closed, assigned to nobody

[2016-12-30 13:41] veloraven commented on #7754
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-12-30 13:41] #7754 closed, assigned to nobody

[2016-12-30 13:41] veloraven commented on #7786
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-12-30 13:41] #7786 closed, assigned to nobody

[2016-12-30 13:48] staffrob commented on #7908
Thanks for that,

It looks I haven't upgraded correctly. I have just compared files in my upgraded 2.1.3 /app/code/magento/* to fresh files and found they are not updated.

the commands I used to upgrade were `composer require magento/product-community-edition 2.1.3 --no-update
composer update
bin/magento setup:upgrade
`
version shows as 2.1.3
if I run these commands again I get the following...

[2016-12-30 14:06] staffrob commented on #7908
Hi @EmilyPepperman, no I don't have Amasty Custom Stock status installed

[2016-12-30 14:25] pyyick commented on #4405
Any updates on it? I encounter the same problem on Magento 2.1.2

[2016-12-30 14:28] staffrob commented on #7908
here is an example of diffmerge CatalogInvetory/Composer.json from my botched upgrade compared with clean 2.1.3
https://www.dropbox.com/s/vhxo127m6p80anr/Screenshot%202016-12-31%2001.28.33.png?dl=0 bin/magento --version returns
Magento CLI version 2.1.3

I now only have backups of this 2.1.3 ish as all 2.1.2 backups have been overwritten over the holidays, any suggestion how I could repair this?

[2016-12-30 15:36] JamesonNetworks commented on #7958
I'm seeing 20 minute page load times for the page itself, however, it does eventually load. I would say this makes it practically unusable though, as the admin session seems to timeout waiting on the page load to occur.

[2016-12-30 15:53] andreaskoch opened #8001 "Address templates are not used in checkout"
The **Customer Address Templates** that are defined in the Magento backend (`Backend > Stores > Settings > Configuration > Customers > Customer Configuration > Address templates`)
are in places, but not the checkout.

see: [Magento User Guide: Marketing > Communications > Sales Documents > Customer Address Templates](http://docs.magento.com/m2/ce/user_guide/customers/address-templates.html)

## Pr

[2016-12-30 16:03] springimport commented on #7993
I think I know what the problem with this. Go to `Magento\Checkout\Block\Checkout\AttributeMerger` line 173. You can see static value for `template`.

I'm not sure of the correctness, but below is my temporary solution:
[code]

Now I try to solve this problem with plugin/[preference](https://gist.github.com/springimport/ef04a8441550145229250ec02ce3bdc1) and I wait bug fix for this.

[2016-12-30 16:03] hostep commented on #7840
I agree with @MagePsycho that this bug needs to be fixed ASAP. It's the only new bug in 2.1.3 that actually prevents us from upgrading our shops to 2.1.3 since it has the potential of causing all kinds of unexpected issues.

@MagePsycho: For me the Allowed Country setting works when I apply the fix from @alexpoletaev btw (maybe you forgot to flush your caches?).

@veloraven: this exact same bug is

[2016-12-30 16:13] jmellon commented on #3507
2.1.2 Install,  having this issue too.   I can create static blocks but not CMS pages.

[2016-12-30 16:37] berega opened #8002 "Cannot read contents from file "C:/xampp/htdocs/magento2/" Warning!file_get_contents(C:/xampp/htdocs/magento2/): failed to open stream: No such file or directory"
when I try to change change the theme the following error is dispayed:

Cannot read contents from file "C:/xampp/htdocs/magento2/" Warning!file_get_contents(C:/xampp/htdocs/magento2/): failed to open stream: No such file or directory

How can I solve this problem?

[2016-12-30 17:24] cgaubuchon commented on #4430
It seems as though @gamort hack works for us. Is there is temporary way to override/inherit the `DbStorage.php` file so that, when installed via composer, this file is not overridden by a system update? We have tried to override as we have previously with Block functionality but it seems a though there are issues with other dependencies when doing so with this file specifically. Anyone have a solu

[2016-12-30 17:58] tsmith1985 opened #8003 "Using System Value for Base Currency Results in Config Error"
Checking `Use system value` for the base currency in the currency options results in a configuration error when importing currency rates.

### Preconditions

- Magento CE v2.1.3
- PHP v7.0.14
- MySQL v14.14 Distrib 5.7.16, for osx 10.12

### Steps to reproduce

1. Log into Admin
2. Navigate to `Stores > Settings > Configuration > General > Currency Setup`
3. Select `Use system value` for `Base Cur

[2016-12-30 19:23] joshspivey commented on #7658
@rbostan @prasiddha Do you have any updates on this? I seem to have this error after I ran the migration script from magento 1 to magento 2 and open the product grid. I am guessing the product data for the content needs work.

[2016-12-30 19:24] joshspivey commented on #7658
I also found this. https://github.com/magento/magento2/issues/4695

[2016-12-30 19:29] ghost commented on #4695
What extensions are you running. I had this issue after I ran the migration script.

Currently I have
        "sjparkinson/static-review": "~4.1",
        "classyllama/module-avatax": "^0.3.3",
        "subscribepro/subscribepro-magento2-ext": "^1.0",
        "magefan/module-login-as-customer": "^2.1",
        "ibnab/magento2-delete-orders": "*",
        "customerparadigm/ordercomments": "^100.0",

[2016-12-30 19:46] cristianmalfesi opened #8004 "PUT API Call for Update gallery entry and change values of Types field of media image don't work correctly."
**Problem description:**
When use PUT API calls for change "types" field on one image of product, thera are problems.
For exampe, If we want assing Types="Thumbnail" to image with ID 15 and there is other image in the same product that have alrady assigned "thumbnail" and this last image have higher ID, for example ID 19, then PUT action will not update Types field. In the opossite case, if we try

[2016-12-30 21:42] joe2010 commented on #5423
i have the same problemas download magento 2.1.3 set it all up and no top nav

https://community.magento.com/t5/Theming-Layout-Design-Questions/magento-2-ver-2-1-3-Category-not-showing-up-in-nav/m-p/56191/highlight/false#M866

[2016-12-30 23:05] caseybecking commented on #7965
My issue was I removed /pub from the end of the ROOT causing the above issue, may also be yours?

[2016-12-30 23:32] jurpro commented on #7483
Hi @joni-jones

Yes I know. On Magento 2.1.3 it works fine. But, there is a little bit "annoying" sorry if I write annoying. It should fill all address necessary, then customers should hit "update" button to activate "Place Order" button. On simple product, customers directly push "place order" button after Review Order on Step 2.

I wish, the "update" button is removed, so customers directly push

[2016-12-30 23:37] QWp6t commented on #7663
PHP 5.6 officially no longer under active support.

Might be time to revisit this issue.

[2016-12-31 00:21] tsmith1985 opened #8006 "Importing Currency Rates via Webservicex Fails"
Trying to import exchange rates via Webservicex fails for most rates and results in error messages saying that the service was unable to retrieve the rates.

### Preconditions

- Magento CE v2.1.3
- PHP v7.0.14
- MySQL v14.14 Distrib 5.7.16, for osx 10.12

### Steps to reproduce
1. Log into Admin
2. Navigate to `Stores > Settings > Configuration > General > Currency Setup`
3. Select `Use system va

[2016-12-31 03:36] bondimedical3 opened #8007 "M2.1.3 Add to cart bug not completely fixed"
When the customer is logged into their account this message is still showing in wrong places.
Steps to reproduce:
1. Use Chrome browser
2. Log into account
3. Add item to cart
4. Proceed to first step of checkout
5. Press Luma logo to go to homepage
![addtocart](https://cloud.githubusercontent.com/assets/10808588/21575611/77649c28-cf66-11e6-952e-23b7bd661eac.jpg)

[2016-12-31 08:49] gputignano opened #8008 "Insert Widget in Product Description"
This is not a bug but a proposal. Add the ability to insert a widget in the product description for example the link to a page or other product. Static links doesn't update if I change destination url.

[2016-12-31 12:16] daniel-ifrim opened #8009 "Magento 2.1.3 out of stock associated products to configurable are not full page cache cleaned"
In Magento 2.1.3 strictly:
When a associated product goes out of stock the product page of the configurable product is not updated. The cache (full page cache type) is not cleaned, especially when indexer mode is set to 'Update by Schedule'/MView is enabled.
This issue is introduced into Magento 2.1.3 because `Magento\CatalogInventory\Model\Indexer\Stock\AbstractAction::_reindexRows`
sends to 'Cac

[2016-12-31 12:24] gesell commented on #1471
Same Issue still exists in 2.1.3:

There is not any value in the .csv entered. Shouldn't an empty field of `""` still overwrite any existing value?

[2016-12-31 12:55] asrob commented on #5769
@slopukhov,

Thanks, tested with Magento 2.1.3. If I enter my email address in the field "Send Order Email Copy To", it will work. But it's weird for me, why do I need to enter an admin or custom email address to get a copy of order?
I think it should notify admin user (or general / sales contact email address) when a new order has placed.

[2016-12-31 13:40] martijnhovinga opened #8010 "Magento 2.1.3 Price of simple products does not update with configurable product after adding related/upsell products"
I created a configurable product 'Baby bottle 125ml' which is available in a 1-pack or a 2-pack. So I have 2 simple products, each with different price. The attribute is 'units' (1 or 2 bottles per pack). Switching between 1 or 2 units works fine, as in https://babyfair.com.sg/natural-baby-bottle-125ml.html
However when I add a related product or cross-sell product to the configurable product, the

[2016-12-31 15:21] hezide commented on #4883
same problem here, magento2 CE 2.1.3

[2016-12-31 15:54] hezide commented on #2951
same issue in magento 2.1.3

[2016-12-31 16:22] gputignano opened #8011 "Strip Tags from attribute"
### Steps to reproduce

1. Create a new attribute ad Dropdown field
2. Set Allow HTML Tags on Storefront to Yes
3. Create a new value for attribute Attribute including tags (<a href="attribute-name">Attribute Name</a>)
4. Insert in a page a new widget Catalog Product List. In conditions select Attribute is Attribute Name

### Expected result

1. I expect in the list the value "Attribute Name"

###

[2016-12-31 18:51] mnjenga commented on #7902
I finally managed.

The answer http://magento.stackexchange.com/questions/150646/getting-additional-information-addational-data-form-magento-2-payment-object/152624#152624

[2016-12-31 18:51] #7902 closed, assigned to nobody

[2016-12-31 23:23] GlobalOutsourcing opened #8012 "WYSIWYG Editor does not work properly after disabling by default"
### Preconditions
1. PHP 5.6.29 (cli) (built: Dec  9 2016 07:40:09)
Copyright (c) 1997-2016 The PHP Group
Zend Engine v2.6.0, Copyright (c) 1998-2016 Zend Technologies
with the ionCube PHP Loader (enabled) + Intrusion Protection from ioncube24.com (unconfigured) v6.0.7, Copyright (c) 2002-2016, by ionCube Ltd.
with Zend OPcache v7.0.6-dev, Copyright (c) 1999-2016, by Zend Technologies
2. mysql  Ve

[2017-01-01 10:08] Federkun commented on #1427
[IntlDateFormatter](https://github.com/magento/magento2/blob/2.1/lib/internal/Magento/Framework/Stdlib/DateTime/Timezone.php#L276) may returns null instead of throwing an exception, see bug [#66323](https://bugs.php.net/bug.php?id=66323)

Usually, something like this is done:

    $intlDateFormatter = new \IntlDateFormatter( ... );

    if (!$intlDateFormatter) {
        throw new \RuntimeExceptio

[2017-01-01 18:15] YevSent commented on #7483
@jurpro, `Update` button is required because it triggers address updating. It useful in many cases, for example, customer can enter billing country which is not allowed for some payments, so payments should be rerendered.

Closed as not a bug.

[2017-01-01 18:15] #7483 closed, assigned to alena-marchenko

[2017-01-01 20:54] magnetic5355 commented on #7931
@veloraven - even though @gputignano is using incompatible OS, it would not make a difference in this error. I also routinely see this error logged on debian, php7 and nginx.

[2017-01-01 21:00] magnetic5355 commented on #7846
We experience the same issue. With that query however we see it on our catalog pages as well. We also have the Mirasvit extension. (tested both on and off)

Our catalog page load time is 7-10 seconds.

[2017-01-01 21:03] magnetic5355 commented on #7831
@vlahakis  - going to test this out!... this functionality has been driving me crazy. Every time we update a category with /rest/v1/categories and PUT it would split the attributes into store view 1.

[2017-01-01 23:08] magnetic5355 commented on #7831
@vlahakis - putting ?store_id=0 on put solved it! thanks so much

[2017-01-02 09:46] Tristan-N commented on #7197
@odubovyk Do you have any updates for us? Or any kind of temporary workaround? Thanks

[2017-01-02 09:48] magenx commented on #1557
it is hidden by default on every system, even with ftp client users can not see it.
i think you have to use normal file.

[2017-01-02 09:50] rfapinkesh commented on #5985
hhhhhhhhhhhh

[2017-01-02 09:51] rfapinkesh commented on #5985
I have the same problem in magento 2, the billing address is not showing on checkout page in magento 2

[2017-01-02 10:34] gauravkhatri99 opened #8015 "Animation images are not showing animation on frontend product details page."
I have upload a gif image for a product that is showing 360 view of product, after uploading it is working in backend.
![backend](https://cloud.githubusercontent.com/assets/12871787/21587654/c2081ba2-d104-11e6-8df5-354455e489c0.png)

When I go to frontend on product details page it is not working I mean it is not showing its animated view.
![frontend](https://cloud.githubusercontent.com/assets/128

[2017-01-02 10:47] webdesk commented on #3374
I have the same issue.

Here is the steps to produce the issue.

![address_not_proper_after_reload_page](https://cloud.githubusercontent.com/assets/8352525/21587845/c3057a66-d106-11e6-9d21-080707f5ef80.png)

I have filled the shipping address details and goes to the payment block and now i have reloaded the page and address will not be proper filled.

Thanks

[2017-01-02 12:42] mimarcel commented on #4474
@bvboas as stated in https://github.com/magento/magento2/issues/4580 , commit https://github.com/magento/magento2/commit/fe97d9e4540741edb0abc876d169c1df60a06b70 should fix the issue. I didn't test it myself, but I'm looking into it as well.

[2017-01-02 13:59] zamson commented on #3507
2.1.2, same here.

`[2017-01-02 13:52:14] main.CRITICAL: Broken reference: the 'header' tries to reorder itself towards 'global.notices', but their parents are different: 'page.wrapper' and 'notices.wrapper' respectively. [] []
[2017-01-02 13:52:14] main.CRITICAL: Broken reference: the 'page.breadcrumbs' tries to reorder itself towards 'notifications', but their parents are different: 'page.wrappe

[2017-01-02 14:00] steros commented on #7681
Magento 2 seems to have problems handling the way I symlinked my folders. It works with static folders.

[2017-01-02 14:00] #7681 closed, assigned to nobody

[2017-01-02 14:07] steros commented on #7680
It seems this is a bit more general error. I also have problems with custom css files in my own theme folder.
Sometimes I get a 404 on the css files even though they are there (in the app folder).
For this and same for the require.js file it helps to just run the compilation several times in a row without clearing caches and so on.
I'd guess that it might be a problem due to missing folders? Altho

[2017-01-02 14:11] hostep commented on #7680
This is probably a duplicate of https://github.com/magento/magento2/issues/4961?

[2017-01-02 15:27] koenner01 opened #8016 "addFieldDependence to form field discards disabled state"
When adding a field dependency to a field in a \Magento\Framework\Data\Form, the disabled state for that field will discarded.

### Preconditions
1. MG 2.1.3
2. PHP 7.0

### Steps to reproduce
1. Create a \Magento\Framework\Data\Form (or use any adminhtml form for testing purpose)
2. Add a random test field and explicitly set the disabled
[code]
3. Add a fieldmap and field dependency on our field

[2017-01-02 19:18] magenx opened #8017 "Magento 2.1.2 deletes itself | extension activation + rollback"
### Preconditions
1.  Magento 2.1.2

### Steps to reproduce
1.  Upload new extension
2.  Activate from admin web setup wizard
3.  On activation error click rollback

### Expected result
1. All files must be safe and working

### Actual result
1. all files just gone, only (pub,update,var) folders left
2. admin errors 403 in browser console
3. after page reload 403 error, white page...

[code]

[cod

[2017-01-02 19:40] manfrinm commented on #6076
@okorshenko I've seen that this bug was fixed on 13/06/2016, why is not merged yet?
here the commit: https://github.com/magento/magento2/commit/c5a09d4c7056176a282ced37c3a186a284ae2de0

[2017-01-02 19:56] magnetic5355 opened #8018 "Running indexer:reindex catalog_category_product fails due to limit 500"
### Preconditions
1. Latest Magento2 pull from github as of 1/2/17
2. PHP 7, NGINX, mariadb

### Steps to reproduce

1. run indexer:reindex catalog_category_product

### Expected result
1.  index is rebuilt past 500 products per category resulting in products missing from site.

### Actual result
1. products are not included in the catalog_category_product_index resulting in products not appearing

[2017-01-02 19:58] skiwithpete commented on #5938
@mktudock
Using your instructions I get this error:
[code]

[2017-01-02 20:44] j1nx3d commented on #5260
I'm also having this issue.
I have Magento 2.1.3 installed and updated by composer.
on the customer_entity table the ```rp_token``` and ```rp_token created_at``` has some information as mentioned on other comments, I also think is a bug because the ```rp_token_created_at``` has a date from september 15th of 2016.

all the cron are set-up correctly. this field must be null by this time, or at least

[2017-01-02 21:46] jghaanstra commented on #5885
Is there any progress on this issue? I hoped it was going to be fixed with Magento 2.1.3 but it seems it did not make the cut.

[2017-01-03 02:28] shahankitb997 commented on #3789
Thanks @pratikmage

[2017-01-03 03:13] justinahsnyder commented on #6817
I don't think it is fixed...  app/code/Magento/ doesn't exist in Magento 2.1x CE

[2017-01-03 04:12] cowmix88 commented on #4430
I'm having the same problem in CE 2.1.2 and 2.1.3, but @gamort's hack does fix it

[2017-01-03 07:50] hacheni opened #8020 "Sales order ID is updated when sales order save is called from SOAP API"
Hi all,

When using the Magento 2.1.1 SOAP API to update the sales order state, the displayed ID (increment_id) is changed with the order state.

### Preconditions
We use a JAVA client for the magento 2.1.1 SOAP API to handle sales order in an external application.

### Steps to reproduce
1. Create a sales order from the magento shop. Assume that the displayed order ID (increment_id) is 0000001 an

[2017-01-03 07:52] bh-ref commented on #4695
As far as I can see, the only matching extension which was activated at that time was "amasty/base".

Maybe it helps to disable all the extension, let the list of products appear, and then reenable the extension (maybe one by one)?

[2017-01-03 08:14] quienti commented on #7437
Fixed: https://github.com/magento/magento2/commit/3e35c70fb9f62bd33a6d37696cc0c97cb4655c75

[2017-01-03 08:14] #7437 closed, assigned to nobody

[2017-01-03 08:29] kienmba commented on #6688
@sevos1984 Thank you so much!

[2017-01-03 08:41] dooblem commented on #6146
Same here.
To my mind this is an important issue !
Many store are sending mails that are classified as spam without knowing it...

[2017-01-03 08:47] kuwalpinkesh commented on #3148
I have the same problem and " reduced the delay from 2000 to 500" is not working for me.What solution is solving this issue ..

[2017-01-03 09:17] veloraven commented on #8015
@gauravkhatri99 thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2017-01-03 09:19] veloraven commented on #8011
@gputignano than you for your report.
Please, identify which version of Magento you are running.

[2017-01-03 09:19] veloraven commented on #8010
@martijnhovinga thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2017-01-03 09:21] gputignano commented on #8011
@veloraven Magento v2.1.3

[2017-01-03 09:22] veloraven commented on #8008
@gputignano thank you for your submission.
We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues. Feature Requests and Improvements should now be submitted to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (see details [here

[2017-01-03 09:26] veloraven commented on #8002
@berega thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.
If you are looking for some discussion and advice please refer to the [Community Forums](https://

[2017-01-03 09:52] gputignano commented on #8008
Ok, I inserted the feature request in the forum. Many thanks.

[2017-01-03 11:00] lucvdbos opened #8021 "Fresh install on shared server fault: Warning: is_dir(): open_basedir restriction in effect"
Hi All,

Just installed magento 2.1.3 on my shared server using putty with the following command:

composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition public_html

php bin/magento setup:install --base-url=https://xxx.eu --db-host=localhost --db-name=dbname_basis --db-user=dbuser_db --db-password=Tuink@ --admin-firstname=FirstName --admin-lastname=La

[2017-01-03 11:01] hostep commented on #8021
See: https://github.com/magento/magento2/issues/4359#issuecomment-225115951

[2017-01-03 11:10] lucvdbos commented on #8021
Thanks,

For anyone else stuck here after upgrading to 2.1, @hostep solution to

`"composer/composer": "@alpha"`
to:
`"composer/composer": "1.1.2 as 1.0.0-beta1"`
works great but required a

` composer  update` (SSH) afterward.

[2017-01-03 11:10] lucvdbos commented on #4359
Thanks, I changed composer.json in the root several time. But how to update magento that it will use it?

I used shh: php bin/magento setup:upgrade
php bin/magento setup:static-content:deploy
php bin/magento indexer:reindex

But it did not work.

composer update worked!

[2017-01-03 11:44] ochnygosch commented on #7998
I've discovered that this error was my fault. There was an active observer of a custom module that saved the product. This triggered the behavior described in issue #7879.

[2017-01-03 11:44] #7998 closed, assigned to nobody

[2017-01-03 11:46] mkleim commented on #3421
Hi, thanks a lot for that hint.
Worked really well after reindexing.
I´m happy about that

[2017-01-03 12:07] tkn98 commented on #4359
@lucvdbos: Please help keeping topic, that seems to be an unrelated support issue.

[2017-01-03 12:22] wsagen commented on #7840
Also affecting our clients - needs fixing ASAP

[2017-01-03 12:29] veloraven commented on #7911
@gurjit-singh the GitHub issue tracker is intended for technical issues only which can be fixed in next releases.
As I understand, you are interested in fixing an issue in the particular already released Magento version. In this case please submit your question to resources specified above as it is not GitHub scope.

[2017-01-03 12:32] veloraven commented on #7834
I'm closing this issue as there was no response from the author for more than two weeks.
And issue seems to be fixed for other users.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result a

[2017-01-03 12:32] #7834 closed, assigned to nobody

[2017-01-03 12:43] veloraven commented on #7577
@mitulispace please format your description with accurate steps rather than a story.
Please describe your environment: OS, versions of PHP, MySQL, web-server, post-server.
Please let us know if you have any external extension installed.

And as you are looking for help how to fix your particular case rather than submitting general issue which should be fixed in next releases please  refer to the [

[2017-01-03 12:44] raisaev opened #8022 "Uncaught Error: Call to a member function addItem() on array in app/code/Magento/Sales/Model/Order/Shipment.php"
When adding a Track to a Shipment programmatically.

### Preconditions
1. Magento 2.1.1
2. PHP 5.6.24

### Steps to reproduce
1. Load or create a Shipment model

[code]

2. Make a call
`$shipment->getTracks();`

3. Create a Track model and try to add it to the Shipment

[code]
### Expected result
1. Successfull save

### Actual result

You will receive an error **Call to a member function addItem(

[2017-01-03 12:44] veloraven commented on #7812
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-01-03 12:44] #7812 closed, assigned to nobody

[2017-01-03 12:45] veloraven commented on #7810
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-01-03 12:45] #7810 closed, assigned to nobody

[2017-01-03 12:45] veloraven commented on #7769
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-01-03 12:45] #7769 closed, assigned to nobody

[2017-01-03 12:46] veloraven commented on #7744
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-01-03 12:46] #7744 closed, assigned to nobody

[2017-01-03 12:46] veloraven commented on #7737
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-01-03 12:46] #7737 closed, assigned to nobody

[2017-01-03 12:46] veloraven commented on #7731
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-01-03 12:46] #7731 closed, assigned to nobody

[2017-01-03 12:46] veloraven commented on #7717
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-01-03 12:46] #7717 closed, assigned to nobody

[2017-01-03 12:49] veloraven commented on #7703
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-01-03 12:49] #7703 closed, assigned to nobody

[2017-01-03 12:49] veloraven commented on #7707
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-01-03 12:49] #7707 closed, assigned to nobody

[2017-01-03 12:49] veloraven commented on #7713
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-01-03 12:49] #7713 closed, assigned to nobody

[2017-01-03 12:50] veloraven commented on #7727
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-01-03 12:50] #7727 closed, assigned to nobody

[2017-01-03 12:50] veloraven commented on #7738
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-01-03 12:50] #7738 closed, assigned to nobody

[2017-01-03 12:50] veloraven commented on #7800
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-01-03 12:50] #7800 closed, assigned to nobody

[2017-01-03 12:50] veloraven commented on #7808
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-01-03 12:50] #7808 closed, assigned to nobody

[2017-01-03 12:50] veloraven commented on #7816
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-01-03 12:50] veloraven commented on #7839
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-01-03 12:50] #7839 closed, assigned to nobody

[2017-01-03 12:55] veloraven commented on #8021
I'm closing this issue as it was solved.

[2017-01-03 12:55] #8021 closed, assigned to nobody

[2017-01-03 12:56] veloraven commented on #8008
@gputignano thank you for update!
I will close this issue now.

[2017-01-03 12:56] #8008 closed, assigned to nobody

[2017-01-03 12:59] veloraven commented on #7649
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-01-03 12:59] #7649 closed, assigned to nobody

[2017-01-03 12:59] veloraven commented on #7641
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-01-03 12:59] #7641 closed, assigned to nobody

[2017-01-03 12:59] ryantfowler commented on #7981
@Flamestyle when I do that it works fine, but I'm using a file named `_extend.less` not `_extends.less`. This may be your issue. Here's a [link](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/css-guide/css_quick_guide_approach.html)

[2017-01-03 13:00] veloraven commented on #7624
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-01-03 13:00] #7624 closed, assigned to nobody

[2017-01-03 13:05] korostii commented on #8002
@berega The error seems awfully familiar, I think this is a duplicate of #5666
I would recommend you to try the workaround suggested in the comments to that issue - it worked for me.
By the way, it is a shame to see the very same bugs reported again and again, such amounts of time wasted on fighting them over and over again by so many people - all because the fixes take months to get released.

[2017-01-03 13:19] centerax commented on #7630
how did you solve it @craigcarnell ?

[2017-01-03 13:38] phoenix128 commented on #7604
Same error here with custom class. Seems related to `\Magento\Framework\ObjectManager\Factory\Compiled` class not passing correct arguments

[2017-01-03 13:43] #8002 closed, assigned to nobody

[2017-01-03 13:48] #7981 closed, assigned to nobody

[2017-01-03 13:56] ochnygosch opened #8023 ""Use default value" checkbox of price attribute not displaying the correct value"
The "Use default value" checkbox of the price attribute of a product is always unchecked in a store view.

### Preconditions

1. Magento 2.1.3

### Steps to reproduce

1. Enable website scoped prices in Stores -> Configuration -> Catalog --> Catalog
2. Create a new product with a price
3. Edit the product
4. Select "Default Store View" in Store View

### Expected result

1. The checkbox "Use defau

[2017-01-03 14:08] webdevlabo commented on #7888
@JacobDrummond It can happen because of locale: try **M/D/Y** format instead and check if it works.

[2017-01-03 14:19] pguedesbr commented on #7488
This is far from acceptable but since there's no update or aknowledgement of this issue, here is my workaround to insert more than one product with custom options to the cart:

1. On the first submit to the custom controller, set up a queue variable in the checkout session (or any other session of your choice). Also save the referer url.
2. Add the first product to the cart and then remove it from

[2017-01-03 14:32] veloraven commented on #4228
I'm closing this issue as there was no response from author for a long time.
If this issue is still actual and you want create a new one GitHub issue please note that  we recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues. Feature Requests and Improvements should now be submitted to the new  [Magento 2 Feature Requests and I

[2017-01-03 14:32] #4228 closed, assigned to antonkril, maksek

[2017-01-03 15:12] ioliinyk commented on #7587
Hi @mark166. The issue you mentioned actually not an issue but expected behavior. The standard store view purpose is customizing view per language and some other local attributes. But payment method doesn`t have to be defined per store view.

[2017-01-03 15:13] YevSent commented on #7587
Closed as not a bug.

[2017-01-03 15:13] #7587 closed, assigned to alena-marchenko

[2017-01-03 15:19] JacobDrummond commented on #7888
@webdevlabo, yes that's the known fix :)

The whole point of this bug report is that Magento should be implementing locale consistently across JS and PHP.

[2017-01-03 15:54] Tristan-N commented on #7159
Does your issue occur when you try to select payment/shipment method before you filled in an address? Because this looks a loot like an issues I an battling with atm. When I fill in address and then Cash on Delivery (for example) it works fine. When I do it the other way around it starts loading and loading etc. (CE 2.1.3)

[2017-01-03 15:55] thlassche commented on #4868
@SerhiyShkolyarenko Is that true? Bug is still present in 2.1.3

@Khaleel @SchumacherFM @ishakhsuvarov @pynej I developed an extension to solve the issue. Please let me know when you need it.

[2017-01-03 16:04] navarr opened #8024 "UI Component JavaScript does not properly trigger when embedded in a "Tab""
### Preconditions

1. Magento 2.1.3, PHP 5.6.27, Apache 2.4.18

### Steps to reproduce

1. Create in adminhtml a admin-2columns-left layout (or use existing)
2. Create a UI component form (or use existing) that utilizes the tabs layout (navContainerName: left)
3. Add a template block that implements tab interface to the form using a referenceBlock
4. Ensure that template block utilizes &lt;script

[2017-01-03 16:24] nbennett25 commented on #3507
2.1.3, unable to load admin page content with the layout 'admin-2columns-left':

`[2017-01-03 16:20:59] report.CRITICAL: Broken reference: the '[layout element name]' element cannot be added as child to 'left', because the latter doesn't exist [] []`

[2017-01-03 16:40] janeblonde commented on #7888
@veloraven this has been reported a few times since October, do you have an ETA on when it might be fixed? or is there a way we can see the code that needs to be modified from the developers branch?

[2017-01-03 17:23] anarchalienweb commented on #6183
Can we get an update on this?

[2017-01-03 18:05] antonkril commented on #7821
@DavidLambauer, @imgali do you face the code level issue described by @romainruaud or the upgrade issue described by @vishveskrish? Did you use `\Magento\Store\Model\Config\Reader\ReaderPool` in your code?

@romainruaud, `\Magento\Store\Model\Config\Reader\ReaderPool` did not have @api annotation, so we did not treat it as a part of our public API. Did you use it to reuse the `getReader` method, o

[2017-01-03 18:11] imgali commented on #7821
@antonkril we face the same issue described by @vishveskrish

We did not utilize \Magento\Store\Model\Config\Reader\ReaderPool in our code, nor were any of our modules. The issue only occurred on a local environment. It never occurred in Production Environment. I deleted var/cache and generation directories and restarted the vagrant instance which solved the problem.

[2017-01-03 18:31] romainruaud commented on #7821
Hello @antonkril and thank you for answering.

We did explicitely use the ReaderPool class. We did it because the class was provided by Magento.

Our main problem is that we did use it for a ```virtualType``` : we were forced to use the class explicitely and not the interface it implements, which would have be transparent when you decided to move the class.

However, since we are speaking about an

[2017-01-03 19:30] redelschaap commented on #7249
Is there an ETA for this bug? Our client needs to go live with a German store very soon. @dthampy maybe?

[2017-01-03 21:18] EmilyPepperman commented on #7983
We have a live Magento 2.1.3 website getting many orders a day successfully... several customers have gotten the  "An error occurred on the server. Please try to place the order again." while trying to checkout. Which took me a while to recreate. When we look in the failed transactions in our Braintree account we see those customers got Soft Declines... so I feel this issue is just of poor error w

[2017-01-03 21:20] EmilyPepperman commented on #7066
We have a live Magento 2.1.3 website getting many orders a day successfully... several customers have gotten the  "An error occurred on the server. Please try to place the order again." while trying to checkout. Which took me a while to recreate. When we look in the failed transactions in our Braintree account we see those customers got Soft Declines... so I feel this issue is just of poor error w

[2017-01-03 21:21] AirmanAJK opened #8025 "Tracking templates in shipping module using incorrect blocks"
Using Magento CE 2.1.3.
Add tracking info to a completed sales order. Visit the user account, and on the "My Orders" section, navigate to the "Order Shipments" tab. Click either the "Track this shipment" link, or the links for any individual tracking numbers.

Expected result: the tracking info visible in a popup window.

Actual result: an exception message:
Exception #0 (Magento\Framework\Excepti

[2017-01-03 21:33] 4DallasC commented on #7769
It's unbelievable the effort you guys go to, to avoid fixing the issue.

[2017-01-03 22:57] ctadlock commented on #5517
I still see this issue in Magento 2.1.3.

[2017-01-04 00:11] raymatos commented on #7623
update??

[2017-01-04 01:18] roseofgold commented on #7422
I am having the same problem.

Magento 2.1.2
Magento Blank theme

[2017-01-04 03:59] muhupower commented on #6929
Having the same error at check out.

2.1.1, dev server, paypal pro, migration from 1.9

no orders getting placed in database...

Looks like the store ID is 1 based on the admin > store > all stores , and when you hover over the link i see a "1" so I assume store id is 1

See attached, does it matter if my meta_id order is not lined up with the other tables?, seems like the above examples the table

[2017-01-04 04:58] vishveskrish commented on #7821
Hey @antonkril ,

We did not utilize \Magento\Store\Model\Config\Reader\ReaderPool in our code, nor were any of our modules.

[2017-01-04 05:19] mattlaltman commented on #6929
Really sorry for my ignorance but I'm getting the same issue here.  I'm so new to this that I don't even know how you guys are checking the database. What program are you using to verify the database columns?  My server is on Ubuntu and I'm very new to linux.

[2017-01-04 07:41] ecomchallenger opened #8026 "Unable to override default error skin"
### General summary
In Magento CE v. 2.1.2 changing skin value in file pub\errors\local.xml not gives effects. Because of this there is no possibility to create custom error templates in separate skin directory. There is only possibility to add modifications in core default error skin files located in: pub\errors\default.

### Preconditions
Http Server: nginx version: nginx/1.9.10
php: PHP 7.0.13-

[2017-01-04 08:39] bartoszkubicki commented on #7232
Same here on 2.1.1

[2017-01-04 08:46] JonasBlicherJensen commented on #7840
Extremely critical bug.
How did this get released? It must be one of the most fundamental functionalities in Magento 2.

[2017-01-04 08:49] hocomadvies commented on #6929
@mattlaltman  well you could install phpmyadmin on the server and have a look into the tables there. But before doing that first make a copy of your database :)

[2017-01-04 09:02] SchumacherFM commented on #7715
We have the same problems since M2.0.0

The customer is really annoyed about polluting the log file.

I think Magento will fix this in over a year as their response is usually more than slow.

[2017-01-04 09:03] hocomadvies commented on #6929
@muhupower Hi if I am right the sequence is the key to look at here. If you look at sales_sequence_profile you can see that it goes through the order process step by step. starting by 1 . So your table should look the same as some of the examples above.

[2017-01-04 09:24] leechilli commented on #5608
Hi, Any news on this?

[2017-01-04 09:51] zamocom commented on #7920
The solution for me is: reinstall all, now all works correctly. Thanks

[2017-01-04 09:51] #7920 closed, assigned to nobody

[2017-01-04 10:20] jarnail104 commented on #642
This functionality is also missing in M2. I get requirement to build Group product containing Configurable product but M2 dont provide this feature.

[2017-01-04 10:22] faducrocq commented on #7722
Hi @veloraven ,

Have you find anything to fix this bug ?

Thanks,

[2017-01-04 10:26] kuwalpinkesh commented on #3630
i have still this problem. how can solve this problem

[2017-01-04 10:43] degaray opened #8027 "There is no webapi resource for newsletter registration"
### Preconditions
As of Magento 2.1 there is no endpoint in the webapi to subscribe to the newsletter.

### Expected result
1. There should be a post method to subscribe an email to the newsletter.

[2017-01-04 11:01] katesuykovskaya opened #8028 "Order with conf product with custom options is not placed using Auth. NET Direct Post"
### Preconditions

1. M 2.1.2, installed using Wizard
2. PHP 5.6, MySQL 5.6

### Steps to reproduce

1. Create configurable product with custom option
2. Go to product page, add it to cart with filled custom option
3. Go to checkout page, choose Credit Card Direct Post (Authorize.net) payment method
4. click Place Order

### Expected result

1. Order should be placed

### Actual result

1. popup w

[2017-01-04 11:05] renatocason commented on #5549
On a further note - if you get this error but all the labels are set, watch out for zeros. The check uses the PHP _empty_ function which considers "0" to be empty (line 433 of _vendor/magento/module-swatches/Model/Plugin/EavAttribute.php_). Probably another bug.

[2017-01-04 11:33] koenner01 commented on #7199
We have this problem too in 2.1.2 and I can confirm that this is still an issue after correcting the shipping origin & tax default calculation by setting them to the same country

[2017-01-04 11:37] developerscb commented on #7199
I can also confirm the same problem is happening in 2.1.3 and the things said by @choukalos are reviewed and not applying.

[2017-01-04 12:11] perry3181 commented on #7948
Hello @veloraven , do you have temporary solution to fix this issue? Thank you so much!

[2017-01-04 12:31] lennartbee commented on #7968
@ndsina Thanks, this works perfect for now

[2017-01-04 12:32] hansvanl commented on #5973
Would love an update also.

[2017-01-04 12:33] avanish512 opened #8029 "Magento 2 product url issue with multiple store"
Hi,

Anyone can help me to fix Magento 2 Product URL issue with multiple stores.

like: - Some product URL is good and some have URL "catalog/product/view/id/121/s/compartment-organizer/". Also, I have re-index Magento but there no any impact on product URLs

If anyone can help me to fix this issue that would be great for me.

Thanks

[2017-01-04 12:33] asim-vax opened #8030 "Archiving Yearly Sales"
To whom it may concern,

As our data grows(over 5 years worth of sales data) our sales_order (sales_flat_order table in M1) table is exponentially growing - trying to run queries against this is becoming slower. Is there a development path for something like sales_order_2014, sales_order_2015 or any sort of archiving of older data?

Thanks,

Alex

[2017-01-04 13:08] gianluca-ugolini opened #8031 "github"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-01-04 13:10] antonkril commented on #7821
@vishveskrish, @imgali, @FicoSvt, @DavidLambauer, the issue you encountered is related to upgrade flow documentation. `var/generation` folder depends on specific codebase, so it should be cleared every time you deploy new codebase, including upgrades. This was not mentioned in our documentation. We added it now: http://devdocs.magento.com/guides/v2.0/comp-mgr/cli/cli-upgrade.html#ui-id-5.

@romain

[2017-01-04 13:20] joaocosta-azores opened #8032 "Missing locale timezone Atlantic/Azores"
Hello,

I'm using magento 2.1.3.
It's missing Atlantic/Azores locale timezone. I can't find in backend at stores -> settings-> configurations -> General -> Locale Options -> Timezone.

[http://php.net/manual/en/timezones.atlantic.php](http://php.net/manual/en/timezones.atlantic.php)

[2017-01-04 13:24] paales commented on #6558
Custom options seem to be recreated on every save or something (ImportExport does this anyways), causing the error.. Ideas how to fix this?

[2017-01-04 13:28] hansvanl commented on #6879
Would love an update

[2017-01-04 13:38] paales commented on #6558
In `Magento\Sales\Controller\Download\DownloadCustomOption::execute` comment out the following code:

[code]

[2017-01-04 13:56] veloraven commented on #8003
@tsmith1985 thank you for your report.
We have created internal ticket MAGETWO-62921

[2017-01-04 13:57] vpiyappan opened #8033 "Magento 2 Internet explorer 11 the cart page image loading keep on spinning without hiding."
### Preconditions

1.  Magento 2 website.
2.  IE 11 or Laterst version of Browser

### Steps to reproduce

1.  Open Magento 2 website in IE Browser. Add product to cart.
2. Navigate to Cart page.
3. Loader image will keep on spinning.

### Expected result

1. The Loader image should disappear after the estimated shipping cost loaded.

### Actual result

1. [Screenshot, logs]
![image](https://cloud

[2017-01-04 14:06] veloraven commented on #8006
@tsmith1985 thank you for your report.

I was not able to reproduce this issue. I either get the result from #8003 when values are not imported at all, or I get all the values imported.
Can you please check this case once more, if it still reproduces? As it possible that there was some issue on Webservicex  side.

If it does, please provide additional Information:
* Was it clear Magento install or

[2017-01-04 14:19] veloraven commented on #8023
@ochnygosch thank you for your report.
We have created internal ticket MAGETWO-62923

[2017-01-04 14:20] anarchalienweb commented on #6183
My workaround: http://pastebin.com/8nnA6AvV

[2017-01-04 14:50] veloraven commented on #7995
@rosandrest thank you for your report
We have created internal ticket MAGETWO-62926

[2017-01-04 14:51] hostep commented on #8006
@tsmith1985 & @veloraven: it probably is just the external service Webservicex which was down at that time.
I've seen it happen from time to time over the last few years in Magento 1 (where Webservicex is the only service) in Magento 2, luckily there are some alternatives which you can use, I don't really trust Webservicex any longer based on my past experience with it.

So this doesn't look like

[2017-01-04 15:04] ostrovanka opened #8034 "[Advanced Pricing] Magento 2.1.2: Can't remove special price for product"
Preconditions
1.Magento 2.1.2 EE with Sample data

Steps to reproduce
1. Open any product in admin panel and set special price for it
2. Check price on storefront -> it is applied correctly
3. Remove special price for the product and save
4.Open Advanced Pricing tab fro the product

Expected result
1. Special price for the product is removed

Actual result
1.Special price for the product is not re

[2017-01-04 15:23] davidmpaz commented on #6688
Thanks @sevos1984 for hinting the proper location to look at.

For us the solution was to point web root dir of server to "pub" dir in magento

[2017-01-04 15:41] Bbbrinks opened #8035 "Join extension attributes are not added to Order results (REST api)"
### Preconditions

1. Magento 2.1.3
2. PHP 7.0.8-0ubuntu0.16.04.3

### Steps to reproduce

1. Define a Extension attribute for the OrderInterface with a join table:
[code]
2. Make sure there's matching data in the SOMETABLE table and the sales_order table
3. Request orders via REST

### Expected result

1. I expected to see some_id in the resulting json response (this does work for Quote extension

[2017-01-04 15:43] Bbbrinks commented on #8035
As far as I can see there's a missing call in /magento/module-sales/Model/OrderRepository.php:

`$this->extensionAttributesJoinProcessor->process($this->quoteCollection);`

The //magento/module-quote/Model/QuoteRepository.php does have this call.

[2017-01-04 17:37] timstoel commented on #7623
The solution is Magento 1.9

[2017-01-04 17:52] Jimgitsit commented on #6310
Any workaround such as a DB query?

[2017-01-04 18:07] malikt opened #8036 "bin/magento commands not working after upgrade from V2.0.5 to V2.1.2 using composer"
Recently I upgraded the magento 2 site, from Version 2.0.5 to 2.1.2, using composer, I updated composer.json as below
[code]
and then used the following command:
`composer update`
It all went fine, composer removed and upgraded each component, when it was done. I deleted var files and used following command to upgrade database:
`php bin/magento setup:upgrade`
 but does nothing.

### Preconditions

[2017-01-04 18:29] key-dev commented on #7976
It was settings in attribute itself.

[2017-01-04 18:29] #7976 closed, assigned to nobody

[2017-01-04 18:41] zexperto commented on #5445
Hello You can solve this issue by adding string cast to the option value of your source model
like this
 public function getAllOptions()
    {
        $collection = $this->getCollection();
        $_options = [];
        foreach ($collection as $item) {
            $_options[] = [
                'label' => $item->getName(),
                'value' => **(string)**$item->getId()
            ];

[2017-01-04 19:01] andidhouse commented on #1691
5 month later. no solution. no update. really do not know if putting bugs and requests here is worth the effort any more...

[2017-01-04 19:56] ctadlock commented on #3676
@piotrekkaminski  Im confused as to why this issue is closed. While the solution that @m-strojek provided works, shouldn't this be added to the Magento code? Why should all of the store owners need to make this fix themselves?

[2017-01-04 20:04] pguedesbr commented on #6719
Hello @oshmyheliuk

Any updates on this issue?

[2017-01-04 20:09] pguedesbr commented on #7488
Hi @veloraven

Did you guys have the chance to take a look into this issue? This is still present in 2.1.3
Were you able to reproduce it?

The sample code in the OP uses object manager to make it easier to copy/reproduce. The actual code I'm using uses DI as best practices suggest.

[2017-01-04 20:11] hostep opened #8037 "Low priority: magento/magento-composer-installer module uses a non-existing composer class"
### Preconditions
1. Magento CE 2.1.3
2. PHP 7.0.14

### Steps to reproduce
1. Install [phpstan](https://github.com/phpstan/phpstan#installation) in some directory
2. Let it analyze a vanilla Magento CE 2.1.3 installation:
`/path/to/phpstan/vendor/bin/phpstan analyze -l 0 /path/to/magento`

### Expected result
1. phpstan should run fully

### Actual result
1. phpstan execution stops due to a PHP c

[2017-01-04 20:38] mage-dave commented on #6465
I am having this same issue on Enterprise 2.1.3. From the admin I get "Asymmetric transaction rollback." from the API i receive"Unable to save product". However the product gets created/updated but exception is still being thrown meaning the rollback never occurs or is called post commit.

[2017-01-04 20:41] mgwalk commented on #7960
I am having this same problem on 2.1.3  when trying to edit products.
I upgraded from 2.1.2 to 2.1.3 via command line.

[2017-01-04 20:53] ctadlock commented on #6404
The solution provided here (https://github.com/magento/magento2/issues/3676#issuecomment-194280015) resolved the issue for me. I still have an open question as to why this isnt being included in the Magento code.

[2017-01-04 21:10] pguedesbr opened #8039 ""Shipping address is not set" error for virtual product added to cart before login"
### Preconditions

1. Magento 2.1.3
2. PHP 5.6.25
3. MySQL 5.6.23

### Steps to reproduce

1. Have a virtual product (may be configurable, as long as the child product is virtual)
2. Logout of the customer account
3. Add one virtual product to the cart
4. Go to checkout
5. Fill in the customer email (of an existing customer account)
6. Wait for it to recognize as an existing customer, fill in the

[2017-01-04 21:38] bondimedical3 opened #8040 "Feature Request - AMP"
Google is making a big push with AMP pages in mobile search results. I am seeing more and more AMP results in SERPS and I believe if Magento would like to keep a competitive edge in the market it will need to begin to look at adding this feature to Magento 2. Google SERPs are constantly changing with new features and they have even added an AMP carousel in mobile results where if there are more th

[2017-01-04 21:42] andreaskoch commented on #7960
I had a similar issue and in my case it was caused by the JavaScript file versioning being activated by default in Magento 2.1.3 (see: [Relelase Notes of Magento 2.1.3](http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.3CE.html)):

![Magento 2.1.3 JavaScript files cannot be loaded because the static/version route is not resolved by my webserver](https://cloud.githubusercontent.c

[2017-01-04 22:07] qbo-tech commented on #4883
Problem still present on 2.1.3 for all validation messages generated on vendor/magento/magento2-base/lib/web/mage/validation.js.

Someone probably missed the use of **$.mage.__()** on that file. Overriding and implementing this method on your theme, solves the problem

**As a temporarily fix:**

For example:

             /**
              * Validate credit card number based on mod 10

[2017-01-04 22:16] salelsol commented on #7006
@ajpevers same issue, and afther change code works like a charm.

[2017-01-04 22:17] daniel-ifrim commented on #8009
Even if the configurable product id is sent to be cleaned from cache type full_page, there are additional things to do. 'block_html' and 'collections' cache types must be cleaned too by the cache tag of the configurable product's id. The id of the configurable product is added in many cached blocks tags/identities.

[2017-01-05 00:37] pboisvert commented on #8031
closing--no info

[2017-01-05 00:37] #8031 closed, assigned to nobody

[2017-01-05 01:05] azeemism commented on #7165
@shiftedreality
already using `php bin/magento cache:disable` in steps to reproduce (see above). Am currently running without cache, but if cron runs while you are disabling the module then php bin/magento commands don't work. ...and it is impossible to then run `php bin/magento cache:enable`.

[2017-01-05 01:12] azeemism commented on #7165
@Ctucker9233 @peterhirn you need to stop cron before carrying out an update or you may run into install issues. Deleting `var/di` while important during an install procedure, does not solve the issue.

@peterhirn, you had to replace env.php as the first step before your troubleshooting was able to work around "consequent"/"or additional" issues. So your workaround produces a temporary fix not a so

[2017-01-05 01:21] roseofgold commented on #6281
patch didn't work for me on 2.1.2

[2017-01-05 03:34] mswaidan commented on #7852
I'm also experiencing this issue.

[2017-01-05 03:46] tylerd92vn opened #8042 "Some files not existed or created (pub/media/styles.css, jquery-storageapi.js, etc.)"
### Preconditions

1. Magento 2.1.3 Enterprise
2. Nginx

### Steps to reproduce

1. rm -rf var/di/* var/generation/* var/cache/* var/page_cache/* var/view_preprocessed/* var/composer_home/cache/*
2. sudo chmod 777 -R var pub pub/media app/etc
3. php bin/magento setup:static-content:deploy
4. php bin/magento cache:clean

### Expected result

1. The site should load successfully

### Actual result

[2017-01-05 05:46] parthpatel147 opened #8043 "When i enabled the production mode also cache management, after that customer session is not working perfect. Like when i logged in as customer and go to category page customer session is not there but when i go to my account page it is there."

[2017-01-05 07:01] rramiii opened #8044 "Adding order/dependency to my custom indexer"
### Preconditions
1. Magento 2 is installed and running fine

### Steps to reproduce
1. add your custom indexer to magento 2 and it's running fine

### Expected result
1. to be able to give my custom indexer an order to run after/before some other indexer just like layout updates or the best is adding dependency on other indexer to force the other indexer to run before my custom one.

### Actual r

[2017-01-05 07:41] pantaoran commented on #6617
It appears that I'm also having this exact situation after turning on the full page cache.
Even if it was a theme error, could you give any hints as to how you solved it? @mombrea

[2017-01-05 07:48] dmanners opened #8045 "CLI application does not have all the plugins for CMS Page Save and Delete"
### Preconditions

1. Magento: 2.1.2
2. PHP: 5.6.23|7.0.x

### Steps to reproduce

1. Create a bin script that uses `new \Magento\Framework\Console\Cli();`
2. Use the `\Magento\Cms\Api\Data\PageInterfaceFactory` to create a cms page
3. Supply only the required (in the admin) field "title"
4. Save the page

### Expected result

1. I expect that just like the admin if no identifier is supplied that

[2017-01-05 07:53] tkn98 commented on #4883
Yes, it's still in 2.1.x, I got confirmation from Magento support that it is not yet backported to the current stable version.

[2017-01-05 07:55] hostep commented on #6617
@pantaoran: does this help: https://github.com/magento/magento2/issues/5897?

[2017-01-05 07:57] eldonbite commented on #7925
Also encountering this issue. It seems the only way to hide the special prices is to remove them completely on each product with expired special prices. Before Magento 2.1.3, I needed to reindex before the special prices in the front-end gets hidden. In 2.1.3, there is no longer a need to reindex, but you still need to remove the special prices even if they already expired.

I've added a comment s

[2017-01-05 08:03] SchumacherFM commented on #1691
I've stopped long time ago. Not worth to put any effort into Magento2.

[2017-01-05 08:16] nagno commented on #6281
@roseofgold
are you sure you applied it correctly?
We are using it in a production system without any issues.

[2017-01-05 08:22] perry3181 commented on #7968
@lennartbee, I also tried rewrite 'isRangingNeeded' method to return false. But it's not work for me.

[2017-01-05 08:32] lennartbee commented on #7968
@perry3181 is your magento crun running? Try reindexing manually also
 `php bin/magento indexer:reindex`

[2017-01-05 08:39] perry3181 commented on #7968
@lennartbee Yes, I tried rewrite and then reindex manually, but it still not work for me.
But I found that if any item changed to "Out of Stock", it will becomes visible in frontend category.

[2017-01-05 08:43] andidhouse commented on #1691
@SchumacherFM - completly agree. We just have one project which needs to go live in some weeks and it is horrible with m2. After this project we will also stop developing m2 systems until magento changes its policy and offers a system which can be used for production without fixing hundreds of bugs. It was really the wrong decision to put one year of work in to m2.

[2017-01-05 08:45] martijnhovinga commented on #8010
To reproduce:
- Magento 2.1.3
- Create configurable product with text swatch based on attribute 'units' (i.e 1 piece or 2 pieces per pack)
- Create 2 simple products with different price 17.90 for 1 unit and 31.90 for 2 units. using 'text swatch' unit attribute

Scenario 1 (without adding related products):  Check price change in front-end when selecting different options > CORRECT (1 unit cost $1

[2017-01-05 09:09] slackerzz commented on #5509
issue closed (3 month ago), bug still present :rage3:

[2017-01-05 09:22] eldonbite commented on #6942
One of our projects was experiencing this issue as well, and as a workaround, we configured a cron task for clearing the layout cache every 3 hours just to avoid broken pages from being shown on the site.

We recently upgraded to Magento 2.1.3, and along with it, disabled the cron task for cleaning the layout cache. So far there are no reports of this issue occurring again. Anybody else experience

[2017-01-05 09:23] convenient commented on #6942
@eldonbite What version did you upgrade from? Do you have any other debug info to add?

[2017-01-05 09:24] eldonbite commented on #6942
Hi @convenient,

We were previously running 2.1.2.

[2017-01-05 10:18] #7908 closed, assigned to veloraven

[2017-01-05 10:21] staffrob commented on #7908
This was resolved by overwriting with fresh 2.1.3 files.

[2017-01-05 10:24] pyyick commented on #4432
I can confirm Magento 2.1.2 still not fixed

[2017-01-05 10:32] javsalgar opened #8049 "Swiftmailer Security issue CVE-2016-10074"
On 25.12.2016 a security issue (CVE-2016-10074) was found in the Swiftmailer component for versions lower than 5.4.5. You use the monolog component which uses Swiftmailer. Could you confirm if that affects the security of the application?

More info: http://pwnscriptum.com/

[2017-01-05 10:39] BvdVen commented on #7841
In my situation the theme was already set before upgrading to 2.1.3 after the upgrade all settings in the Design Configuration aren't used and just shows default logo's, mail header, footer etc.

[2017-01-05 10:58] pantaoran commented on #6617
I have solved it before I saw your comment, but thanks.

We had a page that worked as an "All categories" page, and since that didn't have a clearly assigned category the getIdentities() didn't work. The solution was to override that function in our block and create some custom cache tags for it.

For understanding this it's very important to understand how the whole full page caching works in M2.

[2017-01-05 11:03] pawanguleria911 commented on #5497
Cannot gather stats! Warning!stat(): stat failed for ..........
I am facing this issue in magento 2 and I checked it here https://github.com/magento/magento2/commit/2e03028f36f0f40910fd5fae2e16560bf42136d3
but it is not fixed and also I did that you told in above.

Please help me to fix this.

[2017-01-05 12:19] geon commented on #4527
Still seeing exactly this in 2.1.2

I set

    "custom_attributes":[{"attribute_code":"description","value":"foo"}]

It is not updated in the GUI. But I get the new values via the GET request to the REST API.

Both the old and new values are stored in the database:

[code]

value_id 1 and 2 are the originally created description and short_description. value_id 3 and 4 are the updated values.

Noti

[2017-01-05 12:23] phoenix128 opened #8050 "customer_login and customer_logout events on wrong area"
`Magento_Checkout/etc/frontend/events.xml` should be moved to `Magento_Checkout/etc/global/events.xml`.

If you try to perform a login via **WEB API**, `customer_login` and `customer_logout` will not trigger `Magento\Checkout\Observer\LoadCustomerQuoteObserver` and `Magento\Checkout\Observer\UnsetAllObserver`.

This will cause an inconsitency in the `quote` table and current quote without `custome

[2017-01-05 12:41] noindie opened #8051 "Update image on color swatches (size+colour)"
Hello,

I am trying to setup a product with colour visual swatches and size (text swatch) , is it possible to update the image on just selecting the colour? It works only after I select the size too

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/qUenf.png

Magento 2.1.3

thanks

[2017-01-05 12:49] noindie commented on #8051
Looks like a js error causing this, maybe Cannot read property 'oldPrice' of undefined #7959
Anyone can confirm? any way to fix it?

[2017-01-05 12:52] nmallepally commented on #7649
@yaroslavGoncharuk Thank you. yes it does not count pending orders.
Problem solved. thank you.

[2017-01-05 12:53] nmallepally commented on #6105
@caleoroco Thanks, worked on htaccess.

[2017-01-05 12:57] nmallepally commented on #7675
@wert2all Thanks for it.
but when you run production command which is
php bin/magento deploy:mode:set production.
after compiling,  it gives an error with same
Command returned non-zero exit code:
/opt/plesk/php/7.0/bin/php -f /var/www/vhosts/magento 2/httpdocs/bin/magento setup:static-content:deploy en_GB en_US

once it is in production i cannot control, static content deployment while moving to

[2017-01-05 13:18] mgwalk commented on #7960
I found that clearing browsing history fixed this.

[2017-01-05 13:48] lingwooc commented on #5428
I turned the relevant parts of the fix into a module (I ignored the aria stuff). [requiredFields-magento2](https://github.com/lingwooc/requiredFields-magento2). It appears to work just fine in isolation.  I only tested in 2.1.3 YMMV.

When we get the integrated fix just remove the module.

[2017-01-05 14:18] nmallepally commented on #7675
Did try again... when i checked on nohup, this showed up
Enabled maintenance mode
Starting compilation
Compilation was started.
%message% 0/7 [>---------------------------]   0% 1 sec 42.0 MiB%message% 0/7 [>---------------------------]   0% 1 sec 42.0 MiBProxies code generation... 0/7 [>---------------------------]   0% 1 sec 42.0 MiB
Proxies code generation... 1/7 [====>-----------------------]

[2017-01-05 14:21] Frits1980 commented on #7167
Duplicates: [5705](https://github.com/magento/magento2/issues/5705)

But even that ticket is still not solved. Mainly because developers cannot replicate the issue.
I just had it too. But I didn't have it before. Something changed. Still figuring out what though.

[2017-01-05 14:22] Frits1980 commented on #5705
Duplicates: [7167](https://github.com/magento/magento2/issues/7167)

But that ticket is also not solved. Mainly because developers cannot replicate the issue.
I just had it too. But I didn't have it before. Something changed. Still figuring out what though.

[2017-01-05 14:36] mgomma commented on #7570
Does there exist a patch for that issue as it blocks going live, It happens with me after failed payment operation.

causes add to cart to fail and reload the page. and when doing reorder.

[2017-01-05 14:40] tanmayabiswal commented on #7960
I upgrader the site from 2.1.1 to 2.1.3 via via Setup Wizard, even cleared the browser, history, cleaned and flushed the cacche, remove the static and var folder details, deployed 5 times but the same , error.

Whenever there a a modal kind of things, any row from admin grid to edit.
product edit , theme configuration edit etc causing the issues

ReferenceError: _wasOpened is not defined
![error](

[2017-01-05 14:52] cduperron opened #8054 "Widget conditions (in a block) are stored in database but not in back-office"
### Preconditions

1. Magento 2.1.3
### Steps to reproduce

1. Connect to back-office
2. Create a new block in `Content` > `Blocks`
3. In this new block, click on the widget button into the WYSIWYG to add a new widget
4. Choose `Catalog Products List` as widget type
5. Add some conditions (whatever the conditions)
6. Click on `Insert Widget`
### Expected result

1. Double click on the widget icon

[2017-01-05 14:57] TommyKolkman commented on #4767
@sintsov I'm stuck here - I'm on the same approach as you, with the plugin and all, but cannot seem to get @sereban's solution working.

Would it be much work for you to show this how you fixed it in the end?

[2017-01-05 15:23] SchumacherFM commented on #1691
An alternative would be: OroCommerce for B2B and Sylius for B2C

[2017-01-05 15:25] korostii opened #8055 "2.1.x Whenever a Block throws an exception, the exception message is quietly logged, and then suddenly a UiComponent is attempted to be created instead, throwing an "Object DOMDocument should be created." error in result."
### Preconditions

Magento 2.1.3, PHP 5.6, Apache
1. Create a Block that would throw an Exception while being rendered (in other words, throw an Exception from the template)
Basically, the following code in any .phtml file being rendered on frontend would do:
` <?php throw new \Exception('your error message'); ?> `

### Steps to reproduce
1. Open the page containing the Block which would throw an

[2017-01-05 15:29] ghost commented on #7938
I can also confirm this happens, no matter what the limit is up to 4GB in our case. Selecting one product to delete shouldn't require 4GB of memory.

[2017-01-05 15:35] coatesjonathan commented on #7072
whats the solution?

[2017-01-05 15:43] ksz2013 commented on #5428
Hi,

Those who still have this problem i created a custom snippet that resolves this issue:

Just include it in one of your templates:

`
<pre>
<script>
    require([
        "jquery"
    ], function($){
        $(document).ready(function () {
            'use strict';
            var validationErrorMoved = false;
            $('#product-addtocart-button').click(function() {
                if (!v

[2017-01-05 15:44] ghost commented on #7938
Just an FYI it appears to select every product???

[pid  2686] sendto(6, "\223\307\n\0\3SELECT `t_d`.`attribute_id`, `e`.`entity_id`, `t_d`.`value` AS `default_value`, `t_s`.`value` AS `store_value`, IF(t_s.value_id IS NULL, t_d.value, t_s.value) AS `value` FROM `catalog_product_entity_varchar` AS `t_d`\n INNER JOIN `catalog_product_entity` AS `e` ON e.entity_id = t_d.entity_id\n LEFT JOIN `catalo

[2017-01-05 15:47] gendosua commented on #2411
In my case, after 2 days of struggling, issue was resolved by changing server from nginx to apache.
Yup, I've given up.

[2017-01-05 16:13] jvreeken commented on #5836
This is still a problem in v2.1.3 and the ticket has been open since Jul 27, 2016.... I am never using magento for another project ever again...

[2017-01-05 16:22] Hawk30100 commented on #5882
We updated now from 2.0.8 to 2.1.3 but still get the message "You need to choose options for your item.".
This problem exists for existing configurable products (existing before update) and new products (created after the update).

[2017-01-05 16:25] jvreeken commented on #5459
It looks like they've included the patch 6278314 in v2.1.3 as I finally didn't have to fix this after upgrading... however the Attributes.php file was still the same....

[2017-01-05 16:45] srirammoorthyziffity commented on #7627
I am facing the same issue. Is there any update?

[2017-01-05 16:49] janeblonde commented on #7037
I'd hoped this would be fixed in 2.1.3. Is there an ETA on when this can be fixed or possibly a hot fix?

[2017-01-05 17:00] Pakkapao opened #8057 "Multiple Website - only the first website is displayed in 'strore view' dropdown on product page"
Unable to update product details for a newly created website.

### Preconditions
1. Magento 2.1.1 or 2.1.2

### Steps to reproduce
1. Create a new website, store and store view
![1](https://cloud.githubusercontent.com/assets/11070293/21689242/59828bbc-d3a2-11e6-85d9-e4255c2a1518.png)
2. Clear all caches
3. Click 'store view' dropdown on product page

### Expected result
1. To see 'site2view' in th

[2017-01-05 17:03] frustratedtech commented on #4506
My issue with bundling is that, from my testing, the bundle is set to expire too quickly.
You basically have to download the file over and over again on page visit.
Eventually it caches and pulls from local cache.

[2017-01-05 17:04] yumicom commented on #7967
I have same problem. How to display breadcrumbs with full path on product view pages?

[2017-01-05 17:10] yumicom commented on #7677
I have same problem in production and developer mode

[2017-01-05 17:59] ludwig-gramberg commented on #1691
there are several design decisions in m2 that are flat out weird if not horrible, on the other hand, when was m1 fully stable? when was the feature set mature enough for most peoples needs? magento strives to be the swissarmy knife of shops so it has a wide configurable functionality. I think the main issue here is a lack of communication and that magento is developed behind closed doors (no publi

[2017-01-05 18:17] iokbomkamp opened #8058 "Error message on static block"
### Preconditions

1.  Magento version 2 in the backend admin - getting error in the static block 'Home Page Block' everytime I try to edit it. The error is: error: error in [unknown object].fireEvent(): event name: tinymceSetContent error message: Failed to execute 'atob' on 'Window': The string to be decoded is not correctly encoded.

![image](https://cloud.githubusercontent.com/assets/20865162/

[2017-01-05 18:17] key-dev commented on #7975
Sticking with 2.1.2

[2017-01-05 18:17] #7975 closed, assigned to nobody

[2017-01-05 18:40] choukalos commented on #7963
Tracking the issue for FullText indexer as MAGETWO-56356 - we're planning on addressing near term.

[2017-01-05 19:00] #8058 closed, assigned to nobody

[2017-01-05 19:45] mitch2k commented on #7949
Hi,

I have the same issue. Is there any timeline for a fix?
It seems that it also influences the favicon and watermark image. In fact, it looks like every setting under Content/Design/Configuration is affected.

[2017-01-05 20:01] roseofgold commented on #6281
@nagno No I'm not sure. I just tried applying it again and now I can't use my admin :(

[2017-01-05 20:09] plentyhappy commented on #6335
I have to agree - we are on 2.1.2...did not upgrade to 2.1.3 just because I'm used to all the bugs...did not want to start from square one.  I wish I had just used 1.9x...I have spent 17K on developers (the one I am using now is top notch but the money spent is no fun...these are not even improvements on the site...just bug fixes for the most part) since Feb 2016...all of this being said everyone

[2017-01-05 20:17] cizgidekiadam commented on #7960
Hi folks,
php bin/magento setup:static-content:deploy --frontend=adminhtml fixed for me.

[2017-01-05 20:45] ksilliman-pipeline commented on #4468
I'm getting this error too. (version 2.1.1)

[2017-01-05 21:25] ghost commented on #6335
http://webshopapps.com/blog/2017/01/what-magento-should-spend-some-of-that-250m-on/

One of magento's gold partners posted this. Sums up how we all feel, hints that magento may move on from CE. Would be nice if a senior member gave us an idea on what's really going on behind closed doors.

[2017-01-05 21:37] scher200 commented on #4921
@erfanimani just upgraded but still have the same error:
[code]

[2017-01-05 21:40] justenpeters opened #8059 "Quotes in product name causes JSON error on product page MAP What's This Popup"
### Preconditions

1. Magento 2.1.2

### Steps to reproduce

1. Include single quote ( ' ) or double quote ( " ) in product name
2. Add an MSRP price
3. View product page

### Expected result

1. Popup opens as expected

### Actual result

1. Unexpected end of JSON input error
![screen shot 2017-01-05 at 4 30 32 pm](https://cloud.githubusercontent.com/assets/368687/21698497/34160be8-d365-11e6-9174

[2017-01-05 21:53] ghost commented on #7967
Same issue on CE 2.1.3

[2017-01-05 22:52] romeof1980 commented on #5421
hi, there!
same for us after upgrading to 2.1.2
we tried to delete all cache and redeploy static content with no avail.
we tried to disable CDN too and then cleared browser cache, tried to disable minifying js, always with no avail.

most weird thing: always works on a laptop (no matter with which browser) but does not work on other devices. I thought due to browser cache but after clearing all ca

[2017-01-05 23:41] joshspivey commented on #4695
I removed all amasty plugins same issue. I also tried seeing if it was weird chars by adding
$invalid_characters = '/[^\x9\xa\x20-\xD7FF\xE000-\xFFFD]/';
$feedXml = preg_replace($invalid_characters, '', $content );
$newFragment->appendXML($feedXml);

no luck with that either...

[2017-01-06 00:58] gabs77 commented on #7322
I will try it soon thanks

[2017-01-06 01:17] mwgamble commented on #6122
I can confirm that this issue is still occurring in Magento 2.1.3. As these fields are currently not flagged as mandatory and are optional, this definitely appears to be a bug.

[2017-01-06 01:30] fooman commented on #7659
@shiftedreality tested with 2d6bb430dbb7fca87d5a0fcbd6f61b49725ad334 and I am getting

[code]

which is much better as it doesn't take the store down.

The above error message was repeated quite a few times when 1 would have been sufficient.
I also suggest changing the wording to a warning as it works.

[2017-01-06 01:34] ghost commented on #4695
I tried removing all my extensions and no luck I didn't have this issue until I did a migration from mage 1. I had all my extensions installed before I migrated over.

[2017-01-06 03:50] shuidaan commented on #5247
@michaelmcgregor i have the problem same as you, Do You solve this problem ? could you give a email .      shuidaan@gmail.com
installing magento 2.1.2 to puplic.html as main domain. Then configure the second domain as multistore by parked domain direction. Websetup wizard dont working (setup/index.php/session/unlogin Response 401).
who can explain how can ı fix

[2017-01-06 04:59] mswaidan commented on #2996
This happened again to me, seems that it's after I do an update.

[2017-01-06 05:52] rey8a commented on #4430
I also was experiencing this issue thanks @gamort Your hack resolved my issue.

[2017-01-06 08:05] korostii commented on #8042
Looks like a duplicate of #7869 , please try the workaround suggested on that issue:

[code]

It makes me sad that we don't get frequent patch\bugfix releases for even the most obvious bugs like this one, forcing each of us to run into these bugs.
Why not fix them once and for all as soon as they're discovered?

[2017-01-06 08:15] korostii commented on #8036
The steps you mention seem okay and usual at a first glance.
Just in case it's simpler than it seems: if the magento is in production mode and you've also cleared var/di and var/generation folders, then I think you might also need the following command
`php bin/magento setup:di:compile`
Also, not showing any error whatsoever is also suspicious.  try running it with maximum verbosity:
`php bin/mage

[2017-01-06 08:21] korostii commented on #8029
This generally seems like an issue more appropriate to the [forums](https://community.magento.com/)
If you're sure it's a bug and not a misconfiguration, you probably should provide more details about your application setup (magento, PHP, apache version etc.)

Anyway, if I were to guess: have you checked whether you have the mod_rewrite enabled?

[2017-01-06 08:31] korostii commented on #8033
Tried to reproduce on a M2 instance, with success (to my surprise).
You should've probably mention the extra step: clicking on "Estimate Shipping and Tax".
And here's what I got in console, probably related:
![shopping cart - internet explorer 2017-01-06 10_26_22](https://cloud.githubusercontent.com/assets/24894168/21712073/349592d2-d3fb-11e6-9d45-0f0483a9614b.png)

[2017-01-06 09:06] maximehuran opened #8060 "Cannot use coupon if expiration date greater than 01/19/2038"
### Preconditions

1. Magento 2.1.3

### Steps to reproduce

1. Create a cart price rule with an expiration date greater than 01/19/2038 and with a specific coupon code (due to the timestamp end)

### Expected result

1. Have the field expiration_date on the table salesrule_coupon with the good date

### Actual result

1. The expiration_date field is : 0000-00-00 00:00:00

[2017-01-06 09:11] vpiyappan commented on #8033
Hi,

Thank for your Help.

I don't see any error message like what you attached above. But the loader spinning for me. Could you share what theme your using to reproduce the issue and "cart page" screenshot to me.

[2017-01-06 09:14] korostii commented on #7943
Is there any chance bugfixes for such common yet simple bugs would get streamlined through frequent (more frequent than once per 6 months) patch version releases?
For example, a 2.1.3.1 version containing just the fixes to bugs introduced in (supposedly stable) 2.1.3 would do just fine.

The thing is, for a project facing a launch in the next month, waiting half a year(or more? nobody really knows

[2017-01-06 09:16] YevSent commented on #8028
Hi @katesuykovskaya, thanks for reporting. This is known issue (internal ticket MAGETWO-56695) and already fixed on the develop branch.

The fix will be available in Magento 2.1.4.

Also, to use Authorize.net you need to use a  server with public domain or IP, this payment won't work on  a local machine.

Closed as duplicate to https://github.com/magento/magento2/issues/5938.

[2017-01-06 09:16] #8028 closed, assigned to nobody

[2017-01-06 09:34] veloraven commented on #8007
@bondimedical3 thank you for your report.
I was not able to reproduce this issue.
Could you please provide more information?
* about type of the product added to the cart,
* detailed steps how you logged in and added the product,
* was it clear install or upgrade from some previous version

[2017-01-06 09:39] veloraven commented on #7878
@maxxis2112 thank you for you report.
I was able to reproduce this issue only partially.
Could you please specify:
* in the 'Actual result' - where exactly the currency symbol is not changed? (you can add a screenshot)
* was it single-store mode?

[2017-01-06 10:12] maxxis2112 commented on #7878
We are using single store mode yes. When setting to not be in single store
mode it accepts it.

On the front end the currency is shown as ZAR
We want it to show as R
So we change the custom currency symbol to R in admin side but it isnt
accepting it.

Johan

On Fri, Jan 6, 2017 at 11:39 AM, Olga Moyseyenko <notifications@github.com>
wrote:

[2017-01-06 10:40] maxxis2112 commented on #7878
Once you disable single store mode you can set the correct custom currency symbol and then switch the store back to single store mode it will keep the currency symbol

[2017-01-06 10:48] shavounet commented on #7710
I can confirm this bug : the new Theme is correctly set by \Magento\Catalog\Helper\Product\View::initProductLayout ; yet, only templates are changed and layout XML updates are ignored...

[2017-01-06 10:50] shavounet commented on #7503
See linked bug, I can reproduce this problem : the Theme is correctly applied in \Magento\Catalog\Helper\Product\View::initProductLayout, but only templates are changed, not layout XML updates...

[2017-01-06 10:52] jurgisl commented on #3754
Still a bug in CE 2.1.3.

[2017-01-06 10:57] shavounet commented on #7710
Also, I didn't manage to use my theme in the "Schedule a design update" in product form (outside of any category configuration...)

[2017-01-06 10:59] stephaun commented on #2411
Bummer you had to switch to apache (I prefer nginx) but glad it's working. If you're still interested post the nginx config. I struggled on that for a while and finally realized there were some subtle nuances hanging me up.
iirc, Magentos' installation wizard checks permissions, but is very rudimentary and doesn't check the webserver user (who would own the dynamically generated assets). I should

[2017-01-06 11:03] paales commented on #8006
Internal advise to customers is to move away from Webservicex and move to Yahoo finance/fixer.io.

[2017-01-06 11:04] Yonn-Trimoreau commented on #5876
Sorry @jarnail104, I don't have the import file neither the project anymore..

Try with 'configurable_variations' row formatted like this :

And set your multiple value separator to "##".

If you can't manage to make it work, send us a stack trace or an error code, or maybe your file and some details about how that's not working.

Good luck

[2017-01-06 11:12] cizgidekiadam opened #8061 "isPaymentMethodsAvailable is not defined"
After upgrading 2.1.2 to 2.1.3 with Web Setup Wizard, checkout payment page not working.

### Preconditions

1. Magento 2.1.3
2. PHP 7.0.11
3. Clean & flush all caches etc.

### Steps to reproduce

1. Add to cart an item
2. Go to checkout, fill shipping information
3. Click next, wait for payment methods

### Expected result

1. Payments method listed (there are 3 active payment methods)

### Actu

[2017-01-06 11:13] cscd98 commented on #3066
@victor-v-rad my development database does not have any orders in it due to PCI complaince. The sequence tables for stores > 1 are never created.

[2017-01-06 11:23] shavounet commented on #7710
I saw the line "Custom themes now inherit parent XML configuration information as expected." in [Magento's 2.1.3 release notes](http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.3CE.html#general-fixes), but after upgrading to 2.1.3 and cleaning every cache, it's still not working.

[2017-01-06 11:49] makarious10 commented on #4575
I'm also having this issue on Magento 2.1.3 and can't install any extensions from Marketplace. Is there a fix for this yet?

[2017-01-06 11:52] veloraven commented on #7967
We have created internal ticket MAGETWO-63011

[2017-01-06 12:19] veloraven commented on #8011
Internal ticket MAGETWO-63012

[2017-01-06 12:27] romeof1980 commented on #5421
hi there..
hi @andimov ... never mind
cloudflare... and my head in the clouds...
my fault.
was absolutely a cache-related issue (particularly to the CDN)

I forgot that beeing in multisite I was supposed to clear the CDN of the main website if I have got problem in the backend... what the helll.. I'd better be more careful.... wasted a lot of time... :)

thanks,
solved for me as CDN-cache related

[2017-01-06 13:04] vadariyanikunj commented on #6938
I face same problem on native Magento 2.1.3.

I post question on http://magento.stackexchange.com/ waiting for get answer to solve this issue.

Here is my question:
[http://magento.stackexchange.com/questions/153524/magento-2-exported-file-format-doesnt-work-for-configurable-variations-field](http://magento.stackexchange.com/questions/153524/magento-2-exported-file-format-doesnt-work-for-configura

[2017-01-06 13:11] srirammoorthyziffity commented on #7627
@veloraven I could see this bug exist in 2.0 as well please update.

[2017-01-06 13:52] alekseysavitsky commented on #5873
Magento 2.1.2 Address book show template without rendering data https://drive.google.com/file/d/0B047bW7Bz8_ddFdiVFo2QmRweVE/view?usp=drivesdk

eav_entity_type table
entity_type_id	entity_type_code	entity_model	attribute_model	entity_table	value_table_prefix	entity_id_field	is_data_sharing	data_sharing_key	default_attribute_set_id	increment_model	increment_per_store	increment_pad_length	increment_

[2017-01-06 14:48] chassotl-IFT commented on #6151
For the one who want it, I did a module, based on the solution of @ivankaranjac , which override the function of the original file : [mediafire.com](https://www.mediafire.com/?7cekok3xhw65pw4)
Put the "BugsFix" folder into "app/code".
**Note :** tested on Magento 2.1.3

[2017-01-06 15:17] Pakkapao commented on #8057
My mistake... This is not an issue anymore.

![2017-01-06_22-16-10](https://cloud.githubusercontent.com/assets/11070293/21722092/c3845822-d45d-11e6-89d6-8cb35a4f8ff3.png)

[2017-01-06 15:17] #8057 closed, assigned to nobody

[2017-01-06 15:51] mikosan42 opened #8063 "Category listings not working after upgrade to magento 2.1.3"
After upgrading from m2.1.1 to m2.1.3 the category pages, which are accessible [shop-url]/[categoryname].html are empty.

### Preconditions

1. m2.1.1 had theme SM_market v2.3.0 installed; m2.1.3 SM_market v2.5.2
2. Products and Cetegories were defined and produced expected results (listing)

### Steps to reproduce

1. Go to https://devl.kouki.ch
2. Under "Kategorien" select "Wäschetransport" -->

[2017-01-06 16:02] will-b opened #8064 "Able to save attributes with null for attribute_code"
### Preconditions

1. Magento version 2.1.3

### Steps to reproduce

1. Create a setup script,
2. Add a new EAV attribute with a null for the attribute code
[code]
3. Run setup

### Expected result

1. I expected that the attribute will not be created, and I expect to see and error or to have an error logged.
2. I expect the database column `attribute_code` to not allow null values
### Actual resu

[2017-01-06 16:44] maksek commented on #5627
@converge can you share what exactly broken in your shopping process? I see there are two issues described:
1. verbose output for layout, which is not affecting function of Magento.
2. domain name is required with dot, as described in the Alan's post.

[2017-01-06 16:50] shavounet commented on #7710
I may have fixed it in my codebase... I used a before plugin on the execute method of catalog/product/view controller. The idea is to set the code bellow as soon as possible (from \Magento\Catalog\Helper\Product\View::initProductLayout).
[code]

The bug is due to the layout being loaded before the custom design is set. It happens twice :
- vendor/magento/module-catalog/Controller/Product/View.php:

[2017-01-06 18:24] markus2810 opened #8065 "media not restored from db when accessing images directly"
### Preconditions

1. Setup media files to be stored in a Database
2. Press Synchronize and wait
3. Check if media db storage is working by uploading a file from wysiwyg editor e.g. home.jpg and add it to a page

### Steps to reproduce

1. Delete the file pub/media/wysiwyg/home.jpg
2. File is not displayed on the page anymore (verified that file exists in database
3. domain.com/pub/media/wysiwyg/h

[2017-01-06 19:00] cgaubuchon commented on #4430
@cowmix88 @rey8a @gamort Are you installed using Composer or another method? Reason I ask is that without modifying the vendor folder directly, we cannot seem to override the protected `doReplace` function. Can you provide some more detail how you implemented this hack? I have a ticket open with the Enterprise team who is looking into it but not really getting anywhere.

[2017-01-06 19:12] TClilMouse commented on #4549
Confirmed issue in 2.1.3

[2017-01-06 19:15] jmsalomr commented on #5247
Same problem for me in a fresh install of magento CE 2.1.3. I'm using nginx.
I'm using sample nginx config that comes with the installation.

Anybody knows how to fix that?

[2017-01-06 19:34] converge commented on #5627
@maksek sorry, I had to delete all my m2 project and start again in m1.9 , dont have the project anymore.

[2017-01-06 19:47] #6335 closed, assigned to tkacheva

[2017-01-06 19:47] joshspivey commented on #4695
Just noticed that the load method is using zend framework so that parse huge usage wont work... Working on figuring the zend way of doing this. I have a 25mb xml file due to extra fields being added to products on the migration. The 10mb limit is definitely the issue.

[2017-01-06 20:11] iwdjoe commented on #6977
We do receive same issue with Magento 2.1.0 Enterprise version.
Once we switched gift card to "virtual", we've started getting issues with checkout via PayPal Express and duplicated invoice ID.

[2017-01-06 20:42] JoshuaSoileau commented on #7214
hey @sam-g-roberts I am getting this same thing, how did you resolve it?

[2017-01-06 21:12] erikhansen commented on #7430
@SerhiyShkolyarenko Can you provide a commit hash for MAGETWO-61912?

[2017-01-06 21:21] piotrekkaminski commented on #8040
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2017-01-06 21:21] #8040 closed, assigned to nobody

[2017-01-06 22:03] linyusuomi commented on #7826
Yep, got same issue, delimiter for additonal_images is hardcoded => coma. but getImagesFromRow(array $rowData) using $this->getMultipleValueSeparator().

[2017-01-06 22:12] ntoombs19 opened #8066 "Orders submitted on a multi-store environment from the Admin do not use the store-specific "Order Email Address" for order confermation emails."
### Preconditions

1. Magento 2.1.3

### Steps to reproduce
My client has a multi-store environment with three stores in total
- ShowMeCables (default)
- TriangleCables
- ECoreCables

For my example demoing the bug, I will submit an order using the ECoreCables store scope. First, to verify that everything is correct with the configuration, here are screenshots for all configuration fields that aff

[2017-01-06 22:36] santoshkverma212 commented on #8033
thanks

[2017-01-06 23:00] Jrb1x opened #8067 "Caching enabled causes 404 on base and small images"
### Preconditions

1. Magento 2.1
2. CentOS
3. PHP 7
4. MySQL 5.6

### Steps to reproduce
1. Make all templates in catalog_product_view as `cacheable="false"`

### Expected result
1. Base image should show as the product image in the gallery.

### Actual result
1. Only the thumbnail is shown.

Turning off caching in `catalog_product_view` and the base image shows again and no 404's.

[2017-01-06 23:01] erfanimani commented on #8063
Needs more info or there's an issue with the theme you're using. 2.1.3 category pages work fine on default Magento here.

[2017-01-06 23:07] choukalos commented on #7997
Hi @RishabhRkRai ; currently with configurable products and as we did in Magento 1.x we use the tax class of the meta product (not the underlying simple products).

What country are you in?

Can you provide some insight/examples of where a configurable product's selection would have different tax classes?  I'm aware of some situations where goods (such as clothing) below a certain price isn't taxe

[2017-01-07 01:18] joshspivey commented on #4695
that error is coming from appendXML not loadXML so I cant use that constant.

In the actual extension on the server its coming from parse cdata method.

I am not sure why its not getting the constant from the loader. Any other ideas of where or how to pass that in to make it compatible with appendXML?

xmlParseCDSect(xmlParserCtxtPtr ctxt) {
    xmlChar *buf = NULL;
    int len = 0;
    int size =

[2017-01-07 01:32] mrkhoa99 commented on #8061
@rbostan Did you try with Incognito Browser Mode? Try to get the Local Storage: `localStorage.getItem('mage-cache-storage')` to check the available payment methods.

[2017-01-07 01:38] cizgidekiadam commented on #8061
@mrkhoa99 Tried everything (Incognito mode, deleting all cookies, storages etc).
Even new installed OS/browser 😃

It happened suddenly.
I were working on cache mechanisms (varnish, redis, raw etc ..) and bumm!

Revert back to 2.1.2. Everything is ok for me now.
I will look it deeper later.

[2017-01-07 01:39] joshspivey commented on #7658
Ok so I narrowed the issue down to having over a certain QTY of orders and extra attributes in the order grid. Its a lib limitation with libxml2 which you should be able to get past with the constant  "LIBXML_PARSEHUGE" by default it has a 10mb limit but parse huge is supposed to allow it to go to 128. I printed the xml to a txt file and it was 25mb.

So line 37 on Template.php doesnt seem to affe

[2017-01-07 01:54] PaperDS commented on #6335
Way to go. Let's just close this issue.
Where can us users get some clarification on what's going on?

[2017-01-07 01:58] muhupower commented on #6929
Thanks hocomadvies, I tried editing the table to make it look similar to above this.

![493d537e-9aed-11e6-9fa2-54ec68fbd6c4](https://cloud.githubusercontent.com/assets/16637919/21738432/c29a4756-d452-11e6-884d-a7335b5eacb0.png)

but I am getting an error

<img width="622" alt="screenshot 2017-01-06 20 55 18" src="https://cloud.githubusercontent.com/assets/16637919/21738440/d97d59a4-d452-11e6-8c62

[2017-01-07 02:42] jpratt commented on #8036
Same issue happening to me as well. Running an upgrade and once complete, no output from command line. Have tried to clearing var/di and var/generation, and running setup:di:compile. Still get nothing. Also running setup:upgrade -vvv still shows no output.

[2017-01-07 05:09] bondimedical3 commented on #8007
Can you tell me which version of Chrome you used?

[2017-01-07 07:35] malikt commented on #8036
I managed to resolve it, My server has both `php 5 `and` php 7` installed,I need php 5 for other sites and by default php 5 was in action, in M2's 2.0.5 it was ok but in latest v2.1.2, php 7 was required, so i had to put the complete path of php7 to get these commands work, e.g.
`/wamp64/bin/php/php7.0.10/php bin/magento setup:upgrade`
for now its fine for me but to shorten this php7 path, i will

[2017-01-07 07:50] jpratt commented on #8036
@malikt I checked that as well. I have 5.6.27 running in CLI. And the docs here say it should work with php 5.6.5+ http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-tech.html

[2017-01-07 07:57] malikt commented on #8036
were you facing the issue exactly the screenshot i shared above? If yes, try to add complete path of php5.6.27 in commands.

[2017-01-07 09:56] devdesco-ceo commented on #5967
Hi @Nerogee,
I can confirm that i18n.js gets broken by being concatenated/minified even if JS Minification is turned off. I went through the minified code and the lines in the end of both `adminhtml` and `frontend` side i18n.js must be replaced as follows (either manually, or by another method like Nginx substitute for a temporary fix):

BEFORE:

`            if (inlineTranslation) {

[2017-01-07 10:47] childerico commented on #8061
I don't know if this information may be useful or is related to this issue at least. I am trying to configure accepted payment methods on 2.1.3, but the Checkout page is simply "ignoring" my configuration. It displays the Check/Money order method (which I disabled) and does not display the methods I enabled. (I have already flushed Magento cache, deleted preprocessed views, changed theme, switched

[2017-01-07 11:40] maxbucknell commented on #7994
It seems like it's failing to find the file `css/source/lib/_lib.less` in your compilation path. Please verify that the file `lib/web/css/source/lib/_lib.less` exists in your installation, and please let me know the output of the command `find var/view_preprocessed -name _lib.less`.

[2017-01-07 12:17] andidhouse commented on #7994
Hi,

output is:

root@euve103495:/var/www/html/magento2# find var/view_preprocessed -name _lib.less
var/view_preprocessed/css/adminhtml/Magento/backend/en_US/css/source/lib/_lib.less
var/view_preprocessed/css/adminhtml/Magento/backend/de_DE/css/source/lib/_lib.less
var/view_preprocessed/css/frontend/Company/theme/de_DE/css/source/lib/_lib.less

lib/web/css/source/lib/_lib.less

![screen](https://c

[2017-01-07 12:33] andidhouse commented on #7994
@maxbucknell the files are there right?

[2017-01-07 12:44] maxbucknell commented on #7994
@andidhouse And your output is identical to that of @GlobalOutsourcing ? Or are you receiving different output when you run it, as per #7813?

[2017-01-07 14:57] justsign opened #8068 "domain .shop not accepted"
I try to add some default email addresse to magento 2 and get a error on general contact (all contats ) "Please correct the email address: 'rob@justsign.shop'".
I install magento 2 on my domain https://www.justsign.shop

Please some advice how to fix this error
![schermafbeelding 2017-01-07 om 15 51 40](https://cloud.githubusercontent.com/assets/10490535/21742578/0dc0d1f6-d4f2-11e6-81c5-e3945a0f87

[2017-01-07 16:47] rey8a commented on #4430
Hi @cgaubuchon, I edited the /vendor/magento/module-url-rewrite/Model/Storage/DbStorage.php

Probably not the best practice editing M2 core files but this seemed to do the trick.

[2017-01-07 16:56] cmuench commented on #8043
Wow. What a title. And no description.

[2017-01-07 17:16] amanuni commented on #8061
Same problem coming with me have tried with deleting cache and Incognito browser but not resolved i have upgraded from 2.1.2 to 2.1.3

[2017-01-07 18:16] mrtuvn commented on #7215
Current 2.1.3 i got same problem like this. Catalog Edit not work. Cms Page work

[2017-01-07 18:35] erikhansen commented on #7399
We created a workaround for this issue in a custom theme using a RequireJS mixin by adding the following files:

### `app/design/frontend/<VENDOR>/<THEME>/Magento_Ui/web/js/model/modal-mixin.js`

[code]

### `app/design/frontend/<VENDOR>/<THEME>/requirejs-config.js`

[code]

See this great article by Alan Storm for info on M2's RequireJS Mixins: http://alanstorm.com/the-curious-case-of-magento-2-m

[2017-01-07 18:36] erikhansen commented on #7460
@ntoombs19 Can you close your ticket since it's a duplicate of #7399? I posted a workaround for this issue on #7399.

[2017-01-07 18:47] BarnyShergold opened #8069 "Saving Category with existing image causes an exception"
### Preconditions
Using custom Ubuntu xenial vagrant-box, php7, apache

Have latest stable release of Magento 2.1.3 installed.
No 3rd part modules installed
Steps to reproduce

### Steps to reproduce
1. Create a new category an add an image
2. Clear logs
3. Edit category and save, without change any attributes

### Expected result
1. Category should save
2. No errors in log

### Actual result
1. C

[2017-01-07 20:58] GlobalOutsourcing commented on #7994
@andidhouse @maxbucknell Just informing you that I gave up on it and reinstalled Magento 2.1.3 for the 14th time as each time, different issues occur :( I have spent Around $6000 on extensions, customization etc. and it is a shame that it is this difficult to have a store running on Magento 2 without issues.

I honestly wish I listened to the few that advised not to migrate to Magento 2 last year

[2017-01-07 21:57] acharrex commented on #6335
@maksek : Please reopen this ticket!
We have the right to get some clarification!

[2017-01-07 22:03] acharrex commented on #6335
https://community.magento.com/t5/Just-Ask-Alan/Alan-When-will-there-be-a-really-stable-version-of-Magento2/m-p/56617#U56617

[2017-01-07 23:57] maxbucknell opened #8070 "Many dependencies are out of date"
### Preconditions

For example, today I was trying to compile static assets on an Alpine Linux Docker container. I was unable to, because there is a bug in `zendframework/zend-stdlib` around usage of the `GLOB_BRACE` constant, which may or may not be defined depending on the environment, and isn't defined in Alpine Linux.

### Environment Details

Using an Alpine Linux PHP Docker container, with t

[2017-01-08 00:37] SouthRibbleTech commented on #4929
I am getting the same problem.

Installation stops at 73%

12GB RAM
Dedicated Server
Software Raid 6 4 x 1.5TB Disks
Debian 8, Apache2, PHP5.6, MySQL 5.7

PHP Modified as above.

Not funny anymore, I have sat here now 3 times each time for 10 minutes only for it to crash.

[2017-01-08 02:10] mrkhoa99 commented on #3541
A temporary solution:

Go to this file: `vendor/magento/framework/View/Element/Html/Calendar.php` line ~65

Replace:

`$localeData = (new DataBundle())->get($this->_localeResolver->getLocale());`
With:

`$localeData = (new DataBundle())->get('en_US');`

[2017-01-08 03:01] ghost commented on #6335
Seems they are closing out the same community they use to use as a sale point for the platform.

[2017-01-08 03:26] degaray commented on #4177
I have the same issue.

[2017-01-08 06:07] hubaig commented on #4929
If you read above, I had the same problem. For me it turned out to be file permission problems. Make sure your permissions are set properly.

[2017-01-08 09:16] osmansorkar opened #8071 "Fatal error: Uncaught TypeError: Argument 1 passed after php bin/magento setup:di:compile run"
Hi,
I am create a magento 2 module with a event. It working good before compile run php bin/magento setup:di:compile on production mode. If I deleted di directory from var directory It work good.
### Preconditions
1.Magento 2.1.1
2.PHP-7.0.12
3.Server: NGINX
4.Ubuntu 16.4
5.MYSQL -5.6

### Steps to reproduce
1.  Create a Module name with one number like- Options2Attribute.
2. Create a Event Observ

[2017-01-08 09:19] hostep commented on #8068
This has been reported multiple times, please first try searching for an issue before creating a new one :)

All of those issues are getting linked into this one: https://github.com/magento/magento2/issues/4547

[2017-01-08 09:38] SouthRibbleTech commented on #4929
@hubaig I can't see anything above relating to permissions. Can you be more specific, or post a link to the permissions issue. Thanks

[2017-01-08 12:06] justsign commented on #4547
When will there be a solution?
I need a email in justsign.shop

[2017-01-08 12:08] justsign commented on #8068
Thanks for your answer. I din't find it.
But is there a solution for it?

[2017-01-08 14:47] kandy commented on #7938
FYI, This issue is already resolved in mainline. See MAGETWO-59555(bd9e1c8c99bb575fa689128c198e9604c80ec76d) for reference

[2017-01-08 15:04] mustdobetter commented on #5775
Apologies for the belated reply. To clarify, I am not talking about the limiting of shipping or payment methods via country. I am talking about the control and limitation of the shipping address country list within the checkout, separate to the billing address. Although I understand you can limit the shipping methods based on country, it is still not desirable to allow the customer to view and be

[2017-01-08 17:35] rdiazc commented on #6261
To the official support team of Magento: any idea of when this bug will be fixed?

[2017-01-08 21:05] #7217 closed, assigned to nobody

[2017-01-08 22:32] #7969 closed, assigned to nobody

[2017-01-08 22:47] CreamyG31337 commented on #2139
This needs to be re-opened. There has to be a suggestion to log in or create an account. "Guest checkout is disabled" is a stupid message to display to a user.

[2017-01-09 00:38] CreamyG31337 commented on #4547
for a workaround I just put changeme.com for the domain, then used phpmyadmin to find and change those rows in the db table 'core_config_data'. it sends fine, but you won't be able to make further changes using the web interface to the e-mail related stuff since the validation is still active there.

[2017-01-09 02:24] flipflap commented on #6310
I don't know exactly how to do it with a DB query. I think it should be a part of "update attributes". Other user may also need it.

[2017-01-09 04:27] ousmanedev commented on #6119
Any update on this, please ?

[2017-01-09 06:55] zchking commented on #4506
yes, client cache is a way to make it load faster, but the js file should not so large.

[2017-01-09 07:15] zchking opened #8072 "the whole form input become disable in Configuration >ADVANCED>Developer after modify the Workflow type"
### Preconditions

1. Ubuntu 16.04
2. Magento 2.1.3 php7.0-fpm

### Steps to reproduce

1.  Set the Workflow type to 'client_side_compilation' on  Configuration>ADVANCED>Developer
2.  set the mode to production `bin/magento deploy:mode:set production  `

### Expected result

1. All should normal as it said

### Actual result

1. js and css show 404 in frontend.
![image](https://cloud.githubusercon

[2017-01-09 07:27] zchking commented on #8072
then I change the mode back to developer. `bin/magento deploy:mode:set developer`

1. the frontend work normal now, but it have both merged css and normal css file.
![image](https://cloud.githubusercontent.com/assets/5665818/21759404/f99bf366-d67e-11e6-92b3-cf1025915f3b.png)

2. **the backend** can't chang any input on Configuration >ADVANCED>Developer, all disabled. and I use the administrator ac

[2017-01-09 08:04] surfer190 commented on #5897
@hostep Where are we on this issue? What do we need to do for an interim fix?

[2017-01-09 08:06] giacmir commented on #7232
As a workaround I removed the "required" flag from all attributes not in default set. But it is obviously suboptimal.

[2017-01-09 08:10] ghost commented on #5105
Hi,

Btw - The problem is the Magento\Sales\Block\Order\Email\Items\Order\DefaultOrder::getItemPrice() method.

    public function getItemPrice(OrderItem $item)
    {
        $block = $this->getLayout()->getBlock('item_price');
        $block->setItem($item);
        return $block->toHtml();
    }

 If you take off the Type hint OrderItem $item for the argument and just have:

    public function

[2017-01-09 08:13] ghost commented on #5105
Also this is in magento 2.1.12 as well

[2017-01-09 08:29] antbates91 commented on #8033
I can also confirm this is an issue on Magento CE 2.1.1, 2.1.2 and 2.1.3.

Using @vpiyappan steps to reproduce

1. Open Magento 2 website in IE Browser. Add product to cart.
2. Navigate to Cart page.
3. Loader image will keep on spinning.

I get the same error `Object doesn't support this action`.
The error happens on the window's dispatch event.
[code]

[2017-01-09 08:32] mrdevries commented on #8063
We're in de midst of debugging something like this with a multi-store with 15 websites. We found out that some (most) products don't have their prices indexed in `catalog_product_index_price`.

Can you check by running ``SELECT * FROM `catalog_product_index_price` WHERE `customer_group_id` = 0 AND `website_id` = 1;`` on your database? If all your products are in a category this should return the s

[2017-01-09 08:38] quienti commented on #8033
Duplicate https://github.com/magento/magento2/issues/7051

[2017-01-09 08:45] antbates91 commented on #8033
I believe this is the fix for the issue here. https://github.com/magento/magento2/commit/f3d7952805c7b5adc9b47c4d979c49e547a0772e

[2017-01-09 09:18] bh-ref commented on #4695
I tried to raise the limit for appendXML() back then as well. Without success, too. Maybe you can create a copy of your database, delete half of the products, check, and if the problem still exist, create another copy and delete the other half of the products. If one half of the products produces the error, continue to half the products further until you manage to find the product which produces t

[2017-01-09 09:25] Danielc3 opened #8073 "Stock item save after event not firing"
### Preconditions
Magento v.2.1.2

### Steps to reproduce
1. Create an observer for the event cataloginventory_stock_item_save_after.
2. Place breakpoint within observer and trigger saving of a stock item.

### Expected result
1. Xdebug gets into observer.

### Actual result
1. It does not. This is due to an incorrectly named $eventPrefix variable in \Magento\CatalogInventory\Model\Stock\Item. In

[2017-01-09 09:38] mikosan42 commented on #8063
Nope - prices are not null (see attached output).

Update: if I create a separate page, using a widget like this:

{{widget type="Magento\CatalogWidget\Block\Product\ProductsList" title="Products" products_count="200" template="product/widget/content/grid.phtml" conditions_encoded="a:1:[i:1;a:4:[s:4:`type`;s:50:`Magento|CatalogWidget|Model|Rule|Condition|Combine`;s:10:`aggregator`;s:3:`all`;s:5:`v

[2017-01-09 09:45] cscd98 opened #8074 "PCI Compliance - 2 factor authentication?"
Any plans to add 2 factor authentication to the Magento 2 Admin panel?

[2017-01-09 10:09] kanduvisla commented on #7401
@Tristan-N @spyrule it's already in my answer. Add the line to (adminhtml) `di.xml` and put the PHP code in the file specified there (in my example it's `Vendor\Module\Ui\DataProvider\Product\Form\Modifier\Quantity`). Just be sure to include `\Magento\Framework\Stdlib\ArrayManager` as a dependency.

[2017-01-09 10:10] vpiyappan commented on #8033
@antbates1991

Thank you very much your solutions works fine, much appreciated.

You saved my day.

[2017-01-09 10:10] #8033 closed, assigned to nobody

[2017-01-09 11:47] sinharitu commented on #3373
My question here: it works ok for shipping address, but how can the same be done for billing address, in the next step? In the payment step, when you uncheck the checkbox 'billing address is the same as shipping address' and add a new address, the company field is still available! Any suggestions?

[2017-01-09 11:50] chicgeek commented on #3373
@sinharitu : Should be the same method, but with `shippingAddress` and `shipping-step` updated appropriately. Check the core XML to make sure you have the correct ids for this.

[2017-01-09 12:13] sinharitu commented on #3373
Tried but did not work. So, was wondering if there is anything specific about this!

[2017-01-09 12:29] mhauri commented on #4232
@piotrekkaminski Still present in 2.1.3, why wasn't this merged from develop into 2.1.3?

[2017-01-09 13:06] heldchen commented on #8026
duplicate of #6403

[2017-01-09 13:13] geon commented on #4952
It is *not* fixed in 2.1.3.

It appears to have been fixed in 4d1c7e8e4d06a93333503598174ee534e9837614 , but I can't try it atm.

[2017-01-09 14:04] sjauck opened #8075 "Payment Module with redirect to external Payment Page do not redirect"
I write a payment module to use a Payment provider with external Login and Pay Page. The code set the redirect URL in Redirect Controller. With Xdebug i see the Redirect URL is insert in response correctly but in FrontController suddenly the URL in response is overwritten with the success url.

### Preconditions

1. Magento 2.1.X
2. PHP 7

### Expected result
1. In checkout customer choose Payment

[2017-01-09 14:14] deriknel opened #8076 "Currency Setup in admin throws in_array error when a single value is selected"
### Preconditions
1. Magento ver. 2.1.3
2. Ubuntu 16.04
3. PHP 7.0.8-0ubuntu0.16.04.3 ( NTS )
4. MySQL Ver 15.1 Distrib 10.0.28-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2

### Steps to reproduce
1. In admin navigate to configuration
2. General -> Currency Setup
3. Select a single value in the multiple selects
4. Click on save

### Expected result
1. Currency values should update as

[2017-01-09 14:37] RUjmiak commented on #2991
@degaray @SerhiyShkolyarenko
This bug is still in 2.1.3. For products which are in stock prices are calculating, but for products which are on backorder price is 0

1. Magento 2.1.3
2. REST API login to get bearer token
3. REST API create cart
4. Add backorder product to cart
5. get carts/mine/totals

{
  "grand_total": 0,
  "weee_tax_applied_amount": null,
  "base_currency_code": "EUR",
  "quote_

[2017-01-09 15:17] #5771 closed, assigned to nobody

[2017-01-09 15:20] kunzi opened #8078 "Default store view in backend to be different than in frontend"
We have a shop that is aimed at German markets and we need the shop to have the default language set as German so that when customers come to the store they are shown the German version of the shop.

For our staff it's however important to have the product list in admin to be in English so that they can manage the products efficiently. For this we have created an English store view just for produc

[2017-01-09 15:40] gabs77 commented on #8054
same thing for me since 2.0
See Ticket #2913

[2017-01-09 16:04] gabs77 commented on #2913
Please, someone know the patch or the commit about that ?

[2017-01-09 16:16] slackerzz commented on #7231
any news here?

[2017-01-09 16:32] mam08ixo commented on #4492
I experienced a similar issue on CE 2.1.2 but it's not limited to fresh installations or the price rules section. Actually **every download action** in admin panel is affected after login.

During login, a `is_first_visit` [session storage flag is set](https://github.com/magento/magento2/blob/2.1.3/app/code/Magento/Backend/Model/Auth/Session.php#L220). On subsequent page loads, this flag is never

[2017-01-09 16:34] paulespino commented on #6631
Just to add to this issue:

I had the same problem as above. What I noticed is that IF ANY OF THESE FIELDS ARE EMPTY, the bug will show up. So make sure that ALL THE FIELDS have a "{{title}}" or "{{sku}}".

![screen shot 2017-01-09 at 9 32 27 am](https://cloud.githubusercontent.com/assets/271239/21774176/eefd8ce2-d64e-11e6-98eb-4703dbce8881.png)

[2017-01-09 16:44] antonkril commented on #8070
We're reviewing our development process now. And I agree that we need a formal procedure for dependency update.