[2018-03-19 14:44] mzeis commented on #10146
I can reproduce this on Commerce Edition 2.2.3 with PHPUnit 6.2.0.

[2018-03-19 14:47] Szpadyzor commented on #6803
I will tell you why, because @eduard-kistner never test my implementation, you wrote:
"The mentioned code will IMO not work"
I will not show you the whole code because it is property of my client.
Did you @eduard-kistner ever debug addImage method? Did you ever try to understand this exception? Do you know why it works from admin panel?

There is said:
`Notice: Undefined index: media_type in /var/

[2018-03-19 14:50] chonny commented on #7215
Any workarounds ?

[2018-03-19 14:58] lbajsarowicz opened #14181 "AttributeRepository does not execute _afterSave() on Attribute resource model"
### Preconditions

1. Magento 2.2.3
2. PHP 7.1

### Steps to reproduce

1. Create Customer EAV attribute (with `system => 0` and `user_defined => 0` attributes) using `\Magento\Customer\Setup\CustomerSetup->addAttribute()`
2. Get Customer EAV attribute with `\Magento\Eav\Model\AttributeRepository->get()`
3. Set `$attribute->setData('used_in_forms', ['adminhtml_customer']);`
4. Execute `$repository

[2018-03-19 15:02] eduard-kistner commented on #6803
@Szpadyzor
Did you ever read my post or tried my module?
Don't know why we always need 50 repos and 100 workarounds ( which mostly don't work or have incomplete examples ).

The mentioned module is long time on min. one Live instance and others also use it.

From now on i will simply ignore you till you have constructive informations.

[2018-03-19 15:04] #12720 closed, assigned to nobody

[2018-03-19 15:06] #12709 closed, assigned to nobody

[2018-03-19 15:07] magento-engcom-team commented on #12939
Hi again, @jonathan-martz. So in the last post we showed You that on the website You gave us to watch the issue reproduced everything worked correctly as for sorting by 'name'  when we tried to reproduce it.  It concerned both shifting to sorting by name from something else and changing the sort order by clicking on the up and down arrow. Though the following will not concern this ticket directly,

[2018-03-19 15:11] okorshenko commented on #5998
Hi @dmanners @tdgroot
Thank you for your collaboration. Closing the issue

[2018-03-19 15:11] #5998 closed, assigned to nobody

[2018-03-19 15:11] #13938 closed, assigned to nobody

[2018-03-19 15:12] magento-engcom-team commented on #13938
@virus2ever, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-19 15:18] okorshenko commented on #6751
Confirmed from the PO side. Request is valid

[2018-03-19 15:18] lbajsarowicz commented on #14181
Discussed the issue with @Vinai and he recommended to inject with Dependency Injection the Attribute ResourceModel and then use `$resourceModel->save($attribute)`.

This works fine, but I'm not sure about this approach, because IMHO I should not use *Resource Model* to save `used_in_forms` especially when it's implemented in Magento as `_afterSave` for Attribute Resource Model.

[2018-03-19 15:30] magento-engcom-team commented on #14134
@gagan67commerce, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-19 15:50] mslabko commented on #14166
Hi @Grohotun ,
Did you run `php bin/magento setup:performance:generate-fixtures setup/performance-toolkit/profiles/ce/small.xml` berfore run benchmark?

Provided benchmark.jmx assumes, that you have some data for benchmarking.

Additional info can be found in documentation: https://github.com/magento/magento2/tree/2.2.3/setup/performance-toolkit

[2018-03-19 16:04] Grohotun commented on #14166
Yes, products were generated via performance toolkit

[2018-03-19 16:18] farbewerk commented on #8084
I am on 2.2.3 and am still receiving this error when trying to display a configurable product with 10300 or so associated products. I have tried peterjaap's extension but that resulted in 500 errors. Could just but sparse server resources but wanted to check and see if anyone had a different solution. Thanks in advance.

[2018-03-19 16:23] Szpadyzor commented on #6803
@eduard-kistner
You can ignore my answers but i will warn others developers to do not use your module.
Do you know why? Because you overwrite magento core files. It is not acceptable to do it, and you know why @eduard-kistner ? Because if i have modules that create `plugins` (Do you know what it is?) after, before and around method save from `ProductRepository` they will stop works. I dont even wa

[2018-03-19 16:51] davidverholen commented on #13902
having the same problem in 2.1.11 since the carrier code is just determined by exploding the shipping method with '_'. For every shipping carrier containing an underscore the checkout does not work anymore

see: https://github.com/magento/magento2/blob/2.1-develop/app/code/Magento/Checkout/Model/PaymentInformationManagement.php#L124

For 2.1 this was introduced in the update from 2.1.10 to 2.1.11

[2018-03-19 17:02] miguelbalparda commented on #11002
A part of this issue is going to be fixed by #12805 and it's being worked as we speak. Feel free to test the patch and comment on the PR.
Thanks for the help @ericvhileman, is there any plan to move the fixes to the core instead of a separated module?

[2018-03-19 17:49] gnuzealot commented on #11002
@miguelbalparda it could be folded into the core, but the extension replaces the cron functionality entirely so would probably need to have the core team approve the undertaking before trying

there's also a few linux specific points of new functionality that would need to be addressed so the 5 or so people running m2 on windows could still have functioning crons

[2018-03-19 18:58] okorshenko commented on #12889
Hi @tig-dennisvanderhammen
the issue has been fixed in 2.2-develop branch

[2018-03-19 18:59] hostep commented on #7215
Can someone who still runs into these problems try to reproduce this on a **clean** Magento installation (preferably using the latest versions, so version 2.1.12 and 2.2.3 at the time of writing), since I'm pretty sure this first got fixed in 2.1.8, broken again in 2.1.9 and then fixed again in 2.1.11 and also fixed in 2.2.1 or 2.2.2, but if you can reproduce this on a clean installation feel free

[2018-03-20 01:55] magento-engcom-team commented on #5463
Hi @maderlock. Thank you for your report.
The issue has been fixed in magento/magento2#13886 by @k4emic in 2.1-develop branch
Related commit(s):
 - [86dd6ecf16199fed13ab030e9794160dd3a37f2e](https://github.com/magento/magento2/commit/86dd6ecf16199fed13ab030e9794160dd3a37f2e)

The fix will be available with the upcoming 2.1.14 release.

[2018-03-20 01:55] Vikram0811 commented on #9646
This issue still exist - https://github.com/magento/magento2/issues/14171

[2018-03-20 04:30] mikeguy opened #14187 "Warning: array_replace_recursive(): Argument #1 is not an array in /home/pl aysports/public_html/magento2/vendor/magento/framework/App/DeploymentConfig /Writer.php on line 135"
1. PHP 7.1
2. Magneto 2.2.3
4. MYSQL 5.6.38

### Steps to reproduce

1. ` magento module:disable Dotdigitalgroup_Email`
2. `magento setup:di:compile`
3.

### Expected result
1. Able to compile and get the store running again

### Actual result
[code]
![image](https://user-images.githubusercontent.com/12158143/37635985-7e561774-2bd5-11e8-80f7-da21f3755fc7.png)

[2018-03-20 05:26] storepeinture commented on #5272
I am experiencing the same issue after upgrading to Magento 2.2.3. After pressing "flush static files cache" even the admin backend styles are completely wiped out.

[2018-03-20 06:45] sergei-sss commented on #14155
I suppose the problem was in the temporary installed sample data on the test host.
`bin/magento sampledata:deploy`
`bin/magento sampledata:remove`

Without this commands the tax rates generation was successfully completed (with enabled xdebug).
It seems, the magento doesn't fully clean sample data. You can check it and mark it as a bug or close this ticket.

[2018-03-20 07:30] magento-engcom-team commented on #13556
Hi @LordHansolo. Thank you for your report.
The issue has been fixed in magento/magento2#14179 by @dimonovp in 2.3-develop branch
Related commit(s):
 - [ce6dd8572efc5802b5b9d9f2257b2dce30e8ff9d](https://github.com/magento/magento2/commit/ce6dd8572efc5802b5b9d9f2257b2dce30e8ff9d)
 - [a6dc79ac003855cda3df4f17d4645f0dd29373dd](https://github.com/magento/magento2/commit/a6dc79ac003855cda3df4f17d4645f0

[2018-03-20 07:30] magento-engcom-team commented on #13988
Hi @krzksz. Thank you for your report.
The issue has been fixed in magento/magento2#14180 by @mastiuhin-olexandr in 2.3-develop branch
Related commit(s):
 - [2f624a4852d0b0323b4ea88615859b3726f46da4](https://github.com/magento/magento2/commit/2f624a4852d0b0323b4ea88615859b3726f46da4)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-20 07:30] magento-engcom-team commented on #12711
Hi @alena-marchenko. Thank you for your report.
The issue has been fixed in magento/magento2#14177 by @dimonovp in 2.3-develop branch
Related commit(s):
 - [4147b53d52cbefa60028d693722facbf87f9c128](https://github.com/magento/magento2/commit/4147b53d52cbefa60028d693722facbf87f9c128)
 - [06104496d566917f5649208f0157245abea4a804](https://github.com/magento/magento2/commit/06104496d566917f5649208f015

[2018-03-20 07:30] magento-engcom-team commented on #13006
Hi @ramusadwika. Thank you for your report.
The issue has been fixed in magento/magento2#14174 by @dimonovp in 2.3-develop branch
Related commit(s):
 - [80887ac7db5a9c8c825debfe0a006ca7da4dca18](https://github.com/magento/magento2/commit/80887ac7db5a9c8c825debfe0a006ca7da4dca18)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-20 07:30] magento-engcom-team commented on #5463
Hi @maderlock. Thank you for your report.
The issue has been fixed in magento/magento2#13885 by @k4emic in 2.3-develop branch
Related commit(s):
 - [d537d56e440079a7db52419267d18220b23241e5](https://github.com/magento/magento2/commit/d537d56e440079a7db52419267d18220b23241e5)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-20 07:38] #13920 closed, assigned to nobody

[2018-03-20 07:38] magento-engcom-team commented on #13920
@youngblood10, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-20 08:09] navinbhudiya commented on #9646
This issue still exists in Magento 2.2.3

[2018-03-20 08:53] magento-engcom-team commented on #14187
@mikeguy ,please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.  Dotmailer is not core codbase funcionally

[2018-03-20 08:53] #14187 closed, assigned to nobody

[2018-03-20 09:31] orlangur commented on #14181
Hi @lbajsarowicz,

I don't see `setData` method in `\Magento\Eav\Api\Data\AttributeInterface`.

Please give more insight on expected result as what I see from implementation
[code]
it is quite universal while `\Magento\Eav\Model\ResourceModel\Entity\Attribute` is an abstract class used only in customer attribute.

[2018-03-20 09:50] mokadev commented on #13476
Any idea to fix this issue? Still present on 2.2.3

[2018-03-20 10:32] Vinai commented on #14181
My understanding is that the interfaces provide no way to set the `used_in_forms` property without violating the interface contract (i.e. calling a method that is not declared on the interface).
When calling a method that is not part of the interface, it creates an implicit dependency on a concrete implementation.
Implicit dependencies cause issues such as static code analysis not picking up the r

[2018-03-20 10:44] DKoctopus opened #14193 "How to get products by category id in magento 2.2.1 ?"
Hello, I am working in Magento 2.2.1, I am trying to get product-collection of a category by its category id. Every time when i use to call using this example...

https://magento.stackexchange.com/questions/125086/get-product-collection-by-category-id-on-phtml-file-magento2

I always get an error.

[2018-03-20 10:44] Tjitse-E commented on #11912
@joomi @hammockvienna any news about this error? I've got the same issue here.

[2018-03-20 11:10] pixiemediaweb commented on #4468
we had this issue too.  Quick solution is duplicate the widget phtml file, so you never have the same template loaded twice on the same page.

[2018-03-20 11:27] quisse commented on #1931
Still not backported to 2.1.*?

[2018-03-20 11:37] mikeguy commented on #14187
Ok , so this error code when I perform the compile has to do with the dotmailer? You have confirmed ?

[2018-03-20 11:38] shweta1234567 opened #14197 "create a partial shipment"
HI All,

I Want to create a partial shipment using rest API can someone help to find the JSON by which I can create the partial shipment.

[2018-03-20 11:45] attiquer commented on #7658
@peterjaap installed your module on Magento 2.2.3. Backend works fine now (whoopee) however, froontend gives following JS error in console:

Product image and options don't load (continuous loader gif).
Any thoughts ?

[2018-03-20 11:54] Lapinou42 commented on #13961
Hello guys,

I have exactly the same issue on Magento 2.2.3. Many hours trying to understand what's wrong.

[2018-03-20 12:15] allisonlawrencels opened #14202 "Category URL rewrite generation does not set nested categories reliably"
### Preconditions

1. Magento version 2.2.3

### Steps to reproduce

1. Create a category structure with categories to at least 3 levels (Root > Cat level 1 > Cat level 2 > Cat level 3). Create the level 2 AFTER the level 3, so its database ID is higher.
2. Change the URL of the Level 1 category, uncheck "Create Permanent Redirect for old URL" (it is easier to see the results this way)
3. See resu

[2018-03-20 12:41] saeohioalpha commented on #5845
I have the same issue. I ran the script above and get the file uploaded successfully. I also have all the permissions set. I recently updated from 2.1.8 to 2.1.12 and the issue persisted on both.

From what I can tell, the issue is, in my case, that I have a redirect for ?SID in my NGINX config, because magento annoyingly keeps adding it even when disabled in the URL and it keeps popping up on my

[2018-03-20 12:59] claudiusararu commented on #11113
We actually discovered that some ids were wrong in some 3rd party modules. Example: `Magento_Adminhtml::stores` instead of `Magento_Backend::stores`. We were able to fix the issues by correcting the ids in acl.xml of that specific 3rd party module.

[2018-03-20 13:00] tonytrinh206 opened #14206 "Free Shipping For Matching Items Only"
### Preconditions

1.  Magento 2.2.3
2. PHP 7.0

### Steps to reproduce

1. Enable Free Shipping Method and provide Minimum Order Amount as 9999999999 in Free Shipping method configuration
2. Create an "Free Shipping" product attribute and assign it to an attribute set.
3. Go to a product, let's call it product A and set product A to Free Shipping.
4. Go to Marketing => Cart Price Rules => Add New

[2018-03-20 13:03] peterjaap commented on #7658
@attiquer could you open an issue [here](https://github.com/elgentos/LargeConfigProducts/issues) ?

[2018-03-20 13:15] duckchip opened #14208 "Order of catalog images not respected on store view level"
I don't know whether this is a feature or a bug, it's a quite unpleasant effect, the order of the images in the gallery is not respected when a product is saved on storeview level.

### Preconditions

1. Magento 2.2.2

### Linked issues:
https://github.com/magento/community-features/issues/23
### Steps to reproduce

1. Go to product that has multiple images
2. set scope to all storeviews
3.  chang

[2018-03-20 13:59] 0m3r opened #14211 "js error - cannot call methods on priceBox prior to initialization;"
Not the first time I encounter this error
and it would not be bad to solve it correctly
Please help with this.

### Preconditions
1. magento 2.2.*
2.  Venustheme or Themaforest , ultimo, argento themes etc.

### Steps to reproduce
https://community.magento.com/t5/Technical-Issues/Error-cannot-call-methods-on-priceBox-prior-to-initialization/td-p/74527

https://bootsgrid.com/tag/magento-2-x-issues/

[2018-03-20 14:02] ashvinimarwal commented on #13207
Hi @aref-lazrek

Copy the currecny and numbers block from en.xml and paste it into the ar_SA.xml

[2018-03-20 14:27] maxxeh1 commented on #6831
Still experiencing in 2.2.3

[2018-03-20 14:39] siliconalchemy commented on #14038
This is a huge bug, as it essentially prevents accurate sync between Magento and other systems.  I've tried to work out where the bug is but the codebase is so complex it's not easy to find.
If anyone has any clues or workarounds it would be appreciated.

[2018-03-20 14:40] mslabko commented on #14166
Do you run benchmark.jmx or  benchmark_2015.jmx? Regarding "setupAndTearDownThread" in your example it looks like you use benchmark_2015.jmx.

Anyway could you please try to run a test with default paramters and 10 users for frontend pool:
frontendPoolUsers:

`jmeter -Jhost=xxxx -JfrontendPoolUsers=10 -t setup/performance-toolkit/benchmark.jmx`

After enable listener "View Results Tree" and run te

[2018-03-20 14:56] magento-engcom-team commented on #13959
@arijit-de , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-20 14:56] #13959 closed, assigned to nobody

[2018-03-20 14:56] mikeguy commented on #14018
@duytran21
Can you please help me with a bit more detail, I am running in the exact same error when I run magento setup:upgrade.
From your resolution I can't follow exactly how to fix my issue. Thank you.

[2018-03-20 15:11] magento-engcom-team commented on #14193
@DKoctopus ,
please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-03-20 15:11] #14193 closed, assigned to nobody

[2018-03-20 15:30] magento-engcom-team commented on #14193
@DKoctopus, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-20 15:37] Hoszi commented on #10821
I did another solution:
In Loader.php make a new function:

    private static function is_readable2($filename) {
        try {
            return is_readable($filename);
        } catch (Exception $ex) {
            return false;
        }
    }

and call this from isReadable function:

    public static function isReadable($filename)
    {
        if (self::is_readable2($filename)) {

[2018-03-20 16:40] cdiacon commented on #14147
found a workaround

[2018-03-20 16:40] #14147 closed, assigned to nobody

[2018-03-20 16:43] Vigneshmuthusamy commented on #12479
I'm facing the issue with EAV cache enabled as well as disabled in Magento 2.2.2. More than 4 months and still there is no fix for this.

[2018-03-20 16:53] rhino-corey commented on #5019
Why is this closed? The product import is still missing the video data option in 2.2.

[2018-03-20 17:01] kemexyz commented on #9497
Magento: 2.1.11
PHP: 7.0.28-0ubuntu0.16.04.1
OS: Ubuntu 16.04.4 LTS

Same issues on 2.1.11. From what I can tell this will not happen on all quotes.
This happening on a live site and is quite hard to test.

`if (!$quote->hasItems() || $quote->getHasError()) {
            $this->getResponse()->setStatusHeader(403, '1.1', 'Forbidden');
            throw new \Magento\Framework\Exception\LocalizedExce

[2018-03-20 17:03] blizzardengle commented on #5845
For people who keep stumbling on this issue I would recommend looking at [my answer on the Magento Stack Exchange website](https://magento.stackexchange.com/questions/127586/magento-2-can-not-upload-product-images/130229#130229). Most issue can be resolved by following those troubleshooting steps in Magento 2.1+ and Magento 2.2+ where a few new issue popped up now that PHP 7 is required.

@saeohio

[2018-03-20 17:06] orlangur commented on #14211
@0m3r can you reproduce it on a clean Magento installation? The link you posted suggests a fix in a third party module https://community.magento.com/t5/Technical-Issues/Error-cannot-call-methods-on-priceBox-prior-to-initialization/m-p/77613#M3189.

[2018-03-20 17:07] orlangur commented on #14197
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

[2018-03-20 17:07] #14197 closed, assigned to nobody

[2018-03-20 17:26] kemexyz commented on #13721
Magento: 2.1.11
PHP: 7.0.28-0ubuntu0.16.04.1
OS: Ubuntu 16.04.4 LTS

**Preconditions**
Magento Version 2.1.11 Community Version
PayPal Express Checkout Live Mode
**Steps to reproduce**
Add any product to cart
Go to checkout payment page
Choose PayPal
Click Pay with PayPal
Redirect to empty cart error message: "We can't initialize Express Checkout."

Same issues on 2.1.11. From what I can tell this

[2018-03-20 18:54] ragboyjr commented on #12428
Another solution is to just set the `require.onError` handler.

[code]

You just need to create a template and add it before everything in the `after.body.start` block.

[code]

The added benefit of this solution is that it'll catch any uncaught error during the requireJS process.

[2018-03-20 19:35] hostep commented on #6954
@magento-engcom-team: we can reproduce this on Magento 2.2.3 and 2.1.11.

There is however one crucial configuration missing in the initial post, you have to enable the following setting to be able to reproduce it:
Stores > Configuration > Sales > Sales Emails > General Settings > Asynchronous sending

Can you guys try to reproduce it with this config setting enabled? And then use the cronjobs to

[2018-03-20 19:41] saeohioalpha commented on #5845
Thanks, that post is where I started my troubleshooting. I had covered all those bases, and still nothing. Like I said the issue somehow was that the session id was still being added to the URL for the image upload. Not sure why, but once I removed the 301 redirect for /xxxx?SID to /xxxx the uploads started working. I will revisit once I upgrade to M2.2 and see if it still persists.

It is just od

[2018-03-20 21:03] terrybakshi commented on #13721
ok have you used minify Js, Css, HTML and any caching technology, like cloudflare or anything else.

[2018-03-20 21:52] lbajsarowicz commented on #14181
@orlangur After getting into the issue bit deeper, I can agree that for Data Install script I can use specific Model (Customer Attribute) to set `used_in_forms` attribute and then use injected Resource Model to save this property for this specific attribute.

Probably I overacted to use Interface instead of Resource Model directly.

On the other hand - `getResourceModel()` and `$attribute->save()`

[2018-03-20 22:31] OnePhilT commented on #4828
Thanks, @maqlec. I realised about the JavaScript minification issue when I subsequently followed other threads. I think this issue wasn't resolved in version 2.2.2, although I managed a workaround to avoid minifying TinyMCE JavaScript.

[2018-03-21 00:18] duytran21 commented on #14018
hi @mikeguy,
Did you check your **env.php** in app/etc/ yet? How does it look like? Can you post it ?
Usually we messed up with module installation somehow magento overwrite it with without any configuration. IMO you should check env.php first. Are you able to run php bin/magento in your terminal?

[2018-03-21 00:28] duytran21 commented on #14018
Here is my solution:
1. You need to completely remove that module file and folder from your system if that your custome module. Then let check in app/etc/config.php to see does it exist in the file if exist then remove that line.
2. Next step you should run php bin/magento setup:upgrade.
3. Check your env.php in app/etc/. if you don't see any configuration info such as db, admin, url ... that's me

[2018-03-21 00:31] duytran21 commented on #14018
yup that's mean it has wrong info. Here is sample:
copy it to env.php file and set the info match with your system.
<?php
return array (
  'backend' =>
  array (
    'frontName' => 'admin_abc',
  ),
  'crypt' =>
  array (
    'key' => '1e78289eec442c6b6afc044ac75a07e5',
  ),
  'db' =>
  array (
    'table_prefix' => '',
    'connection' =>
    array (
      'default' =>
      array (
        'host

[2018-03-21 00:32] duytran21 commented on #14018
`<?php
return array (
  'backend' =>
  array (
    'frontName' => 'admin_abc',
  ),
  'crypt' =>
  array (
    'key' => '1e78289eec442c6b6afc044ac75a07e5',
  ),
  'db' =>
  array (
    'table_prefix' => '',
    'connection' =>
    array (
      'default' =>
      array (
        'host' => 'localhost',
        'dbname' => 'magento',
        'username' => 'magento',
        'password' => '',

[2018-03-21 00:44] mikeguy commented on #14018
@duytran21
thank you so much for the reply

I will try the above and let you know.

[2018-03-21 01:13] mikeguy commented on #14018
@duytran21
the username and password is for what ? the admin backend?

[2018-03-21 05:35] duytran21 commented on #14018
Username and password for your phpadmin database.

2018-03-20 18:13 GMT-07:00 Mike <notifications@github.com>:

--

Yours sincerely,

Duy Tran

[2018-03-21 06:03] goeword commented on #4953
Hi,

Is there an solution for this bug? I am experiencing same issue here. I cannot view and process orders now, this is very important issue.

[2018-03-21 06:39] im-jc commented on #9552
Hi!

**Preconditions**
Magento version: 2.1.7
PHP 7.1

I have changed then value from database so now i can see changed value of `Use in Layered Navigation` field with `Filterable (with results)`.

BUT, it is not showing on front end layerd navigation like other dropdown attributes(Price, color).

How can i display 'quantity_and_stock_status' on front end layered navigation?i.e  In Stock and Out o

[2018-03-21 06:54] kesarweb commented on #12679
+1 exactly the same.
Server: CentOS 7 PHP 7.0.28 MySQL 5.6 PHP-FPM nginx.
I also tried on Windows XAMPP and having exactly the same issue.

Anyone had a chance to figure this out?

Thanks!
Anton

[2018-03-21 07:23] VipulAniya opened #14220 "Region Based Tax is not Calculating Properly"
At product cart page, we are getting tax value which implies for multiple rule.
For example :-- If users has create tax rule for any specific country as well as its region also then if user select that region at cart page, it implies both rule like region based and country based for that product.

It should implies only for region based. Magento must have provide the priority to region then countr

[2018-03-21 07:28] taimaiduc opened #14221 "Multi store get wrong value."
### Preconditions

1. PHP 7.0.27
2. MySQL Ver 15.1 Distrib 10.0.33-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
3. Vanish 4
4. Magento 2.1.10
### Steps to reproduce

1. Create a product (All store view) with a filed is textarea -> Save it
2. Edit product with another store view (Store view Vietnam) with field textarea _(uncheck Use Default Value )_ -> Save it

### Expected result

1.

[2018-03-21 07:32] quyennd commented on #11431
@arunkumar2687

[2018-03-21 07:45] jruzafa commented on #12419
someone has been able to solve this issue or have excluded the tests of those two modules in the test suite?

[2018-03-21 07:47] Sathishkumar8731 opened #14222 "PayPal Express checkout issue - We cannot place an order."
### Preconditions

1.  Magento 2.2.1
2.  SSL certificate installed  in the domain.
3. nginx server.

### Steps to reproduce

1.   We have added the virtual product in checkout and tried to place an order through PayPal sandbox mode.
2. It is redirecting to the PayPal Payment page and able to pay an amount. But while redirecting to website the order is not created and getting an error as "we cannot

[2018-03-21 08:38] osrecio commented on #13929
I solved with [cweagans/composer-patches](https://github.com/cweagans/composer-patches).
I created a patch (for Magento Composer projects):
[code]

[2018-03-21 08:50] VladSuciu76 opened #14224 "Maximum Login Failures to Lockout Account not working"
Hello,
In customer configuration, I've set Maximum Login Failures to Lockout Account to 0, cleared cache but accounts still get blocked after 5 attempts to login with wrong password.
Do we have any known solution for this?

I am using Magento 2.2.1

[2018-03-21 09:04] #13889 closed, assigned to nobody

[2018-03-21 09:09] magento-engcom-team commented on #13889
@akhileshlpatel
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-21 09:46] thomas-blackbird commented on #12428
Does it prevent the infinite load gif (wheel of death)?

[2018-03-21 09:57] atsareva commented on #8700
Any news regarding this issue?

[2018-03-21 10:08] jonathan-martz opened #14226 "Product Order without position doesnt change direction"
### Preconditions
Magento 2.2.2
http://demoshops.splendid-internet.de/magento/magento2d/gear/bags.html

### Steps to reproduce
![v1-backend](https://user-images.githubusercontent.com/20771653/37702986-88b844c4-2cf4-11e8-8f00-80b62eaf8152.png)

![vs1-before](https://user-images.githubusercontent.com/20771653/37702994-8e895104-2cf4-11e8-985a-360fca3ba68e.png)

1. Change Direction

![v1-after](https:

[2018-03-21 10:19] nopenopenope commented on #8426
I'm having this issue with Magento 2.1.11.

[2018-03-21 10:22] maqlec commented on #4828
As I saw in another thread, it has fixed in 2.3-develop branch

[2018-03-21 10:27] lano-vargas commented on #6684
@magento-engcom-team  2.2.2 Still an issue.
I can see in sandbox Braintree the status of and order changing from 'submitted_for_settlement' then  'settling'  and after 'settled'   but the status for the order in Magento still says 'Processing'.

[2018-03-21 10:30] joni-jones commented on #6684
@drestine, an order will have `Complete` status when `Shipment` and `Invoice` are created.

[2018-03-21 10:37] lano-vargas commented on #6684
@joni-jones  I was wondering about that thanks for your reply that's helpful.

[2018-03-21 11:15] orlangur commented on #14226
@jonathan-martz please provide more details. When all products have the same position value observed behavior for inverted position sorting is correct.

[2018-03-21 11:36] andrewhowdencom commented on #13929
This presumably broke as part of the security patches (there's a bunch of stuff associated with path disclosures and RCEs in the 2.2.3 release). Anyone got any idea *why* this change was made? (so we don't set about reintroducing it with third party fixes)

[2018-03-21 12:00] AlexWorking commented on #14224
Hello @VladSuciu76. Thanks for reporting. We've been not able to reproduce Your issue for now. Please watch our videos where we were trying to do that and tell us what we were doing not as You meant.
[Blocked1.zip](https://github.com/magento/magento2/files/1833102/Blocked1.zip)
[Blocked2.zip](https://github.com/magento/magento2/files/1833103/Blocked2.zip)

[2018-03-21 12:05] magento-engcom-team commented on #13804
Hi @ankurvr. Thank you for your report.
The issue has been fixed in magento/magento2#14209 by @AlexWorking in 2.3-develop branch
Related commit(s):
 - [0bfc3e17f9baef90c4639b25956ca6947838312e](https://github.com/magento/magento2/commit/0bfc3e17f9baef90c4639b25956ca6947838312e)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-21 12:05] magento-engcom-team commented on #4454
Hi @zhiyicai. Thank you for your report.
The issue has been fixed in magento/magento2#14205 by @dimonovp in 2.3-develop branch
Related commit(s):
 - [822c6e993e1c31aeb9d3c6f49a5ac03b11d21e04](https://github.com/magento/magento2/commit/822c6e993e1c31aeb9d3c6f49a5ac03b11d21e04)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-21 12:05] magento-engcom-team commented on #3483
Hi @keyurshah070. Thank you for your report.
The issue has been fixed in magento/magento2#14204 by @rostyslav-hymon in 2.3-develop branch
Related commit(s):
 - [255b682ef61ca83e896ec562c1c9914c0e875571](https://github.com/magento/magento2/commit/255b682ef61ca83e896ec562c1c9914c0e875571)
 - [e37ae24b9a7df0c66139e7f3d0929c96ee3f2116](https://github.com/magento/magento2/commit/e37ae24b9a7df0c66139e7f

[2018-03-21 12:05] magento-engcom-team commented on #13768
Hi @janssensjelle. Thank you for your report.
The issue has been fixed in magento/magento2#14199 by @dimonovp in 2.3-develop branch
Related commit(s):
 - [4df41e14b62ddb1cc117ed7eaf7548d74f4ca35d](https://github.com/magento/magento2/commit/4df41e14b62ddb1cc117ed7eaf7548d74f4ca35d)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-21 12:05] magento-engcom-team commented on #11512
Hi @andrewhowdencom. Thank you for your report.
The issue has been fixed in magento/magento2#14190 by @AlexWorking in 2.3-develop branch
Related commit(s):
 - [72c502fd6c23e62c5ed26cd5c13d6ec22ac9c52c](https://github.com/magento/magento2/commit/72c502fd6c23e62c5ed26cd5c13d6ec22ac9c52c)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-21 12:05] magento-engcom-team commented on #13820
Hi @Pumppa. Thank you for your report.
The issue has been fixed in magento/magento2#14192 by @mastiuhin-olexandr in 2.3-develop branch
Related commit(s):
 - [6d4065a53ab0a066057e156f48cda8df42589598](https://github.com/magento/magento2/commit/6d4065a53ab0a066057e156f48cda8df42589598)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-21 12:05] magento-engcom-team commented on #13791
Hi @koenner01. Thank you for your report.
The issue has been fixed in magento/magento2#14185 by @dimonovp in 2.3-develop branch
Related commit(s):
 - [808487bb354e97aa722a8b532a60bfff9e944676](https://github.com/magento/magento2/commit/808487bb354e97aa722a8b532a60bfff9e944676)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-21 12:05] magento-engcom-team commented on #13899
Hi @sl02. Thank you for your report.
The issue has been fixed in magento/magento2#14215 by @AlexWorking in 2.3-develop branch
Related commit(s):
 - [c87b10465a4b051a5c6cf54668ed143417c6a0b9](https://github.com/magento/magento2/commit/c87b10465a4b051a5c6cf54668ed143417c6a0b9)
 - [ac377279fb55dc1f8301239bb381ed9b8dd68573](https://github.com/magento/magento2/commit/ac377279fb55dc1f8301239bb381ed9b8dd

[2018-03-21 12:09] jonathan-martz commented on #14226
As User i would expect that the Order changes when i change the direction.

[2018-03-21 12:51] magento-engcom-team commented on #14221
Hello @taimaiduc. Thanks for reporting. Probably we have missed something essential for this issue reproduction, but currently we are not able to reproduce it. So please watch the attached video and tell us were we went wrong if so.
[SVtextarea.zip](https://github.com/magento/magento2/files/1833256/SVtextarea.zip)

[2018-03-21 12:56] VladSuciu76 commented on #14224
Hi Alex. You did exactly the same steps I did but in my case it doesn't work. Can it be related to any .ini configs? Because I know I had a simillar issue with Admin Session Lifetime (seconds). Changed the value from admin panel but no effect untill I changed session.gc_maxlifetime in php.ini

[2018-03-21 13:15] orlangur commented on #14226
This is misconfiguration by merchant and needs to be solved on Admin UI side.

When order of products is essential, different values for position should be set. Otherwise any order in any sorting direction is acceptable.

[2018-03-21 13:15] #14226 closed, assigned to nobody

[2018-03-21 13:18] duffner commented on #8018
@magento-engcom-team, I just reviewed 2.2.3 and it's not there either.

Is this complete or no?

[2018-03-21 13:27] magento-engcom-team commented on #14224
In fact @VladSuciu76 it shouldn't be related to those. And could You please try to reproduce the issue on a clear, just downloaded from the official site Magento instance, that contains no third party modules, themes etc, with an empty database just created for it? Thank You.

[2018-03-21 13:43] sonjaka commented on #2546
Any news on this? I am getting the Error that the Updater is unavailable when trying to install an extension via the web setup wizard - but in the docs it is said to be obsolete. How can I fix this?

[2018-03-21 14:14] magentomaniac commented on #6382
Also having the same issue on 2.2.2. Changing in parent theme works but not in child theme.

[2018-03-21 14:21] allisonlawrencels commented on #13427
@elioermini For what it's worth, I did not have luck with reverting the core code. I believe it is related to using PHP 7 - the fix I eventually was successful with is here: https://github.com/magento/magento2/issues/12362#issuecomment-346301084

Looking at the 2.2.3-develop branch, it seems that the Magento team is trying out the reverting solution as well, but I don't think that is going to be t

[2018-03-21 14:30] magento-engcom-team commented on #14153
@milansimek, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-21 14:30] magento-engcom-team commented on #13940
@rigu12, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-21 14:30] #13940 closed, assigned to nobody

[2018-03-21 14:30] magento-engcom-team commented on #12673
@SantoDE, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-21 14:30] #12673 closed, assigned to nobody

[2018-03-21 14:30] magento-engcom-team commented on #13089
@shinesoftware, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-21 14:30] #13089 closed, assigned to nobody

[2018-03-21 14:38] leoquijano opened #14232 "QuoteValidator retrieving the wrong Allowed Countries in multi-store setup"
### Summary

This is an issue that happens in multi-store setups. If you have restricted countries in your websites (for example, a USA Website with US as only allowed country, and a EU website with EU-only allowed countries), Magento won't let you enter new orders in the admin or reorder, when trying to do that for non-default websites.

The following error will be shown:

_"Some addresses cannot

[2018-03-21 14:39] Rudoslav commented on #12524
I also ran into this issue in 2.2.1.

[2018-03-21 14:42] tp-gibert commented on #7997
Hi @magento-engcom-team ,

can you give us the related commits of the fix ?

The bug with simple product with different rates is reproduced on our 2.2.2.

Best regards

[2018-03-21 14:43] dwirt commented on #12939
This seems to be a duplicate of #12860

[2018-03-21 14:46] MargoNikk commented on #12459
**The same problem with grunt exec. Magento 2.2.3**

In `package.json` still `"grunt-exec": "~2.0.0" `which has a [bug](https://github.com/jharding/grunt-exec/issues/79)
I tried  `"grunt-exec": "~3.0.0"` but received an error in the console:

[code]

Everything works only with`"grunt-exec": "~1.0.0"  `

[2018-03-21 14:53] siliconalchemy commented on #14038
OK I've tracked this down to faulty logic somewhere in module-catalog/Model/Category/Link/SaveHandler.php:
Magento\Catalog\Model\Category\Link\SaveHandler->execute()
It calls $this->mergeCategoryLinks with the old and supposedly new category links, but it doesn't remove any links that are not present int he new category links.

By replacing:
`$processLinks = $this->mergeCategoryLinks($dtoCategoryL

[2018-03-21 14:57] JesKingDev commented on #5874
Can someone link to the related core bug or provide more information? This is a pretty big deal and is a major impediment to proper localization of Magento stores. :(

[2018-03-21 14:58] aeu commented on #13427
@allisonlawrencels Thanks for linking that other issue, that was a very interesting read.  We are experiencing the exact same thing described in that thread - if you go to checkout, hit refresh a few times quickly and then the cart is empty.

I'll take a look at the solution that acetronaut posted and see if we can get that working here, we are currently on 2.1.12.

[2018-03-21 14:59] LemaireVincent commented on #12436
Hi, I could reproduce this (Magento Enterprise 2.2.2 with b2b extension 1.0.1)
It happens on 1st creation of the cart on a new customer (in my case in fact it's the very first customer that I create)
Create a new customer, add a product to cart : this exception occurs.

[2018-03-21 15:06] elioermini commented on #13427
@allisonlawrencels exactly see my comment in #12362 we found out as well after a while the same fix you referenced but I forgot to amend it here. It is also solving this issue #4301 the only change in addition to #12362#issuecomment-373318974 I added in start() is $this->renewCookie($sid); after $this->validator->validate($this);

[2018-03-21 15:28] aeu commented on #4301
Subscribing.  We are also seeing this as well as the related issues mentioned in this thread and other threads that mention this one.

[2018-03-21 15:30] magento-engcom-team commented on #13383
@ulicodex, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-21 15:30] #13383 closed, assigned to nobody

[2018-03-21 15:30] magento-engcom-team commented on #13737
@acampos1916, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-21 15:30] #13737 closed, assigned to nobody

[2018-03-21 15:30] magento-engcom-team commented on #13909
@rishabhchd19, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-21 15:30] #13909 closed, assigned to nobody

[2018-03-21 15:30] #13890 closed, assigned to nobody

[2018-03-21 15:30] magento-engcom-team commented on #13860
@zakgrindle, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-21 15:30] #13860 closed, assigned to nobody

[2018-03-21 15:49] alakhdeveloper commented on #4580
SALES_ORDER_INCREMENT_ID_STORE_ID in db you need to update your order incremented id. that issue is occuring due to the incremented id already used by paypal.

internally incremented id is used in payap order unique id, if it already used in paypal then you will get such issue.

[2018-03-21 16:04] wedob13 opened #14233 "Pagination of Product Grid after action in Backend"
Hello i would like to ask if its possible after committing an action (save,edit and so on) on the product grid for the pagination to save the page that you were previously on and not reset to 1st one.

[2018-03-21 16:06] eh6design commented on #13541
Would this be why I have out of stock items showing in my layered navigation even though I have Magento configuration -> Catalog -> Inventory -> Stock Option -> Display Out of Stock Products set to No?

If so, can you confirm exactly where I add the above code?

[2018-03-21 16:40] piotrekkaminski commented on #13929
@magento-engcom-team

According to your previous comment it is fixed. I don't see it being fixed. Can you point out to commit/Jira issue with the fix?

[2018-03-21 16:47] atsareva commented on #8211
Any updates here?

[2018-03-21 16:48] kennydeckers commented on #2504
Experiencing the same problem. The fix provided by @iget-esoares is legit and should be merged into the main configuration sample that is provided by Magento.

[2018-03-21 18:08] siliconalchemy commented on #8018
@ccasciotti I think the isRanging() method is in \Magento\Catalog\Model\Indexer\Category\Product\AbstractAction.   It may be that the underlying issue was fixed elsewhere.  But how are we supposed to know what the fix is, because the commit isn't referenced in this issue?

[2018-03-21 18:10] duffner commented on #8018
@siliconalchemy, I don't believe this to be fixed as I'm experiencing this issue in Magento 2.2.3 Commerce Edition

[2018-03-21 18:12] absolutodigital opened #14234 "Deleting image from server after save"
I got this problem in version 2.2

When i editing a product, the imagens was uploaded to /tmp , but after save, the images was deleted fro cache and wasn't saved on catalog, so i just can see the noimages

[2018-03-21 18:26] absolutodigital commented on #14234
![screen shot 2018-03-20 at 08 46 26](https://user-images.githubusercontent.com/7466877/37729589-a08e8a08-2cfa-11e8-8fff-7f9817a3702d.png)

[2018-03-21 18:29] Grohotun commented on #14166
@mslabko yes, at the time, when I wrote this issue I was using benchmark_2015.jmx.

I'm getting the same error

2018-03-16 23:10:40,520 WARN o.a.j.p.j.s.BeanShellSampler: Exception executing script. org.apache.jorphan.util.JMeterException: Error invoking bsh method: eval Sourced file: inline evaluation of: ``props.put("category_url_key", vars.get("category_url_key")); props.put("category . . . ''

[2018-03-21 18:31] markalston commented on #12573
@erikhansen Setting the Minimum order amount high doesn't fix the issue where you want free shipping only for matching items.   Currently (2.2.3) if the free shipping is either triggered for all items or none.  The existing choice "Free Shipping for matching items only" simply doesn't work as described.

When the free shipping choice shows up in the shipping options it applies to the entire order.

[2018-03-21 18:43] markalston commented on #12573
This issue is the same as #14206 and #10704 and still a problem in 2.2.3

[2018-03-21 18:53] ycancio commented on #9646
This is still happening in Magento 2.2.3

[2018-03-21 18:59] mslabko commented on #14166
I've checked on 2.3 with benchmark.jmx and cannot reproduce it. Could you please enable "View Results Tree" and check results in "Extract categories" fragment. It looks like JMeter cannot find categories in Magento instance (step "SetUp - Get Categories Names and skus")

Also, it will be useful to enable "Debug PostProcessor" (rigght click on SetUp thread: Add -> Post Processors -> Debug PostProce

[2018-03-21 20:28] Sylvesterx1 opened #14235 "White page checkout on one website"
### Preconditions

1.  Magento 2.2.3
2.  Debian 9 VPS

### Steps to reproduce

1. Creation of different languages for different domains
2.  Assign one language to one domain

### Expected result

1.  On all domain checkout work perfect but  for 1 domain .cz checkout no work.
2. Domains and languages have been introduced in the same way and at the same time

### Actual result

1. Here is movie: htt

[2018-03-21 21:08] mikeguy commented on #14018
@duytran21

yes it was the env.php file that was corrupted.
I have re-built it and now everything seems fine.
Somehow the env.php got corrupted when I disabled a module or added another one as I was building my store.

Thank you very much.

[2018-03-21 21:21] mikeguy commented on #14187
OK for anyone else who ever runs into this issue the problem was that the env.php file got corrupted somehow when disabling the module (in /app/etc).
I did not have a backup, so I found one available online: https://github.com/emizentech/magento2/blob/master/app/etc/env.php.sample
I used that to build it again and once complete I copied it into the /app/etc directory.

I still think this is a core

[2018-03-21 21:27] david-kominek opened #14236 "Sending multiple emails using the TransportBuilder class causes an Zend_Mail exception"
### Preconditions

1. Magento 2.2.3
2. PHP 7.0.12
3. MySQL 5.7.18

### Steps to reproduce

1. Fresh install of Magento
2. Make a custom module with 2 observer classes on an event('sales_order_place_after'). Each of these observers should inject the TransportBuilder class and send an email:

[code]

3. Checkout and place an order.

### Expected result

1. Two emails will be sent...

### Actual resu

[2018-03-21 21:31] benyanke commented on #7596
Here's a potential solution I found:

https://dev98.de/2017/01/02/how-to-add-alternative-http-headers-to-magento-2/

TLDR:
Create app/etc/ip-fix/di.xml:
[code]

[2018-03-21 22:05] intercase opened #14237 "Multiple calls to Shipping rates calculation"
### Preconditions

1. Magento 2.1.8
2. PHP 7.0.17
3. MySQL 5.6

### Steps to reproduce

1. Add multiple products to cart
2. Access the cart
3. Fill in Postcode to calculate rates
4. Reload page

### Expected result

That Shipping rates calculation is only be performed once each cart load.

### Actual result

There are several requisitions to calculate the transport rate.

[2018-03-21 22:51] foxmasters commented on #11002
@akellberg comment worked for me

**This could also be cause**

www>html>var>log>update.log

PHP Memory_limit

[2018-03-22 01:21] michelve commented on #5247
Still having this issue any permanent solution

[2018-03-22 01:43] joshuaadickerson opened #14238 "Security Vulnerability in jQuery UI 1.10.4"
https://snyk.io/vuln/npm:jquery-ui#lh@1.10.4

### Preconditions

1. Magento 2.2.3

### Steps to reproduce

1. Compare the jQuery UI version with the link above

### Expected result

1. Upgrade to a newer version of jQuery UI

### Actual result

1. It's a security vulnerability

[2018-03-22 01:44] joshuaadickerson opened #14239 "Security Vulnerability in jQuery 1.12.4"
https://snyk.io/vuln/npm:jquery#lh@1.12.4

### Preconditions
1. Magento 2.2.3

### Steps to reproduce

1. Go to the link above

### Expected result

1. Upgrade jQuery to a newer version

### Actual result

1. It's a security vulnerability

[2018-03-22 01:49] forwells opened #14240 "/vendor/magento/module-configurable-product/Model/Product/Type/VariationMatrix.php on line 43"
magento2
/vendor/magento/module-configurable-product/Model/Product/Type/VariationMatrix.php on line 43
### Preconditions

1. magento 2.2.2

the configurable products edit error
### Steps to reproduce

1. add a configrable products
2. save
3. do some attributes options
### Expected result

1. it works normally
### Actual result

1. [Screenshot, logs]
![image](https://user-images.githubusercontent.c

[2018-03-22 02:46] azamanaza commented on #11431
Same issue. I can't reorder it.  Please reopen.

[2018-03-22 03:12] taimaiduc commented on #14221
@magento-engcom-team Thanks for your support.
Make sure you are using **10.0.33-MariaDB**
Can you create a new product attribute type is textarea.
 ![selection_2018-03-22-10 00 41](https://user-images.githubusercontent.com/10907980/37748905-14ce6d76-2db8-11e8-8a9d-b82c7c0cf43e.png)

In the description, you have to use.
[code]

In Ingredient paragraph field you have to use.
[code]
After that please

[2018-03-22 05:08] prateekkarki commented on #13152
@magento-engcom-team Is there any workaround for this?

[2018-03-22 05:46] likeweb commented on #3421
**Information**
The TTL attribute can be found under:
vendor/magento/module-theme/view/frontend/layout/default.xml
remove the ttl="3600"

![varnish02](https://user-images.githubusercontent.com/21082389/37753344-bd100a24-2d9c-11e8-8b98-ae7dc0d1ba44.JPG)

[2018-03-22 06:16] magento-engcom-team commented on #14232
@leoquijano, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-22 06:46] andrewbess commented on #12782
There are wrong translations.
File for locale fr_FR has different translations for same strings.
You need to use another language pack.
Please [look this](https://community.magento.com/t5/French/Magento-2-french-language-pack/td-p/32917) topic on Magento Forums.

[2018-03-22 06:58] ihor-sviziev commented on #10650
@ericvhileman why have you decided to create separate module instead creating PR with all your improvements?

[2018-03-22 07:02] orlangur commented on #14238
Hi @joshuaadickerson, please check https://github.com/magento/magento2#reporting-security-issues on reporting security issues.

[2018-03-22 07:02] #14238 closed, assigned to nobody

[2018-03-22 07:03] orlangur commented on #14239
Hi @joshuaadickerson, please check https://github.com/magento/magento2#reporting-security-issues on reporting security issues.

[2018-03-22 07:03] #14239 closed, assigned to nobody

[2018-03-22 08:13] Dpradosmx opened #14242 "ISSUE with Facebook Integration, does not work"
When I try to integrate facebook with Magento

### Preconditions

1. Magento version 2.2.3
2. PHP 5.6.34
3.- MySQL Version 10.0.34-MariaDB-cll-lve
4.- Pearl 5.16.3
5.- Kernel Version | 3.10.0-614.10.2.lve1.4.55.el7.x86_64
-- | -

### Steps to reproduce

1. Login into Magento
2. Click on Marketing
3. Click on Integration to Facebook
4.-Click on Integrations Page
5.- On the line Magento Social click

[2018-03-22 08:15] gawpo50 commented on #14167
I have found a way around the scope id error. Not ideal but it works. I have to other problems which are:

1. Category images not being uploaded and saved...gives the error -> A technical problem with the server generated an error.

2. Paypal not working....gives error -> Payment gateway is unreachable.
Have installed the proper credentials from my paypal account, enabled solution. When I do a tes

[2018-03-22 08:38] Vanessa1906 commented on #7617
@magento-engcom-team   the same issue. i can't  upload file to swatches attribute if use a role orther than adminitrator (= set role is Custom, not All ), admin is working fine

[2018-03-22 09:01] magento-engcom-team commented on #14167
Hello @gawpo50. Thanks for reporting. As for the new issues You've just mentioned, please create a new ticket for each. As for the original issue if it's still actual for You, unfortunately we are not able to reproduce it. Here is a video about how we were trying to do that.
[Logo.zip](https://github.com/magento/magento2/files/1836728/Logo.zip)
Tell us if we have missed something essential. And pl

[2018-03-22 09:09] AaronKaa commented on #14080
Looking at this further Ive found that the issue is the category level - manually re-setting the level to its correct value in the database and regenerating the urls fixed the issue

[2018-03-22 09:16] gawpo50 opened #14243 "Category image upload error"
### Preconditions
Category images not being uploaded and saved...gives the error -> A technical problem with the server generated an error.

Magento 2.2.3....PHP 7.026

### Steps to reproduce
1. Logon to admin backend
2. Go to Catalog->Categories
3. Click the upload button for category image
4. Click on Save......
5. Get error -> A technical problem with the server created an error. Try again to c

[2018-03-22 09:29] gawpo50 opened #14244 "PayPal gateway error"
### Preconditions
Magento 2.2.3....PHP 7.026

### Steps to reproduce
1. Click on Payware category
2. Click -> Add to Cart
![paypal01](https://user-images.githubusercontent.com/37498213/37761921-e34344f4-2e0a-11e8-92cd-0ca8200e05fb.jpg)
3. Click -> Proceed to Checkout
![paypal03](https://user-images.githubusercontent.com/37498213/37761954-0162b460-2e0b-11e8-9fd7-04dc75720f15.jpg)
4. Click PayPal bu

[2018-03-22 10:00] magento-engcom-team commented on #13631
Hi @schmengler. Thank you for your report.
The issue has been fixed in magento/magento2#14231 by @rostyslav-hymon in 2.3-develop branch
Related commit(s):
 - [a7ff3051f39868c3ac72ab40483cceb53e2359be](https://github.com/magento/magento2/commit/a7ff3051f39868c3ac72ab40483cceb53e2359be)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-22 10:00] magento-engcom-team commented on #12792
Hi @aeu. Thank you for your report.
The issue has been fixed in magento/magento2#14225 by @dimonovp in 2.3-develop branch
Related commit(s):
 - [413b8981388d8a356db0f02ec096c91c388ae44e](https://github.com/magento/magento2/commit/413b8981388d8a356db0f02ec096c91c388ae44e)
 - [2b64618e4cc35ab27d142f4f84a17d99cc3b17dd](https://github.com/magento/magento2/commit/2b64618e4cc35ab27d142f4f84a17d99cc3b17d

[2018-03-22 10:00] magento-engcom-team commented on #13778
Hi @snoroozi. Thank you for your report.
The issue has been fixed in magento/magento2#14225 by @dimonovp in 2.3-develop branch
Related commit(s):
 - [413b8981388d8a356db0f02ec096c91c388ae44e](https://github.com/magento/magento2/commit/413b8981388d8a356db0f02ec096c91c388ae44e)
 - [2b64618e4cc35ab27d142f4f84a17d99cc3b17dd](https://github.com/magento/magento2/commit/2b64618e4cc35ab27d142f4f84a17d99cc

[2018-03-22 10:00] magento-engcom-team commented on #13385
Hi @alexkuk. Thank you for your report.
The issue has been fixed in magento/magento2#14223 by @rostyslav-hymon in 2.3-develop branch
Related commit(s):
 - [f618e14d145f5f5a1751c0108c1f9e1b94f50ea6](https://github.com/magento/magento2/commit/f618e14d145f5f5a1751c0108c1f9e1b94f50ea6)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-22 10:04] johnny-longneck commented on #10650
@ihor-sviziev , I can just assume but I saw tickets and problems with already created Pull Requests being ignored for months. And as we know, major bugfixes often just get into the next major release, which happens once a year.

As users working with production environments, we need solutions asap.
Same happend when I found out paypal is no longer working starting with 2.2.0 - needed a community m

[2018-03-22 10:19] bpoiss commented on #7720
I am on 2.2.2 and if I save a product from the backend the ProductRepository save method is not called at all. I see vendor/magento/module-catalog/Controller/Adminhtml/Product/Save.php is calling $product->save().

Am I missing something or how can this fix work for you @cherreman, @okorshenko?

[2018-03-22 10:22] tmotyl commented on #10051
@davidalger any update?

[2018-03-22 10:26] cherreman commented on #7720
@bpoiss Our context is that we are importing products from an external system. We use the ProductRepository to save the products in the code of our import script.

[2018-03-22 10:41] bpoiss commented on #7720
@cherreman thanks for your response. Do you have any idea how this issue can be fixed also for saving products via backend?

[2018-03-22 10:58] bpoiss commented on #10424
I have the same problem on 2.2.2. If I save a product in any storeview, it applys default values to the store view which is very critical since I can not maintain any attributes on All Store Views anymore. For more than 50 store views this means a lot of work.

My workaround is to delete the entrys from the DB every time I save a product.

[2018-03-22 11:09] dimonovp commented on #14236
@david-kominek, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-03-22 11:10] magento-engcom-team commented on #14236
@david-kominek, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-03-22 11:30] magento-engcom-team commented on #14236
@david-kominek, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-22 11:57] magento-engcom-team commented on #14222
@Sathishkumar8731 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-22 12:03] jb-dg opened #14248 "Transparent background becomes black for thumbnails of PNG into Wysiwyg editor..."
Hi,

![capture](https://user-images.githubusercontent.com/36449657/37770089-87144606-2dd3-11e8-982e-c9823ddcecbe.PNG)

A transparent background becomes black for thumbnails of PNG into Wysiwyg editor...
Issue solved ever since talk about it ?
Thank's !

Config: Magento 2.2.1 & PHP 7.0

[2018-03-22 12:22] cdiacon opened #14249 "Priduct page price is using the hardcoded digits in js"
When using more then 2 digits ex(9.4880 will be displayed as 9.49) for the price the js will override this value and it will format using the round for 2 digits.
### Preconditions

1. magento 2.2.0
2. php 7.0
3. mysql 5.7.21

### Steps to reproduce

1. Create a plugin to use more then 2 digits for the price
2. The price should be saved in database as 9.4880
3. category page will display the price

[2018-03-22 12:34] chernenm-zz opened #14251 "Product URL rewrites get deleted after import products without category column"
### Preconditions
2.1.8, 2.2.2, 2.2.5

### Steps to reproduce
1. Create product *prod1* and assign it to category *cat1*
2. Prepare file for import (you can export products via Admin panel)
3. Delete "*categories*" column from file
4. See table url_rewrites in DB. Notice that product *prod1* has several URL rewrites. For request paths: *cat1/prod1* and *prod1*
5. Go to Admin panel -> System -> Dat

[2018-03-22 12:36] developer-vtnetzwelt commented on #12602
I am facing the same issue. Can we know why it is labelled as non-issue?

[2018-03-22 12:43] chernenm-zz opened #14253 "Custom Options are corruputed when saving product to a different website"
*ISSUE:*
When adding another site to a product with customizable options, the options get corrupted. Sometimes by splitting into multiple options or duplicating an option.

### Preconditions
2.2.1, 2.2.2, 2.2.5
Is issue reproducible in Magento Version: 2.2.1, 2.2.2
Is issue reproducible in Trunk:
Is issue reproducible in the customer's install: Y

Precondition: Create deployment with multiple webs

[2018-03-22 12:45] siliconalchemy commented on #6018
Incredible that this is still a problem, and this issue remains closed.  This is a major issue on all browsers including desktops.  In my case the page loads <1-2sec, then it takes anything up to 3-10sec (depending on the speed of the device/browser) to display the main picture - just a spinner in the meantime.  Terrible, terrible UX.

[2018-03-22 12:49] shweta1234567 commented on #14197
Hello

Still I am waiting the solution can you please help me to find the solution.

[2018-03-22 12:49] shweta1234567 commented on #14197
Hello,

Still, I am waiting for the solution can you please help me to find the solution.

[2018-03-22 12:50] chernenm-zz opened #14254 "When two fixed price gift cards of different values are added to the cart, they appear in the cart with the same value as the first gift card"
### Preconditions
2.2.x

### Steps to reproduce
1. From the admin, go to Catalog > Products, click Add Product > Gift Card
2. Fill out all of the required fields
3. Next to Amount, click Add Amount and enter $100 and click Save
4. Repeat steps 1-3 but with a the Amount $150.
5. From the customer view, add the $100 gift card to the cart and then add  the $150 gift card to the cart
6. Click the cart

[2018-03-22 12:50] magento-engcom-team commented on #14206
@tonytrinh206 , thank you for your report. You need to asign this product attribute to diferents atribute sets and on conditions choose this Atribbute set. After this Shipping methot works correct. See our Condition tab

![rule_free](https://user-images.githubusercontent.com/31669971/37771292-d783b750-2ddf-11e8-8eec-bd9c9a674072.png)

Shoping cart with two product

![cart_with_two product](https:/

[2018-03-22 12:52] chernenm-zz opened #14255 "Tier price not applied instantly after logging in Shopping Cart"
### Preconditions
2.2.x

### Steps to reproduce
1. Create customer group "TEST"
2. Crete Customer and assign it to TEST group
3. Create Product with tire price for Test group
4. Open frontend as guest user
5. Add product to cart
6. Click "Sign In " and Login as Customer from step 2
7. Observe product prices

### Expected result
main section and summary should display tier price

### Actual result

[2018-03-22 12:56] chernenm-zz opened #14256 "Issue with Newsletter subscriptions"
### Preconditions
2.2.x

### Steps to reproduce
1. Install clean Magento 2.2.2
2. Create 1 Website with 2 store views
3. On storefront in default store view, scroll down to foot and subscribe to newsletter
4. Scroll up to top and change store view to second store view
5. Create a customer account in storeview2 with the same email address
6. In Admin, open the customer account and click on Newslett

[2018-03-22 12:59] chernenm-zz opened #14257 "Not Visible Custom Address Attributes Showing on Checkout"
### Preconditions
2.2.x

### Steps to reproduce
1. Create Custom Customer Address attribute with "Show on frontend" = NO
2. Create customer -> add any address to the account
3. In Magento admin go to edit customer page and add value to a custom attribute
4. Login to frontend
5. add a product to cart and go to checkout

### Expected result
Customer address block should not display not visible attri

[2018-03-22 13:00] chernenm-zz opened #14258 "Dashboard graph has incorrect scaling/values on y-axis"
*ISSUE:*
The y-axis of the graph fails to produce the correct information - no matter what the values are, the values are always graded in increments of 10 - see attached for more details

*Steps to Reproduce:*
1 Enable the Dashboard Graph in Stores > Configuration > Admin > Dashboard
2 Place an order for $200 or more and create an invoice
3 Go to Reports > Refresh Statistics and refresh the lifet

[2018-03-22 13:04] chernenm-zz opened #14259 "Product "Use Default Value" checkbox for an attributes are unchecked for the new website scope"
### Preconditions
2.2.x

### Steps to reproduce
1. Create second website (you should have 2 websites)
2. Create new product, assign it only to first website and save
3. Go to "Product in Websites" tab and assign this product to second website (select "Copy Data from Default Values")
4. Save product
5. Change product scope to second website and check attributes(Product name, Tax class, Visibility e

[2018-03-22 13:08] chernenm-zz opened #14260 "Can't edit or remove multiple wishlist if title contains apostrophe mark"
### Preconditions
2.2.x

### Steps to reproduce
1. Enable multiple wishlist
2. Register customer on storefront
3. Open wishlist section in My Account
4. Add new wishlist with title that contains apostrophe mark (e.g "test's")
5. Save wishlist
6. Try to edit or remove wishlist

### Expected result
 Wishlist can be edited or removed

### Actual result
Nothing happens when rename or remove wishlist

[2018-03-22 13:11] chernenm-zz opened #14261 "Image zoom pinch on the product page doesn't work in iOS/Safari"
### Preconditions
2.2.0, 2.2.2, 2.2.5

### Steps to reproduce
1. Open Safari browser
2. Open a product page with images. (E.g.: sample-data product *Circe Hooded Ice Fleece*)
3. Click on product image
4. Try to pinch an image in the opened popup

### Expected result
Only image should be zoomed. Try the same test case in Chrome browser and you will see how it should work.

### Actual result
Whole p

[2018-03-22 13:14] chernenm-zz opened #14262 "Bundled SKUs are being assembled based on the product ID number"
### Preconditions
Bundle product SKUs are being assembled in the order of the associated (selected) product ID numbers in ascending order instead of the order in which the option is added to the bundle product.

2.2.2, 2.2.5

### Steps to reproduce
1. Go to Products > Catalog > SKU: 24-WG080 bundle Items
2. Notice the options added to the product and the order in which they are placed
3. Go to fro

[2018-03-22 13:30] magento-engcom-team commented on #13981
@williambize, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-22 13:30] #13981 closed, assigned to nobody

[2018-03-22 13:33] mashtakovamary opened #14263 "A Welcome message with the name of the other user while you are signing out."
General summary.
When you want to sign out you will see an inscription ‘Welcome message’ of another user who can be signed in at the same time on this site

Preconditions:
1)	Magneto 2.2.2.
2)	Porto 2.7.1.
3)	PHP 7.0.22-0ubuntu0.16.04.1
4)	mysql  Ver 14.14 Distrib 5.7.21, for Linux (x86_64) using  EditLine wrapper
Steps to reproduce:
 1) Sign in
2) Sign out
3) When there will be an inscription ‘yo

[2018-03-22 13:44] benyanke commented on #5938
Any luck on this?

[2018-03-22 13:48] tonytrinh206 commented on #14206
So we need to create another attribute set to make it work? This is my screenshots. I have tried both of setups but it doesn't work.

![screen shot 2018-03-23 at 12 45 07 am](https://user-images.githubusercontent.com/2638148/37774212-bc3bf706-2e33-11e8-9643-045eeca96c91.png)

![screen shot 2018-03-23 at 12 45 27 am](https://user-images.githubusercontent.com/2638148/37774214-be39d0f0-2e33-11e8-8e6d

[2018-03-22 13:54] snoroozi commented on #9274
@magento-engcom-team where are we at with this. Don't you guys think it might be a little bit important to manage our bundles from the admin panel?  I don't know, perhaps verging on CRITICAL.

[2018-03-22 14:07] lano-vargas commented on #12398
@magento-engcom-team  new installation 2.2.2 I am having this issue with a custom theme but not on Luma
.../themeName/en_GB/css/styles-m.css   404
.../themeName/en_GB/css/styles-l.css  404

try to force php bin/magento setup:static-content:deploy en_GB -f

[code]

what's the fix?

[2018-03-22 14:18] woakley opened #14264 "incorrect db user"
Magento 2.2.3

Copied working site to a new account
changed DB detail in env.php
cleared var folder
recompile
redeploy

add image to product

### Expected result
image is added

### Actual result
SQLSTATE[42000]: Syntax error or access violation: 1142 TRIGGER command denied to user 'OLDUSER'@'localhost' for table 'catalog_product_entity_media_gallery', query was: INSERT INTO `catalog_product_entit

[2018-03-22 14:38] slawkens commented on #10314
For me worked increasing from 1024M to 3000M

[2018-03-22 14:45] david-kominek commented on #14236
OK, so I'm just a little confused. The core team intended the TransportBuilder to be a single use class? The way that it currently is implemented, you can only use the TransportBuilder one time per request, no matter which class you inject it into. I thought the point of a "Builder" class was to be able to build multiple of something.

[2018-03-22 14:47] tomekjordan commented on #6018
100% agree. terrible UX

[2018-03-22 14:54] magento-engcom-team commented on #14237
Hello @intercase. Thanks for reporting. Please, tell us more precisely what do You mean by requisitions here. It will be better if You manage to do that with screenshots or video. Thank You.

[2018-03-22 15:08] jonathanKingston opened #14267 "Use of deprecated $.browser"
### Preconditions (*)

### Steps to reproduce (*)
1.  `git grep "$.browser"`

### Expected result (*)
1.  No use of `$.browser`

### Actual result (*)
[code]
Reopening from: https://github.com/magento/magento2/issues/13799 this is deprecated and still exists in the core, it doesn't look like the hacky usages are needed any more either.

Only lib/web/mage/popup-window.js and app/code/Magento/Checko

[2018-03-22 15:11] orlangur commented on #14260
This functionality does not seem to be a part of Magento Open Source, isn't it?

In such case

GitHub is intended for Magento Open Source bug reports given no account management for Magento Open Source users. This will allow for proper tracking of issues at the account level.

[2018-03-22 15:11] #14260 closed, assigned to nobody

[2018-03-22 15:19] jbalca commented on #11511
Hi,

We're using 2.2.3 and the issue still remains.

[2018-03-22 15:19] magento-engcom-team commented on #14240
@dearmatta , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-22 15:24] orlangur commented on #14237
@intercase please provide more details on

In general it is not safe to assume that rates cannot be changed on a shipping service side.

[2018-03-22 15:30] clementblanco commented on #7753
Any update on the below?

[2018-03-22 15:34] jonathanKingston commented on #14267
Looks like jQuery hashchange is no longer needed for IE9+ support: https://github.com/cowboy/jquery-hashchange/issues/42

[2018-03-22 15:37] magento-engcom-team commented on #14263
@mashtakovamary , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please try to reproduce this issue on a clean installation or latest release.

[2018-03-22 15:39] guillermogallego opened #14269 "Thumbnails not generated for all websites when I upload a product with API REST"
### Preconditions
Magento 2.2.3
Php 7.1

### Steps to reproduce
I have 3 websites and insert a product in two of these websites with REST API

`$data = [
				"sku" => $sku,
				"name" => $prodPremium['titulo'],
				"attribute_set_id" => $conjunto,
				"status" => 1,
				"visibility" => 4,
				"type_id" => "configurable",
				"extension_attributes" => [
					"stock_item" => [
						"is_in_stock" =>

[2018-03-22 15:50] intercase commented on #14237
Hi, thanks for returning!

The freight method runs several times inside the cart. The number of plays exceeds the number of items in the cart. Example, with three items only, looking at the log, I could see the method ($ quote-> collectTotals ()) being called 11 times.

`module-quote/Model/Quote/TotalsCollector.php`

[2018-03-22 15:53] nmallepally commented on #8172
After applying the Fix  6637cde on Magento 2.1.8v , It still does not work.
Any work around in 2.1.8v ?

coupon code : FreeDelivery
Actions:
Apply : percent of product price discount
Discount Amount : 0
Apply to shipping amount - yes
Free shipping ( For shipping with matching items).
Assign a particular category for the coupon to be applied and save.
code applies but won't show free shipping 0 val

[2018-03-22 16:08] lano-vargas commented on #8377
@mzenner1  That woks for me too.

It seems that they forgot to define a @sidebar__background-color: in
Path to native: /vendor/magento/theme-frontend-luma/Magento_Theme/web/css/source/_module.less

@magento-engcom-team  This is a bug!

[2018-03-22 16:40] webzac commented on #12319
Hello @magento-engcom-team and @devondahon
Is there a solution to this problem please?
Thank's

[2018-03-22 16:41] friimaind opened #14271 "Static content deploy produces strange folder names"
### Preconditions
Magento 2.1.9
PHP 7.0.27
Apache/2.4.6 (CentOS)

### Steps to reproduce
rm -rf pub/static/*
php bin/magento setup:static-content:deploy

### Expected result
static content to be deployed

### Actual result
My static content have strange folder names:

)))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))
�''�""
�'�"
1'"
${10000294 9999730}
${10000417 10000482}
1BpM

[2018-03-22 16:47] woakley commented on #14264
So what do I do to get G1 passed?

[2018-03-22 16:51] HirokazuNishi commented on #12319
The easiest way is to use ElasticSearch. This issue is caused by MySQL's fulltext index. I tried to use MySQL5.7's "WITH PARSER ngram" option against fulltext search data table, but it caused serious deadlock issue due to long MySQL index updating time.

[2018-03-22 16:58] mbrzuzy commented on #8671
This still happens in v2.1.11

[2018-03-22 17:02] pixiemediaweb opened #14272 "M2.2.3 - multistore category layered nav counts are wrong"
In a Magento 2.2.3 site with multiple websites, each with a single store view.  They share a common navigation structure but each site has a different sub set of products.  In store A (main/default store) there are 60 products in category A, distributed between 5 subcategories.  This works correctly and shows the sub categories and counts accurately.

Store B only has 4 of those products available

[2018-03-22 17:05] guillermogallego commented on #14269
I'm sorry, in a clean installation of Magento works well

[2018-03-22 17:05] #14269 closed, assigned to nobody

[2018-03-22 17:20] pixiemediaweb commented on #14272
worth noting, the attribute filters and toolbar totals are all correct. It's only the category filter which has an issue

[2018-03-22 18:06] adamlavery commented on #12983
I found this after spending a day investigating why we lost ability to checkout due this same issue. But disabling the module and flushing Magento to death does not resolve it. Even tried deleting generated, var/cache & var/page_cache, re-enabling module and then disabling again with --clear-static-content. Still nothing.

Most definitely repeatable - we cannot now checkout on our site as we can't

[2018-03-22 18:20] lano-vargas commented on #7587
@joni-jones  I have just installed 2.2.3 and this is still the case as mark166 has reported, is there any other reason why Braintree configuration cannot be set per store view?

[2018-03-22 18:22] jonathanKingston opened #14274 "Quick search fires error"
## Preconditions
1. Magento 2.3-develop branch

### Steps to reproduce
1. Type a term into the quick Ajax search field (`#search`) that doesn't exist in the database
2. Press Home keyboard key

### Expected result
1. No error

### Actual result
1. TypeError: this._getFirstVisibleElement(...).addClass is not a function

[2018-03-22 19:20] kfaer commented on #9322
is this issue resolved?

[2018-03-22 19:35] fluential commented on #12983
@adamlavery just run
[code]

[2018-03-22 20:00] magento-engcom-team commented on #7906
Hi @joebordo. Thank you for your report.
The issue has been fixed in magento/magento2#14123 by @DaniloEmpire in 2.3-develop branch
Related commit(s):
 - [166a8bb302f0165ef720bdc73db664f4617c8e7a](https://github.com/magento/magento2/commit/166a8bb302f0165ef720bdc73db664f4617c8e7a)
 - [159efeb46daaba9098b21d696249027d2b0c0bc7](https://github.com/magento/magento2/commit/159efeb46daaba9098b21d69624902

[2018-03-22 20:00] omniprolatam commented on #8988
I'm still facing the same issue in 2.2.1

[2018-03-22 20:02] acampos1916 commented on #8988
I'm still facing the same issue in 2.2.1

[2018-03-22 20:15] nfourteen commented on #14167
@gawpo50 I'm not sure about the category images and Paypal issues—I feel these are probably GoDaddy related. I just updated a site on Nexcess hosting and tried a fresh install of 2.2.2 on my local computer. I didn't run into any of these issues.

[2018-03-22 20:19] u12206050 commented on #6016
I still have this issue from the norwegian language pack the vendor is `<vendor>day4code</vendor>`

[2018-03-22 20:55] jupiter01 commented on #7906
2.3 release date?

[2018-03-22 21:03] adinca commented on #9497
Looks like this issue is caused by having the guest checkout disabled under `Stores > Configuration > Sales > Checkout > Checkout Options > Allow Guest Checkout`

Even though guest checkout was enabled under PayPal Express Checkout settings, I was getting this error because Magento guest checkout was disabled. Enabling it fixed the issue for me

[2018-03-22 21:10] roman-snitko-vaimo commented on #9071
Thanks @allanpaiste , you are the best!

[2018-03-22 21:24] gawpo50 commented on #14167
I'm beginning to think the same also...that it is a Godaddy issue. Getting them to admit it though...will be pretty hard.

[2018-03-22 21:27] gawpo50 commented on #14243
Only happens with the category images, logo and fav icon images. Product images and all other image use works ok.

[2018-03-22 22:30] davidalger commented on #10051
@tmotyl I don't have any update and have actually stepped away from being a GitHub maintainer due to limited availability personally. Tagging @okorshenko here as he may be able to see about picking this back up.

[2018-03-22 23:11] pravalitera commented on #12983
@adamlavery for 2.2 migration, i had to rewrite a lot of things, and update all my modules to their last versions. And even with that, still a lot of things, in layouts etc.

That's how i solved my problem.

The truth is that 2.0 and 2.1 are really not "polished/finished". It's just crazy how much time i lost looking for how things works, how to change it etc. And they change things with "minor" v

[2018-03-22 23:16] ngz82 commented on #6018
Terrible UX indeed. We went ahead and installed magic zoom, problem solved.

[2018-03-23 02:37] leoquijano commented on #14232
Thanks!

There are additional problems caused by this in the admin. Using the same setup as described above, you can enter a new order for France in the EU store, from the front-end. Now try to edit it in the admin. You will see that only the US is available as a country, even though the order was saved using France!

I tracked this down to file ```vendor/magento/module-sales/Block/Adminhtml/Order

[2018-03-23 03:25] magento-engcom-team commented on #12205
Hi @Nix-id. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1134 by @p-bystritsky in 2.2-develop branch
Related commit(s):
 - [20d7afbe75fed9b8f45e3231848aae40b1c06a3a](https://github.com/magento/magento2/commit/20d7afbe75fed9b8f45e3231848aae40b1c06a3a)
 - [8c44db2c9aa437a5f5b9356fbc36e2ea9134394f](https://github.com/magento/magento2/commit/8c44db2c9aa437a5f5b9356f

[2018-03-23 03:25] #12205 closed, assigned to p-bystritsky

[2018-03-23 04:22] kfaer opened #14278 "Magento 2 configurable products sale label & old price not showing"
Magento 2.2.2 old prices (crossed out) & sale label do not show up again:

on catalog grid view
on product detail page
We use configurable products.

Magento 2.2.2
PHP 7

Expectations was that both special and old regular prices would be shown.

Any ideas how to fix this? Thank you,

Preconditions
Magento 2.2.2, PHP 7
Create configurable products

Expected Result
Regular and special prices of prod

[2018-03-23 04:46] kfaer commented on #9377
Same issue with 2.2.2, and magento team is not able to solve it??

They do not know that products on-sale is the top selling on any eCommerce platform? stupid issue with very high impact, disappointed

[2018-03-23 04:52] thanhnd0905 commented on #7617
@magento-engcom-team  i have the same issue.. error happens when I have a role other than adminitrator Althought I have config user have role that be upload swatch image .. Please check this issue again .. It just woking fine if User role = adminitrator

[2018-03-23 05:29] Puru2016 opened #14279 "Customer address attribute value is not saving in Magento 2.2.3"
### Preconditions

1. Magento 2.2.3

### Steps to reproduce

1.  Create a module using [silksoftware](http://www.silksoftware.com/magento-module-creator/magento2x.php)
2.  code of  CustomerSetup.php file:-

`namespace Company\CustomAttribute\Setup;`

`use Magento\Eav\Model\Config;`

`use Magento\Eav\Model\Entity\Setup\Context;`
`use Magento\Eav\Setup\EavSetup;`
`use Magento\Framework\App\CacheInte

[2018-03-23 07:27] sunilit42 commented on #14118
Hey,

have you created mixins  file?

Open Multiple Tab into your browser.
Open developer console as well
Open your magento2 site, and switch to other tab
Go to Magento 2 site tab, and check network panel into console, you will see mixin file does not call.

Hope it will help you find that problem.

[2018-03-23 07:29] joni-jones commented on #7587
Hi, @lano-vargas, I think it's historically designed to support store|website level of payment configuration. There was no a business case to make payment configuration store's view dependable. Also, on API level there are only store and website scopes. But some options like a payment method title in some cases you can configure per store view.

[2018-03-23 07:30] openwavecomputing opened #14280 "Mini cart product price is not refreshing when user switch the store from one store to another"
### Preconditions

1. Magento2 version 2.1.5
2. Mini cart not refreshing when user switch the store and its keep the previous store price after store switched. We are working on store based website and Wrong pricing displaying on the mini cart when user switch the store from one store to another store. The product having different price for different store. for our example we will take two stores

[2018-03-23 07:34] shenmusam commented on #10071
I change the admin user's password,nice!!

[2018-03-23 07:42] rishabhrkrai opened #14281 "Exclude items from Cart Price Rule which have already Catalog Price Rule"
### Preconditions

1. Magento 2.1.7, PHP 7.X, MySQL 5
2. Nginx

### Steps to reproduce

1. Set **Catalog Price Rule** for some **SKU's** belongs to the Category **X**
2. Set **Cart Price Rule** for the Category **X** and add a coupon code **Test** to this
3. Now add two items to the cart, one have Catalog Price Rule applied and another without it.
4. Go to the cart and apply the coupon code Test

[2018-03-23 08:15] shenmusam commented on #2139
Yes we're still experiencing issues with this.
![image](https://user-images.githubusercontent.com/37282394/37818491-4322eda2-2eb5-11e8-98e0-67e3ec230d2e.png)
![image](https://user-images.githubusercontent.com/37282394/37818509-530f8270-2eb5-11e8-9b9e-ff647a832a9d.png)

[2018-03-23 08:18] wescey commented on #12828
Have an M2.2 installation and problem exists if using ad/tracking blocker on Safari.

[2018-03-23 08:33] magento-engcom-team commented on #14248
@jb-dg , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-23 08:36] nmallepally commented on #9497
@adinca  This setting was already enabled for me, and still i was getting this error, did you do anything else apart from enabling this option?.

[2018-03-23 08:43] adamlavery commented on #12983
Oh @fluential, if only it were that simple! I don't yet know if it's related to Temando, but thanks to someone else posting on [StackExchange](https://magento.stackexchange.com/questions/167894/magento-2-shipping-method-not-working-sorry-no-quotes-are-available-for-this), I found a JS kludge. Adding the following to billing-address.js at line 56 fixes it:

[code]

I'm going to do some browser-side

[2018-03-23 08:52] #14258 closed, assigned to nobody

[2018-03-23 08:55] magento-engcom-team commented on #14221
Ok, @taimaiduc, for now we've had a ready to use instance with 10.0.30-MariaDB, but the issue is still not reproduced on it. Later we'll try to repeat it using 10.0.33-MariaDB. Do You think that last digit is critical for reproduction?

[2018-03-23 09:02] walterbak commented on #10489
@speedupmate can you post your observer/trick you have realized please? So we'll get an idea about the potentially solution, waiting for the Magento bug fix. Thanks

[2018-03-23 09:04] ihor-sviziev commented on #10650
@johnny-longneck thank you for clarifying. Specially I'd like to add these fixes directly into magento, it will fix issues for a much more people than separate module. Is there any list of issues and how they were fixed in your module?

[2018-03-23 09:11] sunilwebcreation opened #14283 "An error occurred on the server. Please try to place the order again."
### Preconditions

1. PHP Version 7.0.21
2. Magento ver. 2.1.5

### Steps to reproduce

1. Issue with Paypal payflow pro
2. Getting "An error occurred on the server. Please try to place the order again." when place order by using Paypal payflow pro, while paypal express checkout working fine.
3

### Expected result

1.

### Actual result

1. [Screenshot, logs]

I have spend too much time on this a

[2018-03-23 09:11] kemexyz commented on #9497
I can not confirm that setting "Stores > Configuration > Sales > Checkout > Checkout Options > Allow Guest Checkout" to "yes" will resolve this issue, my shop had this to set to yes since launch.

"Stores > Configuration > Sales > Checkout > Checkout Options > Allow Guest Checkout" Is set to yes per Magento 2 default. So unless this was set to "no" it should be enabled.

[2018-03-23 09:11] #12782 closed, assigned to andrewbess

[2018-03-23 09:20] lenovike opened #14284 "In layered navigation the price filter block does not show an active filter"
### Preconditions
Magento EE 2.2.3 + sample data

When you select some of price filter it dissapear from price filter block but it's active

### Steps to reproduce
1. Go to category with layered navigantion
2. Select price filter
If it doesn't reproduce add one more attribute
<img width="1338" alt="screen shot 2018-03-23 at 11 08 07 am" src="https://user-images.githubusercontent.com/6093318/378213

[2018-03-23 09:30] magento-engcom-team commented on #14220
@VipulAniya, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-23 09:32] SergeyDmitruk commented on #1821
#distributed-cd

[2018-03-23 09:33] magento-engcom-team commented on #1821
@SergeyDmitruk thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-23 09:42] tolyantrain commented on #12655
#distributed-cd

[2018-03-23 09:43] magento-engcom-team commented on #12655
@tolyantrain thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-23 09:45] ferrazzuk commented on #12655
#distributed-cd

[2018-03-23 09:46] magento-engcom-team commented on #12655
@ferrazzuk thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-23 09:48] ishakhsuvarov commented on #14262
Closing. Should be reopened in the scope of https://github.com/magento/up-for-grabs

[2018-03-23 09:48] #14262 closed, assigned to nobody

[2018-03-23 09:48] ishakhsuvarov commented on #14261
Closing. Should be reopened in the scope of https://github.com/magento/up-for-grabs

[2018-03-23 09:48] #14261 closed, assigned to nobody

[2018-03-23 09:48] ishakhsuvarov commented on #14259
Closing. Should be reopened in the scope of https://github.com/magento/up-for-grabs

[2018-03-23 09:48] #14259 closed, assigned to nobody

[2018-03-23 09:48] ishakhsuvarov commented on #14257
Closing. Should be reopened in the scope of https://github.com/magento/up-for-grabs

[2018-03-23 09:48] #14257 closed, assigned to nobody

[2018-03-23 09:48] ishakhsuvarov commented on #14256
Closing. Should be reopened in the scope of https://github.com/magento/up-for-grabs

[2018-03-23 09:48] #14256 closed, assigned to nobody

[2018-03-23 09:49] ishakhsuvarov commented on #14255
Closing. Should be reopened in the scope of https://github.com/magento/up-for-grabs

[2018-03-23 09:49] #14255 closed, assigned to nobody

[2018-03-23 09:49] ishakhsuvarov commented on #14254
Closing. Should be reopened in the scope of https://github.com/magento/up-for-grabs

[2018-03-23 09:49] #14254 closed, assigned to nobody

[2018-03-23 09:49] ishakhsuvarov commented on #14253
Closing. Should be reopened in the scope of https://github.com/magento/up-for-grabs

[2018-03-23 09:49] #14253 closed, assigned to nobody

[2018-03-23 09:49] ishakhsuvarov commented on #14251
Closing. Should be reopened in the scope of https://github.com/magento/up-for-grabs

[2018-03-23 09:49] #14251 closed, assigned to nobody

[2018-03-23 09:56] KravetsAndriy commented on #8837
#distributed-cd

[2018-03-23 09:57] magento-engcom-team commented on #8837
@KravetsAndriy thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-23 10:03] NikZh commented on #5937
#distributed-cd

[2018-03-23 10:04] magento-engcom-team commented on #5937
@NikZh thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-23 10:06] tolyantrain commented on #5077
#distributed-cd

[2018-03-23 10:18] sidolov commented on #11263
Hi @eharvest , i can't reproduce this issue on current 2.2-develop branch

[2018-03-23 10:18] #11263 closed, assigned to nobody

[2018-03-23 10:21] peterjaap commented on #6350
As far as I can see this is the only relevant commit; https://github.com/magento/magento2/commit/72e9e0732b98ea5b8f47bddc781dc47c688c3c58

[2018-03-23 10:29] ansukhorukova commented on #9486
#distributed-cd

[2018-03-23 10:30] magento-engcom-team commented on #9486
@ansukhorukova thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-23 10:30] magento-engcom-team commented on #14172
@jonathanKingston, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-23 10:32] ilnytskyi commented on #5502
#distributed-cd

[2018-03-23 10:33] magento-engcom-team commented on #5502
@ilnytskyi thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-23 10:35] RomanMichak commented on #5037
#distributed-cd

[2018-03-23 10:36] magento-engcom-team commented on #5037
@RomanMichak thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-23 10:40] Deep256 commented on #9486
#distributed-cd

[2018-03-23 10:41] magento-engcom-team commented on #9486
@Deep256 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-23 10:51] gridl commented on #13962
#distributed-cd

[2018-03-23 10:51] magento-engcom-team commented on #5937
@NikZh Thank you for investigating.

@vigoss-ru thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to repo

[2018-03-23 10:51] #5937 closed, assigned to nobody

[2018-03-23 10:52] magento-engcom-team commented on #13962
@gridl thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-23 10:53] Zifius commented on #10395
I'll take this, field length needs to be updated in the quote table as well

[2018-03-23 10:59] terrybakshi commented on #9497
ok my issue was sorted out. First turn off the minify of CSS, JS and HTML and also if you are using any cache platform like cloudflare or any other do the same in them too turn off minify of CSS, JS and HTML from cloudflare too and then clear magento and cloudflare full cache and check.

[2018-03-23 11:05] magento-engcom-team commented on #5863
Hi @kayintveen. Thank you for your report.
The issue has been fixed in magento/magento2#14252 by @rostyslav-hymon in 2.3-develop branch
Related commit(s):
 - [03e0a0b007c7d1f8a7f82d685a5e99aa1cd9e7c3](https://github.com/magento/magento2/commit/03e0a0b007c7d1f8a7f82d685a5e99aa1cd9e7c3)
 - [1322d8be3e64695effbfb525a22c3aed02587b1e](https://github.com/magento/magento2/commit/1322d8be3e64695effbfb525a

[2018-03-23 11:05] magento-engcom-team commented on #8227
Hi @philipvandebriel. Thank you for your report.
The issue has been fixed in magento/magento2#14252 by @rostyslav-hymon in 2.3-develop branch
Related commit(s):
 - [03e0a0b007c7d1f8a7f82d685a5e99aa1cd9e7c3](https://github.com/magento/magento2/commit/03e0a0b007c7d1f8a7f82d685a5e99aa1cd9e7c3)
 - [1322d8be3e64695effbfb525a22c3aed02587b1e](https://github.com/magento/magento2/commit/1322d8be3e64695effb

[2018-03-23 11:05] magento-engcom-team commented on #8957
Hi @MarcoGrecoBitbull. Thank you for your report.
The issue has been fixed in magento/magento2#14252 by @rostyslav-hymon in 2.3-develop branch
Related commit(s):
 - [03e0a0b007c7d1f8a7f82d685a5e99aa1cd9e7c3](https://github.com/magento/magento2/commit/03e0a0b007c7d1f8a7f82d685a5e99aa1cd9e7c3)
 - [1322d8be3e64695effbfb525a22c3aed02587b1e](https://github.com/magento/magento2/commit/1322d8be3e64695eff

[2018-03-23 11:05] magento-engcom-team commented on #10073
Hi @sergei-sss. Thank you for your report.
The issue has been fixed in magento/magento2#14252 by @rostyslav-hymon in 2.3-develop branch
Related commit(s):
 - [03e0a0b007c7d1f8a7f82d685a5e99aa1cd9e7c3](https://github.com/magento/magento2/commit/03e0a0b007c7d1f8a7f82d685a5e99aa1cd9e7c3)
 - [1322d8be3e64695effbfb525a22c3aed02587b1e](https://github.com/magento/magento2/commit/1322d8be3e64695effbfb525a

[2018-03-23 11:05] magento-engcom-team commented on #13216
Hi @vaaralav. Thank you for your report.
The issue has been fixed in magento/magento2#14250 by @mastiuhin-olexandr in 2.3-develop branch
Related commit(s):
 - [c71e7acb4e13e3b2848a77353345de1b03fe0d5e](https://github.com/magento/magento2/commit/c71e7acb4e13e3b2848a77353345de1b03fe0d5e)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-23 11:05] magento-engcom-team commented on #13240
Hi @koenner01. Thank you for your report.
The issue has been fixed in magento/magento2#14252 by @rostyslav-hymon in 2.3-develop branch
Related commit(s):
 - [03e0a0b007c7d1f8a7f82d685a5e99aa1cd9e7c3](https://github.com/magento/magento2/commit/03e0a0b007c7d1f8a7f82d685a5e99aa1cd9e7c3)
 - [1322d8be3e64695effbfb525a22c3aed02587b1e](https://github.com/magento/magento2/commit/1322d8be3e64695effbfb525a2

[2018-03-23 11:05] magento-engcom-team commented on #13117
Hi @mak0605. Thank you for your report.
The issue has been fixed in magento/magento2#13220 by @enriquei4 in 2.3-develop branch
Related commit(s):
 - [15477afc1b7a66a8fd81776dc7c0d5e3a7193991](https://github.com/magento/magento2/commit/15477afc1b7a66a8fd81776dc7c0d5e3a7193991)
 - [2eeb633245caf20a6afa5e96b7f224bac7111414](https://github.com/magento/magento2/commit/2eeb633245caf20a6afa5e96b7f224bac7

[2018-03-23 11:10] ilnytskyi commented on #5502
Tried to reproduce on 2.2-develop and 2.1-develop
Can not be reproduced.

For 2.1-develop need to enable **Use Categories Path for Product URLs**  in
Stores -> Configuration -> Catalog -> Catalog
to see full path of breadcrumbs

[2018-03-23 11:25] phpworld opened #14286 "CUSTOMER REGISTRATION IS NOT WORKING"
I am useing MAGENTO 2.2.2 VERSION FRESH INSTALLATION

THAT CUSTOMER REGISTRATION NOT WORKING

MY BROWSER IS  GOOGLE CHROME

THNAKS

[2018-03-23 11:30] magento-engcom-team commented on #14261
@chernenm, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-23 11:34] mwaheed92 commented on #13612
Hi,
I have noticed this issue today after trying to display the "Quantity" attribute in the product page

- go to product attribute -> select Quantity one -> Storefront Properties -> Change Visible on Catalog Pages on Storefront to Yes

I still don't know why this happen

Regards,

[2018-03-23 11:34] magento-engcom-team commented on #14286
@phpworld , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2018-03-23 11:40] andrewbess commented on #13765
#distributed-cd

[2018-03-23 12:03] guillermogallego opened #14287 "API REST product images, Label in one website and roles in other"
### Preconditions
Magento 2.2.3
Php 7.1
Centos 7 with CPANEL
I configure 3 Websites and theirs views

### Steps to reproduce

1) Create a product with API REST for websites id 1 and 3

`Array
(
    [sku] => DS-100-101
    [name] => Daale Swim Bañador Bizarre Training
    [attribute_set_id] => 9
    [status] => 1
    [visibility] => 4
    [type_id] => configurable
    [media_gallery_entries] => Arr

[2018-03-23 12:29] magento-engcom-team commented on #14272
Hello @pixiemediaweb. Thanks for reporting. Currently we've been not able to reproduce Your issue. Probably there is something we've missed. So we had 2 websites with the following structure:
![sites](https://user-images.githubusercontent.com/31669971/37828223-0ce56ca4-2ea3-11e8-8b44-75061cbcac05.png)
Then we created Category A with 5 subcategories each of them having two products:
![categories](h

[2018-03-23 12:30] magento-engcom-team commented on #14267
@jonathanKingston, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-23 12:30] magento-engcom-team commented on #14274
@jonathanKingston, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-23 12:31] ilnytskyi commented on #5532
#distributed-cd

[2018-03-23 12:39] duffner commented on #11263
@sidolov, @magento-engcom-team, @eharvest @patrikpihlstrom

I've tested on both an OpenSource Magento 2.2.3 and Commerce edition 2.2.3 and this issue is easily reproducible.  I think the steps were followed too literally in testing.

1.  Install Magento with Sample Data
2. Go-to Stores -> Attributes -> Product
3. Select an existing Dropdown attribute such as color
4. Add two options, leave the sec

[2018-03-23 12:55] andrewhowdencom commented on #13929
Obligatory: github.com/sitewards/magento2-fix13929

[2018-03-23 12:58] orlangur commented on #14283
@sunilwebcreation,

`if ($validator->validate($response, $transparentModel) === false) {`

What is the response and why it does not pass validation?

[2018-03-23 13:04] orlangur commented on #14279
Hi @Puru2016, did you have a chance to track down why the value is not saving?

[2018-03-23 13:07] gridl commented on #13962
it seems like  unconditionally reassignment just after conditional ones:

``
    /**
     * @param CartInterface $quote
     * @param AddressInterface $address
     * @param string $method
     * @return CartInterface
     */
    private function prepareShippingAssignment(CartInterface $quote, AddressInterface $address, $method)
    {
        $cartExtension = $quote->getExtensionAttributes();

[2018-03-23 13:11] Puru2016 commented on #14279
Not able to find the cause of this issue as I am using the same script in magento 2.1.10, and it's working fine.

[2018-03-23 13:14] bordeo commented on #13582
I made a pull request to resolve this issue 20 days ago.
Someone could make a check and merge it?
Thank you

[2018-03-23 13:15] tanko commented on #6924
This is still an issue with Magento 2.2.3.
If grouped product with SKU 01.001A is added, it throws an error. SKU with small letter 'a' like 01.001a imports ok.

General system exception happened
Additional data:
Notice: Undefined index: 01.001A in vendor/magento/module-grouped-import-export/Model/Import/Product/Type/Grouped.php on line 102

[2018-03-23 13:16] pixiemediaweb commented on #14272
The only difference I can think of is that the products on our client's instance have been created initially with a spreadsheet import, and then with API calls.  Presume you created your products manually in admin?

[2018-03-23 13:17] pixiemediaweb commented on #14272
and can you tell me at what point a store filter is applied to the category collection?

[2018-03-23 13:27] magento-engcom-team commented on #14272
@pixiemediaweb, we just entered the wanted site then entered that "A" category page,  and the filters had already been there if You mean this. Or You mean something else?

[2018-03-23 13:31] pixiemediaweb commented on #14272
thanks for the reply, I mean where in the code does the store filter get applied to the category filter ?  The method I found and modified in my third post certainly didnt take multi-store into account and I couldn't spot the products/categories attempt to get filtered out further along the process.

[2018-03-23 13:32] magento-engcom-team commented on #14279
@Puru2016 , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2018-03-23 13:32] #14279 closed, assigned to nobody

[2018-03-23 13:33] gridl commented on #13962
and in "TotalsInformationManagement"

``
$this->validateQuote($quote);

        if ($quote->getIsVirtual()) {
            $quote->setBillingAddress($addressInformation->getAddress());
        } else {
            $quote->setShippingAddress($addressInformation->getAddress());
            $quote->getShippingAddress()->setCollectShippingRates(true)->setShippingMethod(
                $addressInformat

[2018-03-23 13:35] magento-engcom-team commented on #14283
@sunilwebcreation ,thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-23 13:38] magento-engcom-team commented on #14009
@petravm , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-23 13:38] #14009 closed, assigned to nobody

[2018-03-23 13:42] ShuklinAM commented on #7465
Not fixed in 2.2.2

[2018-03-23 13:47] magento-engcom-team commented on #14243
@gawpo50, We were not able to reproduce this issue by following the steps you provided. Please try to reproduce this issue on a clean installation without any third-party dependencies.

[2018-03-23 13:50] vasylmalanka commented on #13421
After a discussion with Magento community developer, I found this issue meaningless - a customer should have an ability to save a bundle product without bundle options. It will not be visible in the catalog without options anyway. Also, there are a lot of fixtures already written with bundle product saving without options.

[2018-03-23 14:30] magento-engcom-team commented on #14076
@ioweb-gr, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-03-23 14:30] magento-engcom-team commented on #13925
@jsiefer, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-23 14:30] #13925 closed, assigned to nobody

[2018-03-23 14:50] jkummer opened #14289 "Customer Group Price with discount not working for Special Prices"
### Preconditions

1. Magento 2.2.3
2. PHP 7.1.9

### Steps to reproduce

1. Add a Simple Product to a configurable product
2. Go to Advanced Pricing of the simple product and add a Special Price
3. Add a Customer Group Price with "Discount" as Price (not "Fixed")
4. Save the product
5. Go to frontend and reload the product

### Expected result

1. The Discount should be be used for the Special Pr

[2018-03-23 16:00] ilnytskyi commented on #5532
This problem is actual for only for 2.1 it is fixed in further versions.
The real issue is in the incorrect generations of js-translations.json (is does not contain necessary lines) and solved for 2.2 in
https://github.com/magento/magento2/issues/3771

[2018-03-23 16:00] #5532 closed, assigned to ilnytskyi

[2018-03-23 16:22] PiroozMB opened #14291 "sales rule condition - shipping method redirects to dashboard with 404 error"
migrated my magento 1.9.3.0 to magento 2.2.3 (and once migrated it to 2.1.9).
I go to Marketing->catalog price rules->add new rule. in the condition section when i choose "shipping method" then it shows temporarily a message saying "won't take long" and then redirects to this link: http://blahblah/blahblah/sales_rule/index/index/key/ec804cf3ecd049ff913d524e390f134c0e2245ed96226c573761460df08ca6ec/

[2018-03-23 16:26] magento-engcom-team commented on #14235
@Sylvesterx1 , thank you for your report.
Please try to reproduce this issue on a clean installation with default theme without any third-party dependencies.

[2018-03-23 17:25] tkacheva commented on #14281
@RishabhRkRai do you use _Discard subsequent rules_ for catalog rule?

http://docs.magento.com/m2/ce/user_guide/marketing/price-rules-catalog.html

[2018-03-23 17:34] bobemoe opened #14294 "Since MagentoCE2.1.11, after swithing store view, ___store=xx is added to url. Breaks 'back' functionality."
### Preconditions
PHP 7.0.27-1-dotdeb+8.1 (cli) ( NTS )
Zend Engine v3.0.0, Copyright (c) 1998-2017 Zend Technologies
    with Zend OPcache v7.0.27-1-dotdeb+8.1, Copyright (c) 1999-2017, by Zend Technologies

nginx version: nginx/1.12.2

Linux 3.16.0-5-amd64 #1 SMP Debian 3.16.51-3+deb8u1 (2018-01-08) x86_64 GNU/Linux

mysql  Ver 15.1 Distrib 10.0.32-MariaDB, for debian-linux-gnu (x86_64) using re

[2018-03-23 18:04] sidolov commented on #14267
Hi @jonathanKingston. Thank you for your report.
The issue has been fixed in magento/magento2#14270 by @jonathanKingston in 2.3-develop branch
Related commit(s):
 - [6c46def154a3c43cc9a9f7518761e7ed09dc71a3](https://github.com/magento/magento2/commit/6c46def154a3c43cc9a9f7518761e7ed09dc71a3)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-23 18:04] sidolov commented on #14172
Hi @jonathanKingston. Thank you for your report.
The issue has been fixed in magento/magento2#14173 by @jonathanKingston in 2.3-develop branch
Related commit(s):
 - [e501f679ffb622160ff8b8c20ac60334ff93c89a](https://github.com/magento/magento2/commit/e501f679ffb622160ff8b8c20ac60334ff93c89a)
 - [0684b13d66bcbf47f46fcc439ae6dbdcf7efc0a8](https://github.com/magento/magento2/commit/0684b13d66bcbf47f4

[2018-03-23 18:20] peterjaap commented on #8084
@farbewerk could you open an issue for your 500 errors at https://github.com/elgentos/LargeConfigProducts/issues ?

[2018-03-23 18:21] amon81 opened #14295 "Customer registration and login doesn't work with Browser Chrome"
### Preconditions

1. Ubuntu as OS
2. Server Web is Apache 2 and PHP 7.0
3. I've try saving session in DB and files mode (the mode not change the result)
4. TimeZone is set to Europe/Rome in the php.ini configuration file and in magento config.
5. Frontend and backend site under HTTPS protocol

### Steps to reproduce

1. New installation via composer of Magento 2.2.3 Community
2. After the install

[2018-03-23 18:25] amon81 commented on #14286
#14295

[2018-03-23 18:47] ilnytskyi commented on #6119
Can not reproduce on 2.3-develop

[2018-03-23 19:35] sebfie commented on #7199
Any update on this?

[2018-03-23 20:14] sylink commented on #10650
Yes most people agree @johnny-longneck , waiting on Magento to release a fix is a complete waste of time when problems exist in the present, not the next release so we move on.

Instead we get more 3rd party stuff added in releases which is basically an advertisement for a given vendor.

[2018-03-23 20:46] ragboyjr commented on #12428
@thomas-blackbird Ya, it fixed it for me at least. That load gif stays there because there was an error in the JS code, and where there isn't an error handler setup, requirejs just poops.

[2018-03-23 20:57] mariamghalleb opened #14296 "Configurable product with bad behavior in front end"
### Preconditions
1. php 7.3
2. Magento 2.4

### Steps to reproduce

1. Create a configurable product that has different configurations, which are a variation of 4 dropdown attributes and one color swatch attribute

### Expected result

1.  A Configurable product that works fine.
### Actual result
In front end, the configurable product acts weird: the prices of each simple product don't show, the

[2018-03-23 20:57] ericvhileman commented on #10650
@ihor-sviziev

1. We're a hosting provider with many live customers on M2 with this problem.  We need a fix right now and one that works for every version.

2. We don't know what Magento's own plans are for a fix.  This cron issue has been open for a very long time.  It has not been properly addressed.  It is impacting customers severely.  See #1.

3. We submitted a PR with fixes initially.  No re

[2018-03-23 21:07] Sairam9519 commented on #7265
I have used all the following url for authoirize.net account setup in Magento 2.2.3 but still getting same error "Sorry, but something went wrong. Please contact the seller"
Sandbox URLs:
https://test.authorize.net/gateway/transact.dll - gateway
https://apitest.authorize.net/xml/v1/request.api - transaction details

I'm attaching my transaction.dll
![authorizenet](https://user-images.githubusercon

[2018-03-23 22:28] gawpo50 commented on #14243
The problem has been solved. Cause of original problem was the hosting platform I was using. After transitioning back to a shared host platform....all errors disappeared and site now works properly. Thanks for all the ideas and help from everybody.

[2018-03-23 22:56] ghost opened #14297 "Session-based authentication for REST API in admin"
The documentation at http://devdocs.magento.com/guides/v2.2/get-started/authentication/gs-authentication-session.html states:

"For example, if a customer is logged in to the Magento storefront and the JavaScript widget invokes the self API, details for the logged-in customer are fetched:

GET /rest/V1/customers/me

_Similarly, if an admin is logged in to the Magento Admin and the JavaScript widge

[2018-03-23 23:20] SamB-GB commented on #5657
@magento-engcom-team I am still seeing this on 2.2.3 as well

[2018-03-23 23:58] jonathanKingston commented on #14295
I couldn't reproduce this, @amon81 were you creating the account then signing out, and logging in again?

[2018-03-24 06:27] amon81 commented on #14295
I've the local website under virtual host with domain like HTTPS://commerce
I have frontend and backend site under HTTPS protocol...

[2018-03-24 06:41] creotech opened #14298 "Menus are Not expanding in local"
Hi Team,
If we click on magento2  menus then list of sub menus are not displaying some times.

[2018-03-24 07:49] ishakhsuvarov commented on #14295
@amon81 Please check browser console errors, error logs on the server, etc.
This flow is covered with different kind of automated tests and unlikely to be broken out of the box.

[2018-03-24 08:13] amon81 commented on #14295
@ishakhsuvarov I've that cookies are dated like 1969 and the browser think that are old sessions.... No errors in console..

[2018-03-24 08:17] ishakhsuvarov commented on #14286
@phpworld Closing this issue in favor of #14295

[2018-03-24 08:17] #14286 closed, assigned to nobody

[2018-03-24 09:25] swnsma commented on #10057
#distributed-cd

[2018-03-24 09:26] magento-engcom-team commented on #10057
@swnsma thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 09:28] #6119 closed, assigned to nobody

[2018-03-24 09:29] orlangur commented on #14295
@amon81,

Try to use normal domain name, see https://github.com/magento/magento2/issues/13423#issuecomment-362248464 for more details.

Would be nice to disallow domain name without a period on during installation though. Are you interested in implementing such an improvement maybe?

[2018-03-24 09:29] #14295 closed, assigned to nobody

[2018-03-24 09:30] #14172 closed, assigned to nobody

[2018-03-24 09:30] drashmk commented on #14274
I’m working on it #distributed-cd

[2018-03-24 09:31] magento-engcom-team commented on #14274
@drashmk thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 09:40] mgarciaavz commented on #13573
I'm working on this #distributed-cd

[2018-03-24 09:41] magento-engcom-team commented on #13573
@mgarciaavz thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 09:41] crisdiaz commented on #7428
I´m working on it #distributed-cd

[2018-03-24 09:41] astyczen commented on #8777
#distributed-cd

[2018-03-24 09:42] magento-engcom-team commented on #7428
@crisdiaz thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 09:42] magento-engcom-team commented on #8777
@astyczen thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 09:43] kraputa-sintra commented on #6300
#distributed-cd

[2018-03-24 09:43] arturj79 commented on #8700
#distributed-cd

[2018-03-24 09:43] k-raputa commented on #6300
#distributed-cd

[2018-03-24 09:44] magento-engcom-team commented on #6300
@kraputa-sintra thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 09:44] magento-engcom-team commented on #8700
@arturj79 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 09:44] magento-engcom-team commented on #6300
@k-raputa thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 09:54] obatkova commented on #4301
#distributed-cd

[2018-03-24 09:54] mishanino commented on #6367
#distributed-cd

[2018-03-24 09:55] magento-engcom-team commented on #4301
@obatkova thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 09:55] magento-engcom-team commented on #6367
@mishanino thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 09:55] obatkova commented on #5927
#distributed-cd

[2018-03-24 09:56] magento-engcom-team commented on #5927
@obatkova thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 09:57] danslo commented on #9002
@ishakhsuvarov Why was this one moved back to TODO? Seemed it was fixed in #11937.

[2018-03-24 09:59] osrecio commented on #14072
Working on it #distributed-cd

[2018-03-24 10:00] magento-engcom-team commented on #14072
@osrecio thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 10:04] kniemiecvirtua commented on #5730
#distributed-cd

[2018-03-24 10:05] magento-engcom-team commented on #5730
@kniemiecvirtua thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 10:10] mcspronko commented on #7253
#distributed-cd

[2018-03-24 10:11] magento-engcom-team commented on #7253
@mcspronko thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 10:17] danslo commented on #9274
#distributed-cd

[2018-03-24 10:18] magento-engcom-team commented on #9274
@danslo thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 10:21] kandy commented on #14155
Performance toolkit has been developed to run on clean Magento so I close tickets as irrelevant

[2018-03-24 10:21] #14155 closed, assigned to nobody

[2018-03-24 10:24] langowskiadam commented on #9988
#distributed-cd

[2018-03-24 10:25] magento-engcom-team commented on #9988
@langowskiadam thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 10:27] mikewhitby commented on #7816
I'm working on the backport #distributed-cd

[2018-03-24 10:28] magento-engcom-team commented on #7816
@mikewhitby thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 10:31] mespinosaz commented on #5664
#distributed-cd

[2018-03-24 10:36] stephan-cream commented on #14220
I’m working on it #distributed-cd

[2018-03-24 10:46] ArjenMiedema commented on #14298
Can you please explain your issue a bit more clear, following these guidelines: https://github.com/magento/magento2/wiki/Issue-reporting-guidelines.

It's not clear now what the actual issue is, what you did yourself, which version it's happening with, etc.

[2018-03-24 10:47] KravetsAndriy commented on #7121
#distributed-cd

[2018-03-24 10:50] ArjenMiedema commented on #14297
The Github issues are only for issues within Magento 2. For questions like this, please ask your question on the [Magento Community Forums](https://community.magento.com/) or [StackOverflow](https://magento.stackexchange.com/).

[2018-03-24 10:54] MikeParkin commented on #6141
Looking at this as part of  #distributed-cd

[2018-03-24 10:55] magento-engcom-team commented on #6141
@MikeParkin thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 10:58] MikeParkin commented on #6141
Checking the history of lib/web/mage/validation.js it appears that translations for all of the strings has been added on 2.1, 2.2 and 2.3:

2.1-develop bd63082191de
2.2-develop/2.3 3109c8e96bcd

Going to close this issue.

[2018-03-24 10:58] #6141 closed, assigned to MikeParkin

[2018-03-24 11:01] orlangur commented on #14249
@cdiacon your suggestion looks perfectly valid to me, could you please prepare a pull request?

Generally, when you see something in code you would like to change, it can be proposed directly as pull request, there is no need in reporting issue first.

[2018-03-24 11:07] osrecio commented on #14089
Working on it #distributed-cd

[2018-03-24 11:17] r-bielawski commented on #5770
#distributed-cd

[2018-03-24 11:18] magento-engcom-team commented on #5770
@r-bielawski thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 11:22] ArjenMiedema opened #14307 "Possible to press the "Previous" button while in the first step of the installation"
### Preconditions
1.  PHP 7.0.27
2. Magento 2.2-develop

### Steps to reproduce
1. Clone the Magento 2 repository from Github on your local environment
2. Open your browser to start the installation process
3. Click the "Agree and Install Magento" button
4. When in the first step of the installation process, click the "Previous" button

### Expected result
1. It's impossible to go to the previous

[2018-03-24 11:29] MateuszChrapek commented on #6879
#distributed-cd

[2018-03-24 11:29] cream-julian commented on #13338
I'm working on this. #distributed-cd

[2018-03-24 11:30] magento-engcom-team commented on #6879
@MateuszChrapek thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 11:35] MikeParkin commented on #10158
Spent some time trying to re-create this issue without success.

I enabled asynchronous admin grids, placed a couple of test orders and they have appeared. I then created invoices for the orders and they also appeared.

I tested disabling the cron job and placed the same tests, these did not appear (as expected). Re-enabling the cron then creates the new records.

I've tested this on the 2.3-devel

[2018-03-24 11:35] #10158 closed, assigned to MikeParkin

[2018-03-24 11:44] mrodespin commented on #14119
I think this is not an issue is just a documentation problem.

If you don't specify any store code the API will update the data in the same store that you are using in the API, in a regular magento installation, it means store code 1 or default.

This means that de admin store will keep the older information about the category. If you want to change the information in the admin too is necessary to

[2018-03-24 11:46] kamilszarmach commented on #5321
#distributed-cd

[2018-03-24 11:46] magento-engcom-team commented on #5321
@kamilszarmach thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 11:51] mrodespin commented on #14119
#distributed-cd

[2018-03-24 11:52] magento-engcom-team commented on #14119
@mrodespin thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 11:52] ishakhsuvarov commented on #7877
Reopening, due to reports that issue is still reproducible.

[2018-03-24 11:56] dmanners commented on #14264
Hi @woakley you can use https://github.com/magento/magento2/wiki/Magento-Issue-Gates#gate-1---automatic-verification to see what needs to be in an issue report to get a G1 Pass. My guess is that as the issue is not using the complete issue template there are some parts that the system cannot pick up automatically.

[2018-03-24 11:56] mgarciaavz commented on #14056
I'm working on this #distributed-cd

[2018-03-24 12:03] #14119 closed, assigned to mrodespin

[2018-03-24 12:08] guidokudo commented on #9280
Hi, is there any update on this issue?
We currently have around 5000 products (57000 including variations) each variation has 4-5 images. We insert products (attributes, etc.) with a separate script. Download images with separate script. Although some images might be as big as 3-4mb it takes only 1-2 hours for both scripts finish their jobs. Now then we run our 3 script, to assign image to product

[2018-03-24 12:17] maxbucknell opened #14312 "GraphQL `ProductFilterInput` Requires Field to be a String"
Every field of the `ProductFilterInput` input field in `Magento_CatagolGraphQl::etc/graphql.xml` has the type `FilterTypeInput`. The problem here is that `FilterTypeInput` requires most of its arguments to be strings.

For example, I might want to select products that do not have a special price set. This might be some query like:

[code]

The devdocs, and basic intuition seem to suggest this is o

[2018-03-24 12:21] EirikSl opened #14313 "Missing CSS during splitting styles to styles-m and styles-l"
### Preconditions
Magento 2.2

### Steps to reproduce
Put some styles in  media-width mixin with "max"  for @screen__l

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
   body {
      background-color: pink;
   }
}

Files styles-m.css and styles-l.css don't contain such style

### Expected result
in one of the compiled CSS files should be:
   body {
      backg

[2018-03-24 12:24] #5842 closed, assigned to MikeParkin

[2018-03-24 12:59] #14243 closed, assigned to nobody

[2018-03-24 13:03] ArjenMiedema commented on #14235
Have you checked the Magento logs on the server and the console in your browser? Most of the times that could be enough to find the source of the issue. If you found anything, please post it here. And as @magento-engcom-team said, check if the same issue occurs without a custom theme and/or third party integrations.

[2018-03-24 13:12] ArjenMiedema commented on #14167
Did you try this on a different server as well (i.e. your local installation or a server from another hosting provider) to see if you could reproduce it there? Just did a check on my local machine, which is a Mac OSX using Valet+ with PHP 7.0.27, and I could upload any image there using a supported file type.

[2018-03-24 13:14] ArjenMiedema commented on #14130
@shubh1105 can you please rewrite your issue following [the guidelines which you can find here](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines). With the information we have now it's not possible to help you out.

[2018-03-24 13:16] ArjenMiedema commented on #14087
Can you provide some more info, like the source the images are using? Could it be that you're trying to load an image that doesn't exist?

[2018-03-24 13:31] RishabhRkRai commented on #14281
@tkacheva I do that. I want to exclude the Catalog rules products form Cart Price rule.

[2018-03-24 13:33] MateuszChrapek commented on #6879
I've made pull request #14319 fixing this issue.

[2018-03-24 13:37] gawpo50 commented on #14167
The problem was the server host I was using....went to a different hosting package and all works now.

[2018-03-24 13:40] KravetsAndriy commented on #7121
@mrodespin Hello, do you still work on this issue?

[2018-03-24 13:51] amon81 commented on #14295
@orlangur wow , thanks

[2018-03-24 14:00] magento-engcom-team commented on #8168
Hi @anebi. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1031 by @RomaKis in 2.2-develop branch
Related commit(s):
 - [93a5c391495399a59f5ee922718890820e601d67](https://github.com/magento/magento2/commit/93a5c391495399a59f5ee922718890820e601d67)

The fix will be available with the upcoming 2.2.5 release.

[2018-03-24 14:00] #8168 closed, assigned to RomaKis

[2018-03-24 14:00] magento-engcom-team commented on #14109
Hi @brideo. Thank you for your report.
The issue has been fixed in magento/magento2#14128 by @brideo in 2.2-develop branch
Related commit(s):
 - [9b34bf96772808a447ec6b84a0dae433c5f02ea7](https://github.com/magento/magento2/commit/9b34bf96772808a447ec6b84a0dae433c5f02ea7)

The fix will be available with the upcoming 2.2.5 release.

[2018-03-24 14:00] #14109 closed, assigned to nobody

[2018-03-24 14:00] magento-engcom-team commented on #14138
Hi @woshka. Thank you for your report.
The issue has been fixed in magento/magento2#14091 by @orlangur in 2.2-develop branch
Related commit(s):
 - [9cd24a119e477564b4f8135305ddbf78a489b827](https://github.com/magento/magento2/commit/9cd24a119e477564b4f8135305ddbf78a489b827)

The fix will be available with the upcoming 2.2.5 release.

[2018-03-24 14:00] #14138 closed, assigned to nobody

[2018-03-24 14:17] bcerban commented on #5580
I'd like to work on this! #distributed-cd

[2018-03-24 14:18] magento-engcom-team commented on #5580
@bcerban thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 14:24] angelEbizmarts commented on #3266
Hello @NerminPh are you still having this problem with your upgrade? if it so, please I highly recommend you to create a new Ticket with a proper title to have someone to help you, because this one is about to how to downgrade to another version (which is not at all recommended, and imply to modify manually some DB information).

[2018-03-24 14:25] magento-engcom-team commented on #8868
@Tomasz-Silpion thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 14:27] mikewhitby commented on #13929
I'm working on it #distributed-cd

[2018-03-24 14:33] MikeParkin commented on #5491
I'm working on it #distributed-cd

[2018-03-24 14:35] osrecio commented on #14047
Working on it to create a Backport for 2.2 #distributed-cd

[2018-03-24 14:37] cream-julian commented on #14220
Basically when someone adds multiple rules for the same country it starts adding up these rules.
Example:
US-*(region)-*(postcode)-9%
US-Canada-*(postcode)-10%
US-Canada-90000-5%
This ends up resulting in 24% being calculated.
In reality there are cases where you would like the option to skip other rules from applying and only applying for example  US-Canada-90000-5% rule if you have entered the U

[2018-03-24 14:43] osrecio commented on #14047
@centminmod Was solved with [this commit](https://github.com/magento/magento2/commit/491ed56238c618d84fe2b6a6a5007ead43a64883#diff-3e6170893a81eae41948b1aa940dfe83) In the next minor release will be solved.

[2018-03-24 14:43] #14047 closed, assigned to osrecio

[2018-03-24 14:46] barbazul opened #14328 "Qty to ship and Qty to invoice are handling decimals poorly"
When working with products set up with is_qty_decimal, getQtyToShip and getQtyToInvoice sometimes return wrong values and cause orders to not be able to be completed

### Preconditions
1. Have a product setup to use decimal qty

### Steps to reproduce
1.  Complete an order with a product using qty = 4.4
2. Create an invoice for qty = 0.4
3. Refund the invoice
4. Create an invoice for qty = 4
5. Cr

[2018-03-24 14:46] facundocapua commented on #7626
#distributed-cd

[2018-03-24 14:47] magento-engcom-team commented on #7626
@facundocapua thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 14:47] MelissaEbizmarts commented on #6187
#distributed-cd

[2018-03-24 14:48] magento-engcom-team commented on #6187
@MelissaEbizmarts thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 14:53] barbazul commented on #14328
#distributed-cd

[2018-03-24 14:54] magento-engcom-team commented on #14328
@barbazul thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 14:54] barbazul commented on #14328
I am uncertain at the moment to go  with a simple round()

I'll probably do that but use a larger than usual precision (like 8 decimals) which should prove enough to deal with extremely small decimal numbers

[2018-03-24 15:00] osrecio commented on #13948
I can't reproducte it, with 2.2-develop. I clicked in `Web Setup Wizard` but redirect me to Dashboard.

[2018-03-24 15:08] orlangur commented on #14328
@barbazul rounding is not a good idea in general as error can accumulate. What should be really avoided is strict comparisons of float.

Looks like somewhere in Magento there is a check `qty == 0` which should actually be `qty < EPS`, where `EPS` is some small number like `1e-8`.

[2018-03-24 15:19] angelEbizmarts commented on #3266
Hello @NerminPh are you still having this problem with your upgrade? if it so, please I highly recommend you to create a new Ticket with a proper title to have someone to help you, because this one is about to how to downgrade to another version (which is not at all recommended, and imply to modify manually some DB information).

I’m working on it #distributed-cd

[2018-03-24 15:20] magento-engcom-team commented on #3266
@angelEbizmarts thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-03-24 15:23] #3266 closed, assigned to angelEbizmarts

[2018-03-24 15:34] MelissaEbizmarts commented on #5787
I wasn't able to reproduce with Magento 2.2-develop branch.

[2018-03-24 15:44] mrodespin commented on #13476
I have been testing this problem and i don't think is an issue because Magento show the correct final price "80.000" (following your steps)

The problem is that you are inserting a piece of code in the incorrect area.

Category product list price is rendered in "**view/base/templates/product/price/final_price.phtml**" template and the logic for category product listing is a little bit different th

[2018-03-24 15:47] MateuszChrapek commented on #5929
@wescey have you encountered this problem with fresh 2.2.2 install, or have you upgraded / migrated from one of the previous versions? It'd be helpful to pinpoint if this issue is linked with upgrading Magento version since I can't reproduce this problem with 2.2.2 version.

[2018-03-24 15:54] MikeParkin commented on #5491
I have tested this with the core PayPal Express implementation on 2.3-develop.

There are a few different issues raised in this ticket, so will try to address each of them separately:

1. Refunding an order with qty 0 and a adjustment refund

- Only positive numbers can be put into Adjustment Fee/refund (expected)
- Putting a value in Adjustment fee larger than the refund amount results in error "

[2018-03-24 15:54] #5491 closed, assigned to MikeParkin

[2018-03-24 15:59] bcerban commented on #5580
The problem here is in the request body data: in the examples, you are passing the attribute code as the `attribute_id` (an understandable mistake, since the interface accepts a string rather than an int value).

If you pass the attribute code, an entry in table `catalog_product_super_attribute` is saved, with `attribute_id = 0`. After that, it is impossible to load the product in `\Magento\Config

[2018-03-24 16:13] angelEbizmarts commented on #6305
I’m working on it #distributed-cd

[2018-03-24 16:42] barbazul commented on #14328
@orlangur That would require a much larger change. Becase both getSimpleQtyToShip and getQtyToInvoice are being in several places.

Changing each of the comparissions would hide the underlying problem and is not future proof as some new functionality might use those public methods and repeat the error

[2018-03-24 17:11] langowskiadam commented on #9988
Magento search require to provide always prefix of search query, that's why it find Test8632, but not 8632.
Magento search remove "-" and split query on parts. Each part must be longer then 2 chars. Unfortunately it not always working for 3 chars i.e. working for ccc, tes, but not for kkk. I attaching my
catalogsearch_fulltext_scope1 data.
[catalogsearch_fulltext_scope1.txt](https://github.com/mag

[2018-03-24 18:40] kfaer commented on #14278
@aredridel @jaywilliams @alepane21 @ivannpaz

[2018-03-24 18:51] cdiacon commented on #14249
Thanks @orlangur makes sense
Created a PR here https://github.com/magento/magento2/pull/14350

[2018-03-24 19:31] simpleadm opened #14351 "Product import doesn't change `Enable Qty Increments` field"
### Preconditions
1. Magento 2.2.2 (all magento 2 versions)
2. Option `Stores > Configuration > Catalog > Inventory > Enable Qty Increments` marked as 'Use Config Settings' (`No`)

### Steps to reproduce

1. Create simple product with 'Test Simple' `SKU`
2. Fill `Quantity`, `Stock Status` and required fields
3. Make sure that `Enable Qty Increments` ('Advanced Inventory') marked as `Use Config Set

[2018-03-24 21:43] mikewhitby commented on #5787
@MelissaEbizmarts what was the reason for re-opening this? Is it definitely fixed on 2.2?

[2018-03-24 22:41] mombrea commented on #5491
I can confirm that as of CE 2.2 we no longer experience this issue.

[2018-03-24 22:49] doctormess commented on #13948
![magento logo issue](https://user-images.githubusercontent.com/7372629/37869759-8f03a766-3022-11e8-8ca3-cbddc32f3049.png)

[2018-03-24 23:28] goncalotomas commented on #13398
Same as @paginasweb, I have 2.2.3 and I have this issue, although in my case it goes away when I turn off uBlock Origin. This needs to be reviewed again.

[2018-03-25 00:58] maxbucknell opened #14355 "Impossible to Filter Collection by `null` Attribute Value"
When loading an EAV collection, such as a product collection, it is impossible to filter a collection by specifying that the value of the attribute is `null`. This is because the collection generates an `INNER JOIN`, when it should be generating at least a `LEFT JOIN`.

I found this issue when researching magento/magento2/14312

### Preconditions

This was found on `2.3-develop`, and I haven't che

[2018-03-25 01:07] maxbucknell commented on #14312
After some research, I have found that this isn't what is causing this particular issue. While there is an issue with using the same `FilterTypeInput` field and requiring all fields to be a `String`, this particular issue is caused by magento/magento2/issues/14355, and I will fix that.

I believe that the `FilterTypeInput` issue does require further discussion, though.

[2018-03-25 01:14] drashmk commented on #6146
Looks like issue in [Zend\Mail\Transport\Sendmail](https://github.com/zendframework/zend-mail/blob/release-2.8.0/src/Transport/Sendmail.php) class. When return path is passed in the constructor, ` -f'[return_email]'` is added as parameter but also once again ` -f'[from_email]' `is added in  [prepareParameters](https://github.com/zendframework/zend-mail/blob/release-2.8.0/src/Transport/Sendmail.php

[2018-03-25 06:53] rasmuswikman commented on #14297
@ArjenMiedema What do you mean with "You're trying to use the REST API for a JavaScript, which is incorrect."?

The documentation at http://devdocs.magento.com/guides/v2.2/get-started/authentication/gs-authentication-session.html states:

"For example, if a customer is logged in to the Magento storefront and the JavaScript widget invokes the self API, details for the logged-in customer are fetched

[2018-03-25 08:55] jamesbrink commented on #13274
Hey, I cam across this exact same issue, as well as this thread from a google search. In the event anyone else runs into this issue it seems to be related to pcre.

I was running on Alpine linux with apache2 installed from the package repo and php 7.1 compiled from source. Interestingly enough the assert statement that triggers this error is a fairly simple regex. If i run the same statement in th

[2018-03-25 09:02] jamesbrink commented on #13274
@Khamulus

I suspect the phpbrew installation did not link to your systems pcre library.

[2018-03-25 10:02] cannycookie opened #14357 "zxcvbn.js included in merged.js"
zxcvbn.js is not included in our theme, but when js bundling and merging is enabled this 850Kb file is added to the merged script.

### Preconditions
1. Magento 2.2.1
2. Custom Theme

### Steps to reproduce
1. Enable a custom theme with no reference to password-strength-indicator or zxcvbn.js
2. create override for  magento-customer/view/frontend/requirejs-config.js and remove
``
passwordStrengthI

[2018-03-25 10:20] magento-engcom-team commented on #13992
Hi @ThisIsRuddy. Thank you for your report.
The issue has been fixed in magento/magento2#14304 by @cream-julian in 2.3-develop branch
Related commit(s):
 - [79c1b4f79f6f95eea0ee079d601974fc410693bd](https://github.com/magento/magento2/commit/79c1b4f79f6f95eea0ee079d601974fc410693bd)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-25 13:32] rasmuswikman commented on #14297
Seems like it's a bug:
https://github.com/magento/magento2/issues/9138

[2018-03-25 13:39] woshka commented on #14067
was this fixed on the latest 2.1.18 release?

[2018-03-25 13:39] rasmuswikman commented on #9138
I debugged with xdebug, and found that the user context is null and chosen user context gets set to guest instead of admin. In AdminSessionUserContext $this->_adminSession->hasUser() returns null on a request although logged in.

.../module-authorization/Model/CompositeUserContext.php
[code]

.../module-user/Model/Authorization/AdminSessionUserContext.php

[code]

[2018-03-25 13:40] rasmuswikman commented on #14297
I debugged with xdebug, and found that the user context is null and chosen user context gets set to guest instead of admin. In AdminSessionUserContext $this->_adminSession->hasUser() returns null on a request although logged in.

.../module-authorization/Model/CompositeUserContext.php
[code]

.../module-user/Model/Authorization/AdminSessionUserContext.php

[code]

[2018-03-25 13:40] rasmuswikman commented on #14297
Will leave further comments on the other ticket.

https://github.com/magento/magento2/issues/9138

[2018-03-25 13:41] rasmuswikman commented on #9138
@skymeissner @davidwindell Did you find any solution/workaround?

[2018-03-25 14:33] Nix-id opened #14359 "Customizable Options Type"
Can you give some working example how create "Option Type" with validation  for Product "Customizable Options" Tab

[2018-03-25 16:10] hostep commented on #13398
Hi guys, just FYI:

This sounds like a duplicate of https://github.com/magento/magento2/issues/12828, which got fixed by https://github.com/magento/magento2/pull/13061 and the fix will most likely be included in Magento 2.2.4.

[2018-03-25 18:00] rasmuswikman commented on #9138
Debugging further it seems like it has to do with duplicate cookies; the "PHPSESSID" cookie is used for the REST API but the "admin" cookie is used for admin. So authentication fails because the REST request reads from another session.

[2018-03-25 18:43] rasmuswikman commented on #10258
@piavgh Can you share some information on how you solved this?

I don't seem to be able to workaround it since Magento uses two cookies for authentication.

https://github.com/magento/magento2/issues/14297
https://github.com/magento/magento2/issues/9138

[2018-03-25 18:57] kandy commented on #12740
Looks like fixed in https://github.com/magento/magento2/pull/12497

[2018-03-25 19:50] gerben86 commented on #9369
Same issue overhere in Magento 2.2.3

`{{store direct_url="customer_service"}}` leads to customer_service/index/index/

[2018-03-26 01:27] erikhansen commented on #13929
@andrewhowdencom - For the record, I much prefer to fix core issues like this using the [cweagans/composer-patches](https://github.com/cweagans/composer-patches) approach that @osrecio [mentioned above](https://github.com/magento/magento2/issues/13929#issuecomment-374865576) rather than using a preference. The reason for this is that if the underlying code changes in a future version of Magento (w

[2018-03-26 02:18] conflicker commented on #10002
@magento-engcom-team is the fix also applicable in Magento EE?

[2018-03-26 02:44] anandmpatel commented on #12428
I am also facing the same issue, and I don't have Google Analytics enabled on my website.

did anyone find any permanent solution?

[2018-03-26 02:56] QKChris commented on #12367
Has anyone solved this problem?

[2018-03-26 03:29] taimaiduc commented on #14221
Maybe not I think. I will try record video for you.

[2018-03-26 03:31] Ctucker9233 commented on #5387
@priti-rathee Try this. Put Magento 2 into production mode and then rerun cron.

[2018-03-26 04:53] storepeinture commented on #10594
@kfriend @garyhiggins1970
Thank you that did it for me as well!

I added this line to the **php.ini** :
`session.gc_maxlifetime = 86400`

This solution works.

[2018-03-26 05:25] ArjenMiedema commented on #14297
@rasmuswikman I was missing the authentication in your initial message. But looking at your reply, you do seem to have authentication in your call. We'll look into it to see if this can be reproduced.

[2018-03-26 06:47] RomanMichak commented on #5037
Issue detected in DateTime construct when input date on it_CH localization include "giu" month name. A good solution would be to change the used date format from IntlDateFormatter::MEDIUM to IntlDateFormatter::SHORT, as in other forms in admin it used SHORT format anyway.
But that solution caused another issue, which connected to different datetime format set in /Magento/Newsletter/Block/Adminhtml

[2018-03-26 06:59] magento-engcom-team commented on #14291
Hi @PiroozMB. For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool.

Thank you.

[2018-03-26 06:59] #14291 closed, assigned to nobody

[2018-03-26 07:05] PiroozMB commented on #14291
Never mind. I got it solved myself. had to add this : if (!empty($carrierCode) && !empty($methodCode) && !empty($methodTitle)) {
and put it after :
foreach ($carrierMethods as $methodCode => $methodTitle) {
to check if it's not empty.

[2018-03-26 07:11] agata-maksymiuk commented on #10787
For those who came here from google as me - solution:

1. I checked out first commit in my project repository (to back to pure Magento with no modules at all)
2. Ran install command
3. Checked back current commit, then enable module, upgrade and so on :)

[2018-03-26 07:12] andrewhowdencom commented on #13929
Yah that seems reasonable ^^ I packaged it as an extension for easy distribution so it hooks into our existing mechanisms for discovery by our team internally (namely, satis / bitbucket). I could further restrict it to the specific version of Magento (actually @mzeis spotted that) but it's a dirty temporary fix until core addresses it -- I hadn't put too much thought into managing it long term.

[2018-03-26 07:14] digvijay2017 commented on #12217
I have noticed this issue in ver 2.1.12. But, This issue has been fixed in ver 2.2.1.

[2018-03-26 07:16] Sathishkumar8731 commented on #14222
Hi Team,

1) Kindly setup a NGINX server and installed Magento 2.2.2 version.

2) The server setup should be in live mode ( not development or local server).

3) Add Virtual product in the admin panel and then proceed to pay via PayPal express checkout.

4) You will be redirected to the Payment gateway page and able to pay it.

5) After redirecting to the Main website page, you will find the error

[2018-03-26 07:28] prashantvalanda opened #14362 "Magento 2.2.3 General error: 1787 Statement violates GTID consistency"
**Preconditions**

After upgrading the version Magento Version from 2.1.7 to 2.2.3

Magento 2.2.3
Google MySQL 2nd Gen
PHP 7.0.22

**Steps to reproduce**

1. Create a new category
2. Change order of category
3. Run command php bin/magento indexer:reindex

**Expected Result**

1. New category should save without any error

Note: As I found module (https://github.com/bangerkuwranger/Magento-2-GTID-S

[2018-03-26 07:30] orlangur commented on #14359
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2018-03-26 07:30] #14359 closed, assigned to nobody

[2018-03-26 07:53] magento-engcom-team commented on #14307
@ArjenMiedema thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-26 08:07] alexmorco commented on #14143
I was also having an issue with my Magento 2 store, I was installing Magento on AWS, I couldn't figure out the issue and tried Cloudways managed platform, https://www.cloudways.com/en/magento-managed-cloud-hosting.php, I have installed through their platform that gone successfully without going technical or fixing files.

[2018-03-26 08:08] stephan-cream commented on #14220
**app/code/Magento/Tax/Model/ResourceModel/Calculation.php**
**getRateInfo() function:** This calls the 2 functions below to calculate the tax rates
**_getrates() function:** The generated select query on this is as follows:
`(
 SELECT main_table.tax_calculation_rate_id, main_table.tax_calculation_rule_id, main_table.customer_tax_class_id, main_table.product_tax_class_id, rule.priority, rule.posit

[2018-03-26 08:54] magento-engcom-team commented on #14294
@bobemoe , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-26 09:06] magento-engcom-team commented on #14175
@breg-13  , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2018-03-26 09:08] magento-engcom-team commented on #14281
Hello @RishabhRkRai. Thanks for reporting. You see the Cart Price Rules and Catalog Price Rules are mutually independent. And it's quite logical, otherwise there would be no reason to create different Rule types - it would be enough just to have a Price Rule in the whole and everything else could be managed by the condition options it would offer. So if You have a Cart Price Rule for category X it

[2018-03-26 09:13] vseager opened #14364 "Product Bulk "Update Attributes" Price Bug"
### Preconditions
1. Magento 2.1.12

### Steps to reproduce (Admin)
1. Products > Inventory > Catalog
2. Select more than 1 simple product from the grid
3. Choose "Update attributes" from the actions drop down
4. Click 'Change' under 'Price'
5. Try to enter new price

### Expected result
Can type in text field and see what I am typing

### Actual result
Cannot type in text field as the `[Inc. Tax]

[2018-03-26 09:18] ragboyjr commented on #12428
I think adding the requireJS onError handler is a permanent solution.

[2018-03-26 09:37] minhducck commented on #4641
Hi Guys, Is there any update on this issue?
I'm using Magento EE 2.1.9

[2018-03-26 10:20] sfdevrv commented on #8426
Same problem here with Magento 2.2.3

[2018-03-26 10:27] Jmarles commented on #2876
Can we re-open this bug please?  Magento ver. 2.1.10.  When you create a dropdown attribute and add values, then save the product, the attribute values do not appear afterwards. They're hidden.  I am still able to add new options to the attribute, and I can see the values within edit product page but I can't see any previously saved options within the edit attribute page.

[2018-03-26 10:29] magento-engcom-team commented on #3882
Hi @adragus-inviqa. Thank you for your report.
The issue has been fixed in magento/magento2#14219 by @hostep in 2.1-develop branch
Related commit(s):
 - [80f1e92162fa26166a813ec1326e7c78887c6025](https://github.com/magento/magento2/commit/80f1e92162fa26166a813ec1326e7c78887c6025)

The fix will be available with the upcoming 2.1.14 release.

[2018-03-26 10:30] magento-engcom-team commented on #14127
@blizzardengle thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide us more details about setting rules in your case.

[2018-03-26 10:52] sebfie commented on #10304
Same here !

[2018-03-26 11:01] Rane2k commented on #12097
Based on the work of @jzahedieh above we have created the following SQL:

[code]

This identifies the affected config paths, you can then assemble the missing default values.

Just in case anyone runs into this issue.

[2018-03-26 11:44] magento-engcom-team commented on #14222
@Sathishkumar8731 , thanks for your update, but we not reproduce this issue on fresh installation. See screenshots

![virtual_pr](https://user-images.githubusercontent.com/31669971/37904188-a4086746-3103-11e8-9701-957289072191.png)

![virtual_pay](https://user-images.githubusercontent.com/31669971/37904238-ce033300-3103-11e8-95a3-7b64eddc46d0.png)

![virtual_order](https://user-images.githubuserco

[2018-03-26 11:46] bpoiss commented on #5490
@magento-engcom-team can you refer to the commit that fixed this issue?

[2018-03-26 11:50] vdubyna opened #14367 "Export products action does not see the store views differences."
### Preconditions
1. Magento 2.2.3

### Steps to reproduce
1. Set different product names per store view
2. Export products

### Expected result

1. In the file we should see all names per store

### Actual result
1. There is only default name in the file

The issue is caused by mistake in the source code
https://github.com/magento/magento2/blob/2.2.3/app/code/Magento/CatalogImportExport/Model/Exp

[2018-03-26 12:17] gouravsyscraft opened #14369 "Something went wrong for new user roll"
### Preconditions

1. I am using magento 2.2.0
2. There when new user there i have only assign permission to see order getting pop each "Something went wrong".

### Steps to reproduce
1. Assign new user and roll only for order.
2. Login to admin new user credential.
3. Then each time when you click on order you will get ""Something went wrong" Popup.

### Expected result

1. Order page should be o

[2018-03-26 12:45] joni-jones commented on #14175
@breg-13, this issue was fixed in Magento 2.1.11 (internal ticket `MAGETWO-71185`). http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.11CE.html#payment-methods

[2018-03-26 12:45] #14175 closed, assigned to nobody

[2018-03-26 12:50] magento-engcom-team commented on #14274
Hi @jonathanKingston. Thank you for your report.
The issue has been fixed in magento/magento2#14301 by @drashmk in 2.3-develop branch
Related commit(s):
 - [bd47df7d9fc167a24c9e0c8613d6a4b05dd9cc74](https://github.com/magento/magento2/commit/bd47df7d9fc167a24c9e0c8613d6a4b05dd9cc74)
 - [98be34bd3e5308c31a3ef51980bc2dc0c89549eb](https://github.com/magento/magento2/commit/98be34bd3e5308c31a3ef51980b

[2018-03-26 12:50] magento-engcom-team commented on #14089
Hi @superdav42. Thank you for your report.
The issue has been fixed in magento/magento2#14305 by @osrecio in 2.3-develop branch
Related commit(s):
 - [7081c47a7c197006dfd48a68e929d6b6e2d8e68d](https://github.com/magento/magento2/commit/7081c47a7c197006dfd48a68e929d6b6e2d8e68d)
 - [7df2162fabdda481b618ee6b7cdab9c20fb5004e](https://github.com/magento/magento2/commit/7df2162fabdda481b618ee6b7cdab9c20

[2018-03-26 12:50] magento-engcom-team commented on #14072
Hi @HirokazuNishi. Thank you for your report.
The issue has been fixed in magento/magento2#14300 by @osrecio in 2.3-develop branch
Related commit(s):
 - [79474caf9536ff1bea791af430b3eb039ffd2ef5](https://github.com/magento/magento2/commit/79474caf9536ff1bea791af430b3eb039ffd2ef5)
 - [1e735aa63fd468fd00898f30b219bf2a03bce960](https://github.com/magento/magento2/commit/1e735aa63fd468fd00898f30b219bf

[2018-03-26 12:51] srtrend commented on #8614
I have added cart rule for particular category https://aafiyat.in/all-islamic-books/all-deeniyat-books to free shipping now when i add non freeshipping product first and then free shipping product I don't see free shipping option which is perfect but when I add first freeshipping product and then non freeshipping product then both product goes for free shipping which is strange. please help

[2018-03-26 13:03] moamenmashael opened #14370 "error_reporting hardcoded !!!"
on

https://github.com/magento/magento2/blob/f3f8975c3f48ad8d2a3221153bcce9f82a5b84b8/app/bootstrap.php#L10

why error_reporting(E_ALL) hardcoded here ?

[2018-03-26 13:08] magento-engcom-team commented on #14206
@tonytrinh206 , thanks for you update, but we not reproduce this issue on fresh installation and on same attribute set of products

**Product with free delivery**
![simple2](https://user-images.githubusercontent.com/31669971/37907694-7ee7e81e-310e-11e8-9213-78096a3d2df5.png)

**Product without free delivery**
![simple1](https://user-images.githubusercontent.com/31669971/37907722-9b75f520-310e-11e8

[2018-03-26 13:11] magento-engcom-team commented on #14242
@Dpradosmx , thank you for your report.
Preconditions for magento 2.2.* http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html
Please, update the following information:
 - [ ] Preconditions: php version

[2018-03-26 13:25] webspeaks commented on #6498
Magento should be able to handle empty phrases. I dont understand why do they not handle such small things.
Such issues cause developers to loose many hours.

[2018-03-26 13:33] magento-engcom-team commented on #14364
@vseager
thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-26 13:45] orlangur commented on #14370
Hi @moamenmashael, please update issue description according to template.

[2018-03-26 13:59] orlangur commented on #14362
Hi @prashantvalanda, there is nothing to "solve" here.

You should either configure replication properly to exclude temporary tables or switch strategy as described in thread https://github.com/magento/magento2/issues/11055#issuecomment-361945777.

[2018-03-26 13:59] #14362 closed, assigned to nobody

[2018-03-26 14:08] magento-engcom-team commented on #14369
@gouravsyscraft , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

![role2](https://user-images.githubusercontent.com/31669971/37911280-4ccc22be-3118-11e8-9ad9-a476f73284e3.png)

[2018-03-26 14:09] orlangur commented on #14367
Hi @vdubyna, you can refer to particular lines of code like this: https://github.com/magento/magento2/blob/2.2.3/app/code/Magento/CatalogImportExport/Model/Export/Product.php#L935

Could you please post a pull request? It is possible even via GitHub UI and much more convenient to discuss a code change than an issue.

[2018-03-26 14:22] elioermini commented on #4301
Have you tried @obatkova with PHP 7.x and Redis for session cache storage?

[2018-03-26 14:22] magento-engcom-team commented on #14289
@jkummer , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2018-03-26 14:33] vdubyna commented on #14367
I’ve opened pull request https://github.com/magento/magento2/pull/14372 to
2.2.4-preview

--
Volodymyr Dubyna
Sent with Airmail

On March 26, 2018 at 17:10:33, Vlad Veselov (notifications@github.com)
wrote:

Hi @vdubyna <https://github.com/vdubyna>, you can refer to particular lines
of code like this:
https://github.com/magento/magento2/blob/2.2.3/app/code/Magento/CatalogImportExport/Model/Export/

[2018-03-26 14:38] prashantvalanda commented on #14362
I have already tried to change temporary table strategy . But it is not working.

[2018-03-26 14:58] thomas-kl1 opened #14373 "Use system value on depends field with required value"
I didn't found any related issues in your backlog, if it actually already exists, my apologies.

## Unhanded event when the "Use system value" is triggered in the store configuration admin interface.

### Preconditions
1. Magento 2.4-develop
2. Custom configuration as following (simplified) in system.xml:

[code]
3. Default configuration values in the config.xml:
[code]

### Steps to reproduce

1.

[2018-03-26 15:30] magento-engcom-team commented on #9972
@zdjm, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-26 15:30] #9972 closed, assigned to nobody

[2018-03-26 15:44] matthiaskoerner-ba commented on #6122
This issue is still open in 2.1.12

[2018-03-26 15:45] matthiaskoerner-ba commented on #6762
This issue is still open in 2.1.12

[2018-03-26 16:01] okorshenko commented on #5580
Hi @svines we can closing the ticket as non-issue. @bcerban thank you for research and provided API functional test 👍

[2018-03-26 16:01] #5580 closed, assigned to bcerban

[2018-03-26 16:04] rasmuswikman commented on #14297
Updated issue description and title to conform to Magento team standards.

[2018-03-26 16:11] orlangur commented on #14362
It cannot not work actually. Maybe you didn't flush caches/generated files or something.

Please check mentioned thread more carefully, both replication configuration adjustment (= mark some tables as excluded) and switching strategy implementation are described pretty well.

[2018-03-26 16:30] magento-engcom-team commented on #14351
@simpleadm, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-26 16:44] prashantvalanda commented on #14362
I have already checked (#11055). I have changed di.xml files of configurable, bundle, downloadable product etc. I have flushed cache, generated files, even var/di folder as well. But still not working same error while running indexing command

[2018-03-26 16:50] densen45 opened #14377 "Minimum Qty Allowed in Shopping Cart for Simple Products effects Bundle Products"
We are wondering about the effects of the configuration "Minimum Qty Allowed in Shopping Cart" for Simple Products. Setting this configuration, we expect that it is not possible to individually add the product to the Shopping Cart, if the chosen quantity is below the configuration. Additionally, we expect that this configuration does not effect the allowed quantities in Bundle Products that are a

[2018-03-26 18:18] kfaer commented on #14278
any update please???

[2018-03-26 19:52] magento-engcom-team commented on #14109
Hi @brideo. Thank you for your report.
The issue has been fixed in magento/magento2#14366 by @rostyslav-hymon in 2.3-develop branch
Related commit(s):
 - [8cfc85cf297f0c4763d03c7e599e648eeaf3b54a](https://github.com/magento/magento2/commit/8cfc85cf297f0c4763d03c7e599e648eeaf3b54a)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-26 20:21] okorshenko commented on #12245
hi @nathanmerrill AddressExtensionInterface and \Magento\Customer\Api\Data\RegionExtensionInterface are autogenerated. All interfaces with *ExtensionInterface will be generated for your automatically. Try to execute `bin/magento setup:di:compile` and find these interfaces in `generated/code/Magento/Customer/Api/Data/RegionExtensionInterface.php`

Closing as non-issue

[2018-03-26 20:21] #12245 closed, assigned to okorshenko

[2018-03-26 21:30] magento-engcom-team commented on #7403
Hi @thlassche. Thank you for your report.
The issue has been fixed in magento/magento2#14349 by @hostep in 2.1-develop branch
Related commit(s):
 - [893e4f2f6b3e49a0b9c89fd312d79b98ae961daf](https://github.com/magento/magento2/commit/893e4f2f6b3e49a0b9c89fd312d79b98ae961daf)

The fix will be available with the upcoming 2.1.14 release.

[2018-03-26 21:30] magento-engcom-team commented on #1931
Hi @thomasnordkvist. Thank you for your report.
The issue has been fixed in magento/magento2#14198 by @quisse in 2.1-develop branch
Related commit(s):
 - [44746e008a9563869af7f02d0e02dd36dbd0f82e](https://github.com/magento/magento2/commit/44746e008a9563869af7f02d0e02dd36dbd0f82e)
 - [2423facb0683e4b2a1cb64aadb80629e8c7865b0](https://github.com/magento/magento2/commit/2423facb0683e4b2a1cb64aadb806

[2018-03-26 23:25] magento-engcom-team commented on #13704
Hi @alepane21. Thank you for your report.
The issue has been fixed in magento/magento2#13716 by @alepane21 in 2.2-develop branch
Related commit(s):
 - [fc73ae2b628392f4f4538e701f9b06f38ec5c9f8](https://github.com/magento/magento2/commit/fc73ae2b628392f4f4538e701f9b06f38ec5c9f8)
 - [8ec6e059a0160c0a2392fc820233d4e3cd93aa72](https://github.com/magento/magento2/commit/8ec6e059a0160c0a2392fc820233d4e3

[2018-03-26 23:25] #13704 closed, assigned to nobody

[2018-03-26 23:25] magento-engcom-team commented on #7428
Hi @navarr. Thank you for your report.
The issue has been fixed in magento/magento2#14317 by @crisdiaz in 2.2-develop branch
Related commit(s):
 - [d1ea17d8371669963d9369bd6f2a5f3310a600db](https://github.com/magento/magento2/commit/d1ea17d8371669963d9369bd6f2a5f3310a600db)

The fix will be available with the upcoming 2.2.5 release.

[2018-03-26 23:25] #7428 closed, assigned to crisdiaz

[2018-03-26 23:25] magento-engcom-team commented on #13992
Hi @ThisIsRuddy. Thank you for your report.
The issue has been fixed in magento/magento2#14303 by @cream-julian in 2.2-develop branch
Related commit(s):
 - [564ab99f2b42aca948654adfd112bfdca8610757](https://github.com/magento/magento2/commit/564ab99f2b42aca948654adfd112bfdca8610757)

The fix will be available with the upcoming 2.2.5 release.

[2018-03-26 23:25] #13992 closed, assigned to nobody

[2018-03-26 23:25] magento-engcom-team commented on #14089
Hi @superdav42. Thank you for your report.
The issue has been fixed in magento/magento2#14306 by @osrecio in 2.2-develop branch
Related commit(s):
 - [1cd6d1b02abc62d0d8ceb055796d39bab6dda3a3](https://github.com/magento/magento2/commit/1cd6d1b02abc62d0d8ceb055796d39bab6dda3a3)

The fix will be available with the upcoming 2.2.5 release.

[2018-03-26 23:25] #14089 closed, assigned to osrecio

[2018-03-27 00:40] ClaryPollack commented on #8800
Any resolution yet?

[2018-03-27 04:15] Jonatasmz commented on #12913
same here!

[2018-03-27 06:16] quisse commented on #1931
@magento-engcom-team Do you mean 2.1.13 or is that one going to be skipped?

[2018-03-27 07:22] #14025 closed, assigned to nobody

[2018-03-27 07:30] Chuvisco88 commented on #12881
What is the estimate for this issue?

[2018-03-27 08:22] magento-engcom-team commented on #14280
@userName, thank you for your report.
The fix for this issue is already available in the develop branch 2.2-develop

[2018-03-27 08:40] manojind commented on #3514
2
down vote
accepted
I have find the simple solution: Open the file di.xml at the location:

app/etc/di.xml
Go to the line number 574 line:
Older line:
Magento\Framework\App\View\Asset\MaterializationStrategy\Symlink
Replace it with (New line)
Magento\Framework\App\View\Asset\MaterializationStrategy\copy

[2018-03-27 08:42] orlangur commented on #14362
Please report such question on [Magento Stack Exchange](https://magento.stackexchange.com) referring to solution from https://github.com/magento/magento2/issues/11055, in such a way it could be reused more easily by anyone else later.

[2018-03-27 09:06] prashantvalanda commented on #14362
I have already reported this issue on stack exchange and stack overflow but not get any response.

https://magento.stackexchange.com/questions/219595/magento-2-2-3-issue-while-running-indexing

https://stackoverflow.com/questions/49450664/gtid-consistency-create-temporary-table-and-drop-temporary-table-can-only-be-ex

Have you ever tried Magento 2.1.8 or later version with google cloud? This issue

[2018-03-27 09:16] orlangur commented on #14362
Workaround already described in https://github.com/magento/magento2/issues/11055, I'll try to raise your SO question in Slack so that it gets answered.

[2018-03-27 09:37] quisse commented on #12371
Hi @okorshenko,
Any update/response on this?

[2018-03-27 09:39] mazestricks commented on #9439
Thanks, @heyqule  tested your module and it worked on my end. I have the same problem using Magento 2.1.3

[2018-03-27 10:02] pramodkharade opened #14389 "Confiurable product is In stock even though all child in out of stock"
Configurable product is showing IN STOCK but all child are in out of stock in default setup of Magento 2.2.1

### Preconditions

1. MAGENTO 2.2.1
2.

### Steps to reproduce

1. Create configurable Product with two child.
2. keep one child out of stock and another with 1 QTY
3. Place order with second child . once order get placed successfully all child will be out of stock even though Parent produ

[2018-03-27 10:12] duckchip commented on #2747
@schmengler can this fix be included in the next 2.1.x version?

[2018-03-27 10:13] orlangur commented on #14389
Did you assure indexers finished their work after such placement?

[2018-03-27 10:15] pramodkharade commented on #14389
Yes! I did indexing also

[2018-03-27 10:21] magento-engcom-team commented on #14367
@vdubyna, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-27 10:34] afavata commented on #11263
Same behaviour with Magento 2.2.3.....
Unfortunatly I have to refresh  and reenter all the datas in the dropdown list.

[2018-03-27 11:51] anil-suthar opened #14390 "Product status changed for all store_views while saving product per store_view"
### Preconditions

1. Magento 2.2.2 OR 2.2.3
2. Multiple Store views

### Steps to reproduce

1. Create multiple store_views. Check sample image below
![stores settings stores magento admin ap diving](https://user-images.githubusercontent.com/3518141/37965271-1f4b0998-31e2-11e8-89b0-290c3c23f2b6.png)

2. Now go to Edit product > Switch to English store > Disable Product Status (uncheck Use Default

[2018-03-27 12:42] magento-engcom-team commented on #14377
@densen45 , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-27 13:26] zakgrindle commented on #13860
This is still an issue after upgrading to 2.2.3, same error etc...

[2018-03-27 13:32] fvschie opened #14391 "REST API Carts item-list is missing product_id"
### Preconditions

1. Magento v2.2.2

### Steps to reproduce

1. Add items to your shopping cart.
2. Do a search for carts in the API. /V1/carts/search?searchCriteria[pageSize]=1
3. Look at the items in the cart.

### Expected result

1. I expect to see product_id next to sku, name, price, etc.

### Actual result

1. There is no product_id.

I need the product_id because that's what we're referenc

[2018-03-27 13:48] magento-engcom-team commented on #13396
@losttheplot, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-27 13:48] #13396 closed, assigned to nobody

[2018-03-27 13:52] magento-engcom-team commented on #14389
@pramodkharade , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

**Configurable product**
![conf1](https://user-images.githubusercontent.com/31669971/37971100-d1750c2c-31dd-11e8-930e-73ac1fcee003.png)

**Child products**

[2018-03-27 13:55] losttheplot commented on #13396
I'm afraid that I have not had time to create a clean-instal for testing, but it is on the To-Do list, and I will report back accordingly.

[2018-03-27 14:09] magento-engcom-team commented on #14271
@friimaind thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-27 14:11] romainruaud opened #14394 "dynamicRows "pageSize" settings improperly fetched as string from UiComponent declaration in XML"
### Preconditions

1. Magento 2.2.2
2. PHP & MySQL are irrelevant

### Steps to reproduce

1. Create a new ```dynamicRows``` ui component in XML (mine is based on an external data provider, but this is irrelevant for the bug).
2. Specify a "pageSize" via the ```<argument>``` or ```<settings>``` directive (I include both in my example, but none is effective):

[code]

3. Add more items than your pa

[2018-03-27 14:15] itsabe commented on #13961
@Lapinou42 Are you still experiencing the issue? When you create the integration and activate it through Magento backend, you can use the access token they provide you to make the API calls.

[2018-03-27 14:30] magento-engcom-team commented on #14097
@adil26, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-03-27 14:30] #14097 closed, assigned to nobody

[2018-03-27 14:30] magento-engcom-team commented on #14092
@vince1222, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-03-27 14:30] #14092 closed, assigned to nobody

[2018-03-27 14:39] Lapinou42 commented on #13961
Yes, I do.

Actually, I want to create a integration to use on my Android / iOS application using OAuth1.0a.
I tried in Postman and I have the same issue.

I generate an access token by user, so simply use Consumer Key, Consumer Secret, RequestTokenUrl and AccessTokenUrl should be enough to generate a access token.

Maybe I'm wrong. I don't know.

[2018-03-27 14:50] losttheplot commented on #13396
I would have to respectfully disagree about your interpretation of 'correct' behaviour. It is illogical behaviour, therefore not correct IMHO. If an interface form offers a field to override a value - in this case the meta-description for SEO purposes (very important to any commercial website), then it is logical that it should do so, ergo this is 'incorrect' behaviour.

Alas I am not familiar eno

[2018-03-27 14:52] NikZh commented on #4728
This bug reproduces only after: POST /V1/shipment
You can create shipment via POST /V1/order/:orderId/ship api call and then use
POST /V1/shipment/{id}/emails

[2018-03-27 15:02] TatianaW opened #14396 "State/Province Attribute Properties - Text Length Restriction is been ignored"
Hello when setting up text length for State/Province Attribute it is ignored in the front end

We are on M2.2.2 EE

[2018-03-27 15:47] itsabe opened #14398 "Images Not Replaced via CSV Import"
### Preconditions
1. Magento 2.2.2
2. CSV file with columns [sku], [additional_images] and one row of values
3. Current images of sku is A, B, C, D.
4. My CSV file contains images A, B, E, F, G

### Steps to reproduce
1. Create CSV file
2. First column is sku with one existing sku in catalog.
3. Second column is additional_images with comma separated values of relative path.
4. Import file into Ma

[2018-03-27 16:45] Lapinou42 commented on #13961
@itsabe No. I didn't ! I'll try that and let you know if something wrong ;)

Thank you :)

[2018-03-27 16:59] pramodkharade commented on #14389
Hi Team,

I have tested pure default setup.

1.Child on OutOfStock:

​
2.Child after Order placed: Out Of Stock

​3. Still Parent Product Status is

*In Stock*
*​*parent product should be* out of stock* at catalog but it is showing

* IN Stock.*

*and it showing Out Of stock at front-end.*

 --
Thanks And  Regards
*Mr.Pramod K.Kharade*

*Software Engineer *
*Mobile: +91 9623014150 Email:*  kharade

[2018-03-27 17:30] treii28 opened #14400 "authorize.net direct post "Unable to serialized value" in v2.2.2"
Magento 2.2.2
Php 7.0
mysql 14.14 dist 5.7.21
Ubuntu linux OS v16.04 Apache/2.4.18 (Ubuntu)

### Steps to reproduce
Add item to cart, fill in address, payment, shipping options, click submit.

### Expected result
Order item

### Actual result
Pop-up with " Attention Sorry, but something went wrong. Please contact the seller."

var/report exception:

[2018-03-27 17:51] s-hoffman opened #14401 "Trigger Removal on Mview Subscription Change"
### Preconditions

- Any supported PHP & MySql version should show the bug.
1. Magento Installed Prior to 9fe3b8a0cdff5c9f4677c1890ca2bf52718acae5 (<2.2.0-RC1.1)
2. Magento Index Set to Scheduled. (Either Flat or CatalogRule). (bin/magento indexer:set-mode schedule catalogrule_product,catalog_product_flat)
3. Magento Upgrade to after 9fe3b8a0cdff5c9f4677c1890ca2bf52718acae5 (>2.2.0-RC1.1)

### Ste

[2018-03-27 17:53] s-hoffman commented on #14264
Hi, I ran into this issue yesterday and determined the root cause.
Please see #14401 Trigger Removal on Mview Subscription Change

[2018-03-27 18:13] erikhansen opened #14402 "Search suggestions result in dozens of queued AJAX requests"
### Preconditions
1. Install Magento Open Source 2.2.2 with sample data

### Steps to reproduce
1. Load frontend with the Network panel open in Chrome's DevTools. Start typing quickly (even random characters is ok).

### Expected result
1. Magento should wait a small period of time (50ms?) before sending a search suggestion to the server

### Actual result
1. Every character that is typed results

[2018-03-27 18:33] benyanke commented on #10531
Anyone have a fix working for 2.1.6?

[2018-03-27 19:13] okorshenko commented on #10057
Hi @develpr. Thank you for your report.
The issue has been fixed in magento/magento2#14327 by @swnsma in 2.2-develop branch
Related commit(s):
 - [9addb449f372b66b2b73af6dafcbf1fb1b672f94](https://github.com/magento/magento2/commit/9addb449f372b66b2b73af6dafcbf1fb1b672f94)

The fix will be available with the upcoming 2.2.5 release.

[2018-03-27 19:13] #10057 closed, assigned to swnsma

[2018-03-27 19:13] okorshenko commented on #10700
Hi @historylife. Thank you for your report.
The issue has been fixed in magento/magento2#14361 by @xtremeperf in 2.2-develop branch
Related commit(s):
 - [9baa83fca8a97fe4c0e02557246bdd6069a50b27](https://github.com/magento/magento2/commit/9baa83fca8a97fe4c0e02557246bdd6069a50b27)

The fix will be available with the upcoming 2.2.5 release.

[2018-03-27 19:13] okorshenko commented on #11930
Hi @JanisE. Thank you for your report.
The issue has been fixed in magento/magento2#14361 by @xtremeperf in 2.2-develop branch
Related commit(s):
 - [9baa83fca8a97fe4c0e02557246bdd6069a50b27](https://github.com/magento/magento2/commit/9baa83fca8a97fe4c0e02557246bdd6069a50b27)

The fix will be available with the upcoming 2.2.5 release.

[2018-03-27 19:13] #11930 closed, assigned to nobody

[2018-03-27 19:50] woakley commented on #14264
Thanks both, really helpful :)

[2018-03-27 20:10] treii28 commented on #14400
I cannot be one hundred percent certain, but I believe the data either wasn't fully converted or was otherwise out of sync as the values (although showing an hash in the database) were blank in the admin screens. I re-entered the credentials and I am at least getting the transaction to go through without exceptions. (of course, now I'm getting errors about the hash, but have opened a ticket with a

[2018-03-27 20:10] #14400 closed, assigned to nobody

[2018-03-27 20:55] chris-goehrs opened #14404 "With Fotorama, product gallery videos not pulling in"
### Preconditions

1. Magento 2.2.2
2. PHP 7.0

### Steps to reproduce
1. Completely clear cache
2. Attempt to look at a product detail page with a video in the gallery (I was able to reproduce this issue on an unaltered product detail page)

### Expected result
For each video in the gallery, a video overlay would appear

### Actual result
1. No video overlays appear (just the images)
2. No logs a

[2018-03-27 21:06] okorshenko commented on #7428
Hi @navarr. Thank you for your report.
The issue has been fixed in magento/magento2#14383 by @rostyslav-hymon in 2.3-develop branch
Related commit(s):
 - [8d524210dce13e544d05d534bc3d0291e83e0792](https://github.com/magento/magento2/commit/8d524210dce13e544d05d534bc3d0291e83e0792)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-27 21:06] okorshenko commented on #5580
Hi @svines. Thank you for your report.
The issue has been fixed in magento/magento2#14345 by @bcerban in 2.3-develop branch
Related commit(s):
 - [966d8bb8c5d1bb368ad958063f0f25bf23d20dfc](https://github.com/magento/magento2/commit/966d8bb8c5d1bb368ad958063f0f25bf23d20dfc)

The fix will be available with the upcoming 2.3.0 release.

[2018-03-27 21:07] erikhansen commented on #11002
I ran into this issue on a Magento 2.2.2 Commerce site, even though none of my jobs were getting left in a `running` state.

* The default Magento CRON groups have a `history_success_lifetime` value of `10080` (7 days). With these two CRONs running every minute, if you have ~70 CRON jobs, you can easily end up with hundreds of thousands of `success` jobs in the DB.
* When the CRON runs, all cron g

[2018-03-27 21:34] rafagaseo commented on #7072
Magento use php 7.1

`brew search intl`
`brew install homebrew/php/php71-intl`
`sudo apachectl restart`

It's worked to me.

[2018-03-28 01:23] terrybakshi opened #14406 "Magento 2.2.3: SALES > ORDERS [Status] GRID not updating, all new orders stuck at "Processing" status"
After migrating from 2.2.2 to 2.2.3, SALES > ORDERS grid does not update order statuses.
It does updates the status on the invoice, but not on the sales order grid. Now, we are unable to do accurate sort or filter by status.

This issue is not cache related, I successfully tried to clear, flush, re-indexed, restart the server.
Also, I looked in database and found sales_order table has "complete" s

[2018-03-28 04:18] aeu commented on #5796
I spent probably four hours on this exact same problem.  You are getting this error because you have not installed PHP SOAP.

[2018-03-28 06:15] ankursachdeva11 opened #14407 "Undefined index: media_type while addImage to product"
### Preconditions

1. Magento 2.2.1 CE
2.

### Steps to reproduce

1. Use Magento\Catalog\Model\Product\Gallery\Processor: addImage function to add an image to a product.
2.
3.

### Expected result

1. Image should get added.

### Actual result

1. Message: Notice: Undefined index: media_type in /vendor/magento/module-catalog/Model/Product.php on line 2554

We have tried to find the comparison bet

[2018-03-28 06:22] quisse commented on #12371
Following gist contains the current way of adding an outputHandler. This isn't a good way because the plugin triggers too much.
https://gist.github.com/quisse/b78ee3d121a4c9b8dd141334c8fa27a8

[2018-03-28 06:30] magento-engcom-team commented on #14390
@anil-suthar, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-28 06:42] magento-engcom-team commented on #7816
Hi @LiamFielding. Thank you for your report.
The issue has been fixed in magento/magento2#14325 by @mikewhitby in 2.2-develop branch
Related commit(s):
 - [56b35987e1162332cad1e4341c12fd52c8549998](https://github.com/magento/magento2/commit/56b35987e1162332cad1e4341c12fd52c8549998)
 - [09f80593d51b3e8c264bfe9b15437f91f25b1c0a](https://github.com/magento/magento2/commit/09f80593d51b3e8c264bfe9b1543

[2018-03-28 06:42] #7816 closed, assigned to mikewhitby, PieterCappelle

[2018-03-28 06:42] magento-engcom-team commented on #14072
Hi @HirokazuNishi. Thank you for your report.
The issue has been fixed in magento/magento2#14299 by @osrecio in 2.2-develop branch
Related commit(s):
 - [6b6ce0a4166c5fe9bd140cfb0ca344ef3ee9aa97](https://github.com/magento/magento2/commit/6b6ce0a4166c5fe9bd140cfb0ca344ef3ee9aa97)
 - [af6bbfd4776304b222df8938ce8e55aee0b30736](https://github.com/magento/magento2/commit/af6bbfd4776304b222df8938ce8e55

[2018-03-28 06:42] #14072 closed, assigned to osrecio

[2018-03-28 07:13] ankursachdeva11 commented on #14407
In Addition to this,

if we use $product->addImageToMediaGallery(params); and then $product->save() function to add images.
still we are getting error: Message: Notice: Undefined index: media_type in /vendor/magento/module-catalog/Model/Product.php on line 2554

[2018-03-28 07:18] avstudnitz commented on #12696
@magento-engcom-team This is not a feature request, but clearly a bug. Please reopen and fix.

[2018-03-28 07:30] magento-engcom-team commented on #14396
@TatianaW, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2018-03-28 07:43] magento-engcom-team commented on #14084
@BabliDey, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-03-28 07:43] #14084 closed, assigned to nobody

[2018-03-28 07:50] forwells opened #14409 "Product with SKU "a long sku***" does not exist"
add one configurable product to a new category
### Preconditions

1. magento2.2.2
2. php7.0.28
3.mysql5.7

### Steps to reproduce

1. Add a configuration product with a SKU greater than 70 characters
2. Configure the product based on two different attributes in the configuration options.
3. save the products

### Expected result

1. save it successfully

### Actual result

1.
![qq 20180328154847](

[2018-03-28 07:51] dearmatta commented on #14409
this is my system log
[2018-03-28 07:34:27] main.CRITICAL: Exception message: Product with SKU "R5/BODY WAVE HAIR 3PCS&4X4 LACE CLOSURE-10"10"10"&10"-Middle part" does not exist
Trace: #0 F:\rebecca\vendor\magento\module-catalog-inventory\Model\StockRegistry.php(171): Magento\CatalogInventory\Model\StockRegistry->resolveProductId('R5/BODY WAVE HA...')
#1 F:\rebecca\vendor\magento\module-catalog-in

[2018-03-28 07:52] dearmatta commented on #14409
I hope someone can help me ，thanks for everyone

[2018-03-28 07:52] dearmatta commented on #14409
I hope someone can help me,thans!

[2018-03-28 09:03] Patrickharish commented on #5836
"I found the same issue in my store.While going through marketplace I found this free extension [Indexer plus](https://magento.aurigait.com/indexerplus.html#utm_source=quora&utm_medium=praddir&utm_campaign=indexer) to be helpful and it saves a lot of my time.

This Magento 2 extension let you improve and speed up your online store’s reindexing process by allowing your admins to update or reindex d

[2018-03-28 09:05] Patrickharish commented on #10531
"I found the same issue in my store.While going through marketplace I found this free extension [Indexer plus](https://magento.aurigait.com/indexerplus.html#utm_source=git&utm_medium=praddir&utm_campaign=indexer) to be helpful and it saves a lot of my time.

This Magento 2 extension let you improve and speed up your online store’s reindexing process by allowing your admins to update or reindex dat

[2018-03-28 09:11] ragboyjr commented on #7447
I've stumbled on this issue as well. Everything @doktorshu provided is 100% correct; however, this issue only happens if your the `window.checkoutConfig.checkoutUrl` is different than your current actual checkout url.

In my case, I had a custom link that went to `/checkout`. However, the `checkoutConfig.checkout` value was `/checkout/` so when magento did the `window.location = ...` the urls are

[2018-03-28 09:25] allininfosystems commented on #5478
I want to upload logo from admin panel in svg format. I have changed the given your code in that file but it showing a message "Disallowed file type.". Please help me. What I do for fix it

[2018-03-28 09:34] hostep commented on #5478
@allininfosystems: uploading of svg files was removed in Magento 2.0.16 and 2.1.9 due to the possibility that svg files can have embedded malicious code, read more over here: https://magento.com/security/patches/magento-2016-and-219-security-update (search for APPSEC-1673).

You can take a look [over here](https://github.com/magento/magento2/commit/2c952e7e620e743049771321d333a74ec9116d57) (search

[2018-03-28 09:35] pocallaghan commented on #14389
In M1 at least, I'm 99% sure that there is no attempt to update the "stock status" field on a configurable when it's last simple goes out of stock. It was my understanding the justification for this was so that you could manually control the saleability of the configurable regardless of the simples stock level. So this would be considered "Works as designed". Checking availability of a configurabl

[2018-03-28 09:40] parekhreena commented on #6302
Just for knowledge the issue happens in previous magento versions because of following line in core code:
**File:** vendor/magento/module-sales/view/frontend/layout/sales_email_order_invoice_items.xml
**Line:** <block class="Magento\Sales\Block\Order\Email\Invoice\Items" name="items" template="email/invoice/items.phtml">

This template value here should have been Magento_Sales::email/invoice/items

[2018-03-28 09:46] brvm opened #14412 "Magento 2.2.3 TypeErrors Cannot read property 'quoteData' / 'storecode' / 'sectionLoadUrl' of undefined"
### Preconditions

1. Magento 2.2.3
2. PHP 7.0
3. MySQL 5.5.38

### Steps to reproduce

1. Create a module in app/code/vendor
2. Add checkout_cart_index.xml in templates folder under /view/frontend/layout
3. Add following code:
[code]
4. Add .js-file under /view/frontend/web/js called jquery.cartAjaxQty.js

[code]
5. Add .js file to requirejs-config.js located in root frontend folder in module und

[2018-03-28 09:49] orlangur commented on #14409
How do you do

if there is a 64 characters validation

?

[2018-03-28 10:01] guillermogallego opened #14413 "Insert product images on multiple websites problem"
I have created a script to insert images into products, the images are inserted correctly but the labels and roles do not do it for all websites, only for the default website

### Preconditions
Magento 2.2.3
Php 7.1
Centos 7 with CPANEL
I configure 3 Websites and theirs views

### Steps to reproduce
`
use Magento\Framework\App\Bootstrap;

include('../app/bootstrap.php');

// Get all premium produc

[2018-03-28 10:10] allininfosystems commented on #5478
I am using Magento2.2.2 version and I have checked function _getAllowedExtensions in Logo.php inside core directory there is not available 'svg'. In Magento2.2.2 we can upload svg format header logo from admin or not can you please clarify it?

[2018-03-28 10:21] dearmatta commented on #14409
@orlangur
now I have set the Sku max_text_length to 255,
but the problem still exists,

[2018-03-28 10:24] lewisvoncken commented on #5478
@allininfosystems

It is not possible any more to upload svg files for security reasons.

[2018-03-28 10:39] orlangur commented on #14409
It does not work this way. If you customized your Magento instance so that you have longer SKU than in core, something may break and you must fix it on your own.

[2018-03-28 10:39] #14409 closed, assigned to nobody

[2018-03-28 10:54] dearmatta commented on #14409
I was just trying. Now that I have recovered the core, but the problem still exists. I have found that this issue may be a question of attributes. Will a long SKU cause unpredictable problems during product preservation?

[2018-03-28 10:56] magento-engcom-team commented on #14284
@lenovike, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-28 11:18] magento-engcom-team commented on #14409
Hello @dearmatta. Thanks for reporting. In fact Your issue was actual but in some other aspect. So You create a configuration for Your Configurable Product and there appear Simple variations with SKU longer than 64 characters (f.e. by default those SKUs are having been created by adding definite characters to Your Configurable Product name ( not SKU but name), which actually is allowed to have mor

[2018-03-28 11:30] magento-engcom-team commented on #14296
@mariamghalleb, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-03-28 11:37] magento-engcom-team commented on #5929
@wescey , @koopjesboom , @paul-javs , We were not able to reproduce this issue by following the steps on lates 2.2.3. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-03-28 11:41] homiedecor opened #14415 "broken images on content page"
hi guys

Magento ver. 2.2.0

I'm really frustrated and don't know how to resolve this issue. hope u can help me.

I'm uploading images to following content page https://new.homie.org.il/our-projects from the editor.

the first image is ok. but all images i upload after are broken.

how can I rectify this issue?

Thanks !

![broken images](https://user-images.githubusercontent.com/37869482/38026760

[2018-03-28 11:47] sidolov commented on #14138
Hi @woshka. Thank you for your report.
The issue has been fixed in magento/magento2#14368 by @rostyslav-hymon in 2.3-develop branch
Related commit(s):
 - [485353020369fcd8812827d57047163e79da8819](https://github.com/magento/magento2/commit/485353020369fcd8812827d57047163e79da8819)
 - [632f89d6424f47db631b2cfb781e1ed6fd0c3216](https://github.com/magento/magento2/commit/632f89d6424f47db631b2cfb781e1

[2018-03-28 11:50] magento-engcom-team commented on #12587
@LordPinhead, thank you for your report. You can confirm the current issue now?
If yes, Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.

[2018-03-28 11:57] sidolov commented on #5659
Hi @jimuldesai , this issue cannot be fixed because any changes to response format can break all Magento integrations and 3d party extensions and will be backward incompatible.
Thank you for your contribution!

[2018-03-28 11:57] #5659 closed, assigned to mespinosaz

[2018-03-28 12:09] karlsminton commented on #12074
@magento-engcom-team we're also experiencing this issue - is there an update on this?

[2018-03-28 12:19] magento-engcom-team commented on #14415
@homiedecor , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Ste

[2018-03-28 12:30] breg-13 commented on #14175
@joni-jones, thanks!

[2018-03-28 12:42] homiedecor commented on #14415
im new here. is it ok now? if not please guide me through

10X

[2018-03-28 12:56] AveyBD commented on #8189
I am facing the issue :(  Magento ver. 2.2.3

[2018-03-28 12:58] Axel29 commented on #12159
Did anyone find a 100% sure solution?
I tried @georgios-2317 solution, it seems to work, but it forces us to rewrite the whole method.
I still see the ticket in [branch [2.3-develop]](https://github.com/magento/magento2/projects/14?card_filter_query=category+image+use+default+fails#card-5634256) "todo" part but the project itself is closed....

[2018-03-28 13:16] magento-engcom-team commented on #14415
@homiedecor ,thanks for your update but you not added all information and we not reproduce this on fresh installation without custom theme or third party code. Please check this on fresh installation.

![images_content](https://user-images.githubusercontent.com/31669971/38031026-ec69377c-32a2-11e8-9714-2862267dcf27.png)

[2018-03-28 13:29] katop opened #14419 "M2.2.3 Admin Grid Something went wrong"
### Preconditions
1. Magento 2.2.3(CE)
2. PHP 7.1.15-1+ubuntu16.04.1+deb.sury.org+2
3. Mysql 5.7.21-20 Percona Server

### Steps to reproduce
1. Install Magento from composer
2. Create symlink pub/shop -> ./pub
3. Nginx env:
set $mage_run_code 'admin';
fastcgi_param MAGE_RUN_CODE $mage_run_code;
fastcgi_param MAGE_RUN_TYPE 'store';

4. Login in admin page(/shop/adm/)
5. Open Catalog -> Products
6.

[2018-03-28 13:36] ragun91 opened #14420 "Issue with Multi-currency in bundle product"
We are facing an issue with adding bundle product to cart by switching the store currencies. Amount get twice in child product. Please share us the solution for the below scenario.

### Preconditions

1.OS : Ubuntu 16.04
2.PHP version : 7.0.28
3.Magento version : 2.2.3
4.Browser : Crome
5.Currency Enable : USD, EURO
6.Mysql  Ver : 14.14

### Steps to reproduce

Product cost in USD will be 100 and

[2018-03-28 13:53] magento-engcom-team commented on #14406
@terrybakshi , thank you for your report. Did you create a custom order status with the Complete label? If not, how did you change the status to "complete", because by default order receives status "complete" automatically after shipment as been created?

[2018-03-28 14:00] terrybakshi commented on #14406
yes the order was auto complete after the shipment was created and tracking number was added.

[2018-03-28 14:08] punkstar commented on #13959
In our testing, we believe this to be a problem with PhpMath and a PHP version between 7.1.0 and 7.1.14. We stopped experiencing this bug after we upgraded to 7.1.15. Sorry I can't give more details, but it was quite difficult to reproduce.

[2018-03-28 14:09] korostii commented on #8646
Well, it's being tracked, but that's not the same as being actively dealt with.
Depending on community feedback, such issues might be considered low-priority and get pushed back for a long, long time.

Please consider upvoting this issue, as that seems to be the only [official way of prioritizing the GitHub issues](https://community.magento.com/t5/Magento-DevBlog/GitHub-Issue-Priority/ba-p/60088#M

[2018-03-28 14:30] magento-engcom-team commented on #14389
@pramodkharade, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-03-28 14:30] #14389 closed, assigned to nobody

[2018-03-28 15:02] vmsh0 opened #14423 "Error from Updater Application Cron Script: Found non-writable path(s)"
When installing an extension, updating Magento or running the update cron jobs, the following error is returned:

### Preconditions

1. Magento 2.2.2
2. PHP 7.0.28-0ubuntu0.16.04.1

### Steps to reproduce

1. Confirm apache2 user with `ps aux | grep apache2` (for me: www-data)
2. Reapply permissions in Magento2 root folder
`# find . -type d -exec chmod 775 {} \;`
`# find . -type f -exec chmod 664

[2018-03-28 15:29] czettnersandor commented on #12095
I would also see this disabled as default along with Dotmailer, which is apparently generating huge amount of log entries. I do have a practice now to disable them from config.php for each new isntallation, but I would rather get rid of this practice and I believe most of us would have a better sleep if these features were disabled by default. Even better, keep it off from Magento codebase and rel