[2019-02-04 22:35] zexperto commented on #19436
Thank you for your effort

[2019-02-04 22:50] DanielRuf commented on #20974
Which is quite normal for a single CSS file.

[2019-02-04 23:48] adarshkhatri commented on #16958
In M2 2.3 EE, error thrown to orders having bundle items only.
Disabling Temando Shipping Module fixes the issue.
Will report to Mage Team.

[2019-02-05 00:22] tschirmer opened #20979 "PathValidator won't allow any paths outside BP, even if specified in Bootstrap"
### Preconditions (*)

1. Magento 2.3
2. PHP 7.1

### Steps to reproduce (*)

1. Setup bootstrap to include paths outside of Magento's root

[code]
2. Run Magento command: bin/magento maintenance:enable

### Expected result (*)

1. CLI should return with: Maintenance Mode Enabled

### Actual result (*)

1. CLI returns with: Path "/home/sites/stagingbuild-309/httpdocs/app/etc/env.php" cannot be use

[2019-02-05 05:51] dharmesh143 opened #20981 "Magento 2 : how to add extension attribute to filter?"
### Summary
I am facing issue with Magento 2.2.0 EE.  I am trying to add extension attribute on searchCriteriaBuilder filter. But  that extension attribute, not adding to filter in collection. it is showing error of `Invalid attribute name`

### Examples

here is my method

[code]

here is my extension_attributes.xml

[code]

Any solutions for this?

[2019-02-05 05:51] magento-engcom-team commented on #20981
Hi @dharmesh143. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-05 06:11] dominicfernando opened #20982 "Alignment issues in Admin -> Cart Price Rules label section"
Alignment issues in Admin -> Cart Price Rules -> Add New -> Labels(tab) -> Store View Specific Labels

### Preconditions (*)
Version: 2.3-develop
OS: Ubuntu 18.04

### Steps to reproduce (*)
1.  Admin -> Cart Price Rules -> Add New -> Labels(tab) -> Store View Specific Labels
2.  Check images

### Expected result (*)
Correct alignment

![selection_012](https://user-images.githubusercontent.com/102

[2019-02-05 06:11] magento-engcom-team commented on #20982
Hi @dominicfernando. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-02-05 06:11] dominicfernando commented on #20982
@magento-engcom-team give me 2.3-develop instance

[2019-02-05 06:11] magento-engcom-team commented on #20982
Hi @dominicfernando. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-05 06:12] magento-engcom-team commented on #20982
Hi @dominicfernando, here is your [Magento instance](https://i-20982-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20982-2-3-develop.instances.magento-community.engineering/admin](https://i-20982-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-05 06:13] magento-engcom-team commented on #20982
Hi @awviraj. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-02-05 06:15] awviraj commented on #20982
i'm working on this

[2019-02-05 06:17] magento-engcom-team commented on #20982
@awviraj Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-02-05 06:18] magento-engcom-team commented on #20982
:white_check_mark: Confirmed by @awviraj
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-05 06:19] magento-engcom-team commented on #20982
Hi @awviraj. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-02-05 06:20] nainesh2jcommerce commented on #20982
Hi @awviraj and @dominicfernando

issue already reported https://github.com/magento/magento2/issues/20293

Thanks!

[2019-02-05 06:26] abrarpathan19 opened #20983 "Magento Luma theme sidebar my wish list design improvement"
### Preconditions (*)

1.Magento 2.3 and Magento 2.2.X

### Steps to reproduce (*)

1. Add to wishlist any product and check the left sidebar in tablet mode (768px, portrait).
2. Product name is not allign properly it should be align so user can easily read.

### Expected result (*)

1. http://prntscr.com/mgrg5n

### Actual result (*)

1. http://prntscr.com/mgrfot

[2019-02-05 06:49] #20982 closed, assigned to awviraj

[2019-02-05 06:57] nainesh2jcommerce commented on #20908
@magento-engcom-team give me 2.2-develop instance

[2019-02-05 06:58] magento-engcom-team commented on #20908
Hi @nainesh2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-05 06:58] magento-engcom-team commented on #20908
Hi @nainesh2jcommerce, here is your [Magento instance](https://i-20908-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20908-2-2-develop.instances.magento-community.engineering/admin](https://i-20908-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-05 06:59] karthik32cse opened #20985 "The requested component ("int") is not found. Before using, you must add the implementation"
I am getting this following error while editing the product. This issue occurred after sync the products from Akeneo to Magento using Pimgento 2 API.
**Issue:** The requested component ("int") is not found. Before using, you must add the implementation.

**Environment:**
Magento CE 2.1.9
Akeneo CE 2.3
PHP 7
Mysql 5.7.25

**Steps to reproduce**
1. Sync products from Akeneo to Magento using Pimgento

[2019-02-05 06:59] magento-engcom-team commented on #20985
Hi @karthik32cse. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-02-05 06:59] ihor-sviziev commented on #13151
Hi @koenner01. Thank you for your report.
The issue has been fixed in magento/magento2#19451 by @SikailoISM in 2.3-develop branch
Related commit(s):
 - [7e55ad5e4b2154110a66a55a41c870cfab44220f](https://github.com/magento/magento2/commit/7e55ad5e4b2154110a66a55a41c870cfab44220f)

The fix will be available with the upcoming 2.3.1 release.

[2019-02-05 07:00] ihor-sviziev commented on #13151
Hi @koenner01. Thank you for your report.
The issue has been fixed in magento/magento2#19612 by @SikailoISM in 2.2-develop branch
Related commit(s):
 - [14aa091388aaea80195d874e47d874f8df6620d7](https://github.com/magento/magento2/commit/14aa091388aaea80195d874e47d874f8df6620d7)

The fix will be available with the upcoming 2.2.8 release.

[2019-02-05 07:00] ihor-sviziev commented on #13151
Duplicate of #19436

[2019-02-05 07:00] #13151 closed, assigned to nobody

[2019-02-05 07:04] ihor-sviziev commented on #18246
Hi @jarnooravainen. Thank you for your report.
The issue has been fixed in magento/magento2#19612 by @SikailoISM in 2.2-develop branch
Related commit(s):
 - [14aa091388aaea80195d874e47d874f8df6620d7](https://github.com/magento/magento2/commit/14aa091388aaea80195d874e47d874f8df6620d7)

The fix will be available with the upcoming 2.2.8 release.

[2019-02-05 07:05] ihor-sviziev commented on #18246
Duplicate of #19436

[2019-02-05 07:05] #18246 closed, assigned to nobody

[2019-02-05 07:32] CharanjeetE opened #20987 "404 error Backend Js only for one file"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]
Hi
I am getting 404 error for jquery-ui-1.9.2 file in magento to backend. Even it exists in folder.
Please help me to sort out this task. Please help me ASAP.
Other files from same folder are loading perfectly.
TIA.
### Actual result (*)

1. [Screenshots, logs or descr

[2019-02-05 07:33] magento-engcom-team commented on #20987
Hi @CharanjeetE. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-05 07:33] CharanjeetE commented on #20987
Yes

[2019-02-05 07:35] CharanjeetE commented on #20987
![Uploading Screenshot from 2019-02-05 13-04-40.png…]()

[2019-02-05 07:36] CharanjeetE commented on #20987
![screenshot from 2019-02-05 13-04-40](https://user-images.githubusercontent.com/45280571/52258901-ca4cef80-2946-11e9-98a6-c952d90d0271.png)

[2019-02-05 07:37] magento-engcom-team commented on #20987
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-05 07:38] engcom-backlog-nazar commented on #20987
Hi @CharanjeetE
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-05 07:38] #20987 closed, assigned to nobody

[2019-02-05 07:38] magento-engcom-team commented on #20985
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-05 07:38] engcom-backlog-nazar commented on #20985
Hi @karthik32cse
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-05 07:38] #20985 closed, assigned to nobody

[2019-02-05 07:39] engcom-backlog-nazar commented on #20981
Hi @dharmesh143 l  GitHub is intended for Magento Open Source users to report on issues related to Open Source only.
You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

[2019-02-05 07:39] #20981 closed, assigned to nobody

[2019-02-05 07:40] magento-engcom-team commented on #20979
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-05 07:43] engcom-backlog-nazar commented on #20979
Hi @tschirmer thank you for you report, this is expected behavior, paths outside of Magento base path should not be accessible for security reasons.

[2019-02-05 07:43] #20979 closed, assigned to nobody

[2019-02-05 07:44] magento-engcom-team commented on #20977
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-05 07:50] arijit-codilar commented on #20689
@Nazar65 its not working with the mysql.conf changes

[2019-02-05 07:52] engcom-backlog-nazar commented on #20972
Hi @fxdon
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-05 07:52] #20972 closed, assigned to nobody

[2019-02-05 08:02] magento-engcom-team commented on #20973
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-05 08:21] engcom-backlog-nazar commented on #20975
Hi @PascalBrouwers thank you for you report, nice find!  but seems like this is very identical issue maybe close this one ? https://github.com/magento/magento2/issues/20969 this issue has more clear description

[2019-02-05 08:31] magento-engcom-team commented on #20969
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98078`, `MAGETWO-98079` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-05 08:34] magento-engcom-team commented on #20872
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98080` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-05 08:41] netjordanlee commented on #20872
Relatedly, before and after attributes do not work. I think perhaps there
is need for broad scope testing of ui-component based layout XML parsing.

On Tue., 5 Feb. 2019, 7:34 pm Magento Community Engineering <
notifications@github.com wrote:

[2019-02-05 09:47] dharmendra-wagento opened #20989 "Admin Customizable Options Dropdown sort_order issue"
### Preconditions (*)

1. Magento ver. dev-2.3-develop / Magento ver. 2.2-dev

### Steps to reproduce (*)

1. Go to Catalog > Products
2. Edit/New Product
3. Expand Customizable Options and click on Add Option
4. Choose Drop Dowm as New Option Type
5. Add 1 or 2 Values
6 . Now , Change Option type from drop down to field or area
7. Now again choose Drop Dowm as Option Type
8. Add 1 or 2 Values

##

[2019-02-05 09:47] magento-engcom-team commented on #20989
Hi @dharmendra-wagento. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2019-02-05 09:48] magento-engcom-team commented on #20989
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-05 09:54] magento-engcom-team commented on #20983
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-05 09:57] engcom-backlog-nazar commented on #20989
@magento-engcom-team give me 2.3-develop instance

[2019-02-05 09:57] magento-engcom-team commented on #20989
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-05 09:57] magento-engcom-team commented on #20989
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-20989-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20989-2-3-develop.instances.magento-community.engineering/admin](https://i-20989-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-05 09:58] abrarpathan19 commented on #20983
@shikhamis11 It is already assigned me and also solution provided by me.

[2019-02-05 10:15] shikhamis11 commented on #20983
@abrarpathan19 I have assigned this issue to me to verify and confirm it. also there are 10 numbers of people can be assigned on the same issue at the same time . If you are working on it's solution please write in the comment.

[2019-02-05 10:16] shikhamis11 commented on #20983
@abrarpathan19 also for improvements in design you can directly create Pull requests

[2019-02-05 10:33] shikhamis11 commented on #20983
@abrarpathan19 why you deleted my comments ??

[2019-02-05 10:42] sarfarazbheda commented on #18253
We are still facing issue with 2.2.7. Is there any solution?

[2019-02-05 10:48] 1ci commented on #20879
Is this fixed in the 2.3-dev branch yet? I really don't want to use an extension for such a core feature. I feel like it'll not be safe in the long run. Honestly, UTF-8 support should have been implemented years ago. OpenCart supports unicode URLs and crushes on SEO in this regard.

[2019-02-05 10:55] engcom-backlog-nazar commented on #20977
Hi @Vallance21 can you please provide more steps to reproduce ? because in current description i don't understand where the issue is coming. thank you

[2019-02-05 11:40] gerym77 opened #20991 "You cannot define a correlation name 'links' more than once"
### Summary (*)
When I click on a product in frontend detail view in Magento 2.2.6  I get the error message "You cannot define a correlation name 'links' more than once". All date comes from magenta migration tool. I have a lot of imported attributes. Magento is a clean version with no extensions or any changes in the code. there are no attributes called "links"

###  Information on your environme

[2019-02-05 11:41] magento-engcom-team commented on #20991
Hi @gerym77. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-05 11:45] magento-engcom-team commented on #20991
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-05 11:46] engcom-backlog-nazar commented on #20991
Hi @gerym77     thank you for your report,  problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2019-02-05 11:46] #20991 closed, assigned to nobody

[2019-02-05 11:57] dhrumin44 commented on #8628
I am getting the error in console like this only on categoty page.

I searched in Google for this and fixed the issue, it's created becuase of i have remove magento default main container and create new container so it's created , simple i past bellow code into my container and clear cache and issue was fixed.

[code]

Hope you understant my cenario and code.

[2019-02-05 11:59] alfredo4c commented on #1812
Hello,

when I found this description [](https://devdocs.magento.com/guides/v2.0/pattern-library/getting-user-input/date_time_selector/date_time_selector.html#implementation) I though something like this would come next to every example `<source_model>Magento\Config\Model\Config\Source\Date\Short</source_model>`

[2019-02-05 12:09] magento-engcom-team commented on #20975
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98085`, `MAGETWO-98086` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-05 12:21] patruvlad commented on #12390
any Update on this? I can reproduce on 2.2.7

[2019-02-05 12:33] andkirby opened #20993 "Hardcoded entity code is forcing to load "customer" attributes on create new Scheduled Export"
### Summary (*)

Hardcoded entity code is forcing to load "customer" attributes in file `vendor/magento/module-scheduled-import-export/view/adminhtml/templates/scheduled/form/before.phtml:118` on create Scheduled Export.

Magento EE v2.2.5

### Examples (*)

I've created my own export/import entity and when I'm trying to create scheduled export it's always loading "customer" attributes due to foll

[2019-02-05 12:33] magento-engcom-team commented on #20993
Hi @andkirby. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-05 12:36] #20993 closed, assigned to nobody

[2019-02-05 12:46] andkirby commented on #20993
@engcom-backlog-nazar , are there certain links to understand what you are talking about?

[2019-02-05 12:47] engcom-backlog-nazar commented on #20993
@andkirby module-scheduled-import-export available on EE version,  GitHub is intended for Magento Open Source

[2019-02-05 12:48] andkirby commented on #20993
@engcom-backlog-nazar , yeah, it's clear. Where exactly this issue should be created in?

[2019-02-05 12:54] betooliveira79 commented on #17947
@trandinh2409 and @srilathakln there's a patch from magento MDVA-8623_EE_2.2.0_v1. You can get it with magento team.

[2019-02-05 13:25] Ashok5000 opened #20994 "First I Flush Static Files then Flush JavaScript/CSS Cache after that Flush catalog images cache finally Flush Magento Cache. then automatically logout from the Magento 2.3.0 System"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-02-05 13:33] orlangur commented on #20974
@magefan, https://devdocs.magento.com/guides/v2.3/performance-best-practices/configuration.html

[2019-02-05 13:53] magento-engcom-team commented on #20915
Hi @hardik-krish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-02-05 13:53] jhruehl opened #20996 "Magento 2.2.7: Image deletion via Rest API not working as expected"
### Preconditions (*)
1. Magento 2.7 CE
2. At least two Store Views in same Website
2. PHP 7.1

### Steps to reproduce (*)
1. Open a product in backend
2. Switch to other store view than default
3. Upload image in this store view
4. Delete image for all store views via Rest-API Call to rest/all/V1/products/<SKU>/media/<ENTRY_ID>

### Expected result (*)
1. Frontend before deletion via rest call: I

[2019-02-05 13:54] magento-engcom-team commented on #20996
Hi @jhruehl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-05 13:54] magento-engcom-team commented on #20915
Hi @krnshah. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-02-05 14:12] rogyar commented on #20800
Thank you for the details

[2019-02-05 14:20] Lez-2 opened #20997 "Magento 2.2.7 custom product attributes don't load when switching between attribute sets on product edit"
### Preconditions (*)
1. Magento 2.2.7

### Steps to reproduce (*)
1. Have a minimum of 2 product attribute sets which have at least 1 different attribute inside of them (for example, attribute set: "Default" and "Default + size" - where in the "Default + size" set an additional attribute called "Size" resides
2. Create a product with the "Default" attribute set
3. Edit the same product and change

[2019-02-05 14:20] magento-engcom-team commented on #20997
Hi @Lez-2. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-02-05 14:33] magento-engcom-team commented on #20997
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-05 14:33] engcom-backlog-nazar commented on #20996
HI @jhruehl thank you for you report, i'm not able to reproduce following steps you described.
![selection_316](https://user-images.githubusercontent.com/40756439/52279763-fbd3b400-2962-11e9-937c-373cfe55e65e.png)
![selection_315](https://user-images.githubusercontent.com/40756439/52279764-fc6c4a80-2962-11e9-9d4d-bb3497a1cc14.png)

[2019-02-05 14:38] jhruehl commented on #20996
@magento-engcom-team  You did the GET request with the ID specified. If you do a general GET request without the image id to get all media data for the given product, it still returns the data for the uploaded image.

[2019-02-05 14:39] jhruehl commented on #20996
Furthermore you could look up, if the image is still listed in the backend. And if you upload the image only in the default store view, everything works as expected.

[2019-02-05 14:49] engcom-backlog-nazar commented on #20996
@jhruehl
![selection_317](https://user-images.githubusercontent.com/40756439/52281057-eb710880-2965-11e9-9d8f-8457bb8be1a8.png)

[2019-02-05 14:49] engcom-backlog-nazar commented on #20996
@jhruehl I'm trying upload for second default storview but always image was deleted

[2019-02-05 14:51] jhruehl commented on #20996
No. Not default store view.. In a non default store view, which has a default store view as a "parent". But if you cannot reproduce, it's not such a drama.

[2019-02-05 14:53] zipnfc commented on #18148
@DS2987 did you definitely find the fix did not work on 2.3? Just checking as going to start testing 2.3 this week?

[2019-02-05 14:53] jhruehl commented on #20996
In my case I switched to Store View with ID 2, which has the Default Store view with ID 0.

[2019-02-05 14:55] ihor-sviziev opened #20998 "[Performance] Cart Price Rule - Recreates all product attributes for each order"
### Preconditions (*)
1. Magento 2.2.7

### Steps to reproduce (*)
1. Create two products: skus - test-1, test-2
2. Go to Admin >> Marketing >> Cart Price Rules3
3. Create new rule like this:
![capture 2019-02-05 at 16 36 54](https://user-images.githubusercontent.com/1873745/52280448-98e31c80-2964-11e9-8494-8bc3210917a0.png)
![capture 2019-02-05 at 16 38 30](https://user-images.githubusercontent.c

[2019-02-05 14:55] magento-engcom-team commented on #20998
Hi @ihor-sviziev. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-02-05 14:57] engcom-backlog-nazar commented on #20996
@jhruehl same result , can you try in vanilla instance ?

[2019-02-05 14:57] engcom-backlog-nazar commented on #20996
@magento-engcom-team give me 2.3-develop instance

[2019-02-05 14:58] magento-engcom-team commented on #20996
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-05 14:58] magento-engcom-team commented on #20996
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-20996-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20996-2-3-develop.instances.magento-community.engineering/admin](https://i-20996-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-05 14:59] engcom-backlog-nazar commented on #20977
Please provide following information

- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Then please reopen the issue.

[2019-02-05 14:59] #20977 closed, assigned to nobody

[2019-02-05 14:59] engcom-backlog-nazar commented on #20994
Hi @Ashok5000
Please provide following information

- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Then please reopen the issue.

[2019-02-05 14:59] #20994 closed, assigned to nobody

[2019-02-05 15:05] magento-engcom-team commented on #20998
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-05 15:19] jhruehl commented on #20996
Hm. Seems I cannot reproduce it there. Really really strange though. I guess I'm missing something in this setup. Tried a configurable product, but no.

Sorry and thanks for your efforts. If I'm getting to the bottom of the problem some time, I'll let you know.

[2019-02-05 15:21] magefan commented on #20974
@DanielRuf , yes it is normal for a single CSS file, but Google page speed says that a single CSS file which contains CSS for elements that are not included on the current page is bad practice
"Remove unused rules from stylesheets to reduce unnecessary bytes consumed by network activity. "
https://developers.google.com/web/tools/lighthouse/audits/unused-css

We know that a single CSS file it is ho

[2019-02-05 15:22] jhruehl commented on #20996
Hm. I just see that this was a Magento 2.3 instance. Maybe the bug or whatever this is was resolved in 2.3. Until then we'll probably use the workaround anyway.

[2019-02-05 15:24] #20996 closed, assigned to nobody

[2019-02-05 15:38] evagabond commented on #14952
I can confirm that it's working on Magento 2.3.0.

[2019-02-05 16:00] lisovyievhenii commented on #13690
We faced with the same problem.

It is already fixed in 2.3: https://github.com/magento/magento2/blob/2.3.0/app/code/Magento/Persistent/Observer/CheckExpirePersistentQuoteObserver.php

BUT if you, as guest user, go to checkout, fill in the shipping data. Than you decided to buy another product and you go to some PDP, return back to checkout and your address becomes empty.

[2019-02-05 16:12] DanielRuf commented on #20974
It is a best practice but not practical ;-)

Did you already try Brotli compression?

[2019-02-05 16:39] shikhamis11 commented on #20997
@magento-engcom-team give me 2.2-develop instance

[2019-02-05 16:39] magento-engcom-team commented on #20997
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-05 16:39] magento-engcom-team commented on #20997
Hi @shikhamis11, here is your [Magento instance](https://i-20997-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20997-2-2-develop.instances.magento-community.engineering/admin](https://i-20997-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-05 16:47] PascalBrouwers commented on #20975
Yes, that issue looks related. I only fixed it for this class. It's a bit harder to fix it for addFieldToFilter where an array of values will be used, etc.

[2019-02-05 16:48] PascalBrouwers commented on #20975
I was thinking, maybe we can cache the 'describe' of all magento tables and use that? But I don't know what kind of impact that has on performance.

[2019-02-05 16:50] shikhamis11 commented on #20997
@magento-engcom-team give me 2.3-develop instance

[2019-02-05 16:50] magento-engcom-team commented on #20997
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-05 16:51] magento-engcom-team commented on #20997
Hi @shikhamis11, here is your [Magento instance](https://i-20997-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20997-2-3-develop.instances.magento-community.engineering/admin](https://i-20997-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-05 16:56] vaso123 opened #20999 "Itemwith the same ID “35436” already exists because it is in two categories"
### Preconditions
Our customer uses Magento ver. 2.2.6.
Using latest stable mysql, and Ubunut 18.04 LTS

### Steps to reproduce
Add an item to your cart what has Default and a default child category and go to checkout.

### Expected result
Checkout page appears.

### Actual result
You will get an error:
`Itemwith the same ID “[product_id]” already exists`

### Description

This is frequently asked

[2019-02-05 16:56] magento-engcom-team commented on #20999
Hi @vaso123. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-05 16:57] mnatali80 opened #21000 "Magento 2.2.6 customer login cause server error"
### Preconditions (*)
Magento 2.2.6

### Steps to reproduce (*)
1. Register a customer
2. Login ->ok
3. After some days (but not whith all customer) retry to login and encounter the error

### Expected result (*)

1.Normalli login with email and password

1.After some days and apparently random the customer(that was able to login without problem until some days ago) can't login and after some seco

[2019-02-05 16:58] magento-engcom-team commented on #20997
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98100`, `MAGETWO-98101` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-05 17:13] Swahjak commented on #13477
@magento-engcom-team This is not a duplicate of #13751. It's about the `_value` fields not being populated due to `getFlatUpdateSelect` being completely ignored by the indexer. The only option to add a custom attribute is by using `eav_attribute_option_value` a custom backend is not possible. `Magento\Catalog\Model\Indexer\Product\Flat\Table\BuilderInterfaceFactory\TableBuilder::306` and beyond do

[2019-02-05 17:19] orlangur commented on #21000
@mnatali80,

Issue should be reproduced on a vanilla Magento installation and not randomly.

Is there something in PHP or Magento logs maybe? Like fatal error.

[2019-02-05 17:22] orlangur commented on #20973
@tim-reynolds-visionet expected result is quite doubtful to me. How much time such loading from cache actually takes?

[2019-02-05 17:48] DS2987 commented on #18148
@zipnfc Yes I confirm in version 2.3 although the status has changed from 'Processing Payment' it is now 'Suspected Fraud' even though the payment has gone into PayPal with a 200 IPN response and transaction ID updated to Magento. A proper fix for this issue rather than a workaround would be great.

[2019-02-05 17:49] sorinspanu commented on #13114
I am also interested in a solution for this issue.

[2019-02-05 17:49] qsolutions-pl commented on #20478
@sunilit42
CMS Page Block extends
`\Magento\Framework\View\Element\AbstractBlock` which has
`protected $_isScopePrivate = false; `
The problem is related to Filter\Template class which does not check for `isScopePrivate` variable when its rendering blocks.

[2019-02-05 18:10] azngeek opened #21001 "Unit Tests failed"
### Summary

The unit tests fails for the FormatTests.

### Environment

[code]

### Preconditions (*)

1. magento/project-enterprise-edition 2.3.0
2. Dockerfile using PHP 7.2 and all required extensions

[code]

### Steps to reproduce (*)
1. Launch Container and mount Magento with all dependencies to /var/www/share/dev/htdocs/www/
2. Change directory und run tests in container

[code]

### Expect

[2019-02-05 18:25] devamitbera commented on #10088
@magento-engcom-team , Do you guys has any suggestion on this issue?

[2019-02-05 18:32] mnatali80 commented on #21000
@orlangur
thanks for your reply.
My problem is this(sorry for my english)
first day: customer register himself and can login and buy
second day: customer can login and buy
3th day: customer can login and buy
.
.
.
about after 7/8 days (but there isn't a specific day) customer can't login anymore and a ireceive this error
503 POST /customer/account/loginPost/referer/aHR0cHM6Ly9tYXNzZXRhbmlzaG9wLmNv

[2019-02-05 18:51] pablobae commented on #4737
Still present on 2.27 and the fix doesn't work
`composer.json >> require-dev >> "pelago/emogrifier": "dev-master as 0.1.1"
Then composer update.`

[2019-02-05 18:56] chammedinger commented on #4737
@paoblae

thats correct. but my fix above for 2.2.5 still works on 2.2.7

[2019-02-05 19:06] vaso123 commented on #20999
I've just updated my issue, please review.

[2019-02-05 19:17] santosh142 commented on #20999
@magento-engcom-team give me 2.2-develop instance

[2019-02-05 19:17] magento-engcom-team commented on #20999
Hi @santosh142. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-05 19:18] magento-engcom-team commented on #20999
Hi @santosh142, here is your [Magento instance](https://i-20999-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20999-2-2-develop.instances.magento-community.engineering/admin](https://i-20999-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-05 20:55] nathancasebolt opened #21002 ""Column not found" SQL error when saving a rule that references `sku` in its conditions"
### Preconditions
1. Magento 2.3.0
2. Ubuntu 18.04.1 LTS
3. PHP 7.2.10
4. MySQL 14.14 Distrib 5.7.25
5. Static eav_attribute 74 (`sku`) is set to Store scope

### Steps to reproduce
1. Log into Magento Admin
2. Navigate to **MARKETING > Promotions > Catalog Price Rule**
3. Click the _Add New Rule_ button
4. Create and save a new rule referencing SKU under Conditions

### Expected result
![good](ht

[2019-02-05 20:55] magento-engcom-team commented on #21002
Hi @nathancasebolt. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-05 22:33] patvdleer opened #21003 "Magento 2.3 - clean install - Unable to apply patch for Magento_InventorySales"
Completely clean setup, new server about an hour old, installed Ubuntu 18.04, Apache 2, MySQL 5.7 and PHP 7.1. When trying to run the Magento 2.3 setup it failed.

### Preconditions (*)

1. Magento 2.3.0
[code]

### Steps to reproduce (*)

1. Clean install
2. follow setup guide

### Expected result (*)

1. Install?

### Actual result (*)

![image](https://user-images.githubusercontent.com/1138136/

[2019-02-05 22:33] magento-engcom-team commented on #21003
Hi @patvdleer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-06 00:02] uandiweb opened #21004 "Tax on Virtual Products When Billing Address is Different Then Service Address"
### Preconditions (*)

1. Magento 2.3.0

### Steps to reproduce (*)

1. Create a virtual product (i.e. "Parking Service in NYC for 2 Hours")
2. Set Magento to charge taxes in NY at 8.875%
3. A Customer with a billing address in FL places an order for the above product

### Expected result (*)

NY Sales Tax will apply to the order because the service is actually rendered in NY

### Actual result (*

[2019-02-06 00:02] magento-engcom-team commented on #21004
Hi @uandiweb. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-06 00:22] MichaelThessel opened #21005 "Styles wrapped in certain media query combinations get dropped"
### Preconditions (*)

1. 2.3.0

### Steps to reproduce (*)

1. Install 2.3.0
2. Create a child theme that inherits from the Blank theme

### Expected result (*)

I want to change the breakpoint for when the mobile menu is shown from @screen__m to @screen_l.
For that I updated the breakpoints in _navigation.less
[code]
[code]

I expect that the CSS wrapped in these media queries shows up in styles

[2019-02-06 00:22] magento-engcom-team commented on #21005
Hi @MichaelThessel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-06 01:33] eharvest commented on #14582
Same issue on 2.1.6, never used data migration tool.

[2019-02-06 03:45] magento-engcom-team commented on #21002
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-06 04:08] Dharmeshvaja91 commented on #21002
@magento-engcom-team give me 2.3-develop instance

[2019-02-06 04:08] magento-engcom-team commented on #21002
Hi @Dharmeshvaja91. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-06 04:09] magento-engcom-team commented on #21002
Hi @Dharmeshvaja91, here is your [Magento instance](https://i-21002-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21002-2-3-develop.instances.magento-community.engineering/admin](https://i-21002-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-06 04:36] raibelbotta commented on #6682
Hi all.
In Magento 2.1.10, I solved the problem by overwriting the theme file `vendor/magento/theme-adminhtml-backend/web/js/theme.js`. I inserted the following line after line 98:

menu.css('top', 'auto');

Good luck

![image](https://user-images.githubusercontent.com/2282889/52320676-b503af80-299e-11e9-862e-731c0e2ff2d6.png)

[2019-02-06 05:52] magento-engcom-team commented on #20989
Hi @sskulkarni. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-02-06 05:56] DanielRuf commented on #21005
You may have to add this rule to the mediaquery settings as this is none of the core rules.

[2019-02-06 05:57] DanielRuf commented on #21005
To put it simply, blank theme and Magento CSS lib are mobile first.

[2019-02-06 05:59] DanielRuf commented on #21005
You have to overwrite / extend https://github.com/magento/magento2/blob/2.3-develop/lib/web/css/source/lib/_responsive.less as there is no media-width entry for max-l but min-l.

[2019-02-06 06:00] DanielRuf commented on #21005
desktop = l.css, mobile = m.css

[2019-02-06 06:13] CharanjeetE opened #21006 "Warning: DOMDocument::loadXML(): Empty string supplied as input in /var/www/siteurl/vendor/magento/framework/Config/Dom.php on line 392"
### Preconditions (*)

1.I am trying to migrate data from magento 1 to magento 2
2.

### Steps to reproduce (*)

1.Running the below command
sudo php /var/www/siteurl/bin/magento migrate:settings -r /var/www/siteurl/vendor/magento/data-migration-tool/etc/opensource-to-opensource/1.9.3.7/
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.The Migration completed message is display

[2019-02-06 06:13] magento-engcom-team commented on #21006
Hi @CharanjeetE. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-06 06:14] CharanjeetE commented on #21006
yes

[2019-02-06 07:30] CharanjeetE commented on #21006
Please help me to solve the issue. There is nothing helpful in the logs or reports.

[2019-02-06 07:34] magento-engcom-team commented on #21006
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-06 07:35] vishalnyati commented on #12483
@magento-engcom-team  We are also getting same issue in Magento 2.2.6 .  We did migration from Magento 1.9.2 .
We also observed cataloginventory_stock_item_save_after .. this event is getting hit multiple times in a second and qty is increasing automatically.

[2019-02-06 07:35] engcom-backlog-nazar commented on #21006
Hi @CharanjeetE    thank you for your report,  problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2019-02-06 07:35] #21006 closed, assigned to nobody

[2019-02-06 07:36] magento-engcom-team commented on #21005
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-06 07:37] magento-engcom-team commented on #21004
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-06 07:41] engcom-backlog-nazar commented on #21003
Hi @patvdleer thank you for you report, please open issue here -> https://github.com/magento-engcom/msi

[2019-02-06 07:41] #21003 closed, assigned to nobody

[2019-02-06 07:42] magento-engcom-team commented on #21000
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-06 07:46] magento-engcom-team commented on #20999
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-06 07:51] mnatali80 commented on #21000
Hi,
yesterday i have done other test..i have used a fresh installation of magento 2.2.6 and imported a copy of the db with customers inside. all is working. After that i switch to production mode the problem has happened..

[2019-02-06 08:02] magento-engcom-team commented on #21001
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-06 08:05] MagePsycho commented on #10165
Coming to Magento 2.3, we have the same issue.
Converting `.url = "/pub/health_check.php";` to `.url = "/health_check.php";` FIXED the issue.

[2019-02-06 08:11] engcom-backlog-nazar commented on #21001
Hi @azngeek  thank you for you report i'm not able to reproduce following steps you described on clean magento 2.3-dev instance
![selection_318](https://user-images.githubusercontent.com/40756439/52328227-7ea64e80-29f7-11e9-9d7c-2c504d5589b2.png)

[2019-02-06 08:19] engcom-backlog-nazar commented on #21004
Hi @uandiweb  thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-02-06 08:19] #21004 closed, assigned to nobody

[2019-02-06 08:40] engcom-backlog-nazar commented on #20999
Hi @vaso123  thank you for you report, i'm not able to reproduce following steps you described, please provide more information, did have you some custom modules ? your magento version is CE ?

[2019-02-06 08:40] #20999 closed, assigned to nobody

[2019-02-06 08:41] ammad-khan commented on #19491
Hi @Nazar65 @magento-engcom-team same issue is persisting once install magento 2.3.x, changes have been done as prescribed but still same problem and redirecting to setup/index.php/session/unlogin

[2019-02-06 08:45] hellekim commented on #12483
For us the issue was payment extension - everytime someone canceled the order the items were returned to stock twice. Payment extension was Paytrail.

[2019-02-06 09:03] engcom-backlog-nazar commented on #21000
Hi @mnatali80 did you use varnish ?

[2019-02-06 09:05] bartoszkubicki commented on #13636
Still exists on 2.2.5

[2019-02-06 09:06] mnatali80 commented on #21000
hi @engcom-backlog-nazar no..i use redis

[2019-02-06 09:06] tomalowsky opened #21010 "[Performance] Linked products section loads all the collection"
### Preconditions (*)
1. Clean M2.3 installation

### Steps to reproduce (*)
1. Go to the admin panel.
2. Open catalog -> products section.
3. Choose one of the product having a lot of linked children (e. g Related/Up-sells/Cross-sells).
4. Go to edit page of that product.

### Expected result (*)
1. Page loads quickly.

### Actual result (*)
1. Page loads for a long time (or even does not load at

[2019-02-06 09:06] magento-engcom-team commented on #21010
Hi @tomalowsky. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-06 09:09] magento-engcom-team commented on #21010
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-06 09:12] engcom-backlog-nazar commented on #21000
@mnatali80 can you provide more information about your environment ?

[2019-02-06 09:27] engcom-backlog-nazar commented on #21000
@mnatali80 i think this is issue with your environment
Add the following lines to the text boxes Additional directives for HTTP and Additional directives for HTTPS:
/etc/apache2/mods-enabled/fcgid.conf
[code]

[2019-02-06 09:32] mnatali80 commented on #21000
sure..is an ubuntu 16:04 on a server with 4G of ram. I have mount a plesk license. Magento is running on a php 7.1.26 fpm...i have already set FcgidIdleTimeout ...the strange is that this issue happen with some customer and with other not..

[2019-02-06 09:38] ilnytskyi opened #21011 "Not all Breadcrumbs are present on the product page if URL includes categories"
Breadcrumbs do not work on product page if there is no referer
### Preconditions (*)

Magento 2.2.x
Magento 2.3

There is typo in uiComponent

### Steps to reproduce (*)

1. Open product page using direct link including category path
2. See there is no breadcrumbs just Home -> Product Page

### Expected result (*)

1. All Breadcrumbs are present on the product page

### Actual result (*)

1. Not a

[2019-02-06 09:38] magento-engcom-team commented on #21011
Hi @ilnytskyi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-06 09:40] dmytro-ch commented on #20919
@magento-engcom-team give me 2.3-develop instance

[2019-02-06 09:41] magento-engcom-team commented on #20919
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-06 09:42] magento-engcom-team commented on #20919
Hi @dmytro-ch, here is your [Magento instance](https://i-20919-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20919-2-3-develop.instances.magento-community.engineering/admin](https://i-20919-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-06 09:52] magento-engcom-team commented on #21010
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-02-06 09:52] GovindaSharma commented on #21010
@magento-engcom-team give me 2.3-develop instance

[2019-02-06 09:52] magento-engcom-team commented on #21010
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-06 09:52] magento-engcom-team commented on #21010
Hi @GovindaSharma, here is your [Magento instance](https://i-21010-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21010-2-3-develop.instances.magento-community.engineering/admin](https://i-21010-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-06 09:53] engcom-backlog-nazar commented on #21000
@mnatali80 Check your php.ini file or opcache.ini file and try increasing the caching memory like this (by default should be 64 or 128)
[code]
Try setting this in nginx.conf:
[code]
In /etc/security/limits.conf add at the end of the file:
[code]
In /etc/sysctl.conf (save the file & run sysctl -p after that so you'll activate the changes):

`fs.file-max = 209708`

Try settting something like this i

[2019-02-06 09:57] engcom-backlog-nazar commented on #21010
@GovindaSharma did you try to generate 5k linked products on vanilla instance ?)

[2019-02-06 10:00] GovindaSharma commented on #21010
@engcom-backlog-nazar ,i asked instance for another issue as i there was no available instance,so that's why i asked here..so is there any problem if i asked vanilla instance here?

[2019-02-06 10:01] engcom-backlog-nazar commented on #21010
@tomalowsky You assigned for this issue so this looks like you working on this.

[2019-02-06 10:02] developer-vtnetzwelt commented on #13952
Any update on this issue?

[2019-02-06 10:03] GovindaSharma commented on #21010
@engcom-backlog-nazar no as of now i am not working on this may be later i will work,it was just for having vanilla instance,i will remove my assignment shortly.

[2019-02-06 10:04] engcom-backlog-nazar commented on #21010
@GovindaSharma ok

[2019-02-06 10:09] markusvonplunkett opened #21014 "Gallery Thumbnail (left/right) Scroll Performance Android Chrome Sluggish and Unresponsive"
### Preconditions (*)

1. Magento 2.2.7 and Magento 2.3 Product Gallery
2. Product page gallery with sample data is installed on the luma theme with additional images (minimum 5+).

### Steps to reproduce (*)

1. Configure product gallery to use thumbnails on mobile.
[code]
2. Navigate to a product page with more than 5 images on Chrome Android or Chrome Dev in mobile mode.
3. Attempt to scroll th

[2019-02-06 10:09] magento-engcom-team commented on #21014
Hi @mplunkett5. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-06 10:15] magento-engcom-team commented on #21010
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98108`, `MAGETWO-98109` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-06 10:19] devkokov commented on #5172
Has this been fixed in 2.3 then?

[2019-02-06 10:22] themoonwatcher commented on #7137
This happened to me with Magento 2.2.6 and 2.3.0. My fix was to add this to Nginx confog:
[code]

[2019-02-06 10:26] engcom-backlog-nazar commented on #21005
Hi @MichaelThessel thank you for you report, I closing this as this is non-issue, feel free to reopen if you had some additional info

[2019-02-06 10:26] #21005 closed, assigned to nobody

[2019-02-06 10:35] paul-blundell commented on #15461
Typical Magento. Another major bug that is being left to gather dust...

[2019-02-06 11:10] gelanivishal commented on #21000
@mnatali80 Also, Share server error log.

[2019-02-06 11:16] CompactCodeEU opened #21015 "XSS injection ko checkout"
We were checking a new project for XSS injections on the frontend (controllable fields by the end user).
You can find them in the next files

They contain fields like :

`<span html="currentBillingAddress().region"></span>`

### Preconditions (*)
1. Magento 2.2 or 2.3
2. Apache or NGINX
3. Production and developer mode

### Steps to reproduce (*)
1. Create a frontend account
2. Create an address w

[2019-02-06 11:17] magento-engcom-team commented on #21015
Hi @CompactCodeEU. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-06 11:18] CompactCodeEU commented on #21015
I can confirm that you can reproduce this on a vanilla Magento instance

[2019-02-06 11:21] terrybakshi commented on #14952
Just updated from 2.2.5 to 2.2.7 and the issue is still on, this need to be addressed and fixed ASAP, Team please help how to apply fix.

[2019-02-06 11:22] magento-engcom-team commented on #21015
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-06 11:25] Zyles opened #21016 "Infinite spinner loading when editing theme configuration"
### Preconditions (*)

Magento 2.3.0

### Steps to reproduce (*)

1. Go into Content -> Configuration
2. Click Edit on the active theme
3. Greeted by a forever spinner and unable to change the theme to another one or make any changes

Error in Chrome:

Uncaught ReferenceError: Base64 is not defined
    at UiClass.processFile (file-uploader.js:173)
    at Array.map (<anonymous>)
    at UiClass.setI

[2019-02-06 11:25] magento-engcom-team commented on #21016
Hi @Zyles. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-02-06 11:25] engcom-backlog-nazar commented on #21015
Hi @CompactCodeEU thank you for you report, this issue has already fixed in 2.3-dev branch.

[2019-02-06 11:25] #21015 closed, assigned to nobody

[2019-02-06 11:25] engcom-backlog-nazar commented on #21015
@CompactCodeEU https://github.com/magento-engcom/magento2ce/commit/f9bde4091d147c65944f2e08cad1c84650ca952f

[2019-02-06 11:26] magento-engcom-team commented on #21016
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-06 11:26] CompactCodeEU commented on #21015
We are testing this on a 2.3.0 instance. The commit is a page not found

[2019-02-06 11:28] engcom-backlog-nazar commented on #21016
HI @ thank you for you report, this is duplicate to https://github.com/magento/magento2/issues/19549

[2019-02-06 11:28] #21016 closed, assigned to nobody

[2019-02-06 11:31] DanielRuf commented on #21015
See https://github.com/magento/magento2/commit/f9bde4091d147c65944f2e08cad1c84650ca952f

[2019-02-06 11:31] DanielRuf commented on #14952
It will be probably in 2.2.8.

[2019-02-06 11:34] craigcarnell commented on #14952
@DanielRuf When is a new release due?

[2019-02-06 11:39] terrybakshi commented on #14952
But isn't that security concern which is directly displaying our VPS address, so the hackers can manipulate it and hack the VPS

[2019-02-06 11:43] DanielRuf commented on #14952
Your answer does not make much sense to me.
You can apply the patch using composer-patches and there were also workarounds mentioned in the collapsed comments (setting the sender for the binary which sends the mails).

[2019-02-06 11:44] DanielRuf commented on #14952
@terrybakshi also see https://github.com/magento/magento2/issues/14952#issuecomment-449823307

[2019-02-06 11:47] magento-engcom-team commented on #21014
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-06 11:47] CompactCodeEU commented on #21015
Ok thanks for the information!

[2019-02-06 11:49] andkirby commented on #20993
Got it, thanks.

[2019-02-06 11:50] terrybakshi commented on #14952
what about this solution will this fix the issue https://magento.stackexchange.com/questions/152799/order-confirmation-email-not-send-in-magento-2/257215#257215

[2019-02-06 11:53] Zyles commented on #19549
Link to solution? Need a workaround right now.

[2019-02-06 11:53] terrybakshi commented on #14952
Fix: vendor/magento/module-sales/Model/Order/Email/SenderBuilder.php

replace

    $this->transportBuilderByStore->setFromByStore(
        $this->identityContainer->getEmailIdentity(),
        $this->identityContainer->getStore()->getId()
    );
with

    $this->transportBuilder->setFrom(
        $this->identityContainer->getEmailIdentity(),
        $this->identityContainer->getStore()->getId()

[2019-02-06 11:57] Nazar65 commented on #19549
@Zyles try this -> https://github.com/magento/magento2/pull/18851/files

[2019-02-06 12:25] priti2jcommerce opened #21021 "products in category checkbox not align properly"
### Preconditions (*)

1. 2.3.0
2.

### Steps to reproduce (*)

1. Go to admin >> Catalog >> Categories
2. Select any category having product

### Expected result (*)

1.
![image](https://user-images.githubusercontent.com/18118695/52341293-33f8f680-2a38-11e9-9074-087e0cb01dd6.png)

2.

### Actual result (*)

1.
![image](https://user-images.githubusercontent.com/18118695/52341207-00b66780-2a38-11e9

[2019-02-06 12:25] magento-engcom-team commented on #21021
Hi @priti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-02-06 12:28] magento-engcom-team commented on #21021
Hi @faizan2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-02-06 12:30] faizan2jcommerce commented on #21021
@magento-engcom-team  please give me 2.3 develop instance.

[2019-02-06 12:32] faizan2jcommerce commented on #21021
* @magento-engcom-team give me 2.3-develop instance

[2019-02-06 12:32] magento-engcom-team commented on #21021
Hi @faizan2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-06 12:33] magento-engcom-team commented on #21021
Hi @faizan2jcommerce, here is your [Magento instance](https://i-21021-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21021-2-3-develop.instances.magento-community.engineering/admin](https://i-21021-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-06 12:39] mohit724 commented on #9666
If anyone found solution for Arabic. Please let me know

[2019-02-06 12:39] magento-engcom-team commented on #21021
:white_check_mark: Confirmed by @faizan2jcommerce
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-06 12:39] magento-engcom-team commented on #21021
Hi @faizan2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-02-06 12:39] engcom-backlog-nazar commented on #21014
Hi @mplunkett5
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-06 12:49] dmytro-ch commented on #21021
Hi @prakash2jcommerce,
please, feel free to create PR without opening an issue for such minor styling issues.
Thank you!

[2019-02-06 12:53] priti2jcommerce commented on #21021
Hi @dmytro-ch ,

Thanks for the update, I will make it for next time.

[2019-02-06 12:55] DanielRuf commented on #14952
This is what the linked patches already do ;-) It was already posted a few times before.

composer-patches is recommended, editing the core (manually) is highly discouraged and not recommended. Never touch core files. This is why we have `patch`.

[2019-02-06 12:59] azngeek commented on #21001
Hey,

i don't think that this issue should be closed. I was able to easily reproduce it with my environment. The implementation used heavily depends on using the right ICU Extension. In my case this works with ICU Version 52.1. If you use a newer one (which is the case in newer linux distributions), this test will fail.

[2019-02-06 13:38] keyurpatel90 commented on #6602
This Works for me.

[2019-02-06 13:46] pjw345 commented on #12330
I believe the same issue still applies to Magento 2.3, if you edit and "save and duplicate" a bundle it doesn't update the catalog_product_relation table

[2019-02-06 13:52] barathdckap commented on #14208
@duckchip The bug you reported is not an issue rather it is a feature. I would like to give more insights into what happening when we change the position of the image,
When we follow the steps 1,2,3 and 4(please refer the steps to reproduce points), a new record will be created or updated(if already exists) with the position values for the default store view (in my case "store_id" is 0) in the 'ca

[2019-02-06 13:52] #14208 closed, assigned to barathdckap

[2019-02-06 13:53] magento-engcom-team commented on #21014
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98115`, `MAGETWO-98116` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-06 13:55] shikhamis11 commented on #21002
@magento-engcom-team give me 2.3-develop instance

[2019-02-06 13:55] magento-engcom-team commented on #21002
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-06 13:55] magento-engcom-team commented on #21002
Hi @shikhamis11, here is your [Magento instance](https://i-21002-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21002-2-3-develop.instances.magento-community.engineering/admin](https://i-21002-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-06 14:08] dmytro-ch commented on #20481
@magento-engcom-team give me 2.3-develop instance

[2019-02-06 14:08] magento-engcom-team commented on #20481
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-06 14:09] magento-engcom-team commented on #20481
Hi @dmytro-ch, here is your [Magento instance](https://i-20481-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20481-2-3-develop.instances.magento-community.engineering/admin](https://i-20481-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-06 14:37] pjw345 opened #21025 "Missing "Apply To" when editing Product attributes"
### Preconditions (*)

1. Magento 2.3 (fresh install)
2. PHP 7.2.14

### Steps to reproduce (*)

1.  Store -> Attributes -> Product
2.  Add New/Edit attributes

### Expected result (*)

1. Expect to see a field "Apply To", i.e. All Product Types, Selected Product Types

### Actual result (*)

1. The field is not shown, unable to apply an attribute to a specific product type, i.e. only to Simple

[2019-02-06 14:37] magento-engcom-team commented on #21025
Hi @pjw345. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-06 14:52] abrarpathan19 opened #21026 "Magento Luma theme cart page move to wishlist icons issue"
### Preconditions (*)

1. Magento 2.3 and Magento 2.2.X

### Steps to reproduce (*)

1. Login to frontend luma theme and add to cart any product.
2. Go to the checkout cart page check  wishlist icons in mobile view
3. wishlist icons  cuts from the right side

### Expected result (*)

1. http://prntscr.com/mhgahg

### Actual result (*)

1. http://prntscr.com/mhgfma

[2019-02-06 14:53] magento-engcom-team commented on #21026
Hi @abrarpathan19. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-06 14:55] #21026 closed, assigned to nobody

[2019-02-06 15:26] wakar commented on #5312
Thankyou so much,it works for me.

[2019-02-06 15:46] magento-engcom-team commented on #21025
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-06 15:50] shikhamis11 commented on #21025
this issue can be in feature request but I believe this must be there  as it is quite good functionality which is missing in magento 2.

[2019-02-06 15:58] JanuszWitrykus opened #21027 "Existing comment element in core system.xml file can not be overwritten"
### Preconditions (*)

1. Magento 2 version 2.2.7

### Steps to reproduce (*)

In custom module I try to overwrite comment field from core module in which comment already exists, like this (in system.xml, module has set correct sequence):
`
...
\<system\>
\<section id="currency"\>
\<group id="options"\>
\<field id="base" translate="label comment" type="select" sortOrder="1" showInDefault="1" showI

[2019-02-06 16:11] magento-engcom-team commented on #21025
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-02-06 16:17] cwpm commented on #20396
We've come across this issue too on 2.2.7 website, can this fixed also be rolled out in 2.2.8 update?

[2019-02-06 16:30] shikhamis11 commented on #21011
@magento-engcom-team give me 2.3-develop instance

[2019-02-06 16:30] magento-engcom-team commented on #21011
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-06 16:31] magento-engcom-team commented on #21011
Hi @shikhamis11, here is your [Magento instance](https://i-21011-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21011-2-3-develop.instances.magento-community.engineering/admin](https://i-21011-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-06 16:55] shikhamis11 commented on #21011
@magento-engcom-team give me 2.2-develop instance

[2019-02-06 16:55] magento-engcom-team commented on #21011
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-06 16:56] magento-engcom-team commented on #21011
Hi @shikhamis11, here is your [Magento instance](https://i-21011-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21011-2-2-develop.instances.magento-community.engineering/admin](https://i-21011-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-06 17:25] shikhamis11 commented on #21011
@ilnytskyi this issue seems present only on magento 2.2 develop instance and already fixed in 2.3-develop

[2019-02-06 17:26] magento-engcom-team commented on #21011
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98130` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-06 17:40] MichaelThessel commented on #21005
Thanks for the response. I had a look at `_responsive.less` before adding this issue. TBH I cannot believe that you think this is acceptable.

* First of all, that would mean one would need to add and maintain an additional entry to `_responsive.less` for every single breakpoint that is not already on the list. It is a quite common practice to add custom breakpoints to your CSS that are basically

[2019-02-06 17:46] DanielRuf commented on #21005
This is true and as expected.

[2019-02-06 17:48] MichaelThessel commented on #21005
@DanielRuf I assume stuff being randomly dropped without any warning is "true and as expected" as well?

[2019-02-06 17:48] DanielRuf commented on #21005
Please read the frontend guide for adding new breakpoints and media queries.

https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/responsive-web-design/rwd_css.html

https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/responsive-web-design/rwd-breakpoints.html

[2019-02-06 17:49] DanielRuf commented on #21005
This is not in the linked file so you have to add it.

[2019-02-06 17:50] DanielRuf commented on #21005
This is the less compiler which ignores unknown mixins / mixin variants as these do not output anything.

[2019-02-06 17:53] MichaelThessel commented on #21005
It doesn't matter why or where it gets dropped without warning. The problem is that it is dropped without warning. Blaming the less compiler is the same as blaming your swim trunks.

[2019-02-06 17:54] DanielRuf commented on #21005
The docs are at https://github.com/magento/magento2/blob/2.3-develop/lib/web/css/docs/responsive.html

[2019-02-06 17:57] MichaelThessel commented on #21005
NM, what a waste of time.

[2019-02-06 17:58] magento-engcom-team commented on #21025
Hi @maheshWebkul721. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-02-06 18:10] MichaelThessel commented on #21005
@magento-engcom-team you might want to think about enforcing some community guidelines. This kind of stuff turns people away from Magento and ultimately hurts the platform.

[2019-02-06 18:14] DanielRuf commented on #21005
Please see https://codepen.io/DanielRuf/pen/MLOKLa?editors=1100 to understand how mixins in Less work.

If there is no signature with the given values, Less will not compile it and also will not throw any error or warninf.

[2019-02-06 18:14] DanielRuf commented on #21005
Sorry but what kind of stuff? This is how Magento has worked the whole years and this is by design (mobile first is always with min, not max).

[2019-02-06 18:16] DanielRuf commented on #21005
Also please carefully read https://devdocs.magento.com/guides/v2.2/frontend-dev-guide/responsive-web-design/rwd_css.html

[2019-02-06 18:16] irajneeshgupta commented on #20919
@magento-engcom-team give me 2.3-develop instance

[2019-02-06 18:16] magento-engcom-team commented on #20919
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-06 18:17] magento-engcom-team commented on #20919
Hi @irajneeshgupta, here is your [Magento instance](https://i-20919-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20919-2-3-develop.instances.magento-community.engineering/admin](https://i-20919-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-06 18:18] DanielRuf commented on #21005
https://zellwk.com/blog/how-to-write-mobile-first-css/
https://www.sitepoint.com/introduction-mobile-first-media-queries/

[2019-02-06 18:23] DanielRuf commented on #21005
And also http://lesscss.org/features/#mixins-feature-mixin-guards-feature

The `when` (`if`) are conditional mixins and are applied only if the conditions evaluate to `true`.

[2019-02-06 18:26] MichaelThessel commented on #21005
I understand mobile first design and how the splitting of styles is intended to work. What I'm saying is that the implementation is flawed.

* Stuff shouldn't get dropped without a warning. When has this ever been a reasonable practice in software development?
* Maintaining an additional list of where your stuff needs to go for each individual breakpoint you define is unreasonable. Just imagine a

[2019-02-06 18:40] DanielRuf commented on #21005
Please see the codepen. A function / mixin call which does not have the needed `when` values will do nothing which is by design. Less will ignore it and compile the rest.

There is nothing flawed.

[2019-02-06 18:41] DanielRuf commented on #21005
You only have to extend / overwrite `_responsive.less` once.

[2019-02-06 18:42] DanielRuf commented on #21005
We just have thos and another few but still it is mainly mobile first (min). This was probably needed to reset a few rules or because of a specific module.

[2019-02-06 18:47] DanielRuf commented on #21005
I have added a few comments to make clear how conditional mixins work:
https://codepen.io/DanielRuf/pen/MLOKLa?editors=0100

[2019-02-06 18:49] DanielRuf commented on #21005
![image](https://user-images.githubusercontent.com/827205/52365623-35cab600-2a48-11e9-980e-5d6fa885f864.png)

![image](https://user-images.githubusercontent.com/827205/52365644-3fecb480-2a48-11e9-8aa2-4c4534463253.png)

[2019-02-06 18:53] DanielRuf commented on #21005
Well generally you have one list of breakpoints for all pages and these are device / viewport based (small / phone, medium / tablet, large / desktop, xlarge / desktop retina / big desktop).

[2019-02-06 19:40] hostep commented on #20396
@cwpm: PR for 2.2 exists and was approved 2 days ago: https://github.com/magento/magento2/pull/20745
No idea if it will make it in 2.2.8, but let's hope so :)

[2019-02-06 20:27] hostep commented on #14208
@barathdckap: I think the bug report is valid, because there is no user interface which indicates that the positions of images are storeview specific.
I think it's ok if they are storeview specific, but then there should be some kind of UI to remove the storeview specific positions and use the ones from the 'All Storeviews', just like we have for other attributes like 'Description' or 'Product Nam

[2019-02-06 21:11] sivaschenko opened #21032 "Error on design configuration save with imageUploader form element populated from gallery"
### Preconditions (*)

N/A

### Steps to reproduce (*)
1. Log in to Admin panel
2. Go to Content -> Design -> Configuration
3. Click "Edit" link in a grid
4. Expand "Header" fieldset
5. Click "Select from Gallery" button for " Logo Image" field
5. Select any image and click on "Add Selected" button
6. Click the "Save Configuration" button

### Expected result (*)

Success message

### Actual resul

[2019-02-06 21:11] magento-engcom-team commented on #21032
Hi @sivaschenko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-06 22:26] srenon commented on #15115
Can confirm this issue is not resolved in Magento 2.2.7.

Existing and new customer still getting this error.

[2019-02-06 22:44] InternetMedicineMan commented on #15115
Since upgrading to Magento 2.27, I'm seeing this error occurring 50-100 times a day:
**_No such entity with addressId = #0_**

Haven't had any more customers complaining about the site than normal, just started getting this error like mad now.

I can still run the DB query to clear all orphan address_id's but they reoccur every day also, and if anyone gets an error with an error to the address_id

[2019-02-07 01:27] DrewML commented on #13746
To make sure I understand the issue correctly, going to try and summarize:

1. `form_key` is a CSRF token
2. The content in the full page cache persists the `form_key` that was generated for the first request with a cold cache
3. The issue is not present once the JS initializes because it takes over form submission and it uses a different value than the `form_key` found in the initial DOM

Is that

[2019-02-07 01:39] DrewML commented on #8646
Hey @ioweb-gr, it sounds like you're talking about 2 different but related issues, so I'll address separately.

**Render Blocking JS**
It's currently possible in Magento 2 to customize your store so that the script tags for JS are in the bottom of the `body` rather than the `head`. Alternatively, the more modern approach would be to add a `defer` attribute to the existing JS in the `head`. It woul

[2019-02-07 06:00] ask694 commented on #19565
I'm also having this same issue, some times magento auto generating with the wrong paths by adding public_html along with the store url. Please i need a solution for this.

[2019-02-07 06:13] DanielRuf commented on #8646
Well, the main issue is requireJS. M 2.3 and the PWA are the solution as the current frontend stack is not easily optimizable even if we work on a promisified requireJS implemenration but each JS code pauses the rendering and processes the new code = blocking + waiting + rerendering.

[2019-02-07 06:14] DanielRuf commented on #8646
What about Brotli?

[2019-02-07 06:20] hackrat commented on #12573
It seems not fixed in 2.2.6 also.

[2019-02-07 06:41] barathdckap commented on #14208
I agree with you and I have viewed the PR and it seems it will be released in Magento 2.3.1

[2019-02-07 07:26] anup4ranium commented on #3217
HI there @magento-engcom-team  , may I know in which versions this issue is fixed?
and if you can provide link to the PR of patch to let us accomodate this change in versions we are using if not fixed in these versions.

Thanks in advance :)

[2019-02-07 07:37] magento-engcom-team commented on #21032
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-07 07:45] magento-engcom-team commented on #21027
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-07 08:04] magento-engcom-team commented on #21032
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98135`, `MAGETWO-98136` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-07 08:06] magento-engcom-team commented on #21002
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-07 08:07] engcom-backlog-nazar commented on #21002
HI @nathancasebolt this is not best practices to change static attributes `5\. Static eav_attribute 74 (`sku`) is set to Store scope`

[2019-02-07 08:11] shikhamis11 commented on #21002
yes @engcom-backlog-nazar but I have found an issue that we can change the scope of attribute while editing removing disabled attribute of html from web developer tool of browser

[2019-02-07 08:12] engcom-backlog-nazar commented on #19565
@ask694 this is solution -> https://github.com/magento/magento2/pull/19598

[2019-02-07 08:24] engcom-backlog-nazar commented on #18253
@sourabh2yadav the duplicate rows is expected behavior, this is non-issue, if you have 1 product in 2 websites or store view, the second row is product with the same sku for second store-view.

![selection_294](https://user-images.githubusercontent.com/40756439/52398661-81ba4100-2ac2-11e9-93d9-5caaa6baa506.png)

[2019-02-07 08:24] #18253 closed, assigned to nobody

[2019-02-07 08:25] engcom-backlog-nazar commented on #18253
@sarfarazbheda also please look this pr -> https://github.com/magento/magento2/issues/19786 may problem casued by this issue.

[2019-02-07 08:34] engcom-backlog-nazar commented on #21000
@mnatali80 i'm closing this for now, if you have some additional steps or information to help us reproduce this issue , please reopen .

[2019-02-07 08:34] #21000 closed, assigned to nobody

[2019-02-07 09:10] rav-redchamps commented on #6287
Hi Guys,

A pull request https://github.com/magento/magento2/pull/20918 has been made to enable the 'Shopping Cart' tab for customers.

This should be soon processed and possibly the change should be available in any version of 2.3.x series.

The possibility starts with 2.3.1 :wink:

[2019-02-07 09:21] kanduvisla opened #21034 "Magento\Framework\HTTP\PhpEnvironment\Request::getHeader() has incorrect return type in dockblock"
The docblock of method `Magento\Framework\HTTP\PhpEnvironment\Request::getHeader()` states that it will return a `bool` or an instance of `Zend\Http\Header\HeaderInterface()`. However, it returns either a `bool` or a `string`.

This costed me some time debugging why my tests worked, but my live code didn't (since I had mocked the method in question and it returned a mocked `HeaderInterface` wherea

[2019-02-07 09:21] magento-engcom-team commented on #21034
Hi @kanduvisla. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-07 09:24] engcom-backlog-nazar commented on #21027
HI @JanuszWitrykus thank you for you report, i'm not able to reproduce following steps you described, please set the following -> `Vendor/ModuleName/etc/module.xml`

[code]

[2019-02-07 09:25] magento-engcom-team commented on #21034
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-07 09:29] magento-engcom-team commented on #21034
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98137`, `MAGETWO-98138` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-07 09:32] JanuszWitrykus commented on #21027
Hi @engcom-backlog-nazar  , thank you very much for you effort. I have correct module.xml. And I can overwrite label element (always) but comment element only if it is empty in the core module.

[2019-02-07 09:36] VZeroCool commented on #21034
@magento-engcom-team give me 2.3 instance

[2019-02-07 09:37] VZeroCool commented on #21034
@magento-engcom-team give me 2.3-develop instance

[2019-02-07 09:38] magento-engcom-team commented on #21034
Hi @VZeroCool. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-07 09:38] magento-engcom-team commented on #21034
Hi @VZeroCool, here is your [Magento instance](https://i-21034-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21034-2-3-develop.instances.magento-community.engineering/admin](https://i-21034-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-07 10:00] JanuszWitrykus commented on #21027
Hi @magento-engcom-team @engcom-backlog-nazar  can you please reopen this issue? I have tested it on several Magento instances, this is simple to reproduce.

[2019-02-07 10:05] richardmcauleywed2b commented on #19596
Hi @Nazar65 - Thanks for looking into this issue. Has there been much progress on resolving the issue at all?

[2019-02-07 10:08] Nazar65 commented on #19596
Hi @richardmcauleywed2b yes this is resolved in my PR, and will available on 2.3.1 release.

[2019-02-07 10:50] SolsWebdesign commented on #9466
Ran into this on M2.2.6, @hostep is right: it happens with migrated M1 products that have url_path filled. I did a query for a test product:

SELECT * FROM catalog_product_entity_varchar WHERE attribute_id IN (   SELECT attribute_id FROM eav_attribute WHERE attribute_code IN ('url_path') AND entity_type_id = 4 ) AND entity_id = 8

where my product id is 8 and found that it was filled. Emptied the

[2019-02-07 11:47] ajay-gehlod commented on #10829
@Prasad2706  - Did you find any solution for that I'm too facing the same issue.

I tried to rename the existing customer grid table and run reindex manually. It syncs properly all customers to customer_grid but when cron run the reindexing it again start causing the same issue.

[2019-02-07 12:02] terrybakshi commented on #14952
can you please assist me in how to step by step apply patch as i am new so not sure how to do if you can tell me the commands would be much appreciated.

[2019-02-07 12:20] ask694 commented on #19565
Hi, @engcom-backlog-nazar   I can't understant the solution, can you please explain and post here.?

[2019-02-07 12:32] magento-engcom-team commented on #20924
Hi @rav-redchamps. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2019-02-07 12:35] SolsWebdesign commented on #9466
For those that need a solution for M1 products that cannot be duplicated in M2 due to this bug, make your own module with an etc\di.xml and add these lines:
`
<type name="Magento\Catalog\Model\Product\Copier">
        <plugin name="catalog_product_duplicate"
                type="Vendor\YourModuleName\Plugin\Copier"/>
 </type>
`
Create a Plugin folder and add the file with the following content:
`

[2019-02-07 12:35] engcom-backlog-nazar commented on #20973
HI @tim-reynolds-visionet thank you for you report, i;m not able to reproduce following steps you described, please provide more information, about you magento version and clearly actual and expected results. Then please reopen the issue.
Best Regards

[2019-02-07 12:45] engcom-backlog-nazar commented on #19565
Hi @ask694 You need to add appEmulation in` app/code/Magento/Sitemap/Model/Observer.php`
[code]

[2019-02-07 12:54] rav-redchamps commented on #20924
@dankhrapiyush I have created a pull request https://github.com/magento/magento2/pull/21042 for the change. It should be processed soon.

[2019-02-07 12:59] magento-engcom-team commented on #15620
Hi @ananth-iyer. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-02-07 13:00] ananth-iyer commented on #15620
@magento-engcom-team give me 2.3-develop instance

[2019-02-07 13:00] magento-engcom-team commented on #15620
Hi @ananth-iyer. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-07 13:01] magento-engcom-team commented on #15620
Hi @ananth-iyer, here is your [Magento instance](https://i-15620-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-15620-2-3-develop.instances.magento-community.engineering/admin](https://i-15620-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-07 13:06] DanielRuf commented on #14952
https://support.magento.com/hc/en-us/articles/360005484154-Create-a-patch-for-a-Magento-2-Composer-installation-from-a-GitHub-commit

https://github.com/magento/magento2/issues/14952#issuecomment-449706114
https://github.com/magento/magento2/issues/14952#issuecomment-449823307

and a few others =)

[2019-02-07 13:08] ananth-iyer commented on #15620
@magento-engcom-team This issue requires email sending service enabled. Can you help me with this?

[2019-02-07 13:26] ananth-iyer commented on #15620
@magento-engcom-team give me 2.2-develop instance

[2019-02-07 13:26] magento-engcom-team commented on #15620
Hi @ananth-iyer. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-07 13:27] magento-engcom-team commented on #15620
Hi @ananth-iyer, here is your [Magento instance](https://i-15620-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-15620-2-2-develop.instances.magento-community.engineering/admin](https://i-15620-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-07 13:30] andyjv commented on #19603
I had the same problem; why isn't `app/functions.php` getting updated by composer?

[2019-02-07 13:39] k4emic opened #21043 "Large X-Magento-Tags-Pattern headers not accepted by varnish"
### Preconditions (*)

1. Magento 2.x
2. Any recent varnish with default configuration (with Magento VCL)
3. Very large catalog (67685 products,  10370 categories, 125564 category-product links)

### Steps to reproduce (*)

1. Issue large purge request (as when moving large category structures and/or reindexing large catalogs)

### Expected result (*)

1. PURGE requests sent to Varnish is successf

[2019-02-07 13:39] magento-engcom-team commented on #21043
Hi @k4emic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-07 13:40] magento-engcom-team commented on #21043
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-07 13:42] engcom-backlog-nazar commented on #13381
Hi @mazur-vlad thank you for your report, in both plugins this method calls as expected. this is non issue

[2019-02-07 13:42] #13381 closed, assigned to nobody

[2019-02-07 13:54] k4emic commented on #21043
Found #8815 after creating this, which is the same problem. Should I close this issue?

[2019-02-07 13:56] engcom-backlog-nazar commented on #21043
Hi @k4emic yes, you was find this faster than i'm :)

[2019-02-07 13:56] #21043 closed, assigned to nobody

[2019-02-07 14:07] ananth-iyer commented on #15620
@magento-engcom-team @kemexyz This issue is only in 2.2-develop instance. While testing on local 2.2 instance I found that MySQL is returning correct german character **ü** but Magento PHP code is converting "ü" to "?". So will check which file is required for 2.2 version when I get free.

[2019-02-07 14:20] engcom-backlog-nazar commented on #21043
@k4emic ->https://github.com/magento/magento2/pull/8919

[2019-02-07 14:27] nathancasebolt commented on #21002
Hey @engcom-backlog-nazar, thanks for the feedback. Yes, I suspect this problem would be resolved by changing the scope of static attribute `sku` to Global, and perhaps that's how this attribute would be scoped be in a fresh vanilla 2.3 instance (I don't know). However, we migrated this attribute from our Magento 1.7 database, and `sku` in that source db is scoped to Store. At the very least, perh

[2019-02-07 14:32] engcom-backlog-nazar commented on #21002
@nathancasebolt  thanks for explanation, problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2019-02-07 14:32] #21002 closed, assigned to shikhamis11

[2019-02-07 14:35] magento-engcom-team commented on #20974
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-07 14:43] nathancasebolt commented on #21002
Thanks. Before I do that, would you be able to tell me whether or not `sku` would be scoped to Global on a fresh instance of Magento 2.3?

[2019-02-07 14:47] engcom-backlog-nazar commented on #21002
@nathancasebolt Yes on fresh install 2.3 sku is set to scope global

[2019-02-07 15:03] michel334 commented on #15031
will this be done before ai takes over the world, or star citizen gets released?

[2019-02-07 15:05] zaietsv commented on #15620
You need only to update a Dotmailer module to last versions. They have declared a fix six months ago.

[2019-02-07 15:13] zaietsv commented on #15620
Hereby they've released the fix for this in v3.0.2 with this commit: [635a62c](https://github.com/dotmailer/dotmailer-magento2-extension/commit/635a62cccaeabbc03b3ff6ea37ffa5adff2f7d26) https://github.com/dotmailer/dotmailer-magento2-extension/issues/517#issuecomment-436964065

[2019-02-07 16:03] magento-engcom-team commented on #21021
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98144` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-07 16:36] maderlock commented on #14456
This ticket has been oddly quiet for a long time given the severity of it. Any progress?

[2019-02-07 16:49] hostep commented on #16202
I just accidentally stumbled upon a commit in 2.3-develop which might fix this issue (not tested yet): https://github.com/magento/magento2/commit/1f5d41519b82bc5e24acc89795ea8b6d607a1c7b

This also seems to be available already in 2.2-develop, but not included in any official release yet (at the of time of writing that is).

[2019-02-07 18:38] magento-engcom-team commented on #20905
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98164`, `MAGETWO-98165` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-07 19:35] justinharris1986 opened #21049 "If the /customer/section/load call is not made before the user adds a item to the cart, you get an error"
### Preconditions
1. Magento 2.2.7
2. Slow server/Connection

### Steps to reproduce
1. Load a (in stock) product in to magento
2. with a fresh session navigate directly to that product. (You can navigate to it from the homepage/menu however it is more difficult to trigger this bug.) It is helpful to turn on throttling in your developer tools in Chrome or FF before you visit the page to simulate a

[2019-02-07 19:35] magento-engcom-team commented on #21049
Hi @justinharris1986. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-02-07 19:35] justinharris1986 commented on #21049
@magento-engcom-team give me 2.2-develop instance

[2019-02-07 19:35] magento-engcom-team commented on #21049
Hi @justinharris1986. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-07 19:36] magento-engcom-team commented on #21049
Hi @justinharris1986, here is your [Magento instance](https://i-21049-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21049-2-2-develop.instances.magento-community.engineering/admin](https://i-21049-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-07 19:41] justinharris1986 commented on #21049
@magento-engcom-team I was able to reproduce this in a 2.2-dev instance

[2019-02-07 19:42] Supplement commented on #8646
So the render blocking resources module will work fine when installed on 2.3? What is the synopsis when adding it to 2.6 or 2.7?

https://www.modpagespeed.com/doc/build_ngx_pagespeed_from_source

[2019-02-07 20:19] DanielRuf commented on #8646
I see there nothing about this as it will not work for the setup that we have (dynamically loaded scripts).

[2019-02-07 20:48] danieljoeblack opened #21050 "Category save does not update DB"
### Preconditions (*)

1.Magento 2.2.3
2.Multi-store setup (2)
3.Varnish Cache
4.Running ElasticSuite

### Steps to reproduce (*)

1.Create new subcategory
2.Fill in required information (Category Name)
3.Hit 'Save'

### Expected result (*)

1. The category will be save, and the name will be reflected in the category tree

### Actual result (*)

1. You 'saved the category' is reported but nothing

[2019-02-07 20:48] magento-engcom-team commented on #21050
Hi @danieljoeblack. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-07 23:02] mnatali80 commented on #21000
Hi guys, sorry for the late. i have seen that i receive a loop in this file i think vendor/magento/module-customer/Model/Session.php
In the function setCustomerDataAsLoggedIn($customer) if i comment the line
//$this->_eventManager->dispatch('customer_login', ['customer' => $customerModel]);
i can login but also i receive other error, for example i can't logout and i can't finish the checkout..

[2019-02-08 00:13] Ctucker9233 commented on #6793
@magento-engcom-team What commit fixed this in 2.2? I see it was done in the 2.3 branch but there's not reference to 2.2

[2019-02-08 00:16] travis5491811 opened #21052 "v2.3.0 serving site from pub, now images get 404"
### Preconditions (*)

1. Version 2.3.0 Community edition.
2. Ubuntu 18.04 and Apache, default config.
3. apache config set with DocumentRoot set to `/var/www/html/magento2/pub`

### Steps to reproduce (*)

1. Setup new site, add images to categories and make sure everything is displaying normally.
2. Change site to be served from doc root following steps from magento [here](https://devdocs.magent

[2019-02-08 00:16] magento-engcom-team commented on #21052
Hi @travis5491811. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-08 00:44] duffner commented on #7633
@valuead, So about a week ago, Authorize.net released an update that affected customers, in this case, Magento negatively.  This occurred for a few days until Authorize.net reviewed this behavior.  I only bring this up, because while the symptoms are identical to the case I presented above, your timing aligns with the more recent issue that happened.

[2019-02-08 02:39] travis5491811 commented on #21052
@magento-engcom-team give me 2.3-develop instance` - upcoming 2.3.x release

[2019-02-08 02:39] magento-engcom-team commented on #21052
Hi @travis5491811. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-08 02:39] magento-engcom-team commented on #21052
Hi @travis5491811, here is your [Magento instance](https://i-21052-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21052-2-3-develop.instances.magento-community.engineering/admin](https://i-21052-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-08 02:41] travis5491811 commented on #21052
This is insufficient access to reproduce the issue. Your magento docs state to modify the apache2 DocumentRoot to serve from pub. You only gave me access to the magento admin GUI.

@travis5491811 do you confirm that you was able to reproduce the issue on vanilla Magento instance following steps to reproduce?

* [x]  yes
* [ ]  no

[2019-02-08 03:20] LiamKarlMitchell commented on #13475
Fresh install of 2.2.5 no main menu.
Developer mode and static-content-deployed -f.

[2019-02-08 04:47] ananth-iyer commented on #15620
@zaietsv Thank you for pointing it out the release commit. But I tried to update Dotmailer but I got composer error:
![2019_02_08_dotmailer_composer_update](https://user-images.githubusercontent.com/24892273/52458794-7e3cbd80-2b87-11e9-9b43-e5509703df45.jpg)

After that I copied the fixes in Magento 2.2 then edited email template on admin & tested email send. And found it showing german letter in

[2019-02-08 05:01] magento-engcom-team commented on #15620
Hi @ananth-iyer. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-02-08 05:09] #15620 closed, assigned to ananth-iyer

[2019-02-08 05:16] ananth-iyer commented on #21052
@travis5491811
If Apache config set with DocumentRoot set to `/var/www/html/magento2/pub`

Then media & static files base url must be as below:
**Media base url**
http://192.168.5.10/media/

**Status base url**
http://192.168.5.10/static/

[2019-02-08 07:35] magento-engcom-team commented on #21049
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-08 07:35] magento-engcom-team commented on #21050
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-08 07:37] magento-engcom-team commented on #21052
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-08 07:40] magento-engcom-team commented on #21027
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98170`, `MAGETWO-98171` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-08 07:46] engcom-backlog-nazar commented on #21052
Hi @travis5491811 thank you for you report, refer to https://github.com/magento/magento2/issues/21052#issuecomment-461693505, i'm closing this one as this is non-issue

[2019-02-08 07:46] #21052 closed, assigned to nobody

[2019-02-08 07:51] johnny-longneck opened #21056 "Configurable Product Attributes - Product Page Error after Upgrade from 2.2.2 to 2.3.0"
### Preconditions (*)

1. Upgrade from 2.2.2 to 2.3.0
2. Flat Product Table
3. Production or Developer mode

### Steps to reproduce (*)

1. Created custom attributes for product detail page
2. Use attributes for configurables
3. Open a product detail page of a configurable product

### Expected result (*)

1. Product Page has no errors and is displayed correctly

### Actual result (*)
Product Deta

[2019-02-08 07:51] magento-engcom-team commented on #21056
Hi @johnny-longneck. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-02-08 08:04] magento-engcom-team commented on #21056
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-08 08:08] engcom-backlog-nazar commented on #21056
Hi @johnny-longneck did you migrated from magento 1 ?

[2019-02-08 08:09] yutv opened #21057 "Magento CE 2.3.0: Design issue with custom option fields"
### Preconditions (*)
1. Magento CE 2.3.0

### Steps to reproduce (*)
1. Create a new product and add a dropdown custom option with a few values

### Expected result (*)
1. Layout should look like this (screenshot from clean Magento CE 2.2.7):
![2 2 7-clean-magento](https://user-images.githubusercontent.com/1616522/52465782-8fd29500-2b88-11e9-946d-3e3dd6c2a80e.png)

2. Layout with additional field

[2019-02-08 08:10] magento-engcom-team commented on #21057
Hi @yutv. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2019-02-08 08:11] magento-engcom-team commented on #21057
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-08 08:12] Axel29 opened #21058 "Website switcher 2.3"
Hello,

Since upgrading to Magento 2.3.0, it looks like there is two new Controllers that manage switching stores:
- \Magento\Store\Controller\Store\Redirect
- \Magento\Store\Controller\Store\SwitchAction

The problem is that these controllers do not seem to allow us to redirect from a website to an other.

### Preconditions

1. Magento 2.3.0
2. Multi-websites instance
3. PHP 7.2
4. MySQL 5.7

###

[2019-02-08 08:13] magento-engcom-team commented on #21058
Hi @Axel29. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-08 08:14] engcom-backlog-nazar commented on #21057
Hi @yutv thank you for you report, this issue has already fixed in 2.3-develop branch and will be available on 2.3.1 release.
![screen](https://user-images.githubusercontent.com/40756439/52466220-471bdb80-2b8a-11e9-8068-df65b867c39d.png)

[2019-02-08 08:14] #21057 closed, assigned to nobody

[2019-02-08 08:14] Axel29 commented on #21058
Hi @magento-engcom-team,

I confirm that I can reproduce the issue on vanilla Magento instance.

[2019-02-08 08:14] magento-engcom-team commented on #21058
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-08 08:15] yutv commented on #21057
@magento-engcom-team give me 2.3-develop instance

[2019-02-08 08:15] magento-engcom-team commented on #21057
Hi @yutv. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-08 08:16] magento-engcom-team commented on #21057
Hi @yutv, here is your [Magento instance](https://i-21057-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21057-2-3-develop.instances.magento-community.engineering/admin](https://i-21057-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-08 08:20] johnny-longneck commented on #21056
Hi, No. The first version going live was 2.1.3 up to 2.2.2 and now I was upgrading to 2.3.0.
In short: All configurable products get this error.

[2019-02-08 08:28] yutv commented on #21057
It is not completely fixed in 2.3-develop branch, see the screenshot:

![2 3-develop](https://user-images.githubusercontent.com/1616522/52466784-1d63b400-2b8c-11e9-851c-1a5d6c4bd0c6.png)

[2019-02-08 08:34] engcom-backlog-nazar commented on #21057
@yutv the pr for this issue in progress

[2019-02-08 08:34] engcom-backlog-nazar commented on #21057
@yutv https://github.com/magento/magento2/issues/20337

[2019-02-08 08:35] engcom-backlog-nazar commented on #21058
Hi @Axel29 thank you for you report, i'm not able to reproduce following steps, you described,
`<a href='<?php echo $website->getDefaultStore()->getCurrentUrl() `
I  my case all wrks perfectly.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexcha

[2019-02-08 08:35] #21058 closed, assigned to nobody

[2019-02-08 09:03] engcom-backlog-nazar commented on #21050
hi @danieljoeblack thank you for you report, i'm not able to reproduce following steps you described, this may be related to your custom modules.

[2019-02-08 09:03] #21050 closed, assigned to nobody

[2019-02-08 09:03] Luuk-Meijer opened #21059 "Magento 2.2.6 Searching for product with dash doesn't work"
### Preconditions (*)
1. Magento 2 version 2.2.6

### Steps to reproduce (*)
1. In "vendor/magento/module-catalog-search/etc/search_request.xml" change
[code]
to
[code]
So that the search query "blue boot" only shows products with both the words.
2. Add a product in the back-end with a name with a dash (-) in the name.
For instance "Lakboot Black Mat New A-327 N118" in my case
3. On the frontend s

[2019-02-08 09:03] magento-engcom-team commented on #21059
Hi @DeLuuk. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-08 09:08] DeLuuk commented on #21059
@magento-engcom-team I can't reproduce this on a vanilla instance since the "vendor/magento/module-catalog-search/etc/search_request.xml" needs to be changed first.

I know that that would maybe mean it isn't a vanilla bug but in my opinion editing that clause should be possible and should work.

[2019-02-08 09:12] magento-engcom-team commented on #21059
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-08 09:14] engcom-backlog-nazar commented on #21059
HI @DeLuuk thank you for you report, this will fixed by this pr -> https://github.com/magento/magento2/pull/20727

[2019-02-08 09:17] engcom-backlog-nazar commented on #21059
@DeLuuk

[code]
https://dev.mysql.com/doc/refman/8.0/en/fulltext-fine-tuning.html

[2019-02-08 09:25] DeLuuk commented on #21059
@magento-engcom-team thanks for linking other issue but Im still having trouble.

I want to be able to search for "A-327" **not** just "A-".
I haven't edited my option file yet, don't even know where that file is, but even if I do I dont think that would fix my problem.

Like I said in the reproduce steps, this isn't just a vanilla Magento 2.2.6 enviroment.

I edited "vendor/magento/module-catalog

[2019-02-08 09:25] DeLuuk commented on #21059
@engcom-backlog-nazar can this issue be opened again?

[2019-02-08 09:33] engcom-backlog-nazar commented on #21059
@DeLuuk i'm will recheck, this must be environmental issue

[2019-02-08 09:34] engcom-backlog-nazar commented on #21059
@DeLuuk yes this is non-issue after i apply changes from pr and set -> https://github.com/magento/magento2/issues/21059#issuecomment-461738901
![selection_321](https://user-images.githubusercontent.com/40756439/52469923-77b54280-2b95-11e9-8472-3075a47fb575.png)

[2019-02-08 09:35] engcom-backlog-nazar commented on #21059
@DeLuuk yes i'm set this :)

[2019-02-08 09:39] DeLuuk commented on #21059
@engcom-backlog-nazar oke in that case Im gone try editing that option file.

Where can I find that option file? The url you linked is just for MySql specific, not Magento specific.

I mean I can't put that in a .htaccess or something?

[2019-02-08 09:40] engcom-backlog-nazar commented on #21059
@DeLuuk you on ubuntu ? this is in mysqld  `sudo nano /etc/mysql/mysql.conf.d/mysqld.cnf `

[2019-02-08 09:46] raulsinapsis commented on #10180
This is still happening, more than 1 year ago... Really?

[2019-02-08 09:48] DeLuuk commented on #21059
@engcom-backlog-nazar is that server wide? I have my test shop on the same server as the live shops. So I want to be sure that I dont break anything

[2019-02-08 09:49] novikor opened #21062 "Static tests: forbid 'or' instead of '||'"
### Summary (*)

At the moment, static tests allow to use `or` operator which, however, is bad coding practice.
There was a PR related to this problem: https://github.com/magento/magento2/pull/20628

I believe ot would be nice to include this check in the static tests.
### Proposed solution
Update static tests rules to cover this case
### Examples (*)

[2019-02-08 09:49] magento-engcom-team commented on #21062
Hi @novikor. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-08 09:53] magento-engcom-team commented on #21062
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-08 09:57] DeLuuk commented on #21059
@engcom-backlog-nazar I have CentOS not Ubuntu.

Also I know Im asking a lot of questions and this isn't support but how can I test it locally.. 😅

[2019-02-08 10:01] engcom-backlog-nazar commented on #21059
@DeLuuk in centOS this file in ->` /etc/my.cnf` add after [mysqld]
[code]

[2019-02-08 10:03] engcom-backlog-nazar commented on #21062
Hi @novikor   thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-02-08 10:07] DeLuuk commented on #21059
Oke @engcom-backlog-nazar Im gone have to believe you on your word then since Im not adding this for the live just yet!!

Im gone push it live next tuesday morning so I'm hoping this is gone work!!

Thanks for answering all my questions!

[2019-02-08 10:09] engcom-backlog-nazar commented on #21059
@DeLuuk your welcome,  But also add changes from reference Pull Request.

[2019-02-08 10:10] DeLuuk commented on #21059
@engcom-backlog-nazar Yes I realise that thanks!! Will do 😄

[2019-02-08 10:12] RonakParmar commented on #13207
Hello there,
Is there any solution for this issue? I am using Magento 2.3 and able to reproduce this issue.

[2019-02-08 10:45] engcom-backlog-nazar commented on #21001
@azngeek ok, i'm will try with newer version

[2019-02-08 10:47] engcom-backlog-nazar commented on #20878
@neil-jennings  also In "vendor/magento/module-catalog-search/etc/search_request.xml" change
[code]
to
[code]

[2019-02-08 10:56] engcom-backlog-nazar commented on #20974
@magefan Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-08 10:56] #20974 closed, assigned to nobody

[2019-02-08 10:57] oliverf72 commented on #19549
@Nazar65 there is no folder /app/code/Magento... ?!

[2019-02-08 11:05] Nazar65 commented on #19549
@oliverf72 if you have a composer installation thay must be like that `vendor/magento/module-theme/view/adminhtml/ui_component/design_config_form.xml`

[2019-02-08 11:12] engcom-backlog-nazar commented on #21056
Hi @johnny-longneck i'm not able to reproduce following steps you described, have you installed some custom modules ?

[2019-02-08 11:33] kingshukdeb opened #21066 "Attention something went wrong. On new installation after disabling cache."
### Preconditions (*)

1. Magento version 2.2.7

### Steps to reproduce (*)

1. Install magento.
2. Go to backend. Disable cache.
3. Go to content->design-> Theme configuration.
4. Open the store view clicking on edit (you can open website also ) -> click on save configuration.

### Expected result (*)

1. It should save without throwing an error.

### Actual result (*)

1. [Screenshots, logs or d

[2019-02-08 11:33] magento-engcom-team commented on #21066
Hi @kingshukdeb. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-08 11:33] novikor commented on #21062
@engcom-backlog-nazar , OK, I`ll do it.

However, I can try to create a PR to this repository by myself. Am I right?

[2019-02-08 11:42] koopjesboom commented on #20405
I am talking from a non programmer prospective.
I don't understand what the right way is of solving problems, but this is far from user friendly.

I also do not know any kind of software that does not repair issues with patches except for magento.
Isn't it a good idea to put fixes and minor repairs in patches that are easy to use and implement for everyone? In stead of putting every minor bug into

[2019-02-08 11:44] orlangur commented on #21062
@novikor surely you can ;)

[2019-02-08 11:59] magento-engcom-team commented on #21066
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-08 12:00] engcom-backlog-nazar commented on #21062
@novikor Yes feel fre to create a Pull Request.

[2019-02-08 12:00] travis5491811 commented on #21052
hello @ananth-iyer, where do i update the following?

The [docs](https://devdocs.magento.com/guides/v2.3/install-gde/tutorials/change-docroot-to-pub.html) only inform users about what to update for base url

[2019-02-08 12:23] abrarpathan19 opened #21070 "Luma theme my account Order Information status tabs break in tablet view"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Place new order -> My account -> My orders -> select any order -> View Order -> see the order status tabs are breaking. see the attached screenshots
2. It will happen when we will create a cash memo from admin for the order.

### Expected result (*)

1. http://prntscr.com/mibkdm

### Actual result (*)

1. http://prntscr.com/mibj

[2019-02-08 12:23] magento-engcom-team commented on #21070
Hi @abrarpathan19. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-08 12:24] magento-engcom-team commented on #21070
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-08 12:24] krishprakash commented on #21070
@magento-engcom-team Please provide instance.

[2019-02-08 12:25] krishprakash commented on #21070
![screenshot_2](https://user-images.githubusercontent.com/46617848/52478223-b6192480-2bca-11e9-9cb1-6bcdea0418f9.jpg)

I have checked in my local instance. verify issue.

[2019-02-08 12:26] magento-engcom-team commented on #21070
@krishprakash Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-02-08 12:26] engcom-backlog-nazar commented on #21066
Hi @kingshukdeb thank you for you report, this issue has already fixed in 2.2-devlop branch and will be avaible on 2.2.8 release.

[2019-02-08 12:27] magento-engcom-team commented on #21070
@krishprakash Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-02-08 12:28] magento-engcom-team commented on #21070
:white_check_mark: Confirmed by @krishprakash
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-08 12:29] magento-engcom-team commented on #21070
:white_check_mark: Confirmed by @krishprakash
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-08 12:29] oliverf72 commented on #19549
@Nazar65 perfect, solved my issue...thanks a lot...

[2019-02-08 12:29] travis5491811 commented on #21052
@magento-engcom-team re-open issue

@ananth-iyer I have no idea how "/pub/" ended up in the URL. I did not manually change anything other than what the docs said to change. This is a bug in magento 2.3.0 when serving from pub after the site has been developed.

[2019-02-08 12:30] krishprakash commented on #21070
Please give me test instance.

[2019-02-08 12:31] magento-engcom-team commented on #21070
:white_check_mark: Confirmed by @krishprakash
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-08 12:32] travis5491811 opened #21072 "Bug v2.3.0 serving site from pub, now images get 404"
### Preconditions (*)

1. Version 2.3.0 Community edition.
2. Ubuntu 18.04 and Apache, default config.
3. apache config set with DocumentRoot set to `/var/www/html/magento2/pub`

Note from issue that was automatically closed as "non-issue"

@travis5491811
If Apache config set with DocumentRoot set to `/var/www/html/magento2/pub`

Then media & static files base url must be as below:
**Media base ur

[2019-02-08 12:32] magento-engcom-team commented on #21072
Hi @travis5491811. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-08 12:33] travis5491811 commented on #21072
do you confirm that you was able to reproduce the issue on vanilla Magento instance following steps to reproduce?

* [x]  yes
* [ ]  no

[2019-02-08 12:34] magento-engcom-team commented on #21072
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-08 12:34] craigcarnell commented on #19934
Having the same issue today

[2019-02-08 12:36] krishprakash commented on #21070
@magento-engcom-team can you please give me developer instance.

[2019-02-08 12:36] kingshukdeb commented on #21066
Can you let us know the commit id for this?

[2019-02-08 12:37] engcom-backlog-nazar commented on #21072
@travis5491811 please open issue here -> https://github.com/magento/devdocs as this is issue with dev docs.

[2019-02-08 12:37] #21072 closed, assigned to nobody

[2019-02-08 12:38] engcom-backlog-nazar commented on #21066
@kingshukdeb i will try to find, I'm just tested on fresh 2.2-dev and error does not appear

[2019-02-08 12:41] kamilszewczyk opened #21073 "A non-numeric value encountered on mass product update when Minimum Qty Allowed in Shopping Cart is used"
### Preconditions (*)

1. Magento Commerce 2.2.6
2. PHP 7.1

### Steps to reproduce (*)

1. Set Minimum Qty Allowed in Shopping Cart in System -> Configuration for values for different Customer Groups
2. Try access Mass product update attributes action

### Expected result (*)

1. Page loaded correctly allowing to update products

### Actual result (*)

1. On developer environment a exception: Exc

[2019-02-08 12:41] magento-engcom-team commented on #21073
Hi @kamilszewczyk. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-08 12:41] kingshukdeb commented on #21066
Also does this mean this issue should be fixed on 2.3 already..because i am able to reproduce that on 2.3

[2019-02-08 12:41] magento-engcom-team commented on #21070
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-08 12:42] engcom-backlog-nazar commented on #21066
@kingshukdeb on 2.3.0 ? or 2.3-develop ?

[2019-02-08 12:42] magento-engcom-team commented on #21070
:white_check_mark: Confirmed by @krishprakash
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-08 12:42] kingshukdeb commented on #21066
2.3.0 - the latest release one.

[2019-02-08 12:42] magento-engcom-team commented on #21073
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-08 12:43] magento-engcom-team commented on #21073
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-08 12:43] magento-engcom-team commented on #21070
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-08 12:45] magento-engcom-team commented on #21073
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-08 12:45] ananth-iyer commented on #21052
@travis5491811 Can you set apache documentRoot to **/var/www/html/magento2**? let me know what you see

[2019-02-08 12:46] shikhamis11 commented on #21070
@magento-engcom-team give me 2.3-develop instance

[2019-02-08 12:46] magento-engcom-team commented on #21070
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-08 12:47] magento-engcom-team commented on #21070
Hi @shikhamis11, here is your [Magento instance](https://i-21070-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21070-2-3-develop.instances.magento-community.engineering/admin](https://i-21070-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-08 12:54] engcom-backlog-nazar commented on #21066
@kingshukdeb just checked on 2.3.0 have no this error, some additional information ?

[2019-02-08 12:56] kingshukdeb commented on #21066
Can you give me a 2.3.0 instance please

[2019-02-08 12:56] engcom-backlog-nazar commented on #21066
@magento-engcom-team give me 2.3-develop instance

[2019-02-08 12:56] magento-engcom-team commented on #21066
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-08 12:57] krishprakash commented on #21070
![2019-02-08_18-24-34](https://user-images.githubusercontent.com/46617848/52479582-22962280-2bcf-11e9-8d3c-7a2a07cb3127.png)

I have verify this issue

[2019-02-08 12:57] magento-engcom-team commented on #21066
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21066-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21066-2-3-develop.instances.magento-community.engineering/admin](https://i-21066-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-08 12:57] magento-engcom-team commented on #21070
:white_check_mark: Confirmed by @krishprakash
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-08 12:59] kingshukdeb commented on #21066
Not able to login. Can you please check

[2019-02-08 13:00] engcom-backlog-nazar commented on #21066
@kingshukdeb i'm able to login. please try again

[2019-02-08 13:00] engcom-backlog-nazar commented on #21073
@magento-engcom-team give me 2.2-develop instance

[2019-02-08 13:00] magento-engcom-team commented on #21073
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-08 13:00] shikhamis11 commented on #21070
@magento-engcom-team give me 2.2-develop instance

[2019-02-08 13:01] magento-engcom-team commented on #21070
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-08 13:01] magento-engcom-team commented on #21073
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21073-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21073-2-2-develop.instances.magento-community.engineering/admin](https://i-21073-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-08 13:02] kingshukdeb commented on #21066
Here is the error there. I just had to disable cache and it poped up.
![screenshot from 2019-02-08 13-01-08](https://user-images.githubusercontent.com/4508615/52479793-bcdf7180-2ba1-11e9-8cd4-2c729710ee3e.png)

[2019-02-08 13:03] magento-engcom-team commented on #21070
Hi @shikhamis11, here is your [Magento instance](https://i-21070-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21070-2-2-develop.instances.magento-community.engineering/admin](https://i-21070-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-08 13:03] kingshukdeb commented on #21066
Can you give me a 2.2 develop please

[2019-02-08 13:06] kingshukdeb commented on #21066
Its really a weird one sometime it just comes directly after disabling cache. Sometimes after save a theme sometimes somewhere else. But its there.

[2019-02-08 13:13] magento-engcom-team commented on #21070
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98176`, `MAGETWO-98177` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-08 13:36] johnny-longneck commented on #21056
Okay I was busy the day fixing it.
It might have been because of an template file in my custom theme, which I copied from Core.
This template file, might have been adjusted in the core which was not taking affect due my override.

I close it for now but will investigate if it is 100% fixed.

[2019-02-08 13:40] engcom-backlog-nazar commented on #21056
@johnny-longneck Thanks

[2019-02-08 13:42] magento-engcom-team commented on #21066
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98178`, `MAGETWO-98179` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-08 13:48] michi-p opened #21076 "Product list sort order is saved but not used"
### Preconditions (*)

1. Magento CE version 2.2.6
2. PHP 7.1.25
3. At least two categories with an arbitrary number of products each.

### Steps to reproduce (*)

1. Open a category in your shop (e. g. shop.example.com/food.html)
2. Change the sort order (e. g. from 'position' to 'name'). URL changes to *shop.example.com/food.html?product_list_order=name*
3. Switch to other category (e. g. shop.e

[2019-02-08 13:49] magento-engcom-team commented on #21076
Hi @michi-p. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-08 13:49] magento-engcom-team commented on #21076
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-08 13:50] engcom-backlog-nazar commented on #21073
Hi @kamilszewczyk, can you  reproduce this on clean CE version ?

[2019-02-08 13:53] creamagento commented on #12608
Web Setup Wizard is missing in 2.27 again!?
![image](https://user-images.githubusercontent.com/43030949/52482281-21ee9380-2bb1-11e9-9eb6-2ff57f0adc15.png)
Could you please check behaviour too?
Thanks

[2019-02-08 13:58] prakash2jcommerce opened #21077 "Tabbing issue on product detail page"
### Preconditions (*)

1. 2.3.0

### Steps to reproduce (*)

1. In Frontend product listing page on list view mode click on Add Your Review link it will re-direct on product detail page.

### Expected result (*)

1. Once arrived on Product details page only review tab need to open or active.
![image](https://user-images.githubusercontent.com/18117994/52482489-62f99e80-2bd7-11e9-9a59-97d9d7e36521.p

[2019-02-08 13:58] magento-engcom-team commented on #21077
Hi @prakash2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2019-02-08 13:58] kamilszewczyk commented on #21073
Hello @engcom-backlog-nazar .
I reproduced the issue on the Magento instance provided above: https://i.imgur.com/kHlocwB.png

[2019-02-08 14:02] travis5491811 commented on #21052
@ananth-iyer Ok, I set doc root back to magento2, restarted apache.

First thing i noticed: pub is still in url.

So i did:
[code]
But still same problem is there. Not sure what else to do.

[2019-02-08 14:08] engcom-backlog-nazar commented on #21073
@kamilszewczyk yes seem like this appear only on 2.2-develop

[2019-02-08 14:09] magento-engcom-team commented on #21077
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-08 14:10] engcom-backlog-nazar commented on #21076
Hi @michi-p   thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-02-08 14:12] engcom-backlog-nazar commented on #21073
@kamilszewczyk https://github.com/magento/magento2/pull/19095

[2019-02-08 14:13] travis5491811 commented on #21052
@ananth-iyer I am able to get to the image if i remove "pub" from url manually. I just do know how to correct all the urls.

I even tried to run this again:
[code]

[2019-02-08 14:13] johnny-longneck commented on #21056
Just to finish this.
Now I am 100% sure it was the Amasty - Color Swatches Pro Module which was supposed to be compatible with 2.3.0 but it is not - not in our case.

Disabled it, and everything runs now as expected.

[2019-02-08 14:13] #21056 closed, assigned to nobody

[2019-02-08 14:20] magento-engcom-team commented on #13411
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-02-08 14:32] travis5491811 commented on #21052
@engcom-backlog-nazar

Even more strange:

If i go back to the category and click content > select from gallery > and choose the image and click "save". The image shows up on the front end with the correct url  (without pub) like:

[code]
But now, if i revist that category on the backend, and click content, there is no image there! Not even a broken image. It just looks like it did before i ever t

[2019-02-08 14:35] engcom-backlog-nazar commented on #21052
@travis5491811 seems like something wrong with your environment

[2019-02-08 14:45] magento-engcom-team commented on #21073
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98180` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-08 14:56] vrutiksuthar opened #21082 "Generates duplicate rows for the store view which is not selected in product export"
Feature: Import/Export

### Preconditions (*)
1. Magento 2.2.7 Fresh Install

### Steps to reproduce (*)
1. Create multiple website and store views.
2. Create a simple product and add custom options.
3. Set product in only one website.
4 Export the product from the export feature.

### Expected result (*)
1. The product should only generate the rows for the assigned store view and default store vi

[2019-02-08 14:57] magento-engcom-team commented on #21082
Hi @mage-master. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-08 15:00] travis5491811 commented on #21052
@engcom-backlog-nazar like what? How to troubleshoot?

"something wrong with environment" yes but with a default installation, it seems more like magento is full of bugs (that get closed quickly unresolved) and I've somehow manged to perform the right order of operations in a long process to trigger evidence of how buggy magento is.

If that's not the case, someone from magento should be able to l

[2019-02-08 15:00] engcom-backlog-nazar commented on #21082
Hi @mage-master seem like this may be fix your problem -> https://github.com/magento/magento2/pull/19395

[2019-02-08 15:02] srenon commented on #18243
Just upgraded to 2.2.7  and run into this issue with over 50gb of diskspace disappear in 2 days.

If you are not using this feature, you can disable "Advanced REporting Service" in admin and flush cache.

Stores > Configuration > General > Advanced Reporting

![image](https://user-images.githubusercontent.com/1415141/52485797-acba9880-2b87-11e9-8440-9af62df3cdf7.png)

[2019-02-08 15:05] engcom-backlog-nazar commented on #21052
@travis5491811 but why i'm able to install magento with Docroot "pub" and many people, and you not ?

[2019-02-08 15:06] kayintveen commented on #14734
This issue also appears on React-Apollo preflight requests being empty and thus giving a unserialize error. Maybe not as related but found this topic researching my issue.

In order to fix that I needed to patch for a quick fix.
/vendor/magento/module-graph-ql/Controller/GraphQl.php

[code]
to
[code]

[2019-02-08 15:07] DanielRuf commented on #18243
@srenon see https://github.com/magento/magento2/issues/18243#issuecomment-424646813 ;-)

[2019-02-08 15:08] DanielRuf commented on #18243
I'm locking this issue as it is already fixed in the next releases and we have linked the patches and all needed steps to either disable Advanced Reporting or apply the patches.

[2019-02-08 15:08] DanielRuf commented on #18243
They have a much more critical issue - a security issue.

[2019-02-08 15:12] travis5491811 commented on #21052
@engcom-backlog-nazar I can too. I've done it on two different machines.

Try default magento install (not serving from pub), then creating 4 categories that each have 20 or more sub categories. Then add content > image to each sub category.

Browse the site and make sure everything looks normal. At this point adding products isn't important, you just want to click the navigation menus that show u

[2019-02-08 15:16] engcom-backlog-nazar commented on #21052
@travis5491811 thanks for explanation, i'm will recheck

[2019-02-08 15:16] marvinhuebner commented on #18091
Today I've read this. Now it's even more important that this is cleared up. Even if it is only an official hint that the Magento core has made its own modifications to the library and the original docs does not match the functions in Magento.

https://twitter.com/fotoramajs/status/1088074531007127553?s=21:

[2019-02-08 15:18] travis5491811 commented on #21052
@engcom-backlog-nazar do you have a place i can send a pre-configured esxi image of before/after?

[2019-02-08 15:26] weverson83 commented on #18752
I find out how to reproduce it:
It happens when a roll back is called and you catch the exception.

[code]

To solve it, check in your code where those kind of exceptions are happening and fix it.

[2019-02-08 16:12] shikhamis11 commented on #20997
@magento-engcom-team give me 2.3-develop instance

[2019-02-08 16:12] magento-engcom-team commented on #20997
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-08 16:12] magento-engcom-team commented on #20997
Hi @shikhamis11, here is your [Magento instance](https://i-20997-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20997-2-3-develop.instances.magento-community.engineering/admin](https://i-20997-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-08 16:18] andyjv commented on #11526
I was experiencing this issue, and was even able to solve it by deleting (read: re-naming) `generated/metadata/global.php` also worked for a little while, but the issue did eventually did appear again, on another admin page.

My store is on a linux server, so I wasn't buying the xampp/windows theory. However, I do develop on windows using PHPstorm. And I know that PHP storm will sometimes break li

[2019-02-08 17:02] sidolov commented on #20427
Hi @faizan2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20443 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [ed542833ddbbf0be0dfe70062e54aa94fcf6705f](https://github.com/magento/magento2/commit/ed542833ddbbf0be0dfe70062e54aa94fcf6705f)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-08 17:02] sidolov commented on #20282
Hi @olegAleksin. Thank you for your report.
The issue has been fixed in magento/magento2#20737 by @shikhamis11 in 2.2-develop branch
Related commit(s):
 - [1cb5e515a0aad074fb67dcc73ad9075214cbdcac](https://github.com/magento/magento2/commit/1cb5e515a0aad074fb67dcc73ad9075214cbdcac)
 - [7de5e7ea7319bb6c1ab0c44e0ccbc898939d2983](https://github.com/magento/magento2/commit/7de5e7ea7319bb6c1ab0c44e0ccb

[2019-02-08 17:02] sidolov commented on #20631
Hi @maheshWebkul721. Thank you for your report.
The issue has been fixed in magento/magento2#20885 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [467a2a8cedf087bf9440ff8d711057188d2084b8](https://github.com/magento/magento2/commit/467a2a8cedf087bf9440ff8d711057188d2084b8)
 - [a48a4dec39556645fc2511c52065f78401d16ac8](https://github.com/magento/magento2/commit/a48a4dec39556645fc251

[2019-02-08 17:02] sidolov commented on #20611
Hi @parag2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20738 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [3fb9d5990b3a63b5a0e5969e5cc8564420279217](https://github.com/magento/magento2/commit/3fb9d5990b3a63b5a0e5969e5cc8564420279217)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-08 17:02] sidolov commented on #7967
Hi @susmithaN. Thank you for your report.
The issue has been fixed in magento/magento2#19760 by @Yamaha32088 in 2.2-develop branch
Related commit(s):
 - [bf7ee62ea3be3998c5f34fb0e7410412e79c5c6f](https://github.com/magento/magento2/commit/bf7ee62ea3be3998c5f34fb0e7410412e79c5c6f)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-08 17:38] orlangur commented on #21000
@mnatali80 then please check all the observers subscribed to this event (most important - third-part ones).

[2019-02-08 17:43] orlangur commented on #21062
@novikor the best way to introduce such check would be to implement a long-awaited static test involving `php-cs-fixer` as it has a rule
[code]

[2019-02-08 17:50] treii28 commented on #15115
Same issue on v2.2.4 but we are unable to upgrade yet as we are mid-process of migrating away from a theme that breaks on newer versions. (we'd prefer not dedicate more time to 'fixing' a broken theme we are trying to migrate away from anyway just to upgrade)

Is there a patch available that can be loaded via composer with cweagans module?

[2019-02-08 18:06] bovolio commented on #10588
this has worked for me on magento 2.1.7 CE.
THANK YOU

[2019-02-08 18:07] magento-engcom-team commented on #21077
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-02-08 18:08] mnatali80 commented on #21000
Hi guys i grave round the problem :( i' m very sorry..It was a plugin forse cash on delivery ..very very Sorry

[2019-02-08 18:10] amol2jcommerce commented on #21077
* @magento-engcom-team give me 2.3-develop instance

[2019-02-08 18:10] magento-engcom-team commented on #21077
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-08 18:10] magento-engcom-team commented on #21077
Hi @amol2jcommerce, here is your [Magento instance](https://i-21077-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21077-2-3-develop.instances.magento-community.engineering/admin](https://i-21077-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-08 18:27] dambrogia commented on #19469
Hi @engcom-backlog-nazar thank you for re-opening this issue.

If it's not imperative that the reindex needs to happen on every `setup:upgrade` command, can we remove it? I also think it would be helpful to know why/when it is appropriate to reindex the users and what the thought process was behind reindexing them on every `setup:upgrade`.

I would be glad to help out creating a PR for removing [t

[2019-02-08 18:30] orlangur commented on #21000
@mnatali80 no problem, great that you figured it out and returned back to us with the result of your investigation 👍

[2019-02-08 18:33] jonashrem commented on #21001
I was able to reproduce this bug as well on ubuntu 18.04 with a fresh installed magento 2.3.0 (libicu 60.2)

phpunit  FormatTest.php
PHPUnit 6.5.14 by Sebastian Bergmann and contributors.

.FFF..........                                                    14 / 14 (100%)

Time: 59 ms, Memory: 6.00MB

There were 3 failures:

1) Magento\Framework\Locale\Test\Unit\FormatTest::testGetPriceFormat with da

[2019-02-08 18:35] magento-engcom-team commented on #21077
:white_check_mark: Confirmed by @amol2jcommerce
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-08 19:29] jonashrem commented on #21001
When printing out Result and Expected Result, you see that   decimalSymbol and groupSymbol are always the local ones.

[code]

[2019-02-08 19:41] KooTjoo opened #21085 "Magento 2.3 downloadable product issues"
### Preconditions (*)

1. Magento 2.3.0 CE
2. PHP 7.2.14

### Steps to reproduce (*)

1. Create a downloadable product.
2. As file choose a .zip
3. Buy downloadable product as a customer
4. Downlaod the .zip in your customer account

### Expected result (*)

1. When you dowload the .zip as a customer you should be able to open .zip

### Actual result (*)

1. The .zip can't be openened when downloa

[2019-02-08 19:41] magento-engcom-team commented on #21085
Hi @KooTjoo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-08 19:51] vrcodem commented on #5863
Can you please send me the solution for this issue.

[2019-02-08 20:13] nickpiro opened #21086 "Cart/Catlog Price Rules do not work for Downloadble Product Files"
### Preconditions (*)

1. Magento 2.2.5

### Steps to reproduce (*)

1. Create Downloadable Product
2. Add all basic product information
3. Price: $0.00
3. In Downloadable Information Add Link
4. Select 'Link Can Be Purchased Separately'
5. Add 'Title', 'Price: $25', 'File'
6. Save.

7. View product on website. Price shows $0, and list of downloads, one product +$25

8. Add Catalog Price Rule
9. F

[2019-02-08 20:13] magento-engcom-team commented on #21086
Hi @nickpiro. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-08 20:17] nickpiro commented on #21086
@magento-engcom-team give me 2.2.5-instance

[2019-02-08 20:35] magento-engcom-team commented on #21085
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-08 20:36] magento-engcom-team commented on #21086
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-08 20:48] andyjv opened #21088 "Can bypass minimum order amount while at Checkout"
### Preconditions (*)

1. Magento 2.2.4, Magento 2.2.7
2. Minimum order amount enabled, and checkout page with minicart enabled

### Steps to reproduce (*)

1. Enable a minimum order amount (ex. $100).
2. Add at least two items to cart, with sub-total at least $100.
3. Go to Checkout, and proceed to Payment step.
4. Open mini-cart, and remove an item (by clicking the trashcan icon) so that the sub

[2019-02-08 20:49] magento-engcom-team commented on #21088
Hi @andyjv. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-08 20:49] andyjv commented on #21088
@magento-engcom-team give me 2.2.7-develop instance

[2019-02-08 20:50] magento-engcom-team commented on #21088
Hi @andyjv. Thank you for your request. I'm working on Magento 2.2.7-develop instance for you

[2019-02-08 21:36] scottsb opened #21089 "No accessible label for vault-saved credit card type"
### Preconditions (*)
All released versions:
* Magento 2.1.16
* Magento 2.2.7
* Magento 2.3.0

### Steps to reproduce (*)
1. Save credit card using a Vault-enabled payment method, such as Braintree.
2. Go to payment step on checkout.

### Expected result (*)
Credit card network icon for saved card should have alt text with the type of credit card, such as "Visa." (An ARIA label would also be accep

[2019-02-08 21:37] magento-engcom-team commented on #21089
Hi @scottsb. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-08 21:42] scottsb commented on #21089
Issue is with file `app/code/Magento/Vault/view/frontend/web/template/payment/form.html`. Adding the name is not as trivial as adding the attribute, though, as the type is stored as an abbreviation (such as `"VI"`) rather than a spelled-out name, and it has to be translated on top of that. However, this mapping and translation is not currently available.

[2019-02-08 21:58] magento-engcom-team commented on #20193
Hi @ajay2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20554 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [1e704e71d398722014a5cc5f455043166585b47a](https://github.com/magento/magento2/commit/1e704e71d398722014a5cc5f455043166585b47a)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-08 21:58] magento-engcom-team commented on #19942
Hi @Surabhi-Cedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#20776 by @GovindaSharma in 2.2-develop branch
Related commit(s):
 - [0ec113f8a5d680210ebfa6e84d950e7c5f23c71e](https://github.com/magento/magento2/commit/0ec113f8a5d680210ebfa6e84d950e7c5f23c71e)
 - [a44cb0e9082c73a8512e9f42ab2ef124b1ceb03e](https://github.com/magento/magento2/commit/a44cb0e9082c73a8512e9f

[2019-02-08 21:58] magento-engcom-team commented on #20487
Hi @ranee2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20490 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [b6d9feddee38476d0cff2fccb67052f9b20f570c](https://github.com/magento/magento2/commit/b6d9feddee38476d0cff2fccb67052f9b20f570c)
 - [f6a6ead3e9f577463c8d3e5a826e989b4f2016fc](https://github.com/magento/magento2/commit/f6a6ead3e9f577463c8d3

[2019-02-08 21:58] magento-engcom-team commented on #20723
Hi @priti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20782 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [615a59504aed5401e9aa866e913623505b75cbe2](https://github.com/magento/magento2/commit/615a59504aed5401e9aa866e913623505b75cbe2)
 - [880362a5c89210225ede192d419439c14d51a18d](https://github.com/magento/magento2/commit/880362a5c89210225ede1

[2019-02-08 21:59] magento-engcom-team commented on #20278
Hi @yashwant2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20586 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [f2d28eda7739b0a4e5eac4fc387bf8b2ceef2358](https://github.com/magento/magento2/commit/f2d28eda7739b0a4e5eac4fc387bf8b2ceef2358)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-08 21:59] magento-engcom-team commented on #20580
Hi @yashwant2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20602 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [ebca6b3aba89ece40077ecd44d3680116d1072cd](https://github.com/magento/magento2/commit/ebca6b3aba89ece40077ecd44d3680116d1072cd)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-08 21:59] magento-engcom-team commented on #20396
Hi @maderlock. Thank you for your report.
The issue has been fixed in magento/magento2#20745 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [4ad7bd32b1fcae3ca93071105a25d751336e5362](https://github.com/magento/magento2/commit/4ad7bd32b1fcae3ca93071105a25d751336e5362)
 - [b136710f0573d88c9830b97237cdb652ce476433](https://github.com/magento/magento2/commit/b136710f0573d88c9830b97237c

[2019-02-08 21:59] magento-engcom-team commented on #17926
Hi @allanpaiste. Thank you for your report.
The issue has been fixed in magento/magento2#20510 by @mageprince in 2.2-develop branch
Related commit(s):
 - [4a13ccf26db5844f9d9a6993514a0fc34ce1da7a](https://github.com/magento/magento2/commit/4a13ccf26db5844f9d9a6993514a0fc34ce1da7a)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-08 22:04] omiroshnichenko commented on #20872
Hi @netjordanlee, try to use sortOrder attribute and pass value lower than assign_products_container sortOrder.

[2019-02-08 22:54] magento-engcom-team commented on #21089
Hi @pmclain. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-02-08 22:55] pmclain commented on #21089
@magento-engcom-team give me 2.3-develop instance

[2019-02-08 22:55] magento-engcom-team commented on #21089
Hi @pmclain. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-08 22:55] magento-engcom-team commented on #21089
Hi @pmclain, here is your [Magento instance](https://i-21089-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21089-2-3-develop.instances.magento-community.engineering/admin](https://i-21089-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-08 23:05] magento-engcom-team commented on #21089
:white_check_mark: Confirmed by @pmclain
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-08 23:06] pmclain commented on #21089
Stored payment method in checkout on 2.3-develop
<img width="987" alt="screen shot 2019-02-08 at 6 03 33 pm" src="https://user-images.githubusercontent.com/12674247/52510978-2aa09300-2bcc-11e9-886f-45b12268e245.png">

[2019-02-08 23:08] magento-engcom-team commented on #21089
Hi @pmclain. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-02-08 23:09] pmclain commented on #21089
@scottsb good find! I'm working on this now.

[2019-02-08 23:22] nickpiro commented on #21086
@magento-engcom-team give me 2.2-develop instance

[2019-02-08 23:22] magento-engcom-team commented on #21086
Hi @nickpiro. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-08 23:22] magento-engcom-team commented on #21086
Hi @nickpiro, here is your [Magento instance](https://i-21086-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21086-2-2-develop.instances.magento-community.engineering/admin](https://i-21086-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-08 23:29] nickpiro commented on #21086
@magento-engcom-team how long do reindexes take?

[2019-02-08 23:46] nickpiro commented on #21086
ssue: Confirmed

[2019-02-08 23:47] nickpiro commented on #21086
Issue: Confirmed

[2019-02-08 23:47] nickpiro commented on #21086
* Issue: Confirmed

[2019-02-08 23:49] nickpiro commented on #21086
* Issue: Clear Description

[2019-02-08 23:54] nickpiro commented on #21086
@magento-engcom-team I was able to confirm the issue is also on the vanilla instance.

I was able to get the Cart Price Rule to work, only by adding Product Subselection of Categories within Conditions.

This way, the price is only discounted via the Shopping cart and does not display in the catalog.

on M1 you would be able to see the discount via the Catalog Price Rule on the Product page.

[2019-02-08 23:54] scottsb commented on #21089
Wow, fast turnaround! 💯

[2019-02-09 00:19] Ctucker9233 commented on #11002
@kandy I did but it was closed as a duplicate

[2019-02-09 01:39] pmclain commented on #21088
@magento-engcom-team give me 2.3-develop instance

[2019-02-09 01:39] magento-engcom-team commented on #21088
Hi @pmclain. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-09 01:39] magento-engcom-team commented on #21088
Hi @pmclain, here is your [Magento instance](https://i-21088-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21088-2-3-develop.instances.magento-community.engineering/admin](https://i-21088-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-09 05:18] irajneeshgupta commented on #19258
@magento-engcom-team give me 2.2-develop instance

[2019-02-09 05:18] magento-engcom-team commented on #19258
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-09 05:18] magento-engcom-team commented on #19258
Hi @irajneeshgupta, here is your [Magento instance](https://i-19258-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-19258-2-2-develop.instances.magento-community.engineering/admin](https://i-19258-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-09 11:48] magento-engcom-team commented on #21088
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-09 12:39] shikhamis11 commented on #21088
@andyjv Thanks for your report . This issue is not present in current 2.2-develop instance so I am closing this. Message here if you still think this issue exists

[2019-02-09 12:39] #21088 closed, assigned to shikhamis11

[2019-02-09 12:42] shikhamis11 commented on #21085
@magento-engcom-team give me 2.3-develop instance

[2019-02-09 12:43] magento-engcom-team commented on #21085
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-09 12:43] magento-engcom-team commented on #21085
Hi @shikhamis11, here is your [Magento instance](https://i-21085-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21085-2-3-develop.instances.magento-community.engineering/admin](https://i-21085-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-09 13:03] shikhamis11 commented on #21085
@KooTjoo Thank You for you report but I am not able to reproduce this issue on current  2.3-develop instance please check

[2019-02-09 13:23] shikhamis11 commented on #21086
@magento-engcom-team give me 2.3-develop instance

[2019-02-09 13:23] magento-engcom-team commented on #21086
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-09 13:23] magento-engcom-team commented on #21086
Hi @shikhamis11, here is your [Magento instance](https://i-21086-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21086-2-3-develop.instances.magento-community.engineering/admin](https://i-21086-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-09 13:24] shikhamis11 commented on #21086
@magento-engcom-team give me 2.2-develop instance

[2019-02-09 13:24] magento-engcom-team commented on #21086
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-09 13:25] magento-engcom-team commented on #21086
Hi @shikhamis11, here is your [Magento instance](https://i-21086-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21086-2-2-develop.instances.magento-community.engineering/admin](https://i-21086-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-09 13:29] Schrank opened #21099 "Allow viewModels in widgets"
### Description (*)
Make it possible to add viewModel(s) to widgets

### Expected behavior (*)
`widget` node in `widget.xml` allows `arguments` as in layout xml.

### Benefits
You can easily add viewModels (and other dependencies) to widgets and can easily use composition over adding all the code to the widget.

### Additional information

[2019-02-09 13:29] magento-engcom-team commented on #21099
Hi @Schrank. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-09 13:38] shikhamis11 commented on #21086
@nickpiro Price is discounted by catalog price rule too. on current 2.2-develop instance and 2.3-develop instance I checked if the price of the product is greater than zero it will display regular price and final price both . Please check the screenshots
![screenshot_2019-02-09_19-06-06](https://user-images.githubusercontent.com/25526037/52521485-cc43e500-2c9d-11e9-9e50-de5cc0f10995.png)
 and abou

[2019-02-09 13:59] DanielRuf commented on #21085
Upgrade from which version? What is the binady content of the broken zip files? Did you compare it with a download from your webserver?

[2019-02-09 14:37] nickpiro commented on #21086
@shikhamis11 did you add a link to the product? Because the price would show zero if you set the product main price as zero, and only select price for the linked download. I just tested the exact issue on a vanilla 2.2.5 and it was reproduced. I think you're testing if the product had a price, not if the linked item had a price.

[2019-02-09 14:41] nickpiro commented on #21086
<img width="1438" alt="wrong-dl-product-issue" src="https://user-images.githubusercontent.com/36938969/52522100-d094e180-2c4e-11e9-9791-77b28230d0f3.png">
<img width="1817" alt="wrong-dl-product-issue-2" src="https://user-images.githubusercontent.com/36938969/52522101-d2f73b80-2c4e-11e9-840f-f07d55916dc3.png">
<img width="1528" alt="wrong-dl-product-issue-3" src="https://user-images.githubusercont

[2019-02-09 14:43] nickpiro commented on #21086
@shikhamis11 see? You shouldn't label this as non-issue or cannot be reproduced. This is still an issue. I logged into the instance of 2.2.5 that you tested. The issue is not the main price of a download, the issue is for the linked downloads attached to the download. For instance, we use this as a configurable/grouped download product, so we always have $0 as the main price, and the child/linked

[2019-02-09 14:46] nickpiro commented on #21086
@shikhamis11 this should not be normal behavior of M2. In M1 this was not the behavior. If you put a catalog price rule for a download product, of 100% discount, it would discount linked items. I don't know what your comment about "and about the link price will not be included into the catalog price rule because that will be treated as separated entity" that's the point of this Git Issue I posted.

[2019-02-09 14:48] shikhamis11 commented on #21086
@nickpiro can you please check product d1 . I have also added link and main price of the product is zero.
Are you saying the link price also should become zero with catalog price rule ?

[2019-02-09 14:51] nickpiro commented on #21086
@shikhamis11 Yes. If you add a catalog rule that items in a specific category are discounted 100%, this should include the linked items. Otherwise, how do you discount those items?

[2019-02-09 14:54] shikhamis11 commented on #21086
Ok @nickpiro let me check what should expected behavior. I will update here

[2019-02-09 14:57] nickpiro commented on #21086
@shikhamis11 thank you!

[2019-02-09 15:22] ethniccode commented on #20255
@DanielRuf Hi, Just wanted to check if you could shed some light on this issue. Isn't this a critical issue? I have disabled FPC in my production store and awaiting a fix for this.

[2019-02-09 17:23] eduard13 opened #21101 "Unable to open the product from sidebar's Compare Products block"
### Preconditions (*)

1. Magento 2.3-develop
2.

### Steps to reproduce (*)
1. Add a product to your Compare Products list
2. Check the sidebar for new added product for comparing
3. Click on the Product's name

### Expected result (*)
1. You are redirected to product's detail page
2.

### Actual result (*)

1. It popups a removal confirmation
![xnip2019-02-09_19-21-32](https://user-images.github

[2019-02-09 17:23] magento-engcom-team commented on #21101
Hi @eduard13. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-09 17:26] eduard13 commented on #21101
@magento-engcom-team give me 2.3-develop instance

[2019-02-09 17:26] magento-engcom-team commented on #21101
Hi @eduard13. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-09 17:27] magento-engcom-team commented on #21101
Hi @eduard13, here is your [Magento instance](https://i-21101-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21101-2-3-develop.instances.magento-community.engineering/admin](https://i-21101-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-09 17:55] magento-engcom-team commented on #19482
Hi @iGerchak. Thank you for your report.
The issue has been fixed in magento/magento2#20644 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [abddea84f8aa4edf949c04663c9285ce5a24f489](https://github.com/magento/magento2/commit/abddea84f8aa4edf949c04663c9285ce5a24f489)
 - [5d38ec623a83128be1fcaade22e9418d12a6c8a0](https://github.com/magento/magento2/commit/5d38ec623a83128be1fcaade22e9

[2019-02-09 17:55] magento-engcom-team commented on #20221
Hi @preeti-gupta123. Thank you for your report.
The issue has been fixed in magento/magento2#20257 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [3b1be5810df04b5048634886a80d9c5cbcad47a7](https://github.com/magento/magento2/commit/3b1be5810df04b5048634886a80d9c5cbcad47a7)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-09 18:11] magento-engcom-team commented on #21101
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98184` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-09 18:11] shikhamis11 commented on #21101
@magento-engcom-team give me 2.2-develop instance

[2019-02-09 18:11] magento-engcom-team commented on #21101
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-09 18:12] magento-engcom-team commented on #21101
Hi @shikhamis11, here is your [Magento instance](https://i-21101-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21101-2-2-develop.instances.magento-community.engineering/admin](https://i-21101-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-09 18:14] pbmage opened #21103 "Customer Image Attribute"
### Preconditions (*)

1.  Add new customer image attribute programmatically.  (Magento Version 2.3.0 Latest)
2.  Custom image attribute display fine in customer admin form.
3.  When we try to add image of customer when adding customer it is throw a exception.

### Steps to reproduce (*)

1. Add new customer image attribute programmatically.
2. Try to add image of customer from admin customer form

[2019-02-09 18:14] magento-engcom-team commented on #21103
Hi @pbmage. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-09 18:20] pbmage commented on #21103
@magento-engcom-team give me 2.3-develop instance` - upcoming 2.3.x release

[2019-02-09 18:20] magento-engcom-team commented on #21103
Hi @pbmage. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-09 18:20] Nazar65 commented on #21103
https://github.com/magento/magento2/pull/19988

[2019-02-09 18:20] magento-engcom-team commented on #21103
Hi @pbmage, here is your [Magento instance](https://i-21103-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21103-2-3-develop.instances.magento-community.engineering/admin](https://i-21103-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-09 18:27] pbmage commented on #21103
Provided Magento instance has no facility to add custom customer image attribute from admin to check. So can you please check and verify from your end. Thanks!
PS:
I am using my below extension for add custom customer image attribute.
https://marketplace.magento.com/pbmage-attributemanager.html

[2019-02-10 04:57] magento-engcom-team commented on #21077
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-10 06:14] sshymko opened #21106 "Performance toolkit exits before running any scenarios"
The [Magento Performance Toolkit](../tree/2.2.7/setup/performance-toolkit) is unable to run against a vanilla Magento 2 instance installed from scratch with the required fixture data. It successfully completes the preliminary preparation steps, but never gets to execute any frontend scenarios. JMeter exits without any errors.

### Preconditions (*)
1. Magento 2.2.7 w/ Redis session storage
[code]

[2019-02-10 06:14] magento-engcom-team commented on #21106
Hi @sshymko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins