[2020-10-27 17:43] nathanjosiah commented on #29964
@dvershinin This could be very useful! A couple of questions, where is that data dump from in the code? And do you have this as a string or just a screenshot?

[2020-10-27 17:43] template-provider commented on #29365
I executed the SQL:
SELECT COUNT(*)
FROM catalog_product_entity_varchar cpev
LEFT JOIN catalog_product_entity cpe on cpev.entity_id = cpe.entity_id
WHERE cpe.entity_id IS NULL;

The result is 0

With the pull from @ravi-chandra3197 the upgrade works.
https://github.com/magento/magento2/pull/29804/files

[2020-10-27 17:44] gwharton commented on #29964
Thats just a redis monitor session showing what is being written and read from redis cache.

[2020-10-27 17:45] o-iegorov commented on #25862
Internal team start working on this issue

[2020-10-27 17:45] ihor-sviziev commented on #29365
@template-provider couod you add some more info? Do you have it on clean magento installation or some customizations are installed? Are you using magento Open source or we, b2b?

[2020-10-27 17:46] dvershinin commented on #29964
@nathanjosiah I confirm what @gwharton just said. We only have it available as a screenshot, was taken while running `redis monitor` in response to OOMs, and watching those super large chunks led to the conclusion that the CSP module should be disabled ASAP.

[2020-10-27 17:47] nathanjosiah commented on #29964
I can finally escalate this internally again to investigate now that we have some lead as to what to look for. Thank you!

[2020-10-27 18:01] Morgy93 commented on #29964
I could provide this data easily. I have it right in front of my eyes.
But it might contain sensitive data and seems way to big to just paste here.

Is there some other way to provide the data to you @nathanjosiah ?
Textfile via email or something like that.

[2020-10-27 18:03] gwharton commented on #29964
@dvershinin I wonder if it is a coincidence that both of the redis dumps you posted to this issue have been for FINAL_PRICE blocks. @Morgy93, does your dumps indicate the same.

[2020-10-27 18:11] Morgy93 commented on #29964
Well I have multiple big strings here..
One like `1603821568.513097 [0 127.0.0.1:48714] "hmset" "zc:k:ff6_GLOBAL__CSP_WHITELIST_CONFIG" "d" "{\"script-src\":{\"hosts\":{\"0\":\"assets.adobedtm.com\"`
(CSP is mentioned)

Another one like: `1603821568.420745 [0 127.0.0.1:48714] "hmset" "zc:k:ff6_BLOCK_45EDE07AF2899A2C3FA6B22FF3F4A4358E07E13E" "d" "{\"policies\":[{\"id\":\"script-src\",\"hosts\":[],\

[2020-10-27 18:16] gwharton commented on #29964
One thing that I have just noticed. I have a category page with 96 products on it. There exists 96 Final Price block cache entries, one for each product price, however if I inspect the block cache for one of these final price blocks, I see the price block has 196 hashes in it. Surely that ain't right!!!

![image](https://user-images.githubusercontent.com/30697781/97344337-83bcc880-1880-11eb-8e11-5

[2020-10-27 18:20] drc0 opened #30668 ""User Error: expected iterable, but did not find one for field CategoryTree.children" after saving a parent category through CategoryRepository"
I have a parent_category and subcategory, If I use Magento\Catalog\Api\CategoryRepositoryInterface::save this stores in the catalog_category_entity_text table the children attribute value for the parent_category and subcategory entities.

Subsequent calls to Magento\CatalogGraphQl\Model\Resolver\Products\DataProvider\CategoryTree::getTree fails.

Using $category->save() does not create the record

[2020-10-27 18:36] Morgy93 commented on #29964
[code]

"Does not seem to contain useful data" 😁
In case someone needs it..

[2020-10-27 18:41] gwharton commented on #29964
@Morgy93, Definately some repeating of hashes in there "9N89WMndeXJQQmez" appears 4 times. Besides this, its a final price block cache. Scroll right to the end to see the actual cache'd html. Theres no inline scripts in the cache'd block so there should no NO hashes at all.

[2020-10-27 18:43] gwharton commented on #29964
Anyway, I think we have given the core team plenty to chew on. We're not gonna fix this today. Lets hope they can make some headway.

[2020-10-27 18:51] nathanjosiah commented on #29964
@Morgy93 You can send me additional information if you have it via a direct message on our community slack (https://opensource.magento.com/slack) You can find me as Nathan Smith

[2020-10-27 18:56] nathanjosiah commented on #29964
@gwharton On my test instance from above (https://github.com/magento/magento2/issues/29964#issuecomment-714640595) I have 300 categories which hold 25k products and I wasn't seeing any issues at least with Luma. Your screenshots indicate that you have many inline scripts so it could be a big part of your problem.

[2020-10-27 19:02] gwharton commented on #29964
@nathanjosh, Shouldn't the final price block, which doesn't contain any inline scripts, contain no hashes?? Surely it shouldnt contain 196 hashes.

Also, I don't have any more inline scripts than anyone else I would expect. I converted almost ALL of my inline scripts to js scripts because I knew CSP was coming, so I reckon I probably have a handful.

The category page detailed in my report above,

[2020-10-27 19:10] Morgy93 commented on #29964
@gwharton I just reproduced the issue on `Magento/luma`, so it does not seem to be our custom theme.
Maybe some custom extension, but at least not the theme.
I'll try `Magento/blank` as well, just to be sure 😅

[2020-10-27 19:15] gwharton commented on #29964
Just be aware, although it doesn't look right, the cause of the runaway memory allocation may be something else. We need to be able to reproduce the case where we have 60 odd MB of hashes, not just a couple of hundred. Showing the amount of hashes increasing over time in the same cached block would be useful.

[2020-10-27 19:20] m2-assistant[bot] opened #30669 "[Issue] Add new flexbox mixins"
This issue is automatically created based on existing pull request: magento/magento2#30666: Add new flexbox mixins

---------

### Description (*)

This Pr is only improvement add some new flexbox mixins for reuse while developments
So frontenders can reuse it while modify or customise themes

Example when in less arrange layout
we can use .lib-flex-center(); for get flexbox basic styles instead w

[2020-10-27 19:21] m2-assistant[bot] opened #30670 "[Issue] sort TranslatedLists by local conventions"
This issue is automatically created based on existing pull request: magento/magento2#30661: sort TranslatedLists by local conventions

---------
### Description (*)
Make locales sorted by locale order.

### Manual testing scenarios (*)
1. Use a German locale
2. Consult any list of countries
3. Find _Österreich_ (Austria): it should be sorted with Oman, not at the bottom

### Contribution checklist

[2020-10-27 19:22] m2-assistant[bot] opened #30671 "[Issue] Cover AmqpStore module with unit tests"
This issue is automatically created based on existing pull request: magento/magento2#30660: Cover AmqpStore module with unit tests

---------

### Description (*)
Cover AmqpStore module with unit tests

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)

### Questions or comments

### Contribution checklist (*)
 - [ ] Pull request has a meaningful descripti

[2020-10-27 19:23] Morgy93 commented on #29964
Well, the more pages I open, the more `FINAL_PRICE_*` is written with even bigger data in in.
Above output was from like up to ten pages, now I opened like 50 to 100:
`mage---bb3_BLOCK_4C128791AB3E3F6E171D422A5ED5E3507C4572F2_4268_FINAL_PRICE_LIST_CATEGORY_PAGE_EUR_20201027_1_0_`:
[code]

I'm still on Magento/blank here.

[2020-10-27 19:23] m2-assistant[bot] opened #30672 "[Issue] Initialize authentication popup modal only when needed"
This issue is automatically created based on existing pull request: magento/magento2#30647: Initialize authentication popup modal only when needed

---------

### Description (*)
This PR is somehow an evolution of the https://github.com/magento/magento2/pull/27686 in which I have found that it is not possible to completely skip initialization of authentication popup. That said, by adding this addi

[2020-10-27 19:23] m2-assistant[bot] opened #30673 "[Issue] Removed code redundancy for module frontend layouts."
This issue is automatically created based on existing pull request: magento/magento2#30644: Removed code redundancy for module frontend layouts.

---------

### Description (*)

Removed code redundancy to theme layouts for `Magento_Msrp, Magento_LoginAsCustomerAssistance, Magento_Newsletter & Magento_Sitemap` modules frontend layouts.

### Related Pull Requests

N/A

### Fixed Issues (if relevant)

[2020-10-27 19:24] m2-assistant[bot] opened #30674 "[Issue] Removed code redundancy to theme layouts xml."
This issue is automatically created based on existing pull request: magento/magento2#30643: Removed code redundancy to theme layouts xml.

---------

### Description (*)

Removed code redundancy to theme layouts for catalog_product_view.xml, checkout_cart_index.xml & customer_account.xml

### Related Pull Requests

N/A

### Fixed Issues (if relevant)

N/A

### Manual testing scenarios (*)

N/A

##

[2020-10-27 19:24] m2-assistant[bot] opened #30675 "[Issue] module.xml file improvements for Magento_ConfigurableProductGraphQl, Magento_MsrpConfigurableProduct, Magento_NewRelicReporting & Magento_Swatches modules."
This issue is automatically created based on existing pull request: magento/magento2#30638: module.xml file improvements for Magento_ConfigurableProductGraphQl, Magento_MsrpConfigurableProduct, Magento_NewRelicReporting & Magento_Swatches modules.

---------

### Description (*)

Removed `<module name=“Magento_Catalog”/>` dependency from `Magento_ConfigurableProductGraphQl, Magento_MsrpConfigurabl

[2020-10-27 19:28] m2-assistant[bot] opened #30676 "[Issue] add key for returned array for first level in rest api"
This issue is automatically created based on existing pull request: magento/magento2#30606: add key for returned array for first level in rest api

---------

### Description (*)
add key for returned array for first level in api
when you return array in rest api for example
[code]
expectation :
[code]
current result:
[code]

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comment

[2020-10-27 19:53] Morgy93 commented on #29964
I just checked the production server and there's some pretty interesting data:

[code]

[code]

[code]

Well I could go on like this, but it's always the `FINAL_PRICE_*` on top with big data and it is growing over time.
I captured the data some minutes after `cache:clean` (we do this all 15 minutes via cronjob)

[2020-10-27 19:56] ihor-sviziev commented on #29365
Ok... as it was confirmed that still not fixed - reopening this issue again...

[2020-10-27 19:59] template-provider commented on #29365
@ihor-sviziev :
Ah sry  ... no problem...
Shop Migrated from 1.9.4.5 to 2.3.5  ...
now trying to upgrade from 2.3.5 to 2.4.1
open source for all editions
https://shop.icletta.com

[2020-10-27 20:00] ihor-sviziev commented on #29365
@template-provider ans you're getting exactly the same exception? Or it's a bit different?

[2020-10-27 20:05] ihor-sviziev commented on #29365
Ok, so what I see - your shop is having two languages and using different urls for different store views for the same category or product. I believe it have to be rechecked with such configuration

[2020-10-27 20:09] engcom-Delta commented on #30663
Hi @JMLucas96 thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Manual testing scenario:**
- Create simple product with Price=100
- Place order with simple product by registered customer
- Change simple product price to 50$
- Go to My Account->My Orders page
- Click Reorder

**Result:**
:heavy_check_mark: Order is placed with new product price

[2020-10-27 20:09] #30663 closed, assigned to engcom-Delta

[2020-10-27 20:17] gwharton commented on #29964
Looks pretty gnarly to me. Those final price blocks should be tiny really.

[2020-10-27 20:20] mauragcyrus commented on #29480
@magento confirm issue

[2020-10-27 20:28] nathanjosiah commented on #29964
Ok, so after some investigation this problem was actually already fixed in 2.4.2 and can be seen already on `2.4-develop`.

I was able to reproduce the issue and I can confirm that the following fix has addressed it.

In 2.4.1 this was the problem code https://github.com/magento-commerce/magento2ce/blob/1b15e46974e28ca8f14ce9ee6f4f64908c8e9562/app/code/Magento/Csp/Model/Collector/DynamicCollector.

[2020-10-27 20:29] template-provider commented on #29365
@ihor-sviziev :
exactly the same problem ...
[code]

[2020-10-27 20:29] template-provider commented on #29365
@ihor-sviziev :
yes, 2 store views with 2 languages de and en

[2020-10-27 20:36] nathanjosiah commented on #29964
Having said that, my comment is still true that if you have too many inline scripts/styles this could still be an issue but it won't spiral out of control like it was in all the examples given here.

[2020-10-27 20:50] jtalel opened #30677 "Magento won't detect inventory changes made while Product is being edited (VERY IMPORTANT)"
### Preconditions (*)

### Steps to reproduce (*)

1. Let's say you have a product with 6 units as quantity and you decide to update it's price. So you open the Product in Magento backend to edit it.
2. While you are editing the product let's change using API the Qty for that product. Update Qty to 12. Now this product should have 12 units as qty. (ALL THIS WHILE YOU'RE EDITING THE PRODUCT IN MAGE

[2020-10-27 20:59] Bartlomiejsz commented on #25091
@magento-engcom-team this seems to be the same that got fixed by https://github.com/magento/magento2/pull/28157

[2020-10-27 21:16] gwharton commented on #29964
A significant amount of my inline scripts come from here

https://github.com/magento/magento2/blob/047629aeb29354c35c7ebe4f12b7eed160e241e0/app/code/Magento/Catalog/view/frontend/templates/product/image_with_borders.phtml#L65-L66

Two inline's for every product image displayed!

[2020-10-27 21:19] gwharton commented on #29964
OK, thanks for the code updates. I'll patch my production site now, re-enable CSP and monitor over the next few days.

[2020-10-27 21:41] gwharton commented on #29964
@nathanjosiah I'm still seeing lots and lots of hashes within the FINAL_PRICE block cache's. Can you confirm, if the cached block's content does not contain any inline scripts, should there be any hashes in the block cache for that item?

[2020-10-27 22:14] PeterBrain commented on #29997
Hi,
came across this issue without being affected, but I thought sharing my mind could help.

Is it because the Community Edition (CE) gets installed two lines before composer tries to install the Enterprise Edition (EE)?

I don't actually know if EE needs CE installed in order to work, but to me installing both EE and CE sounds not right. Correct me if this is intended.

Maybe you can share your

[2020-10-27 23:04] gwharton opened #30678 "module-catalog-url-rewrite has incorrect CSP Whitelist"
### Preconditions (*)

1. 2.4-develop

### Steps to reproduce (*)

1.Look at file https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/CatalogUrlRewrite/etc/csp_whitelist.xml

### Expected result (*)

1. There shouldn't be entries in this module whitelisting Authorize.net's servers for CSP

### Actual result (*)

1. There is. It is a cut and paste of the module-authorizenet's csp_

[2020-10-27 23:21] scottbolasevich commented on #22094
best advice on here. m2 is trash

[2020-10-27 23:41] gwharton commented on #30678
Dupe of #30607

[2020-10-27 23:41] #30678 closed, assigned to nobody

[2020-10-28 01:50] DiegoSana opened #30680 "Magento upgrade 2.4.0 to 2.4.1 - Login As Customer acl.xml title attribute missing"
### Preconditions (*)

1. Magento 2.4.0
2. LoginAsCustomer disabled
`'Magento_LoginAsCustomer' => 0,`
`'Magento_LoginAsCustomerAdminUi' => 0,`
`'Magento_LoginAsCustomerApi' => 0,`
`'Magento_LoginAsCustomerFrontendUi' => 0,`
`'Magento_LoginAsCustomerLog' => 0,`
`'Magento_LoginAsCustomerLogging' => 0,`
`'Magento_LoginAsCustomerPageCache' => 0,`
`'Magento_LoginAsCustomerQuote' => 0,`
`'Magento_LoginA

[2020-10-28 02:19] DiegoSana commented on #30680
This PR fix it #30681
Waiting for approval

[2020-10-28 04:33] arjunadobe commented on #29727
I have created a patch and fixed this issue.

`diff --git a/Test/Integration/Handler/InvoiceTest.php b/Test/Integration/Handler/InvoiceTest.php
index cdd8293..5575be6 100644
--- a/Test/Integration/Handler/InvoiceTest.php
+++ b/Test/Integration/Handler/InvoiceTest.php
@@ -65,7 +65,7 @@ class InvoiceTest extends \PHPUnit\Framework\TestCase
     /**
      * Teardown function.
      */
-    protected

[2020-10-28 06:05] PivitParkour94 commented on #28384
@engcom-Delta Yeah, it works fine with one store view. The issue is when there are multiple stores and websites and one of the stores is set to `Use Default`, but the rule isn't actually using the default locale, but rather fails.

Testing this with one store view isn't what is required. This has happened a few different M1 to M2 migrations, and getting the fallback to the default Locale working w

[2020-10-28 06:39] himanitayal010 commented on #22094
Magento 2 is trash for those who don't have it's knowledge.
Otherwise it's best.
ADOBE IS BEST
MAGENTO IS BEST

On Wed, 28 Oct, 2020, 4:52 am Scott Bolasevich, <notifications@github.com>
wrote:

[2020-10-28 06:57] chiranjeevi-cj commented on #30537
@magento give me 2.4-develop instance

[2020-10-28 07:14] JMLucas96 commented on #30663
Hi @engcom-Delta thank you to test in Magento 2.4 fresh install, but issue is in magento 2.1.8 and is it possible that I need to update controller with Magento 2.4 version... Can you tell me what file manage reorder functionality?

[2020-10-28 08:30] magento-engcom-team commented on #30216
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38761` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-28 08:30] hanhpv commented on #29884
I can confirm. After upgrade to 2.4.1, all admin users who are not Administrator role get redirect loop after logging in. Update the roles with 2FA permission solved the issue.

[2020-10-28 08:40] eerohakio commented on #13392
Created this patch, use with precaution however as this is only tested with Including tax config settings..

[code]

[2020-10-28 08:57] mmezhensky commented on #30220
@magento I am working on this

[2020-10-28 09:08] chiranjeevi-cj commented on #30537
Hi, @engcom-Delta @trunglv @ihor-sviziev,
This issue isn't producing on the 2.4-develop branch.

[2020-10-28 09:12] andrewbess commented on #30625
@magento I'm working on it

[2020-10-28 09:35] gwharton commented on #30018
@sdzhepa, This doesn't fix the problem for me.

**Problem 1**

The "sales_customer_validate_vat_number" event is fired on the frontend, and also webapi when VAT validation is carried out.

The following observer subscribes to that event. "Magento\Sales\Observer\Frontend\RestoreCustomerGroupId"

That Observer removes any changes to the quote->CustomerGroupId field which were made by the VAT Validat

[2020-10-28 09:46] ProkopovVitaliy commented on #30473
@magento I am working on this

[2020-10-28 09:46] hm-harshit opened #30682 "Can't Extend ProductCustomOptionValuesInterface.php and Value.php file."
I Have added these two files in my module and update my module di.xml file but nothing comes up!

`Magento\Catalog\Api\Data\ProductCustomOptionValuesInterface`
`Magento\Catalog\Model\Product\Option.php`

Original Path:

`/vendor/magento/module-catalog/Api/Data/ProductCustomOptionValuesInterface.php`
`/vendor/magento/module-catalog/Model/Product/Option/Value.php`

Is there is any way to extent thes

[2020-10-28 09:54] ihor-sviziev commented on #29365
Hi @engcom-Alfa,
Could you try to reproduce this issue again with configuring magento in the same way:
1. Two store views - en & de
2. Enable showing store code in the URL
3. Configure different URL keys for categories and for products for the DE & EN versions
4. Try to upgrade

[2020-10-28 09:56] engcom-Kilo commented on #27233
Hello @Gabriel-Bruno
As we are not able to reproduce this issue on 2.4-develop, I'm closing this one for now. If you have any updates, feel free to add more details and I'll re-open it for further investigation. Thanks!

[2020-10-28 09:56] #27233 closed, assigned to engcom-Kilo

[2020-10-28 10:06] engcom-Bravo commented on #29311
Hello @CNanninga

Thank you for your report

We are not able to reproduce the issue on 2.4-develop.
On the order creation screen, we get only one message
![One message](https://user-images.githubusercontent.com/51680745/97421880-b1078600-1915-11eb-89ad-c2d0464b5d34.png)

So we are closing this issue. Please feel free to comment, reopen or create new ticket according to the [Issue reporting guideli

[2020-10-28 10:06] #29311 closed, assigned to engcom-Bravo

[2020-10-28 10:15] m2-assistant[bot] opened #30683 "[Issue] [MFTF] add ReloadPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#30223: [MFTF] add ReloadPageActionGroup

---------
This PR add `ReloadPageActionGroup` and use it instead
 `<reloadPage stepKey="refreshPage"/>`
       ` <waitForPageLoad stepKey="waitForPageLoad2"/>`

[2020-10-28 10:30] onlyapproved commented on #22094
Go troll on facebook or reddit. This is for dev purposes. Impressive anyone feel entitled to behave like this.

[2020-10-28 11:15] nittn commented on #5273
this problem is still there in Magento 2.3.4, and the solution form @RicardoGalleguillos and @Arshad83 works well.

if you forget to remove theme from Website/store/store view, products, category or wherever the theme can be applied, before you delete the theme, you can find the key problem anywhere from home page, product page, category page,

[2020-10-28 11:19] sucharita-ksolves opened #30684 "How to fix magento compatibility issue in both version 2.3 & 2.4"
For modify sales pdf design , I have overwrite pdf model file (module-sales/Model/Order/Pdf/Invoice.php, module-sales/Model/Order/Pdf/Shipment.php ,

As magento 2.3 and 2.4 version __construct function changed, so When I overwrite it will not work both version. How can I fix it ,so it will work in both version with same code.

[2020-10-28 11:20] NielsVroman opened #30685 "setup:upgrade not possible in after installing Sample Data Magento 2.4.1"
## Preconditions (*)
1. Magento version 2.4.1
2. PHP 7.4.11
3. MYSQL 8.0.22
4. ES 7.6.2

### Steps to reproduce (*)
1. Setup basic magento installation.
2. Set Magento into **Production Mode** bin/magento deploy:mode:set production
3. Install Magento Sample data using command: sampledata:deploy
4. Use command setup:upgrade.

### Expected result (*)
1. setup upgrade activates modules and installs t

[2020-10-28 12:24] PierreLeMaguer opened #30686 "[Reorder feature] Feature very hard to customize"
### Summary (*)

In magento version 2.4, the feature 'Reorder' changed a lot compared to 2.3. We have a new class app/code/Magento/Sales/Model/Reorder/Reorder.php with only one public method execute. Other methods are private. To customize this feature is very hard, we need to make a preference and copy/paste all methods.

### Examples (*)

One customization possible (that I actually need) is to b

[2020-10-28 13:09] ayushwebkul opened #30688 "CORS ISSUE - Access to XMLHttpRequest at 'https://d3c34ef131pjj6.cloudfront.net/version1603798838/frontend/Magento/luma/en_US/Magento_Ui/templates/modal/modal-popup.html' from origin 'https://xyz.com' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource"
### Summary (*)

This is my magento2 setup with cloudfront as CDN , Varnish for caching , Nginx for SSL termination , Apache2 as web server for Magento-2.3.5-p2 on AWS ubuntu 18.04 server.
I made a 2 distributions of cloudfront one for static content , one for dynamic content.
Then on browser I am getting the same issue again and again, I have added this header in nginx, apache2 conf:-

**Header s

[2020-10-28 13:09] sodhancha commented on #24632
@tprocter-ldg @magento-engcom-team
We got this same issue on EE 2.3.4 and EE 2.3.5-p2
Can you confirm if this issue is occuring.

In our case it was much more frequent.
Almost 8% of the Prepaid orders had this issue.

[2020-10-28 13:13] ayushwebkul commented on #30688
@magento I am working on this

[2020-10-28 13:25] gwharton commented on #29964
Well, my production site has been running for 16 hours now with the above patch. Inspecting the block cache, it all looks very stable. Nothing is growing in size. The seemingly problematic FINAL_PRICE block's now only have a handful of hashes in each of them which looks normal, and once in the block cache, none of them are changing or growing in size. Fingers crossed.

[2020-10-28 13:32] lylesback2 commented on #13961
This is still present in Magento 2.3.5 and Magento 2.3.6.

More than 2.5 years of a known bug and it isn't fixed.

[2020-10-28 13:43] ihor-sviziev commented on #13961
Hi @lylesback2,
The issue was already solved by updating the docs:
https://devdocs.magento.com/guides/v2.3/get-started/authentication/gs-authentication.html#web-api-clients-and-authentication-methods

[2020-10-28 13:50] tprocter-ldg commented on #24632
Hi @sodhancha

We are not experiencing this issue anymore and we eventually found that it was down to one of our own modules.

The issue occurred when an invalid tax code was entered by a logged in customer in the checkout. This fired off an infinite loop due to a circular dependancy that occurred between a custom module and the Tax module. It was extremely hard to debug as (if I remember rightly)

[2020-10-28 14:00] krishprakash commented on #30684
Hi @sucharita-ksolves. Thank you for your report.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2020-10-28 14:00] #30684 closed, assigned to krishprakash

[2020-10-28 14:39] DmitryFurs commented on #6868
@magento-engcom-team @sidolov the corresponding pull request is merged, but the fix does not cover all possible cases. 2 additional cases are described in the comments to the pull request https://github.com/magento/magento2/pull/30570

[2020-10-28 15:22] DmitryFurs opened #30691 "Widget parameter depends does not work correctly on specified block"
### Preconditions (*)
1. Magento 2.4-develop
1. PHP 7, MySQL: ANY
1. Related issues / prs: https://github.com/magento/magento2/issues/6868 https://github.com/magento/magento2/issues/13316 https://github.com/magento/magento2/pull/30570

### Steps to reproduce (*)
1. Create a custom widget with widget.xml file
1. Create **required** select option chooser
[code]
1. Create new Widget
1. Change depende

[2020-10-28 15:28] ihor-sviziev commented on #24463
Unfortunately tests still failing...
Here is the current output:
[code]

[2020-10-28 15:37] domeglic opened #30692 "Selecting a payment method results in a 400 error"
### Preconditions (*)

1. Magento 2.4-develop
2. Checkout terms and agreements enabled in _Stores->Configuration->(Sales)Checkout->Enable Terms and Conditions_
3. At least one manually selected terms and conditions

### Steps to reproduce (*)

1. Logged in user
2. Go to last step of checkout
3. Select any payment method

### Expected result (*)

1. REST call set-payment-information completes succe

[2020-10-28 15:38] domeglic commented on #30692
@magento give me 2.4-develop instance

[2020-10-28 15:50] domeglic commented on #30692
I can reproduce the issue on the test instance, happens anytime you select a payment method.
![image](https://user-images.githubusercontent.com/8225737/97460902-7b769300-193d-11eb-8183-e7534592e4a8.png)

[2020-10-28 17:00] zenfork commented on #30575
I have same issue on after upgrading Magento Cloud 2.3.6 to 2.4.1 version with PHP 7.3.23.
This error happens on `setup:upgrade` and any other commands of `bin/magento`

[2020-10-28 17:23] magento2dev opened #30696 "Magento 2.4.1 Set the website and try again for Magento_InventorySales module"
### Preconditions (*)
1. Use Magento 2.4.1
2. Install Magento using CI/CD

### Steps to reproduce (*)

1. Install Magento 2.4.1 using bin/magento setup:install command

### Expected result (*)

1. Magento should be installed

### Actual result (*)

1. Getting the issue "The default website isn't defined. Set the website and try again." when installing "Magento_InventorySales" module
2. On step 4 w

[2020-10-28 17:49] msyhr commented on #30575
Re-opening since other people seem to be running into this issue now.

Some Information from me about my setup:

I'm using https://github.com/cytopia/devilbox for local development

OS 20.04.1 LTS (Focal Fossa)
Docker version 19.03.13, build 4484c46d9d

[PHP](https://github.com/devilbox/docker-php-fpm-7.4/blob/master/Dockerfile)
[APACHE](https://github.com/devilbox/docker-apache-2.4/blob/master/Do

[2020-10-28 17:53] mvdschot opened #30697 "Invoice PDF shows wrong date (magento 2.3.6)"
The Invoice PDF shows a misinterpreted date. Looks like it is trying to parse a wrong format of a date.

### Preconditions (*)

1. Magento version 2.3.6
2. PHP version 7.2 fpm
3. Dutch locale in Magento

### Steps to reproduce (*)

1. Place an order
2. Open order in backend
3. Notice correct date
4. Open the invoice
5. Click on "Print invoice"
6. Notice incorrect date on pdf

### Expected result (

[2020-10-28 20:41] ihor-sviziev commented on #30575
@sdzhepa could you try to reproduce this issue again? Seems like more people getting this issue

[2020-10-28 20:51] #28124 closed, assigned to cyildirim

[2020-10-28 20:57] engcom-Bravo commented on #30685
Hello @NielsVroman

Thank you for your report

We have rechecked the reported issue on Magento 2.4.1 and did not face any error

We have successfully deployed Sample Data using the command `bin/magento sampledata:deploy` And successfully Upgraded the instance using `bin/magento setup:upgrade`

Can you please provide more information about your store and settings?

Thank you in advance

[2020-10-28 21:58] portchris commented on #9676
I was having a similar problem where not all products were showing in categories. The temporary fix was to set indexers: **Category Products** & ** Product Categories** to _Update on Save_.

For the long term solution I found @r0m30n suggestion above worked for me in this case on Magento 2.1.6.

I've created a patch for those that may also be in my situation:

`composer.json`
[code]

patches/GITHU

[2020-10-28 22:16] nsventures opened #30698 "Magento 2.4.1 categories product disappear automatically"
I am facing this problem since I update to the latest Magento 2.4.1 I have elastic search running but  categories product disappear automatically and I have to run the reindex command this is happening 5,6 times in a day I have 3500 SKU on my website
it shows WE CAN'T FIND PRODUCTS MATCHING THE SELECTION.
after running reindex command it starts working again for sometime
kindly help

[2020-10-28 22:37] ioweb-gr commented on #30645
It would be very helpful to know which commits fix it so that we can apply the patch on our crippled instances.

[2020-10-28 23:36] pmonosolo commented on #26344
Yes I can confirm this issue happens on reindex of indexes. I'm not sure which ones yet, but it does happen.

[2020-10-29 00:27] mrtuvn commented on #30698
Can you provide name any 3rd-party modules, customised modules work with your magento instance
Maybe indexing broken by some reason

[2020-10-29 02:25] PivitParkour94 opened #30700 "Hidden Custom Category Attribute Values Not Updated on Category Save"
### Preconditions (*)

1. Magento 2.3.6

### Steps to reproduce (*)

1. Create Custom Category Attribute to not be visible in backend or frontend

[code]

2. Write observer for Category save that sets the secret attribute. E.g.
[code]
(note: there can not be any value in the attribute table (catalog_category_entity_varchar) for the entity you are testing

### Expected result (*)

1. viewing the $c

[2020-10-29 03:00] PivitParkour94 commented on #30700
Just noticed I have another observer setting the `$category->setData('secret_attribute', null);` and saving, which rather than keeping the value in the `catalog_category_entity_varchar` table, the row is completely removed, resulting in this bug.

So this could be avoided using `$category->setData('secret_attribute, '')` or changing null values to not remove the db entry. I think it's best to have

[2020-10-29 03:11] PivitParkour94 commented on #30700
Could be related:

- https://magento.stackexchange.com/questions/149982/unset-custom-data-from-product-attribute
- https://github.com/magento/magento2/issues/8988
- https://magento.stackexchange.com/questions/34018/how-to-remove-a-products-attribute-value#comment46192_34018 (looks like setData('my_attribute', null) is intended to remove the database entry?)

If that's the case, this might just be

[2020-10-29 05:12] shravanpathipaka opened #30701 "Reset password showing expired"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1. goto www.sakdevsite.com/en and create an account
2. and then logout and try to click on forgot password then you will receive an email and then click on reset password in email and you will see an error called your link has expired.

### Expected result (*)

1. it should show form to enter password and confirm password
2.

### Actual re

[2020-10-29 06:02] nsventures commented on #30698
yes i have tried with the stock theme but the same problem I am running three sites with the same problem no solution after hours of work

[2020-10-29 06:19] denchev commented on #29651
I can reproduce the issue in 2.4-develop branch.
@magento I am working on this

[2020-10-29 07:43] portchris commented on #23559
Not a solution but, a temp fix to suppress error until this is fixed:
[code]

[code]

[2020-10-29 08:03] mohammadbharmal commented on #19457
I think you have removed the bundle attribute group from the attribute set.
![image](https://user-images.githubusercontent.com/73457616/97541538-57718b00-19eb-11eb-8f55-f9fd641abb9e.png)

[2020-10-29 08:33] NielsVroman commented on #30685
@engcom-Bravo I'll try to give some more info, this is al i've got:

server is setup with
PHP 7.4.11
MYSQL 8.0.22
ES 7.6.2

The commands we used to set magento up are as followed:
composer create-project --repository-url=https://repo.magento.com/ "$MagentoEdition" "$INSTALL_DIR" "$MagentoVersion"
Where the magento version is 2.4.1, and edition is magento/project-community-edition

"$INSTALL_DIR/bi

[2020-10-29 08:42] NTK-2016 opened #30702 "Shipment mail not get tracking and order details magento 2.3.4"
Hi ,
I have an issue with shipment_new.html sending content . It is not able to wrap shiping and order grid also tracking details is missing 2.3.4 community edition,
here it is mail content
![image](https://user-images.githubusercontent.com/24722367/97545293-cc938f00-19f0-11eb-8c91-1cefbbf40197.png)

[2020-10-29 08:50] #29973 closed, assigned to nobody

[2020-10-29 08:58] Hexmage commented on #30316
How is this a low priority issue?
It basically means that any shop managing its product catalog through the api with an external system can't reliably generate product urls.

[2020-10-29 09:09] #26284 closed, assigned to nobody

[2020-10-29 09:11] milindsingh commented on #30702
@magento give me 2.3.6-develop instance

[2020-10-29 09:11] #30305 closed, assigned to nobody

[2020-10-29 09:40] chiranjeevi-cj commented on #25872
@magento give me 2.4-develop instance

[2020-10-29 10:12] chiranjeevi-cj commented on #25872
@magento give me 2.3-develop instance

[2020-10-29 10:17] devchris79 commented on #30697
Repeat of #26675 that contains a fix.

[2020-10-29 10:23] ericmorand opened #30704 "Amazon Login message on reset password form is always displays"
### Preconditions (*)

Magento 2.4.1
:warning: **Note:** Issue is **not** reproducible on 2.4-develop

### Steps to reproduce (*)

1. Ensure that Amazon Pay and Login With Amazon are disabled:

![image](https://user-images.githubusercontent.com/125664/97555635-a530c800-19d8-11eb-9e7f-9d377c4b7402.png)

2. Log in as
3. In your account dashboard, choose to change your password

### Expected result (

[2020-10-29 10:31] #24445 closed, assigned to nobody

[2020-10-29 10:33] qsolutions-pl commented on #30575
Same issue with the upgrade from 2.3.x to 2.4.0 / 2.4.1

[2020-10-29 11:10] mvdschot commented on #30697
@devchris79 This looks as the same issue, thank you.

[2020-10-29 11:10] #30697 closed, assigned to ajijshekh123

[2020-10-29 11:11] daniel-ifrim commented on #30692
They added in:
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/SalesRule/view/frontend/web/js/action/select-payment-method-mixin.js

[code]
Validators for payment step is not executed or not executed correctly.

[2020-10-29 11:11] engcom-Hotel commented on #14550
Hello @geet07.
The created request gives the next search criteria:
[code]
Based on https://devdocs.magento.com/guides/v2.4/rest/performing-searches.html
_When constructing a search, keep the following in mind:
To perform a logical OR, specify multiple filters within a filter_groups.
To perform a logical AND, specify multiple filter_groups._
So, we are looking for products with prices bigger than 4

[2020-10-29 11:21] Emanuel-23 commented on #28244
@magento-engcom-team
Can please someone check this, it seems not be solved in magento 2.3.6, although it looks like it could have been solved easily (see https://github.com/magento/magento2/issues/28244#issuecomment-630077997)

[2020-10-29 11:45] engcom-Bravo commented on #30685
Hello @NielsVroman

Thank you for the quick response

We are able to reproduce the issue. We have discovered that the main cause of the issue is the **Production Mode**

Additional info from Engcom is added to the description

[2020-10-29 11:47] qsolutions-pl commented on #25099
Why this issue was closed?!

[2020-10-29 11:47] magento-engcom-team commented on #30685
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38788` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-29 11:59] gwharton opened #30705 "Page Layout/Margins not consistent across all pages when viewed on wide enough screen"
### Preconditions (*)

1. 2.4.1 and 2.4-develop
2. The same behavior on Blank and Luma Themes

### Steps to reproduce (*)

1. Deploy a blank vanilla site
2. Expand browser window so there are left and right margins on screen with site centered
3. Create a test product in a test category
4. Browse the following pages, noticing if the position of the logo/navbar/content changes on each page from lef

[2020-10-29 12:07] gwharton commented on #30705
Scroll bar visibility being the issue, but can anything be done to improve it.

[2020-10-29 12:10] Den4ik opened #30706 "Composer 2 support"
### Description (*)
Currently impossible to use composer 2 for Magento installation

[code]

### Expected behavior (*)
No install errors

### Benefits
Improve performance all composer commands

### Additional information

[2020-10-29 12:33] engcom-Bravo commented on #29068
We are closing this issue due to inactivity. Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2020-10-29 12:33] #29068 closed, assigned to engcom-Bravo

[2020-10-29 13:02] engcom-Bravo commented on #30645
After the 2.4-develop and 2.4.1 synchronization, the issue is **reproducible** on 2.4-develop also.
We confirm the issue and move it to Ready for Development

[2020-10-29 13:04] magento-engcom-team commented on #30645
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38789` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-29 13:38] magento-engcom-team commented on #30692
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38791` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-29 13:45] nathanjosiah commented on #29964
I think it's safe to consider this issue resolved. Thanks everyone!

[2020-10-29 13:45] #29964 closed, assigned to nobody

[2020-10-29 14:15] fredden commented on #30706
This is being discussed / worked on here: https://github.com/magento/community-features/issues/302

[2020-10-29 14:16] neddy236 commented on #17326
@magento-engcom-team issue is reproduced in magento 2.3.3(php73) and magento 2.3.2(php7.2) please reopen the issue

[2020-10-29 14:21] argovaerts opened #30707 "Blank theme partly not translateable on mobile"
### Preconditions (*)

1. 2.4.0
2. 2.4-develop

### Steps to reproduce (*)

1. Clean install of Magento
2. Activate multiple storefront with another language than English
3. Category structure: Category -> Subcategory(1) -> Subcategory(2)

### Expected result (*)

1. On mobile, have (1) translated (including "All") or have it removed.

### Actual result (*)

1. Word 'All' is not translated
2. [Img

[2020-10-29 14:27] ihor-sviziev commented on #30706
Hi @Den4ik,
This issue duplicates https://github.com/magento/community-features/issues/302
You can see all updates about updating magento to support  composer 2 there.
I’m closing this issue as duplicate

[2020-10-29 14:27] #30706 closed, assigned to ihor-sviziev

[2020-10-29 14:28] neddy236 commented on #10234
@AlexWorking @magento-engcom-team this issue is still valid, please reponen it. Not working in magento 2.3.3(php7.3) nor magento 2.3.2 (php7.2).

I have managed to troubleshoot it a bit and found that the issue is in the following file on the getCountry() method
`vendor/magento/module-payment/Model/Checks/CanUseForCountry/CountryProvider.php`

public function getCountry(Quote $quote)
    {

[2020-10-29 14:36] barryvdh commented on #30514
Perhaps related: https://github.com/magento/magento2/issues/28966

We are also facing missing products with ElasticSearch with large configurations.

[2020-10-29 14:52] sdzhepa commented on #11768
@Tjab @hostep

This issue has been closed and for some reason, bot did not leave a comment.

I see that related internal ticket `MC-30085` was closed by Magento team with resolution

So, probably it was fixed in some other PR or task.

@engcom-Delta, could you please quick re-check  it and confirm its cannot repro or reopen

[2020-10-29 15:03] sdzhepa commented on #24445
@lpouwelse @hostep

Related internal Jira tickets `MC-19878` and `MC-24054` have been closed as

For some reason bot did not leave a comment here..just closed...

Also, as mentioned in https://github.com/magento/magento2/issues/24445#issuecomment-680713098
internal ticket with the same title `MC-32593: var/resource_config.json is regenerated each time an image is requested by get.php` has beed del

[2020-10-29 15:05] VasylBondarchuk commented on #30283
Dear Sirs,

I hope you are doing well.

The bug you are about to fix, also affects Purchase Orders confirmation.

To reproduce it please follow the following steps:

Preconditions:

- Magento EE 2.4-develop is installed
- B2B 1.2-develop is installed
- Stores > Configuration > B2B Features
- Enable Companies = YES
- Enable Purchase Orders = YES
- Create a Customer Account
- A Company is created
-

[2020-10-29 15:44] engcom-Bravo commented on #30685
Further investigation discovered that according to [Install Sample Data using Composer](https://devdocs.magento.com/guides/v2.4/install-gde/install/sample-data-after-composer.html) article on Developer Documentation, _Installing sample data in production mode fails._ Please use Developer mode`bin/magento deploy:mode:set developer` to install Sample Data and Upgrade

[2020-10-29 16:20] #29082 closed, assigned to nobody

[2020-10-29 16:26] zakdma commented on #29082
Closed as not a bug. You should create label for discount to see it in discount row

[2020-10-29 16:26] engcom-Bravo commented on #30705
The same behavior on the latest 2.4-develop.
Rechecked with Blank and Luma Themes

[2020-10-29 16:28] magento-engcom-team commented on #30705
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38805` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-29 16:28] stathis opened #30708 "setup:di:compile tries to delete var/cache completely, not just contents"
We have the ```var/cache``` directory mounted as tmpfs in order to increase site performance in addition to using Varnish and/or Redis.
When compiling the binary should delete contents if removing the directory is not possible, as attempting to delete the whole directory is a hacky way to do it anyway.

### Preconditions (*)
1. Have ```var/cache``` mounted as tmpfs. _**or**_
2. Have it symlinked t

[2020-10-29 16:29] gwharton commented on #30705
As someone pointed out to me, it is because of scrollbar visibility. Loading a page with content below the fold results in a scroll bar, which shifts the content left slightly when the scrollbar becomes visible. The only way I see round it, is to either a) not have a theme that is page centered...... not gonna happen, or b) use overflow-y to keep scrollbar visible all the time.

[2020-10-29 16:41] gabrieldagama commented on #4053
Hi @engcom-Charlie, can you re-confirm this issue on 2.4?

Thanks.

[2020-10-29 16:48] mrtuvn commented on #30698
With less information will be very hard to find out real problem. Maybe core buy i'm not too sure. Hope you can provide steps for this issue. See var/log for more details can help you little bit

[2020-10-29 16:48] engcom-Bravo commented on #30658
@AlldoGroup

Thank you for your response
_quote: "5. Saved the product. Performed reindex and cache clean."_
We perform full reindex, `bin/magento indexer:reindex`

Can you please answer, where do you Copy Data from when you assign a Product to another site?
![data](https://user-images.githubusercontent.com/51680745/97605319-29a23b80-1a17-11eb-8d01-b47ad987c773.png)

Thank you in advance

[2020-10-29 16:51] mrtuvn commented on #30705
maybe some section shift content while rendering that cause problem. That's  call Cumulative Layout Shift

[2020-10-29 16:54] ghost opened #30709 "On Customer Email Confirmation, Message incorrectly shows set address link in plain text"
### Preconditions (*)
1. Magento 2.3.6

### Steps to reproduce (*)
1. Go to Stores > Configuration > Customers > Customer Configuration > Create New account Options
2. Set **Enable Automatic Assignment to Customer Group** to **Yes**
3. Set **Require Emails Confirmation** to **Yes**
4. Go to the frontend and create a customer account
5. After receiving the email to verify your email address, you'll

[2020-10-29 16:56] pmcnamaracpc commented on #30709
@magento give me 2.4-develop instance

[2020-10-29 17:08] antenhkibret opened #30710 "FAILED Download via Composer"
Executed this command to download via Composer

`composer create-project --repository=https://repo.magento.com/ magento/project-community-edition magento2`

And got this error message.

[2020-10-29 17:24] DavaGordon opened #30712 "Cart Price Rules by Payment Method"
### Preconditions (*)

1. 2.4.0
2. 2.4.1

### Steps to reproduce (*)

1. Admin > Marketing > Promotions > Cart Price Rules
2. Add New > Fill out general Information > Select Conditions
3. Match Conditions
<img src="https://i.ibb.co/LQ0k0gz/Screenshot-2020-10-29-at-17-14-48.png" alt="Screenshot-2020-10-29-at-17-14-48" border="0">
4. Set 10% discount product price discount.

### Expected result (*)

[2020-10-29 17:26] nsventures commented on #30698
I have found a solution maybe it helps you 

I am running 3 sites in 1 AWS server and elastic search need the prefix for all sites so that I don't confuse with all sites 

here is a quick tip 

go to admin > Catalog > catalog > Catalog Search > Elasticsearch Index Prefix 

fill this column with your site name 
so all three different sites have different names and it works for me 

[2020-10-29 17:26] #30698 closed, assigned to nobody

[2020-10-29 17:30] mrtuvn commented on #30698
Nice for quick fix!. Hope you have a great day

[2020-10-29 17:34] m2-assistant[bot] opened #30713 "[Issue] Rectify checkout_index_index.xml layout file cross modules."
This issue is automatically created based on existing pull request: magento/magento2#30711: Rectify checkout_index_index.xml layout file cross modules.

---------

### Description (*)

Removed duplicate layout XML code from checkout_index_index.xml of other modules.

### Related Pull Requests

#30538

### Fixed Issues (if relevant)

1. This is code improvement.

### Manual testing scenarios (*)

N

[2020-10-29 17:43] sdzhepa commented on #30575
@ihor-sviziev @qsolutions-pl @Knase @msyhr

Thank you for the details

I asked my team to review and investigate it one more time.
Previously we investigated it quite deeply and 4 persons tested it no different envs....
Seems some important precondition or condition or step is missed

[2020-10-29 17:44] engcom-Delta commented on #30696
Hi @magento2dev thank you for your report. Issue is not reproducible by steps you described.
Could you provide additional information? Is bin/magento setup:install command run for fresh install on empty database?

[2020-10-29 18:03] magento-engcom-team commented on #30704
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38808` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-29 18:14] zenfork commented on #30575
I guess, for me it was a file permissions problem. These steps help me, when I upgrading from 2.4.0 to 2.4.1:
1. Go to Magento 2 folder
2. `sudo chown -R :apache .` (for Devilbox I used my user as owner - `sudo chown -R 1000:1000 .`)
3. `rm -rf generated/code/*`

[2020-10-29 18:29] Den4ik commented on #30706
@ihor-sviziev Thanks for referencing the original issue

[2020-10-29 18:41] perfpcs commented on #30596
Just an update here, the new file does render the directory tree but no images show up when you go to each folder. Also the whole media gallery locks up with a spinning ajax wheel with most times no search box, no filter or sort shows up. So, yes the tree now shows but the gallery is useless to use as it is now.

[2020-10-29 18:49] m2-assistant[bot] opened #30716 "[Issue] Magento modules and theme less improvements."
This issue is automatically created based on existing pull request: magento/magento2#30715: Magento modules and theme less improvements.

---------

### Description (*)

Magento modules and theme less improvements with proper mixin(`.lib-css()` and proper `@font-weight__XXXX` variable) usage available on magento defualt UI library at https://magento-devdocs.github.io/magento2-ui-library/typography

[2020-10-29 18:54] Fresko112 commented on #23047
Tried it but still same result. Stranfge but true.

Thanks for your help anyway.

[2020-10-29 18:58] heneral commented on #29357
have same issue
![image](https://user-images.githubusercontent.com/10393507/97619859-b8d14280-1a5b-11eb-9abc-a09502d16367.png)

using this block:

{{block class="Magento\Contact\Block\ContactForm" name="contactForm" template="Magento_Contact::form.phtml"}}

please help

thanks

[2020-10-29 19:07] #21888 closed, assigned to nobody

[2020-10-29 19:14] hostep commented on #11768
This issue sounds very similar to https://github.com/magento/magento2/issues/30047#issuecomment-715498108, but this one is about products and the other one about categories. I can see some code was delivered to fix this issue with categories, but not yet for products. So maybe this is closed incorrectly?

Also, this sounds like a duplicate of https://github.com/magento/magento2/issues/26484 & http

[2020-10-29 19:31] hostep commented on #30710
Hi @FalconOne

Unfortunately Magento 2 isn't compatible yet with Composer version 2.
You can downgrade composer to version 1 using for example `composer selfupdate --1` and then you should be able to install Magento.

You can follow https://github.com/magento/community-features/issues/302 to see when Magento will become compatible with composer version 2

[2020-10-29 20:29] sdzhepa commented on #29421
Hello @JannMulton @ihor-sviziev

This issue was reviewed and discussed with Klarna.
As a result, it was confirmed and added to the backlog related to Klarna:
- `BUNDLE-2831` [Klarna 2.4.2] Remove dependency on PayPal module
- `BUNDLE-2832` [Klarna 2.3.7] Remove dependency on PayPal module

[2020-10-29 20:31] #30469 closed, assigned to andrewbess

[2020-10-29 21:40] medinadato commented on #22173
Using the solutions above, I've created a plugin for that. It did fix the issue:

etc/di.xml

[code]
Then, the plugin Vendor\Package\Plugin\Component\Form\Element\DataType\Date

[code]

That's it.

[2020-10-29 21:41] robolmos commented on #30616
Same issue here.

[2020-10-29 22:32] robolmos commented on #25668
I wasn't clear on what the fix ended up being. What's the fix? The admin/backend allows uppercase store/website codes, but the command line doesn't.

Thus, codes can be created in the admin/backend that can't be interacted with via config:set, config:show scope-code argument on the command line, which seems like a bug IMO.

Seems like the fix should be allowing the command line to use the same reg

[2020-10-29 23:16] matthew-muscat opened #30717 "$0 Shipping Subtotal after a shipping method is selected in the Shopping Cart Estimator"
### Preconditions (*)

- Confirmed affecting Magento 2.4.1 (PHP 7.4)
- Confirmed affecting Magento 2.3.4 (PHP 7.3)

### Steps to reproduce (*)

1. Configure the store to utilize an "Online" carrier method that offers live quoting (in this case, this was Shippit, but it's been confirmed with other third party modules too — DHL, FedEx etc are suspected, but unconfirmed to also be affected by this)
2

[2020-10-30 04:20] ihor-sviziev commented on #29421
@sdzhepa so the issue not in magento and we can close this one?

[2020-10-30 04:31] ueltonVeslei commented on #26467
This works for me:
https://medium.com/adobetech/configuring-tfa-on-magento-2-4-0-admin-panel-with-google-authenticator-dbf8801da4c3

[2020-10-30 05:46] Anantkprajapati commented on #30655
Hello @devchris79 - Already checked with other country, state and zip code but getting same issue.

[2020-10-30 06:05] mrtuvn commented on #29357
You can call in CMS block. Try do it via widget or layout like that

[2020-10-30 06:07] mrtuvn commented on #30698
Should update docs with correct section for clarify to user

[2020-10-30 06:51] Jeeva-Rathinam commented on #26698
Did you find any solution?

[2020-10-30 07:27] rani-webkul commented on #29900
@magento give me 2.4-develop instance

[2020-10-30 07:50] rani-priya opened #30719 "Coupon with Fixed amount discount for whole cart apply rule not working in graphql"
### Preconditions (*)

1. Magento version: 2.4
2. php version : 7.3

### Steps to reproduce (*)

1. Go to magento backend
2. create a cart price rule with this configuration(In Apply set "**Fixed amount discount for whole cart**")
![image](https://user-images.githubusercontent.com/44425160/97674010-c5cd5080-1ab2-11eb-92e8-e0847588b743.png)

3. Then apply the same coupon on cart in by using graphql

[2020-10-30 09:07] matthew99 commented on #29070
Still looking for solution. I keep track of my steps in my blog https://www.vannoortproductions.nl/magento-2-indexer-stuck-at-processing/

[2020-10-30 09:48] jakwinkler opened #30720 "Customer VAT ID not validated when an address is saved / updated in customer dashboard"
### Preconditions (*)

1. Any Magento 2 version
2. Setup proper customer groups for EU VAT ID validation
3. Make sure TAX / VAT field is visible in front so customer can edit it
4. Configure Shipping Origin and store owner data as a valid EU entity with valid VATEU number

### Steps to reproduce (*)

1. Create an account Go to customer dashboard
2. Add new address and fill TAX FIELD
3. save new ad

[2020-10-30 09:51] engcom-Bravo commented on #30709
Hello @pmcnamaracpc

Thank you for your report

This issue is already fixed in 2.4-develop
Please see the attachment
![var](https://user-images.githubusercontent.com/51680745/97690732-0ecad800-1aa6-11eb-944e-675d45634814.png)

So we have to close this issue. Please feel free to comment, create a new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue

[2020-10-30 09:51] #30709 closed, assigned to engcom-Bravo

[2020-10-30 09:51] peterjaap commented on #30720
Magento 2 uses the VIES validation service, which *requires* a Requester Member State & number (in Magento's terms a merchant VAT number and merchant country code). See https://ec.europa.eu/taxation_customs/vies/vatRequest.html.

[2020-10-30 09:54] #30710 closed, assigned to nobody

[2020-10-30 10:13] peterlohaus opened #30721 "Wrong return type of Block Interface getId method"
### Preconditions (*)

1. Magento 2.4.0 Open Source
2. Magento 2.4-develop

### Steps to reproduce (*)

[code]
in src/vendor/magento/module-cms/Api/Data/BlockInterface.php

`getId()` returns a string.

### Expected result (*)
`\Magento\Cms\Model\Block::getId` should cast the value to int before return

### Actual result (*)

1.Return of string
![image](https://user-images.githubusercontent.com/516

[2020-10-30 10:44] digvijay2017 commented on #10978
I have got it the same issue. It's really a serious issue. Some of the customers not able to do the registration. I am strange to see that @m2-community-project added in low priority, How disgusting?
Disable the EAV cache is not a solution, it's a serious issue.  Magento community must provide the solution for this.  It's occurring in Enterprise and Cloud as well. Poor Magento community
@magento-e

[2020-10-30 10:46] michel334 opened #30722 "Why is Magento 2 now such bloatware?"
Suggestion:

Make 3rd party modules OPTIONAL and DISABLE by DEFAULT (klarna, dhl, yotpo, dotmailer etc etc etc etc etc)
My clients DO NOT NEED these modules. These modules create bugs, problems and slow loading times.

Make new functionality OPTIONAL and DISABLE by DEFAULT (multi source stock inventory, adobe stock images etc. etc etc..)
My clients DO NOT NEED this functionality. This functionalit

[2020-10-30 11:15] alex-james opened #30723 "skiptarget.phtml is a broken anchor"
### Preconditions (*)
No preconditions, I have observed this in Magento versions 2.3.5 to 2.4.0
Magento 2.4-develop

### Steps to reproduce (*)
Browse to the homepage of site, inspect the source code and look for the following markup under maincontent:
app/code/Magento/Theme/view/frontend/templates/html/skiptarget.phtml
`<a id="contentarea" tabindex="-1"></a>`

### Expected result (*)
The rendered

[2020-10-30 11:15] chiranjeevi-cj commented on #26565
@magento I am working on this

[2020-10-30 11:23] Zyles commented on #26467
Stop spamming. Nobody here needs your tutorial on how to install 2fa.

[2020-10-30 11:28] engcom-Bravo commented on #30677
@sdzhepa Can you please move this issue to the Feature Request repository?

Thank you

[2020-10-30 11:57] ihor-sviziev commented on #30575
Hi @msyhr @qsolutions-pl,
Could you try to remove the generated/* folder? Does the issue reproducing after that?

[2020-10-30 12:04] ihor-sviziev commented on #25668
@robolmos hm... interesting... I though it's just not supported everywhere... **I'm re-opening this issue.**

In case if it's supported from the admin - we should allow it also here. Could you create PR for fixing this consistency issue?

[2020-10-30 12:06] engcom-Charlie commented on #4053
Hello @samtay we can't reproduce the issue on the latest 2.4-develop by followed steps:
1. Create product attribute via admin

![image](https://user-images.githubusercontent.com/51680850/97701686-77ba4c00-1ab6-11eb-9210-fef8630a28f4.png)

2. Add the attribute to Attribute Set (to make it visible in the product form)
3. Open create product form
4. Fill the required fields
5. Set DateTime to created

[2020-10-30 12:08] loopyNid commented on #28692
I'm also facing the same problem, any fix? or temporaryfix?

[2020-10-30 12:12] munkhulzii commented on #28555
Related PR: https://github.com/magento/partners-magento2b2b/pull/444

[2020-10-30 12:13] engcom-Bravo commented on #29808
We are closing this issue due to inactivity. Please feel free to comment, or create a new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2020-10-30 12:13] #29808 closed, assigned to engcom-Bravo

[2020-10-30 12:18] victorpetryk commented on #25947
@magento I am working on this

[2020-10-30 12:22] qsolutions-pl commented on #3625
5 years! well done Magento Core team!

[2020-10-30 13:04] qsolutions-pl commented on #20478
@larsroettig tomorrow = +500 days?

[2020-10-30 13:08] pmcnamaracpc commented on #30709
Thanks @engcom-Bravo

[2020-10-30 13:09] ericmorand opened #30724 "Customer Account Edit controller action enforces Page Title to "Account Information""
### Preconditions (*)

Magento 2.3.5

### Steps to reproduce (*)

Change the page title in `view/frontend/layout/customer_account_edit.xml` file of a module.

### Expected result (*)

The page title set in the layout file is used as the browser page title.

### Actual result (*)

It is not. "Account Information" is always used as page title, whatever the setting of the layout.

This is coming from

[2020-10-30 13:13] rani-webkul commented on #29900
@magento give me 2.4-develop instance

[2020-10-30 13:17] belvgdarik commented on #30575
@msyhr Have you found any solution?

[2020-10-30 13:18] engcom-Delta commented on #28037
@rvitaliy @ihor-sviziev I check issue on latest composer version 2.4.1 and it is not reproducible: no magento modules is shown in outdated list

If you'd like to update the issue, please reopen it.

[2020-10-30 13:18] #28037 closed, assigned to engcom-Delta

[2020-10-30 13:27] engcom-Bravo commented on #30218
The issue is reproducible on the latest 2.4-develop. Additional info from Engcom is added to the description

[2020-10-30 13:29] Eddcapone opened #30725 "Cant open category : Notice: Undefined index: price in vendor/magento/module-visual-merchandiser/Block/Adminhtml/Category/Merchandiser/Tile.php on line 322"
I tried to open a category, and I got this error:

I added this code to the method **getAttributesToDisplay** in **vendor/magento/module-visual-merchandiser/Block/Adminhtml/Category/Merchandiser/Tile.php** to fix the error:

    public function getAttributesToDisplay($product)
    {
        $attributeCodes = $this->getUsableAttributes();
        $availableAttributes = $product->getTypeInstance()->

[2020-10-30 13:30] engcom-Delta commented on #30575
@msyhr @qsolutions-pl Unfortunately I am not able to reproduce issue with clean magento installation on my enviroment
Could you please clarify again:
Is this clean magento installation on clean database?
Or it is magento upgrade?

[2020-10-30 13:32] magento-engcom-team commented on #30218
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38815` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-30 14:03] ihor-sviziev commented on #28729
Hi @davidalger,
Seems like this issue was already resolved in the 2.4.0 release, related changes you can see here https://github.com/magento/magento2/commit/c4ca054a7dbf1454a32bb256314958bac1ebd952

Could you confirm that issue is already fixed?

[2020-10-30 14:03] tope316 commented on #30583
Any news on this? I am getting concerned as we need to be compliant.

[2020-10-30 14:04] engcom-Charlie commented on #24445
@sdzhepa the issue isn't reproducible on the latest 2.4-develop.
Was fixed https://github.com/magento/magento2/commit/1808301b9f9

[2020-10-30 14:05] JeroenBoersma commented on #27564
FYI: This is fixed in Magento 2.4 and up...

Magento backend will alsways return a quote(even a empty one)
Using this items collection will not apply the quoteId as a filter when searching/loading cart items resulting in loading all cart items for any customer.

In 2.4 the `->getId()` is applied again and the a empty collection is returned, which is indeed the correct behavior.

[2020-10-30 14:05] davidalger commented on #28729
Yes, this was resolved.

[2020-10-30 14:05] #28729 closed, assigned to ihor-sviziev

[2020-10-30 14:05] engcom-Charlie commented on #24445
@sdzhepa the issue isn't reproducible on the latest 2.4-develop.
Was fixed by https://github.com/magento/magento2/commit/1808301b9f9

[2020-10-30 14:12] engcom-Bravo commented on #30575
I was not able to reproduce the issue on my machine.
Server version: Apache/2.4.29 (Ubuntu)

[2020-10-30 14:32] gwharton opened #30726 "Magento\Framework\DataObject\Copy fails to convert between order/quote address and customer address when address contains region"
### Preconditions (*)

1. 2.4.1
2. Magento 2.4-develop

### Steps to reproduce (*)

1. Run the attached Integration Test

### Expected result (*)

1. It should pass

### Actual result (*)

1. It does not

### Investigation

- Magento\Quote\Api\Data\QuoteAddressInterface->getRegion() returns "string"
- Magento\Sales\Api\Data\OrderAddressInterface->getRegion() returns "string"
- Magento\Customer\Api

[2020-10-30 14:35] atishgoswami commented on #30722
Hello @michel334,

If you want you can remove the extra modules using composer replace functionality.
Here are a few community extensions that can help:

https://github.com/yireo/magento2-replace-tools

Individual Bundles:
https://github.com/yireo/magento2-replace-all
https://github.com/yireo/magento2-replace-bundled
https://github.com/yireo/magento2-replace-inventory
https://github.com/yireo/mage

[2020-10-30 14:42] ericmorand commented on #30722
I couldn't agree more. Magento 2 is a bloatware, trying to solve everything, slow and incredibly taxing on resources - both from the server and the browser.

But that wouldn't be that bad if it was not a dependency hell: it's impossible to know what modules can be removed because most of them seem to be dependent to another one, even when it's totally non-obvious - see this issue for example: http

[2020-10-30 14:42] michel334 commented on #30722
@atishgoswami wow thanks, i will try those links. I do appreciate Magento's hard work with all these modules, but i get tired of fixing error's related to modules my clients do not need. Even when modules are "disabled" in the admin i still get errors related to those modules :) But your answer will help, thanks :)

[2020-10-30 15:54] samtay commented on #4053
I opened this issue in 2016... haven't worked on Magento in years. Congrats though!

[2020-10-30 15:55] msyhr commented on #30575
Clean install clean DB (environment information in my last post)

Installing 2.4.0 works successfully (specifying the version in the composer create-project)

Installing with no version or upgrading via changing version in composer.json after a working 2.4.0 install causes the issue. I'm going to try to replicate this on one of our Dev servers instead of via local dev (docker) and report back.

[2020-10-30 16:07] marvinhinz commented on #8219
Still happens on Magento 2.4.1 :/

[2020-10-30 16:08] msyhr commented on #30575
Same result, command fails as soon as the broken proxy is created. The only way I've gotten past this step is by manually changing the functions. However, this fails again as soon as generated/ is cleared again.

[2020-10-30 16:20] msyhr commented on #30575
@ihor-sviziev

No sure if this would be of any help. Zip of my generated folder. This is what is created when I run the setup:install CLI after composer create-project has finished.

[generated.zip](https://github.com/magento/magento2/files/5466271/generated.zip)

[2020-10-30 16:20] gwharton commented on #30688
Firstly, do not set Header set Access-Control-Allow-Origin "*" as that opens you up completely.

I use cloudfront and have the following Headers set

- Header set Access-Control-Allow-Origin https://<my main magento domain>
- Header set Access-Control-Allow-Headers "Host, Content-Type, Origin, Accept, X-Requested-With"
- Header set Access-Control-Allow-Methods "GET, HEAD, OPTIONS"

Then in the Clo

[2020-10-30 17:46] m2-assistant[bot] opened #30729 "[Issue] Module & Theme less optimization for cross browser compatibility."
This issue is automatically created based on existing pull request: magento/magento2#30728: Module & Theme less optimization for cross browser compatibility.

---------

### Description (*)

Updated core modules & theme less design with Magento default Flex layout less mixins. Reference taken from `<Magento2>/lib/web/css/source/lib/_utilities.less:409 Flex layout mixins` and my Magento 2 theme dev

[2020-10-30 18:30] m2-assistant[bot] opened #30731 "[Issue] module.xml file improvements for Magento_GroupedCatalogInventory & Magento_MsrpGroupedProduct modules."
This issue is automatically created based on existing pull request: magento/magento2#30642: module.xml file improvements for Magento_GroupedCatalogInventory  & Magento_MsrpGroupedProduct modules.

---------

### Description (*)

*module.xml* file improvements for `Magento_GroupedCatalogInventory`
 & `Magento_MsrpGroupedProduct` modules.

### Related Pull Requests

https://github.com/magento/magent

[2020-10-30 18:32] m2-assistant[bot] opened #30732 "[Issue] Less file image mixin usage added."
This issue is automatically created based on existing pull request: magento/magento2#30730: Less file image mixin usage added.

---------

### Description (*)

Less file image mixin usage added as its less mixin is defined here: `<root>/lib/web/css/source/lib/_utilities.less:303`
The `.lib-url()` mixin wraps passed value with 'url( ... )' and returns `@lib-url-check-output` variable. Can be used w

[2020-10-30 21:01] engcom-Delta commented on #30575
@msyhr I tried fresh magento installation without version on the composer create-project step  - installation successfully
Env:
- PHP 7.4.5 (cli) (built: Apr 19 2020 07:36:13)
- Apache/2.4.18 (Ubuntu)

**Testing scenario 1:**
1. `composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition .`
2. Install magento
`php bin/magento setup:install --base-url=http:

[2020-10-30 21:10] jtalel commented on #30677
@engcom-Bravo As long as it get's done it's a good thing... but the way it causes inventory inconsistency would be better to work on it as a issue. Don't you think? (We've had twice this problem before I decided to bring it here).

[2020-10-30 22:12] robolmos commented on #30616
@dot319 Similar previously closed issue was just reopened: https://github.com/magento/magento2/issues/25668

[2020-10-30 22:40] msyhr commented on #30575
@engcom-Bravo @engcom-Dash could either of you provide your phpinfo(); for you setups. I'd like to compare with my docker instance as this now has to be an ENV issue on my end (devilbox)

[2020-10-30 23:28] textarea commented on #30575
same issue upgrading from 2.3.5 to 2.4.1, downgraded to 2.4.0 solved
PHP 7.3.23

[2020-10-31 03:42] vuhoi292 commented on #6710
Still exists for the MCE 2.3.5 .please help me fix this error.[https://prnt.sc/vaivzj](url)

[2020-10-31 04:42] manishgoswamig commented on #30721
@magento I am working on this.

[2020-10-31 05:04] ajijshekh123 commented on #30659
@magento give me 2.4-develop instance

[2020-10-31 05:38] aasim110 commented on #30589
@magento  I'm working on this

[2020-10-31 05:42] bharat1811 commented on #30719
@magento I am working on this.

[2020-10-31 05:43] bharat1811 commented on #30719
@magento add to contributors team

[2020-10-31 05:45] bharat1811 commented on #30719
@magento add to contributors team

[2020-10-31 06:23] ajijshekh123 commented on #30659
Hello @kolaente,

I have verified this issue per your steps but I think this is a Default Magento feature. When the user opens the configuration product details page It is showing only related, up-sell, and cross-sell products whatever the user selects a simple product or not.
In Simple product details, It's showing own Related products, Up-Sell and Cross-Sell products.

@sdzhepa - Let me confirm

[2020-10-31 06:25] magento-engcom-team commented on #30659
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38827` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-31 07:08] Dharmeshvaja91 commented on #26719
@magento I am working on this issue

[2020-10-31 08:00] ajijshekh123 commented on #30574
Hi @CJMacPhie,
I have tried with the Latest Magento 2.4 Instance but Not able to reproduce this issue.
See attached the video:

![Dashboard _ Magento Admin](https://user-images.githubusercontent.com/24711761/97774374-380a6780-1b7d-11eb-971d-e418d992ea4e.gif)

Thanks.

[2020-10-31 09:33] desaiuttam commented on #26422
@magento give me 2.4-develop instance

[2020-10-31 09:42] bharat1811 commented on #30719
@magento please provide me test instance URL and detail. 'CZ in the repository of the local above scenario is working fine.

[2020-10-31 10:29] desaiuttam commented on #26422
@magento I am working on this.

[2020-10-31 10:30] desaiuttam commented on #26422
@magento add to contributors team

[2020-10-31 10:35] krish-vivek commented on #30540
Hello @trunglv
Agree with @engcom-Bravo

After following steps mentioned by you, product is showing in search list, so can you provide more information

Please review screenshot.

![1_search](https://user-images.githubusercontent.com/65163673/97776998-e371e700-1b92-11eb-930b-14b4fdc1f57d.png)
![2_attributr](https://user-images.githubusercontent.com/65163673/97776999-e4a31400-1b92-11eb-83c8-b7d15fb

[2020-10-31 10:59] desaiuttam commented on #26422
@magento I am working on this.

[2020-10-31 11:13] kaivanshah02 commented on #29734
@magento I'm working on it,

[2020-10-31 11:39] bharat1811 commented on #30719
@magento give me 2.4-develop instance

[2020-10-31 11:54] kaivanshah02 commented on #29734
@magento I'm working on it.

[2020-10-31 12:13] bharat1811 commented on #30719
@rani-webkul
The issue is not reproducible in the latest version.
#Issue: not reproducible

Steps to verify,

**1. Get customer cart details,**
{
  customerCart {
    id
    items {
      id
      product {
        name
        sku
      }
      quantity
    }
  }
}

**2. Apply created promo code,**
mutation {
  applyCouponToCart(
    input: {
      cart_id: "HvzaWRCngNlChASgYZkP6kF5SpeufPcv"

[2020-10-31 12:19] SyntaxKay opened #30738 "Should be enough space between wishlist and add to compare link on Product detail page in small screen"
### Description (*)

Should be enough space between wishlist and add to compare link on Product detail page

### Expected behavior (*)

![image](https://user-images.githubusercontent.com/33230237/97778998-3488d780-1ba1-11eb-8763-e9c5fa08f83d.png)

### Benefits

The space between this links is so less that it looks messy
![image](https://user-images.githubusercontent.com/33230237/97779011-56825a00-

[2020-10-31 12:20] krishprakash commented on #30738
@magento give me 2.4-develop instance

[2020-10-31 12:21] Priya-V-Panchal opened #30739 "B2B Purchase Order With Checkout Agreement not working"
### Preconditions (*)

1. Magento EE 2.4.1 with B2B 1.3 must be installed

### Steps to reproduce (*)

1. Enable Purchase orders from Stores > Configuration > General > B2b Features > Order Approval Configuration > Enable Purchase Orders > Yes
2. Allow Purchase Orders from the specific company
3. Enable Terms and Condition Checkout Agreement
3. Login with the same company credentials in the front

[2020-10-31 12:34] magento-engcom-team commented on #30738
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38828` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-31 13:13] kaivanshah02 commented on #29734
@magento add to contributors team

[2020-10-31 13:14] kaivanshah02 commented on #29734
@magento I'm working on it.

[2020-10-31 13:18] himanshu8dev commented on #30424
@magento I'm working on it.

[2020-10-31 13:25] rahulbarot commented on #30668
@drc0 I have followed steps to reproduce the issue on M2.4.0 and i found that initially there is no record with children attribute in catalog_category_entity_text table, but when i saved the category using Magento\Catalog\Api\CategoryRepositoryInterface::save it creates new record with parent id and it's subcategories as value.Check the below code I've tried

$categoryRepository = $objectManager->

[2020-10-31 14:09] drc0 commented on #30668
@rahulbarot thanks for the answer, can you tell me now in your case, after rthe repository save and having checked that the table catalog_category_entity_text table has the children row, a graphql query like this one what returns?

[code]

what about the same query **before** the repository save (or by deleting the row in the mentioned table).

thanks

[2020-10-31 16:31] #30258 closed, assigned to nobody

[2020-10-31 16:34] #30259 closed, assigned to nobody

[2020-10-31 22:36] psolovyov commented on #28614
Magento team should probably release a standalone plugin to deal with this. Many merchants cant just get up and go and install new Magento 2 version.

[2020-11-01 06:18] rani-webkul commented on #29900
@magento give me 2.4-develop instance

[2020-11-01 06:45] rani-priya opened #30740 "Boolean type product attribute filter is not working as expected"
### Preconditions (*)

1. Magento version 2.4
2. PHP version: 7.3

### Steps to reproduce (*)

1. Create a Boolean type attribute and make it Filterable (with results)
![image](https://user-images.githubusercontent.com/44425160/97796625-423e6b80-1c3a-11eb-9a5a-5174cb457652.png)
2. Assign this attribute to attribute set
3. Create bundle product and mark that Boolean type attribute to 1
4. Set this

[2020-11-01 07:55] mrtuvn commented on #30506
I think this is old legacy code from 2.1 or maybe magento 1.x. This maybe will need refactor soon in near future

[2020-11-01 09:06] prashantvictory commented on #7869
I had the same issue in M 2.4.1, and fixed it by running deploy command as below:
`bin/magento setup:static-content:deploy en_GB -f`

[2020-11-01 09:31] magenx commented on #28614
as i said before in this case the problem not in magento, but in payment gateway and server configuration.

[2020-11-01 09:52] rani-webkul commented on #30740
Even it is  not working for text type attribute as well
![image](https://user-images.githubusercontent.com/44425160/97798607-a585c900-1c4d-11eb-9b01-1fe2d0a318f0.png)

[2020-11-01 13:32] rani-webkul commented on #30719
@magento give me 2.4-develop instance

[2020-11-01 13:46] rani-webkul commented on #30719
@bharat1811 it's still reproduceable on upper instance as well.
Please use below cart query and then check
{
  cart(cart_id: "l2X1hXV1PBgtdtMZMTseGWsVQzEcVpAi") {
    email
    billing_address {
        city
        country {
            code
            label
        }
        firstname
        lastname
        postcode
        region {
            code
            label
            region_id

[2020-11-01 14:09] kalxn opened #30741 "Magento 2.4.1 problem with Composer 2.0.4 - SOLVED JUST USE COMPOSER 1"
Can't Install using:
composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition=2.4.1 .

It's giving me back these problems:

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Root composer.json requires magento/composer-root-update-plugin ~1.0 -> satisfiable by magento/composer-root-update-plugin[1.0.0].
    - m

[2020-11-01 15:40] mrtuvn opened #30742 "Schedule Design Update when edit product in backend seem not set properly"
When edit product owner have able to set "Schedule Design Update"
Choose date applied, which theme will update, and page layout. But after set page layout to another value (example: 3 columns)
save and clear cache, Back to frontend and view exactly product edited before
View page source and see body class in DOM

### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Go to a

[2020-11-01 15:49] mrtuvn commented on #30741
At the moment magento not support composer 2
See here note very clear
https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements-tech.html

[code]

[2020-11-01 16:24] redati commented on #30741
Yes, I also have the problem, composer 2 update.

Magento needs to update the dependency

https://github.com/magento/magento2/blob/2.4-develop/composer.json

 "laminas/laminas-dependency-plugin": "^1.0", to  "laminas/laminas-dependency-plugin": "^2.0",

https://github.com/magento/magento-composer-installer/blob/master/composer.json

"composer-plugin-api": "^1.0" to "composer-plugin-api": "^2.0"

[2020-11-01 16:29] redati commented on #30741
an alternative until then. Use composer 1.

wget https://github.com/composer/composer/releases/download/1.10.17/composer.phar

mv composer.phar /usr/local/bin/composer

chmod +x  /usr/local/bin/composer

[2020-11-01 19:47] psolovyov commented on #28614
Thanks for your NGINX rules! I have tested them and they work great when I was testing with siege.

[2020-11-01 19:50] websuits opened #30743 "Error in setup"
Download Magento 2.4.1 fresh server

Run :

bin/magento help setup:install

Result:

PHP Parse error:  syntax error, unexpected ')' in :

https://github.com/magento/magento2/blob/226b08d0f51c3f6aef7ea969435be2ca07f4b9f6/setup/src/Magento/Setup/Module.php#L81

Fix :

Remove end comma in line 81

[2020-11-01 20:00] psolovyov commented on #28614
Yes original server IP can be easily found, but you can set up your server to allow connections only to Cloudflare IPs. This way even if bad guys want to connect to your server, they will be denied and will need to connect via Cloudflare only.

Cloudflare IP list:
https://www.cloudflare.com/ips/

[2020-11-02 04:50] NTK-2016 commented on #30702
Hi @milindsingh ,thanks for working

[2020-11-02 04:58] Jeeva-Rathinam opened #30744 "Magento 2.3 - After migration from 1.9 to 2.3 vendor/magento files missing"
### Summary (*)

After migration from Magento 1.9.2.3 to Magento 2.3.4 most of the files missing from **vendor/magento.**

But all the files located under **app/code/Magento**

Is this safe, shall i run my Magento 2.3.4 in this situation?

What about my future version upgrade?
### Examples (*)

Files not available under **vendor/magento** instead of available at **app/code/magento**
### Proposed s

[2020-11-02 05:02] heneral commented on #29357
please kindly teach me how to do it @mrtuvn because i am first time with magento 2..

very appreciate if you help me

thanks so much

[2020-11-02 05:27] rahulbarot commented on #30668
Before repository save it returns the result as expected, but after save it shows internal server error and following log is generated in exception.log
`main.ERROR: User Error: expected iterable, but did not find one for field CategoryTree.children. {"exception":"[object] (GraphQL\\Error\\Error(code: 0): User Error: expected iterable, but did not find one for field CategoryTree.children. at /var/w

[2020-11-02 05:52] jimuld commented on #27460
@lokeshvnaik, I was facing same issue with Magento 2.3.5 with data migrated from Magento 1. What I found that database table inventory_source_item was causing the issue, if you find any sku in this table which is showing out of stock on category page you will find difference in columns qty and status. Hope it will help!

[2020-11-02 06:17] VivekM296 commented on #29506
@Kishorchhugani Any update on this ?

[2020-11-02 06:35] Jeeva-Rathinam commented on #7825
@Koc May i know how did you solve this issue?

[2020-11-02 06:36] Jeeva-Rathinam commented on #7825
@sskharate May i know how did you solve this issue?

[2020-11-02 06:47] subineseller opened #30745 "Limit Compare product list Magento 2.4"
Hi
I am trying to limit the list of compare products to 4.
For ex: if the user adds 5th product to compare it will display a message like 'You can add only 4 products to compare list.'

By default magento is adding products without any limit.

Tried to over-ride the file Magento\Catalog\Controller\Product\Compare\Add
but is not working in 2.4
on previous versions i used the same code to override t

[2020-11-02 08:18] drc0 commented on #30668
@rahulbarot thank I've updated the initial issue with correct statements.

[2020-11-02 08:21] chiranjeevi-cj commented on #26565
@magento give me a 2.4-develop instance

[2020-11-02 08:23] chiranjeevi-cj commented on #26565
@magento give me 2.4-develop instance

[2020-11-02 08:48] jpkileaf commented on #28420
is it solved?

[2020-11-02 09:42] engcom-Bravo commented on #30038
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

Thank you

[2020-11-02 09:42] #30038 closed, assigned to engcom-Bravo

[2020-11-02 09:59] engcom-Bravo commented on #30741
Unfortunately, Magento 2 isn't compatible yet with Composer version 2.
You can downgrade composer to version 1 using for example `composer selfupdate --1` and then you should be able to install Magento.

You can follow https://github.com/magento/community-features/issues/302 to see when Magento will become compatible with composer version 2

[2020-11-02 09:59] #30741 closed, assigned to nobody

[2020-11-02 10:16] mweiss-quotient opened #30747 "Region field visible for Country when "Allow to Choose State if It is Optional for Country" is disabled"
### Preconditions (*)
1. Magento 2.4.1 and 2.4-develop
1. PHP 7.4

### Steps to reproduce (*)
1. In General Settings configure **Default Country** that doesn't support States (eg. Czech Republic)
1. In General Settings configure **Allowed countries** same as Default Country
1. Make sure that your Default Country isn't selected in **State is Required for** field
1. In General Settings configure **A

[2020-11-02 10:35] ihor-sviziev commented on #30744
@Jeeva-Rathinam did you use composer based installation?
https://devdocs.magento.com/guides/v2.4/install-gde/composer.html

[2020-11-02 10:54] ihor-sviziev commented on #30743
Hi @websuits,
Duplicates https://github.com/magento/magento2/issues/30604.

This issue appears in case if you're using too old php version.
Please check your php version, the minimum php version is 7.3 for Magento 2.4.x.
You can do that with running command `php -v`.

Unfortunately we had incorrect minimum php version check in magento that allows to run Magento on older php version, already fixed

[2020-11-02 10:54] #30743 closed, assigned to ihor-sviziev

[2020-11-02 10:59] ihor-sviziev commented on #28156
Seems like this issue isn't really popular and will be needed only in some edge cases. I'm closing this issue.

[2020-11-02 10:59] #28156 closed, assigned to nobody

[2020-11-02 11:00] ihor-sviziev commented on #20998
Seems like this issue isn't causing big performance issues, so it would be better to focus on more important things. I'm closing this issue as not relevant.

[2020-11-02 11:00] #20998 closed, assigned to nobody

[2020-11-02 11:25] mweiss-quotient commented on #30747
I have hot-fixed this issue by adding following method to app/code/Magento/Ui/view/base/web/js/form/element/region.js:
[code]

Similar method was present in region.js in Magento 2.3.5-p2:
https://github.com/magento/magento2/blob/2.3.5-p2/app/code/Magento/Ui/view/base/web/js/form/element/region.js#L80

[2020-11-02 12:19] magento-engcom-team commented on #16425
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38832` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-02 12:28] pako-g commented on #23761
Same with magento 2.3.5-p1

[2020-11-02 12:30] engcom-Delta commented on #30575
@msyhr sure.
![image](https://user-images.githubusercontent.com/51681379/97868152-e0ecca00-1d17-11eb-8140-b56ac891bafc.png)

[2020-11-02 12:32] victorpetryk commented on #25947
Hi @taihuuho.
I used official **rabbitmq:3-management** from https://hub.docker.com/_/rabbitmq with configured **heartbeat = 1800**.
Also, I used your payload from https://github.com/magento/magento2/issues/25526#issuecomment-557391997 to import products as you described. But cannot reproduce the issue. Could you help with it? Is this issue still relevant to you?
(I used the **2.4-develop** branch

[2020-11-02 12:38] mlinuxgada commented on #7084
Imao the ReST api endpoint for order statuses is part of the core func - just like listing orders. Statuses are not module functionality, so if you wanna for example be able to update particular order with specific status, you should be able to retrieve all possible order statuses, right ?
So, atm you cant change orders status, because there is no api func to retrieve them.

[2020-11-02 12:49] sasha19957099 commented on #30100
@magento I am working on this

[2020-11-02 12:52] Ahmad7890 opened #30748 "SEO and other settings are not shown in categories"
**Need Help**

![image](https://user-images.githubusercontent.com/73831868/97869941-10a9cb00-1d34-11eb-9a09-ec7350f3ecdb.png)

[2020-11-02 13:03] taihuuho commented on #25947
Hi Vikto,
I didn’t use docker container on a same machine. My RabbitMQ was on another
server.

This could be the reason when my magento server is far enough away from the
rabbit mq server.

Let me know if you can reproduce it with that set up.

On Mon, Nov 2, 2020 at 6:32 AM Victor Petryk <notifications@github.com>
wrote:

[2020-11-02 13:08] victorpetryk commented on #25947
@taihuuho Thank you for your response. I will try to apply your suggestions.
One more question - Is this payload (https://github.com/magento/magento2/issues/25526#issuecomment-557391997) suitable for this case?

[2020-11-02 13:41] magento-engcom-team commented on #30747
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38833` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-02 13:54] #23640 closed, assigned to nobody

[2020-11-02 14:00] otsabi commented on #12398
same probleme

Compilation from source: /var/www/structube/vendor/magento/theme-frontend-blank/web/css/styles-m.less
variable @copyright__background-color is undefined in file /var/www/structube/var/view_preprocessed/pub/static/frontend/luma/luma_child/en_US/Magento_Theme/css/source/_module.less in _module.less on line 284, column 36
282|
283|     .copyright {
284|         .lib-css(background-colo

[2020-11-02 14:20] nbennett25 commented on #30247
@magento any updates here?

[2020-11-02 14:27] sanjay-magecomp opened #30750 "Magento 2.4.0 and 2.4.1 Security Tab system configuration label issue"
### Preconditions (*)
Magento Version 2.4.0 and 2.4.1

### Steps to reproduce (*)
Follow Below Step To Produce Issue
1. Login To Magento Admin Panel
2. Go to  System -> Configurations
3. Next Expand Security Tab

### Expected result (*)
1. https://i.imgur.com/UQQa1y2.png
2. Lable should be Security.

### Actual result (*)
1. https://i.imgur.com/3aMpNfI.png
2. but  actual result shows security.txt

[2020-11-02 14:49] cdbessig commented on #28614
I've created some fail2ban rules around this.  They assume the rest api is not in use.  Here is my [writeup](https://www.brianessig.com/2020/11/carding-attack-protection-using-the-rest-api-on-magento/) about it.  But in short here:

[code]

[2020-11-02 15:45] ihor-sviziev commented on #30556
@sidolov any updates?

[2020-11-02 16:11] klein0r opened #30752 "JavaScript error on register new customer (with address fields enabled)"
### Preconditions (*)

Magento 2.4-develop
Magento 2.4.1

### Steps to reproduce:

1. Enable "show address fields" for registration block (e.g. with custom customer_account_create.xml layout file)

[code]
2. Go to Storefront -> Create an Account;

### Expected result (*)
 The registration page is working fine

### Actual result (*)
1. JS-Error

`Uncaught SyntaxError: Unexpected token $ in JSON at

[2020-11-02 16:20] sidolov commented on #30556
@ihor-sviziev not yet, I'll post updates once will have one

[2020-11-02 16:24] mrtuvn commented on #29357
It's depend on your requirements and how complex on customise on contact you want
The easy way is modify/update content in contact page
Create new file contact_index_index.xml in your theme for customises
Details you can read from this doc
https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/layouts/layout-extend.html
Take it's easy take your time for learn it. Magento is hard. You should le

[2020-11-02 16:52] heneral commented on #29357
already created it but the problem i am using the root/vendor not the app/design, the result was error..
thanks for that @mrtuvn, yeah magento is so hard.. please kindly help me.. i think this is a bug on magento 2.4.0

[2020-11-02 16:55] magento-engcom-team commented on #30608
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38837` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-02 17:30] gabrieldagama commented on #4053
Thanks for the reply @samtay, closing this issue as it is not reproducible anymore.

[2020-11-02 17:30] #4053 closed, assigned to nobody

[2020-11-02 17:55] magento-engcom-team commented on #30608
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38837` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-02 18:13] heneral commented on #29357
@mrtuvn i try to create again, but
still showing this

![image](https://user-images.githubusercontent.com/10393507/97903522-2215c600-1d7a-11eb-83ea-71a4dd64219f.png)

[2020-11-02 18:28] primafair opened #30753 "Error: Call to a member function getUrl() on null in vendor/magento/module-catalog/view/frontend/templates/category/image.phtml:21"
### Preconditions (*)

the category pages can no longer be accessed after upgrading from Magento 2.3.5 to Magento 2.4.1, we get the following message

Has anyone else encountered the problem? How do I fix this bug? Thanks a lot

### Steps to reproduce (*)
1. Update from Magento 2.3.5 to 2.4.1

### Expected result (*)
1. The category pages only show an error message

### Actual result (*)

Error: C

[2020-11-02 18:52] sportmma opened #30754 "Magento 2 extension Allegro.pl"
Hello. Is there anyone who would like to integrate Magento 2.4.1 with Allegro.pl I would like to get full integration of Allegro.pl with Magento 2. All functions provided by Api Allegro.pl

[2020-11-02 18:56] engcom-Delta commented on #30635
Hi @hubertus2017
According magento 2.4.0 [release notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html)

Please refer to the corresponding extension owners(support) on the [Magento Market place](https://marketplace.magento.com/extensions.html) page for further discussion

[2020-11-02 19:05] hubertus2017 commented on #30635
Hello,

i think its a misunderstanding: its the other way round:

From Magento release 2.4:

Quote:
_Before the release of Magento 2.4.0, we recommended that merchants replace the core Magento Braintree integration with the official Braintree extension from Magento Marketplace. **Beginning with Magento 2.4.0, the Braintree extension is included in the release._**

https://docs.magento.com/user-gui

[2020-11-02 20:52] sdzhepa commented on #30750
@sanjay-magecomp @engcom-Bravo

It is not a bug or typo. Its module "Securitytxt"
please see for more details:
- https://github.com/magento/security-package/tree/1.0-develop/Securitytxt
- https://devdocs.magento.com/guides/v2.4/security/security-txt.html

[2020-11-02 20:52] #30750 closed, assigned to nobody

[2020-11-02 21:32] bogutskyy commented on #30577
@magento I am working on this

[2020-11-02 21:32] bogutskyy commented on #30577
@magento add to contributors team

[2020-11-02 21:34] bogutskyy commented on #30577
@magento I am working on this

[2020-11-02 22:26] LiamTrioTech commented on #8304
CSV Import must trim cells. Still a problem in Magento 2.3.0

[2020-11-03 01:17] #28994 closed, assigned to nobody

[2020-11-03 03:46] chiranjeevi-cj commented on #26156
@magento give me 2.4-develop instance

[2020-11-03 05:07] narendrarwt opened #30756 "Magento_Authorization model Rules/Role calling a resource model function update, that is not exist in resource model(Rules/Role)"
### Preconditions (*)

Magento 2.4-develop

### Steps to reproduce (*)

Call `Magento\Authorization\Model\Rules::update` or `Magento\Authorization\Model\Role::update`method

[Magento\Authorization\Model\Role](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Authorization/Model/Role.php)
[Magento\Authorization\Model\Rules](https://github.com/magento/magento2/blob/2.4-develop/ap

[2020-11-03 05:18] thinksys-dev opened #30757 "/rest/default/V1/carts/mine/shipping-information 404"
### Summary (*)

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage processes.

- [ ] Severity: **S0** _- Affects critical data or functionality and leaves users with no workaround._
- [ ] Seve

[2020-11-03 05:19] thinksys-dev opened #30758 "/rest/default/V1/guest-carts/{cartId}/totals-information 404"
### Steps to reprduce

1. Visitor add a product to cart.
2. Go to Cart Page.
3. Click on Proceed to Checkout
4. Login Pop-up will prompt to login.
5. When try to login it shows alert box with error "No such entity with %fieldName = %fieldValue"
in console :
message : "No such entity with %fieldName = %fieldValue"
parameters : Object {fieldName: "cartId", fieldValue: null}

6. However we successful

[2020-11-03 05:25] #30473 closed, assigned to ProkopovVitaliy

[2020-11-03 05:26] #30468 closed, assigned to eduard13

[2020-11-03 05:26] #29720 closed, assigned to sudheers-kensium

[2020-11-03 05:26] #30349 closed, assigned to sudheers-kensium

[2020-11-03 06:37] yogeshkarodiya commented on #26377
Is there any patch available for Magento2.3? or any hard fix for this issue because above solutions are not working

[2020-11-03 07:52] Jeeva-Rathinam commented on #26698
@noeli-eshopguru Are you directly update code or using any model or preference to achieve this edit?

FYI - I am using multi-website, website 1 for USA website 2 for Australia i am using Paypal for my MultiWebsite, here website 1(USA) working good, website 2(Australia) getting error.

Error: If my website 2 customer tries to pay PayPal getting the following error, but website 1 PayPal working well

[2020-11-03 08:21] magento-engcom-team commented on #30752
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38849` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-03 08:41] engcom-Bravo commented on #30748
Hello @Ahmad7890

Thank you for your report.

We are not able to reproduce the reported issue on the latest 2.4-develop or 2.4.1 versions

Can you please provide more information about the issue?
- Are the settings not displayed on all Categories or only on a particular Category?
- Which version of Magento are you using?
- Have you tried to perform reindex `bin/magento indexer:reindex`?

Thank you

[2020-11-03 09:01] chiranjeevi-cj commented on #26565
@magento give me 2.4-develop instance

[2020-11-03 09:26] mohsinleads opened #30759 "Issue In updating Magento 2.4 to 2.4.1"
Having issue of **incompatible with your PHP version,**  with following command

/home/Custome_user/public_html$ composer require magento/composer-root-update-plugin=~1.0 --no-plugins

[InvalidArgumentException]
  Package magento/composer-root-update-plugin at version ~1.0 has a PHP requirement incompatible with your PHP version, PHP extensions and Composer version

![composer1](https://user-image

[2020-11-03 09:27] magento-engcom-team commented on #30742
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38850` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-03 09:34] xanka opened #30760 "Create configurable product Apply unique prices by attribute to each SKU WRONG price in generated"
### Preconditions (*)

1. Magento Version 2.3.6

### Steps to reproduce (*)

1. create configurable product with base price is 20$
2. Create two attribute is Color: Red, Blue and Size: X. M
3. Select Apply unique prices by attribute to each SKU follow:
Red: 20$.    X: 22$
Blue: 22$.   M: 26$
### Expected result (*)

1. 4  Product generated should be:
red-x: 22$
red-m: 26$
blue-x: 24$
blue-m: 28$

[2020-11-03 10:02] NTK-2016 commented on #30702
Hi @milindsingh  any updates

[2020-11-03 10:08] engcom-Delta commented on #11768
Issue is reproducible on latest 2.4-develop

[2020-11-03 10:10] magento-engcom-team commented on #11768
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30085` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-03 10:11] ihor-sviziev commented on #30759
@mohsinleads please try to run composer install, it should say what's wrong.

[2020-11-03 10:18] xanka commented on #30760
@magento give me {2.3.4} instance

[2020-11-03 10:19] xanka commented on #30760
@magento give me 2.3-develop instance

[2020-11-03 10:37] mohsinleads commented on #30759
/home/custom_user/public_html$ composer install
The "magento/magento-composer-installer" plugin was skipped because it requires a Plugin API version ("^1.0") that does not match your Composer installation ("2.0.0"). You may need to run composer update with the "--no-plugins" option.
The "dealerdirect/phpcodesniffer-composer-installer" plugin was skipped because it requires a Plugin API version ("^

[2020-11-03 10:40] ihor-sviziev commented on #30759
Please use composer 1.x instead of 2. Unfortunately composer 2 still not supported yet

[2020-11-03 11:04] ihor-sviziev commented on #30708
@stathis feed free to create a Pull Request that fixing this issue.

[2020-11-03 11:18] magento-engcom-team commented on #30184
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38852` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-03 11:40] engcom-Delta commented on #12366
@Ecksters starting from `2.4.0` [release](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html), code related to this payment was removed from Magento code-base

If you experience issue on the latest composer version 2.4.1, please refer to to the corresponding extension owners(support) on the [Magento Market place](https://marketplace.magento.com/authorizenet-mag

[2020-11-03 11:40] #12366 closed, assigned to engcom-Delta

[2020-11-03 11:48] mohsinleads commented on #30759
@ihor-sviziev  thanks for your reply

i have tried with composer 1x, it gives this issue.

**Warning from https://repo.packagist.org: You are using an outdated version of Composer. Composer 2.0 is now available and you should upgrade.**

[2020-11-03 11:50] paul-blundell commented on #29365
We had the same issue when upgrading from 2.3.4 to 2.4.1.
As someone else has mentioned, applying this [pull request](https://github.com/magento/magento2/pull/29804/files) as a patch seemingly works.

[2020-11-03 12:05] convenient commented on #27559
Seeing this issue also

[2020-11-03 12:07] engcom-Alfa commented on #14054
Hi @ju5t .

Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop.
Seems like this issue was already fixed in #28332.

**Manual testing scenario:**

1. Create a customer through the API;
**POST**  _/V1/customers_

[code]

2. Send **PUT** request _/rest/V1/customers/{customer_id}_ to update the customer

[code]

**Actual Result:** :heavy_check_mark: The customer was successful

[2020-11-03 12:07] #14054 closed, assigned to nobody

[2020-11-03 12:10] victorpetryk commented on #25947
Hi @taihuuho.
Could you provide your *rabbitmq.conf*?

[2020-11-03 12:16] taihuuho commented on #25947
Hi Victor,
My apologies for late response.
I stop the server few months ago, so I don’t have the confit file any more.
Basically, I just installed the RabbitMQ server from their website and use
the default config. I got the error and then I increased the heart beat to
1800 s. Still go the same error.

You can try this payload
https://github.com/magento/magento2/issues/25526#issuecomment-552355582.

[2020-11-03 12:16] chiranjeevi-cj commented on #30752
@magento I am working on this.

[2020-11-03 12:27] victorpetryk commented on #25947
the default config.

@taihuuho In this case, your mean that the issue can be reproduced locally by using RabbitMQ on the same server as Magento installed?
Do you still use Magento 2.3.3 as you mentioned in the description?

[2020-11-03 12:28] taihuuho commented on #25947
Yes, you can reproduce that locally.

And I no longer use Magento because of that issue. It happened on that
2.3.3 version

On Tue, Nov 3, 2020 at 6:27 AM Victor Petryk <notifications@github.com>
wrote:

[2020-11-03 12:30] magenx commented on #28614
script to place forged order into magento 2.4.1
this is not new, but raises many questions

https://gist.github.com/magenx/bdc56bf568caa3c23b2217055aef17b2

[2020-11-03 12:41] ihor-sviziev commented on #30759
@mohsinleads as I said above - unfortunately Magento isn't supporting composer 2, so we can't use it. Once such support will be added - you'll be able to use composer 2 with Magento

[2020-11-03 12:44] engcom-Bravo commented on #30760
Hello @xanka

Thank you for your report

This is a basic Magento functionality. When the price of simple products is calculated, the higher price configuration is set

Anyway, you can configure the price on the next step
![price](https://user-images.githubusercontent.com/51680745/97986242-1a8a0780-1de2-11eb-82c2-79a509251c43.png)

Thank you

[2020-11-03 12:44] #30760 closed, assigned to engcom-Bravo

[2020-11-03 12:55] nalinsavaliya commented on #22490
Also, this issue happens in Magento 2.4.1

[2020-11-03 13:01] jignesh6591 commented on #28482
With admin locale except there is still issue

[2020-11-03 13:05] Rohaty commented on #30707
Hi,
I have the same problem.

Magento 2.4.1

I can't translate the string 'All' from the subcategory on mobile menu. The file where the string appears is menu.js located on /lib /web/mage/

line 465:

.text ($. mage .__ ('All% 1'). replace ('% 1', category));

Even though I translate this string into German in the csv language (i18n directory):

All % 1, "Alle % 1", lib, lib/web/mage/menu.js

I st

[2020-11-03 13:26] jjburbridge commented on #29506
@magento give me 2.3.5 instance

[2020-11-03 13:35] engcom-Alfa commented on #29333
Hi, @dcwnaveen. Yes, we've tried different scenarios  (create the invoice and shipment, create order from Admin area and Storefront), and orders were successfully placed

![Screenshot from 2020-10-12 16-44-14](https://user-images.githubusercontent.com/51679138/95753428-48c86b80-0caa-11eb-9aaa-4f224aefa989.png)

@dcwnaveen Could you check it again on the latest 2.4-develop instance?
Thank you!

[2020-11-03 13:38] sivaschenko commented on #4330
Added root cause steps, actual and expected result to the description

[2020-11-03 13:47] ju5t commented on #14054
Finally.

[2020-11-03 13:48] jtalel opened #30762 "Magento 2 Search won't work when symbols are used"
### Description (*)
We sell automotive tires. Most of this products name come with symbols:
-7.50R16
-11.00R20
-185/60R14
When We try to search by products name most of the time results are inaccurate or no results are shown.

It seems to me when you search usign symbols magento reads them as a separation. The thing is with some sizes like 7.50 or 11.00 it will attempt to search EITHER 7 OR 50 ...

[2020-11-03 13:50] jtalel commented on #30762
@magento give me 2.4-develop instance

[2020-11-03 14:06] engcom-Bravo commented on #28851
Hello @peterlobao

Thank you for your report

This is actually not a bug. You can not set the _Discount Qty Step (Buy X)_ is less than the _Discount Amount_

So we are closing this issue. Please feel free to comment, reopen or create a new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2020-11-03 14:06] #28851 closed, assigned to engcom-Bravo

[2020-11-03 14:08] AlldoGroup commented on #30658
Hello,

We copied the product data from another store view. Note that all our products have "default values", and that we did not copied from the default values.

Thanks,

[2020-11-03 14:09] jtalel commented on #30762
I can't replicate my issue.

[2020-11-03 14:09] #30762 closed, assigned to nobody

[2020-11-03 14:27] victorpetryk commented on #25947
@taihuuho Unfortunately, I cannot reproduce the current issue locally even on 2.4-develop, 2.3.3-develop, and composer installation 2.3.3. I've recorded a video, so you can see my configs and steps.
![Peek 2020-11-03 16-16](https://user-images.githubusercontent.com/506103/97996930-0bf71c80-1df1-11eb-9dc9-6857d2e1f628.gif)

[2020-11-03 14:47] engcom-Bravo commented on #30437
Hello @akgola

Thank you for your report.

This issue is already fixed in the latest 2.4-develop

Successfully reordered an order with products that have custom options as Drop Down type, the custom option is selected automatically
![Reordering](https://user-images.githubusercontent.com/51680745/97999502-123ac800-1df4-11eb-8671-c8de2065427a.gif)
So we are closing this issue. Please feel free to co

[2020-11-03 14:47] #30437 closed, assigned to krishprakash

[2020-11-03 14:49] taihuuho commented on #25947
That’s interesting. I’ll let into it and get back to you.
Thanks for looking into this for me.

On Tue, Nov 3, 2020 at 8:28 AM Victor Petryk <notifications@github.com>
wrote:

[2020-11-03 15:06] ihor-sviziev commented on #23069
Adding back Severity label

[2020-11-03 15:13] ihor-sviziev commented on #26156
Assigned @mrtuvn as he created following PR https://github.com/magento/magento2-sample-data/pull/146

[2020-11-03 15:51] chiranjeevi-cj commented on #26156
@ihor-sviziev I have commented (https://github.com/magento/magento2/issues/26156#issuecomment-717192763). But no one responded that's why I worked on it and issued a PR. Anyway, thank you.

[2020-11-03 17:09] mrtuvn commented on #30753
I got  face this error one time. Usually come from theme customise
You should check etc/view.xml in your theme
May be you miss this variable
https://github.com/magento/magento2/blob/2.4-develop/app/design/frontend/Magento/blank/etc/view.xml#L67
Check link above and reference to your file

[2020-11-03 17:16] mrtuvn commented on #30753
Or maybe this is bug but no body notice or can reproduce exactly scenario
@primafair
If you updated to 2.4.1 you also need this patch
https://magento.com/tech-resources/download#tab-36
MC-38509 Create New Customer Account patch
You should update more details for easier can check problem. Such as do you use custom theme or not ? any customise modules 3rd-party

[2020-11-03 17:23] laura5101 commented on #27432
Is there any update on this? Or does anyone know of an alternative way to force Magento to create the correct URLs (even if it's a workaround?)
Laura

[2020-11-03 17:41] lunch22result commented on #5881
This tutorial may help you: https://magentip.com/how-to-fix-you-did-not-sign-in-correctly-or-your-account-is-temporarily-disabled-in-magento-2/
This error occurs due to Magento 2’s security system. Magento 2 will temporarily disable accounts that do not meet it’s password complexity requirements.

[2020-11-03 19:09] jtalel opened #30765 "Unable to upgrade from Magento 2.2.8 to Magento 2.3.x (msp/twofactorauth 3.1.2 requires endroid/qr-code)"
### Preconditions (*)

1. Magento 2.2.8 Open Source
2. PHP 7.1.33, PHP 7.2.34 and PHP 7.3.23 (tried with 3 different versions)
3. Composer 1.9.0
4. MySQL 5.7.31
5. Linux AMI (similar to Centos6)

### Steps to reproduce (*)

1. I Followed this guide: https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html
2. `composer require magento/product-community-edition=2.3.6 --no-update` (tried

[2020-11-03 19:16] engcom-Delta commented on #25744
Issue is not reproducible on 2.4-develop. Was checked on Chrome and Firefox browsers
**Manual testing scenario:**
- Navigate to Stores / Attributes / Product
- Add New Attribute
- Set a Label
- Visual Swatch as Catalog Input Type for Store Owner
- Select Add Swatch
- Click on Upload a file for Swatch
- :heavy_check_mark: Images are successfully uploaded
![image](https://user-images.githubuserconte

[2020-11-03 19:16] #25744 closed, assigned to engcom-Delta

[2020-11-03 19:56] robolmos opened #30766 "Increase supported/tested Elasticsearch to 7.7 or newer for CentOS/RHEL 8 compatibility?"
Please consider increasing the supported/tested version of Elasticsearch to 7.7 or newer for CentOS/RHEL 8 compatibility.

According to this the Elasticsearch support matrix CentOS/RHEL 8 compatibility started with version 7.7: https://www.elastic.co/support/matrix#matrix_os

Also, according to the support policy, 7.6.x minor version isn't maintained anymore: https://www.elastic.co/support/eol

[2020-11-03 20:11] magento-engcom-team commented on #30707
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38884` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-03 21:02] kensiummohit commented on #14409
I'm seeing this in 2.3.5-p2 while saving product in store view scope.

[2020-11-03 21:41] sidolov opened #30767 "test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-11-03 21:42] magento-engcom-team commented on #30767
:white_check_mark: Confirmed by @sidolov
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38889` were created

**Issue Available**: @sidolov, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-03 21:42] #30767 closed, assigned to sidolov

[2020-11-03 23:06] textarea commented on #30575
Clean install 2.4.1, php 7.3.23

![ezgif-4-ecb74d9b7e97](https://user-images.githubusercontent.com/1927403/98050185-6fa13a00-1e31-11eb-9f8c-4a3c98dcc1b7.gif)

[2020-11-03 23:15] Sharlyll opened #30768 "Magento 2.4.1 admin panel spinning continuously"
### Preconditions (*)

1. Exact Magento version 2.4.1
2. Server: Nginx
3. Php-fpm 7.4
4. Ubuntu 20

### Steps to reproduce (*)

1. Install Magento 2.4.1 following the official documentation.
2. Configure nginx using nginx.conf.sample from Magento docs.

### Expected result (*)

1. Access to admin panel
2. Magento loading properly.

### Actual result (*)

1. Frontend loads normally
2. Admin panel s

[2020-11-03 23:42] hostep commented on #30753
@primafair: you're probably using the `Magento_Catalog::category/image.phtml` in an xml file in your custom theme and it doesn't have the `images` as an argument.
This was changed in Magento 2.3.6 and 2.4.0 apparently.

So adjust your xml like it was done in https://github.com/magento/magento2/commit/6fc1e3cf00a028c55d89b9f6ac64d3e6e5679671#diff-e83ea1b571c022bdf3362f880222c12bf800ecbcbbeb6765b8f3

[2020-11-04 01:11] mrtuvn commented on #30753
seem a lot of customise theme will break after this

[2020-11-04 01:53] #27005 closed, assigned to nobody

[2020-11-04 02:16] xanka commented on #30760
@engcom-Bravo I think this function is wrong, This's simple example but in case have more many product attribute options and generated hundred  products. You suggest check each products price manual is BAD idea. I suggest add label for this issue is BUG.  Thanks

[2020-11-04 02:31] SalesFC opened #30769 "Buy 1 Get 1 Free Magent 2.3.5-p1"
### Preconditions (*)

1. Have 2.3.5-p1 Magento
2.

### Steps to reproduce (*)

1.  Create a rule for 'Buy 1 Get 1 free' (Buy X get Y free)
2.  No Coupon
3. Uses Per Customer : 5
4. Condition: To have 1 specific product to apply this promotion.
![Condition #1](https://user-images.githubusercontent.com/73920700/98062319-c25a1080-1e88-11eb-88e8-1fc6aeff6cf6.JPG)
![condition #2](https://user-images.g

[2020-11-04 04:25] Jeeva-Rathinam commented on #30744
@ihor-sviziev I am using Github Installation. May i know the guide version upgrade for GitHub installation?

[2020-11-04 04:28] franciscopaniskaseker commented on #30038
I tested and the version is not bugged. It was another problem. Thank you.

[2020-11-04 04:29] ihor-sviziev commented on #30575
Question - are you using composer 1.x or composer 2? Version 2 is not currently supported

[2020-11-04 04:41] tuyennn commented on #15115
@sarjangautam Same to me on EE 2.3.4 the problem was not fixed on this version at all.

[2020-11-04 05:28] ajijshekh123 commented on #30574
Hi @CJMacPhie,
If you have reproduced this issue again you can reopen this issue.
Thanks.

[2020-11-04 05:28] #30574 closed, assigned to ajijshekh123

[2020-11-04 05:35] krisdass commented on #30575
Hi Team,

I am facing this issue with vanilla installation
PHP Fatal error:  Declaration of Psr\Log\LoggerInterface\Proxy::emergency($message, array $context) must be compatible with Psr\Log\LoggerInterface::emergency($message, array $context = NULL) in /var/www/html/m241/generated/code/Psr/Log/LoggerInterface/Proxy.php on line 93

My environment:
OS : Linux Mint 18.2 Sonya
PHP: 7.4.11
Composer: 1

[2020-11-04 05:46] rav-redchamps opened #30770 "Duplicate customer addresses for orders created from admin"
### Preconditions (*)

1. Magneto version 2.4.1
2. **Not reproduced** on 2.4-develop Note: Release code 2.4.1 was already merged into 2.4-develop

### Steps to reproduce (*)

1. Go to storefront & create new customer account
2. Using this customer account place an order from storefront
3. Open the customer account and order in admin panel
4. Switch to "Addresses" tab  of customer account in admin

[2020-11-04 06:39] textarea commented on #30575
Hi @ihor-sviziev, I'm using Composer version 1.10.16

[2020-11-04 07:07] AlldoGroup commented on #30658
More issues...

When adding a product to a certain store view, it chooses the wrong category, namely the default category name, and not the store view name.

1. Adding a product, and choosing the store view for it:
![1](https://user-images.githubusercontent.com/57530884/98079462-1a3a4c80-1e74-11eb-8006-e0bc80da4557.jpg)

2.  The thought category name for the actual store view:
![2](https://user-im

[2020-11-04 07:10] ihor-sviziev commented on #30744
Hi @Jeeva-Rathinam,
The github installation should be used only for contribution some changes to magento core. In case of your own project you should use composer based installation. If you don't have any customizations - I would recommend you just do clean install of magento using composer and move your media, configs, etc to this new installation. DB should be just the same

[2020-11-04 08:14] ihor-sviziev commented on #30575
Interesting... I just tried to do the same on php 7.4 and php 7.3 - issue isn't reproducing for me.

Could someone who have this issue post those two files:
[code]

[2020-11-04 08:18] textarea commented on #30575
Hi @ihor-sviziev
here are mines
[Archive.zip](https://github.com/magento/magento2/files/5486401/Archive.zip)

[2020-11-04 08:22] ihor-sviziev commented on #30575
Interesting... files vendor/psr/log/Psr/Log/LoggerInterface.php are equal, but in your `generated/code/Psr/Log/LoggerInterface/Proxy.php` we have
[code]
while in my I have
[code]
Default value is not defined.

[2020-11-04 08:31] #30267 closed, assigned to nobody

[2020-11-04 08:36] Yonn-Trimoreau opened #30771 "Configurable price appear without tax when catalog prices are excluding tax"
Configurable "as low as" price does not include tax in catalog, search and product detail page when catalog prices are set to "excluding tax" and a default tax is configured.

### Preconditions (*)
1. Magento 2.3.6 (not reproduced on 2.4-develop)
2. A default tax configured (with Tax Rules + Sales > Tax > Default Tax Destination Calculation)
3. Sales > Tax > Catalog Prices ==> Excluding Tax
4. Sal

[2020-11-04 08:37] Yonn-Trimoreau commented on #30771
@magento give me 2.3-develop instance

[2020-11-04 08:42] stuartfranke commented on #3544
The issue is still present in 2.4.1 EE and CE

[2020-11-04 08:44] ianmote opened #30772 "Magento output reporting"
### Preconditions (*)

1.Hi I am trying to set up a link between Magento 2.3.2 and Online Excel using Automate.io , so that I can get live reporting each time a new order comes in. The excel would then self-populate and we can see a live update of all sales at any time without having to download directly from Magento (which is problematic)
2.
Automate.io have told me that this should be possible b

[2020-11-04 08:44] Yonn-Trimoreau commented on #30771
@magento give me 2.3-develop instance

[2020-11-04 08:46] adamphh opened #30773 "Miss item and total information in order (invoice, creditmemo) email when using email template"
### Preconditions (*)

Magento Community 2.3.5

### Steps to reproduce (*)

1. Go to back-end
2. Select menu "Marketing / Email Templates"
3. Create a new email template
4. Select "New Order" option in "Load Default Template" section and load it (https://prnt.sc/vd4zj8)
5. Save email template
6. Go to Configuration >> Sales >> Sales Emails (https://prnt.sc/vd50zw)
7. Select the email template abov

[2020-11-04 09:00] Yonn-Trimoreau commented on #30771
@magento give me 2.3-develop instance

[2020-11-04 09:08] krisdass commented on #30575
Even i have issue with this composer version as well

[2020-11-04 09:13] krisdass commented on #30575
PFA files for your reference, i am facing this in vanilla installation as well !

[files.zip](https://github.com/magento/magento2/files/5486721/files.zip)

[2020-11-04 09:20] DavaGordon commented on #29871
If you look in your composer for `magento/module-url-rewrite-import-export` and remove it this should resolve the issue with upgrading.

[2020-11-04 09:40] #30266 closed, assigned to nobody

[2020-11-04 10:16] gwharton commented on #30018
@sdzhepa @engcom-Oscar Could someone please reopen this issue. The merged commit that was reported to fix this issue does not fix the issue. It does within the unit test, but not in real life when all plugins and related dependencies are enabled. See above comments.

[2020-11-04 10:35] gabrieldagama commented on #30583
Hi @tope316 @ihor-sviziev

I've done some investigation on this, and will share my thoughts, feel free to correct me. I believe this is not an issue, the HttpOnly flag is set for specific cookies, like your PHP session and other cookies that are relevant just for the server and for security reasons cannot be accessed by JS running on your browser.

I believe the goal with that configuration is not

[2020-11-04 10:42] Hexmage opened #30775 "[GraphQl] Aggregations ignore attribute Position field."
### Preconditions (*)

1. 2.3.5p2

### Steps to reproduce (*)

1. Create a category and add a couple products with attributes with different values.
2. Set the position for a couple attributes to different values. (eg. Color = position 10, Size = position 30)
3. Do a GraphQl call requesting the aggregations to the products endpoint with the category as the filter.
[code]
4. Switch the positions of

[2020-11-04 10:43] Hexmage commented on #30775
@magento give me 2.4-develop instance

[2020-11-04 10:51] Hexmage commented on #30775
Still an issue in 2.4-develop

[2020-11-04 10:51] ihor-sviziev commented on #30575
@textarea @krisdass still don't have any valid idea.

I just looked that code actually generated from
https://github.com/magento/magento2/blob/170425c4ddf139ceda21288452ef06e0e464afa1/lib/internal/Magento/Framework/ObjectManager/Code/Generator/Proxy.php#L86 ->
https://github.com/magento/magento2/blob/170425c4ddf139ceda21288452ef06e0e464afa1/lib/internal/Magento/Framework/ObjectManager/Code/Generat

[2020-11-04 10:54] denvit commented on #10049
This works for me as well. Thanks for solution!

[2020-11-04 10:56] mohsinleads commented on #30759
i have already mention you that we have tried the composer 1x and i m getting this massege "Warning from https://repo.packagist.org: You are using an outdated version of Composer. Composer 2.0 is now available and you should upgrade."  To upgrade the composer. can you please let me know when the composer get updated or respository get updated with magento2 to support composer2x.

[2020-11-04 11:01] ihor-sviziev commented on #30759
@mohsinleads basically it's a warning, so it should still works fine for you.

[2020-11-04 11:04] textarea commented on #30575
@ihor-sviziev
magento full code in https://we.tl/t-I5WRn8yUvM, php -i info in attached phpinfo.txt and php version in attached phpversion.txt
[phpinfo.txt](https://github.com/magento/magento2/files/5487325/phpinfo.txt)
[phpversion.txt](https://github.com/magento/magento2/files/5487326/phpversion.txt)

[2020-11-04 11:19] Yonn-Trimoreau commented on #30771
@magento give me 2.3 instance

[2020-11-04 11:23] Yonn-Trimoreau commented on #30771
@magento give me 2.4-develop instance

[2020-11-04 11:27] ihor-sviziev commented on #30575
@textarea I see you have installed psr pecl extension. I believe it might causing such issues. Could you try to remove/disable it, remove all files from `generated/code/` folder and try again?

[2020-11-04 11:28] #30263 closed, assigned to nobody

[2020-11-04 11:29] zakdma commented on #30263
Internal ticket MC-36685 merged into mainline

[2020-11-04 11:30] #30513 closed, assigned to engcom-Kilo

[2020-11-04 11:31] #30261 closed, assigned to nobody

[2020-11-04 11:31] #28106 closed, assigned to nobody

[2020-11-04 11:31] #30461 closed, assigned to nobody

[2020-11-04 11:33] zakdma commented on #30461
Internal ticket MC-38413 merged into mainline

[2020-11-04 11:35] zakdma commented on #28106
Internal ticket MC-34156 merged into mainline

[2020-11-04 11:36] zakdma commented on #30261
Internal ticket MC-36768 merged into mainline

[2020-11-04 11:39] denchev commented on #30575
I have the same issue. I upgraded Magento via composer.json from 2.3.5-p2 to 2.4.1.
PHP version is: 7.3.20

If I manually modify the file (generated/code/Psr/Log/LoggerInterface/Proxy.php to has a default value of $context to NULL, then Magento starts working again.

Oddly I the exact same files are working fine when I use them on an instance with PHP 7.3.22 (with Docker container) but have the is

[2020-11-04 11:46] denchev commented on #30575
@ihor-sviziev I followed your advice and removed the PSR extension. It worked! I checked with my docker container and it doesn't have it installed. So it makes sense why it was working there but not on the environment without docker. I had the extension installed because I also have Phalcon based site on that machine too.
Thanks! ... now I have to remove Phalcon :D

[2020-11-04 11:54] engcom-Alfa commented on #30773
Hi @adammagestore .
Unfortunately, we are not able to reproduce this issue on 2.4.1, and fresh 2.4-develop.

**Manual testing scenario:**

1. Go to back-end
2. Go to "Marketing / Email Templates"
3. Create a new email template
4. Select "New Order" option in "Load Default Template" section and load it
5. Save email template
6. Go to Configuration >> Sales >> Sales Emails;
7. Select the email templ

[2020-11-04 11:54] #30773 closed, assigned to engcom-Alfa

[2020-11-04 11:58] textarea commented on #30575
@ihor-sviziev yes it works after psr pecl remove.
Also for me now phalcon has to be removed ;)
Thanks!

[2020-11-04 12:04] Pavel-Fekete commented on #15939
Still facing this issue on latest 2.4-develop

**Preconditions**

1. Magento 2.4-develop
2. Setup CRON
3. Change all indexes to "UPDATE BY SCHEDULE"
![Indexer](https://user-images.githubusercontent.com/67371013/98109150-c8121f00-1ea5-11eb-93a4-3c895c92d000.png)

**Steps to Rerpoduce:**

1. Select existing product in backend or create new
2. Click "Save & Duplicate"
3. Set the following attribute v

[2020-11-04 12:08] davidandersson1 commented on #30315
Hello,

Now I can confirm here, with all same setting as per my above question but just switched back to MySQL 5.7 and performed catalog_product_price reindex and it finished within 5-6 mins only with 2 store views.

So here real issue is MySQL latest version 8.0

Means Magento 2.4.0 + PHP 7.4 + MySQL 5.7 + nginx server performance is much better than MySQL 8.0

So if we keep MySQL latest version

[2020-11-04 12:31] ihor-sviziev commented on #30575
**For everyone who will have the same issue:**
please check if you have installed `psr` php extension (you could check it with `php -m`). In case if it's installed - please uninstall or disable it.

[2020-11-04 12:38] #30299 closed, assigned to nobody

[2020-11-04 13:08] tope316 commented on #30583
hi @gabrieldagama, thanks for your reply. If the setting of the HttpOnly flag is not an issue, does it mean the scan report is inaccurate?

[2020-11-04 13:25] apedicdev opened #30780 "Shipping-information endpoint returns error when DiscountData is specified in the body"
### Preconditions (*)

1. Reproduced on **2.4-develop**
2. Replicated on 2.3.5-p1 and 2.4.1

### Steps to reproduce (*)

1. `POST` request to `rest/default/V1/guest-carts/{cartId}/shipping-information`
Request body from `https://magento.redoc.ly/2.4.0-admin/tag/guest-cartscartIdshipping-information`
[code]

### Expected result (*)

Improved error handling, the API is supposed to warn the client th

[2020-11-04 13:29] hostep commented on #26499
@slavvka & @alena-marchenko: it looks like this fix wasn't included in Magento 2.3.6 which is pretty bad new. Is there a chance it will get included in 2.3.7?

I understand you don't want to backport the database migration script, but at least backport the fix to prevent new bad data to make it into the databases.

[2020-11-04 13:29] pusachev commented on #30575
Any Idea why we need remove extension instead fix code generated ?

[2020-11-04 13:33] ihor-sviziev commented on #30575
@pusachev I strongly believe this is the issue in the psr pecl extension. I'm going to report it soon to their issue tracker

[2020-11-04 13:48] krisdass commented on #30575
Hi @ihor-sviziev

PHP Version

PHP 7.4.11 (cli) (built: Oct 10 2020 19:44:32) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies
    with Zend OPcache v7.4.11, Copyright (c), by Zend Technologies
    with Xdebug v2.9.8, Copyright (c) 2002-2020, by Derick Rethans

PHP Info attached
[php_details.txt](https://github.com/magento/magento2/files/5488143/php_details.t

[2020-11-04 13:50] shikhamis11 commented on #30697
@magento give me 2.4-develop instance

[2020-11-04 13:58] krisdante commented on #20147
Why this ticket is closed?
There is still no redirection. The default shop is loaded, but the URL stays old.

[2020-11-04 14:00] ihor-sviziev commented on #30575
Hi @krisdass,
Please review my comment https://github.com/magento/magento2/issues/30575#issuecomment-721704953, seems like you just need to remove psr php extension.

[2020-11-04 14:03] hostep commented on #30513
This probably got closed because the fix is in the `2.4-develop` branch by now. Here's the commit: https://github.com/magento/magento2/commit/76b9492952301f7f4a7b888bac9cdc16d2568d9c

[2020-11-04 14:14] engcom-Bravo commented on #30658
@AlldoGroup We have reproduced the reported issue and added Additional info to the description

As for the previously mentioned quote :arrow_down:
_More issues...
When adding a product to a certain store view, it chooses the wrong category, namely the default category name, and not the store view name._

You may report a separate issue for that

Thank you

[2020-11-04 14:14] rhoerr commented on #28161
Follow up: The same underlying validation error prevents Purchase Order (and any other payment methods with `global` field validation or otherwise extending `\Magento\Payment\Model\Method\AbstractMethod::validate()`) from working for the Cart Price Rule "Payment Method" condition. I believe that condition (added somewhere in 2.3) is what the AJAX call and mixin causing all of this was added for in

[2020-11-04 14:18] magento-engcom-team commented on #30658
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38897` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-04 14:25] krisdass commented on #30575
Hi @ihor-sviziev,
Actually i need to run code scanning with magento2 PSR standards. I use codesniffer and code beautifier cbf to do this.
For this PSR module is required i think.

Let me try and update you.

[2020-11-04 14:28] engcom-Delta commented on #12074
Hi @josephmcdermott I rechecked issue and it is not reproducible on latest 2.4-develop
**Manual testing scenario:**
_Case 1:_
- Create bundle product with dynamic price and two dropdown options
![#12074BunleDynamic1](https://user-images.githubusercontent.com/51681379/98122125-d4ec3e00-1eb8-11eb-8b93-6b61fca3aa9e.png)
![#12074BundleDynamic2](https://user-images.githubusercontent.com/51681379/981221

[2020-11-04 14:28] #12074 closed, assigned to engcom-Delta

[2020-11-04 14:30] Yonn-Trimoreau commented on #30771
Reproduced on 2.3.6, but not reproduced on 2.4-develop.

Can you point to a specific commit that fixes the issue on 2.4-develop so that I can apply a manual patch?

[2020-11-04 14:34] m2-assistant[bot] opened #30781 "[Issue] Replace 'static::' with 'self::' when accessing private const."
This issue is automatically created based on existing pull request: magento/magento2#30774: Replace 'static::' with 'self::' when accessing private const.

---------
# Description
Magento 2.4 -develop

This PR prevents 'Undefined class constant' error if a plugin will be added for one of these classes. Example:

### Related Pull Requests
https://github.com/magento/magento2/pull/28797
https://githu

[2020-11-04 14:35] sidolov commented on #26433
Hi @qsolutions-pl , it's a known behavior of the configuration merge process, arguments defined in the “initial” config file, app/etc/di.xml (see https://devdocs.magento.com/guides/v2.4/extension-dev-guide/build/di-xml-file.html ) are overridden by the arguments defined on the module level. The common solution in this case is to duplicate original arguments and add the new ones.

We had discussion

[2020-11-04 15:01] m2-assistant[bot] opened #30782 "[Issue] [MFTF] Added AdminClickGetShippingMethodsAndRatesActionGroup and AdminSelectFixedShippingMethodActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#30779: [MFTF] Added AdminClickGetShippingMethodsAndRatesActionGroup and AdminSelectFixedShippingMethodActionGroup

---------
This PR provides `AdminSelectFixedShippingMethodActionGroup` `AdminClickGetShippingMethodsAndRatesActionGroup`

[2020-11-04 15:02] m2-assistant[bot] opened #30783 "[Issue] [MFTF] Add AdminOpenCurrencyRatesPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#30777: [MFTF] Add AdminOpenCurrencyRatesPageActionGroup

---------
This PR provides new `AdminOpenCurrencyRatesPageActionGroup`

[2020-11-04 15:02] m2-assistant[bot] opened #30784 "[Issue] [MFTF] Add AssertStorefrontCartDiscountActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#30776: [MFTF] Add AssertStorefrontCartDiscountActionGroup

---------
This PR provided new `AssertStorefrontCartDiscountActionGroup`

[2020-11-04 15:05] m2-assistant[bot] opened #30785 "[Issue] Pass string value to PHP functions which expect a string parameter."
This issue is automatically created based on existing pull request: magento/magento2#30764: Pass string value to PHP functions which expect a string parameter.

---------
### Description (*)

Helps prepare file for `declare(strict_types=1);`.

When the source for a `Magento\Eav\Model\Entity\Attribute\Source\Boolean` attribute was being processed, the following would occur if strict_types was turne

[2020-11-04 15:06] gabrieldagama commented on #30583
@tope316 I can't say if it is accurate or not, but my thoughts are described above, that is why I asked if you had https enabled on the whole website when the tests were run, because one of the solutions for the problem is to have the security flag on those cookies.

[2020-11-04 15:06] m2-assistant[bot] opened #30786 "[Issue] update return value for suggest qty as per stockstateprovider"
This issue is automatically created based on existing pull request: magento/magento2#30737: update return value for suggest qty as per stockstateprovider

---------

Its update returns suggested qty that satisfies qty increments/minQty/maxQty/minSaleQty/maxSaleQty else returns original qty that should be either int or float value as per stockstateprovider interface.

### Description (*)

There's r

[2020-11-04 15:11] JMLucas96 commented on #5305
Same issue on backend in magento 2.1.8, any fix?

[2020-11-04 15:12] m2-assistant[bot] opened #30787 "[Issue] Developer Experience: Make `getAdditionalConfig` extensible"
This issue is automatically created based on existing pull request: magento/magento2#30718: Developer Experience: Make `getAdditionalConfig` extensible

---------
### Description (*)

**For 2.5 branch**

Currently when you need to add some extra data to Configurable Swatches, you need either:
- Inherit class and add your custom elements
- Plugin end decode the data before adding your

Example from

[2020-11-04 15:16] shikhamis11 commented on #30652
Hi @nbrouka

try adding option id value in string format in product mutation like
if the option title is `value1` and its id is `1` then the mutation should be like

[code]

[2020-11-04 15:17] m2-assistant[bot] opened #30788 "[Issue] Avoid binding magnifier events in duplicate on resize"
This issue is automatically created based on existing pull request: magento/magento2#30695: Avoid binding magnifier events in duplicate on resize

---------
### Description
A browser resize event will trigger the magnifier to be re-initialised. This includes binding a fresh set of event listeners to the image so that the magnifier will show as expected (on click or hover). However, there is no mec

[2020-11-04 15:19] tope316 commented on #30583
@gabrieldagama - yes the entire site is using https.

[2020-11-04 15:22] magento-engcom-team commented on #30770
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38898` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-04 15:24] ihor-sviziev commented on #30575
@krisdass I think it shouldn't be required, but definitely let us know if it is

[2020-11-04 15:39] textarea commented on #27889
Closing this issue because it has been fixed in 2.4.0 release

[2020-11-04 15:39] #27889 closed, assigned to nobody

[2020-11-04 15:51] hostep commented on #30575
@ihor-sviziev : since this was reported by many people, I think we need to do something properly about this.

Could we maybe add the following to the `composer.json` file?

[code]

[2020-11-04 15:52] mozok commented on #26840
Hi all.
I've tried to rework patch https://github.com/magento/magento2/commit/231ba74c725a4e7d4171b2735f7eb2808a5f4c98 for M2.2.1. And all is working, except for fixing error (

Try to pay with Payflow Pro In Admin.
Admin Session breaks before new Redirect Controller is executed.
- paypal/transparent/requestSecureToken - executes Ok.
admin cookie is 88c7689aab298e51feb0cadd9c6cffd0
- next request

[2020-11-04 15:52] qsolutions-pl commented on #26433
@sidolov the same issue is when you add configuration in webapi, I've checked all scenarios

[2020-11-04 15:53] ihor-sviziev commented on #30575
@hostep good point, but I hope it will be fixed on the php extension side soon, so it will not be correct. Let's wait at least for some response.

[2020-11-04 15:57] Pavel-Fekete commented on #30658
Also reproducible on the latest 2.4-develop

[2020-11-04 16:07] denchev commented on #30575
@ihor-sviziev Even if it is fixed on the extension level, there will be instances that could not/will not upgrade that easily. Could we at least update documentation (https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements-tech.html) and add another note that "specific version XX.XX of extension PSR can caused issue"?

[2020-11-04 16:30] kamzata commented on #12885
The issue is still present. My store has only configurable products which contain downloadable products and the link is not sent in the confirmation email.

[2020-11-04 16:32] redati opened #30791 "error in the documentation of L2 caching in the Magento application"
### Summary (*)
there is an error in the syntax of the configuration informed in the documentation. It doesn't work.

Warning: substr() expects parameter 1 to be string, object given in /usr/share/nginx/decora/decora_n/vendor/colinmollenhour/cache-backend-redis/Cm/Cache/Backend/Redis.php on line 1248

Link: https://devdocs.magento.com/guides/v2.4/config-guide/cache/two-level-cache.html

### Exampl

[2020-11-04 16:50] #24199 closed, assigned to nobody

[2020-11-04 17:23] sdzhepa commented on #24199
The related internal Jira ticket `MC-23985` was closed as `non-reproducible` in ``2.4-develop``.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop` please c

[2020-11-04 17:29] Axel29 opened #30794 "Reset password email sent from wrong store"
### Preconditions (*)

1. Magento >= 2.3.4 (tested on Magento 2.3.4)

### Steps to reproduce (*)

1. Login to Magento Backend
2. Go to **Stores > All Stores** and create a new website and a new store associated to that website
3. Go to **Stores > Configuration > General > Web** and use a different domain for the new website
4. Go to **Stores > Configuration > General > General > Locale Options** a

[2020-11-04 18:08] gpurdy-salsify opened #30795 "Product being uploaded with "Invalid Stock data for insert" error even though it has been successfully uploaded before"
### Preconditions (*)

1. Magento Version is 2.3.5-p1
2. Error is showing on the import screen

### Steps to reproduce (*)

1. Import done using the following csv file: http://images.salsify.com/raw/upload/s--zwoNRFGQ--/gzjzd1w4pecf7mwizjdw.csv
2. Navigate to System> Imports
3. Select Entity Type: Products, Import Behaviour: Add/Update, Validation Strategy: Skip error entries, Multiple value Separ

[2020-11-04 18:12] heneral opened #30796 "having issue on contact form"
when i add block on the raw html

here the result
![image](https://user-images.githubusercontent.com/10393507/98152197-47d2d480-1f0c-11eb-8903-8cfb5c1a727c.png)

can you help me to fix this

thanks

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---

[2020-11-04 18:17] magento-engcom-team commented on #30767
The related internal Jira ticket `MC-5583` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop` please crea

[2020-11-04 18:22] sdzhepa commented on #30767
The related internal Jira ticket `MC-5583` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop` please crea

[2020-11-04 18:23] sdzhepa commented on #30266
The related internal Jira ticket `MC-36512` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop` please cre

[2020-11-04 18:23] sdzhepa commented on #30299
The related internal Jira ticket `MC-29723` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop` please cre

[2020-11-04 18:23] sdzhepa commented on #30267
The related internal Jira ticket `MC-36465` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop` please cre

[2020-11-04 18:23] sdzhepa commented on #23640
The related internal Jira ticket `MC-23858` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop` please cre

[2020-11-04 18:23] sdzhepa commented on #30305
The related internal Jira ticket `MC-23461` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop` please cre

[2020-11-04 18:23] sdzhepa commented on #27233
The related internal Jira ticket `MC-35965` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop` please cre

[2020-11-04 18:23] sdzhepa commented on #23588
The related internal Jira ticket `MC-23813` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop` please cre

[2020-11-04 18:23] sdzhepa commented on #28255
The related internal Jira ticket `MC-37231` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop` please cre

[2020-11-04 18:23] sdzhepa commented on #28544
The related internal Jira ticket `MC-35010` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop` please cre

[2020-11-04 18:23] sdzhepa commented on #30308
The related internal Jira ticket `MC-5583` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop` please crea

[2020-11-04 18:47] matutetandil commented on #26815
Same here... I'm on localhost, not secure connection (If I add 'ssl' => 'true', it doesn't connect to the queue. The weird thing is that only fails when there is something to log in the console. If there is nothing to log, then works great.

[2020-11-04 19:24] WinstonN commented on #14881
Anyone reading this, don't tick the box "Fields enclosure" - leave that unchecked. In my tests, when checking that box, importing additional_attributes would not work

[2020-11-04 19:32] 45lailson opened #30797 "Internal Error. Details are available in Magento log file. Report ID: webapi-5fa2fddf4008f""
### Preconditions (*)

### Steps to reproduce (*)

1.Adicionar item ao carrinho
2. Navegue para verificar
3. Coloquei o Metodo de Entrega
4. Metodo de Pagamento com Cartão
5. Finalizei a Compra
6. Aparace o Erro Internal Error. Details are available in Magento log file. Report ID: webapi-5fa2fddf4008f"
![magento](https://user-images.githubusercontent.com/49048949/98159021-a1aaae80-1eba-11eb-846d-9

[2020-11-04 19:53] jakwinkler opened #30798 "Plugin on Indexer method getSearchableProducts might cause products not to be indexed."
I've got really critical issue on one of our projects that was caused by custom extension. Investigation of this issue was really hard and not obvious at all and was not clear what caused this issue and how to fix that quickly on production.

In order to prevent similar situations in future by anyone else I'd like to suggest introducing mechanism of preventing breaking the indexation mechanism by

[2020-11-04 20:31] cdbessig commented on #28614
@magenx I tried your nginx rules, but we were getting kicked back during the checkout process to the cart page when trying "real" test orders.  So we had to revert.

I saw in your repo you had added them.  I'm wondering if there were any material changes that helped from this ticket.  I've added:

`limit_req_zone $cartId  zone=cartid:35m rate=10r/m;`

[code]

Did I miss something?

[2020-11-04 21:09] magento-engcom-team commented on #30608
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38837` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-04 21:18] magento-engcom-team commented on #30608
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38837` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-04 21:23] #30608 closed, assigned to nobody

[2020-11-04 22:04] fedekrum commented on #30645
Yes, there is. Erase the queue and problem solved.

[2020-11-05 04:31] krisdass commented on #30575
Hi @ihor-sviziev,
I was able to set the project and run commands after disabling php psr module.
I will check & update about codesiffer & code beautifier tool output !

Thanks @ihor-sviziev

[2020-11-05 04:37] floorz commented on #30780
@apedicdev I started typing out a really long investigative message for what I've discovered about this issue, but might have found the cause and solution. You don't happen to use Avalara for tax / address validation do you?

Check this out: https://github.com/avadev/Avalara-AvaTax-for-Magento2/releases/tag/2.1.9

![image](https://user-images.githubusercontent.com/4982916/98194417-9b2d2e80-1edc-11

[2020-11-05 05:23] subineseller commented on #30745
Hello,
can any one help me to solve this..??

[2020-11-05 05:28] ajijshekh123 commented on #30768
@magento give me 2.4-develop instance

[2020-11-05 05:29] krishprakash commented on #30796
Hi @heneral. Thank you for your report.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2020-11-05 05:29] #30796 closed, assigned to krishprakash

[2020-11-05 06:15] mohsinleads commented on #30759
If Composer 1x works fine for me then i will not post issue here. (its a basic sense). after getting the warning massege composer1x stop working even when I am try to run composer update command. same warning massege showing and stop working!!!

[2020-11-05 06:18] ajijshekh123 commented on #30768
Hi @Sharlyll,
I have verified this issue in Windows 10 and Chrome browser.
After login with credentials in Dashboard, It is showing properly.
**See attached the video:**
![Magento Admin](https://user-images.githubusercontent.com/24711761/98204815-c22b4500-1f5c-11eb-98f3-41383a88587f.gif)

@Sharlyll - It may be some installation issue on your system or any other configuration is pending from your e

[2020-11-05 06:18] mohsinleads commented on #30759
once i have get that massege. i have upgrade composer version by paying extra money. so now please tell me when magento 2 repo.. will support composer2x so that i can update my mg2 version to 2.4.1

[2020-11-05 06:58] Sharlyll commented on #30768
Hi,

Thanks. I finally figured out the issue. you  are correct. this content security policy caused the issues:

`add_header Content-Security-Policy "default-src 'self' http: https: data: blob: 'unsafe-inline'" always;`

I had it in my site-available config.
is there a way to have this on my Configurations while whitelisting my website?

Thanks for your help.

[2020-11-05 07:03] ajijshekh123 commented on #30768
Hi @Sharlyll,
I don't know but Let me discuss with my team and update you soon.
Thanks.

[2020-11-05 07:05] Sharlyll commented on #30768
Thanks a lot. I appreciate.

[2020-11-05 07:09] engcom-Delta commented on #30725
Hi @Eddcapone thank you for your report, issue is not reproducible by provided steps on EE 2.4-develop.
![image](https://user-images.githubusercontent.com/51681379/98208721-71105680-1f46-11eb-8599-beb591f415d6.png)

Please update issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines), add steps and details that helps to reproduce th

[2020-11-05 07:18] ihor-sviziev commented on #30759
Hi @mohsinleads,
Sorry, unfortunately I didn't get you, not sure to whom you paid some money and for what.
I'm here to help you to resolve your issue. I'm not getting money for that.

Could you execute following steps?
1. downgrade to composer 1
2. run `composer clear-cache`
3. remove all files in the ./vendor/ directory
4. Run `composer install -vvv`. In case if it will fail - please put here out

[2020-11-05 07:27] magento-engcom-team commented on #30575
:white_check_mark: Confirmed by @ihor-sviziev
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38918` were created

**Issue Available**: @ihor-sviziev, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-05 07:28] ihor-sviziev commented on #30575
I created PR for updating docs in order to highlight that `psr` php extension might cause such issues.
https://github.com/magento/devdocs/pull/8185

[2020-11-05 08:25] sodhancha commented on #25862
@engcom-Charlie what is the timeline for this release ?

[2020-11-05 08:41] AlldoGroup commented on #30658
Okey I will, I thought it was related to this issue.
Thank you,

[2020-11-05 09:16] engcom-Oscar commented on #23069
Hi @EyalAmir !
I couldn't reproduce this issue on latest 2.4-develop code, could you please recheck it?

[2020-11-05 09:55] #13153 closed, assigned to nobody

[2020-11-05 09:57] ajijshekh123 commented on #30768
Hi @Sharlyll,
I have discussed with my development team, He updated me below comment:
There is no configuration for extra headers. but there is a plugin to set extra header.
See the solution link:
https://magento.stackexchange.com/questions/287239/how-to-enable-cors-to-access-magento-rest-apis-magento2

Let me know if you any other help needed.
Thanks.

[2020-11-05 10:30] Munktells opened #30801 "Adding simple products to a certain store view picks wrong category name (default) instead of store view category name"
When adding a product to a certain store view under "Product in Websites", it chooses the wrong category name, namely the default category name, and not the store view category name. Note that this is not true for all category names, the product is added to, just one for some reason, when the product exists in several categories.

### Preconditions (*)

1. Install latest Magento and set up two or

[2020-11-05 10:39] mohsinleads commented on #30759
I have tried your method and try to update mg2.4 to 2.4.1 but still its giving warning and stop working
**"Warning from https://repo.packagist.org: You are using an outdated version of Composer. Composer 2.0 is now available and you should upgrade."**

[2020-11-05 10:41] Eddcapone commented on #30725
As I said, I dont know how to reproduce it. I just report the bug that happend and showed my solution.

[2020-11-05 10:44] ihor-sviziev commented on #30759
I don't think this is all the output from `composer install -vvv`. Could you provide it?

[2020-11-05 10:55] stevenculshaw commented on #29964
Hi,

Firstly thanks for all of this, it's a problem that's been driving me nuts.

Is there an easy workaround or easy way to clear the issue on 2.4.0?

I've been monitoring the php error log and then reindexing/flushing which seems to make it go away until next time, which could be an hour but it's getting more frequent.

Any help much appreciated.

[2020-11-05 10:58] gwharton commented on #29964
@stevenculshaw Have you tried applying the patch listed in comment https://github.com/magento/magento2/issues/29964#issuecomment-717546823

I have been running with that patch on 2.4.1 with no problems. I don't know if it will apply cleanly on 2.4.0, but theres only one way to find out!

[2020-11-05 11:02] stevenculshaw commented on #29964
Yeah tried applying to 2.4.0 and just got a mash of errors so must be dependent on something else in 2.4.1.

Guess the route is update to 2.4.1 and then try patching the code in from 2.4.2 again.

I just wondered if there was anything anyone had found to help with the symptoms while I work out how to do that on the busiest shopping weekend of the year.

[2020-11-05 11:09] #30489 closed, assigned to nobody

[2020-11-05 11:10] stevenculshaw commented on #29964
someone mentioned disabling module-csp, is that a really bad idea?

[2020-11-05 11:13] zakdma commented on #30489
According to conversation with PO it is expected behaviour. If you cancel order coupon became available again. Reorder is the sequence of **cancel order** and **create new order** operations. So **cancel order** operation make coupon active again. Then you can reuse it in create new order.

[2020-11-05 11:24] #30271 closed, assigned to engcom-Kilo

[2020-11-05 11:26] gwharton commented on #29964
not at all. unless you have configured it otherwise, CSP only runs in report only mode, so it doesn't provide ANY extra security unless you set it up to. So if you havent configured any additional policies for your site, or changed it to enforcing, then the only thing it is giving you is the crashed. Go ahead and disable it. You won't see any negative effects from disabling it.

I did check that p

[2020-11-05 11:48] stevenculshaw commented on #29964
Thanks for that clarification Graham, much appreciated, will give it a go

[2020-11-05 11:48] chiranjeevi-cj commented on #30752
@magento give me 2.4-develop instance

[2020-11-05 12:06] chiranjeevi-cj commented on #30752
@gabrieldagama  @klein0r @sdzhepa @magento-engcom-team @engcom-Alfa
Is this issue produced in 2.4-develop. I tried it in my local I'm not getting that error
![Screenshot from 2020-11-05 17-34-15](https://user-images.githubusercontent.com/52098385/98238985-40074480-1f8d-11eb-8e45-fd764e15c7b7.png)

[2020-11-05 12:13] ihor-sviziev commented on #30791
Hi @redati,
This issue should be reported to the https://github.com/magento/devdocs repo.

@sidolov @gabrieldagama could you move this issue to devdocs repo?

[2020-11-05 12:19] Jeeva-Rathinam commented on #30744
For the last 6 months, our website running, around 500 ordered placed, 2000 customer registered and so many customizations done.  Shall we continue this kind of Magento, what are all the issue will face in the future, what about version upgrade? Thank you

[2020-11-05 12:25] ihor-sviziev commented on #30744
@Jeeva-Rathinam basically if you'll install the same magento version as you had on github installation - you'll have the same code. The issue with github installation - it also contains not released changes that potentially could cause some issues for your website.
I would strongly recommend you to switch to the composer based installation for production in order to have stable project. But please

[2020-11-05 12:31] magento-engcom-team commented on #30788
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38922` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-05 12:43] Sharlyll commented on #30768
Hi,
Thanks for the resource. You are the best!

[2020-11-05 12:44] engcom-Delta commented on #30757
Hi @thinksys-dev thank you for your report. Please update ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines), add additional steps, screenshots that helps to reproduce issue

[2020-11-05 12:44] Sharlyll commented on #30768
I will close this thread now, given that it has been resolved.

Thanks @ajijshekh123 . I appreciate.

[2020-11-05 12:45] engcom-Bravo commented on #30543
Hello @Hexmage

Thank you for your report.

We have tried to reproduce the issue using the steps provided in the description and seems that it already fixed on the latest 2.4-develop.

**Preconditions**
Magento 2.4-develop

**Steps to reproduce:**

1. Create an order through the admin panel
2. As the billing address use "Add New Address"
3. As the shipping address set "Same As Billing Address"
![N

[2020-11-05 12:45] #30543 closed, assigned to krishprakash

[2020-11-05 12:46] ajijshekh123 commented on #30768
Okay @Sharlyll

[2020-11-05 12:46] #30768 closed, assigned to nobody

[2020-11-05 12:52] gabrieldagama commented on #26433
Hi @qsolutions-pl,

I believe the problem is related to the stages where the arguments are defined, as described on the DevDocs (https://devdocs.magento.com/guides/v2.4/extension-dev-guide/build/di-xml-file.html#areas-and-application-entry-points), we have three stages, if you define arguments on a higher stage (the stage that is loaded later), it will overwrite the stages defined on the lower sta

[2020-11-05 13:03] ilnytskyi commented on #3634
Seems like the column `shipment_status` is not in use;
And only mentioned in tests and here
[code]

[code]

In 2020 it looks like it's not in use after `Temando\Shipping` was removed from the core.
May be it's ok to use it in own modules to customize the shipment flow.

[2020-11-05 13:08] #26443 closed, assigned to nobody

[2020-11-05 13:18] engcom-Delta commented on #28051
Hi @navarr thank you for your report. Seems like result described in Actual result is not issue, but it is expected result
**Manual testing scenario:**

- Create tax rate for PA state  to 6% and add it to tax rule
![image](https://user-images.githubusercontent.com/51681379/98243433-9c129e80-1f76-11eb-8964-04d011c5426d.png)

- Customer "John Doe" with address:
- - 525 N Allen St
- - State College,

[2020-11-05 13:21] kin-allan commented on #26031
Hey, I know it has been a long time for this post. But I was facing the same issue and realize the issue was that the **attribute_set_id** for the **catalog_product_entity** was incorrect set up. Due a mistake on my script I was insertin with the attribute_set_id as 0, instead 4.
You can check the why the issue happens here:
`\vendor\magento\module-catalog\Ui\DataProvider\Product\Form\Modifier\Eav

[2020-11-05 13:34] Emanuel-23 opened #30802 "Bundle product: incorrect child item invoice_qty when dynamic price is set to false"
### Preconditions (*)

1. Fresh Magento 2.3.5 or 2.3.6 Open Source (also reproducible on 2.4-develop) with at least 2 simple products that are in stock (optionally: demo content)
2. Access to database tables  (we want so look into the table `sales_order_item`)

### Steps to reproduce (*)

1. Create a new bundle product via Magento 2 administration
1.1. Change "Dynamic Pricing" setting to false
1.2

[2020-11-05 13:40] fabrice-dresscodes commented on #25608
Hello,

With admin user with french package, I get the problem on 2.3.3

        "mageplaza/magento-2-french-language-pack": "dev-master"

It might be an issue with an "accent" :)

No need to correct for now!

[2020-11-05 13:46] magento-engcom-team commented on #30781
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38923` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-05 13:57] navarr commented on #28051
@engcom-Delta: The expectation is that the original price includes the bundle options, the original price being the price the product was before/without a custom price set on it.

So instead of expecting a tax of $3.66, the expectation would be a tax of $5.34

[2020-11-05 13:59] magento-engcom-team commented on #30780
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38924` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-05 14:06] thinksys-dev commented on #30757
HI Team,
I have updated the suggested guidelines on Ticket. Please have a look.

On Thu, Nov 5, 2020, 6:14 PM Vasyl Shvorak <notifications@github.com> wrote:

[2020-11-05 14:26] engcom-Bravo commented on #30645
https://github.com/magento/magento2/pull/30727

[2020-11-05 14:26] ahsan-horani-reviver commented on #30204
@OvalMedia - Have you found any solution?

[2020-11-05 14:28] OvalMedia commented on #30204
I have not. I filed this under "Magento/Adobe does not give an F".

[2020-11-05 14:38] engcom-Delta commented on #30795
Hi @gpurdy-salsify
Could you provide additional information about how product was created or what product configuration you expect to see after import? Seems like it is connected with value for stock attributes in your file

[2020-11-05 14:38] josiahglassone commented on #30194
I am also getting this same error. Magento 2.4.0, Elasticsearch 7.

[2020-11-05 14:45] nathanjosiah commented on #29964
For what it's worth, @gwharton your patch contains much more than the changes I mentioned above in https://github.com/magento/magento2/issues/29964#issuecomment-717519172 which is probably why it isn't applying cleanly for @stevenculshaw

[2020-11-05 14:48] mauragcyrus commented on #30176
Not straight forward or a high priority issue, the PWA team currently has a work around.

[2020-11-05 14:50] Morgy93 commented on #29964
Yes, the patch contains much more than @nathanjosiah mentioned and I was a little confused about it, but I'd like to quickly confirm that the patch works wunderfully on 2.4.1
The production server currently is below 6 GB of RAM for hours (using Redis) and I can browse around as much as I like (not mentioning all the other bots and users doing stuff 😁 )

Finally fixed, thanks all! :clap:

[2020-11-05 14:51] gwharton commented on #29964
@nathanjosiah As far as I can see, everything in the patch I listed (which was the whole commit by the core team) is needed to support the few lines you posted in your comment. It adds support for the merger that is in your comment.

[2020-11-05 14:54] stevenculshaw commented on #29964
Hey all, temporarily disabling the csp module has provided valuable breathing-space, not a single error logged since. I've made a scratch copy of the site and later I will try the patch again on that and see what happens. Thanks all for your help!

[2020-11-05 15:05] sdzhepa commented on #30770
Probably was fixed in https://github.com/magento/magento2/search?q=MC-38113&type=commits

@engcom-Alfa  could you please double-check

[2020-11-05 15:22] abhishekc3 opened #30804 "Magento 2.3.5 Csp Issue"
**Preconditions (*)**
1. Magento CE/EE 2.3.5 without Sample Data (composer installation)
2. Nginx 1.10.3 (PHP 7.3.21).
3. Default Nginx config used (nginx.conf.sample).

**Steps to reproduce (*)**
1. Navigate to URL: Click a form in home page.

**Expected result (*)**
1. Form Url should open.

**Actual result (*)**
1. Error - 502 Bad Gateway.

![image](https://user-images.githubusercontent.com/740

[2020-11-05 15:31] ihor-sviziev commented on #30575
Ok... we got responce from the author of `psr` extension, seems like PHP 7 API isn't supporting default values, so it can't be fixed for php 7.3 and php 7.4, but could be fixed for php 8.0, and it will be done in https://github.com/jbboehr/php-psr/pull/79.

So currently we have two options:
1. ✔ Add docs for not using `psr` php extension with Magento 2 to the docs - I already did in https://github

[2020-11-05 15:38] #23736 closed, assigned to nobody

[2020-11-05 15:42] victortodoran opened #30805 "\Magento\CheckoutAgreements\Model\Agreement eventPrefix property is not set."
### Summary (*)
\Magento\CheckoutAgreements\Model\Agreement eventPrefix property is not set with model specific property
This means developers can not observer saveBefore|After events for this specific entity

### Examples (*)
see \Magento\CheckoutAgreements\Model\Agreement::afterSave() method

### Proposed solution
set the eventPrefix property in the class declaration or constructor with a value

[2020-11-05 17:00] jakwinkler opened #30808 "Magento ignores defined email template type in outgoing emails"
### Preconditions (*)

1. Magento 2.3.5
2. Create a new email template as text/plain

### Steps to reproduce (*)

1. Create new email template `type="text"`
2. Create a new module with CLI method  to send that email template
3. Send out template

### Expected result (*)

1. Email Content Type should be `text/plain`

### Actual result (*)

1. Email content type is ALWAYS `text/html`

![image](https

[2020-11-05 17:08] klein0r commented on #30752
I have no idea how you've managed that. 😄
The issue exists and @engcom-Alfa confirmed it.

Please check the source code. It is impossible that the current code can work...

[2020-11-05 17:19] sdzhepa commented on #24184
Closed by mistake
Reopen

[2020-11-05 17:19] magento-engcom-team commented on #24184
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38931` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-05 17:25] sdzhepa commented on #23736
The related internal Jira ticket `MC-18255, MC-23842` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop`

[2020-11-05 17:26] pmonosolo commented on #28614
I think you might need to add burst and delay to this (only works on newer versions of NGINX).

Burst allows multiple requests to succeed before throttling.

location ~ /rest/default/V1/guest-carts/(?<cartId>.+)/payment-information {
 	if ($cookie_form_key = "") { return 403; }
 	limit_req zone=cartid burst=5 delay=5;
 	limit_req_status 429;
 	try_files $uri $uri/ /index.php$is_args$args;
 	error_

[2020-11-05 17:39] gabrieldagama commented on #22761
The change was done more than a year ago and introducing other changes now may cause other backwards-incompatible changes.

[2020-11-05 17:39] #22761 closed, assigned to nobody

[2020-11-05 17:59] gabrieldagama commented on #22036
We are sorry that you faced a backwards-incompatible change since that was released some time ago, any action now would create other problems. Closing this issue as there is not a real fix for it.

[2020-11-05 17:59] #22036 closed, assigned to nobody

[2020-11-05 18:22] magenx commented on #28614
@pmonosolo you don't need to push more than one request to payment-information, as you set payment only once, in some cases two is max, but for human you dont push in per second,
 any subsequent requests are bad. first one looks correct behavior..

[2020-11-05 18:52] tadhgbowe opened #30809 "Cannot select existing simple products for a new configurable product"
I am creating a new Configurable product via the Admin Panel (based on color). My simple products (children) already exist via a product import. When I click on "Edit Configurations" it takes me down the path of creating new simple variations. I don't want to do this. I simply want to select the existing products.

Interestingly if I go ahead and generate some simple variations via the "Edit Confi

[2020-11-05 19:06] qsolutions-pl commented on #30808
This was fixed in 2.3.6 but fix was not ported to ealier versions.

[2020-11-05 19:06] #30808 closed, assigned to nobody

[2020-11-05 19:07] qsolutions-pl commented on #30808
Closing the issue there is no point in discussion anymore.

[2020-11-05 19:12] pmonosolo commented on #28614
Thanks.

BTW carding continues with Guest Checkout turned off. They just created a user and tested again today.

The URL they are using to spam is:
POST /rest/default/V1/carts/mine/payment-information HTTP/1.1

[2020-11-05 19:14] pmonosolo commented on #28614
When I was testing your solution with siege sometimes the first request would be rejected. I dont know why that was happening. As soon as I added burst it allowed for the first transaction to go through.

[2020-11-05 19:16] magento-engcom-team commented on #30809
:white_check_mark: Confirmed by @sivaschenko
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38936` were created

**Issue Available**: @sivaschenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-05 19:20] sdzhepa commented on #26443
The related internal Jira ticket `MC-30630` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop` please cre

[2020-11-05 19:20] sdzhepa commented on #30271
The related internal Jira ticket `MC-36186` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop` please cre

[2020-11-05 19:20] sdzhepa commented on #13153
The related internal Jira ticket `MC-24359` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still run into this problem on the latest `2.4-develop` please cre

[2020-11-05 19:27] sdzhepa commented on #30261
The related internal Jira ticket `MC-36768` was closed as `Fixed`.
Related commits can be found by search https://github.com/magento/magento2/search?q=MC-36768&type=commits

[2020-11-05 19:27] hostep commented on #30804
Could maybe be related to https://github.com/magento/magento2/issues/29964 (which has a fix in https://github.com/magento/magento2/commit/047629aeb29354c35c7ebe4f12b7eed160e241e0) but it's hard to say without more info. Maybe you can find more info the Magento and/or webserver log files?

[2020-11-05 19:43] hostep commented on #30684
Yeah, [that change](https://github.com/magento/magento2/commit/66d259ed37ac8d7170012e14efb5df12c562cf13#diff-70b66724a68bb5a83ea8270f2504439bb34cbda48a1b145998c06d30e3b0d2b7) was a pretty bad one not done in a backwards compatible way.

We had the same problem with one of our modules after upgrading from Magento 2.3.5 to 2.3.6
We needed the module to be compatible with both 2.3.5 and 2.3.6 so we n

[2020-11-05 20:10] sdzhepa commented on #28106
The related internal Jira ticket `MC-34156` was closed as `Fixed`.
Related commits can be found by search https://github.com/magento/magento2/search?q=MC-34156&type=commits

[2020-11-05 20:10] sdzhepa commented on #30461
The related internal Jira ticket `MC-38413` was closed as `Fixed`.
Related commits can be found by search https://github.com/magento/magento2/search?q=MC-38413&type=commits

[2020-11-05 20:10] sdzhepa commented on #30513
The related internal Jira ticket `MC-38509` was closed as `Fixed`.
Related commits can be found by search https://github.com/magento/magento2/search?q=MC-38509&type=commits

[2020-11-05 20:10] sdzhepa commented on #30263
The related internal Jira ticket `MC-36685` was closed as `Fixed`.
Related commits can be found by search https://github.com/magento/magento2/search?q=MC-36685&type=commits

[2020-11-05 20:12] sdzhepa commented on #30258
The related internal Jira ticket `MC-37145` was closed as `Fixed`.
Related commits can be found by search https://github.com/magento/magento2/search?q=MC-37145&type=commits

[2020-11-05 20:13] sdzhepa commented on #30258
The related internal Jira ticket `MC-37145` was closed as `Fixed`.
Changes was delivered into Magento Commerce(EE) repository.
If you are partner of have access to Magento Commerce(EE) code base,
Related commits can be found by search https://github.com/magento/partners-magento2ee/search?q=MC-37145&type=commits

[2020-11-05 20:15] irenelagno commented on #28597
@magento give me 2.3-develop instance

[2020-11-05 20:25] engcom-Delta commented on #27979
Hi @kishennagaraju thank you for your report. I'm not able to reproduce issue by steps you described on 2.4-develop and on the latest composer version 2.4.1 - sample data is successfully deploy
Please see [Magento 2.4 system requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html#operating-systems-linux-x86-64)

If you'd like to update the issue, please reopen it

[2020-11-05 20:25] #27979 closed, assigned to engcom-Delta

[2020-11-05 20:32] irenelagno commented on #28597
@magento give me 2.3-develop instance

[2020-11-05 20:47] engcom-Delta commented on #30758
Hi @thinksys-dev  thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop with Allow Guest Checkout=No
![Peek 2020-11-05 22-43](https://user-images.githubusercontent.com/51681379/98294456-a81f5000-1fb8-11eb-8c3b-f80bdcb46a41.gif)

If you'd like to update the issue, please reopen it.

[2020-11-05 20:47] #30758 closed, assigned to engcom-Delta

[2020-11-05 22:33] msyhr commented on #30575
@zenfork and any others using Devilbox running into this issue, I can confirm disabling the psr extension solves the issue.

You'll need to edit the entry to add "psr" in the .env of your devilbox root.

`PHP_MODULES_DISABLE=oci8,PDO_OCI,pdo_sqlsrv,sqlsrv,rdkafka,swoole,psr,phalcon `

[2020-11-05 23:30] pmonosolo commented on #29070
Having the same issue here. Magento 2.3.3 with large catalog.

[2020-11-05 23:52] pmonosolo commented on #29070
There is another github issue that might be related:
https://github.com/magento/magento2/issues/26516

[2020-11-06 05:33] ajijshekh123 commented on #30769
@magento give me 2.4-develop instance

[2020-11-06 05:52] heneral commented on #30796
hi @krishprakash no worries

[2020-11-06 06:32] mohsinleads commented on #30759
As you said use composer1x i have try with that version as well. i am getting same error warning msg again and stop running command .

"Warning from https://repo.packagist.org: You are using an outdated version of Composer. Composer 2.0 is now available and you should upgrade."

[2020-11-06 06:39] aholovan commented on #26840
@mozok, M2.2.1? You seriously? It makes sense perform upgrade first to get 'No such entity' bug resolved.

[2020-11-06 06:55] qsolutions-pl commented on #26433
Hi @gabrieldagama it does make sense to warn developers but, in my opinion, this is not a solution.
In my project I only had 1 module which adds a deserializer, what if there are 3 or 5 modules with different deserializers? It will be hard to maintain the code because developer or team od developers will have to remember to double or tripple check each module which adds a deserializer.
Imho this s

[2020-11-06 07:11] ihor-sviziev commented on #30759
Hi @mohsinleads ,
Could you contact me in Slack, I'll try to help you to resolve the issue. I'm pretty sure that there is some issue with your environment

[2020-11-06 07:19] mozok commented on #26840
@aholovan Yeah, agree. This was the first, what we said to client. But unfortunate client do not want to upgrade.

[2020-11-06 08:01] Jeeva-Rathinam commented on #26698
Does anyone have a solution?

[2020-11-06 08:12] Pavel-Fekete commented on #18260
Still facing this issue on 2.4-develop

[2020-11-06 08:12] Pavel-Fekete commented on #20004
Still facing this issue on 2.4-develop

[2020-11-06 08:15] gibkigonzo commented on #30685
@engcom-Bravo Hey, thanks for your investigation. I use latest docker image from https://github.com/bitnami/bitnami-docker-magento and it still fails (also in dev mode)

[2020-11-06 08:29] martingregoire commented on #30685
We had the same issue as described by @NielsVroman, deploying the sample data after installing Magento resulted in the `Unable to apply data patch` error message.

Explicitly setting Magento to Developer Mode before deploying the sample data did not help, we had the same error message.

We were able to resolve it by deploying the sample data *before* installing Magento however. Our workflow now is

[2020-11-06 08:45] wojtekn commented on #13153
@sdzhepa did you check it on Magento Commerce?

[2020-11-06 09:18] techqa10 opened #30814 "Magento 2.4 Installation Error On CentOS"
Note: I have some issue with #29462 Because of the issue closed i created new one. If this against to rules please accept my apologies.

### Summary (*)
I can install Magento 2.4 to different environments excepts CentoOS. I had CentOS 7.X i tried to install Magento 2.4 and i get the "Class Magento\Framework\DB\Adapter\Pdo\Mysql\Interceptor does not exist" error on Installation step. I upgraded my

[2020-11-06 09:35] engcom-Bravo commented on #30685
I'm reopening this issue for further investigation

[2020-11-06 09:48] pusachev commented on #30575
Hey. I have a question. Why we need create proxy for LoggerInterface object? What this profit we have from this "optimization"?

[2020-11-06 09:51] ihor-sviziev commented on #30575
@pusachev TBH I don't really know. Feel free to investigate it 😃

[2020-11-06 09:57] apedicdev commented on #30780
@magento give me 2.4-develop instance

[2020-11-06 10:01] apedicdev commented on #30780
@floorz this has been replicated on magento clean installation using payload from documentation `https://magento.redoc.ly/2.4.0-admin/tag/guest-cartscartIdshipping-information`
I guess if the `discount_data` isn't needed, then documentation should be fixed accordingly. Viceversa, setters need to be implemented. @engcom-Alfa can you please confirm what is the default behaviour you want?

[2020-11-06 10:08] engcom-Bravo commented on #30801
Hello @AlldoGroup

Thank you for your report

Which Category do you select from the Category tree when creating a Product.
Example:
![Category](https://user-images.githubusercontent.com/51680745/98353921-b1e09c00-2028-11eb-8f38-6d23602df047.png)

Thank you in Advance

[2020-11-06 10:21] AlldoGroup commented on #30801
Hello @engcom-Bravo

Like this, and the problem only occurs in the category "**_30x40 cm_**"

![categories](https://user-images.githubusercontent.com/57530884/98355269-34199200-2022-11eb-87c2-5c3218fcbee7.jpg)

[2020-11-06 10:23] apedicdev commented on #30780
I can confirm issue has been replicated on vanilla Magento instance

Steps to replicate:

1. https://2e8070d80c43c244cae2951e56b914c5-2-4-develop.instances.magento-community.engineering
2. add a product to cart as a guest user and proceed to checkout
3. Copy cart-id assigned from any XHR request
3. `POST` to `https://2e8070d80c43c244cae2951e56b914c5-2-4-develop.instances.magento-community.engineer

[2020-11-06 10:24] apedicdev commented on #30780
@magento I am working on this

[2020-11-06 10:25] apedicdev commented on #30780
@magento add to contributors team

[2020-11-06 10:26] apedicdev commented on #30780
@magento I am working on this

[2020-11-06 10:35] apedicdev commented on #30780
this has been replicated on magento clean installation using payload from documentation `https://magento.redoc.ly/2.4.0-admin/tag/guest-cartscartIdshipping-information`.
I guess if the discount_data isn't needed, then documentation should be fixed accordingly. Viceversa, setters need to be implemented. @engcom-Alfa @magento-engcom-team can you please confirm what should be the default behaviour?

[2020-11-06 10:53] engcom-Bravo commented on #30685
Seems like the cause of the issue is MySQL 8. We confirm

[2020-11-06 11:15] engcom-Bravo commented on #30802
The issue is reproducible on the latest 2.4-develop
![Qty invoiced](https://user-images.githubusercontent.com/51680745/98360246-27049f00-2032-11eb-8777-c28e265309e8.png)

[2020-11-06 11:15] engcom-Oscar commented on #23069
Hi @EyalAmir . I was able to reproduce the issue only with "0" shipping cost, not without, so I amend description.

[2020-11-06 11:17] magento-engcom-team commented on #30802
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38953` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-06 11:23] engcom-Delta commented on #30797
Hi @45lailson . Please update issue on english so we can start to verify it

[2020-11-06 11:24] tadhgbowe opened #30815 "Cannot select existing simple products for a new configurable product"
I am creating a new Configurable product via the Admin Panel (based on color). My simple products (children) already exist via a product import. When I click on "Edit Configurations" it takes me down the path of creating new simple variations. I don't want to do this. I simply want to select the existing products.

Interestingly if I go ahead and generate some simple variations via the "Edit Confi

[2020-11-06 12:05] #30815 closed, assigned to engcom-Alfa

[2020-11-06 12:06] sivaschenko commented on #30809
Original feature request: https://github.com/magento/community-features/issues/208

[2020-11-06 12:12] sivaschenko commented on #30754
@sportmma I am closing this feature request as I believe this is not related to the Magento core codebase, so we cannot work on it in the magento2 repository. This integration is specific and should be implemented as an extension.

[2020-11-06 12:12] #30754 closed, assigned to nobody

[2020-11-06 12:14] sivaschenko commented on #30738
Removed `feature request` label as it looks like a UI issue report rather than a feature request.

[2020-11-06 12:14] engcom-Bravo commented on #30801
@AlldoGroup Thank you for the quick response

Seems like we are able to reproduce the described behavior, I have only one last question:
Did you manually rename the _Size_ Category into _Storlekar_?
![98228890-7dea7580-1f59-11eb-9750-066cd6268cf7](https://user-images.githubusercontent.com/51680745/98363640-f7589580-2037-11eb-9526-6489c08438e6.jpg)

Thank you

[2020-11-06 12:16] magento-engcom-team commented on #30685
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38788` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-06 12:16] magento-engcom-team commented on #30677
:white_check_mark: Confirmed by @sivaschenko
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38955` were created

**Issue Available**: @sivaschenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-06 12:21] magento-engcom-team commented on #30556
:white_check_mark: Confirmed by @sivaschenko
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38956` were created

**Issue Available**: @sivaschenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-06 12:23] magento-engcom-team commented on #30490
:white_check_mark: Confirmed by @sivaschenko
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38957` were created

**Issue Available**: @sivaschenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-06 12:27] sivaschenko commented on #30482
@volanar @ProkopovVitaliy I don't think this feature should be added as this behavior is handled by `Anchor` category option (`Display Settings` fieldset)

[2020-11-06 12:44] sivaschenko commented on #29432
@LiamTrioTech The purpose of the maintenance page is to display static content while the services might not be operational. So I don't think it would be a good idea to query the database for the contact information to display while maintenance mode is enabled.

If you'd like to display any specific information (including the contacts) please follow the documentation on creating custom maintenance

[2020-11-06 12:44] #29432 closed, assigned to nobody

[2020-11-06 12:47] sivaschenko commented on #29254
@thisfiore thanks for the feature request! Can you please add more information to the description to make it a bit more clear?

[2020-11-06 12:55] sivaschenko commented on #29150
@Eddcapone thanks for reaching out! Please see the following documentation on setting up the custom maintenance page: https://devdocs.magento.com/guides/v2.4/comp-mgr/trouble/cman/maint-mode.html

[2020-11-06 12:55] #29150 closed, assigned to nobody

[2020-11-06 12:59] schmengler commented on #29338
@hostep Thank you, this is possible but totally counter-intuitive. We have the `--elasticsearch-host` option in `setup:install`, so they should be in `setup:config:set` as well

[2020-11-06 13:04] sivaschenko commented on #28591
See the proposed solution: https://github.com/magento/magento2/issues/28592

[2020-11-06 13:26] Jeeva-Rathinam commented on #5350
Did anyone found the solution?

[2020-11-06 13:26] magento-engcom-team commented on #26836
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38958` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-06 13:43] iphigenie commented on #28183
This issue is still happening on 2.4.1

[2020-11-06 13:48] engcom-Bravo commented on #23963
Reproducible on the latest 2.4-develop. Additional info from Engcom is added to the Description

[2020-11-06 13:51] magento-engcom-team commented on #23963
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38959` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-06 13:57] engcom-Delta commented on #28453
@magento give me 2.4-develop instance

[2020-11-06 13:58] sivaschenko commented on #26220
Magento does support Elasticsearch 7 now https://devdocs.magento.com/guides/v2.4/install-gde/prereq/elasticsearch.html

[2020-11-06 13:58] #26220 closed, assigned to nobody

[2020-11-06 14:11] magento-engcom-team commented on #23938
:white_check_mark: Confirmed by @sivaschenko
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37422` were created

**Issue Available**: @sivaschenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-06 14:11] engcom-Delta commented on #28453
Hi @mubasherahmed I'm not able to reproduce issue by steps you described on clean 2.4-develop.
![Peek 2020-11-06 16-09](https://user-images.githubusercontent.com/51681379/98375275-94bcc500-204a-11eb-9475-f79954a67444.gif)

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if yo

[2020-11-06 14:11] #28453 closed, assigned to engcom-Delta