[2016-09-22 15:12] SerhiyShkolyarenko commented on #5954
@antbates1991 could you please paste full class content here. I tried to reproduce and got an error on compilation.

[2016-09-22 15:16] Bartlomiejsz commented on #6575
@veloraven I'm using Community version. I understand that I can't add custom address attribute in Magento backend in Community version, but does it mean that such attributes added programmatically won't be saved at all?

[2016-09-22 15:19] antboiko commented on #6160
Hi @klarlichter , please check http://devdocs.magento.com/guides/v2.1/config-guide/cli/config-cli-subcommands-i18n.html . In your case, please run the command in the following way `php <your Magento install dir>/bin/magento <command name>`

Best,
Anton.

[2016-09-22 15:23] XigenDominic opened #6708 "Google Adwords add ability to provide transaction-specific conversion values in your conversion tracking tag"
Google Adwords Code does not allow providing transaction-specific conversion values in your conversion tracking tag
### Preconditions
1. Magento V2.1.1
### Steps to reproduce
1. Enable and configure Google Adwords
2. Complete transaction and taken to success page
### Expected result
1. Option and ouput to send google_conversion_currency e.g: var google_conversion_currency = "EUR";
   https://suppo

[2016-09-22 15:34] epadmin commented on #6576
thanks!

-------- Original Message --------
Subject: Re: [magento/magento2] Product Availability on a Per Option
basis is missing from M2 (#6576)
From: Anton Boiko notifications@github.com
Date: Thu, September 22, 2016 5:15 am
To: magento/magento2 magento2@noreply.github.com
Cc: epadmin admin@elemeno-pee.com,  Mention
mention@noreply.github.com

Hi @epadmin , it is not a Magento functionality to s

[2016-09-22 15:35] XigenDominic opened #6709 "Google Analytics to allow for websites that conduct transactions in multiple currencies"
Google Analytics to allow for websites that conduct transactions in multiple currencies.  The ecommerce plugin allows you to specify the local currency of the transaction.
### Preconditions
1. Magento v2.1.1
### Steps to reproduce
1. Enable Google Analytics
2. Complete transaction
### Expected result
1. Option to enable specifying local currency
2. Local currency included in tag - https://develope

[2016-09-22 15:43] woakley opened #6710 "Invalid option value when saving product"
Magento 2.1.1
### Steps to reproduce

Add lots of custom options to a simple product
Save product
Save product again (even without touching anything)
### Expected result

Product must be saved without error messages.
### Actual result

Error message appears: "Invalid option value".

The error message is extremely unhelpful.

[2016-09-22 15:50] philipvandebriel commented on #6413
Will this be fix in magento 2.1.2 ? And when is the next update ?

[2016-09-22 15:59] bartoszkubicki commented on #6392
@SerhiyShkolyarenko you are right. I updated my question, I posted chunk of code I have been testing later. Of course, it will cause exception. Now there is a code in question which actually works only when `full page cache` disabled.

[2016-09-22 16:04] katmoon commented on #6121
Hi @brideo

The fix will be available with the next non-security patch release.

[2016-09-22 16:05] woakley opened #6711 "Error deleting custom drop down options when more than 20"
Magento 2.1.1
### Steps to reproduce

Save a product with more than 20 custom options (so pagination of options occurs)
Reload product
Delete an option in the first 20 (on the first page)
### Expected result

Option should be deleted
### Actual result

Option appears to have been deleted and a blank option appears at the end of the first page (as 20th option)

The blank options that appear cannot

[2016-09-22 16:44] ghost opened #6712 "Footer Links Widget CSS Issue"
### Preconditions

1. Magento 2.1.1 CE
2. Luma Theme
### Steps to reproduce

1. Install Magento with sample content

OR
1. Add a block/widget for additional footer links
### Expected result

1. Additional footer links block should line up with default footer links
   ![footer_mage2 0 7](https://cloud.githubusercontent.com/assets/19348887/18757359/fff574f4-80c9-11e6-84cf-5c1d18aec261.PNG)
### Actua

[2016-09-22 16:58] tvainisi commented on #5422
I have this issue on Magento 2.1 also.  When I use the product import spreadsheet, sometimes the base image is somehow the second image in a configurable product gallery (frontend).  When a configuration is chosen from dropdown, the image in the first position (which should be the second image) is then swapped out for a duplicate base image, leaving the gallery with two of the same images.  In the

[2016-09-22 17:01] mgomez-dgt opened #6713 "Product Quantity displaying in decimals"
### Preconditions

Magento ver. 2.1.1
### Steps to reproduce

1. Create a Product with Quantity = 1 and Uses Decimals = No
### Expected result

![image](https://cloud.githubusercontent.com/assets/481124/18757831/208662e6-80bb-11e6-8c47-e65d6a55c467.png)
### Actual result

![image](https://cloud.githubusercontent.com/assets/481124/18757869/4eb90d8a-80bb-11e6-9e70-5726e6b2b4b2.png)

![image](https:/

[2016-09-22 18:52] TClilMouse opened #6714 "Design Configuration is showing the wrong info 2.1.1"
### Preconditions
1. Magento 2.1.1
2. PHP 7.0.9, MySql 5.6.27
### Steps to reproduce
1. Upgrade from 2.1.0 to 2.1.1
2. Admin -> Configuration -> general -> design
### Expected result
1. Showing the design configuration
### Actual result
1.
   ![screenshot 52](https://cloud.githubusercontent.com/assets/17633236/18761745/0b84c428-80bb-11e6-97d7-d3ceab6d4173.png)

[2016-09-22 19:23] daniel-ifrim commented on #1471
Another case was that I didn't had the top category name set correctly in the csv file. I have different name instead of Default Category.

[2016-09-22 19:41] MagePsycho commented on #6236
Can anyone explain 'How to add new order field for API: `/V1/orders/:id` without using `extension_attributes`?
http://magento.stackexchange.com/questions/137703/adding-new-order-field-for-api-v1-orders-id-without-using-extension-attribute

[2016-09-22 20:09] AppChecker opened #6715 "Few weaknesses in the code"
Hi!

I hope this will be helpful:

1)
[app/code/Magento/Usps/Model/Carrier.php](https://github.com/magento/magento2/blob/2c22ac4edddb99383d79a0295858c26ba28bf7b5/app/code/Magento/Usps/Model/Carrier.php#L1908)

[code]

if $response is false, method asXML will be called on false

2)
[app/code/Magento/CatalogSearch/Model/Layer/Filter/Decimal.php](https://github.com/magento/magento2/blob/2c22ac4edddb9

[2016-09-22 20:09] joebusby opened #6716 "Credit Card capture not associated with the Authorization since upgrade to 2.1.1"
### Preconditions

Upgrade with sample data to Magento 2.1.1
On Debian 8  LXC container 4GB ram 6 cores  PHP 7.0.10-1~dotdeb+8.1

Go to Stores --> Configuration --> Sales --> Payment Methods --> Paypal PayflowPro --> Basic Payment Settings and set "Payment Action" to "Authorization"
### Steps to reproduce
1.  Enter a credit card purchase
2. Check PayPal for authorization
3. Invoice the order in Ma

[2016-09-22 20:16] frameworkerrs opened #6717 "magento 2.1.1 checkout/cart page empty"
i have installed fresh 2.1.1.. and with dummy data.. mini cart working.. but the checkout/cart page shows empty when we have products in minicart..

if we remove all from minicart , the checkout/cart page shows correctly - message below

You have no items in your shopping cart.
Click here to continue shopping.

it seems problem from cart.phtml

if ($block->getItemsCount()) {
    echo $block->getCh

[2016-09-22 20:22] codelogn commented on #5157
@ kaiSer007 It's happening for us too. If we switch to developer mode, it works.

[2016-09-22 20:45] mcjwsk opened #6718 "Custom composer modules break Component Manager"
### Preconditions
1. PHP 7.0.9
2. Magento 2.1 (stable version)
### Steps to reproduce
1. Install some extension via Composer.
   I tried the following command `composer require snowdog/language-pl_pl`
2. Go to Magento Marketplace and install some extension from here. I installed the following package https://marketplace.magento.com/magenerds-language-de-de.html **(this step is probably not require

[2016-09-22 20:47] maxlaberge commented on #6541
I am having the same issue with a custom EAV model, exactly as described. Disabling the EAV cache did resolve the issue.

Using:
Magento CE 2.1.1
PHP 7.0

[2016-09-22 21:13] sshymko commented on #6121
@brideo,

I don't have access to the official patch, but I can share the workaround we use.
The idea is to listen to the reorder link clicks and invalidate the customer data in the local storage.

**The Workaround**
Add the following JavaScript to pages with the reorder links (via layout handle `customer_account`):

[code]

Please note that the official unreleased fix is likely very different from

[2016-09-22 21:15] pguedesbr opened #6719 "Wrong drop-down option labels for configurable products attributes using custom source"
### Preconditions

1. Magento 2.1.1 (updated from 2.0.8)
2. PHP 5.6.25
3. MySQL 5.6.23
### Steps to reproduce

1. Create a module with a custom Model
2. Create an attribute for the product entity with a custom source referencing the new Model
3. Create an attribute set with the new attribute
4. Create a configurable product using the new attribute set and a few associated simple products
5. While

[2016-09-22 22:00] codelogn commented on #6410
Thanks, flushing cache storage worked for me too.

[2016-09-22 23:03] ghost commented on #6714
Design configuration is now under Admin -> Content -> Design -> Configuration.

[2016-09-22 23:06] brideo commented on #6121
Brilliant thanks @sshymko!

I will make a note to remove it when the next version of Magento is released.

[2016-09-22 23:07] pboisvert commented on #6714
closing as not an issue

[2016-09-22 23:07] #6714 closed, assigned to nobody

[2016-09-22 23:28] TClilMouse opened #6720 "Search doesn't work for new product review"
### Preconditions

1. Magento 2.1
2. PHP 7.0.9, MySql 5.6.27
### Steps to reproduce

1. Admin->marketing->reviews-> new review
2. Enter anything in the filter
### Expected result

1. Show result with filter
### Actual result

1. Show all products.

[2016-09-23 00:28] MarusaThem opened #6721 "Issue when create language package on Magento 2.1.1"
Hi All,

I have issue when i create language package on Magento 2.1.1. It is show error as below. Please help me advice because i use command as below on 2.0.7 then it is ok but 2.1.1 is error.

php bin/magento i18n:pack -d app/design/frontend/Smartwave/porto/i18n/vi_VN.csv ./ vi_VN

  [RuntimeException]
  Too many arguments.

i18n:pack [-m|--mode="..."] [-d|--allow-duplicates] source locale

[2016-09-23 01:25] dejan25 commented on #6635
@veloraven I use magento 2.2.0. Thanks

[2016-09-23 01:28] dbsdsun commented on #6603
@veloraven  this problem happens on all magento 2. Please repeat my example mentioned before.

[2016-09-23 01:41] rodrigowebjump commented on #3789
Hi guys.

Which version of EE has this fix?

Regards

[2016-09-23 02:49] birchestx commented on #3789
Magento checkout is broken for pretty much everywhere apart from basic US needs because of this. Is anyone using M2 outside the US?  If so they must have flat rate shipping switched on....

[2016-09-23 03:05] luxwan13 commented on #5435
I just get the same problem. Order confirmation email should be sent to the email address used at checkout but it get sent to the Paypal account email address.

[2016-09-23 03:10] cmacdonald-au commented on #2666
Mage Version 2.1.1 - Production Mode (running from pub/index.php) - PHP 5.6.21 (php-fpm/lighttpd)

We were seeing remote files download to `pub/media/import` but failing to move over to `pub/media/catalog`.

I hunted back to the source exception (`Magento\Framework\File\Uploader::_createDestinationFolder()`) and dumped it out;
`string(113) "Unable to create directory 'pub/media/catalog/product'."`

[2016-09-23 06:18] SerhiyShkolyarenko commented on #4782
Fix was delivered to develop branch. Closing the issue.

[2016-09-23 06:18] #4782 closed, assigned to ishakhsuvarov, SerhiyShkolyarenko

[2016-09-23 06:24] irenelagno commented on #4782
This issue was delivered in the scope of 7164d34b9561

[2016-09-23 06:42] chapagain opened #6722 "Error while reindexing Catalog Search (Fatal error: Maximum function nesting level of '256' reached, aborting!)"
### Preconditions

1. I am using Magento version 2.1.1
2. PHP version 5.6
3. I have sample data installed in my Magento site.
### Steps to reproduce

1) Add a configurable product with around 300 associated products to it.

2) Then, try to reindex Catalog Search with the following command

`php bin/magento indexer:reindex catalogsearch_fulltext`
### Expected result

Expected to get message like "C

[2016-09-23 07:05] ihor-sviziev commented on #6688
@ankursachdeva11 looks like your web server configured incorrectly.
If you're using apache - make sure that your server configured correctly and  reads .htaccess file. Also make sure that you have .htaccess file in pub/static/ directory. Because it contains needed rewrite: https://github.com/magento/magento2/blob/develop/pub/static/.htaccess#L16

If you're using nginx - make sure that it contains

[2016-09-23 07:25] stalica commented on #6718
I am having the same issue

[2016-09-23 07:34] MarekKarmelski commented on #2703
It's not working in MCE 2.1.1 still

[2016-09-23 07:35] MarekKarmelski commented on #2564
Updated to MCE 2.1.1 from MCE 2.1.0, problem still exist

[2016-09-23 07:59] PascalBrouwers commented on #6706
@miakusha Could you get this one going? It has a PR and everything.

[2016-09-23 08:20] samuellinde commented on #6595
Has no one else experienced this issue?

[2016-09-23 08:25] veloraven commented on #6599
@kanduvisla thank you for your report.
Could you please describe steps in a more detailed way? Including exact requests you send.

[2016-09-23 08:42] heldchen commented on #4883
still present in 2.1.1...

[2016-09-23 08:44] heldchen commented on #6698
known bug, see #6424

[2016-09-23 09:16] oshmyheliuk commented on #4687
Hi @afavata
Is this issue still reproduces?
Please try to clean varnish cache, or restart varnish process

[2016-09-23 09:28] veloraven commented on #6575
@Bartlomiejsz , you can do it programmatically as customization over Community Edition. As it is not a native behavior of Magento CE we can not treat it as an issue.
Please address your question at  [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) or [Magento Stack Exchange](http://magento.stackexchange.com/).

[2016-09-23 09:38] ghost opened #6724 "Fatal Error [Interface 'Magento\Store\Api\StoreWebsiteRelationInterface' not found] after Magento 2.1.1 initial setup"
### Preconditions

1. Magento version: 2.1.1;
2. PHP version: 5.6.24 FPM;
3. Linux distro: Debian 8.6.0;
4. Web server: nginx/1.10.1;
5. MySQL 5.7 running on a CoreOS instance [within a Docker container].
### Steps to reproduce

1.  Install all the pre-requisits;
2. Download [not clone] Magento 2.1.1 from the git repo;
3. Set the file system's permissions;
4. Install the dependencies running compo

[2016-09-23 10:03] apurv-anand opened #6725 "Dashboard Lifetime Sales, Average Order, Most viewed products do not update."
Dashboard Lifetime Sales, Average Order, Most viewed products do not update.
Environment:
Ubuntu / Apache / M 2.1.1 / AWS  / Timezone: IST (Indian standard)

Steps:
- Setup M2.1.1 server (upgraded 2.1.1 from 2.1).
- Migrated the data from older cart (This step should be irrelevant for this bug)
- Went live, started selling.

Current behavior: The Lifetime sales and average order show a fixed value

[2016-09-23 10:03] veloraven commented on #6625
@daancart2quote thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-09-23 10:07] veloraven commented on #6631
@jstoel thank you for your report.
Could you try to clear browser cache first? Including cookies and offline website data.

[2016-09-23 10:08] apurv-anand opened #6726 "Sales Order report show wrong data."
Sales Order report show wrong data.
Env: Ubuntu / Apache / M2.1.1

For a given day, when the no of orders should be around 40+, the report show something like 8 or 10.
Total value also is far less than the actual orders placed.

Steps:
- Install M2.1.1
- Setup time zone: IST (Indian standard) from admin panel.
- Go live, Sell.
- Run - Reports > Sales > Orders.
  OR
- Run - Reports > Customers > Or

[2016-09-23 10:10] oshmyheliuk commented on #6601
Hi @OlgaBurtyka
It's not a bug, in new version advanced pricing open as popup when you click on a link below Price field.
Advanced pricing link is a part of Price Field.
If you move Price field to advanced pricing group, a link will not appear.

[2016-09-23 10:10] #6601 closed, assigned to oshmyheliuk

[2016-09-23 10:11] DmitriiChukhnov1 commented on #6541
To disable eav cache only for custom EAV model, I am using this di.xml:

[code]

[2016-09-23 10:23] antbates91 commented on #5954
[code]

[2016-09-23 10:33] miakusha commented on #6706
Hi @PascalBrouwers, We cannot reproduce this issue as described. Please provide the detailed steps we must follow to reproduce this issue.

[2016-09-23 10:47] to8gal opened #6727 "asking for right php version when already there"
So I first installed Magento on Mamp, all great except on extension manager fail readiness, say was the cron but the cron was there, etc, after a few trial you guys said no support for a local on osx and mamp, and that I should use homebrew.

Thats waht I did, installed it, all php there, mcrypt there, mysql there, all right version, vhosts neabled but then when I go on the install page say this 👍

[2016-09-23 10:53] Giri-Happiest-Minds opened #6728 "catalogProductAttributeMediaGalleryManagementV1 POST call fails to create new Gallery entry"
We tried adding a new Gallery entry using the POST call but the API throws below exception (Json response)
,
{
  "message": "The image content must be valid base64 encoded data."
}

Endpoint URL: /V1/products/{sku}/media
API: catalogProductAttributeMediaGalleryManagementV1
Below is the request Json
{
  "entry": {
        "id": 3038,
    "media_type": "image",
    "label": "",
    "position": 1,

[2016-09-23 11:40] kandrejevs opened #6729 "Configurable product old price with taxes displayed wrong"
I have a store for EU, by law we need to show all prices with VAT included. In the admin we enter prices without tax, we have tax rule to add 20% VAT, in configuration everything es set up properly, so all prices include tax.

When we apply catalogue rule for category to have 20% discount all prices are shown correctly except configurable product old price- it is old price without tax.
### Steps t

[2016-09-23 11:42] Giri-Happiest-Minds opened #6730 "salesCreditmemoManagementV1 PUT call doesn't cancel credit memo"
We tried cancelling a credit memo using salesCreditmemoManagementV1 PUT call but the API threw the below warning,

{
  "message": "You can not cancel Credit Memo"
}

API: salesCreditmemoManagementV1
Endpoint URL: /V1/creditmemo/{id}

There is no JSON request as per DevDoc

[2016-09-23 11:53] sadashivdalvi commented on #1427
I am getting this issue in magento 2.1.1.  I can see this when I go to index page or when I try to checkout.  The checkout doesn't complete showing error as

would like to know how can I fix this or debug this?

Thanks,
Sadashiv

[2016-09-23 11:58] tanberry commented on #3178
@jahved  do you have the information you need? Can we close this ticket if Yes?

[2016-09-23 12:06] veloraven commented on #6652
@ketankulkarni thank you for your feedback.
Please identify which version of Magento you are running.
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-23 12:20] miakusha commented on #6720
Hi @seavenger, thank for your report

We've created internal ticket MAGETWO-58909 to address this issue.

[2016-09-23 12:33] davidwatson1090 commented on #4896
Hi @quickshiftin,  thnx for sharing this....actually i had a problem in assiging attributes to attribute set and i was using this this->_objectManager->create('Magento\Eav\Setup\EavSetup')->addAttributeToSet() and it was throwing the error...so i got the the other solution now i ued this $this->_objectManager->get('Magento\Eav\Model\AttributeManagement')->assign() and it worked for me;

[2016-09-23 12:44] lsv opened #6731 "'Exception' with message 'Warning: Division by zero in vendor/magento/module-sales/Model/Order/Creditmemo/Total/Discount.php on line 32' in vendor/magento/framework/App/ErrorHandler.php:61"
### Preconditions
1. [Magento 2.1.1](https://repo.magento.com/archives/magento/magento2-base/magento-magento2-base-2.1.1.0.zip)
### Steps to reproduce
1. Create a order with 0$ in shipment
2. Complete the order
3. Create new creditmemo
4. Add something in "Refund shipping"
### Expected result
1. I would suggest a error "You can not refund shipping when shipping is zero"

With the current error mes

[2016-09-23 12:48] miakusha commented on #6710
Hi @woakley
We cannot reproduce this issue as described. Please provide the detailed steps(custom options type and value) we must follow to reproduce this issue.

[2016-09-23 12:49] veloraven commented on #6647
@enrico69 thank you for your feedback.
If you experience any problems with Enterprise Edition, please address them to Magento Support.

[2016-09-23 12:50] veloraven commented on #6644
@kandrejevs thank you for your report.
If you experience any problems with Enterprise Edition, please address them to Magento Support.

[2016-09-23 13:17] antbates91 commented on #5519
👍  on this we are having the exact same issue here using magento 2.1 with mysql 5.6 , php 7.0.8

It happens for us under the following circumstances:
1. - A user logs into their account on the front end and adds a product to their cart.
2. - They then log out or leave the site, magento saves the cart items .
3. - Some time passes and the product then goes out of stock.
4. - The user then comes bac

[2016-09-23 13:18] veloraven commented on #6670
@Memes11 , thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-09-23 13:24] veloraven commented on #6675
@mvistas thank you for your report.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-09-23 13:25] veloraven commented on #6676
@RUjmiak thank you for your report.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-09-23 13:31] veloraven commented on #6683
@miskec thank you for your feedback.
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-23 13:32] veloraven commented on #6684
@drestine thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-09-23 13:33] veloraven commented on #6686
@bondimedical3 thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-09-23 13:35] oshmyheliuk commented on #4699
Hi @veloraven
What version did you install?
I tried to reproduce this issue on version 2.1.0 , but everything worked fine.

[2016-09-23 13:36] veloraven commented on #6688
@ankursachdeva11 thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please also specify Magento versions which you updated from and to.

[2016-09-23 13:36] bharathi341 commented on #6258
Hi All,
Unable to add associated products for configurable product. I can add by using super admin.
I have created a admin user and allowed catalog and other things but that user unable to access "catalog/product/associated_grid/componentJson" this url, when i try to create associated products that time magento 2 throws "Access Denied" error. Please help me to solve this issue.

Thanks,
Bharathira

[2016-09-23 13:45] springimport opened #6732 "Error with a nonexistent theme"
### Steps to reproduce

Add theme folder with `registration.php`.

[code]

![example_1](https://cloud.githubusercontent.com/assets/18581994/18787565/6a048bb2-8171-11e6-82d2-2a0c766640ff.PNG)

Fix mistake: 'frontend/Magento/Simplicity'`=>`'frontend/Vendor/Simplicity',`

![example_2](https://cloud.githubusercontent.com/assets/18581994/18787601/7fa9ddf0-8171-11e6-81a1-04d342fa908e.PNG)

Go to `Magent

[2016-09-23 14:09] unailopez16 commented on #6183
looks like fixed here:
https://github.com/magento/magento2/commit/13e1acdcb0f859c948957c9c9f36a03131e96888#diff-8b13fe3225a8e5f17fa52fa6c5b74edaR34

[2016-09-23 14:33] yumicom opened #6733 "Bad ukrainian character encoding in minicart when Enabled JavaScript Bundling in production mode"
### Preconditions

1. Magento ver. 2.1.1
2. php version 7.0, MariaDB 10.1
### Steps to reproduce

1.  I manually translated into Ukrainian some phrases in minicart in file: /app/design/frontend/My/Met1/Magento_Checkout/web/template/minicart/content.html , utf-8 without boom.
### Actual result

 In developer mode good, but in production mode when Enabled JavaScript Bundling I see bad characters in

[2016-09-23 14:34] salelsol commented on #6362
Hi, for local usage wikipedia is correct, but not for international usage: Use '.' (Unicode 'FULL STOP' (U+002E)) rather than ',' to indicate a decimal point. Avoid using these symbols as a readability separator. In this case how can I change price just for product detail page: 1,599.00 € ?

[2016-09-23 14:35] PascalBrouwers commented on #6706
Hmm, can't seem to reproduce it on a clean 2.1.1. install. Ok, closing it.

[2016-09-23 14:35] #6706 closed, assigned to nobody

[2016-09-23 14:38] victor-v-rad commented on #6510
Hi @daschenbrener
It is hard to figure out the cause of the issue
You could share DB dump (remove all passwords before) of Magento 1 and send it through email (find it in my profile https://github.com/victor-v-rad)
We will try to migrate it to reproduce and fix

[2016-09-23 14:44] veloraven commented on #6690
@romainruaud thank you for your feedback.
If you experience any problems with Enterprise Edition please address the issue to Magento Support.

[2016-09-23 14:48] victor-v-rad commented on #5988
@Tristan-N
what exactly the tool do you use? Is it official Data Migration Tool from Magento or it is third party extension?

[2016-09-23 14:49] ilol commented on #5988
Did you use Magento`s [Data Migration Tool](https://github.com/magento/data-migration-tool) ?

[2016-09-23 14:54] maghamed commented on #1002
Hi,

Regarding unique key on (product_id,website_id) in cataloginventory_stock_item table it's legacy, and in the scope of Multi Location Inventory track has already been fixed, but it's still not in mainline. Correct index is (product_id,stock_id) as you mentioned in your post.
Having  (product_id,website_id) index you will stuck with conflicts implementing Multi Location Inventory (MLI).

Knowle

[2016-09-23 14:57] ghost commented on #5988
@Tristan-N I've created a email catcher. Wich also makes it possible to disable all email communication https://github.com/experius/Magento-2-Email-Catcher-Module

[2016-09-23 14:59] ilol commented on #5722
Hey @aliantech. Can we close this?

[2016-09-23 14:59] kayintveen opened #6734 "Cart with discount code higher then the amount in cart shows -€ NaN,N as grand total (only when also applicable to shipping)"
I am using magento 2.1.1 on php7
This situation occured on both production and development location.

We added 1 product to cart with the price of 3.99.
We charge a 3.95 shiping cost,
when applied a discount code of 50 euro which also applies to the shipping cost
the subtotal incl tax  = € NaN,N

But when proceeding to the checkout, all seem to work fine. Its only the totals in the cart.
in the ap

[2016-09-23 14:59] veloraven commented on #6692
@teuma86 thank you for your report.
If you experience any problems with Enterprise Edition please address the issue to Magento Support.

[2016-09-23 15:01] oshmyheliuk commented on #6682
Hi @magexo
I can't reproduce this issue on fresh installed magento 2.1.1.
Maybe a problem in custom modules.
Please, open console tab in developer tools of your browser and check if there are any errors if so paste that information here.

[2016-09-23 15:01] ilol commented on #5681
@chrone81 did you have a chance to look up?

[2016-09-23 15:03] daschenbrener commented on #6510
the db is about 6GB, but what might work better is getting you the login and password of the server that this is setup on,

[2016-09-23 15:04] veloraven commented on #6698
@szerambo thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-09-23 15:04] SerhiyShkolyarenko commented on #5954
The same error. I renamed the file to Linkz.php and the class accordingly.
On latest CE develop branch compilation fails with

[code]

Do you have the same result on the latest CE?

[2016-09-23 15:08] veloraven commented on #6699
@arijit-insync thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-09-23 15:09] veloraven commented on #6700
@LoganGS thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-09-23 15:10] daschenbrener commented on #6510
or just let me know what would work the best @victor-v-rad

[2016-09-23 15:14] veloraven commented on #6702
@rosandrest thank you for your report.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
If it is a question and you look for some help from community, please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exch

[2016-09-23 15:15] victor-v-rad commented on #6510
Let's discuss it in skype rad_victor is my

[2016-09-23 15:16] veloraven commented on #6703
@user340581 thank you for your feedback.
If your problem seems to be a Magento issue, please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
If you are looking for advises from community, please refer to the [Community Forums](https://community.magento.c

[2016-09-23 15:20] krejcif commented on #6682
Tested on clean 2.1.1 Enterprise. There are no errors in console.

![screenshot_107](https://cloud.githubusercontent.com/assets/11734352/18791122/c0eacbcc-81b1-11e6-9566-8535ac767bb0.png)

I'm using chrome.

[2016-09-23 15:23] chrone81 commented on #5681
@andimov @ilol Oops, I missed this one, sorry, busy at work. Let me check real quick today and update you later.

[2016-09-23 15:25] veloraven commented on #6715
@AppChecker thank you for your feedback.
Please identify which version of Magento you are running.
Please create a separate issue for each problem and format them according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2016-09-23 15:35] victor-v-rad commented on #6510
It's the end of my working day. We will get in touch on Monday.

[2016-09-23 15:37] daschenbrener commented on #6510
ok sounds good then, im just tied up for a bit yet

[2016-09-23 15:45] jstoel commented on #6631
I did. I even went on different computers with different browsers. It doesn't appear to be a javascript error either.

[2016-09-23 15:54] chrone81 commented on #5681
@ilol Sorry I'm no expert with MySQL cli. How to update the entity_type_id to '2' properly?

[2016-09-23 16:12] aliantech commented on #5722
.....
Because this problem can not been solved, I have to give up magento .....

2016年9月23日 23:00 於 "Illia Oliinyk" notifications@github.com 寫道：

[2016-09-23 16:14] drestine commented on #6684
Hi @veloraven,

**Preconditions**
1. Install Magento CE 2.1
2. Config Braintree payment method with sandbox account (https://sandbox.braintreegateway.com/).
3. Have an downloadable product to test.

**Steps to reproduce**
1. Add an Downloadable product to cart.
2. Go to cart page and click Checkout with logged in.
3. Choose Braintree Credit card with card Visa test (4111111111111111) and click "Pl

[2016-09-23 16:20] veloraven commented on #6717
@frameworkerrs thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-09-23 16:26] veloraven commented on #6721
@MarusaThem thank you for your feedback.
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think that an issue in Magento leads to your problem please format this issue according to the [Issue reporting guideline

[2016-09-23 16:38] acharrex commented on #4321
Same issue on 2.1.1

[2016-09-23 17:00] krejcif commented on #5662
Hi, why this has been closed, please?

It seems like bug, not improvement.

MSRP should be visible without enabled MAP.

Thanks for explanation.

[2016-09-23 17:08] veloraven commented on #6722
@chapagain thank you for your report.
Could you please describe with more details how you execute the first step: 'Add a configurable product with around 300 associated products to it.'?

[2016-09-23 17:15] #6702 closed, assigned to nobody

[2016-09-23 17:18] afavata commented on #4687
Hi @oshmyheliuk

Yes.... issue is still reproduced.
The only way to upgrade is by command line.
No way to access to the Web setup wizard

Thank you

Alessandro

[2016-09-23 17:44] chapagain commented on #6722
@veloraven I have updated the question. Could you please check?

[2016-09-23 17:44] jamematen commented on #5570
any news on this?

[2016-09-23 18:05] irfankhan86004 commented on #5902
hi
any one please tell me this issue i solve or not

Or

Give me some hint how can i solve this issue in mangeto2

Because it's argent

[2016-09-23 18:58] davidaddison commented on #5902
It worked for me with M2.1 after I reinstalled without prefixing on the database.  It was a pain to reinstall and migrate everything around – took about 4 full days that I neither had in my schedule or budget.  There are no good tools for migrating M2 data.  The whole situation stinks.

But, I look at things for the good - I got more practice installing M2.1.  And I got it fixed.

If I could do th

[2016-09-23 19:04] romeof1980 commented on #5902
You don't need to reinstall in order to remove table-prefixing.. Just google around and you'll find a lot of answers. It's a matter of running a SINGLE command and editing a line in env.php
:)

---- On Fri, 23 Sep 2016 20:58:31 +0200 notifications@github.com wrote ----

It worked for me with 2.1 after I reinstalled without prefixing on the database. It was a pain to reinstall and migrate everythin

[2016-09-23 19:33] davidaddison commented on #5902
My managed Magento hosting firm (a big one that knows M2.1) did not like romeof1980's solution.  They thought it safest to reinstall.  I would have liked to do what romeof1980 says.

[2016-09-23 19:51] romeof1980 commented on #5902
Hi @davidaddison,
good to know...
anyway, we can confirm that it works like charm both with single store mode and in multi store. We've tested it thoroughly and we use more than 20 extensions (tested with 2.1.0 too).
You know, saying you don't like it won't help too much other people that have gotten the same issue.. give more background info (like problem you think could arise) would be great.
Ag

[2016-09-23 19:58] apurv-anand commented on #3572
+1
M2.1.1

[2016-09-23 20:46] henrynw commented on #4756
Same issue. Any solutions?

[2016-09-23 21:45] xSevithx commented on #6710
I am getting this exact same error. I add a configurable product,
Add in multiple colors (around 30 colors) Click save. Everything is fine.
If i go back into the product and try to either upload an image or not even change anything, I get invalid option when saving. This is extremely painful, and the only way I can add products is by adding them in once, and not modifying them in the future becaus

[2016-09-23 22:16] bondimedical3 commented on #6686
Please read my issues carefully as I have already included steps to reproduce the result and the expected result. This is a bug which hundreds of people are experiencing and something you should be aware of unless you are out of touch with users of your software.

I will repeat it again.

Steps to reproduce:
1. Do an installation of latest version of Magento
2. Place an order.

Actual Result:
1. A

[2016-09-23 22:31] mattcoz opened #6735 "Backend still redirects to 404"
#2278

This is closed but it is still not fixed. The commit is not in the released Magento 2.1.1.

[2016-09-23 23:00] Ctucker9233 commented on #6547
I have noticed this behavior as well. For some reason, in the exported .csv every configurable product is followed by a few blank lines or duplicated lines. Not sure why this is.

[2016-09-23 23:15] pboisvert commented on #6686
this appears to be a duplicate of #5530 and internal ticket for this is MAGETWO-54866

here is the pull request where this is fixed https://github.com/magento/magento2ce/pull/416

this is not released to 2.1.x yet but resolved in mainline; will flag for porting to 2.1.x branch to get into patch.

[2016-09-23 23:58] Ctucker9233 commented on #4623
@piotrekminski seeing as this was a lack of clear documentation, this shouldn't need the improvement label. I was not requesting an improvement to Magento code. If there is a lack of clear documentation, that should be taken as seriously as a bug IMHO. Moving this to the forums will virtually guarantee that it will be forgotten about if it hasn't been fixed already.

[2016-09-24 00:17] Ctucker9233 commented on #6641
Same here, only it fails on component dependency without actually saying what the conflicting dependency is.

[2016-09-24 00:30] MarusaThem commented on #6721
Hi Olga Moyseyenko,

I think it is issue from technical in core magento because i has tested
more version magento2.0.x and see issue only in 2.1 and 2.1.1. Not sure i
can find issue in Community Forums https://community.magento.com/ or
the Magento
Stack Exchange http://magento.stackexchange.com/ can fix it. i has refer
more information in two page 4rum and other for my issue but can not have
any i

[2016-09-24 01:11] bondimedical3 commented on #6686
The pull request seems to lead to a 404 page?

[2016-09-24 02:44] davidnguyen2205 commented on #2065
me too...

[2016-09-24 04:12] pboisvert commented on #6686
@bondimedical3 my bad--that link is to a private repo--I didn't notice and thought i could share that link. Think this fix will drop as part of next patch that we hope will go next week.

As an alternative and with a massive disclaimer that this still needs testing still, you can find the code changes at the following link courtesy of the always helpful Piotr Kaminski https://gist.github.com/piotr

[2016-09-24 04:33] pboisvert commented on #4623
@Ctucker9233 an internal ticket has been created for the documentation task. @xcomSteveJohnson is the owner on the ticket and will complete that task based on the documentation backlog. There is no chance that the issue being closed here will have any impact on the task in his backlog. We agree that unclear or missing documentation needs to be addressed.

[2016-09-24 06:10] mitulispace opened #6736 "How to solve Check Component Dependency Error in magento 2.1.1"
![magento24_9](https://cloud.githubusercontent.com/assets/16436069/18806460/e7fa7f84-824a-11e6-9df8-44e3809bb1d9.PNG)

Any one Help me how To solve ???
please Comment.........

[2016-09-24 07:30] jedhodson opened #6737 "Component Manager Hangs - Spinning Wheel"
### Preconditions
1.  Magento 2.1.1 CE
2.  Remote MySQL Server (LAN)
3. I have had access to the Component Manager before with it working
4. Dedicated Host (Ubuntu 16.01.1 LTS)
### Steps to reproduce

1. Log in to backend
2.  System > Web Setup Wizard > Component Manager
### Expected result

1.  Access to Magento Component Manager to install and upgrade modules from marketplace
### Actual result

[2016-09-24 07:37] Buyur opened #6738 "Reindexing catalog_product_price - On Schedule does not reindex and generate inc Tax pricing"
Haivng issues calculating tax
### Preconditions

Centos 6.8 / Magento 2.1.1  CE / Mysql 5.7.15 / PHP 5.6.26
### Steps to reproduce
1. Set indexers to On Schedule
2. Execute on SSH :  php  bin/magneto indexer:reindex catalog_product_price
### Expected result
1. Indexer should complete with no erorrs and products should display inc and excl tax
### Actual result
1. Indexer fails with no erorrs or lo

[2016-09-24 07:56] cuiyang000 commented on #5352
Can confirm the bug, dirty/temporary way to solve is:
1) Upload the image
2) Check the file path in preview box
3) Copy that file to pub/media/email/logo/stores/1/ (1 can be other number, depending on the store id)
4) Save the configuration

[2016-09-24 08:00] Buyur commented on #6738
After some more reading, it would appear that the missing table is the changelog table which stores the results of fired triggers when prices are changed?  Not only is the table missing, I cant find any triggers in my DB??  I am using a VPS but I have also installed 2.1.1 clean on a dedicated box and still no triggers or table.  Maybe the setup is the area of the bug?

[2016-09-24 09:27] jessp855 commented on #5853
@azanelli

What file or where the exactly location im going to modify in order to disable "touchmove"event from gallery's images.

Thanks

[2016-09-24 09:51] maxbucknell opened #6739 "Compiled DI and Developer DI Are Sometimes Incompatible"
### Preconditions

I have found that there are some cases where classes will be introspected by Reflection in the Developer mode, but will not be caught by the `setup:di:compile` command. This increases the testing burden of developers, and produces some very difficult to understand error messages.

As far as I know, this affects every version of Magento 2.0 and 2.1, but I was using 2.0.8 at the t

[2016-09-24 11:15] azanelli commented on #5853
@jessp855  We placed it inside our javascript file within our custom theme.

So it is something like this:

[code]

[code]

But you can place it in any javascript file you want that is loaded in the product page (only be sure to require jquery).

Note also that this bug has already been fixed (https://github.com/magento/magento2/issues/5302) and perhaps will be solved with some next release ;).

[2016-09-24 12:40] ketankulkarni commented on #6652
issue has been solved.it was related to custom theme

[2016-09-24 12:40] #6652 closed, assigned to nobody

[2016-09-24 14:59] tookuul-owner commented on #2843
I experienced the same exact problem. Clean install of Magento Magento-CE-2.1.1_sample_data-2016-08-29-06-38-09.zip.

No issues or alerts during installation.

Right after install images, js and css missing from frontend and backend. Backend becomes completely broken.

I executed steps recommended before:
- Manually remove pub/static/frontend and pub/static/adminhtml
- Run bin/magento setup:static

[2016-09-24 16:29] cizgidekiadam commented on #5664
I'm using 2.1.1 now and problem still exists.

[2016-09-24 16:35] aarondong2005 commented on #6621
the di was done without problem. But now the manager still hang. Someone facing the same issue. here https://github.com/magento/magento2/issues/6737

[2016-09-24 16:38] cizgidekiadam commented on #5907
I'm adding via backend. For example, create a 'dimension' attribute and add some options (about 800 :)

After a time, if you try adding new options or changing storefront options (ex. Use in layered nav) it says 'saved' but actually not. Also it reset storefront properties to default values.

[2016-09-24 16:49] cizgidekiadam commented on #6086
http://prntscr.com/clulvj - I want to add a link to any object (text, image etc..)
http://prntscr.com/clum9e - Link popup opens as expected
http://prntscr.com/clumw9 - Instead of media popup, it 'can' be link widget (cms page, product, account etc...)

It is just an advice, not a big deal.
I'm trying to tell like this :)

[2016-09-24 16:52] MagePsycho commented on #5582
@springimport were you able to fix the issue without using `extension_attributes`?

[2016-09-24 16:53] davidaddison commented on #5475
I have the same issue - is there a link to a resolution.  M2.1.0.

[2016-09-24 16:55] cizgidekiadam commented on #6372
It'is running on Centos 6.5 with;
- PHP 5.6.14
- Apache
- Standart Magento cache, not more.

Now using 2.1.1 and had to update via composer. Can not use backend's System Upgrade

http://prntscr.com/clupk0 - After clicking System Upgrade
http://prntscr.com/clupp5 - Result with error

[2016-09-24 16:55] pboisvert commented on #5475
@elrondb @davidaddison since this ticket is closed i doubt there will be much attention. If you are having this issue though please file a new ticket and provide full information in terms of version used, system information, and steps to reproduce so we can investigate.

[2016-09-24 17:18] antonkril commented on #6739
Nice try, but composition would work here too ;)

We discussed this issue, and the resolution is to add fallback to reflection in compiled mode.

[2016-09-24 18:13] mgsolutionscode commented on #6683
@veloraven I have updated the issue description. I hope that is better now.

Regards

[2016-09-24 22:19] jedhodson commented on #6737
I have checked the permissions on the setup directory (even gave it the dreaded 777 permission).
Are there any other directories that permissions affect the component manager?

[2016-09-24 23:06] MaximKitsenko opened #6740 "SOAP api usually returns SOAP 12 but sometimes SOAP11"
I add magento 2.1.0 SOAP api service reference to C# project. I use
POST https://www.xxx.com/soap/default?services=salesOrderRepositoryV1 trying to get orded by id. If orders exists respons is SOAP 12 but if there is no order response is SOAP11

### Preconditions

1. Magento 2.1.0.
2. C#, WebService reference generated by Visual Studio
### Steps to reproduce

1. request:

[code]
1.
2.
### Expected

[2016-09-25 00:08] Ctucker9233 commented on #6396
Seems to be fixed in 2.1.1 for me.

[2016-09-25 00:12] Ctucker9233 commented on #6149
@tiwarimukesh Interesting! Thanks for investigating that.

[2016-09-25 00:19] Ctucker9233 commented on #6282
@sevos1984 Any word on when that patch will be ready?

[2016-09-25 02:03] minhluan259 commented on #2680
When I've added `<meta http-equiv="x-ua-compatible" content="ie=edge" />` to head (default_head_blocks.xml) (magento 2.1.1)
w3c error : Bad value  for attribute name on element meta: Must not be empty.
`<meta name="" content="ie=edge"/>`
It seem remove attribute `http-equiv="x-ua-compatible"`

[2016-09-25 04:53] tichimura opened #6741 "ComposerInformation.php for new packagename"
### Preconditions

1. Magento 2.1.0 CE
2. setup process is failed at PHP Version Check
3. ComposerInformation.php has old package name, which should be not latest
### Steps to reproduce

1. start the magento
2. access to the browser
3. setup process is failed at PHP Version Check
### Expected result

1. At Magento/Framework/Composer/ComposerInformation.php, the line 118 should be changed from 'mag

[2016-09-25 07:20] mv-developer commented on #5820
Having the same problem in 2.1.1.

[2016-09-25 07:28] the0ckid82 commented on #2434
just dropping another confirmation that this is still an issue on 2.1.1

[2016-09-25 07:47] cuiyang000 commented on #5547
Can confirm the issue with 2.1.1

[2016-09-25 08:40] fooman commented on #6718
Related to example 3 here https://github.com/magento/magento2/issues/4986#issuecomment-226027025 (in this example no extra repository needs to be added since it's done via packagist)

[2016-09-25 10:27] apurv-anand commented on #3572
Magento Dev,
We need a resolution on this. I am running M2.1.1 (as on today, the latest that Magento offers).

I have the issue - After login, the name do not get set in the welcome string, the cart shows no items and we have no clue what is causing this. We are live on production and is causing us a lot of pain because of this. Please get this fixed and get me a workaround on this asap.

Apprecia

[2016-09-25 10:30] apurv-anand commented on #3997
This is the exact behavior that we are facing on M2.1.1

[2016-09-25 10:30] apurv-anand commented on #4010
+1. Facing same issue in M2.1.1

[2016-09-25 10:55] cizgidekiadam opened #6743 "Magento 2.1.1 saving product breaks image assingments (base, thumbnail etc..)"
### Preconditions

1. Magento 2.1.1
### Steps to reproduce

1. Open a product in backend
2. Click 'Save' option
### Expected result

1. Saved product
### Actual result

1. Product saved successfully but image assingments gone. You should re-save product after selecting images.

[2016-09-25 10:55] yangsystem commented on #6729
I have the same problem but I figured a workaround.
If you set the product as a virtual product you have this problem: price with tax is the same as price without tax. The code does not apply tax on it.
BUT:
if you make the same product as a simple product (just check this item has weight and fill 0 as weight) all work's out. And weight 0 is the same as virtual product for us human's.

 I think th

[2016-09-25 10:58] yangsystem commented on #3867
the problem is only for virtual product's
just change that product to a simple product and add weight 0 and all will work fine.
Hope developers see and fix this logic bug.

[2016-09-25 13:06] sumisudish commented on #5181
Hi, Is there any fix available for this bug ? or is there any quick way to force triggering the shipping quote by a button ?

[2016-09-25 15:35] tookuul-owner commented on #2843
The same problem occurs with the plain installation (without sample data) from Magento-CE-2.1.1-2016-08-29-05-30-40.zip, and it gets solved with the same steps.

[2016-09-25 17:37] fxdegroot opened #6745 "Private scoped blocks won't show until a POST is performed"
### Preconditions

1. Create a block with $this->_isScopePrivate = true; in its constructor.
2. Redefine its _toHtml function to return an empty string if the request is not AJAX and its content if the request is AJAX.
3. Include this block in your page layout.
4. You must have full page cache enabled
### Steps to reproduce

1. Go on the page where your block is supposed to show
### Expected resul

[2016-09-25 18:30] Buyur commented on #6738
More investigation - completely new installation on a Windows XAMP installation (different to Linux etc) - it appears that the tiggers and ...._cl tables (changelog tables) are created when you change from index On Save to Scheduled.....when I changed this on the admin side, all the triggers appeared in the DB along with the associated tables.

Not sure why happening in Windows but not on my linux

[2016-09-25 19:37] pboisvert commented on #4010
@apurv-anand this ticket is closed. If you are experiencing an issue, can you open a new ticket and provide full system info and steps to reproduce"

[2016-09-25 19:43] pboisvert commented on #3572
@apurv-anand this ticket is closed. Per the last comment, can you open a new ticket that has full information in terms of version, system info, and steps so we can reproduce?

[2016-09-25 20:08] Omar-Oleh opened #6746 "Magento 2.1.1 Problem with change currency"
**Preconditions**
Magento 2.1.1
Created two currencies (United Arab Emirates Dirham and Qatari Rial)
Cache is enabled

**Steps to reproduce**
Open category page on frontend
Change currency

**Expected result**
Currency is changed on product listing

**Actual result**
Currency do not changed. Problem with FPC(I have refreshed FPC, the currency is work fine. But if I changed currency one more, it is

[2016-09-25 22:39] ytorbyk commented on #6574
I just retested it locally on develop branch. The bug is still replicable.
Are you sure you go to the last step on checkout page (step 3)?
And are you sure you delete the same address which is chosen during checkout?

I cannot add new product to the shopping cart and even cannot delete a product from the shopping cart.

[2016-09-25 22:47] ytorbyk commented on #6571
Hi @dthampy
1. default value
2.1. payment method you mustn't chose, just open the last step on checkout without placing an order.
2.2 shipping method "Flat Rate" (the only available)

I retested it on the develop branch and looks like it's fixed. The bug is present only on the 2.1 branch.

[2016-09-25 22:51] ghost commented on #6655
well that not true,  I can still install it on my local machine ( macOS ) if I have the right environment, apache or nginx, php ect.  The only problem i'm having is with nginx, it works fine on apache.
must  be a misconfiguration or something

[2016-09-26 05:04] thaohientruong opened #6747 "Custom option saved missing values when edit option same value"
### Preconditions

1. Magento ver. 2.0.7
2. PHP 7.0.9

I add a new module with same custom option. My module is add a questionnaire with multi option and choice values. I don't save value success.
Magento same bug so.
When product custom option are saved with same continuity value. The first value saved success, The continued value saved fail.
### Steps to reproduce

1. View detail product. Add so

[2016-09-26 05:25] ankursachdeva11 commented on #6688
@veloraven, I have updated from git repository to "Magento ver. 2.2.0-dev".

and i am using "FPM/FastCGI" Server

[2016-09-26 05:27] mitulispace commented on #4756
![e7fa7f84-824a-11e6-9df8-44e3809bb1d9](https://cloud.githubusercontent.com/assets/16436069/18823450/cf36288e-83d7-11e6-993b-1c646fce6e6f.PNG)

Same Issue Any Solution....  @ycherfan @mazhalai @veloraven @nagno @MomotenkoNatalia

[2016-09-26 05:34] donniesg commented on #4756
I just setup a new installation using Magento CE 2.1.1 using PHP 7.0.11 on siteground. I successfully setup the link to marketplace and installed the 1st extension. All seems normal but after the installation, my Component Manager and system config etc, all went into this forever loop.

I have tried flushing cache and reindex. No effect at all.

Just this morning, when I click back button on the b

[2016-09-26 05:40] mitulispace commented on #6471
![e7fa7f84-824a-11e6-9df8-44e3809bb1d9](https://cloud.githubusercontent.com/assets/16436069/18823621/53cac02c-83d9-11e6-84a8-aad04e7f280d.PNG)

Same Issue Any Solution.... @apurv-anand @Alex-Code @shiftedreality @veloraven @BaDos

[2016-09-26 06:08] jsakars commented on #5305
@sevos1984 haven't had time to check it on latest 2.0.\* version yet

[2016-09-26 06:19] victor-v-rad commented on #6510
Do you still have the issue? Feel free to connect with me through skype

[2016-09-26 06:34] Tristan-N commented on #5988
@ilol @victor-v-rad  I did it once with the Migration tool from Magento and suffered this problem so I reinstalled the entire Magento installation and used LitExtension Cart Migration. With both migration tools the same problem.

@dheesbeen Thanks!

[2016-09-26 06:39] mrkhoa99 commented on #6747
@thaohientruong  Magento 2.0.7 default version has the same issue?

[2016-09-26 07:00] stratocentric commented on #2619
Has anyone gotten this working?  I noticed that in some cases you can control x the sef url, uncheck the rewrite box and then add the sef url back and hit save and it will work... not sure why though.

[2016-09-26 07:01] AntonEvers opened #6749 "Underscore is undefined in google tag manager js"
https://github.com/magento/magento2ee/pull/205

[2016-09-26 07:12] antbates91 commented on #5954
Sorry I completely forgot we have created a module on our installations so that the compiler works with php 7 return types. If you remove all php 7 return types from the class you will find it should compile.

[2016-09-26 07:33] flipflap commented on #5999
Hi  there, for me it works without "bundle items". But it fails if I move "price type" out of "product details.

[2016-09-26 07:49] AntonEvers commented on #5541
@basselalaraaj you can create a di.xml for your shop defining the pattern for your customer. For instance:

[code]

As it says in the constant name of `\Magento\SalesSequence\Model\Sequence::DEFAULT_PATTERN` it is only a default value. You can replace it with dependency injection.

[2016-09-26 07:50] AntonEvers commented on #5541
@andimov you can remove the needs update label.

[2016-09-26 07:52] veloraven commented on #6728
@Giri-Happiest-Minds thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-09-26 07:59] veloraven commented on #6729
@kandrejevs thank you for your report.
Please identify which version of Magento you are running.

[2016-09-26 08:00] veloraven commented on #6730
@Giri-Happiest-Minds thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-09-26 08:00] ntkp commented on #6342
This issue also exits with đ - Vietnam dong..

[2016-09-26 08:07] veloraven commented on #6733
@yumicom thank you for your feedback.
Could you please provide exact phrases you translated?

[2016-09-26 08:13] veloraven commented on #6736
@mitulispace please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-09-26 08:15] veloraven commented on #6737
@jedhodson thank you for your report.
Was it clear install or upgrade from some previous version?

[2016-09-26 08:15] yumicom commented on #6733
I translated several phrases in different files, for example "Go to Checkout" > "Оформити замовлення" in Magento_Checkout/web/template/minicart/content.html
I found a temporary solution to encode Ukrainian phrases for JavaScript: "Оформити замовлення" > "\u041E\u0444\u043E\u0440\u043C\u0438\u0442\u0438 \u0437\u0430\u043C\u043E\u0432\u043B\u0435\u043D\u043D\u044F"

[2016-09-26 08:15] SerhiyShkolyarenko commented on #5954
Removed ": bool"  for isLoggedIn() and got the same result: compilation fails. Am I doing anything wrong?

[2016-09-26 08:16] jedhodson commented on #6737
@veloraven It was a clean install

[2016-09-26 08:19] antbates91 commented on #5954
No that should work fine.

[2016-09-26 08:34] mitulispace commented on #6736
Step-1 (I install Extension)
System => Web Setup Wizard => Component Manager(With marketplace)  => Install EXTENSIONS  But This Type Error Show

Then
![e7fa7f84-824a-11e6-9df8-44e3809bb1d9](https://cloud.githubusercontent.com/assets/16436069/18827707/d301f532-83f1-11e6-94b0-7d947df14643.PNG)

<h2>Actual Result</h2>

without Error    EXTENSIONS   install How to ??? @veloraven
Sorry For my English

[2016-09-26 08:36] kandrejevs commented on #6729
@veloraven this bug is present on 2.1.1 CE and EE editions.

here is my tax configuration, tax rule is 20%

[code]

[2016-09-26 08:53] paales opened #6750 "Setting product attribute description and short_description to scope website doesn't have any effect."
### Preconditions

1. 2.1.0
### Steps to reproduce

1. Set store the scope of short_description and description to website
2. Edit a product, you now see [website] next to the description and short description.
3. Save the product information on a store view scope (you can't select website scope)
### Expected result

1. You can only set the value on the website scope instead of the store view scop

[2016-09-26 09:01] OmarFaruque commented on #5423
i am facing same problem :\

[2016-09-26 09:11] OmarFaruque commented on #3421
I am facing same problem after install new Magento 2.1.1

[2016-09-26 09:17] paales opened #6751 "Price sorting order should use indexed minimal price not the price attribute"
### Preconditions

1. 2.1.0
### Steps to reproduce

1. (1) Create a product with price 11 and with tier price 9.
2. (2) Create a product with price 10.
### Expected result

1. Sort order should be (1) and then (2).
### Actual result

1. Sort order is (2) and then (1)

[2016-09-26 09:34] veloraven commented on #6721
@MarusaThem thank you for answer.
Could you please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result?
In order that it is clear that you are complaining that the issue is present rather than looking for some advise.

[2016-09-26 09:38] ilol commented on #5988
@victor-v-rad can you please check it?

[2016-09-26 09:51] thaopw opened #6752 "Special price for the configurable products"
### Preconditions

1. Magento CE version 2.1.1
2. PHP 5.6, 7.0.10
3. Mysql version 5.6 & 5.7
4. Nginx
### Steps to reproduce
1. Create an attribute_code is demo_attribute for product
2. Create configurable product A with above attribute includes 2 simple products: A1, A2.
3. Add Special Price for A1, A2 products with range days specific.
4. Special Price of A1 < A2.
5. Special Price of A1 has expi

[2016-09-26 10:26] paales commented on #5745
@xmav Thanks!

[2016-09-26 10:48] leechilli commented on #5608
Any news on this, it's affecting how I run my current magento store.

[2016-09-26 10:51] avoelkl commented on #6239
I agree, I would not show this as a public available information per default.

[2016-09-26 10:53] ytorbyk commented on #4699
I use 2.1.1 (2.1 branch)

[2016-09-26 10:53] veloraven commented on #6490
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-26 10:53] #6490 closed, assigned to nobody

[2016-09-26 10:58] slavvka commented on #5155
The issue has been fixed and delivered to develop. See 9d7fe88.

[2016-09-26 10:58] #5155 closed, assigned to nobody

[2016-09-26 10:58] slavvka commented on #6323
The issue has been fixed and delivered to develop.

[2016-09-26 10:59] miakusha commented on #6658
Hi @GuidoHub, we cannot reproduce this issue. Its look like wrong permissions on var folder
We need more information about your configuration to reproduce this issue:
- permissions on var folder
- file for import

[2016-09-26 11:13] JacobDrummond commented on #6323
@slavvka, thanks! :)

[2016-09-26 11:18] kassner opened #6753 "Translation order and overwrite"
Hi!

As defined in [Magento\Framework\Translate](https://github.com/magento/magento2/blob/8931b9c27bd3b446b5774a98f3ee8fd6306c2fb2/lib/internal/Magento/Framework/Translate.php#L179-L182), the language pack a a higher priority than the theme's translations. For system integrations, this means DB translations is the only way to overwrite a translation right now (we can create a language pack, but th

[2016-09-26 11:23] hostep commented on #6753
Duplicate: https://github.com/magento/magento2/issues/6563
PR with possible fix: https://github.com/magento/magento2/pull/4783

[2016-09-26 11:24] fazilpm commented on #4077
i am also facing the same issue . i am using magento 2.1 version . can you please guide me how can we correct this issue.?

[2016-09-26 11:26] #6753 closed, assigned to nobody

[2016-09-26 11:38] delgadito13 commented on #4456
Hi,

We still get this issue for a project we are doing now and we see that indeed the totalsData object does not include the shipping cost at all at checkout. Only after a reload of the page it seems to be picking up the data, but that action results also in loss of information of some form details, as the billing address at doing so.
Please have another look at this one. Please contact me in cas

[2016-09-26 12:01] veloraven commented on #6745
@fxdegroot thank you for feedback.
Please identify which version of Magento this issue occurs on.

[2016-09-26 12:05] sevos1984 commented on #6665
Internal ticket created MAGETWO-58953. Thanks for reporting.

[2016-09-26 12:12] sevos1984 commented on #6209
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-26 12:12] #6209 closed, assigned to sevos1984

[2016-09-26 12:13] sevos1984 commented on #6288
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-26 12:13] #6288 closed, assigned to sevos1984

[2016-09-26 12:14] sevos1984 commented on #6529
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-26 12:14] #6529 closed, assigned to sevos1984

[2016-09-26 12:14] sevos1984 commented on #6495
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-26 12:14] #6495 closed, assigned to sevos1984

[2016-09-26 12:17] mktudock commented on #5533
1. Install Magento 2.1 with PHP7 [although 2.0.x also has this issue]
2. Install splendidinternet/mage2-locale-de-de via Composer
3. Switch admin locale to de_de
4. Try to create an order via Admin (Umsatz -> Bestellungen -> Neue Bestellung erstellen)
5. Click on "Neuen Kunden hinzufügen" or on existing customer directly
6. Nothing is happening

[2016-09-26 12:17] sevos1984 commented on #6308
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-26 12:17] #6308 closed, assigned to sevos1984

[2016-09-26 12:17] sevos1984 commented on #6153
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-26 12:17] #6153 closed, assigned to sevos1984

[2016-09-26 12:17] sevos1984 commented on #6150
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-26 12:17] #6150 closed, assigned to sevos1984

[2016-09-26 12:21] veloraven commented on #6735
@mattcoz thank you for your feedback.
Please describe this issue this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result, if it is still reproduces.
Please also leave a note about closed duplicate issue.

[2016-09-26 12:23] heldchen commented on #6308
the issue still exists and is a regression compared to magento1

[2016-09-26 12:25] sevos1984 commented on #6337
I mean regenerating static files after applying translation. And before that have you used bin/magento i18n:pack to add translations?

[2016-09-26 12:27] heldchen opened #6754 "During indexer:reindex catalogsearch_fulltext no products are listed in categories"
while the "Catalog Search" is being reindexed, all category listing pages show "We can't find products matching the selection.". as soon as the reindex process is completed, the categories are browsable again.
### Preconditions
1. CE 2.1.1
2. full page cache is disabled
### Steps to reproduce
1. create a large sized sample database with enough products that the fulltext reindex takes a while. ours

[2016-09-26 12:27] heldchen commented on #6308
reopened as #6754

[2016-09-26 12:27] alexkuk opened #6755 "Page number is not reset to 1 after clearing all applied filters"
### Preconditions
1. Magento CE 2.1.1
2. Luma theme
### Steps to reproduce
1. Go to a category page with available filters
2. Filter by some attribute value
3. Go to page 2
4. Click Clear All
### Expected result
1. First page is displayed
### Actual result
1. Still second page is displayed, that is not relevant anymore

[2016-09-26 12:36] veloraven commented on #6732
@springimport thank you for your feedback.
Magento does not support Windows. You can fond Magento technology stack requirements [here](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-tech.html).
Can you confirm that issue is present as well when Linux is used as operating system?

[2016-09-26 12:40] Cacasapo commented on #6346
@irenelagno The attached CSV is the same I've uploaded.

I'm using "# of items vs destination" because this is a per-item shipping fee, so I don't see how weight comes into it. Is this the bug?

[2016-09-26 12:42] miakusha commented on #6711
Hi @woakley , thanks for report
We've created internal ticket MAGETWO-58956 to address this issue.

[2016-09-26 12:44] YevSent commented on #6684
Hi, @drestine, thanks for reporting, this is a known issue and already fixed (internal ticket MAGETWO-57512).
The fix will be available in the Magento 2.1.3 version.

[2016-09-26 12:44] #6684 closed, assigned to YevSent, alena-marchenko

[2016-09-26 12:53] springimport commented on #6732
@veloraven Currently no.

I think this error is not related with operating system.

[2016-09-26 12:54] prasantahatui commented on #2961
Hi
This is due to page_size and current_page are set to 20 and 1.
To solve this, follow the following step.
1.  Open vendor/magento/module-ui/Model/Export/ConvertToCsv.php
2.  Near line 60 commant the code `$searchResult = $component->getContext()->getDataProvider()->getSearchResult();`
3. Then add the following code
   `$dataProvider = $component->getContext()->getDataProvider();
   $dataProvider

[2016-09-26 12:55] SerhiyShkolyarenko commented on #6236
@MagePsycho
No other way except extension attributes is implied.

[2016-09-26 12:59] Buyur commented on #6738
ok - now have a situation where multiple updates of a product are creating multiple rows in catalog_product_price_cl - this has a structure where the entity_id can appear multiple times.  It appears that any combination of entity_id (1 or many) results in no actualy recalculation taking place?  Also when I have entered a single row and repeatedly run the reindex, something appears to take longer a

[2016-09-26 13:17] veloraven commented on #6719
@pguedesbr thank you for your feedback.
Magento 2.1.x no longer supports PHP 5.5. You can find Magento technology stack requirements [here](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-tech.html).
Can you confirm that the issue is reproduces when some of supported PHP versions is used?

[2016-09-26 13:22] veloraven commented on #6705
@AirmanAJK thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-09-26 13:24] maghamed commented on #6676
There are 2 RFCs which dictate the validity of JSON format.
[RFC7159](http://www.rfc-editor.org/rfc/rfc7159.txt) -  The JavaScript Object Notation (JSON) Data Interchange Format
This document states that:

[code]

So,  "response" is a valid JSON object according to this RFC

There is also

[RFC4627](https://tools.ietf.org/html/rfc4627) - The application/json Media Type for JavaScript Object Notati

[2016-09-26 13:27] sevos1984 commented on #6733
Hi! Why don't you use csv files for translation or inline translates? I was able to translate mentioned phrase  and deployed bundled js without errors if translate using csv.

[2016-09-26 13:40] SerhiyShkolyarenko commented on #5954
@antbates1991 I deployed Magento CE 2.1.0 from git tag and applied these changes(patch)
[GitHub5954.patch.zip](https://github.com/magento/magento2/files/493201/GitHub5954.patch.zip)
Then I cleared cache, ran compilation and it was successful. The code returns "No" on the home page.
Does it work the same for you?

[2016-09-26 13:45] romeof1980 commented on #2065
hi there,
we're getting the same issue after moving Magento 2.1.0 (using the same same server in a shared environment).
Redeploying static content hasn't helped.
Stucked with the same issue:
`'Cannot read contents from file "/html/pub/static/adminhtml/Magento/backend/en_US/mage/requirejs/mixins.min.js"`

Permission have been set correctly (we checked the entire path).

We've been working for some

[2016-09-26 13:50] robertadsoft commented on #2564
I think this is a major issue in Magento 2. I want to import a bulk list of simple products that build up a configurable product and it's impossible to do so.

[2016-09-26 13:55] yumicom commented on #6733
I use csv file )), but not all phrases can be translated in such a way, it is a known Magento bug, maybe it will be fix in version 2.2

[2016-09-26 13:56] veloraven commented on #6749
Will be processed at scope of PR.

[2016-09-26 13:56] #6749 closed, assigned to nobody

[2016-09-26 14:02] jzahedieh commented on #5762
Got the same issue as well, we've upgrade from 2.0.7 to 2.1.1, on 2.1.0 it was working.

In vendor/magento/module-configurable-product/Pricing/Price/ConfigurableOptionsProvider.php:

[code]

The collection has a size when using `->getSize()` on the collection but the iterator doesn't work.

[code]

The collection isn't loading the products so the iterator isn't working thus the price is not gettin

[2016-09-26 14:08] mombrea commented on #2564
@robertadsoft it's not impossible to do it, it's just a little counter-intuitive. The way we accomplished this after a bulk import was to:

1.  Create our new product attributes and attribute set
2.  Assign all of the individual products to that attribute set and define the attributes
3.  Create a new Configurable product and set it to the same attribute set
4.  Click Add Configurations
5.  Choose

[2016-09-26 14:11] SerhiyShkolyarenko commented on #5784
Please, do the following steps:
1. Clear ALL browser cache for the whole period of time.
2. Remove generated static files:
`rm -rf pub/static/*`
3. Perform forced reloading in browser(Ctrl+F5).
Does the error still appear? Which error is displayed in browser console?

[2016-09-26 14:12] woakley commented on #6710
OK, this is strongly relate to issue #6711

It is the pagination of custom options that stops the product from saving.

**Steps to reproduce**

Add more than 20 custom options to a product option so pagination occurs
Save product
Reload product
Save product again (even without touching anything)

**Expected result**

Product must be saved without error messages.

**Actual result**

Error message a

[2016-09-26 14:16] veloraven commented on #6727
@to8gal thank you for your feedback.
The problem you described is not Magento issue.
Your Apache server does not seem to be set up properly.
Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions related to using Magento with OS X.
But anyway you will need to set up your Apache server cor

[2016-09-26 14:16] #6727 closed, assigned to nobody

[2016-09-26 14:17] jBOKA commented on #2564
No one said it's impossible, but the way you describe it, which right now
seems the easiest way, is a hacky workaround.

Matt Mombrea <notifications@github.com> schrieb am Mo., 26. Sep. 2016 um
16:09 Uhr:

[2016-09-26 14:20] mombrea commented on #2564
@jBOKA on the contrary @robertadsoft said it was impossible to do so. I'm not saying it's a good solution but neither is waiting for a fix since it may never come in the community edition.

[2016-09-26 14:20] pguedesbr commented on #6719
Im sorry for the wrong info.
I'm not really running on php 5.5 (magento wouldnt even install).

I've just updated php and mysql versions in the original post with confirmed values.

I confirm everything worked as expected in 2.0.8, and options started showing up with wrong labels (but correct values) after I've updated to 2.1.1.

[2016-09-26 14:28] robertadsoft commented on #2564
Hey guys, thanks for the replies.

I actually found a way to import the products and assign the simple products to the configurable products properly using the sample file here: https://www.lexiconn.com/blog/2016/01/magento-2-import-configurable-products/

The trick was that I had to create and use in my file a special attribute set for the configurable products (it popped up when I was trying to

[2016-09-26 14:29] fxdegroot commented on #6745
Hi @veloraven the issue occured on Magento EE 2.1.0

[2016-09-26 14:48] YevSent commented on #6659
Hi, @JacobDrummond, thanks for reporting. We've created internal ticket MAGETWO-58963 .

[2016-09-26 14:51] srinivasanithin opened #6756 "Unable to link more than two child product to Configurable product via REST API"
We pulled the latest code from Magento2 and install the Magento2 instance
Problem -1
### Preconditions

1. Magento develop branch
2. php-fpm version 5.6 MySQL 5.6
### Steps to reproduce

1.  create a configurable Product using api using POST: /V1/products using the following JSON body
   {
   "product" : {
       "sku" : "Test-Product-Parent",
       "name" : "Test-Product-Parent",
       "attribu

[2016-09-26 15:30] davepullen commented on #2906
I know this is an old issue but we were running into a similar issue. I have found that adding `<update handle="empty"/>` to your layout seems to resolve the issue. So in the example you gave above it would end up looking like

[code]

I'm really not sure why it fixes the issue, but it did in both cases we were running into where ajax requests weren't returning prices. It should probably be noted

[2016-09-26 15:36] veloraven commented on #6636
@poojalimagento thank you for your question.
But the GitHub issue tracker is intended for technical issues only.
Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2016-09-26 15:36] #6636 closed, assigned to nobody

[2016-09-26 15:41] eharvest commented on #3266
I'm running into the same issue, however I cannot afford to uninstall my magento2 as there're months work involved. Is there another solution at all? I run bin/magento upgrade all the time with no problem, now this issue has suddenly come up:
Exception #0 (Magento\Framework\Exception\LocalizedException): Please upgrade your database: Run "bin/magento setup:upgrade" from the Magento root directory.

[2016-09-26 15:42] SerhiyShkolyarenko commented on #5907
Managed to reproduce with 248 options :)
Created internal issue MAGETWO-58966. Thank you for reporting!

[2016-09-26 15:53] soydemadrid commented on #3256
Hi I also have this issue with Webmin/Virtual min.

Tried setting the upload temp folder in PHP > Directory Settings to /tmp but I still get the error even after restarting apache.

I wonder if you could please let me know where you changed this setting?

[2016-09-26 15:56] ronnybremer commented on #6704
Same issue on our installation, CE 2.1.1.

Ronny

[2016-09-26 16:44] stamster commented on #6740
Have you tried with REST API?

[2016-09-26 16:51] thanasisgalanis opened #6757 "Deleting a product does not remove all associated attribute values from database"
When delete a product some attribute values are still in database, especially in table **catalog_product_entity_varchar**. After that, for some reason which I can not understand and have not yet been able to reproduce, if i use the import procedure to add products, some products take one of the deleted products **entity_id** (i thing the last deleted one, but i am not sure yet) and of course the r

[2016-09-26 17:00] stamster commented on #6754
What happens if you previously enable FPC?

[2016-09-26 17:07] acharrex commented on #5626
I confirm.
Everything is ok with Magento 2.1.1+.

[2016-09-26 17:22] heldchen commented on #6754
from my tests, enabling the FPC followed by an immediate reindex exhibits the same problems and makes no difference - IMO this is expected as the FPC at this point is not primed.

even if that worked, FPC never was a requirement for a working setup so far (i.e. in magento 1.x). it's not like we do not want an FPC, but enabling the internal magento 2 full page cache in production mode is advised ag

[2016-09-26 17:32] heldchen commented on #6122
sorry for the delay, the post shop launches prevented me from retesting. will be done ASAP.

[2016-09-26 17:32] heldchen commented on #6388
sorry for the delay, the post shop launches prevented me from retesting. will be done ASAP.

[2016-09-26 17:33] devdesco-ceo commented on #6424
Similar issue here on 2.0.9
It does not disassociate simple products, but the configurable product is not appearing in category listing on frontend, and all simple product options are missing on product page.

[2016-09-26 17:33] heldchen commented on #6578
is there still information needed from me or can the `needs update` label be removed?

[2016-09-26 17:44] daschenbrener commented on #6510
I do sorry for the delay, ill try to touch base with you tomorrow (Tues) my timezone is MST (-7 GMT)

[2016-09-26 17:47] manish-pragma commented on #4381
Is there any solution for this problem ??

[2016-09-26 18:03] pboisvert commented on #4381
@manish-ip there is no fix as the ticket was closed as not a bug. Please see last explanation for how to format to prevent the error. If you are using that and still see an issue, please open a new ticket rather than commenting on closed tickets

[2016-09-26 18:08] manish-pragma commented on #4381
Thanks for your valuable feedback. Sorry, accidently I have commented on the closed ticket.

[2016-09-26 21:06] Skrypton commented on #3171
I am getting the same error. The only way I can move categories is by saving the category after moving and sometimes I am getting an error that a category can't be moved.
I figured out that if an category can't be moved it is related to URL rewrites, because if I delete all rewrites that are related to that category, the category can be moved as described in the beginning.

[2016-09-26 21:12] mattcoz commented on #6735
Preconditions: Magento installed on ports other than 80 and 443
Steps to reproduce: Try to access backend
Actual result: 404 not found
Expected result: Backend loads

This is a duplicate of #2278 that was closed because they thought it was fixed.
Pull request #2303 fixes it but is not included in the latest release.

I've applied that change to my installed copy and it does fix the issue.

[2016-09-26 21:22] comsatnet commented on #5270
Hi guys,

as this is still not fixed in M2.1.1 there is a temporary solution how to enter the correct "Image Size" in the full format (e.g. 200x300)

1) Go to your database with either phpmyadmin
    or cli -> "mysql -u database_user -p database_name"

2) look for "core_config_data" table

and find the following PATH:

design/watermark/image_size
design/watermark/small_image_size
design/watermark/

[2016-09-26 21:22] comsatnet commented on #5270
Hi guys,

as this is still not fixed in M2.1.1 there is a temporary solution how to enter the correct "Image Size" in the full format (e.g. 200x300)

1) Go to your database with either phpmyadmin
    or cli -> "mysql -u database_user -p database_name"

2) look for "core_config_data" table

and find the following PATH:

design/watermark/image_size
design/watermark/small_image_size
design/watermark/

[2016-09-26 21:22] comsatnet commented on #5270
Hi guys,

as this is still not fixed in M2.1.1 there is a temporary solution how to enter the correct "Image Size" in the full format (e.g. 200x300)

1) Go to your database with either phpmyadmin
    or cli -> "mysql -u database_user -p database_name"

2) look for "core_config_data" table

and find the following PATH:

design/watermark/image_size
design/watermark/small_image_size
design/watermark/

[2016-09-26 21:22] comsatnet commented on #5270
Hi guys,

as this is still not fixed in M2.1.1 there is a temporary solution how to enter the correct "Image Size" in the full format (e.g. 200x300)

1) Go to your database with either phpmyadmin
    or cli -> "mysql -u database_user -p database_name"

2) look for "core_config_data" table

and find the following PATH:

design/watermark/image_size
design/watermark/small_image_size
design/watermark/

[2016-09-26 21:22] comsatnet commented on #5270
Hi guys,

as this is still not fixed in M2.1.1 there is a temporary solution how to enter the correct "Image Size" in the full format (e.g. 200x300)

1) Go to your database with either phpmyadmin
    or cli -> "mysql -u database_user -p database_name"

2) look for "core_config_data" table

and find the following PATH:

design/watermark/image_size
design/watermark/small_image_size
design/watermark/

[2016-09-26 21:22] comsatnet commented on #5270
Hi guys,

as this is still not fixed in M2.1.1 there is a temporary solution how to enter the correct "Image Size" in the full format (e.g. 200x300)

1) Go to your database with either phpmyadmin
    or cli -> "mysql -u database_user -p database_name"

2) look for "core_config_data" table

and find the following PATH:

design/watermark/image_size
design/watermark/small_image_size
design/watermark/

[2016-09-26 21:22] comsatnet commented on #5270
Hi guys,

as this is still not fixed in M2.1.1 there is a temporary solution how to enter the correct "Image Size" in the full format (e.g. 200x300)

1) Go to your database with either phpmyadmin
    or cli -> "mysql -u database_user -p database_name"

2) look for "core_config_data" table

and find the following PATH:

design/watermark/image_size
design/watermark/small_image_size
design/watermark/

[2016-09-26 21:22] comsatnet commented on #5270
Hi guys,

as this is still not fixed in M2.1.1 there is a temporary solution how to enter the correct "Image Size" in the full format (e.g. 200x300)

1) Go to your database with either phpmyadmin
    or cli -> "mysql -u database_user -p database_name"

2) look for "core_config_data" table

and find the following PATH:

design/watermark/image_size
design/watermark/small_image_size
design/watermark/

[2016-09-26 21:24] wbyrnetx commented on #5823
+1 for this issue. We ran into it today.

[2016-09-26 21:29] sshymko commented on #4247
@daim2k5, @piotrekkaminski,
Could you kindly reopen the ticket, it's a technical bug not a discussion topic for the forum.

[2016-09-26 21:36] pboisvert commented on #4247
reopening the ticket

[2016-09-26 21:44] branouk commented on #5270
Hi guys,

as this is still not fixed in M2.1.1 there is a temporary solution how to enter the correct "Image Size" in the full format (e.g. 200x300)

1) Go to your database with either phpmyadmin
or cli -> "mysql -u database_user -p database_name"

2) look for "core_config_data" table

and find the following PATH:

design/watermark/image_size
design/watermark/small_image_size
design/watermark/swat

[2016-09-26 22:02] sshymko commented on #4247
Thanks @pboisvert!

[2016-09-26 22:16] Buyur commented on #6738
ok - now have it so the mView is triggered and changes write to the catalog_product_price_cl table - but when the catalog_product_price reindex runs either via SSH or CRON - no price calculation takes place :(  rows are left in the _cl table.

This is a deal breaker as if M2 cannot perform a simple price recalc then its back to 1.9 or maybe time for another eCommerce solution that can calculate pr

[2016-09-26 23:19] pguedesbr commented on #6719
I've just did a clean install of Magento 2.1.1 with composer. The problem persists.

The product has 3 drop-down configurable attributes, of which 2 have custom source and 1 has standard values set via backend interface.

I dont know if this is related but:

While the 2 attributes with custom source show wrong option labels when configuring the product (both in backend and frontend), if you procee

[2016-09-27 00:03] Ctucker9233 commented on #2946
@slavvka Great! Where can we find it?

[2016-09-27 00:06] Ctucker9233 commented on #5391
@slavvka If we need this fix now, where could we find it?

[2016-09-27 00:10] Buyur commented on #6738
turned out to be a corruption in the M2 tables - repair and repopulate solved this.

[2016-09-27 00:10] #6738 closed, assigned to nobody

[2016-09-27 00:10] Ctucker9233 commented on #6399
I also have this issue.

[2016-09-27 02:03] moloughlin commented on #6745
I've been waiting on this one for a while as well...there's a PR which implements the same fix you've suggested here https://github.com/magento/magento2/pull/6406

[2016-09-27 04:21] drestine commented on #6684
Hi @joni-jones, Can you give me a link or package to fix that problem?
Thanks, Drestine

[2016-09-27 06:09] apurv-anand opened #6759 "Magento does not set the customer session data correctly."
Magento does not set the customer session data correctly.

Issue: After logging in, the customer name in the welcome message (Welcome <Customer Name>) does not get set. At the time of checkout, user is asked to login again. The mini cart does not show the number of products that were added by the customer.

Environment:
Magento: M 2.1.1
Cache: Varnish 4 (only FPC disabled) - Prod mode.
OS version:

[2016-09-27 06:46] apurv-anand commented on #3572
This issue is closed without anyone ack that issue is indeed resolved. Everyone is trying to have a workaround and somehow make things work. I have opened a new ticket anyway.
https://github.com/magento/magento2/issues/6759

[2016-09-27 06:57] phuctma opened #6760 "Cannot trigger gateway's refund function in a custom payment module"
### Preconditions

1. Magento ver. 2.2.0-dev
2. PHP 5.6.23
### Steps to reproduce
1. I'm developing a custom payment module for credit card processing
2. The order processed and online invoice created successfully with my custom payment method
3. Open the invoice and click the Refund button
### Expected result

The refund function in the custom payment method model should be triggered
### Actual r

[2016-09-27 07:16] SerhiyShkolyarenko commented on #5626
Closing issue as far at it has been fixed in 2.1.x branch.

[2016-09-27 07:16] #5626 closed, assigned to SerhiyShkolyarenko

[2016-09-27 07:18] mrkhoa99 commented on #6760
Hello @phuctma,

As far as I know, `$creditmemo->getDoTransaction()` may get value from
`vendor/magento/module-sales/Model/Service/CreditmemoService.php`

[code]

As we can see, it's a flag for checking types of transaction(offline or online).
Additionally, for invoice, we also have the same logic for type of capture(offline or online): `$invoiced->setRequestedCaptureCase(self::CAPTURE_ONLINE);`.

[2016-09-27 07:41] cizgidekiadam commented on #5907
No needs to thanks. That's what i do ;)

[2016-09-27 07:45] kanduvisla commented on #4173
Perhaps related to this bug: tested in M2.1.1: when I add a cronjob that needs to be executed every 5 minutes, it's executed every 20 minutes or so.

[2016-09-27 07:46] antboiko commented on #5270
Hi @RG-1  @gabriel-sf. Please let me inform you this issue was fixed and delivered to the develop branch. The fix was also ported to 2.1 and will be available in one of nearest patches.

I'm closing this ticket. Please feel free to reopen if the issue is still reproducible for you on the develop branch.

Best,
Anton.

[2016-09-27 07:46] #5270 closed, assigned to antboiko

[2016-09-27 07:47] cizgidekiadam opened #6761 "Some backend pages not loading while inline translate active."
### Preconditions

1. Magento 2.1.1
### Steps to reproduce

1. Activate inline translation for backend
2. Open product edit or category pages (may be there are more pages)
### Expected result

1. Able to translate
### Actual result

1. Page loader spin and spin and spin ... No result
2. In js console, there was an error:

[code]

[2016-09-27 07:50] YevSent commented on #6684
You can check diff changes from this commit https://github.com/magento/magento2/commit/c9f5ca50299a30ba1b34aa28681abf24b9af6ae8.

[2016-09-27 07:52] SerhiyShkolyarenko commented on #5747
@springimport  Sorry we can use here english only as an international language.
`\Magento\Sales\Api\Data\OrderExtensionInterface` is autogenerated interface, so corresponding class is located at var/generation directory.
Full documentation is here: http://devdocs.magento.com/guides/v2.0/extension-dev-guide/attributes.html
As an example please investigate `code/Magento/GiftMessage/etc/extension_att

[2016-09-27 07:53] veloraven commented on #6761
@rbostan thank you for your report.
Was it clear install or upgrade from some previous version?
Did you try to clean browser cache including offline website data?

[2016-09-27 08:12] phuctma commented on #6760
Thanks @mrkhoa99

I found that the line `$creditmemo->setDoTransaction(!$offlineRequested);` not exist in the current default repository of magento 2 (even the string `setDoTransaction`) but in the installation package get from Magento download page (under `vendor` directory).

This poses a bug here, right?

[2016-09-27 08:14] YevSent commented on #6760
Hi, @phuctma, as said @mrkhoa99 , the `getDoTransaction` state depends on selected refund type (offline or online).
Online refunds only available per invoice, if you will do a refund for all order it will be offline.
If you open invoice for place order, you will see two buttons:
![refund](https://cloud.githubusercontent.com/assets/2736528/18865323/5a1f6dd6-84a3-11e6-8511-a41e20e81be9.png). Depends

[2016-09-27 08:16] #6760 closed, assigned to nobody

[2016-09-27 08:16] krejcif commented on #824
@alankent Even from scheduled CLI, reindex is still partial from queue generated by saves.
You can force full rebuild by some fundamental changes in setting (bad workaround). But you can't force full rebuild by command.

Am I right?

There is lot of cases where we need to rebuild in development process (if you have broken eg url rewrites, prices, etc.). This is our developer experience.

[2016-09-27 08:21] phuctma commented on #6760
Thanks @joni-jones

I used the correct "Refund" button. Could you please advise why the `setDoTransaction` not exist in whole Magento 2 code (I means the Magento responsitory here) but it has the check `$creditmemo->getDoTransaction())` in the file https://github.com/javilumbrales/magento2-openshift/blob/master/public/app/code/Magento/Sales/Model/Order/Payment.php#L621 ?

[2016-09-27 08:40] to8gal commented on #6727
I solved the problem myself, the server was actually configured right, was a missing cron file that I thougth was autogenerated, but obviously was not. thanks

[2016-09-27 08:43] to8gal commented on #6540
I found the problem and solve it, shallI wirte it here to help anyone else with an osx (I think is a lot of people) or?

[2016-09-27 08:46] YevSent commented on #6760
The `Capture Operation` doesn't exist because your custom repository is outdated.
Latest commit 8cac4ba  on Dec 4, 2015 @javilumbrales

[2016-09-27 09:01] slavvka commented on #2946
In the latest mainline and it will be delivered in the nearest 2.1 patch release. Commits you can see above.

[2016-09-27 09:02] slavvka commented on #5391
Please see b80bd55

[2016-09-27 09:04] AntonEvers commented on #2946
@slavvka thank you. Is there already a planned release date of the next patch release?

[2016-09-27 09:09] slavvka commented on #5391
@Ctucker9233, try to use the patch:

[code]

[2016-09-27 09:11] lucscu commented on #5808
anyone fixed this bug?

[2016-09-27 09:13] veloraven commented on #2906
@davepullen which Magento version do you use?

[2016-09-27 09:15] lucscu commented on #4321
why none ufficial magento developer reply here?

[2016-09-27 09:15] sevos1984 commented on #5799
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-27 09:15] #5799 closed, assigned to nobody

[2016-09-27 09:16] sevos1984 commented on #5898
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-27 09:16] #5898 closed, assigned to nobody

[2016-09-27 09:18] alexkuk opened #6762 "Cart Price Rule: dates range is filled unexpectedly"
### Preconditions
1. Magento CE 2.1.1 with sample data
### Steps to reproduce
1. Go to backend
2. Marketing -> Promotions -> Cart Price Rules
3. Click Add New Rule.
4. Fill up the form, leave "From" and "To" dates empty
5. Click Save button
### Expected result
1. The rule is created without date range restriction
### Actual result
1. The rule is created with "From" and "To" dates filled by today's

[2016-09-27 09:24] SerhiyShkolyarenko commented on #5904
We are closing this issue because it hasn’t been updated in more than two weeks. Please feel free to add your steps to reproduce and we'll reopen the issue.

[2016-09-27 09:24] #5904 closed, assigned to SerhiyShkolyarenko

[2016-09-27 09:39] andimov commented on #6539
@BhautikAjmera007
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-27 09:39] #6539 closed, assigned to nobody

[2016-09-27 09:39] andimov commented on #6535
@caneraydinbey
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-27 09:39] #6535 closed, assigned to nobody

[2016-09-27 09:40] andimov commented on #6515
@terrybakshi
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-27 09:40] #6515 closed, assigned to nobody

[2016-09-27 09:40] andimov commented on #6499
@rhertogh
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-27 09:40] #6499 closed, assigned to nobody

[2016-09-27 09:40] andimov commented on #6493
@ksz2013
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-27 09:40] #6493 closed, assigned to nobody

[2016-09-27 09:41] andimov commented on #6448
@ednacool
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-27 09:41] #6448 closed, assigned to nobody

[2016-09-27 09:41] andimov commented on #6431
@Aartitops
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-27 09:41] #6431 closed, assigned to nobody

[2016-09-27 09:41] andimov commented on #6416
@Aartitops
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-27 09:41] #6416 closed, assigned to nobody

[2016-09-27 09:41] andimov commented on #6405
@GlobalOutsourcing
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-27 09:41] #6405 closed, assigned to nobody

[2016-09-27 09:43] TommyKolkman commented on #6618
I have to second this bug: still there in 2.1.1. @Pigau, did you fix it using a plugin or as a preference in you di.xml?

[2016-09-27 09:48] miakusha commented on #6752
I’m closing this issue because it is a duplicate #6457
We have internal ticket MAGETWO-58010

[2016-09-27 09:48] #6752 closed, assigned to nobody

[2016-09-27 10:01] Pigau commented on #6618
Hi @TommyKolkman , I fix it with a rewrite (a preference), because it use a fix and for me a plugin is for update or add behaviour to a method. But in this case I don't want to wrong version to be use at all.
Hope you'll find this helpful

[2016-09-27 10:05] lucscu commented on #4321
tested now with 2.1 and all works correctly, maybe there were some issues with theme (porto) or my customizations.

[2016-09-27 10:06] SerhiyShkolyarenko commented on #4953
We are closing this issue because it hasn’t been updated in more than two weeks. Please feel free to add your comments with details to reopen the issue.

[2016-09-27 10:06] #4953 closed, assigned to nobody

[2016-09-27 10:24] avonheimburg opened #6763 "Configurable Products with lots of configurations (about 3500) not creatable"
When creating a configurable product that results in a large number of configurations (easily done by having 3 different variables with 10-20 options), magento2 generates all of them in the frontend and tries to save them all at once.

After having raised the number of input_vars into the million, magento errors out with

[2016-09-27 10:28] cizgidekiadam commented on #6761
I tried clean all kind of cache (browser, magento etc..)
I have upgraded from 2.1 to 2.1.1 via composer.

[2016-09-27 10:29] lexbeelen opened #6764 "Duplicated product with related products is not working"
### Preconditions

1. Magento ver. 2.1.1
2. PHP 5.6
3. MySQL 5.6
### Steps to reproduce

1. Go to admin > products > catalog
2. Choose for a product that has related products
3. Click on Save & Duplicate
4. You're getting the messages Product SKU 123 "is not linked to product SKU '456-1 ' (456 is the related product)
### Expected result

1.  Duplicated the product with the linked related products

[2016-09-27 10:36] denis-g opened #6765 "M2.1 : Head link manifest HREF attr not work correct"
### Preconditions

Magento 2.1 EE
### Steps to reproduce
1. open `Magento_Theme/layout/default_head_blocks.xml`
2. insert
   `<link rel="manifest" href="manifest.json" />`
### Expected result

`<link  rel="manifest" href="http://site.com/static/frontend/Vendor/default/en_US/Magento_Theme/manifest.json" />`
### Actual result

`<link  rel="manifest" href="manifest.json" href="http://site.com/static/

[2016-09-27 10:40] miakusha commented on #6678
I’m closing this issue because it is a duplicate #4387
We have internal ticket MAGETWO-52577

[2016-09-27 10:40] #6678 closed, assigned to nobody

[2016-09-27 10:43] acharrex commented on #4321
Not working on my side on a fresh install of Magento 2.1.1 in developer mode.

[2016-09-27 10:45] lucscu commented on #4321
It not works on dev mode! Only production, it is written on admin.

[2016-09-27 10:55] piatrouski commented on #6756
Seems like it is duplicated for https://github.com/magento/magento2/issues/5243

[2016-09-27 11:51] ilol commented on #5808
The bug is fixed. Wait for mainline appearance

[2016-09-27 11:54] veloraven commented on #4456
@delgadito13 please create a new issue formatting it according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-09-27 12:06] miakusha commented on #6002
Closed as duplicate #5745
Issue has been fixed

[2016-09-27 12:06] #6002 closed, assigned to odubovyk

[2016-09-27 12:13] nmallepally commented on #6288
@sevos1984 Sorry, I was offline for 2 weeks.
Once it goes to production mode successfully, everything is setup nicely from front end and backend except two functions system option under stores -> configuration and another is sysetm->cache management->flush static files option.

[2016-09-27 12:21] magenx opened #6766 ".htaccess deny code execution not working for Apache + php-fpm"
1.  Magento 2.1.1
2.  cPanel EasyApache 4 (edge)
3.  apache 2.4 + php-fpm
### Steps to reproduce
1.  upload php file to `pub/media/`
2.  execute in browser
### Expected result
1. code execution in some folders must be denied
### Actual result
1. php files executed and working good

as a quick test, this works for any handler:

[code]

[2016-09-27 12:24] antbates91 commented on #5954
@SerhiyShkolyarenko I have updated to Magento EE 2.1.1 and that has resolved this issue. The Di Compile now works correctly.

[2016-09-27 12:32] romainruaud commented on #5339
Same issue for me. Magento CE 2.1.1 and Magento EE 2.1.1

[2016-09-27 12:37] veloraven commented on #4242
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-27 12:37] #4242 closed, assigned to nobody

[2016-09-27 12:38] veloraven commented on #6560
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-27 12:38] #6560 closed, assigned to nobody

[2016-09-27 12:39] veloraven commented on #6551
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-27 12:39] #6551 closed, assigned to nobody

[2016-09-27 12:42] SerhiyShkolyarenko commented on #5963
MAGETWO-58609 is delivered to develop branch. Closing the issue. Please feel free to leave comments if the issue is still reproducible for you.

[2016-09-27 12:42] #5963 closed, assigned to SerhiyShkolyarenko

[2016-09-27 12:53] SerhiyShkolyarenko commented on #6557
MAGETWO-58269 is delivered to develop branch. Closing the issue. Please feel free to leave comments anyway.

[2016-09-27 12:53] #6557 closed, assigned to mbrinton01

[2016-09-27 12:56] mbrinton01 commented on #6756
Thank you @srinivasanithin for your detailed report.  I've confirmed this is a duplicate of #5243.  Please follow that issue for updates on resolution.

[2016-09-27 12:56] #6756 closed, assigned to nobody

[2016-09-27 12:57] veloraven commented on #6686
Internal ticket for develop branch - MAGETWO-54866, fix is in commit 9515999
Internal ticker for branch 2.1 - MAGETWO-56956, fix is in commit 39b35ec
Internal ticket for branch 2.0 -  MAGETWO-56955, fix is in commit 592ded2

[2016-09-27 12:57] #6686 closed, assigned to nobody

[2016-09-27 12:58] veloraven commented on #5530
Internal ticket for develop branch - MAGETWO-54866, fix is in commit 9515999
Internal ticker for branch 2.1 - MAGETWO-56956, fix is in commit 39b35ec
Internal ticket for branch 2.0 - MAGETWO-56955, fix is in commit 592ded2

[2016-09-27 12:58] #5530 closed, assigned to nobody

[2016-09-27 13:01] ClaudiuCreanga opened #6768 "select locale when creating user via cli"
`php bin/magento admin:user:create --help
`
gives:

[code]

It seems that there is no way to chose the account locale when creating an user via cli. This is a big inconvenience because we only deploy the languages that we need, not en_US and then the users created via cli don't have access to the backend which is serving en_US for them
### Preconditions

any magento2 installation
### Steps to repr

[2016-09-27 13:03] veloraven commented on #6765
@denis-g thank you for your report.
If this issue is actual for Enterprise Edition only, please address it to Magento Support.

[2016-09-27 13:06] choukalos commented on #6763
Tracking internally as MAGETWO-55299

[2016-09-27 13:15] MaximKitsenko commented on #6740
I have already implemented SOAP wrapper for magento SOAP API and i want to make sure there is no another way to force magento to work via SOAP before looking into REST

[2016-09-27 13:16] Lielcw opened #6769 "Magento2 can't make a user role"
index: title in [...]/vendor/magento/module-integration/Helper/Data.php on line 24

[2016-09-27 13:19] veloraven commented on #5635
@sma09sjb please identify which version of Magento this issue occurs on.

[2016-09-27 13:24] ps1dr3x commented on #5896
Same here. I see only Get methods for catalogProductRepositoryV1 in:

{baseurl}/soap/default?wsdl&services=catalogProductRepositoryV1

I confirm that it seems to be a 2.1 problem, with 2.07 i see all methods.

[2016-09-27 13:30] miakusha commented on #5526
Issue was fixed. Closed.

[2016-09-27 13:30] #5526 closed, assigned to nobody

[2016-09-27 13:31] miakusha commented on #6555
Hi @neildavey, thank for report, issue was fixed in #5526

[2016-09-27 13:31] #6555 closed, assigned to nobody

[2016-09-27 13:33] AVoskoboinikov commented on #5793
Hi @jacquesbh
I am closing this issue because can not reproduce it in current mainline version. Here is some reasons for that:
1. Method \Magento\CatalogInventory\Block\Stockqty\AbstractStockqty::getProductStockQty does not loads product anymore. It uses \Magento\CatalogInventory\Api\Data\StockStatusInterface to get information about quantity. Check this https://github.com/magento/magento2/blob/2.

[2016-09-27 13:33] #5793 closed, assigned to nobody

[2016-09-27 13:37] kanduvisla opened #6770 "M2.1.1 : Re-saving a product attribute with a different name than it's code results in an error"
### Preconditions
1. Magento 2.1.1
2. I have product attribute of the type 'dropdown', which name is 'Afmetingen uitwendig (BxDxH) in mm' and it's code is 'afmetingen_uitwendig'.
### Steps to reproduce
1. Add a couple of options
2. Save the attribute
3. Add a couple of options more
4. Re-save the attribute
### Expected result
1. Options should be added
2. No errors should be shown
### Actual resul

[2016-09-27 13:42] Yonn-Trimoreau commented on #5876
For those who find this issue and can't import configurables properly even with store_view_code not set, here is how I solved the issue:

The field 'configurable_variations' must be formated like this:

Where ## is your multiple value separator

[Here is the corresponding code](https://github.com/magento/magento2/blob/6ea7d2d85cded3fa0fbcf4e7aa0dcd4edbf568a6/app/code/Magento/ConfigurableImportExpo

[2016-09-27 13:53] jacquesbh commented on #5793
Thanks @AzVo  :)

[2016-09-27 13:55] gahinton opened #6771 "Invoice Address Formatting Issue"
On the invoices, the address formatting is incorrect. It prints like the following:

Customer Name
54 N. Central Ave Campbell,
California 95008
United States

It should print as:
Customer Name
54 N. Central Ave
Campbell, California 95008
United States

[2016-09-27 13:59] irenelagno commented on #6346
@Cacasapo, Thank you for clarification. I'll try with settings # of items vs destination. Because  I have tried with  _Condition_ = "Weight vs Destination" earlier.

[2016-09-27 14:03] veloraven commented on #2999
I'm closing this ticket as the GitHub issue tracker is intended for technical issues only. And this one transformed to some kind of discussion. Please transfer the discussion to the [Community Forums](https://community.magento.com).

If you have any specific issues please create a new ticket formatting it according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-

[2016-09-27 14:03] #2999 closed, assigned to nobody

[2016-09-27 14:03] sevos1984 commented on #6590
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-27 14:03] #6590 closed, assigned to sevos1984

[2016-09-27 14:05] YevSent commented on #6633
Hi, @ewallkrishnaprakash , thanks for reporting, we've created internal ticket MAGETWO-59033.
Few additional comments:
- The `Other` option doesn't allow to use JCB and Diners Club, we are already removed this option, but instead it, we will add JCB and Diners Club to available credit cards list
- Your JCB `3088000000000017` is invalid. This card range doesn't correspond to JCB https://en.wikipedi

[2016-09-27 14:24] springimport commented on #1726
Enabling opcache help me with developing theme.

[2016-09-27 14:37] ronnybremer commented on #5133
To me it looks like a more serious issue than I originally thought. When looking at the table: catalog_product_entity_decimal
you ill see the column: store_id

I was expecting to see: website_id

Screams like someone mixed up the scope not just in the upper block php files, but all the way down to the DB layer....

[2016-09-27 14:51] veloraven commented on #6419
Closed as duplicate.

Additionally Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://community.magento.com/t5/News-Announcements/Improvements-to-GitHub-Management/m-p/44572#M96)).

One of corresponding issues was

[2016-09-27 15:03] veloraven commented on #6771
@gahinton thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-09-27 15:05] veloraven commented on #6769
@Lielcw please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-09-27 15:05] tkacheva commented on #6762
@alexkuk  thanks for reporting the issue. Internal number MAGETWO-59047. Once it's fixed we'll update the issue

[2016-09-27 15:15] pboisvert commented on #5954
@antbates1991 If you are a developer for a merchant or a partner, please use the Support or Partner portal to file issues. Github does not have account level tracking for issues though we are responding to issues here but without any SLA.

[2016-09-27 15:23] tkacheva commented on #6602
@mohammadkokash Are you still facing the same issue?
If so please provide detailed steps that you are following in magento documentation and on what step you face the issue

[2016-09-27 15:29] pavelnovitsky commented on #6765
Confirm the same bug in CE 2.1.1

[2016-09-27 15:31] Lielcw commented on #6769
Hi this is a bug! i think attribute title is not correct?
Magento vesion 2.04 upgraded to 2.09

[2016-09-27 15:40] heldchen opened #6776 "Opengraphs og:description contains html tags"
### Preconditions
1. CE 2.1.1
### Steps to reproduce
1. set short_description for product x to
   `<ul><li>foo</li><li>bar</li></ul>`
2. view html source of product page and look out for `og:description`
### Expected result
1. `<meta property="og:description" content="foobar">`
### Actual result
1. `<meta property="og:description" content="&lt;ul&gt;&lt;li&gt;foo&lt;/li&gt;&lt;li&gt;bar&lt;/li&gt;

[2016-09-27 16:02] tkacheva commented on #4321
@acharrex @LucScu we'll look into the issue asap. Thank you for your patience
MAGETWO-59053

[2016-09-27 16:08] pboisvert commented on #3572
@apurv-anand correct--closed has several possible resolutions. We can close an issue because it is resolved or close an issue because it is not an issue at all. One other common source is when we do not have enough info to reproduce a reported issue. When this happens we ask for updates to the ticket and IF we receive no updates to help reproduce we will close the issue. If you look above that is

[2016-09-27 16:18] heldchen commented on #6122
it seems that your team was able to reproduce it after all: #6762 - MAGETWO-59047

[2016-09-27 16:19] heldchen commented on #6762
@alexkuk there's an interim patch in the referenced issue #6122

[2016-09-27 16:28] pboisvert commented on #6762
closing this as duplicate of #6122

issue being tracked internally in MAGETWO-59047

[2016-09-27 16:28] #6762 closed, assigned to nobody

[2016-09-27 16:36] leeuweriq commented on #3307
Also building an integration with a warehouse system and eagerly awaiting a fix for this issue. The whole idea of this integration is so that our customers don't have to mark every shipped order as completed in the Magento backend ;)

[2016-09-27 17:16] davepullen commented on #2906
Community 2.1.0

[2016-09-27 17:31] gahinton commented on #6771
I'm really not sure what more details I can provide other than this has happened with all version from 2.0 through 2.1.

This is on a default install with PayPal Standard checkout enabled. To see the results, just create a new order, go to the invoice and print it. The address information will be formatted as shown above.
The city, state, and zip code should all be displayed on the same lines for

[2016-09-27 17:33] skhell commented on #6606
@jtw372 I have made some tests deleting entire catalog and importing a new one. Products URL now are correctly rewrite but category URL still not they appear in this format:

[2016-09-27 17:49] pboisvert commented on #6769
@Lielcw thanks for adding the version

Can you provide step by step instructions for what you are trying to do including any error messages that are shown?

[2016-09-27 17:54] malachy-mcconnell commented on #5350
I too have changed created_in from 0 to 1.

Further to @moloughlin  comment, I tried to follow `created_in` through `Magento\Staging\Model\VersionManager`.

I wonder if the InstallData.php of `Magento\CatalogStaging\Setup` should in fact set `created_in` to be the class constant `Magento\Staging\Model\VersionManager::MIN_VERSION` noting `const MIN_VERSION = 1;` and not 0.

I am confused because I

[2016-09-27 18:32] jstoel commented on #6631
I found a solution. @heldchen suggested to look for javascript errors while the page was loading and this error came up: Cannot read property 'replace' of null.

A little google search brought me to this link: http://magento.stackexchange.com/questions/127537/magento-2-1-uncaught-typeerror-cannot-read-property-replace-of-null. I followed the work around instructions and boom, the new product page

[2016-09-27 18:32] #6631 closed, assigned to nobody

[2016-09-27 18:43] Lielcw commented on #6769
@pboisvert  Thank you for response!
Yes i go in the backend to system >> User Roles and  Push the button "Add New Role" this give directly
::::Notice: Undefined index: title in /home/xxxxxx/xxxx/xxxxxx/xxxxx/xxxxx/vendor/magento/module-integration/Helper/Data.php on line 24
:::::::#0 /home/xxx/xxx/xxxx/xxxxl/xxxxx/vendor/magento/module-integration/Helper/Data.php(24): Magento\Framework\App\ErrorHa

[2016-09-27 21:35] blizzardengle commented on #5769
I have the same issue. I even went into the configuration and added my personal email as a CC and I still don't get sent an email to warn me a new order was placed.

Any update in this. I am using the Magento 2.1

[2016-09-27 21:49] Tapin1 commented on #6040
I have the same issue.

"Free shipping" method still visible (available) when you change cart (below free shipping threshold) during checkout.
For ex.
1) set free shipping amount to $50 (or any value you like)
2) Go to your store and add to cart any 2 items total cost of ABOVE 50$ ($45+$45 for example)
3) Go to check out. Complete checkout form
4) You'll see free shipping method - it's OK
5) No Go

[2016-09-27 21:55] Tapin1 opened #6780 "Free Shipping stuck on checkout page when update qty on Checkout Cart page"
**"Free shipping" method still visible (available) when you change cart (below free shipping threshold) during checkout.**
### Preconditions
1. Magento ver. 2.1.0
2. PHP 7
### Steps to reproduce

1) set free shipping amount to $50 (or any value you like)
2) Go to your store and add to cart any 2 items total cost of ABOVE 50$ ($45+$45 for example)
3) Go to check out. Complete checkout form
4) You'l

[2016-09-27 22:19] tcytra opened #6781 "Magento 2.1 API products extension_attributes returns null"
The task at hand is to synchronize the Magento products qty with data from a POS. A simple code sample provided at http://devdocs.magento.com/guides/v2.1/howdoi/webapi/filter-response.html is not working as expected. The API does return product information, but the extension_attributes always returns null.
### Preconditions
1. Magento 2.1.0
2. PHP 5.6
### Steps to reproduce

Performed a curl with

[2016-09-28 03:02] sanjayjethva commented on #5762
If any one found the solution to above problem than please let me know.
Thanks in advance.

[2016-09-28 04:14] trongkhoa1103 opened #6782 "[Fixed] missing "," in "New Order" Email template Magento_Sales"
### Preconditions

1. Magento version 2.1
2.
### Steps to reproduce

1. Load New Order Email Template from Admin
2. Get Error Message
3.
### Expected result

1.
### Actual result

1. [Screenshot, logs]

[2016-09-28 03:56:20] main.CRITICAL: Zend_Json_Exception: Decoding failed: Syntax error in /vendor/magento/zendframework1/library/Zend/Json.php:97
Stack trace:
#0 /vendor/magento/module-email/Model

[2016-09-28 04:45] mrkhoa99 commented on #6782
@lytrongkhoa  your issue was fixed on current branch: https://github.com/magento/magento2/blob/develop/app/code/Magento/Sales/view/frontend/email/order_new.html

[2016-09-28 04:56] mohanbmahajan commented on #5695
@mbrinton01 I was using /rest/V1/customers/me using admin token.

[2016-09-28 05:48] sumitgithub commented on #6671
same problem while updating an product with category changes

[2016-09-28 06:43] lucscu commented on #5808
@ilol could you post the code to fix this bug like you done here https://github.com/magento/magento2/commit/7597a52dbf7179106b4ebba928dc04efbe6a8c78?

[2016-09-28 06:44] lucscu commented on #4321
@tkacheva I think it is not an issue, in production mode it works correctly.

[2016-09-28 06:49] ankursachdeva11 commented on #6688
@veloraven ,
1. Magento ver. 2.2.0-dev without sample data is installed.

Steps to reproduce
1. After upgrade i have used command setup:upgrade.
2. Then i have deploy the static content.
3. After doing all this when i tried to open website then all static links include version number in that.
[http://domain]/pub/static/version1474443317/frontend/Magento/luma/en_US/mage/calendar.css

Expected resul

[2016-09-28 06:57] ankursachdeva11 commented on #6361
Hi @choukalos,

My concern is only for order creation because when i run performance script via command line then only this throw error for primary key.

Can you please let me know where i need to change in benchmark.jmx to create order on existing instance which is already having test order or anything so that i do not need to clean magento installation every time to run performance script.

Also

[2016-09-28 07:08] mohammadkokash commented on #6602
@tkacheva we didnt go deep to figure out the cause, we re-installed magento2.1 manually instead of using softoculus installer, and i upgraded to php7 on server instead of 5.6 and thats solved the issue.

Thanks

[2016-09-28 07:11] kanduvisla opened #6783 "M2.1.1 : PHP Throws Fatal Error when I use a Magento class in my header, but not literally in my class"
I'm not sure if this is a bug in Magento, or a PHP thing, but I've experienced 2 times already that PHP throws a fatal error in the following conditions:
- I use a Magento class in my header (see code example below)
- I don't literally use it, but only in a comment
### preconditions

See the following code:

[code]
### result

However, this will throw the following PHP Fatal Error:

[code]

The sa

[2016-09-28 07:15] lucscu commented on #6018
@choukalos On my env all js and css are bundled & minified, but product's pages are very bad user experience due to slowness of fotorama js.
Are you agree?
Do you have a fix to correct it or we have to install a 3rd part extension?

[2016-09-28 07:20] erik-augustin commented on #5876
when i export configurable item with multiple text swatches only one text swatch is exported(at field configurable_variations)

[2016-09-28 07:23] nissablagojevic commented on #5762
I am experiencing the same issue as @staffrob, CE 2.1.1 . Disabling the simple products that are out of stock in the configurable product's "Configurations" area resolves this, but this is obviously not a sustainable solution long-term. Screenshot below for where that option is.
![screen shot 2016-09-28 at 5 21 40 pm](https://cloud.githubusercontent.com/assets/8943847/18904171/16dbea06-85a0-11e6-9

[2016-09-28 07:23] erik-augustin commented on #6079
configurable item with multiple text swatches shows with export only one text swatch at field configurable_variations,

[2016-09-28 07:23] andidhouse commented on #6018
@choukalos The bundling and minify is another topic here. As far as i know this does not work correctly and is reported several times here.

As @LucScu states here - also if we bundle and minify js and css this has no huge effect. The loading time of the script is simply inacceptable for a mobile or tablet user.

[2016-09-28 07:43] robinhuy opened #6784 "Configuration menu error when change Frontend Development Workflow to Client side"
I'm using Magento 2.1.1 (clone from Github).

When I change Frontend Development Workflow to Client side, menu of configuration page error. It's hard to reading menu item:

![css error](https://cloud.githubusercontent.com/assets/12640832/18904634/599c38c6-8589-11e6-9dc7-e6837450981e.jpg)

[2016-09-28 07:46] mrkhoa99 commented on #6784
@robinhuy you should delete `pub/static/adminhtml` and `pub/static/frontend`, And then, run static deploy command again.

[2016-09-28 07:51] romainruaud commented on #5339
@maderlock I managed to get it working on custom entity attributes by reporting this line : https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Model/ResourceModel/Eav/Attribute.php#L827

to my attributes.

I think the "raw" EAV attributes are not usable "as is", because when looking at catalog eav attributes, they add a lot of code to get them working. There is this one rega

[2016-09-28 07:56] robinhuy commented on #6784
@mrkhoa99 thank you, it's work. I don't know must to delete `pub/static/adminhtml` after change Frontend Development Workflow.

[2016-09-28 07:56] #6784 closed, assigned to nobody

[2016-09-28 08:04] viktym commented on #4263
Hi @snez
We've created internal ticket MAGETWO-59052 to address this issue
Thank you

[2016-09-28 08:10] lucasalfaro commented on #5357
Hi,

I am also experiencing this issue. Everything was working fine, untill I started having this issue after clearing cache and redeploying.

I am using:

Magento 2.1
Nexcess share server
Developer mode
template bought (and working fine untill now)

L.

EDIT: Apparently it was a genuine error of my bought template provoked after changing some settings. Therefore I can consider this issue solved.

[2016-09-28 08:26] Asitis opened #6786 "M2.1 - Media attribute doesn't show in backend"
### Preconditions

Magento 2.1 / PHP7.07 / Apache VPS
### Steps to reproduce
1. Add attribute as 'Media image', set Global
2. Add attribute to Attribute Group, assigned to simple product
3. Open simple product, attribute not showing
### Expected result

Attribute showing like other custom attributes I have added before
### Actual result

Attribute showing in column on backend product listing, but

[2016-09-28 08:44] SerhiyShkolyarenko commented on #5969
Rechecked on 2.0.9 and didn't reproduce the issue with enabled checkout agreements.
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue on 2.0.9, please describe the steps from clean install.

[2016-09-28 08:44] #5969 closed, assigned to SerhiyShkolyarenko

[2016-09-28 08:53] Vinai commented on #5091
Do you have an update on this issue? Is it planned to be integrated? It would be so nice to be able to run JS tests again using the spec runner as intended.

[2016-09-28 09:03] ilol commented on #5808
Sorry, mistake. The issue is nor fixed yes. This is tracking number: [MAGETWO-59075](https://jira.corp.magento.com/browse/MAGETWO-59075)

[2016-09-28 09:12] veloraven commented on #6508
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-28 09:12] #6508 closed, assigned to nobody

[2016-09-28 09:17] sumitgithub commented on #4487
I am using 2.1.1 and still getting this error.

[2016-09-28 09:17] thirumoorthyp opened #6787 "Magento 2.7 and 2.1.1 - While changing the password form the my account page User group changed to default customer group"
While changing the password from the my account page user group changed to default customer group. For example : 1) I have created Customer group named "XXXX Group" 2) I have created a user with "XXXX Group" from admin panel. 3) When i change the password from the my account change password section, the current user group has been assigned to default User group.

Note:
I have checked both the vers

[2016-09-28 09:18] sevos1984 commented on #6759
I can't reproduce this. Ensure you have permissions set correctly, try clearing magento and browser caches.

[2016-09-28 09:36] ihor-sviziev commented on #6688
@ankursachdeva11 this is expected behavior. Why don't you want to have static version in URL?
Such URLs will be correctly handled by magento. If you have any issues - check your server configuration (see my prev reply).

This feature needed to prevent any issues for customers that already have cached files in browser from old static version.

[2016-09-28 09:36] daanggc commented on #4449
@PRAKASHSIVASANKAR
Works for me, thanks!

[code]

@JerVoo
I have it on a 2.1.1 installation, so it is still present.

The solution from @PRAKASHSIVASANKAR is not a permanent solution, so this really needs to be looked at!

[2016-09-28 09:47] lucscu commented on #5808
@ilol thx for update.
How could i visit your link? It seems that i can't access to it.

[2016-09-28 09:55] skhell commented on #6606
@veloraven
Olga I made another test within the Magento Backend and console:

### The console method:

`php bin/magento index:reindex`

**Result:**
Reindex is correctly executed but no categories is rewritten, the path remain the same as reported before.

### The backend method
1. login to the backend
2. go to the category menu
3. select the tshirt category
4. press the save button on top right

**

[2016-09-28 09:59] SerhiyShkolyarenko commented on #6734
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines). Also please clarify which steps you perform on frontend/backend and which you perform using REST API.

[2016-09-28 10:02] thdoan commented on #4795
I'm getting a similar error when running `magento sampledata:deploy` on Magento 2.1.1:

[code]

Did anybody ever find a workaround for this?

[2016-09-28 10:10] thdoan commented on #4636
I'm getting a similar error when running `magento sampledata:deploy` on Magento 2.1.1:

[code]

The only solution I could find was https://mage2.pro/t/topic/327.

UPDATE: I just applied the patch from above and can confirm that it works :). The only difference is I modified this file: `vendor/magento/module-sample-data/Model/Dependency.php`.

[2016-09-28 10:25] danslo commented on #4795
@thdoan That's not related to this issue, but I have encountered that as well.

That command expects a composer.json for your modules, even when it's just in your `app/code` directory. You can either create that file (with appropriate content), or temporarily disable the module (app/etc/config.php) and move the files out of the way, while you install sampledata.

[2016-09-28 10:28] mbrinton01 commented on #6730
@Giri-Happiest-Minds when reporting an API issue please provide the exact API call including body so our teams can reproduce the issue. Thanks!

[2016-09-28 11:08] mbrinton01 commented on #6552
Hello @impekablenarender, I am closing this issue since there has been no response. If you are still having trouble with this please open a new issue. You may add me to any new related issue.

[2016-09-28 11:08] #6552 closed, assigned to mbrinton01

[2016-09-28 11:22] ignaciomella commented on #6018
I cannot stand this. Product images loads too slow.

There's a temporary solution posted in StackExchange

[http://magento.stackexchange.com/questions/134834/how-can-we-load-product-image-gallery-instantly-without-the-delay-in-magento](http://magento.stackexchange.com/questions/134834/how-can-we-load-product-image-gallery-instantly-without-the-delay-in-magento)

From what I read there, this proble

[2016-09-28 11:29] voleye commented on #3489
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-28 11:29] #3489 closed, assigned to nobody

[2016-09-28 11:34] nuzil opened #6788 "Impossible to Edit "Pages" for Super-Admin users in Magento Enterprise Edition"
### Preconditions
1. Magento EE - 2.1.1 - Clean Installation
2. System has 2 Websites
3. Was created separate Admin user/role and gave him an access just to 1 website (Magento EE Feature under System -> User Roles -> Role Resources)

<img width="1430" alt="screen shot 2016-09-29 at 13 12 20" src="https://cloud.githubusercontent.com/assets/1667889/18951614/63fed09a-8646-11e6-84fc-983db21e5efc.png">

[2016-09-28 11:35] ilol commented on #5808
That is our internal system, I can`t grant access to you

[2016-09-28 12:00] mbrinton01 commented on #5553
@nickmarx12345678 please let us know if this issue can be closed or you need additional support.

[2016-09-28 12:31] nuzil opened #6790 "Impossible to Create/Edit "CMS Block" for Super-Admin users in Magento Enterprise Edition"
### Preconditions
1. Magento EE - 2.1.1 - Clean Installation
2. System has 2 Websites
3. Was created separate Admin user/role and gave him an access just to 1 website (Magento EE Feature under System -> User Roles -> Role Resources)

<img width="1430" alt="screen shot 2016-09-29 at 13 12 20" src="https://cloud.githubusercontent.com/assets/1667889/18951627/74a6c542-8646-11e6-98e1-fa4325f763a4.png">

[2016-09-28 12:40] webtekindo commented on #2065
same for me on a fresh instal 2.1.1

[2016-09-28 12:44] RUjmiak commented on #5513
@andimov And where is solution? What should be in template? Where is documentation to it? What is email type? In request is template but in error is field email type.

Try to help people not to close as much tickets as it is possible

[2016-09-28 13:07] mbrinton01 commented on #5695
Hello @mohanbmahajan the admin token is not required.  The route `rest/V1/customers/me` can be used by a logged in user without a token to return information about that customer.  Please try the following:
1. Go to storefront in browser
2. Create user account
3. Login to user account
4. Enter URL `http://<hostname>/rest/V1/customers/me`, replacing `<hostname>` with the server you are using

This w

[2016-09-28 13:39] nuzil commented on #6790
Also a question: Is it possible to make a Pull Request for Magento EE?

[2016-09-28 13:45] sevos1984 commented on #5376
This was fixed in 2.0.8, try updating your code base

[2016-09-28 13:47] mohanbmahajan commented on #5695
I wanted to retrieve the customer info using rest APIs not using web interface.
I think I was doing it wrongly.. I have to get token of the customer & then fetch /rest/V1/customers/me using that token.
Thanx @mbrinton01

[2016-09-28 13:47] #5695 closed, assigned to mbrinton01

[2016-09-28 13:55] mbrinton01 commented on #3986
Hello @owenhaynes, @mujtaba2012 is correct. You need to specify the item(s) to be in the shipment in your call. Please try the call again using his feedback and let us know if you receive an error.

[2016-09-28 13:57] jsakars commented on #5376
@sevos1984 we are using 2.0.8 - issue is still present. For example, I can see flash message for `product added to the cart` in CMS page

[2016-09-28 13:59] Hawk30100 commented on #5918
I just installed a fresh Magento 2.1.1 on our development environment. The problem seems to be solved in 2.1.1.

[2016-09-28 14:00] Hawk30100 commented on #5882
I just installed a fresh Magento 2.1.1 on our development environment and it seems like the problem was solved in 2.1.1.

[2016-09-28 14:01] Hawk30100 commented on #5969
I just installed a fresh Magento 2.1.1 installation in our development environment and it seems like the problem does not excist any longer.

[2016-09-28 14:02] viktym commented on #6716
Hi @joebusby
We've created internal ticket MAGETWO-59086 to address this issue.
Thanks for reporting.

[2016-09-28 14:10] SerhiyShkolyarenko commented on #6746
@Omar-Oleh have you created currency rates?
What is base currency for your store?

[2016-09-28 14:16] mitulispace opened #6791 "code folder missing in magento 2.1"
Code Folder Missing in magento 2.1

[2016-09-28 14:25] nuzil commented on #6791
I guess its not missing, you just installed your system via composer with use vendor folder settings and all your /app/code files are in /vendor folder, just have a look into /vendor/magento ..

[2016-09-28 14:30] springimport commented on #2999
Partial disable cache.

![0cd11-clip-96kb](https://cloud.githubusercontent.com/assets/18581994/18917688/7eedab00-8566-11e6-8802-9abfc2104ec7.png)

https://toster.ru/q/357427?e=4400522#comment_1193422

[2016-09-28 14:34] sma09sjb opened #6793 "Search weight not changing relevance of results"
Magento version 2.1.1
### Steps to reproduce
1. Set name product attribute to search weight 10
2. Set short_description product attribute to search weight 1
3.  reindex the search php bin/magento indexer:reindex, clear the cache
4. Search for a specific product by name i.e. "Test Product Name"
### Expected result

1. the most relevant product should be first in the list i.e. the product with name

[2016-09-28 14:45] SerhiyShkolyarenko commented on #6746
@Omar-Oleh reproduced. Answers to that questions are not necessary. Thank you for reporting issue!

[2016-09-28 14:45] sevos1984 commented on #5260
Internal ticket created MAGETWO-59090. Thanks for reporting

[2016-09-28 14:53] hostep opened #6795 "Billing Address exception validation messages are lost in another exception"
### Preconditions
1. Magento CE 2.1.1
2. PHP 7.0.10
### Steps to reproduce
1. Login as an existing customer in the shop
2. Add something to your cart and go to the checkout
3. Somehow manage to have invalid data in your billing address
4. Pick a payment method and click the "Place Order" button
### Expected result
1. A useful message telling you why your billing address isn't valid
### Actual resu

[2016-09-28 14:54] cuiyang000 commented on #5762
Can confirm the same problem as @staffrob in 2.1.1

[2016-09-28 15:05] isydorenko commented on #1688
It's not possible to get access to product or item data from a plugin, almost all methods are protected.

[2016-09-28 15:23] nickmarx12345678 commented on #5553
Close it

On Wed, Sep 28, 2016, 5:01 AM Mark Brinton notifications@github.com wrote:

[2016-09-28 15:30] delgadito13 opened #6796 "totalsData not updating correctly in checkout - shipping cost not being included"
We are working on a project for a client and are using for them Magento 2.1 in Magento Cloud.
The issue we have detected is regarding the totalsData object. As it seem it does not include the shipping cost of the chosen shipping method.
steps to reproduce:
- go to home page
- browse to product or search for products
- add product(s) to the cart/bag
- goto cart/bag
- review the bag
- checkout
- ent

[2016-09-28 19:31] ajaymscit commented on #6167
Any solution on this issue?

I am running Magento 2, having 900 Configurable products ( 113 associated products with each configurable product)
Magento2 speed is too slow. We are loading 40-60 configurable products and page shows blank. Earlier it was 24 products in listing, at that time it was taking too much time. Now page looking totally dead.

We tried to enable varnish with it but most of the

[2016-09-28 19:35] ajaymscit commented on #4904
Hello Team,

I am also facing same kind of problem.

I am running Magento 2, having 900 Configurable products ( 113 associated products with each configurable product). Total 1,01,700 products in current store.

Magento2 speed is too slow. We are loading 40-60 configurable products.

We tried to enable varnish with it but most of the time it gives 503 error and speed is not changed too much.

Any

[2016-09-28 19:41] pboisvert commented on #6167
@choukalos is there a pointer to the commit for this issue as I believe it is fixed and awaiting a release

[2016-09-28 19:43] mombrea commented on #5670
+1
![snip_20160928154259](https://cloud.githubusercontent.com/assets/915300/18929382/419f764e-8592-11e6-8446-9a53d10521a6.png)

[2016-09-28 20:59] pynej commented on #4904
On 2.1 its a lot better.  We still use varnish to brink 4-5s loads down to 2s. (We were at 20s before the patches)

[2016-09-28 21:21] hyperwebmedia commented on #5713
a:4:{i:0;s:94:"Initialization error component, check the spelling of the name or the correctness of the call.";i:1;s:6175:"#0 /home/truewholesale/public_html/vendor/magento/framework/View/Element/UiComponentFactory.php(139): Magento\Ui\Model\Manager->prepareData(NULL)

This is the error Im reading in the reports. Can anyone advise?

Edit : This is painfully annoying.

[2016-09-28 22:13] djfordz opened #6797 "illegal string offset 'is_in_stock' when attempting to modify product imported from M2ePro."
### Preconditions

1. CentOS6
2. Percona Server 5.6
3. PHP 7.0
4. Magento 2.1.1
### Steps to reproduce

1. import products via M2EPro
2. Attempt to edit product in Product->Catalog
3.
### Expected result

1. form should appear to edit product
### Actual result

1. [Screenshot, logs]
   illegal string offset in app/code/Magento/CatalogInventory/Ui/DataProvider/Product/Form/Modifier/AdvancedInventor

[2016-09-28 23:53] aaronallen8455 opened #6798 "USPS container type must be variable"
In store configuration, when USPS container field is set to anything other than 'variable', no methods display in checkout. When set to 'variable' I get all applicable methods displayed but if I set it to 'flat rate box', no methods are displayed even though there are flat rate box methods displaying when I set it to variable.

### Preconditions

Magento 2.1.1, php7

1. USPS web tools account is s

[2016-09-29 02:17] thdoan commented on #4795
@danslo Yeah sorry about that, I eventually found the right [issue #](https://github.com/magento/magento2/issues/4636) but forgot to delete this comment.

[2016-09-29 02:25] staffrob opened #6799 "Configurable products with first simple product 'out of stock' breaks catalog 2.1.1"
### Preconditions

1.  Magento 2 CE 2.1.1, PHP7, MYSQL14.14
### Steps to reproduce

1. Fresh install 2.1.1
2. add new configurable product with multiple simple products (ie color red,blue,yellow with qty's >0)
3. Product is now displaying on frontend as expected
4. Now go back to admin and mark first (lowest product id) simple product as 'out of stock'.
### Expected result
1. Display configurable

[2016-09-29 02:38] sonywibisono opened #6800 "icon not shown on https:// site"
I was new to install this platform, but I get a problem, that the icons cannot shown, only shown square box...

how to set this platform on https:// properly ...
thx

[2016-09-29 03:34] jedhodson commented on #6800
Just checked my site. Same issue. I have permanent http > https redirects in place. When I try to navigate to https://[SITE]/favicon.png (I have tried several different extensions including ico) it doesn't load. Just constantly loading. Have tried multiple browsers. Don't think its a permission problem, but will check that.

Could you update your thread to include more about your Magento installat

[2016-09-29 03:51] jedhodson commented on #6800
Ok just checked permissions. No difference, I set them to the dreaded 777 with no change. Word of warning - It did for some reason break the site. Had to refresh cache from a SSH terminal and restart apache

[2016-09-29 03:58] jedhodson commented on #6800
Here is my final findings on the issue.
`DOM7009: Unable to decode image at URL: 'https://www.inticdev.com.au/favicon.png' with MIME: 'image/png'. favicon.png`

[2016-09-29 04:27] mitulispace commented on #6791
This folder  perfect ??  @nuzil

![capture1111](https://cloud.githubusercontent.com/assets/16436069/18941033/0f4bb0d8-862b-11e6-9c3e-9541b61daa78.PNG)

[2016-09-29 05:25] mitulispace commented on #6791
Thanks.... @nuzil    I got it...

[2016-09-29 05:25] #6791 closed, assigned to nobody

[2016-09-29 05:47] shoshweb commented on #4274
Hi,
I am having this same issue and just can't seem to resolve it.
I'm pulling my hair out.
I'm not even sure how to ask for help now, as I've tried everything mentioned in this post and the posts linked to this post.
So.. any new ideas?
I really want to be able to use a custom.css.
Thanks so much,

[2016-09-29 05:48] shoshweb commented on #4330
I've got this same issue. And actually, the one thing I haven't done is change the setting to/from virtual. I don't know if this is best practice tho?
Hmm.
I'm a bit desperate to get this sorted out. Any fresh ideas?

[2016-09-29 06:34] shashankitsoft commented on #4330
@shoshweb Do it, as I have found and already suggested. Change virtual to physical, . It will be solved.

[2016-09-29 06:37] shoshweb commented on #4330
Thank you so much.
Would you be able to give me a little description on how to do that?  Or point me to somewhere that describes how?
And thank you Shashankitsoft!

[2016-09-29 06:42] shashankitsoft commented on #4330
@shoshweb You should have red this post comments first before asking again, its already there.
Anyways, https://github.com/magento/magento2/issues/4330#issuecomment-215537090

[2016-09-29 06:48] lucscu commented on #5808
yes i understand, hope you fix this early, thx

[2016-09-29 07:08] shoshweb commented on #4330
Um. lol.. I did read it.
It's not enough information for me.
Do you know where I can find more information about how to change 'type' column corresponding to my child theme? I had a look in phpmyadmin - I cant find a type table nor  my child theme.. but I may not know how to look.
I am not as advanced as you and need a few clues.
Thanks.

[2016-09-29 07:15] shashankitsoft commented on #4330
@shoshweb 'type' is column name, table name is => 'theme', already mentioned. Reading plain english doesn't need advanced user.

[2016-09-29 07:17] shoshweb commented on #4330
I'm always quite put off about writing on here, It's like a rule to be rude first and ruder later. Odd.

[2016-09-29 08:03] viktym commented on #6771
Thanks for the feedback @gahinton
We've created internal ticket MAGETWO-59112 regarding this.

[2016-09-29 08:04] sanjayjethva commented on #5762
I don't know why @magento-admin is not replying to this problem.
How can we prefer our customer's to use such a system where lots of bugs are still there.

Thanks

[2016-09-29 08:08] miakusha commented on #6799
Hi @staffrob , thank for report
Internal ticket MAGETWO-58922,  is in our issue backlog.

[2016-09-29 08:25] sergiojovanig commented on #4828
I can confirm this bug in Magento 2.1.1.

As @hostep says, I had JS Bundling enabled. Once I disabled it, editor started working.

Thanks @hostep

[2016-09-29 08:32] SerhiyShkolyarenko commented on #6796
@delgadito13 window.checkoutConfig.totalsData is dataset for **initializing** JS components. Its data is actual on page loading moment only. If you reload page you'll see actual info there.
Dynamically updated totals are stored in `totals` property of code/Magento/Checkout/view/frontend/web/js/model/quote.js component. To work with it please use `getTotals()` and `setTotals()` methods.
Usage examp

[2016-09-29 08:48] SerhiyShkolyarenko commented on #4456
Dynamically updated data is stored in quote.totals. See details in #6796.

[2016-09-29 08:50] sivaschenko commented on #5762
Updating catalog_product_relation table from catalog_product_super_link resolved this issue.

[2016-09-29 09:01] schmengler opened #6802 "Magento\Search\Helper\getSuggestUrl() not used in search template"
### Preconditions

1. Magento 2.1.1
### Steps to reproduce

1.  Create a plugin for Magento\Search\Helper\getSuggestUrl() to add custom autosuggest feature
2. Type something in the search box
### Expected result

1. the custom URL should be used
### Actual result

1. the default "search/ajax/suggest" URL is used

The problem is that `getSuggestUrl()` is never used anywhere in the core code. Instea

[2016-09-29 09:14] ziiljuks commented on #4232
Still present in Magento CE 2.1.1

[2016-09-29 09:24] SerhiyShkolyarenko commented on #4883
@pareshe @jernejh @Tjitse-E @SchumacherFM @onepack @heldchen sorry for slow reply. We created internal issue MAGETWO-59123.

[2016-09-29 09:32] sevos1984 commented on #5661
@farior I can't recreate that, have you set your currency rates correctly?

[2016-09-29 09:34] SchumacherFM commented on #4883
Thank you. That took you 4 month ...

[2016-09-29 09:39] heldchen commented on #4883
appreciated, @SerhiyShkolyarenko

[2016-09-29 09:39] heldchen commented on #6799
probably a duplicate of #6422 and related to #6512

[2016-09-29 09:40] miakusha commented on #6122
Hi @heldchen , thank for report, yes we've created internal ticket MAGETWO-59047

[2016-09-29 09:42] miakusha commented on #6610
Hi @ludwig-gramberg , thank for report
I've linked this GitHub issue to internal ticket MAGETWO-59126

[2016-09-29 09:47] sevos1984 commented on #5661
@ronnybremer Can you please create new issue with detailed steps to reproduce?

[2016-09-29 09:56] sevos1984 commented on #5343
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-29 09:56] #5343 closed, assigned to nobody

[2016-09-29 10:06] Yonn-Trimoreau commented on #5687
+1

[2016-09-29 10:07] sevos1984 commented on #5376
Have you tried 2.0.9. This looks like https://github.com/magento/magento2/issues/4336 https://github.com/magento/magento2/issues/4186 https://github.com/magento/magento2/issues/3503 that are fixed already. Check that you have respective commits.

[2016-09-29 10:08] hostep commented on #4828
@tkacheva: can you elaborate a little bit on your comment?
Are you saying you are trying to make the TinyMCE plugin working in the current codebase, or are you going to drop it entirely and replace it with something else?
If the last one is the case, then it will probably take months until we see an improvement here, right?

Because currently this issue is preventing us from putting shops into pro

[2016-09-29 10:24] olysenko commented on #5467
Issue was fixed and delivered into develop branch (see commit [14028aa](https://github.com/magento/magento2/commit/14028aad37ee7435d89eb3b647e6d03ecd8e2e13) )
Issue closed as fixed

[2016-09-29 10:25] #5467 closed, assigned to nobody

[2016-09-29 10:34] andimov commented on #6485
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-29 10:34] #6485 closed, assigned to nobody

[2016-09-29 10:50] R4c00n opened #6803 "Product::addImageToMediaGallery throws Exception"
Hi folks,
I'm trying to add some images to a product, but it's not working like expected.
### Preconditions

**Magento Version** 2.1.1
**PHP Version** 7.0
### Steps to reproduce

[code]
### Expected result

Image gets added
### Actual result

Exception gets thrown:

[code]

There's a workaround for this issue, using the `Product::save` method instead of the `ProductRepositoryInterface::save` metho

[2016-09-29 10:58] ronnybremer commented on #5661
will do

[2016-09-29 11:04] mbrinton01 commented on #6127
Thank you @dnadle for this report. We are tracking it under the internal issue MAGETWO-59130.

[2016-09-29 11:10] ronnybremer opened #6805 "Dashboard shows invalid currency for multi-currency setup"
### Preconditions

1. CE 2.1.1
2. PHP 5.6
### Steps to reproduce

1. Install CE 2.1.1
2. change default config: base currency: US-$, default display currency: US-$, allowed currencies: US-$
3. change website config: base currency: Swiss Franc, default display currency: Swiss Franc, allowed currencies: Euro, British Pound Sterling, Swiss Franc, US-$
4. add a single product "TestProduct", set price

[2016-09-29 11:11] ronnybremer commented on #6805
as a side note: I changed the display label for CHF to SFr.

[2016-09-29 11:28] tkacheva commented on #5670
Thanks for reporting the issue. Here is the public PR https://github.com/magento/magento2/pull/6035 but seems to be stuck
 Internal issue MAGETWO-59127

[2016-09-29 11:32] tkacheva commented on #6070
Closing as duplicate of https://github.com/magento/magento2/issues/5670 as there is more details

[2016-09-29 11:32] #6070 closed, assigned to nobody

[2016-09-29 12:00] veloraven commented on #6787
@thirumoorthyp thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Does step 3 relates to action from frontend from customer's 'My Account'? It seems to be so from description but not clear.
Please also update the title w

[2016-09-29 12:05] farior commented on #5661
@sevos1984 Yes, currencies are ![OK](http://dl2.joxi.net/drive/2016/09/29/0008/0597/553557/57/fd3ebc5f04.jpg)

[2016-09-29 12:13] veloraven commented on #6602
I'm closing this issue as ther problem is not actual any more for the reporter.

[2016-09-29 12:13] #6602 closed, assigned to nobody

[2016-09-29 12:15] veloraven commented on #6569
We are closing this issue because it hasn’t been updated by the reporter in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-29 12:15] #6569 closed, assigned to nobody

[2016-09-29 12:16] sevos1984 commented on #4842
Internal ticket created MAGETWO-59135. Thanks for reporting

[2016-09-29 12:19] sevos1984 commented on #3879
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-29 12:19] #3879 closed, assigned to nobody

[2016-09-29 12:21] veloraven commented on #5744
I'm closing this issue as it is not actual for the reporter any more.
If you have the same issue please clear your browser cache including offline website data.
If you still have similar problem, please create new issue formatting it according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expecte

[2016-09-29 12:21] #5744 closed, assigned to nobody

[2016-09-29 12:24] veloraven commented on #3386
I'm closing this issue as it was fixed.
If you can still reproduce this issue, please create a new GitHub issue report formatting it according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-09-29 12:24] #3386 closed, assigned to nobody

[2016-09-29 12:32] sevos1984 commented on #4775
This was already fixed. See commits 541ec806cae729df118b7844f5d105cbf1a6cec6, 55a6e51296afd2c52cfe7f813a4871ae408f1afc, b4d373919489ccb48af10c5ac287ef39e3af384e, eec31f653e3783d0ba86602c8396fd6e2d159546, af2a8325930ae22e2b7ae3f6513c0068217eacd1, d97ebe56200b73e71d97ca527c99108817586a54, 3120b1e89f48ff630e796c6885aecc3e48c070c8 and 66e6ad66c028e99019c110631df4c9015af4a2ca. Thanks

[2016-09-29 12:32] #4775 closed, assigned to nobody

[2016-09-29 12:38] sevos1984 commented on #6468
Internal ticket MAGETWO-59135. Thanks for reporting

[2016-09-29 12:38] SerhiyShkolyarenko commented on #6795
@hostep thank you for reporting! This issue duplicates #6246. Fix will be delivered there.

[2016-09-29 12:38] #6795 closed, assigned to SerhiyShkolyarenko

[2016-09-29 12:38] veloraven commented on #5595
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-29 12:38] #5595 closed, assigned to nobody

[2016-09-29 12:39] #5257 closed, assigned to nobody

[2016-09-29 12:39] #2470 closed, assigned to nobody

[2016-09-29 12:40] veloraven commented on #2120
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-29 12:40] #2120 closed

[2016-09-29 12:43] sevos1984 commented on #6561
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-29 12:43] #6561 closed, assigned to sevos1984

[2016-09-29 12:45] sevos1984 commented on #6356
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-29 12:45] #6356 closed, assigned to sevos1984

[2016-09-29 12:45] viktym commented on #6731
Hi @lsv
We've created internal ticket MAGETWO-59136 to address this issue.
Thanks for the feedback.

[2016-09-29 12:50] SerhiyShkolyarenko commented on #6795
our internal ticket for 2.1.x branch is MAGETWO-55065.

[2016-09-29 12:52] SerhiyShkolyarenko commented on #5969
thank you for update.

[2016-09-29 12:54] #6531 closed, assigned to victor-v-rad

[2016-09-29 12:56] victor-v-rad commented on #6531
Fell free to reopen the issue when you have additional information.

[2016-09-29 12:57] victor-v-rad commented on #6587
Fell free to reopen the issue when you have additional information.

[2016-09-29 12:57] #6587 closed, assigned to victor-v-rad

[2016-09-29 12:59] sergy-gzh commented on #2065
Spotted this issue on 2.1 after enabling js merge in the backend.
@daim2k5 can you please double check it?

[2016-09-29 13:00] shashankitsoft commented on #2567
I am also facing the same issue on Magento 2.0.9. Amazing it not fixed till this version.

[2016-09-29 13:02] mantonuk commented on #6587
Hi Victor.
I got all attributes on last version of magento 2.1 using "data migration tool".
I forget to sent answer ;)
sorry

[2016-09-29 13:11] SerhiyShkolyarenko commented on #3148
@chicgeek @skmomemo @jamescowie thank you for reporting the issue!
For 2.1.x branch our internal ticket is MAGETWO-59024.

[2016-09-29 13:23] miakusha commented on #6764
Hi @lexbeelen, thank for reports

We've created internal ticket MAGETWO-59141 to address this issue.

[2016-09-29 13:23] sevos1984 commented on #6793
This is a known issue MAGETWO-56114, thanks for reporting

[2016-09-29 13:31] antboiko commented on #5775
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed.

Please feel free to reopen or create a new one with adding more details.

Thanks,
Anton.

[2016-09-29 13:31] #5775 closed, assigned to nobody

[2016-09-29 13:32] rliukshyn commented on #6372
Hi @rbostan ,
Unfortunately i could not reproduce this issue on specified environment.

[2016-09-29 13:40] sma09sjb commented on #6793
Do you have any idea when there will be a fix for this? Is there a workaround i can implement in the interim, or shall we look to purchase an extension to improve the standard search?

We're hoping to launch the site we're working on in a few weeks so it's important our search is working before then.

Thanks,

Sophie

[2016-09-29 13:43] sevos1984 commented on #6786
Media image attribute is treated as new role in product video upload. This is not a bug

[2016-09-29 13:44] #6786 closed, assigned to nobody

[2016-09-29 13:48] R4c00n commented on #6803
I've encountered an additional bug, when using the `Product::save`-workaround:

[code]

The `ProductRepository::save` call removes all media gallery entries.

[2016-09-29 14:11] sevos1984 commented on #5981
Could you try upgrading to latest release version?

[2016-09-29 14:17] sevos1984 commented on #5988
Internal ticket created MAGETWO-59146. Thanks for reporting

[2016-09-29 14:32] grasdaggel commented on #5981
I could, but the customer doesn't allow it, so basically we are stuck on that. Or short: no. :(

[2016-09-29 14:39] viktym commented on #6798
Hi @aaronallen8455
We've created internal ticket MAGETWO-59149 to address this issue.
Thanks for the feedback.

[2016-09-29 14:48] SerhiyShkolyarenko commented on #3997
@ktruehl @apurv-anand
I didn't reproduce on latest develop branch. Do you have the same settings for persistent shopping cart?
![persistent_cart_options](https://cloud.githubusercontent.com/assets/15108140/18958906/f4d1d5ce-866c-11e6-8de4-7a08333c6720.png)

[2016-09-29 14:53] viktym commented on #3729
Hi @OleksiyOleksiyovych

We've created internal ticket MAGETWO-59147 regarding validation credit card number on backend.
Issue with saving information cc_exp_month and cc_exp_year in 'sales_order_payment' table was fixed in 2.1.x releases and develop branch. Also fix will be delivered in 2.0.11 patch release.

Thanks for the feedback.

[2016-09-29 15:00] veloraven commented on #6612
@korhan1 thank you for your report.
Unfortunately I was not able to reproduce  your problem.
Could you please provide exact html code you use as well as full description of all settings of the created Terms and Conditions item (you can use screenshot for it if you like).
Please also specify your system parameters: OS, versions of PHP, MySQL, wev-server, browser.

[2016-09-29 15:02] rliukshyn commented on #6761
This is a known issue, internal ticket MAGETWO-53913. Thanks for reporting. Duplicates ticket https://github.com/magento/magento2/issues/6299

[2016-09-29 15:04] sevos1984 commented on #6770
Problem is in attribute code length that can't be more than 30 symbols. If add code manually all works fine. I've create internal ticket for that MAGETWO-59153. Thanks for posting.

[2016-09-29 15:07] vincentwinkel opened #6807 "Order address edition from the backend disables the "region" field"
### Preconditions

1. Magento CE 2.0.9 without sample data is installed
2. Also tested on CE 2.0.7
### Steps to reproduce

1. In backend, go to Sales > Orders
2. Choose an order (not shipped I guess) with at least one address (billing or shipping) containing the "region" field set
3. Edit this address (changing fields or not doesn't matter)
4. Save
### Expected result

1. The address must be corre

[2016-09-29 15:14] mbrinton01 commented on #1002
Still tracking internally as MAGETWO-33564 for mainline fix

[2016-09-29 15:16] #6761 closed, assigned to rliukshyn

[2016-09-29 15:33] Asitis commented on #6786
Okay, that wasn't clear to me, but I still don't understand. I add the attribute to the attribute group between other custom attributes and it doesn't show. You say it's treated as a new role in product video upload, but I don't see anything there either.
Where should I find it?
Edit, nvm found it. The 'video upload' confused me. It's found in the regular product-images screen.
It's kinda strange

[2016-09-29 15:35] sevos1984 commented on #6733
I know problem about cache and local storage that need to be cleared after deployment. If you mean these problems I will link this ticket to internal.

[2016-09-29 15:44] mamsincl commented on #5172
(a) run indexer and (b) clear cache (not just M2 but browser)

[2016-09-29 16:06] yumicom commented on #6733
Problem in bad characters encoding, in production mode when Enabled JavaScript Bundling. I must to use code converter.

[2016-09-29 19:18] christopher-silvey opened #6812 "Missing column data on custom product type associated products grid"
I have created a new product type and want to display data in the associated products grid for a new link attribute named `assignedprice` located in the `catalog_product_link_attribute` table as `decimal`. However, the column is empty.

Please see what I have here. https://github.com/beckindesigns/PackageProduct

I've got to be missing something. If you look at this file on line **171** I can echo

[2016-09-29 19:30] ntoombs19 commented on #2574
@kandy @pivulic @parekhreena @huyencodon - Is a fix for this issue going to be released within the next three months? I have a client that is requesting this functionality be fixed. Adding a product to the cart from the category page is basic functionality that I am very surprised hasn't been fixed in the 10 months that this issue has been known.

[2016-09-29 19:49] ytorbyk opened #6813 "Payment method filter by Specific Countries doesn't work"
Magento 2.2.0-dev
### Preconditions
1. Customer is created
2. Braintree payment method is enabled (with test credentials)
3. Braintree payment method is available only for USA
   (Payment from Applicable Countrie -> Specific Countries,
   Payment from Specific Countries -> [United States])
### Steps to reproduce 1

1. Customer has only one address USA
2. Add at least one product to the shopping ca

[2016-09-29 20:41] techgeeksquared commented on #6120
Has there been any update on this issue, or a workaround that we could implement?

[2016-09-29 21:01] johnvanderstelt opened #6814 ".shop domain not accepted"
.shop domains are not accepted as store e-mail addresses (admin)

[2016-09-29 21:27] #6812 closed, assigned to nobody

[2016-09-29 21:29] Bartlomiejsz commented on #4488
Do you know which commit fixed it?

[2016-09-29 21:32] pitangaweb commented on #5836
I have the same issue with Magento 2.1.1 on cPanel.
Cron jobs run everytime without errors
Nothing in log files or php error log
`indexer_reindex_all_invalid` shows in `cron_schedule` table

But new products won't show if I do not manually reindex - `php bin/magento indexer:reindex`

[2016-09-29 21:34] Bartlomiejsz commented on #5344
Do you know which commit fixes it? Or which files was changed to fix this issue?

[2016-09-29 21:49] pitangaweb commented on #4653
Running magento indexer:reindex invalidates Full Page cache every time, so I cannot consider this as a fix to this issue.

[2016-09-29 23:52] theskillwithin commented on #2999
@springimport  ?

[2016-09-30 04:44] karthigesh opened #6815 "wysiwyg Editor problem"
I have installed the magento 2.1.1
It has one issue.

The main issue is if i open a page and the add any widget or image, then the toggle editor is not working it remains in the text editor and not working on the toggle funcitonality.
This causes me to save and go back to the page list and then reopen the page each time. It is annoying as it should not happen, because for a simple change also i ha

[2016-09-30 07:02] hostep commented on #6815
Related: https://github.com/magento/magento2/issues/4828

[2016-09-30 07:04] hostep commented on #6814
Duplicate: https://github.com/magento/magento2/issues/4547

[2016-09-30 07:16] romainruaud commented on #6793
@sma09sjb maybe you could give a try to our search engine implementation which features a better relevance than the standard Magento engine :  https://github.com/Smile-SA/elasticsuite

[2016-09-30 07:32] tandih commented on #5133
Hi guys,
Any update to fix that issue ? That serious issue may :(

[2016-09-30 07:33] pyyick2nd commented on #4911
@tipofloe In my case, after creating the missing files/folders specified in var/log/update.log, it can PASS the Cron script readiness check

[2016-09-30 08:09] sevos1984 commented on #6733
Do you use any other options for js files like minify or merge? As with only bundling enabled everything is fine.

[2016-09-30 08:10] SerhiyShkolyarenko commented on #6746
Our internal issue is MAGETWO-59089.

[2016-09-30 08:33] sevos1984 commented on #6755
Internal ticket created MAGETWO-59171. Thanks for reporting.

[2016-09-30 08:34] apurv-anand commented on #6759
Please note that Full Page Cache (FPC) is disabled for now (and might have to keep it that way for sometime for a reason).
When we enable the FPC, the issue is less prominent, but we sill do not get a refresh automatically.

[2016-09-30 08:35] sevos1984 commented on #6754
This is a known issue. Internal ticket MAGETWO-58174. Thanks for reporting.

[2016-09-30 08:43] apurv-anand opened #6816 "Grouped products's simple products exempt from shopping cart rule."
When a simple product (SP) associated to a grouped product is added to the cart, the cart price rules are not getting applied to them. If an individual SP is added to the cart, the rule works fine.

Here is my setup: Grouped Products have associated Simple Products. Both (GP and SPs) of them are in the same category. GPs are visible: Catalog/Search SPs are not visible individually. Magento 2.1.1

[2016-09-30 08:58] davemacaulay commented on #6122
This issue causes further problems when you have content staging on a site. As it seems content staging is removing the from_date & to_date from the cart rules form.

Fields are marked as invisible in `vendor/magento/module-sales-rule-staging/view/adminhtml/ui_component/sales_rule_form.xml`.

The underlying problem here seems to be that `Magento\Framework\Stdlib\DateTime\Filter\Date` is always ret

[2016-09-30 09:11] FinBoWa commented on #6783
It's a php thing:

http://stackoverflow.com/questions/17746481/cannot-use-x-as-y-because-the-name-is-already-in-use-even-though-its-not

But if you have opcache enabled it won't fire the fatal correctly see the bug report at https://bugs.php.net/bug.php?id=66773

[2016-09-30 09:14] sevos1984 commented on #6750
Internal ticket created MAGETWO-59174. Thanks for reporting

[2016-09-30 09:21] yumicom commented on #6733
I try to use other options for js files: minify and merge - no problems with encoding. Bad character encoding only in bundling enabled

[2016-09-30 09:34] SerhiyShkolyarenko commented on #5180
As far as second part is not confirmed for 15 days we are closing this issue as duplicate of #6557. Please feel free to create a new issue for that part if it is reproducible still.

[2016-09-30 09:34] #5180 closed, assigned to nobody

[2016-09-30 09:42] SerhiyShkolyarenko commented on #4301
@daniel-ifrim @Zaylril is it still reproducible for you on 2.0.9 or 2.1.11? if so, please clarify if you use secure catalog and secure checkout.

[2016-09-30 09:43] BenGlassAtlas commented on #6409
Any update on this please @yvoronoy - Running a production site in developer mode is not a great workaround 😞

[2016-09-30 09:44] SerhiyShkolyarenko commented on #4301
Tried double hitting F5 on checkout and didn't reproduce the issue. Version 2.1.1.

[2016-09-30 09:49] viktym commented on #6595
Hi @samuellinde
We cannot reproduce this issue as described.  Please provide the detailed steps we must follow to reproduce this issue. In addition, identify used shipping and payment methods, language package, any customizations

[2016-09-30 09:49] tkotosz commented on #4301
I can reproduce this issue in 2.0.6, but it seems it is fixed in 2.1.1

[2016-09-30 09:51] daniel-ifrim commented on #4301
@SerhiyShkolyarenko I don't have 2.1.1 anywhere. If it works for you it works for any than. Thank you!

[2016-09-30 09:59] mbrinton01 commented on #6814
@johnvanderstelt, @hostep is correct that this is a duplicate of another issue. I am closing this issue, please follow the other ticket for updates on a fix.

[2016-09-30 09:59] #6814 closed, assigned to nobody

[2016-09-30 10:00] alena-marchenko commented on #6565
Hi @kishanpatadia,

We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-30 10:00] #6565 closed, assigned to alena-marchenko

[2016-09-30 10:24] anton-huz commented on #4449
Does anybody investigate what does `ModPagespeed on` do so special, that it breaks Magento?

The solution of @PRAKASHSIVASANKAR looks like local medicine. Why do you need to switch off module that does not installed by default? Why it should break Magento installation?

For example PageSpeed [can eliminate html comments](https://developers.google.com/speed/pagespeed/module/filter-comment-remove).

[2016-09-30 10:39] szreka opened #6817 "Billing address information goes missing after refreshing Payment page on checkout"
### Preconditions

Magento 2.1.0
### Steps to reproduce
1. Go to checkout after adding a product to basket.
2. Fill in the form and go to Payment page.
3. Refresh the page.
4. In the Payment Method selected uncheck the `My billing and shipping address are the same`.
5. Check it back again.
### Expected result

The Shipping and Billing Address will be the exactly same both on checkout and the baske

[2016-09-30 10:41] Tjitse-E commented on #5339
I have the same issue after upgrading to CE 2.1.1. @jessetaverne temporary fix worked for me, thanks.

[2016-09-30 10:41] rliukshyn commented on #6741
Hi @tichimura ,
We need more information about this issue in order to successfully investigate potential fixes.
Please describe:
- What is the reason of intentional php check failure?
- What is the reason of changing package name to old in ComposerInformation.php?
- Why do you expect change of code in ComposerInformation.php after php check failure?

[2016-09-30 11:03] jacquesbh commented on #2824
Hi!

Any news about this?

Reloading a page in any web project in development (so without cache) should not be too slow. It's time consuming.

[2016-09-30 11:15] olysenko commented on #5509
Fix for the issue described in the very first [post ](https://github.com/magento/magento2/issues/5509#issue-164175810) was delivered to develop branch in commit [14028aa](https://github.com/magento/magento2/commit/14028aad37ee7435d89eb3b647e6d03ecd8e2e13)
Backports for 2.1 and 2.0 are scheduled and will be delivered later

[2016-09-30 11:16] olysenko commented on #5883
Fix for the issue  was delivered to develop branch in commit [14028aa](https://github.com/magento/magento2/commit/14028aad37ee7435d89eb3b647e6d03ecd8e2e13)
Backports for 2.1 and 2.0 are scheduled and will be delivered later

[2016-09-30 11:16] #5883 closed, assigned to nobody

[2016-09-30 11:17] olysenko commented on #5861
Fix for the issue was delivered to develop branch in commit 14028aa
Backports for 2.1 and 2.0 are scheduled and will be delivered later

[2016-09-30 11:17] #5861 closed, assigned to antboiko

[2016-09-30 11:18] viktym commented on #5693
Thanks for reporting this issue @matthew-muscat
We've created internal ticket MAGETWO-59181 regarding this

[2016-09-30 11:21] olysenko commented on #3607
the first issue was fixed and delivered into develop branch in [commit](https://github.com/magento/magento2/commit/14028aad37ee7435d89eb3b647e6d03ecd8e2e13)

[2016-09-30 11:21] #3607 closed, assigned to nobody

[2016-09-30 11:26] mbrinton01 commented on #6781
Thank you @tcytra for your report, we are tracking internally under MAGETWO-59183.

[2016-09-30 11:41] PascalBrouwers commented on #6745
I couldn't reproduce it for Magento CE 2.1.0
Yet, I made a mistake setting the "$this->_isScopePrivate = true;" after the call to parent::__construct

Setting it before that fixed it for me and the non-cached block showed up (a preference for \Magento\Checkout\Block\Cart\Sidebar)

[code]

[2016-09-30 11:44] PascalBrouwers commented on #6047
As a workaround you could set the block to be non-cachable. See my comment here: https://github.com/magento/magento2/issues/6745#issuecomment-250724082

[2016-09-30 11:47] viktym commented on #5814
Hi @danslo
I’m closing this issue because it is a duplicate https://github.com/magento/magento2/pull/5928
Thanks for contributing

[2016-09-30 11:47] #5814 closed, assigned to nobody

[2016-09-30 11:51] slavvka commented on #2966
Hi all, the issue has been fixed and delivered to mainline.

[2016-09-30 11:51] #2966 closed, assigned to nobody

[2016-09-30 12:03] ajaymscit commented on #3171
Hello Team,

I am getting error in moving category from sub-subcategory to sub-category.

I am using Magento 2.0

[2016-09-30 12:04] PascalBrouwers opened #6818 "PageCache gives error "Uncaught TypeError: element.prop is not a function" when there is an iframe"
### Preconditions
1. Magento 2.1.0
2. PHP 7.0.11
### Steps to reproduce

1. Install Magento 2.1.0 with module Livechat from https://github.com/livechat/magento-livechat
2. Enable module Livechat: bin/magent module:enable LiveChat_LiveChat
3. Clear cache: bin/magento c:f
4. Go to homepage
### Expected result

1. No JavaScript error
### Actual result
1. JavaScript error: Uncaught TypeError: element.

[2016-09-30 12:05] PascalBrouwers commented on #6818
The fix is actually pretty easy.

Change line 40 of page-cache.js
`.prop('href', element.prop('src'))`
To:
`.prop('href', $(element).prop('src'))`

But I see it is already fixed 2.1.1

[2016-09-30 12:07] PascalBrouwers commented on #4538
Hi @devhn ,

I had the same issue. See my comments here on how to fix it: https://github.com/magento/magento2/issues/6818

[2016-09-30 12:15] devhn commented on #6818
@PascalBrouwers thanks, we applied this fix also within the page-cache.js

[2016-09-30 12:18] devhn commented on #4538
@PascalBrouwers thanks, we applied this fix also within the page-cache.js as we had issues with Live Chat like you.

[2016-09-30 12:53] rahulvramesh commented on #5304
While  https://github.com/magento/magento2-samples/tree/master/sample-module-payment-gateway Integrating With cc-form.js , On Credit Card From Year And Month Is Not Listing. Is That An Issue ?

[2016-09-30 13:29] kanduvisla opened #6819 "M2.1.1 : REST API V1 - PUT /V1/guest-carts/{cartId} gives 401 authorization error"
I try to assign a customer to a quote using the REST API. I do this according to the manual:

http://devdocs.magento.com/swagger/index.html#!/quoteGuestCartManagementV1/quoteGuestCartManagementV1AssignCustomerPut

This is a guest-endpoint so it should not require authentication. However, when I try to use it, the API tells me I am not allowed to do so
### Preconditions
1. Magento 2.1.1
### Steps t

[2016-09-30 13:32] wittness87 commented on #3417
Has anyone found a fix for this yet? We have upgrade to 2.0.9 and still have the same issue.

[2016-09-30 13:35] kanduvisla commented on #6819
Further investigation:

could line 96-101 in `quote/webapi.xml` be the cause of this problem?

[code]

Bug? Feature? Or am I just mis-understanding the guest-API-endpoints?

[2016-09-30 13:35] koenner01 opened #6820 "Typo in vars for Magento_Catalog breakpoints in blank theme etc/view.xml"
There is a typo in the theme-frontend-blank module in the etc/view.xml file.
In the options of the breakpoint block an option with name 'navigation' is used.
### Preconditions
1. Magento CE 2.1.1
### Steps to reproduce
1. Setup a new Magento 2 with CE 2.1.1
2. Set the frontend theme to the Blank theme
3. Go to a product detail page
4. Resize browser to width smaller than 767px
### Expected result

[2016-09-30 13:41] davepyro commented on #2931
Hi @hatimeria-artur-jewula
Would it be possible to give more info on your module as I am having a similar issue and need a fix for it?
thanks
Dave

[2016-09-30 13:50] wittness87 opened #6821 "Custom Options removed / invisible in backend. Still appearing in frontend product view. Magento 2.0.9"
### Preconditions

1.  Magento 2.0.9
2. PHP Version 5.6.24
### Steps to reproduce

1.  Upgrade to 2.0.9
2.  Go to custom options tab for any product which has custom options associated
3.  Custom options are missing
### Expected result

1.  Custom options should appear and be editable.
### Actual result

1. Custom options are missing, un-editable and we are unable to add new options.

Error messag

[2016-09-30 13:54] sevos1984 commented on #6722
The same issue here https://github.com/magento/magento2/issues/6282. Closing as duplicate.

[2016-09-30 13:54] #6722 closed, assigned to nobody

[2016-09-30 13:55] heldchen commented on #2931
@davepyro here's a patch:
[bugfix-magetwo-54440-sales-rule-coupon-code-handling.zip](https://github.com/magento/magento2/files/503102/bugfix-magetwo-54440-sales-rule-coupon-code-handling.zip)

[2016-09-30 13:57] anton-huz commented on #6018
@andidhouse ,
You pointed that Fotorama (and so Magento's Gallery.js build on top of Fotorama) works slow. It is wrong opinion. Gallery itself work fast enough (as any other image gallery widget could).

## Why not a Fotorama?

I've made some changes to PDP to leave just Gallery with dependencies and compare page speed:

| Instance | Total requests | Total data | Time of page processing | Time of

[2016-09-30 13:57] #6018 closed, assigned to nobody

[2016-09-30 14:00] davepyro commented on #2931
Great thanks

[2016-09-30 14:10] andidhouse commented on #6018
@guz-anton can you pls point out a live magento2 website where we can test and confirm this. As far as i know the script is the problem and really slow on mobile - a killer.

I am happy if you prove me wrong here but pls point out a m2 site where we can test this.

Not shure about your point here:
Default 179 882Kb   2sek    46sek
Gallery only    15  218Kb   0.12sek 1sek

To be honest i do not bel

[2016-09-30 14:14] andidhouse commented on #6018
@guz-anton can you pls read my post carefully:

--> IT IS ABOUT smartphones and tablets

The normal website view is ok. But try to use a smartphone to view the pictures. It loads not in 1-2 seconds but takes 3-6 seconds on a very fast server and internet connection.

[2016-09-30 14:50] SerhiyShkolyarenko commented on #4416
@deep1086 this issue seems to be fixed several month ago. Did you manage to reproduce it on version 2.0.9 or 2.1.1?

[2016-09-30 14:55] anton-huz commented on #6018
@andidhouse
I understand that original issue reported for mobile devices. I have no comments that mobile performance is worse than desktop ([but in nowadays it could be an opposite](http://www.techugly.com/2016/09/iphone-7-is-faster-than-any-macbook-pro.html)). Sorry, that screenshots show picture only for the desktop.

I have concerns about _Fotorama_ word in the issue description. We cannot fix

[2016-09-30 15:00] andidhouse commented on #6018
@guz-anton many thanks for your reply.
It is possible that your send me some links of M2 live sites where you think the performance ist ok. My team will then check this.

For example we did a test using magic zoom extension instead of fotorama - speed was more then 5 times faster on mobile devices with magic zoom.

[2016-09-30 15:05] MarkB42 commented on #5330
@paliarush tnixit is right. The WSDL NEEDS to be available anonymously as it's used by software to generate the classes to write software against. By hiding it against authentication we cannot generate the objects in the first instance and it wont comply with the standard. The SOAP API _calls_ need to be secured by authentication.

Can we please reopen this and get it fixed?

[2016-09-30 15:05] anton-huz commented on #6018
Thanks for point about comparison _magic zoom_ vs _fotorama_ . I'll check. As about instance - ping me on aguz@magento.com .

[2016-09-30 15:28] choukalos commented on #6793
Hello @sma09sjb - Which search engine adapter are you using?

For the Solr adapter (aka 56114 internally) we won't fix; you can adjust weighting via Solr configuration file.

For the elastic search adapter we've verified that's a bug and are tracking internally as (MAGETWO-58964) and putting it on the list for back port to 2.1.x

[2016-09-30 15:57] janepoltoratskaya commented on #5903
the issue is still present even with provided fix. Now the input fields are empty and not available for entering the information.

[2016-09-30 16:02] Yonn-Trimoreau commented on #5418
If you **don't have stock managed by store**, you can use this to fix issue in one SQL request:

`DELETE FROM cataloginventory_stock_item
 WHERE product_id
 IN (
     SELECT * FROM(
         SELECT product_id
         FROM cataloginventory_stock_item
         GROUP BY product_id
         HAVING COUNT( product_id ) >1
         )tblTMP
     WHERE website_id = 1
 )`

[2016-09-30 16:15] jvreeken commented on #6426
I had this problem only when I enabled signing of static files. in:
Stores->Configuration->Advanced->Developer->Static Files Setting->Yes
Turning it to No allowed it to compile, but it's not a solution as we want to use that for caching
When is 2.1.1 going to be updated / when is the next release for 2.1.2?
Seems like 2.1.1 has a lot of issues that make it basically unusable for production without

[2016-09-30 16:26] matt-bailey commented on #4921
There is no 'Number of Lines in a Street Address' option? At least it's not where it was mentioned above: Stores > Configuration > Customer > Customer Configuration > Name and Address Options

[2016-09-30 16:33] heldchen commented on #4921
@matt-bailey
![image](https://cloud.githubusercontent.com/assets/299636/18999138/5c130e22-873c-11e6-93d6-6fe020148453.png)

[2016-09-30 16:37] matt-bailey commented on #4921
@heldchen Strange, I don't see that. Here's what I see, am I looking in the wrong place?...

![configuration settings stores magento admin](https://cloud.githubusercontent.com/assets/969385/18999253/843763a6-8734-11e6-8aca-5cfbab24566e.png)

[2016-09-30 16:38] heldchen commented on #4921
what version are you using? probably EE or hosted...

[2016-09-30 16:39] matt-bailey commented on #4921
@heldchen 2.1.0

[2016-09-30 16:41] heldchen commented on #4921
sure, but which edition?

[2016-09-30 16:42] matt-bailey commented on #4921
Sorry, EE.

[2016-09-30 16:43] heldchen commented on #4921
the address settings are configured differently in EE, that's why you don't see the fields.

[2016-09-30 16:53] rqsakai commented on #5423
I Had de exactly same issue, but on the tests i realized that it was due to a custom plugin i made for the GTM (Google tag manager).

I inserted a block on the category and product page from the xml like this:
`<block ifconfig="gtm/config/enabled" class="Dufry\Gtm\Block\Product" before='GTM' name="Datalayer" template="Dufry_Gtm::datalayer.phtml"/>`

And every ESI block after it failed to work, whe

[2016-09-30 17:13] jvreeken opened #6822 "CSS Minify Option Breaks inline SVG XML"
### Preconditions
1. Magento 2.1.1
### Steps to reproduce
1. In your css, use an svg as an background image
2. Example:
   `background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="0 0 38 40"><style>.st0{fill:none;stroke:%23ffffff;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}</style><circle cx="14.7" cy="14.7" r="13.7" class="st0"/><path d=

[2016-09-30 17:19] matt-bailey commented on #4921
Ah ok, so does anyone know if there's a way to 'fix' this for EE? At the moment I'm unable to work on styling the checkout.

[2016-09-30 17:27] heldchen commented on #4921
you can edit the EE Customer Address attributes either in the gui or in the db directly if the gui fails. or request support from magento enterprise.

[2016-09-30 18:36] matt-bailey commented on #4921
Ok, so I think I found the setting in EE in Stores > Attributes / Customer Address. However, it won't allow you to set the value to '1'. It says "Valid range 2-20".

![screenshot 2016-09-30 19 33 06](https://cloud.githubusercontent.com/assets/969385/19002667/03aee6b2-8745-11e6-93a4-a2f1d7f83265.png)

Does anyone know any other way of solving this in EE, it's an absolute show-stopper! How are custo

[2016-09-30 19:25] piotrekkaminski commented on #3729
This issue will be moved to Ideas forum as the improvement component (validation) is not yet scheduled. The bug (not saving the CC information) was fixed and is available already.

[2016-09-30 19:25] piotrekkaminski commented on #6611
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-30 19:25] #6611 closed, assigned to nobody

[2016-09-30 19:25] piotrekkaminski commented on #3729
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-30 19:25] #3729 closed, assigned to asemenenko

[2016-09-30 19:25] piotrekkaminski commented on #6689
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-30 19:25] #6689 closed, assigned to piotrekkaminski

[2016-09-30 19:35] hostep commented on #6704
@miakusha: this issue was already reported multiple times, all the tickets link to this one: https://github.com/magento/magento2/issues/5323 and that one already has a MAGETWO reference assigned to it, maybe it's best to mark these in your internal ticketing system as duplicates?

[2016-09-30 19:44] viktor-zhuromskyy opened #6823 "Add to Cart button is missing on all product pages"
After successful upgrade from 2.0.9 to 2.1.1 the "Add to Cart" button is missing on all product pages in the entire store.

I am using latest Porto theme. Everything was working before the upgrade.
I suppose the issue is with the $isSaleable status attribute, but I can't find anywhere in DB where is the status recorded.

Nonetheless, category pages display the "Add to Cart" button as intended.

Pl

[2016-09-30 20:03] springimport opened #6824 "How I can create a link to page from template?"
Page: `site.com/my-custom-page`.
Template: `module-customer/view/frontend/templates/form/register.phtml`.

[2016-09-30 20:12] middlegrey commented on #6568
I've checked the logs and there doesn't seem to be anything relevant. I also tried re-installing everything from scratch but the problem still remains.

Can you direct me to the module and/or methods responsible for generating the email payment details so I can try to track down the issue?

[2016-09-30 20:21] fxdegroot commented on #3754
Why is this closed ? Still an issue in CE 2.1.1

[2016-09-30 20:40] devdesco-ceo commented on #4506
It has been fixed in 2.1.1
Now it produces close to 5MB, and when delivered to the client as gzipped content - the file size is 1MB! That's super nice!

[2016-09-30 20:49] btjackson11 opened #6825 "Unable to Add New Default Billing/Shipping Address to Account - Stuck on "Please Wait""
Magento 2.1.1 - Cannot add a new default billing or shipping address to an account. When address info is filled out and "Save Address" button is clicked user receives a "Please Wait" message with a loading icon indefinitely.
### Preconditions
1. Magento 2.1.1
2. php 5.6.1
### Steps to reproduce
1. Make Account
2. Go to Account Page
3. Click "Edit Address" under Default Billing Address or Default S

[2016-09-30 21:00] btjackson11 commented on #6825
I have resolved this issue.

The indefinite "Please Wait" was coming from an Address Security message that could not be verified since the "authentication-popup" block was removed in the Magento_Customer/layout/default.xml file.

A little bit buggy to have the modal still try and popup if that block has been removed. May be better to have that security verification message appear on page when that

[2016-09-30 21:00] #6825 closed, assigned to nobody

[2016-09-30 22:03] melindash opened #6826 "Cannot check out when browser Autofill is enabled"
When form Autofill is enabled, the email address field on the onepage checkout is mistaken for a username field.  Even if you replace it with the proper email address, it is autofilled again after you submit your details to proceed to the payment section.  The Place Order button ceases to function and there is no alert displayed to the user in either the document or the console.
### Preconditions

[2016-09-30 22:11] JaggedJax commented on #3307
As a workaround for now, as long as you're on 2.1.0 or above, you can make an API call to the orders endpoint after creating the shipment to complete the order. It would look a little like so:

[code]

[2016-10-01 00:00] janepoltoratskaya opened #6827 "Braintree doesn't load fields if PayPal option is disabled."
### Preconditions

1. Magento 2.1.1
### Steps to reproduce

1. Enabled only Braintree payment method
2. Configure CC without 'Enable PayPal through Braintree'
### Expected result

1. On the checkout page, Braintree fields should available for editing
### Actual result

1. There are no calls to Braintree to get these fields, there are only empty divs on the front-end: Credit Card Number, Expiration

[2016-10-01 00:01] janepoltoratskaya commented on #6827
Connected issue is https://github.com/magento/magento2/issues/5903

[2016-10-01 00:19] devdesco-ceo opened #6828 "JavaScript Bundling breaks JS paths on 2.1.1"
JavaScript Bundling breaks JS paths on 2.1.1 without Merging and Minification turned on,.. but Merging and Minification are working as intended.

![image 2016-09-30 16 14 55](https://cloud.githubusercontent.com/assets/8983883/19010243/b3d759b4-8742-11e6-828f-19a5c465d27f.png)
![image 2016-09-30 19 14 08](https://cloud.githubusercontent.com/assets/8983883/19010244/b3e2693a-8742-11e6-9384-c00a614487

[2016-10-01 00:37] frostshoxx opened #6829 "Magento 2.1.1 (and 2.1.0) Web Installer stuck at "Installing Database Schema""
### Preconditions

1. Magento version 2.1.1 (also tried 2.1.0)
2. PHP 7.0.11
3. MySQL 5.6
### Steps to reproduce

1. Download Magento 2 CE from the main website
2. Extract the compressed file on the public_html folder
3. Run the install via the web URL
4. Go through the steps of system req verification, DB setup, admin URL, etc.
5. Start the installer
### Expected result

1. It's supposed to just

[2016-10-01 04:10] tandih commented on #6579
Hi Veloraven,
Thank you for your reply. I am using Magento EE 2.1.0 and I was updated to 2.1.1 but seem the attribute in Magento 2 using much hard code and todo. Long time to add field to shipping and billing address. Hope reply from support soon.

[2016-10-01 05:44] jtw372 opened #6830 "Double URL Suffix"
CE Magento 2.1.1 on Ubuntu 16.04.1 x64  PHP 7.0 (LEMP stack installed by ServerPilot)

Product URLs are generating a double suffix.   Example here:
http://192.2xx.xxx.xx/gbase-8023350515**.htm.htm**
The URL key for this product is gbase-8023350515

I have no suffix checked for category and have it checked for product--changed the product suffix to .htm.  I have also enabled auto rewrites.

This is

[2016-10-01 07:53] Nerogee opened #6831 "Magento 2.1.1 Invalid input date format 'Invalid date'"
### Preconditions

1. Magento 2.1.1
2. php 7.0.8
### Steps to reproduce

1. Create an admin listing by using Ui component
2. There are date type column
3. Enable the inlineEdit function for the date type column
### Expected result

1. When row is clicked and the inline editing mode enabled, the date column should be converted to the correct value in date picker UI
2. Save the row should have no er